#myblogapp-settings-form .controls .jq-radio {
    float: left;
    margin-right: 8px;
}
#myblogapp-settings-form .tone-icons-list > div {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}
#myblogapp-settings-form .tone-icons-list > div > .jq-radio {
    margin: 0 auto;
    float: none;
}
#myblogapp-settings-form .tone-icons-list .rating-container {
    height: 20px; margin-bottom: 10px;
}

.modal.modal-edit-blogpost {
    width: 700px;
    margin-left: -350px;
}
.modal.modal-edit-blogpost .modal-header h3 span {
    margin: 0 10px 0 0;
}

/* Blog posts list */
.blogpost-list {}
.blogpost-list > .empty {
    text-align: center;
}
.blogpost-list a.loadmore {
    line-height: 32px;
    background: #f1f3f2;
    display: block;
    text-align: center;
}
.blogpost { margin-bottom: 50px; }
.blogpost-header {}
.blogpost-header > .post-title {line-height: 30px;margin-bottom: 6px;}
.blogpost-header > .post-title a {font-weight:bold;}
.blogpost-header > .post-title > span {margin-right: 8px;}
.blogpost-header > .post-title > span img {
    padding: 2px;
    height: 60px;
    border: 1px solid #E4E6E5;
    vertical-align: bottom;
}
.blogpost-header > .post-title > h3 {
    display: inline;
    font-weight: normal;
}
.blogpost-header > .post-details {
    border-top: 1px solid #E4E6E5;
    border-bottom: 1px solid #E4E6E5;
    line-height: 32px;
}
.blogpost-header > .post-details > div {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background: #f1f3f2;
    padding: 0 10px;
}
.blogpost-header > .post-details .author {}
.blogpost-header > .post-details .author > span {
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.blogpost-header > .post-details .date {}
.blogpost-header > .post-details .date > span {
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.blogpost-header > .post-details .author-inline {}
.blogpost-header > .post-details .author-inline-image {margin-right: 8px;display: inline-block;}
.blogpost-header > .post-details .author-inline-image img {
    padding: 2px;
    height: 30px;
    border: 1px solid #E4E6E5;
    vertical-align: bottom;
}
.blogpost-header > .post-details .author-inline-name {display: inline;font-size: 14px;}
.blogpost-header > .post-tags {
    line-height: 34px;
    margin: 10px 0;
}
.blogpost-header > .post-tags ul {
    display: inline;
}
.blogpost-header > .post-tags ul > li {
    display: inline;
}
.blogpost-header > .post-tags ul > li > a {
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    text-shadow: none;
    background-color: #0465ac;
    margin-left: 4px;
    padding: 3px 8px;
}
.blogpost-content {
    margin: 20px 0;
}

.blogpost-list .blogpost-content ul,
.blogpost .blogpost-content ul
{
    list-style-type: disc;
    margin-left: 20px;
}

.blogpost-list .blogpost-content ol,
.blogpost .blogpost-content ol{
    list-style-type: decimal;
    margin-left: 20px;
}

.blogpost-footer {
    border-top: 1px solid #E4E6E5;
    border-bottom: 1px solid #E4E6E5;
}
.blogpost-footer > div {
    line-height: 25px;
    word-wrap: break-word;
}
.blogpost-footer > .post-actions {
}
.blogpost-footer > .post-actions > div {
    display: inline-block;
}
.blogpost-footer > .post-actions > div span {
    margin-right: 2px;
}
.blogpost-footer > .post-actions > div a {
    margin-right: 15px;
}
.blogpost-footer > .post-actions a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}

/* Customizations for the course blog widget */
.player-blog-block .blogpost-header > .post-title > span > img {
    height: 30px;
}
.player-blog-block .blogpost-header > .post-title > h3 {
    font-size: 14px;
}

.docebo-helpful {float:right;}

.blog-rating {float:right;margin-left: 30px;}
.blog-rating > label {display: inline;}
.blog-rating .star-rating-control {display: inline-block; margin-left: 10px;position: relative;top: 4px;}


.blogcomment-list {}
.blogcomment-list > h3 {
    border-bottom: 1px solid #E4E6E5;
    padding-bottom: 3px;
}
.blogcomment-list a.loadmore {
    line-height: 32px;
    background: #f1f3f2;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.blogcomment-form { margin-bottom: 20px; }
.blogcomment-form .form-actions {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.blogcomment-form .well {
    margin-left: 80px;
}
.blogcomment-form textarea {
    width: 98%;
    height: 80px;
}
.blogcomment-form .comment-author-picture {
    float: left;
}
.blogcomment-form .comment-author-picture img {
    padding: 2px;
    height: 60px;
    border: 1px solid #E4E6E5;
    vertical-align: bottom;
    max-width: 60px;
}
.blogcomment {}
.blogcomment-header {}
.blogcomment-header > .author-picture {margin-right: 8px;float: left;}
.blogcomment-header > .author-picture img {
    padding: 2px;
    height: 60px;
    border: 1px solid #E4E6E5;
    vertical-align: bottom;
    max-width: 60px;
}
.blogcomment-header > .comment-details {
    line-height: 24px;
    padding-top: 8px;
}
.blogcomment-header > .comment-details .author > span {
    position: relative;
    top: -2px;
    margin-right: 6px;
}
.blogcomment-header > .comment-details .date > span {
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.blogcomment-content {
    border-top: 1px solid #E4E6E5;
    border-bottom: 1px solid #E4E6E5;
    margin-top: 6px;
}
.blogcomment-content > div {
    position: relative;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background: #f1f3f2;
    padding: 10px 50px 10px 10px;
}
.blogcomment-content > div > .actions {
    position: absolute;
    top: 10px; right: 10px;
    display: none;
}
.blogcomment-content > div:hover > .actions {
    display: block;
}
.blogcomment-content .comment-edit {
    text-align: right;
    display: none;
}
.blogcomment-content .comment-edit textarea {
    width: 97%;
    height: 100px;
}
.blogcomment-footer {
    border-bottom: 1px solid #E4E6E5;
    line-height: 36px;
}

/* Blog sidebar */

.blog-sidebar-search {}
.blog-sidebar-search > h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.blog-sidebar-search form {}
.blog-sidebar-search form input {
    margin: 0;
    width: 95%;
}
.blog-sidebar-search form .control-group {
    padding: 10px !important;
}

ul.blog-archive {
    border-bottom: 1px solid #E4E6E5;
}
ul.blog-archive li {
    border-top: 1px solid #E4E6E5;
    line-height: 32px;
    padding: 0 10px;
}
ul.blog-archive li a {}
ul.blog-archive li a:last-child {font-weight: bold;}

.myblog-delete-confirm-dialog {
    width: 400px;
    margin-left: -200px;
}