/* DASHLET WIDGET */
.blog-comments-dashlet{
    min-height: 120px;
    margin-top: 20px;
    display: none;
    position: relative;
    overflow: hidden;
}
.blog-comments-dashlet img{
    width: 50px;
}

.blog-commnets-load-more{
    clear: both;
    padding: 10px 0px 10px 0px;
    width: 90%;
    height: 100%;
    float: right;
}
.blog-commnets-load-more a{
    float: left;
    margin-left: -20px;
    text-decoration: underline;
}
.blog-comments-leave-comment{
    padding: 10px;
}

.blog-comments-leave-comment, .blog-comments-older-comments{
    width: 90%;
    height: 100%;
    background-color: #f1f3f2;
    float: right;
}

.blog-comments-leave-comment:before{
    position: absolute;
    top: -11px;
    display: inline-block;
    border-right: 20px solid rgba(241, 243, 242, 0);
    border-bottom: 15px solid rgb(241, 243, 242);
    border-left: 20px solid rgba(241, 243, 242, 0);
    content: '';
}
.blog-comments-leave-comment .span1{
    padding-left: 5px;
}

.blog-comments-older-comments .comment-preview{
    padding-right: 10px;
}


.blog-comments-leave-comment textarea, .comment-preview textarea{
    width: 98%;
    height: 53px;
    resize:vertical;
}

.blog-comments-leave-comment input[type="button"]{
    float: right;
}

.blog-comments-older-comments .author{
    font-weight: bold;
}

.dashletcomment-details-author-date{
    float: left;
}
.blog-comments-older-comments .actions{
    float: right;
    text-align: right;
    padding-top: 5px;
    padding-right: 10px;
    width: 50px;
    height: 20px;
}

.blog-comments-older-comments .actions .blogcomment-edit, .blog-comments-older-comments .actions .blogcomment-delete{
    display: none;
}


.dashletComment{
    background-color: #f1f3f2;
    border-top: 2px solid white;
    padding-left: 10px;
    margin-left: -20px;
}

.blog-comments-older-comments .blog-rating > label{
    float: left;
    margin-right: 10px;
}

.blog-comments-older-comments .dashletComment-footer{
    border-top: 1px solid #E4E6E5;
    padding-top: 10px;
    margin-right: 10px;
    clear: both;
}

.blog-comments-older-comments .dashletcomment-content {
    clear: both;
    margin-bottom: 10px;
    padding-top: 10px;
}
.blog-comments-older-comments .dashletcomment-details-author-date {
    margin-top: 5px;
}

.dashlet .blog-comments-older-comments .dashletcomment-details-author-date .date{
    line-height: 20px;
}

.blog-comments-older-comments .dashletcomment-details-author-date .date {
    font-size: 10px;
    line-height: 0px;
}
.blog-comments-older-comments .dashletComment-header > .span1 {
    margin-top: 10px;
}

.comment-preview .closeEditMode{
    margin-right: 5px;
}
.comment-preview .updateComment{
    margin-right: 10px;
}

.comment-preview input[type="button"]{
    float: right;
    margin-bottom: 10px;
}


/* COURSE WIDGET */
.player-blog-block .blog-comments-dashlet{
    margin-bottom: 20px;
}

.player-blog-block .blog-comments-older-comments .blog-rating, .player-blog-block .blog-comments-older-comments .docebo-helpful,
.player-block-blog.span6 .blog-rating, .player-block-blog.span6 .docebo-helpful{
    float: left;
    margin-left: 0px;
}

.player-block-blog.span6 .post-actions{
    clear: both;
}
.player-block-blog.span6 .post-actions .post-action-comment{
    width: 100%;
}
.loaderFix{
     padding-left: 20px;
}
