/********** Channels widget styles **********/
/********** SETTINGS | COLORS **********/
/* 
    Created on : 01.03.2016, 23:12:50
    Author     : Kristian
*/
/* New dashboard styles */
/* Fonts and colors */
/* Backgrounds */
/* Border colors */
/* Global widgets settings */
/* line 8, ../scss/styleWidget.scss */
.channels-app {
  overflow: hidden;
  background: #f5f5f5;
  /* Swiper slider */
}
/* line 13, ../scss/styleWidget.scss */
.channels-app .header-channel .col-10-main {
  margin-left: 10px;
}
/* line 16, ../scss/styleWidget.scss */
.channels-app .header-channel .col-10-main .label-icon {
  min-height: 20px;
  text-align: center;
}
/* line 21, ../scss/styleWidget.scss */
.channels-app .header-channel .col-10-main .title-details h3 {
  margin-bottom: 2px;
  cursor: pointer;
}
/* line 25, ../scss/styleWidget.scss */
.channels-app .header-channel .col-10-main .title-details h3 div {
  font-size: 20px;
}
/* line 33, ../scss/styleWidget.scss */
.channels-app .channels-wrapper {
  padding-top: 10px;
}
/* line 37, ../scss/styleWidget.scss */
.channels-app .channels-wrapper .c_two .header-channel {
  margin-bottom: 15px;
}
/* line 40, ../scss/styleWidget.scss */
.channels-app .channels-wrapper .c_two .header-channel .right-align {
  margin-right: 15px;
}
/* line 42, ../scss/styleWidget.scss */
.channels-app .channels-wrapper .c_two .header-channel .right-align .experts {
  margin-right: 0;
}
/* line 50, ../scss/styleWidget.scss */
.channels-app .channel-wrap .tiles-wrap {
  margin-top: 3px;
  height: 270px;
  width: 100%;
  overflow: visible;
}
/* line 55, ../scss/styleWidget.scss */
.channels-app .channel-wrap .tiles-wrap .swiper-wrapper {
  padding-left: 10px;
}
/* line 57, ../scss/styleWidget.scss */
.channels-app .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide {
  height: 250px !important;
  width: 271px !important;
}
/* line 60, ../scss/styleWidget.scss */
.channels-app .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .tile-ratings {
  display: none;
}
/* line 67, ../scss/styleWidget.scss */
.channels-app .channel-wrap.last-wrap .tiles-wrap {
  height: 100%;
}
/* line 71, ../scss/styleWidget.scss */
.channels-app .channel-wrap .placeholder-wrap {
  margin-top: 0;
}
/* line 75, ../scss/styleWidget.scss */
.channels-app .load-more {
  padding: 8px 0;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  text-align: center;
  margin: 10px 10px 10px;
  background: #e4e6e5;
  cursor: pointer;
}
/* line 85, ../scss/styleWidget.scss */
.channels-app .placeholder-wrap {
  margin-top: 10px;
}
/* line 90, ../scss/styleWidget.scss */
.channels-app.no-channels .load-more {
  display: none;
}
/* line 95, ../scss/styleWidget.scss */
.channels-app .dots-menu.open {
  width: 100%;
  height: 100%;
}
/* line 99, ../scss/styleWidget.scss */
.channels-app .dots-menu .bg-overlay {
  width: 100%;
  height: 100%;
}
/* line 105, ../scss/styleWidget.scss */
.channels-app .swiper-button-next {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
  font-size: 45px;
  height: 237px;
  width: 50px;
  right: 0px;
  top: 22px;
}
/* line 115, ../scss/styleWidget.scss */
.channels-app .swiper-button-next i {
  position: absolute;
  top: 90px;
  left: 18px;
}
/* line 121, ../scss/styleWidget.scss */
.channels-app .swiper-button-prev {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
  font-size: 45px;
  height: 237px;
  width: 50px;
  left: 0px;
  top: 22px;
}
/* line 131, ../scss/styleWidget.scss */
.channels-app .swiper-button-prev i {
  position: absolute;
  top: 90px;
  left: 15px;
}
/* line 137, ../scss/styleWidget.scss */
.channels-app .swiper-button-next.swiper-button-disabled, .channels-app .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
/* line 140, ../scss/styleWidget.scss */
.channels-app .swiper-button-disabled {
  opacity: 0;
}
/* line 146, ../scss/styleWidget.scss */
.channels-app .col-tile.first-child .label-left-topcorner .tooltip {
  max-width: 170px;
  left: 0 !important;
}

/* line 158, ../scss/styleWidget.scss */
.mydashboard .dl-content .dots-menu-content ul {
  list-style-type: none;
  margin: 0;
}

/* Channel widget styles */
/* -- column 6/12 -- */
/* line 173, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .title-details div {
  font-size: 13px;
}
/* line 176, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .title-details h3 {
  font-size: 20px;
  margin-top: 3px;
}
/* line 181, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap {
  height: 260px;
}
/* line 184, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide {
  width: 170px !important;
  height: 225px !important;
}
/* line 187, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile {
  width: 155px;
  height: 225px;
}
/* line 191, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-thumb {
  height: 100px;
}
/* line 194, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta {
  padding: 10px 10px 0px 10px;
}
/* line 198, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .progress-metas .progress {
  width: 80px;
}
/* line 202, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .dots-link {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
/* line 207, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .dots-menu {
  width: 100%;
  height: 100%;
}
/* line 212, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-title {
  height: 50px;
  max-height: 50px;
}
/* line 219, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .thumb-img i {
  top: 32px;
  left: 60px;
}
/* line 224, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .tile-title {
  width: 100%;
}
/* line 227, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-wrapper .author-metas {
  width: 100%;
}
/* line 231, ../scss/styleWidget.scss */
.channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-button-prev, .channels-app .cell_6 .channel-wrap .tiles-wrap .swiper-button-next {
  height: 226px;
}

/* -- column 4/12 -- */
/* line 244, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .title-details div {
  font-size: 12px;
}
/* line 247, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .title-details h3 {
  font-size: 18px;
  margin-top: 5px;
}
/* line 250, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .title-details h3 div {
  font-size: 18px;
}
/* line 255, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap {
  height: 260px;
}
/* line 258, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide {
  width: 160px !important;
  height: 225px !important;
}
/* line 261, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile {
  width: 148px;
  height: 225px;
}
/* line 265, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-thumb {
  height: 100px;
}
/* line 268, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta {
  padding: 10px 10px 0px 10px;
}
/* line 272, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .progress-metas .progress {
  width: 80px;
}
/* line 276, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .dots-link {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
/* line 282, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-meta .main-metas span {
  margin-right: 2px;
}
/* line 287, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .swiper-slide .col-tile .tile-title {
  height: 50px;
  max-height: 50px;
}
/* line 294, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .thumb-img i {
  top: 32px;
  left: 60px;
}
/* line 299, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .tile-title {
  width: 100%;
}
/* line 302, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-wrapper .author-metas {
  width: 100%;
}
/* line 306, ../scss/styleWidget.scss */
.channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-button-prev, .channels-app .cell_4 .channel-wrap .tiles-wrap .swiper-button-next {
  height: 226px;
}

/****** Single Channel widget styles ******/
/* line 318, ../scss/styleWidget.scss */
.single-channel-app .back-arrow {
  display: block;
  padding: 0 50px 7px 5px;
  font-size: 33px;
  color: #666;
  cursor: pointer;
}
/* line 325, ../scss/styleWidget.scss */
.single-channel-app .load-more {
  padding: 8px 0;
  text-transform: uppercase;
  color: #666;
  font-weight: 400;
  text-align: center;
  margin: -5px 10px 10px;
  background: #e4e6e5;
  cursor: pointer;
}
/* line 335, ../scss/styleWidget.scss */
.single-channel-app .dots-menu {
  width: 100%;
  height: 100%;
}
/* line 339, ../scss/styleWidget.scss */
.single-channel-app .viewall-page {
  padding-bottom: 0;
}
/* line 341, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .col-10-main {
  margin: 5px 10px;
}
/* line 344, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .items-wrapper {
  margin-left: 0;
}
/* line 347, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .items-wrapper .col-tile {
  margin-right: 8px;
  margin-left: 10px;
  width: 250px;
}
/* line 353, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .label-icon {
  min-height: 20px;
  text-align: center;
  margin-bottom: 5px;
}
/* line 358, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .description-details {
  margin-top: 10px;
}
/* line 361, ../scss/styleWidget.scss */
.single-channel-app .viewall-page .channel-details {
  margin-top: 20px;
}
/* line 368, ../scss/styleWidget.scss */
.single-channel-app .col-tile.first-child .label-left-topcorner .tooltip {
  max-width: 170px;
  left: 0 !important;
}
/* line 375, ../scss/styleWidget.scss */
.single-channel-app .col-tile .label-left-topcorner.left-offset {
  position: relative;
}
/* line 377, ../scss/styleWidget.scss */
.single-channel-app .col-tile .label-left-topcorner.left-offset .tooltip {
  left: 0 !important;
  min-width: 170px;
}

/* -- column 18/12 -- */
/* line 391, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .col-tile .tile-meta .dots-link {
  position: absolute;
  right: 7px;
  bottom: 7px;
}

/* -- column 6/12 -- */
/* line 406, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .viewall-page .items-wrapper .col-tile {
  width: 218px;
  height: 225px;
  margin-right: 5px;
  margin-bottom: 20px;
}
/* line 412, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .viewall-page .items-wrapper .col-tile .tile-thumb {
  height: 100px;
}
/* line 415, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .viewall-page .items-wrapper .col-tile .tile-meta {
  padding: 10px 10px 0px 10px;
}
/* line 419, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .viewall-page .items-wrapper .col-tile .tile-meta .progress-metas .progress {
  width: 80px;
}
/* line 424, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .viewall-page .items-wrapper .col-tile .tile-title {
  height: 50px;
  max-height: 50px;
}
/* line 433, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .thumb-img i {
  top: 32px;
  left: 60px;
}
/* line 438, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .tile-title {
  width: 100%;
}
/* line 441, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .author-metas {
  width: 100%;
}
/* line 444, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .label-icon {
  margin-bottom: 0;
}
/* line 447, ../scss/styleWidget.scss */
.single-channel-app .cell_8 .channel-details {
  margin-top: 20px;
}

/* -- column 6/12 -- */
/* line 458, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .title-details h3 {
  font-size: 20px;
  margin-top: 10px;
}
/* line 463, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .description-details {
  margin-top: 5px;
}
/* line 465, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .description-details p {
  font-size: 13px;
}
/* line 470, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile {
  width: 155px;
  height: 225px;
  margin-right: 5px;
  margin-bottom: 20px;
}
/* line 476, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile .tile-thumb {
  height: 100px;
}
/* line 479, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile .tile-meta {
  padding: 10px 10px 0px 10px;
}
/* line 483, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile .tile-meta .progress-metas .progress {
  width: 80px;
}
/* line 487, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile .tile-meta .dots-link {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
/* line 493, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .viewall-page .items-wrapper .col-tile .tile-title {
  height: 50px;
  max-height: 50px;
}
/* line 502, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .thumb-img i {
  top: 32px;
  left: 60px;
}
/* line 507, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .tile-title {
  width: 100%;
}
/* line 510, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .author-metas {
  width: 100%;
}
/* line 513, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .label-icon {
  margin-bottom: 0;
}
/* line 516, ../scss/styleWidget.scss */
.single-channel-app .cell_6 .channel-details {
  margin-top: 20px;
}

/* -- column 4/12 -- */
/* line 527, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .title-details h3 {
  font-size: 18px;
  margin-top: 15px;
}
/* line 532, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .description-details {
  margin-top: 5px;
}
/* line 534, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .description-details p {
  font-size: 12px;
}
/* line 539, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile {
  width: 147px;
  height: 225px;
  margin-right: 5px;
  margin-bottom: 20px;
}
/* line 545, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-thumb {
  height: 100px;
}
/* line 548, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-meta {
  padding: 10px 10px 0px 10px;
}
/* line 552, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-meta .progress-metas .progress {
  width: 80px;
}
/* line 557, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-meta .main-metas span {
  margin-right: 2px;
}
/* line 561, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-meta .dots-link {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
/* line 567, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .items-wrapper .col-tile .tile-title {
  height: 50px;
  max-height: 50px;
}
/* line 574, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .thumb-img i {
  top: 32px;
  left: 60px;
}
/* line 579, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .tile-title {
  width: 100%;
}
/* line 582, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .author-metas {
  width: 100%;
}
/* line 585, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .label-icon {
  margin-bottom: 0;
}
/* line 588, ../scss/styleWidget.scss */
.single-channel-app .cell_4 .viewall-page .channel-details {
  margin-top: 20px;
}

/*# sourceMappingURL=styleWidget.css.map */
