/********** SETTINGS | COLORS **********/
/* 
    Created on : 01.03.2016, 23:12:50
    Author     : Kristian
*/
/* New dashboard styles */
/* Fonts and colors */
/* Backgrounds */
/* Border colors */
/********** MIXINS **********/
/* 
    Created on : 01.03.2016, 23:15:14
    Author     : Kristian
*/
/********** TEMPLATES **********/
/* 
    Created on : 02.03.2016, 11:12:24
    Author     : Kristian
*/
/* line 7, ../scss/templates/_additionLinksMenu.scss */
body.backdrop:after {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1010;
  transition: background .3s linear;
}

/* line 21, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu {
  position: relative;
  z-index: 1011;
  margin: 0;
  top: -30px;
  right: 95px;
  padding: 0;
}
/* line 28, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 61px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  right: 0;
  font-size: 20px;
  background: #000;
  cursor: pointer;
}
/* line 41, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.toggle {
  z-index: 1;
  background: #0465AC;
  transition: transform .3s linear;
}
/* line 45, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.toggle.rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 53, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.fa-cloud-upload {
  background: #5EBE5E;
  font-size: 28px;
}
/* line 57, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.askGuruButton.fa-stack {
  background: #5EBE5E;
}
/* line 59, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.askGuruButton.fa-stack .fa-user {
  font-size: 15px;
}
/* line 62, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li.askGuruButton.fa-stack .fa-comment-o {
  font-size: 32px;
}
/* line 66, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li:not(.toggle) {
  opacity: 0;
  display: none;
}
/* line 70, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu li a {
  height: inherit;
  padding: 0;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: 1;
}
/* line 79, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu .tooltip {
  margin: 0;
}
/* line 81, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu .tooltip.in {
  opacity: 1;
}
/* line 84, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu .tooltip .tooltip-arrow {
  display: none;
}
/* line 87, ../scss/templates/_additionLinksMenu.scss */
.tab-navigation .additionLinksMenu .tooltip .tooltip-inner {
  background: #595959;
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  margin-left: -20px;
}

/********** PARTIALS **********/
/* 
    Created on : 01.03.2016, 23:11:57
    Author     : Kristian
*/
/* line 6, ../scss/partials/_all_channels.scss */
.clear-both {
  clear: both;
}

/* line 9, ../scss/partials/_all_channels.scss */
.channels-wrapper {
  width: 100%;
  background: #f5f5f5;
}

/* line 13, ../scss/partials/_all_channels.scss */
.col {
  float: left;
}

/* line 16, ../scss/partials/_all_channels.scss */
.col-12 {
  width: 100%;
  float: left;
}

/* line 20, ../scss/partials/_all_channels.scss */
.blue-color {
  color: #0465ac;
}

/* line 23, ../scss/partials/_all_channels.scss */
.color-green {
  color: #5EBE5E;
}

/* line 26, ../scss/partials/_all_channels.scss */
.font-weight-medium {
  font-weight: 600;
}

/* line 29, ../scss/partials/_all_channels.scss */
.right-align {
  float: right;
  margin-right: 50px;
  padding-top: 10px;
}
/* line 34, ../scss/partials/_all_channels.scss */
.right-align .experts {
  float: left;
  margin-right: 45px;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
}
/* line 41, ../scss/partials/_all_channels.scss */
.right-align .experts i {
  font-size: 18px;
  color: #0465ac;
  margin-right: 5px;
}
/* line 47, ../scss/partials/_all_channels.scss */
.right-align .view-more {
  float: left;
}

/* line 52, ../scss/partials/_all_channels.scss */
.container.dashboard-new {
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
  overflow: hidden;
}
/* line 58, ../scss/partials/_all_channels.scss */
.container.dashboard-new .menu-spacer {
  margin-left: 0;
}
/* line 63, ../scss/partials/_all_channels.scss */
.container.dashboard-new .header-logo-line .span4 {
  margin-left: 50px;
}
/* line 66, ../scss/partials/_all_channels.scss */
.container.dashboard-new .header-logo-line .span8 {
  margin-left: 0;
  margin-right: 0;
  width: 63.3%;
}
/* line 72, ../scss/partials/_all_channels.scss */
.container.dashboard-new .breadcrumb {
  margin-bottom: 1px;
  padding-left: 50px;
}
/* line 76, ../scss/partials/_all_channels.scss */
.container.dashboard-new #footer {
  margin: 0px 50px 20px 100px;
}
/* line 79, ../scss/partials/_all_channels.scss */
.container.dashboard-new .header-logo-line {
  margin-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  background: #fff;
  padding-top: 12px;
  background: #fff;
}
/* line 87, ../scss/partials/_all_channels.scss */
.container.dashboard-new .inner-container {
  margin: 40px 0 0px 50px;
}
/* line 90, ../scss/partials/_all_channels.scss */
.container.dashboard-new #header {
  margin-left: 50px;
}
/* line 93, ../scss/partials/_all_channels.scss */
.container.dashboard-new #navigation {
  margin-left: 50px;
}

/* line 98, ../scss/partials/_all_channels.scss */
.tab-navigation {
  background: #fff;
  border-bottom: 1px solid #e4e6e5;
  padding: 0;
  width: 100%;
  position: relative;
}
/* line 104, ../scss/partials/_all_channels.scss */
.tab-navigation ul {
  padding: 0 50px 0 100px;
  font-size: 0;
}
/* line 108, ../scss/partials/_all_channels.scss */
.tab-navigation li {
  display: inline-block;
  box-sizing: border-box;
  transition: border .3s linear;
  /*border-bottom: 5px solid transparent;*/
}
/* line 113, ../scss/partials/_all_channels.scss */
.tab-navigation li a {
  color: #999;
  height: 63px;
  line-height: 63px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 0 33px;
}
/* line 124, ../scss/partials/_all_channels.scss */
.tab-navigation li.active {
  /*border-bottom: 5px solid #0465ac;*/
}
/* line 126, ../scss/partials/_all_channels.scss */
.tab-navigation li.active a {
  color: #0465ac;
}

/* line 132, ../scss/partials/_all_channels.scss */
.header-channel {
  margin-bottom: 15px;
}
/* line 135, ../scss/partials/_all_channels.scss */
.header-channel .col-10-main {
  margin-left: 50px;
}
/* line 137, ../scss/partials/_all_channels.scss */
.header-channel .col-10-main .title-label {
  width: 48px;
  margin-right: 10px;
  float: left;
}
/* line 142, ../scss/partials/_all_channels.scss */
.header-channel .col-10-main .title-details {
  overflow: hidden;
  width: calc(100% - 58px);
}
/* line 146, ../scss/partials/_all_channels.scss */
.header-channel .col-10-main .title-details .descriptionchannel p {
  white-space: nowrap;
  width: 94%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 157, ../scss/partials/_all_channels.scss */
.c_two .header-channel {
  margin-bottom: 5px;
}

/* line 161, ../scss/partials/_all_channels.scss */
.title-details h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
}
/* line 165, ../scss/partials/_all_channels.scss */
.title-details h3 a {
  text-decoration: none;
}

/* line 169, ../scss/partials/_all_channels.scss */
.title-details p {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}

/* line 174, ../scss/partials/_all_channels.scss */
.label-icon {
  padding: 10px 14px;
  background: #0456ac;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-top: 3px;
  margin-right: 15px;
  min-width: 20px;
}

/* line 184, ../scss/partials/_all_channels.scss */
.right-align a {
  color: #0465ac;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: top;
}
/* line 190, ../scss/partials/_all_channels.scss */
.right-align a i {
  margin-left: 5px;
  font-size: 22px;
  font-weight: 800;
  margin-top: 0;
}
/* line 196, ../scss/partials/_all_channels.scss */
.right-align a i:before {
  top: 2px;
  position: relative;
}

/* line 201, ../scss/partials/_all_channels.scss */
.right-align a:hover {
  color: #0465ac;
  text-decoration: none;
}

/* line 205, ../scss/partials/_all_channels.scss */
.col-tile {
  width: 250px;
  height: 237px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-right: 20px;
  background: #fff;
  position: relative;
}

/* line 218, ../scss/partials/_all_channels.scss */
.col-tile:hover .tile-ratings span.dots-link {
  display: block;
}

/* line 223, ../scss/partials/_all_channels.scss */
.tile-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10000;
  display: table;
  width: 100%;
  height: 100%;
  /*	padding:18px 22px;*/
}
/* line 235, ../scss/partials/_all_channels.scss */
.tile-overlay .tile-overlay-head {
  display: block;
  padding-bottom: 49px;
}
/* line 239, ../scss/partials/_all_channels.scss */
.tile-overlay .close {
  opacity: 0.7;
  color: #333;
}
/* line 242, ../scss/partials/_all_channels.scss */
.tile-overlay .close:hover {
  opacity: 0.9;
}
/* line 245, ../scss/partials/_all_channels.scss */
.tile-overlay .close .fa-times {
  color: #333;
}
/* line 250, ../scss/partials/_all_channels.scss */
.tile-overlay .text {
  position: absolute;
  top: 80px;
  width: 100%;
}
/* line 255, ../scss/partials/_all_channels.scss */
.tile-overlay .button-green {
  text-transform: uppercase;
  display: inline-block;
  background: #5EBE5E;
  padding: 9px 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
/* line 264, ../scss/partials/_all_channels.scss */
.tile-overlay .undo-action {
  position: absolute;
  bottom: 14px;
  width: 100%;
  left: 0;
}
/* line 269, ../scss/partials/_all_channels.scss */
.tile-overlay .undo-action .undo {
  color: #0567ae;
  text-decoration: underline;
  font-size: 14px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* line 280, ../scss/partials/_all_channels.scss */
.tile-thumb {
  height: 127px;
  position: relative;
}

/* line 284, ../scss/partials/_all_channels.scss */
.thumb-img {
  float: left;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 291, ../scss/partials/_all_channels.scss */
.thumb-img a {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 297, ../scss/partials/_all_channels.scss */
.tiles-wrap {
  float: left;
  width: 100%;
  margin-top: 10px;
  display: block;
  position: relative;
  overflow: visible;
  height: 285px;
}

/* line 306, ../scss/partials/_all_channels.scss */
.tile-meta {
  padding: 12px 15px 0px 15px;
}

/* line 309, ../scss/partials/_all_channels.scss */
.tile-title {
  padding: 0px 0 0px;
  margin-bottom: 7px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #0465ac;
  min-height: 30px;
  word-wrap: break-word;
  max-height: 32px;
  overflow: hidden;
}

/* line 322, ../scss/partials/_all_channels.scss */
.tile-title:hover {
  color: #0465ac;
  text-decoration: none;
}

/* line 326, ../scss/partials/_all_channels.scss */
.author-metas {
  padding-bottom: 12px;
  font-size: 12px;
  color: #999;
  float: left;
}
/* line 332, ../scss/partials/_all_channels.scss */
.author-metas a {
  color: #0465ac;
  text-decoration: underline;
}

/* line 337, ../scss/partials/_all_channels.scss */
.main-metas {
  font-size: 12px;
  color: #999;
  padding-bottom: 5px;
}
/* line 342, ../scss/partials/_all_channels.scss */
.main-metas span {
  display: inline-block;
  margin-right: 7px;
}
/* line 346, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings {
  padding: 0;
  border-top: 0;
  margin-right: 0;
  float: right;
}
/* line 353, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover-link {
  font-size: 12px;
  color: #999;
  cursor: default;
}
/* line 358, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover-link i {
  font-size: 16px;
  color: #f0c407;
  margin-right: 5px;
}
/* line 364, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover-link:hover {
  text-decoration: none;
}
/* line 367, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover.top {
  margin-top: -10px;
  margin-right: -5px;
  border-color: #999;
}
/* line 372, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover.top .arrow {
  border-top-color: #999;
}
/* line 376, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings .popover-title {
  border-bottom: 0;
  padding: 10px 10px 0 10px;
  background: #fff;
  color: #999;
}
/* line 383, ../scss/partials/_all_channels.scss */
.main-metas .rating-icons {
  margin-right: 12px;
  float: left;
}
/* line 387, ../scss/partials/_all_channels.scss */
.main-metas .rating-icons li {
  float: left;
  margin-right: 5px;
  color: #f0c407;
  font-size: 18px;
}
/* line 393, ../scss/partials/_all_channels.scss */
.main-metas .tile-ratings span {
  color: #999;
  font-size: 12px;
  display: inline-block;
  padding-top: 2px;
  width: 10px;
  height: 10px;
}

/* line 402, ../scss/partials/_all_channels.scss */
.channel-wrap {
  float: left;
  width: 100%;
  margin: 0px 0;
}

/* Labels styles */
/* line 412, ../scss/partials/_all_channels.scss */
.overlay-details .label-type {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: block;
  padding: 2px 10px;
  color: #fff;
  background: #333;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: none;
}
/* line 427, ../scss/partials/_all_channels.scss */
.overlay-details .label-right-topcorner {
  position: absolute;
  top: 15px;
  right: 15px;
}
/* line 432, ../scss/partials/_all_channels.scss */
.overlay-details .label-right-topcorner a {
  text-shadow: none;
}
/* line 436, ../scss/partials/_all_channels.scss */
.overlay-details .label-right-topcorner .label-new {
  padding: 2px 6px;
  background: #5EBE5D;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  display: inline-block;
  float: left;
}
/* line 445, ../scss/partials/_all_channels.scss */
.overlay-details .label-right-topcorner .label-duration {
  padding: 2px 6px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #333;
}
/* line 452, ../scss/partials/_all_channels.scss */
.overlay-details .label-right-topcorner .courses-count {
  padding: 3px 6px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #333;
  text-transform: uppercase;
}
/* line 463, ../scss/partials/_all_channels.scss */
.overlay-details .label-left-topcorner a {
  text-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 1000;
  width: 0;
  height: 0;
}
/* line 473, ../scss/partials/_all_channels.scss */
.overlay-details .label-left-topcorner a i {
  top: -43px;
  left: 7px;
  position: relative;
}
/* line 478, ../scss/partials/_all_channels.scss */
.overlay-details .label-left-topcorner a .fa-clock:before {
  content: "\f017";
}
/* line 483, ../scss/partials/_all_channels.scss */
.overlay-details .label-left-topcorner .label-left-corner {
  color: #fff;
  font-size: 16px;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #333 transparent transparent transparent;
}
/* line 490, ../scss/partials/_all_channels.scss */
.overlay-details .label-left-topcorner .label-durdate i {
  position: absolute;
  top: -42px;
  left: 7px;
}

/* line 498, ../scss/partials/_all_channels.scss */
.label-invititedby {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  /*overflow: hidden;*/
}
/* line 511, ../scss/partials/_all_channels.scss */
.label-invititedby img {
  max-width: 100%;
  border-radius: 50%;
  height: 36px;
  min-width: 36px;
  overflow: hidden;
}
/* line 520, ../scss/partials/_all_channels.scss */
.label-invititedby .invite-image {
  float: left;
  width: inherit;
  height: inherit;
}

/* Courses labels */
/* line 529, ../scss/partials/_all_channels.scss */
.course-status, .completed, .Completed, .progress, .Subscribed {
  padding: 1px 7px 1px 7px;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 2px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  vertical-align: middle;
  line-height: 20px;
}

/* line 544, ../scss/partials/_all_channels.scss */
.completed, .Completed {
  background: #5EBE5D;
}

/* line 548, ../scss/partials/_all_channels.scss */
.progress {
  background: #EEC507;
}

/* line 552, ../scss/partials/_all_channels.scss */
.Subscribed {
  background: #333;
}

/* Learning plans */
/* line 558, ../scss/partials/_all_channels.scss */
.progress-metas {
  padding: 10px 0;
}
/* line 561, ../scss/partials/_all_channels.scss */
.progress-metas .progress {
  height: 4px;
  background: #e4e6e5;
  box-shadow: none;
  border-radius: 0;
  margin-left: 15px;
  float: left;
  width: 160px;
  margin-top: 6px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 574, ../scss/partials/_all_channels.scss */
.progress-metas .progress-bar {
  float: left;
  width: 0;
  height: 4px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: #5EBE5D;
}
/* line 583, ../scss/partials/_all_channels.scss */
.progress-metas .progress-percent {
  float: left;
  display: block;
  vertical-align: top;
  color: #5EBE5E;
  font-size: 12px;
  font-weight: 700;
}

/* Swiper slider */
/* line 594, ../scss/partials/_all_channels.scss */
.swiper-button-next {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
  font-size: 45px;
  height: 237px;
  width: 50px;
  right: 0px;
  top: 22px;
}
/* line 604, ../scss/partials/_all_channels.scss */
.swiper-button-next i {
  position: absolute;
  top: 90px;
  left: 18px;
}

/* line 610, ../scss/partials/_all_channels.scss */
.swiper-button-prev {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  color: #fff;
  font-size: 45px;
  height: 237px;
  width: 50px;
  left: 0px;
  top: 22px;
}
/* line 620, ../scss/partials/_all_channels.scss */
.swiper-button-prev i {
  position: absolute;
  top: 90px;
  left: 15px;
}

/* line 627, ../scss/partials/_all_channels.scss */
.channel-wrap .swiper-button-disabled {
  opacity: 0;
}
/* line 630, ../scss/partials/_all_channels.scss */
.channel-wrap .initial-hidden {
  opacity: 0;
}
/* line 633, ../scss/partials/_all_channels.scss */
.channel-wrap .swiper-wrapper {
  padding-left: 50px;
}

/* line 637, ../scss/partials/_all_channels.scss */
.swiper-slide {
  width: 283px !important;
  height: 293px !important;
}

/* line 641, ../scss/partials/_all_channels.scss */
.channels-wrapper {
  height: auto;
  display: inline-block;
  padding-top: 40px;
}

/* line 646, ../scss/partials/_all_channels.scss */
.channels-wrapper.viewall-page {
  padding-top: 0;
  padding-bottom: 35px;
}

/* Preloading placeholders styles */
/* line 653, ../scss/partials/_all_channels.scss */
.placeholder-wrap .label-icon {
  width: 50px;
  height: 40px;
  background: #e4e6e5;
  margin-top: 0;
  padding: 0;
}
/* line 661, ../scss/partials/_all_channels.scss */
.placeholder-wrap .title-details h3 {
  width: 120px;
  height: 20px;
  background: #e4e6e5;
  margin-bottom: 10px;
}
/* line 667, ../scss/partials/_all_channels.scss */
.placeholder-wrap .title-details p {
  width: 500px;
  height: 10px;
  background: #e4e6e5;
}
/* line 673, ../scss/partials/_all_channels.scss */
.placeholder-wrap .thumb-img {
  background: #e4e6e5;
  position: relative;
}
/* line 677, ../scss/partials/_all_channels.scss */
.placeholder-wrap .thumb-img i {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 55px;
  left: 105px;
}
/* line 685, ../scss/partials/_all_channels.scss */
.placeholder-wrap .main-metas {
  padding: 0;
  margin: 6px 0 15px;
  width: 95px;
  height: 10px;
  background: #e4e6e5;
}
/* line 692, ../scss/partials/_all_channels.scss */
.placeholder-wrap .tile-title {
  padding: 0;
  margin: 10px 0;
  width: 215px;
  height: 15px;
  background: #e4e6e5;
}
/* line 699, ../scss/partials/_all_channels.scss */
.placeholder-wrap .author-metas {
  padding: 0;
  margin: 5px 0 0 0;
  width: 155px;
  height: 15px;
  background: #e4e6e5;
}
/* line 706, ../scss/partials/_all_channels.scss */
.placeholder-wrap .tile-ratings div {
  padding: 0;
  margin: 3px 0;
  width: 175px;
  height: 10px;
  background: #e4e6e5;
}

/* Deep link menu */
/* line 716, ../scss/partials/_all_channels.scss */
.tile-ratings span.dots-link {
  right: 15px;
  top: 4px;
  float: right;
  font-weight: 600;
  font-size: 18px;
  vertical-align: top;
  display: block;
  margin-top: 0;
  position: relative;
  line-height: 10px;
  cursor: pointer;
  display: none;
  /* Initialy hidden */
}

/* line 730, ../scss/partials/_all_channels.scss */
.dots-menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}
/* line 743, ../scss/partials/_all_channels.scss */
.dots-menu .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* line 750, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}
/* line 757, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay .bottom-part {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 18px;
  margin-top: 15px;
}
/* line 763, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay .bottom-part span {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
/* line 769, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay ul {
  background: #fff;
}
/* line 772, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay ul li {
  padding: 6px 12px;
  cursor: pointer;
  color: #333;
}
/* line 777, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay ul li i {
  font-size: 18px;
  margin-right: 5px;
}
/* line 782, ../scss/partials/_all_channels.scss */
.dots-menu .link-overlay ul li:hover {
  background: #f5f5f5;
}

/* line 788, ../scss/partials/_all_channels.scss */
.dots-link {
  float: right;
  cursor: pointer;
  font-size: 18px;
}

/* line 793, ../scss/partials/_all_channels.scss */
.dots-menu.open {
  max-height: 293px;
  height: 237px;
  width: 250px;
}

/* line 798, ../scss/partials/_all_channels.scss */
.view-back-arrow {
  display: none;
}

/* line 801, ../scss/partials/_all_channels.scss */
.expand-arrow, .collapse-text-toggle {
  font-size: 40px;
  color: #666;
  cursor: pointer;
  text-indent: -9999px;
  position: relative;
}

/* line 808, ../scss/partials/_all_channels.scss */
.expand-arrow:after, .collapse-text-toggle:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  position: absolute;
  font-size: 40px;
  text-indent: 0;
  top: 0;
  left: 0;
}

/* line 822, ../scss/partials/_all_channels.scss */
.expand-arrow.false:after, .false.collapse-text-toggle:after {
  content: "\f106";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-size: 40px;
  text-indent: 0;
  top: 0;
  left: 0;
}

/* line 836, ../scss/partials/_all_channels.scss */
.collapse-text-toggle {
  margin-top: 0;
}

/* View all page */
/* line 843, ../scss/partials/_all_channels.scss */
.viewall-page.tab-navigation {
  padding: 6px 0px 0px 0;
}
/* line 846, ../scss/partials/_all_channels.scss */
.viewall-page.tab-navigation ul {
  display: none;
}
/* line 849, ../scss/partials/_all_channels.scss */
.viewall-page.tab-navigation .view-back-arrow {
  display: block;
  padding: 0 50px 7px 100px;
  font-size: 50px;
  color: #666;
}

/* line 857, ../scss/partials/_all_channels.scss */
.viewall-page .col-10-main {
  margin: 7px 50px;
}
/* line 862, ../scss/partials/_all_channels.scss */
.viewall-page .title-details h3 {
  font-size: 30px;
  color: #333;
  margin-top: 7px;
}
/* line 869, ../scss/partials/_all_channels.scss */
.viewall-page .description-details {
  float: left;
  width: 100%;
  margin-top: 15px;
}
/* line 873, ../scss/partials/_all_channels.scss */
.viewall-page .description-details p {
  font-size: 15px;
  margin-bottom: 0;
  color: #666;
}
/* line 880, ../scss/partials/_all_channels.scss */
.viewall-page .items-wrapper {
  float: left;
  margin-left: 50px;
}
/* line 884, ../scss/partials/_all_channels.scss */
.viewall-page .items-wrapper .col-tile {
  margin-right: 40px;
  margin-bottom: 40px;
}
/* line 889, ../scss/partials/_all_channels.scss */
.viewall-page .channel-details {
  margin-top: 50px;
  font-size: 15px;
  color: #333;
}
/* line 894, ../scss/partials/_all_channels.scss */
.viewall-page .channel-details .blue-color {
  font-weight: 700;
}
/* line 897, ../scss/partials/_all_channels.scss */
.viewall-page .channel-details .col {
  margin-right: 50px;
}
/* line 900, ../scss/partials/_all_channels.scss */
.viewall-page .channel-details a {
  text-decoration: underline;
  color: #0465ac;
  margin-left: 10px;
  font-weight: 400;
  pointer-events: all;
}

/* Tooltip style change */
/* line 912, ../scss/partials/_all_channels.scss */
.col-tile .tooltip {
  min-width: 150px;
  font-size: 10px;
  text-align: center;
  z-index: 1000;
  position: absolute;
}
/* line 920, ../scss/partials/_all_channels.scss */
.col-tile .label-invititedby .tooltip {
  min-width: 170px;
}
/* line 924, ../scss/partials/_all_channels.scss */
.col-tile .tooltip-inner {
  font-size: 12px;
  padding: 5px 10px;
}
/* line 929, ../scss/partials/_all_channels.scss */
.col-tile .label-left-topcorner .tooltip {
  max-width: 170px;
}

/* Rating pullover */
/* line 936, ../scss/partials/_all_channels.scss */
.popover-content {
  padding: 5px 10px 10px 10px;
  min-width: 120px;
}
/* line 940, ../scss/partials/_all_channels.scss */
.popover-content li {
  display: block;
}
/* line 943, ../scss/partials/_all_channels.scss */
.popover-content li span {
  font-size: 12px;
  color: #e4e6e5;
}
/* line 947, ../scss/partials/_all_channels.scss */
.popover-content li ul {
  display: inline-block;
}
/* line 949, ../scss/partials/_all_channels.scss */
.popover-content li ul li {
  display: inline-block;
}
/* line 952, ../scss/partials/_all_channels.scss */
.popover-content li ul li i {
  color: #f0c407;
  font-size: 16px;
  margin-right: 3px;
  margin-top: 2px;
}
/* line 959, ../scss/partials/_all_channels.scss */
.popover-content li ul li span.filled {
  color: red;
}
/* line 964, ../scss/partials/_all_channels.scss */
.popover-content .rating-count.null-value {
  color: #999;
}

/*#ProgressBar{
	top: 0px;
	position: relative;
	width: 100%;
	height: 5px;
	background-color: #fff;
	.dismissBar{
		position: absolute;
		width: 100%;
		background-color: #E5E7E5;
		&.loadingdismiss{
			width: 0%;
			transition:width 5s linear;
		}
	}
}*/
/* line 984, ../scss/partials/_all_channels.scss */
#ProgressBar {
  width: 100%;
  float: left;
  height: 5px;
  position: relative;
  text-align: left;
  margin-top: -9px;
}

/* line 992, ../scss/partials/_all_channels.scss */
#ProgressBar span {
  background: #E5E7E5;
  height: 5px;
  display: inline-block;
}

/* line 997, ../scss/partials/_all_channels.scss */
#ProgressBar span {
  -webkit-animation: w70 5s linear;
}

/* line 1000, ../scss/partials/_all_channels.scss */
#ProgressBar .w70 {
  width: 0%;
}

@-webkit-keyframes w70 {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
/* line 1007, ../scss/partials/_all_channels.scss */
.dots-menu span {
  display: block;
}
/* line 1010, ../scss/partials/_all_channels.scss */
.dots-menu span.copied-success {
  display: none;
}
/* line 1013, ../scss/partials/_all_channels.scss */
.dots-menu span.copied-success span {
  display: inline-block;
}

/* Deeplink styles */
/* line 1019, ../scss/partials/_all_channels.scss */
.copy-url {
  display: none;
}

/* line 1022, ../scss/partials/_all_channels.scss */
.copied-success {
  display: none;
}

/* line 1025, ../scss/partials/_all_channels.scss */
.not-copied {
  display: block;
}

/* 
    Created on : 01.03.2016, 23:12:07
    Author     : Kristian
*/
/* line 6, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper {
  margin-left: 50px;
  margin-bottom: 30px;
}
/* line 10, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper .profile-info .avatar {
  text-decoration: none;
  display: inline-block;
  /*			width: 40px;
  			height: 40px;*/
  /*border-radius: 50%;*/
  overflow: hidden;
}
/* line 17, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper .profile-info .avatar img {
  width: 100%;
}
/* line 21, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper .profile-info .name {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  /*margin-left: 20px;*/
}
/* line 29, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper .profile-info .description {
  margin: 10px 0 0 0;
  color: #666;
  font-size: 15px;
  background: transparent;
  -ms-user-select: text !important;
}
/* line 35, ../scss/partials/_my_channel.scss */
.my-channel-information-wrapper .profile-info .description[contenteditable=true] {
  padding: 1px;
  border: 1px solid #0465AC;
  max-width: 100%;
  width: 98%;
  display: block;
}

/* line 46, ../scss/partials/_my_channel.scss */
.information-bar-wrapper {
  padding: 20px 0 0 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
/* line 51, ../scss/partials/_my_channel.scss */
.information-bar-wrapper .left-side {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
/* line 56, ../scss/partials/_my_channel.scss */
.information-bar-wrapper .right-side {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* line 61, ../scss/partials/_my_channel.scss */
.information-bar-wrapper .contributions {
  font-size: 15px;
}
/* line 63, ../scss/partials/_my_channel.scss */
.information-bar-wrapper .contributions strong {
  color: #0465ac;
  font-size: 15px;
  display: inline-block;
  padding-right: 5px;
}
/* line 70, ../scss/partials/_my_channel.scss */
.information-bar-wrapper .fa-sliders {
  font-size: 34px;
  color: #999;
  cursor: pointer;
  margin-right: 95px;
}

/* line 77, ../scss/partials/_my_channel.scss */
.myChannels-wrapper {
  padding-bottom: 35px;
}
/* line 80, ../scss/partials/_my_channel.scss */
.myChannels-wrapper .channel-wrap {
  margin-top: 0px;
}
/* line 87, ../scss/partials/_my_channel.scss */
.myChannels-wrapper .my-channel-contributions .items-wrapper {
  margin-left: 50px;
}
/* line 89, ../scss/partials/_my_channel.scss */
.myChannels-wrapper .my-channel-contributions .items-wrapper .col-tile {
  margin: 0 33px 40px 0;
}

/* line 97, ../scss/partials/_my_channel.scss */
.myChannel-blank {
  padding: 47px 0;
  display: none;
}
/* line 100, ../scss/partials/_my_channel.scss */
.myChannel-blank.visible {
  display: block;
}
/* line 103, ../scss/partials/_my_channel.scss */
.myChannel-blank.ng-cloak {
  display: none;
}
/* line 106, ../scss/partials/_my_channel.scss */
.myChannel-blank img {
  display: block;
  margin: 0 auto 42px;
}
/* line 110, ../scss/partials/_my_channel.scss */
.myChannel-blank h2 {
  font-size: 30px;
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
/* line 116, ../scss/partials/_my_channel.scss */
.myChannel-blank h3 {
  display: block;
  margin-bottom: 19px;
  font-weight: 500;
  color: #a2a2a2;
}
/* line 122, ../scss/partials/_my_channel.scss */
.myChannel-blank a {
  display: block;
  margin: 0 auto;
  background: #59be56;
  color: #fff;
  border-radius: 50px;
  width: 74px;
  height: 74px;
  line-height: 74px;
  font-size: 29px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
/* line 134, ../scss/partials/_my_channel.scss */
.myChannel-blank a:hover {
  text-decoration: none;
  color: #fff;
}
/* line 138, ../scss/partials/_my_channel.scss */
.myChannel-blank a:visited {
  color: #fff;
}

/* 
    Created on : 01.03.2016, 23:12:18
    Author     : Kristian
*/
/* 
    Created on : 01.03.2016, 23:12:25
    Author     : Kristian
*/
/* 
    Created on : 14.06.2016, 9:31:57
    Author     : Violeta
*/
/* line 6, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels {
  padding: 0 50px;
  margin-top: 10px;
  margin-bottom: 25px;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
/* line 15, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .welcome-icon {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -55px;
  text-align: center;
}
/* line 25, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap {
  background: #fff;
  webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  min-height: 300px;
  width: 100%;
  padding-top: 40px;
}
/* line 33, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part {
  padding: 35px 0;
  text-align: center;
}
/* line 37, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .welcome-title {
  color: #0465ac;
  font-size: 30px;
  font-weight: 300;
}
/* line 42, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .heading-text {
  font-size: 22px;
  line-height: 28px;
  margin-top: 10px;
  padding: 0 30px;
  color: #111;
}
/* line 49, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap {
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: left;
}
/* line 54, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 0 30px;
  text-align: center;
  position: relative;
}
/* line 62, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 i {
  color: #0465ac;
  font-size: 42px;
  display: block;
}
/* line 67, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .operation-text {
  margin: 15px 0 20px;
  font-size: 14px;
  line-height: 22px;
  min-height: 140px;
}
/* line 73, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .operation-button {
  color: #fff;
  background: #5EBE5D;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 15px;
  display: block;
  font-size: 14px;
  text-shadow: none;
  font-weight: 600;
}
/* line 84, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .operation-button:hover {
  text-decoration: none;
}
/* line 88, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .map-icon {
  display: block;
  position: relative;
  width: 50px;
  height: 45px;
  margin: 0 auto;
}
/* line 95, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .map-icon i {
  margin-top: 5px;
}
/* line 97, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .map-icon i.fa-user {
  font-size: 24px;
}
/* line 100, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .map-icon i.fa-comment-o {
  font-size: 50px;
}
/* line 108, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part {
  padding: 25px 15px 25px 25px;
  border-top: 1px solid #e4e6e5;
}
/* line 112, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .left-part {
  display: inline-block;
  width: 84%;
  font-size: 13px;
  color: #111;
}
/* line 118, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .left-part .blue-heading {
  color: #0465ac;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* line 125, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .right-part {
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
}
/* line 131, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .right-part .contact-us {
  margin: 10px 0 15px;
  color: #fff;
  background: #0465ac;
  padding: 10px 10px 11px;
  display: block;
  text-align: center;
  font-size: 14px;
  text-shadow: none;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 143, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .right-part .contact-us:hover {
  text-decoration: none;
}
/* line 146, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .blank-inner-wrap .bottom-part .right-part .contact-us.enterprise {
  background: #E74C3C;
}
/* line 153, ../scss/partials/_blank_state_directive.scss */
.blank-state-channels .clear-float {
  clear: both;
}

@media (max-width: 1470px) {
  /* line 165, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .operation-text {
    font-size: 13px;
    line-height: 20px;
    min-height: 120px;
  }
  /* line 170, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 .operation-button {
    font-size: 13px;
    padding: 12px;
  }
}
@media (max-width: 1024px) {
  /* line 185, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part {
    padding-bottom: 0;
  }
  /* line 188, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 {
    width: 33.33%;
    margin-bottom: 30px;
  }
  /* line 193, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .heading-text {
    font-size: 14px;
    line-height: 22px;
  }
  /* line 199, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .bottom-part .right-part {
    width: 22%;
  }
  /* line 202, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .bottom-part .left-part {
    width: 77%;
  }
}
@media (max-width: 768px) {
  /* line 216, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 {
    width: 50%;
  }
  /* line 222, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .bottom-part .right-part {
    width: 100%;
    margin-top: 15px;
  }
  /* line 226, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .bottom-part .left-part {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 239, ../scss/partials/_blank_state_directive.scss */
  .blank-state-channels .blank-inner-wrap .content-part .operation-wrap .operation-column-2 {
    width: 100%;
  }
}
/* line 18, ../scss/style.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 22, ../scss/style.scss */
[contenteditable]:empty:before {
  content: attr(placeholder);
}

/*# sourceMappingURL=style.css.map */
