/*
 This scsc is for Widget TabsForm
*/
/* 
    Created on : Oct 30, 2015, 12:44:07 PM
    Author     : vbelev
*/

#app7020-tab-widget-container {
	.tabbable {

		h1 {
			font-size: 20px;
			margin-bottom: 8px;
		}

		&.tabs-left {
			background-color: #F8F8F8;
		}
		li {
			width: 100%;
			a {
				text-shadow: none;
				margin-right: 0; 
				i {
					font-size: 1.2em;
					margin-right: 15px;
				}
			}
		}
		.nav {
			&.nav-tabs {
				z-index: -5;
				margin-right: 0px;
				background-clip: $container-grey-bg ;
				padding-bottom: 0;
				margin-bottom: 0;
				li {
					&.active, &:focus, &:hover {
						background-color: #333333;
						color: white;
					}
				}
			}
		}

		.tab-content {
			padding-left: 20px;
			box-sizing: border-box;
			display: block;
			margin-left: 0px;
			position: relative;
			background: #fff;
			z-index: 1;
		}




		/*grid seting*/ 
		>div{
			/*span2*/
			&:first-child {
				background-color: $white;

				@media (max-width: 1200px) {
					width: 100%;
				}


			}
			/*span10*/
			&:last-child {
				width:  85.47008547008548%;
				box-sizing: border-box;
				position: relative;
				z-index: 100;
				float: right;

				@media (max-width: 1200px) {
					width: 100%;
					padding: 20px 0;
				}

				@media (min-width: 768px) and (max-width: 979px) { }
			}

		}
	}
}

