/* 
    Created on : 01.03.2016, 23:15:14
    Author     : Kristian
*/

@mixin box-shadow(){
	webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
