/* 
    Created on : 01.03.2016, 23:12:50
    Author     : Kristian
*/

/* New dashboard styles */

/* Fonts and colors */
$font: 'Open Sans', sans-serif;
$darkgray-color: #333;
$midgray-color: #666;
$lightgray-color: #999;
$blue-color: #0465ac;
$white-color: #fff;
$yellow-color: #f0c407;
$green-color: #5EBE5E;
$blackshade-color: #111;

/* Backgrounds */
$white-background: #fff;
$gray-background: #f5f5f5;
$blue-background: #0465ac;
$green-background: #5EBE5E;
$darkgray-background: #333;
$red-background: #E74C3C;
$lightgray-background: #e4e6e5;
$graywhite-background: #f5f5f5;
$blacko-background: rgba(51, 51, 51, 0.6);
$yellow-background: #EEC507;
$green-background: #5EBE5D;

/* Border colors */
$tileborder-color: #e4e6e5;