/********** Channels widget styles **********/


/********** SETTINGS | COLORS **********/
@import 'variables';

/* Global widgets settings */
.channels-app{
	overflow: hidden;
	background: $gray-background;
	
	.header-channel{
		.col-10-main{
			margin-left: 10px;

			.label-icon{
				min-height: 20px;
				text-align: center;
			}
			.title-details{
				h3{
					margin-bottom: 2px;
					cursor: pointer;
					
					div{
						font-size: 20px;
					}
				}
			}
		}
	}
		
	.channels-wrapper{
		padding-top: 10px;
		
		.c_two {
			.header-channel{
				margin-bottom: 15px;
				
				.right-align{
					margin-right: 15px;
					.experts{
						margin-right: 0;
					}
				}
			}
		}
	}
	.channel-wrap {
		.tiles-wrap{
			margin-top: 3px;
			height: 270px;
			width: 100%;
			overflow: visible;
			.swiper-wrapper{
				padding-left: 10px;
				.swiper-slide{
					 height: 250px !important;
					 width: 271px !important;
					.tile-ratings{
						display: none;
					}
				}
			}
		}
		&.last-wrap{
			.tiles-wrap{
				height: 100%;
			}
		}
		.placeholder-wrap{
			margin-top: 0;
		}
	}
	.load-more{
		padding: 8px 0;
		text-transform: uppercase;
		color: $midgray-color;
		font-weight: 400;
		text-align: center;
		margin: 10px 10px 10px;
		background: $lightgray-background;
		cursor: pointer;
	}
	.placeholder-wrap{
		margin-top: 10px;
	}
	
	&.no-channels{
		.load-more{
			display: none;
		}
	}
	.dots-menu{
		&.open{
			width: 100%;
			height: 100%;
		}
		.bg-overlay{
			width: 100%;
			height: 100%;
		}
	}
	/* Swiper slider */
	.swiper-button-next{
		background-image: none;
		background-color: $blacko-background;
		color: $white-color;
		font-size: 45px;
		height: 237px;
		width: 50px;
		right: 0px;
		top: 22px;

		i{
			position: absolute;
			top: 90px;
			left: 18px;
		}
	}
	.swiper-button-prev{
		background-image: none;
		background-color: $blacko-background;
		color: $white-color;
		font-size: 45px;
		height: 237px;
		width: 50px;
		left: 0px;
		top: 22px;

		i{
			position: absolute;
			top: 90px;
			left: 15px;
		}
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		opacity: 0;
	}
	.swiper-button-disabled {
		opacity: 0;
	}
	.col-tile{
		&.first-child{
			.label-left-topcorner{
				.tooltip{
					max-width: 170px;
					left: 0 !important;
				}
			}
		}
	}
}

.mydashboard {
	.dl-content{
		.dots-menu-content{
			ul{
				list-style-type: none;
				margin: 0;
			}
		}
	}
}

/* Channel widget styles */
	
	/* -- column 6/12 -- */
	.channels-app{
		.cell_6{
			.channel-wrap {
				.title-details{
					div{
						font-size: 13px;
					}
					h3{
						font-size: 20px;
						margin-top: 3px;
					}
				}
				.tiles-wrap{
					height: 260px;
					.swiper-wrapper{
						.swiper-slide{
							width: 170px !important;
							height: 225px !important;
							.col-tile{
								width: 155px;
								height: 225px;

								.tile-thumb{
									height: 100px;
								}
								.tile-meta {
									padding: 10px 10px 0px 10px;

									.progress-metas {
										.progress{
											width: 80px;
										}
									}
									.dots-link{
										position: absolute;
										right: 7px;
										bottom: 7px;
									}
									.dots-menu{
										width: 100%;
										height: 100%;
									}
								}
								.tile-title{
									height: 50px;
									max-height: 50px;
								}
							}
						}
						.thumb-img {
							i{
								top: 32px;
								left: 60px;
							}
						}
						.tile-title{
							width: 100%;
						}
						.author-metas{
							width: 100%;
						}
					}
					.swiper-button-prev, .swiper-button-next{
						height: 226px;
					}
				}
			}
		}
	}
	
	/* -- column 4/12 -- */
	.channels-app{
		.cell_4{
			.channel-wrap {
				.title-details{
					div{
						font-size: 12px;
					}
					h3{
						font-size: 18px;
						margin-top: 5px;
						div{
							font-size: 18px;
						}
					}
				}
				.tiles-wrap{
					height: 260px;
					.swiper-wrapper{
						.swiper-slide{
							width: 160px !important;
							height: 225px !important;
							.col-tile{
								width: 148px;
								height: 225px;

								.tile-thumb{
									height: 100px;
								}
								.tile-meta {
									padding: 10px 10px 0px 10px;

									.progress-metas {
										.progress{
											width: 80px;
										}
									}
									.dots-link{
										position: absolute;
										right: 7px;
										bottom: 7px;
									}
									.main-metas{
										span{
											margin-right: 2px;
										}
									} 
								}
								.tile-title{
									height: 50px;
									max-height: 50px;
								}
							}
						}
						.thumb-img {
							i{
								top: 32px;
								left: 60px;
							}
						}
						.tile-title{
							width: 100%;
						}
						.author-metas{
							width: 100%;
						}
					}
					.swiper-button-prev, .swiper-button-next{
						height: 226px;
					}
				}
			}
		}
	}
	
	
/****** Single Channel widget styles ******/

.single-channel-app{
	.back-arrow{
		display: block;
		padding: 0 50px 7px 5px;
		font-size: 33px;
		color: #666;
		cursor: pointer;
	}
	.load-more{
		padding: 8px 0;
		text-transform: uppercase;
		color: $midgray-color;
		font-weight: 400;
		text-align: center;
		margin: -5px 10px 10px;
		background: $lightgray-background;
		cursor: pointer;
	}
	.dots-menu{
		width: 100%;
		height: 100%;
	}
	.viewall-page{
		padding-bottom: 0;
		.col-10-main {
			margin: 5px 10px;
		}
		.items-wrapper{
			margin-left: 0;
			
			.col-tile{
				margin-right: 8px;
				margin-left: 10px;
				width: 250px;
			}
		}
		.label-icon {
			min-height: 20px;
			text-align: center;
			margin-bottom: 5px;
		}
		.description-details{
			margin-top: 10px;
		}
		.channel-details{
			margin-top: 20px;
		}
	}
	.col-tile{
		&.first-child{
			.label-left-topcorner{
				.tooltip{
					max-width: 170px;
					left: 0 !important;
				}
			}
		}
		.label-left-topcorner{
			&.left-offset{
				position: relative;
				.tooltip{
					left: 0 !important;
					min-width: 170px;
				}
			}
		}
	}
}

/* -- column 18/12 -- */
	.single-channel-app{
		.cell_8{
			.col-tile{
				.tile-meta {
					.dots-link{
						position: absolute;
						right: 7px;
						bottom: 7px;
					}
				}
			}
		}
	}
	
/* -- column 6/12 -- */
.single-channel-app{
	.cell_8{
		.viewall-page{
			.items-wrapper{
				.col-tile{
					width: 218px;
					height: 225px;
					margin-right: 5px;
					margin-bottom: 20px;

					.tile-thumb{
						height: 100px;
					}
					.tile-meta {
						padding: 10px 10px 0px 10px;

						.progress-metas {
							.progress{
								width: 80px;
							}
						}
					}
					.tile-title{
						height: 50px;
						max-height: 50px;
					}
				}
				
			}
		}
		.thumb-img {
			i{
				top: 32px;
				left: 60px;
			}
		}
		.tile-title{
			width: 100%;
		}
		.author-metas{
			width: 100%;
		}
		.label-icon {
			margin-bottom: 0;
		}
		.channel-details{
			margin-top: 20px;
		}
	}
}

/* -- column 6/12 -- */
.single-channel-app{
	.cell_6{
		.viewall-page{
			.title-details{
				h3{
					font-size: 20px;
					margin-top: 10px;
				}
			}
			.description-details {
				margin-top: 5px;
				p{
					font-size: 13px;
				}
			}
			.items-wrapper{
				.col-tile{
					width: 155px;
					height: 225px;
					margin-right: 5px;
					margin-bottom: 20px;

					.tile-thumb{
						height: 100px;
					}
					.tile-meta {
						padding: 10px 10px 0px 10px;

						.progress-metas {
							.progress{
								width: 80px;
							}
						}
						.dots-link{
							position: absolute;
							right: 7px;
							bottom: 7px;
						}
					}
					.tile-title{
						height: 50px;
						max-height: 50px;
					}
				}
				
			}
		}
		.thumb-img {
			i{
				top: 32px;
				left: 60px;
			}
		}
		.tile-title{
			width: 100%;
		}
		.author-metas{
			width: 100%;
		}
		.label-icon {
			margin-bottom: 0;
		}
		.channel-details{
			margin-top: 20px;
		}
	}
}

/* -- column 4/12 -- */
.single-channel-app{
	.cell_4{
		.viewall-page{
			.title-details{
				h3{
					font-size: 18px;
					margin-top: 15px;
				}
			}
			.description-details {
				margin-top: 5px;
				p{
					font-size: 12px;
				}
			}
			.items-wrapper{
				.col-tile{
					width: 147px;
					height: 225px;
					margin-right: 5px;
					margin-bottom: 20px;

					.tile-thumb{
						height: 100px;
					}
					.tile-meta {
						padding: 10px 10px 0px 10px;

						.progress-metas {
							.progress{
								width: 80px;
							}
						}
						.main-metas{
							span{
								margin-right: 2px;
							}
						} 
						.dots-link{
							position: absolute;
							right: 7px;
							bottom: 7px;
						}
					}
					.tile-title{
						height: 50px;
						max-height: 50px;
					}
				}
			}
			.thumb-img {
				i{
					top: 32px;
					left: 60px;
				}
			}
			.tile-title{
				width: 100%;
			}
			.author-metas{
				width: 100%;
			}
			.label-icon {
				margin-bottom: 0;
			}
			.channel-details{
				margin-top: 20px;
			}
		}
	}
}
