.filters-wrapper {
    border-bottom: 1px solid #E4E6E5;
    border-top: 1px solid #E4E6E5;
    margin: 7px 0 19px;
}

.filters {
    background: none repeat scroll 0 0 #F1F3F2;
    border-bottom: 1px solid #FEFEFE;
    border-top: 1px solid #FEFEFE;
    line-height: 13px;
    position: relative;
    padding: 0 14px;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.waiting-approval .input-wrapper, .group-management .input-wrapper, .additional-fields-wrapper .input-wrapper {
    float: right;
    padding: 10px 0;
}

.input-wrapper {
    position: relative;
}

input::-moz-placeholder {
    color: #666666 !important;
    font-size: 13px !important;
    font-style: italic !important;
}

.input-wrapper input[type="text"], .input-wrapper input[type="text"]:focus, .modal .input-wrapper input[type="text"], .modal .input-wrapper input[type="text"]:focus,
.input-wrapper input[type="password"], .input-wrapper input[type="password"]:focus, .modal .input-wrapper input[type="password"], .modal .input-wrapper input[type="password"]:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E6E5;
    color: #333333;
    line-height: 18px;
    padding: 0 30px 0 9px;
    width: 221px;
    height: 30px;
    margin: 0;
}

.waiting-approval .input-wrapper span, .group-management .input-wrapper span, .additional-fields-wrapper .input-wrapper span {
    top: 16px;
}

.input-wrapper span {
    background: url("/admin/images/icons_elements.png") no-repeat scroll -119px -110px transparent;
    display: block !important;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 7px;
    width: 18px;
}

.title-bold {
    color: #333333;
}

/* Filter */

.radio-filter {
    clear: both;
    display: table;
    float: left;
}

.radio-filter label {
    float: left;
    margin: 0 30px 0 0;
}

.radio-filter-dropdown {
    display: table;
    float: right;
    margin-right: 30px;
}

.radio-filter label, .radio-filter-dropdown {
    line-height: 52px;
}

/* List */

.curricula-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.curricula-list li {
    width: 100%;
    margin-bottom: 65px;
}

.curricula-conteiner {
    display: table;
    position: relative;
    width: 100%;
    clear: both;
}

.curricula-conteiner .curricula-progress {
    float: left;
    width: 80px;
    margin-right: -80px;
    padding-top: 6px;
}

.curricula-conteiner .curricula-header {
    margin-left: 80px;
    height: 70px;
    margin-top: 10px;
}

.curricula-conteiner .curricula-details {
    color: #333333;
}

.curricula-conteiner .curricula-details > h3 {
    color: #333333;
    margin-bottom: 10px;
}

.curricula-conteiner .curricula-details > p {
    margin-bottom: 10px;
}

.curricula-conteiner .curricula-details a {
    color: #0465ac;
    text-decoration: underline;
}

.curricula-conteiner  .certificate-box {
    float: right;
    margin-top: 25px;
    font-size: 12px;
}

.curricula-conteiner .certificate-box a {
    color: #333;
    text-decoration: underline;
}

.curricula-details .price-row{
	background-color: #f1f3f2;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
	height: 34px;
	line-height: 34px;
	padding: 5px 10px;
}

.curricula-details .price-row .total-price-container{
	font-weight: bold;
	font-size: 17px;
}
.curricula-details .price-row .total-price{
	color: #7aba7b;
}

.curricula-description ol{
    list-style-type: decimal;
    margin: 0 0 10px 25px;
}

.curricula-description ol li{
    margin: 0;
}

.curricula-description ul{
    list-style-type: disc;
    margin: 0 0 10px 25px;
}

.curricula-description ul li{
    margin: 0;
}



/* Dropdown */
.dropdown {
    width: 100%;
    border-color: #F1F3F2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.dropdown-row {
    width: 100%;
    border-style: solid;
    border-color: #F1F3F2;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding: 1px 0;
}

.dropdown-context {
    height: 34px;
    line-height: 34px;
    background-color: #FFF;
    padding: 0 10px;
}

.dropdown-row.drop .dropdown-context {
    height: 50px;
    line-height: 50px;
    margin: 5px 0px 7px 0px;
    background-color: transparent;
}

.dropdown-row.drop {
    margin: 1px 0px;
}

.dropdown-row.drop:hover {
    background: #f1f3f2;
}

.dropdown-row.header {
    cursor: pointer;
}

.dropdown-row.header .dropdown-context .icon {
    width: 13px;
    height: 8px;
    display: table;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url('../images/dropdown-arrow-close.png');
}

.dropdown-row.header.dropdown-close .dropdown-context .icon {
    background-image: url('../images/dropdown-arrow-open.png');
}

.dropdown-row.header .dropdown-context {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F1F3F2;
}

.dropdown-context .curricula-course-list-icon, .dropdown-context .curricula-course-list-buy {
    width: 40px;
    float: right;
    text-align: center;
}

.dropdown-context .curricula-course-thumbnail {
    width: 50px;
    border: 1px solid #dadada;
    line-height: 0 !important;
    float: left;
    height: 50px;
}

.dropdown-context .curricula-course-list-type {
    text-indent: 10px;
    width: 80%;
    float: left;
    font-size: 12px;
    line-height: normal;
    color: #999;
}

.dropdown-context .curricula-course-list-title {
    text-indent: 10px;
    width: 80%;
    float: left;
    line-height: normal;
    margin: 5px 0px 2px 0px;
    font-weight: 600;
}