.clevered.alice {
    margin: 0px;
    padding: 0px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}
.clevered.alice label {
/*    color: #000000;*/
    color: #333333;
/*    font-size: 18px;
    padding: 0 0 0 0;
/*    border-bottom: 1px dashed #fff;*/
}
.clevered.alice label.active {
/*    border-bottom: 1px dashed #7eb3ce;*/
    
}
.clevered.alice .hidden {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    
}
.clevered.alice .jClever-element {
    outline: none;
    margin: 0px;
    position: relative;
}
.clevered.alice .jClever-element.error {
}
.clevered.alice .jClever-element * {
    outline: none;
}
.clevered.alice .focused .jClever-element-select-center {
    background: #EFEEEC;
    color: #000;
}
.clevered.alice .focused .jClever-element-checkbox-twins {
    
}
.clevered.alice .focused .jClever-element-radio-twins {
    
}


.clevered.alice .row {
/*    vertical-align: middle;*/
/*    padding: 10px 0;*/
}
.clevered.alice .row>label {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
}
.clevered.alice .row>.jClever-element {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;    
}

/*
 *
 *   SELECT
 *
 */      
.clevered.alice .jClever-element-select-wrapper {
    position: relative;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    cursor: pointer;
    height: 30px;
}

.clevered.alice  .jClever-element.focused .jClever-element-select-wrapper {
    border: 1px solid #7eb3ce;
}
.clevered.alice .jClever-element-select-wrapper select {
    display: none;
}
.clevered.alice .jClever-element select {
    display: none;
    font-size: 14px;
}
.clevered.alice .jClever-element-select-center {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
}
.clevered.alice .jClever-element.focused .jClever-element-select-center {
    background: #f2f6f7;
}
.clevered.alice .jClever-element-select-right {
    position: absolute;
    right: -1px;
    top: -1px;

    border: 1px solid #80b4cf;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);

    background: -moz-linear-gradient(top, #66d1f8, #3bb6f3);
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#66d1f8), color-stop(100%,#3bb6f3));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #66d1f8, #3bb6f3);
    background: -o-linear-gradient(top, #66d1f8, #3bb6f3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66d1f8, #3bb6f3); /* IE10 */
    background: linear-gradient(top, #66d1f8, #3bb6f3); /* CSS3 */
        
    height: 100%;
    width: 35px;
    cursor: pointer;
    display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;

    text-align: center;
    font-family: Arial;
    color: white;
    font-weight: bold;
    line-height: 20px;
}

.clevered.alice .jClever-element-select-right>span {
    background: #53c5f6;
    border: 1px solid #81ddfa;
    border-bottom: 0px;
    border-right: 0px;

    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    
    
    height: 29px;
    display: block;
    width: 34px;
    background-image: url(../images/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;

    text-indent: -100px;
    overflow: hidden;
}

.clevered.alice .jClever-element-select-list-wrapper {
    position: absolute;
    border: 1px solid #bfd9e7;
    border-top: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;

    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    
    top: 31px;
    left: -1px;
    background: #fff;

    display: none;

    font-size: 14px;
}
.clevered.alice .jClever-element-select-list-wrapper-- {
    max-height: 200px;
}
.clevered.alice .jClever-element-select-list {
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.clevered.alice .jClever-element-select-list>li {
    padding: 7px 10px;
    margin: 0px 0;
    color: #000;
}

.clevered.alice .jClever-element-select-list>li.active  {
    background: #f2f6f7;
}
.clevered.alice .jClever-element-select-list>li:hover, .clevered.alice .jClever-element-select-list>li.selected {
    background: #64d0f8;
    color: #fff;
}
.clevered.alice .jClever-element-select-list>li.disabled,
.clevered.alice .jClever-element-select-list>li:hover.disabled {
    color: #c0c0c0;
    background: none;
}
.clevered.alice .jClever-element-select-list>li>span {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    white-space: normal;
}
.clevered.alice .jClever-element-select-list>li>span>i {
    font-style: normal;
}


/*
 *
 *   CHECKBOX
 *
 */

.clevered.alice .jClever-element-checkbox-twins {
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
}
.clevered.alice .jClever-element-checkbox-twins .jClever-element-checkbox-twins-element {
    background: url(../images/checkbox.png) no-repeat left bottom;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
}
.clevered.alice .jClever-element.focused .jClever-element-checkbox-twins .jClever-element-checkbox-twins-element {
    background-position: right bottom;
}
.clevered.alice .jClever-element-checkbox-twins .jClever-element-checkbox-twins-color {
    background: #64D0F8;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.clevered.alice .jClever-element-checkbox-twins.checked  .jClever-element-checkbox-twins-element {
    background-position: left top;
}
.clevered.alice .jClever-element.focused .jClever-element-checkbox-twins.checked  .jClever-element-checkbox-twins-element {
    background-position: right top;
}


/*
 *
 *   RADIO
 *
 */

.clevered.alice .jClever-element-radio-twins {
    display: block;
    width: 18px;
    height: 18px;
    position: relative;
    overflow: hidden;
}
.clevered.alice .jClever-element-radio-twins-element {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/radio.png) no-repeat left bottom;
    position: absolute;
    z-index: 4;
}
.clevered.alice .jClever-element-radio-twins-color {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: #64d0f8;
    position: absolute;
    z-index: 3;
    top:5px;
    left: 5px;
}
.clevered.alice .jClever-element-radio-twins.checked .jClever-element-radio-twins-element {
    background-position: left top;
}

.clevered.alice .jClever-element.focused .jClever-element-radio-twins-element {
    background-position: right bottom;
}
.clevered.alice .jClever-element.focused .jClever-element-radio-twins.checked .jClever-element-radio-twins-element {
    background-position: right top;
}

/*
 *
 *   BUTTON
 *
 */
.clevered.alice button.styled {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;

    font-size: 14px;
    color: #fff;
    
}

.clevered.alice button.styled>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    border: 1px solid #508db1;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    background: #1eb5ed;
    background: -moz-linear-gradient(top, #66d1f8, #3bb6f3);
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#66d1f8), color-stop(100%,#3bb6f3));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #66d1f8, #3bb6f3);
    background: -o-linear-gradient(top, #66d1f8, #3bb6f3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66d1f8, #3bb6f3); /* IE10 */
    background: linear-gradient(top, #66d1f8, #3bb6f3); /* CSS3 */

    height: 30px;
}
.clevered.alice button.styled:hover>span {
    background: #1eb5ed;
    background: -moz-linear-gradient(top, #1eb5ed, #0c90e1);
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#1eb5ed), color-stop(100%,#0c90e1));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #1eb5ed, #0c90e1);
    background: -o-linear-gradient(top, #1eb5ed, #0c90e1); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1eb5ed, #0c90e1); /* IE10 */
    background: linear-gradient(top, #1eb5ed, #0c90e1); /* CSS3 */
    position: relative;

    
    color: #fff;
}
.clevered.alice button.styled>span>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    border: 1px solid #6cd4f8;
    border-bottom: 0px;
    border-right: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
}
.clevered.alice button.styled>span>span>span {
    line-height: 30px;
    font-size: 14px;
    padding: 0 15px;
    margin: 0px;
    min-width: 110px;
}
/*
 *
 *   input`s
 *
 */
 
.clevered.alice .jClever-element-input {
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    font-size: 14px;
    color: #a3a3a3;
    background: #fff;
    line-height: 30px;
}
.clevered.alice .jClever-element.focused .jClever-element-input {
    border: 1px solid #7eb3ce;
    background: #f2f6f7;
}

.clevered.alice .jClever-element-input>.jClever-element-input {
    border: 0px;
    background: none;
}
.clevered.alice .jClever-element-input>.jClever-element-input>.jClever-element-input {
    border: 0px;
}
.clevered.alice .jClever-element.focused .jClever-element-input>.jClever-element-input {
    border: 0px;
    background: none;
}

.clevered.alice .jClever-element input[type=text],
.clevered.alice .jClever-element input[type=password] {
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #a3a3a3;
    border: 0px;
    width: 220px;
    height: 30px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
}
.clevered.alice .jClever-element.focused input[type=text],
.clevered.alice .jClever-element.focused input[type=password] {
    color: #000;
    background: #f2f6f7;
}
.jClever-element-input-placeholder {
    position: absolute;
    left: 0px;
    top: 0px;
}



/*
 *
 *   textarea`s
 *
 */


.clevered.alice .jClever-element-textarea {
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    font-size: 14px;
    color: #a3a3a3;
    background: #fff;

    padding: 10px;
}

.clevered.alice  .jClever-element.focused .jClever-element-textarea {
    border-color: #7eb3ce;
    background: #f2f6f7;
}


.clevered.alice .jClever-element-textarea>.jClever-element-textarea {
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    
}
.clevered.alice .jClever-element-textarea>.jClever-element-textarea>.jClever-element-textarea {
    padding: 0px;
    margin: 0px;
} 
.clevered.alice .jClever-element-textarea textarea {
    border: 0px solid #fff;
    padding: 0;
    color: #c0c0c0;
    resize: none;
    margin: 0px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    color: #b0b0b0;
}

.clevered.alice  .jClever-element.focused textarea {
    color: #000;
    background: #f2f6f7;
}


/*
 *
 *   file input
 *
 */
.clevered.alice .jClever-element-file {
    width: 311px;
    height: 32px;
    overflow: hidden;
} 
.clevered.alice .jClever-element .hidden-file {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    left: 0px;
    width: 330px;
    padding: 0px;
    line-height: 20px;
    height: 30px;
    line-height: 30px;
    margin-left: -218px;
    font-size: 20px;
    z-index:10;
    cursor: pointer;
}
.clevered.alice .jClever-element .jClever-element-file-name {
    display: block;
    width: 198px;
    height: 30px;
    float: left;
    border: 1px solid #c8c8c8;
    border-right: 0px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;
    
    line-height: 30px;
    overflow: hidden;
    background: url(../images/file-input.png) repeat-y right top;
}

.clevered.alice .jClever-element.focused .jClever-element-file-name {
    border-color: #7eb3ce;
    background: #f2f6f7;
}

.clevered.alice .jClever-element .jClever-element-file-button {
    display: block;
    width: 110px;
    height: 30px;
    float: left;
    background: none;
    margin: 0px 0 0 0;
    line-height: 29px;
    font-size: 14px;
    border: 1px solid #5591b5;
    cursor: pointer;

    
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px;
    behavior: url(jCleverTemplate/alice/css/PIE.htc);
    position: relative;

    background: #66d1f8;
    background: -moz-linear-gradient(top, #66d1f8, #3bb6f3);
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#66d1f8), color-stop(100%,#3bb6f3));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #66d1f8, #3bb6f3);
    background: -o-linear-gradient(top, #66d1f8, #3bb6f3); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #66d1f8, #3bb6f3); /* IE10 */
    background: linear-gradient(top, #66d1f8, #3bb6f3); /* CSS3 */
}
.clevered.alice .jClever-element .jClever-element-file:hover .jClever-element-file-button {
    background: #1eb5ed;
    background: -moz-linear-gradient(top, #1eb5ed, #0c90e1);
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#1eb5ed), color-stop(100%,#0c90e1));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #1eb5ed, #0c90e1);
    background: -o-linear-gradient(top, #1eb5ed, #0c90e1); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1eb5ed, #0c90e1); /* IE10 */
    background: linear-gradient(top, #1eb5ed, #0c90e1); /* CSS3 */
}
.clevered.alice .jClever-element .jClever-element-file-button>span {
    display: block;
    border: 1px solid #63d0f7;
    border-right: 0px;
    border-bottom: 0px;
    text-align: center;
}
.clevered.alice .jClever-element .jClever-element-file-button>span>span {
    line-height: 28px;
    color: #fff;
    text-align: center;
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
}

.clevered.alice .input-file-helper {
    width: 111px;
    height: 32px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    z-index: 10;
}

.clevered.alice .jClever-element.focused .jClever-element-file-name {
    
}

.clevered.alice .jClever-error-label {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 100%;
    color: #fff;
    width: 100%;
    padding: 5px;
    background: #EA1010;
    display: none;
}
.clevered.alice .jClever-element.error .jClever-error-label {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
}


/**
*   Multiselect
*
*/
.clevered.alice .jClever-element-select-wrapper.multiselect {
    height: auto;
    min-height: 34px;
}
.clevered.alice .jClever-element-select-wrapper.multiselect .jClever-element-select-list-wrapper {
    top: 100%;
    margin-top: 1px;

}
.clevered.alice .jClever-element-select-wrapper.multiselect .jClever-element-select-center {
    white-space: normal;
    padding: 0 30px 0 10px;
}
.multiple-item {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 10px 3px 3px;

    position: relative;
    margin: 2px 2px 2px 0;
}
.multiple-item > .multiple-item-text {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
    padding: 0 3px;
}
.multiple-item-remove {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    background: url(../images/remove.png) no-repeat left top;
}
