/*
    Created on : May 10, 2016, 11:51:02 AM
*/

#App7020ChannelSummaryReport {
	.channel-summary-info {
		padding: 12px;
		border: 1px solid #E4E6E5;
	}
	.tab-content {
		overflow:hidden;
	}
	h3 {
		border-bottom:1px solid #F1F3F2;
		padding-bottom:10px;
		margin-top:10px;
	}
	h1 {
		color: #0063AE;
		font-size: 20px;
		font-weight: 600;
		padding-left: 55px;
		line-height: 32px;
	}
	.channel-description p {
		color:#A8A8A8;
		font-size:13px;
	}
	.channel-description {
		padding-left: 0;
		margin-top: 10px;
	}
	.channel-icon {
		float: left;
		width: 42px;
		line-height: 34px;
		text-align: center;
		font-size:18px;
	}
	.new-channel-summary {
		background: #53ab53;
		text-shadow: 1px 1px #306430;
		color: #fff;
		padding: 8px 10px;
		font-weight: 600;
		position: absolute;
		line-height: 21px;
		text-transform: uppercase;
	}
	.print-actions div {
      cursor: pointer;
      float: left;
      &:hover{
        text-decoration: underline;

      }
	}
	.print-actions {
		line-height: 64px;
		margin-left: 13px;
		float: left;
	}
	.printChannel span {
		display: inline-block;
		background-repeat: no-repeat;
		height: 33px;
		width: 28px;
		vertical-align: middle;
		margin-left: 12px;
		background : url(../../../../themes/spt/images/icons_elements.png) no-repeat;
		background-position: -783px -71px;
        margin-top: 16px;
        padding-right: 19px;
        float: right;
	}
	.downloadPdf span {
		display: inline-block;
		background-repeat: no-repeat;
        float: right;
        margin-top: 16px;
		height: 33px;
		width: 28px;
		vertical-align: middle;
		margin-left: 12px;
		background : url(../../../../themes/spt/images/icons_elements.png) no-repeat;
		background-position: -783px -34px;
	}
	#sidebar {
		float:left;
		background: #F1F3F2;
		padding: 0;
		li {
			float: none;
			margin: 0;
			border-bottom: 1px solid #f1f3f2;
		}
		li a {
			color: #333333;
			margin: 0;
			border-top: 1px solid #FFFFFF;
			border-right-style: none;
			border-bottom: 1px solid #FFFFFF;
			border-left-style: none;
			border-radius: 0;
			padding: 6px 10px 7px 20px;
			display: block;
			cursor:pointer;
			text-decoration:none;
		}
		li a:hover {
			background:#F1F3F2 !important;
			color:#000;
		}
		li.active a {
			background:#000;
			color:#fff;
		}
		li.active a:hover {
			background:#000 !important;
		}
	}
	.data-box {
		border: 1px solid #e6e6e6;
		background: #f8f8f8;
		padding: 15px;
		margin-top:15px;
		margin-bottom: 15px;
		height:70px;
		position:relative;
	}
	.num {
		color: #0664aa;
		font-size: 19px;
		display: block;
	}
	.num.rateNum {
		float: right;
	}
	.small-num {
		color: #000;
		font-size: 15px;
	}
	.text {
		font-size: 11px;
	}
	.data-box .text {
		position: absolute;
		bottom: 12px;
	}
	.left {
		margin-left: 0;
	}
	.tab-pane {
		margin-top:20px;
	}
	.clear {
		clear:both;
	}
	.timeframe-selector {
		float:right;
		margin-top:15px;
	}
	.timeframe-selector label {
		display:inline;
		font-weight:600;
	}
	.timeframe-selector select {
		position: relative;
		top: 4px;
	}
	.last-asset-block {
		height:230px;
		border: 1px solid #e6e6e6;
	}
	.last-assets {
		display:block;
		margin-top: 22px;
	}
	.asset-info {
		padding: 10px;
	}
	.asset-info span {
		font-size : 12px;
		color:#A0A0A0;
	}
	.asset-title {
		color: #0664aa;
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.asset-contributor {
		color :#A0A0A0;
	}
	.asset-contributor .contributor-name {
		color: #0664aa;
		font-size:12px;
	}
	.legend {
		float:right;
	}
	span.square-green {
		width: 10px;
		height: 10px;
		background: #ADDFAC;
		float: left;
		margin-right: 5px;
		margin-top: 6px;
	}
	span.square-blue {
		width: 10px;
		height: 10px;
		background: #E5EFF7;
		float: left;
		margin-right: 5px;
		margin-top: 6px;
	}
	.legend div {
		float: left;
		width: 120px;
	}
	table.items {
		width: 100%;
		text-align: left;
		margin-top:15px;
	}
	table.items td {
		padding: 10px 10px;
		border-top: 1px solid #E4E6E5;
		border-bottom: 1px solid #E4E6E5;
	}
	table.items th {
		font-weight: 600;
		text-align: left;
		padding: 10px 10px;
	}
	.summary {
		margin-top:10px;
		padding-left:10px;
	}
	.widget-app7020Avatar-container {
		float:left;
	}
	li.table-row {
		border-bottom: 1px solid #e5e5e5;
		line-height:55px;
	}
	li.row-header {
		line-height: 20px;
	}
	.cell-best-answer i {
		color:#5EBE5C;
		font-size: 22px;
	}
	.cell-like i {
		color:#5EBE5C;
		font-size: 22px;
	}
	.cell-reply {
		font-size: 22px;
	}
	.cell-dislike i {
		color:#E74C3C;
		font-size: 22px;
	}
	ul.table-top5 {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.last3-rating i.fa.fa-star-half-o {
		color: #F2C500;
		position: relative;
		right: 3px;
	}
	.last3-rating {
		float:right;
	}
	.last3-views {
		float:left;
		width:33%;
	}
	.cell-header {
		line-height: 20px;
	}
	span.icon-description {
		float: left;
		width: 100%;
		line-height: 0px;
		font-size: 10px;
	}
	span.text.subtitle {
		line-height: 28px;
	}
	span.cell {
		text-align: center;
	}
	span.cell-header {
		line-height: 20px;
		position: relative;
		top: 20px;
		text-align:left;
	}
	span.cell-name {
		text-align:left;
	}
	.submittedVsPublished {
		padding-right:10px;
		padding-left:10px;
	}
	span.cell-index {
		font-weight: 700;
	}
}