@CHARSET "ISO-8859-1";

@CHARSET "ISO-8859-1";

[id^="pluploader-wrapper-knobhorizontal"] .pluploader-wrapper-inner {
	
}

[id^="pluploader-wrapper-knobhorizontal"] [id^="pickfiles"] {
	white-space: nowrap;
	padding: 5px;
}


[id^="pluploader-wrapper-knobhorizontal"]  {
	font-size: 11px;
}



[id^="pluploader-wrapper-knobhorizontal"] .pickfiles-wrapper {
	padding-top: 7px;
}

