@CHARSET "ISO-8859-1";



.plup-knob-filename {
	font-size: 9px;
	color: red;
}


.plup-knob-dropzone {
	text-align: center;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #eee;
	padding: 4px;
}



.plup-knob-wrapper {
	position: absolute;
	padding-left: 2px;
	padding-top: 7px;
	bottom: 5%;
	top: 5%;
	left: 1%;
	right: 1%; 
}


