@CHARSET "ISO-8859-1";

[id^="pluploader-wrapper"] .pluploader-wrapper-inner {
	
}

[id^="pluploader-wrapper"] [id^="pickfiles"] {
	white-space: nowrap;
}


[id^="pluploader-wrapper"] [id^="pluploader-progress-number"] {
	font-size: 11px;
}


[id^="pluploader-wrapper"] .pluploader-wrapper-inner .filename {
	font-size: 11px;
}

[id^="pluploader-wrapper"] .pluploader-wrapper-inner .filename div > span {
	min-height: 25px;
}


[id^="pluploader-wrapper"] .pluploader-wrapper-inner .progress {
	margin-bottom: 10px;
}


[id^="pluploader-wrapper"] .pluploader-wrapper-inner a[id^="pickfiles-"] {
	display: inline-block;
	text-align: center;
}