/* 
 * 	Default theme - Owl Carousel CSS File
 */
/* 
    Created on : 01.07.2015, 17:19:27
    Author     : Stanimir
*/
@font-face {
  font-family: 'Handlee';
  src: url("/themes/spt/fonts/handlee-regular-webfont.eot");
  src: url("/themes/spt/fonts/handlee-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/themes/spt/fonts/handlee-regular-webfont.woff") format("woff"), url("/themes/spt/fonts/handlee-regular-webfont.ttf") format("truetype"), url("/themes/spt/fonts/handlee-regular-webfont.svg#handleeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* radio buttons*/
/* Channels variables */
/* line 50, ../../../../scss/_settings.scss */
* {
  outline: none;
}

/* line 53, ../../../../scss/_settings.scss */
.hideOnSearch {
  display: none !important;
}

/* line 56, ../../../../scss/_settings.scss */
.breadcrumb_channels_style {
  background: #0465AC;
  box-sizing: border-box;
  min-height: 35px;
  padding: 7px 10px 0;
  color: #fff;
  font-size: 0;
  margin-bottom: 20px;
}
/* line 64, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li {
  display: inline-block;
  font-size: 13px;
}
/* line 67, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li a {
  color: #fff;
  text-decoration: underline;
  text-shadow: none;
}
/* line 72, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li .icon-home {
  background: none;
  margin: 1px 0 0 0;
}
/* line 75, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li .icon-home:before {
  font-family: "FontAwesome";
  content: "\f015";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  color: #fff;
}
/* line 85, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li .divider {
  font-size: 0;
}
/* line 87, ../../../../scss/_settings.scss */
.breadcrumb_channels_style li .divider:before {
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 15px;
  width: 20px;
  text-align: center;
  display: inline-block;
}

/* line 100, ../../../../scss/_settings.scss */
body.backdrop:after {
  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1010;
  transition: background .3s linear;
}

/* line 114, ../../../../scss/_settings.scss */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

/* line 1, ../../../../scss/owl/theme/_theme.scss */
.owl-theme {
  height: 232px;
}
/* line 6, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer {
  height: 232px;
}
/* line 8, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage {
  height: 197px;
}
/* line 10, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item {
  display: table;
  height: 232px;
}
/* line 13, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item {
  width: 100%;
  display: table-cell;
  width: 100%;
  height: 232px;
  vertical-align: middle;
}
/* line 19, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-content {
  background: #fff;
  width: 100%;
  height: 197px;
  border: 1px solid #e4e6e5;
}
/* line 24, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-content figure {
  margin: 0;
}
/* line 27, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-content footer {
  display: table;
  position: relative;
  height: 50px;
  width: 100%;
}
/* line 32, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-content footer .app7020-video-heading-container {
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 38, ../../../../scss/owl/theme/_theme.scss */
.owl-theme .owl-stage-outer .owl-stage .owl-item .item .carousel-content footer h2 {
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=owl.theme.app7020.css.map */
