/* 
    Created on : Apr 26, 2016, 11:43:30 AM
    Author     : Trayan
*/
.assetsummary-container {
	float:left;
	width:100%;
	border: 1px solid #E4E6E5;
	margin-bottom: 40px;  
	h1 a {
		font-size:17px;
		font-weight:600;
		color:#0456ac;
		margin-top:15px;
		display:inline-block;
	}
	h3 {
		color: #333; 
		font-size: 14px;
		font-weight: 300;
	}
	.small-title {
		font-size:14px;
		color:#333;
		font-weight:600;
	}
	.avatar {
		float:right;
		margin: 15px 5px;
	}
	.avatar img {
		border-radius: 50%;
		width:45px;
		height:45px;
	}
	p {
		color:#999;
	}
	ul.tag-list {
		margin-top:20px;
		margin-bottom:20px;
	}
	ul.tag-list li {
		display: inline-block;
		padding: 3px 15px 4px;
		margin-right: 5px;
		background: #f5f5f5;
		color: #333333;
		font-weight: 300;
	}
	ul.channels-list li {
		margin-right:10px;
		display:inline-block;
	}
	.asset-thumb {
		width: 205px;
		float: right;
		height: 117px;
	}
	.description {
		float: left;
		width: 100%;
		padding-top: 15px;
		border-top: 1px solid #E4E6E5;
	}
	.asset-info {
		float:left;
		width:80%;
		padding-left: 15px;
		h1{
			display: inline-block;
		}
	}
	.content-toggle {
		font-size: 24px; 
		text-align: center;
		display: block;
		color: #0456ac;
	}
	.description-content {
		padding-left: 15px;
		padding-bottom: 15px;
	}
	.description {
		display:none;
	}
}
.generate-report {
	float: left;
	width: 100%;
	background: #F1F3F2;
	margin-bottom:20px;
	.report-form {
		padding: 15px;
		position: relative;
		width: 75%;
		float: left;
	}
	input {
		margin: 0;
		width: 90%;
		padding-left: 10px;
		//font-style: italic;
		line-height: 28px;
		height: 28px;
	}
	a#generateAssetSummaryReport {
		color: #fff;
		font-size: 14px;
		width: 147px;
		padding-top: 3px;
		text-shadow: 1px 1px #306430;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		line-height: normal;
		vertical-align: middle;
		position: absolute;
		text-decoration: none;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 80px;
}

}
#App7020AssetSummaryReport {
	float: left;
    width: 100%;
	margin-top:20px;
	.channels-list a {
		color: #0456ac;
		text-decoration: underline;
	}
	#sidebar {
		float:left;
		background: #F1F3F2;
		padding: 0;
		li {
			float: none;
			margin: 0;
			border-bottom: 1px solid #f1f3f2;
		}	
		li a {
			color: #333333;
			margin: 0;
			border-top: 1px solid #FFFFFF;
			border-right-style: none;
			border-bottom: 1px solid #FFFFFF;
			border-left-style: none;
			border-radius: 0;
			padding: 6px 10px 7px 20px;
			display: block;
			cursor:pointer;
			text-decoration:none;
		}
		li a:hover {
			background:#000 !important;
			color:#fff;
		}
		li.active a {
			background:#000;
			color:#fff;
		}
		li.active a:hover {
			background:#000;
		}
	}
	.tab-content div {
		overflow: hidden;
	}
	.tab-content {
		overflow: auto;
		float: left;
		padding-right: 0;
	}
	h3 {
		font-size: 18px;
		padding-bottom: 5px;
		font-weight: 600;
	}
	.tab-content h3 {
		border-bottom: 1px solid #E0E2E1;
	}
	.data-box {
		border: 1px solid #e6e6e6;
		background: #f8f8f8; 
		padding: 15px;
		margin-top:15px;
		margin-bottom: 15px;
		height:70px;
		position:relative;
	}
	.num {
		color: #0664aa;
		font-size: 19px;
		display: block;
	}
	.num.rateNum {
		float: right;
	}
	.small-num {
		color: #000;
		font-size: 15px;
	}
	.text {
		font-size: 11px;
	}
	.data-box .text {
		position: absolute;
		bottom: 12px;
	}
	.left {
		margin-left: 0;
	}
	.tab-pane {
		margin-top:20px;
	}
	.clear {
		clear:both;
	}
	.timeframe-selector {
		float:right;
		margin-top:15px;
	}
	.timeframe-selector label {
		display:inline;
		font-weight:600;
	}
	.timeframe-selector select {
		position: relative;
		top: 4px;
	}
	#invitations {
		i {
			font-size:28px;
			padding-bottom:10px;
		}
		div.span3 {
			text-align: center;
			padding-top:15px;
		}
		.num {  
			font-size:29px;
			margin-bottom: 8px;
		}
		canvas {
			float:left;
			margin-right:15px;
		}
		.small-info-block {
			width: 80px;
			height:40px;
			text-align: center;
			color: #fff;
			margin-bottom:8px;
		}
		.small-info-block.green {
			background: #5ABF59;
		}
		.small-info-block.gray { 
			background: #CCCCCC;
		}
		.span3.watch-rate { 
			position: relative;
		}
		.watch-rate i.fa.fa-user-plus {
			position: absolute;
			z-index: 999;
			color: #CCCCCC;
			top: 49px;
			left: 36px;
			font-size: 20px !important;
		}
		table { 
			width:100%;
			margin-top:20px;
			th {
				font-weight:600;
				text-align:left;
				padding:9px 4px;
			}
			td {
				padding:9px 4px;
				border-top:1px solid #E4E6E5;
				border-bottom:1px solid #E4E6E5;
			} 
		}
		.summary {
			margin-top:15px;
		}
	}
	.legend {
		float:right;
	}
	span.square-green {
		width: 10px;
		height: 10px;
		background: #ADDFAC;
		float: left;
		margin-right: 5px;
		margin-top: 6px;
	}
	span.square-blue {
		width: 10px;
		height: 10px;
		background: #E5EFF7;
		float: left;
		margin-right: 5px;
		margin-top: 6px;		
	}
	.legend div {
		float: left;
		width: 120px;
	}
}
