/* 
    Created on : 09.05.2016, 14:26:37
    Author     : Kristian
*/

body.expertTasks{
	background: #F5F5F5;
	> .container{
		width: 100%;
		box-sizing: border-box;
		> .menu-spacer{
			margin-left: 50px;
			#header{
				padding: 0 50px;
				background: #fff;
				.header-logo-line{
					margin: 0;
					padding-bottom: 12px;
				}
			}
			#navigation{
				.breadcrumb{
					padding: 8px 50px;
					margin: 0;
				}
			}
			#footer{
				margin-top: 30px;
			}
		}
	}
}

#expertTasks{
	#loading-bar-container{
		.bar{
			background: #0465AC;
		}
	}
	@extend %tab-navigation;
	.tab-navigation{
		position: relative;
	}
	.master-content{
		padding: 0 50px;
	}
	.app7020BootstrapTabsExtended{
		padding: 0 50px;
		background: #fff;
		> li{
			a{
				display: block;
				font-size: 14px;
				font-weight: 700;
				height: 63px;
				line-height: 63px;
				padding: 0 33px;
				text-decoration: none;
				text-transform: uppercase;
				i{
					font-size: 12px;
					color: #fff;
					font-weight: 700;
					display: inline-block;
					position: relative;
					line-height: 19px;
					padding: 0 4px;
					min-width: 13px;
					background: #5DBF5C;
					top: -10px;
					left: 5px;
					text-align: center;
					font-style: normal;
				}
			}
			&.active{
				a{
					color: #0456ac;
				}
			}
		}
	}
	.sub-navigation{
		background: #fff;
		width: 100%;
		display: block;
		box-sizing: border-box;
		padding: 0 50px;
		border-bottom: 1px #E6E6E6 solid;
		li{
			display: block;
			float: left;
			line-height: 50px;
			font-size: 15px;
			&:not(:last-child){
				margin-right: 40px;
			}
			&.active{
				a{
					color: #0456ac;
				}
			}
			a{
				outline: none;
				text-decoration: none;
				text-shadow: none;
			}
		}
	}
	.main-wrapper{
		.heading{
			h1{
				color: #0456ac;
				font-size: 32px;
				font-weight: 500;
				margin: 24px 0 0 0;
			}
			p{
				color: #666;
				font-size: 15px;
				margin: 6px 0 0 0;
			}
			strong{
				font-weight: 600;
			}
		}
		.info-wrapper{
			font-size: 15px;
			margin-top: 30px;
			.counter{
				strong{
					color: #0456ac;
					font-weight: 600;
				}
			}
			.clear{
				cursor: pointer;
				color: #0456ac;
				text-decoration: underline;
			}
		}
	}
	.items-wrapper{
		&[questions-items]{
			.questionBoxModel{
				@extend %questionBoxModel;
				.content-wrapper .title{
					margin-right: 120px;
				}
				&:hover{
					.action-icons-wrapper{
						@include transition(opacity .2s linear);
						opacity: 1;
						visibility: visible;
					}
				}
				&.silence-show-before{
					.silence-template-container{
						display: table;
						.before{
							display: table-cell;
						}
					}
				}
				&.silence-show-after{
					.silence-template-container{
						display: table;
						.after{
							display: table-cell;
						}
					}
				}
				&.silence-show-before,
				&.silence-show-after{
					> :not(.silence-template-container):not(.clearfix){
						display: none;
					}
				}
				&.assign-in-progress{
					> :not(.assign-wrapper-container):not(.clearfix){
						display: none;
					}
				}
				.content-wrapper .lastAnswer .prefix{
					//display: none;
				}
				&.ignored-style{
					.content-wrapper .title,
					.content-wrapper .lastAnswer .answer,
					.content-wrapper .footer .related .text-wrapper .prefix,
					.content-wrapper .footer .answers-wrapper .have-answers{
						color: #999;
					}
					.widget-app7020Avatar-container span.avatar-container.small span.circle{
						background: #999;
					}
					.avatar-wrapper img{
						filter: grayscale(100%);
						opacity: 0.4;
					}
					&:hover{
						.content-wrapper .title,
						.content-wrapper .lastAnswer .answer,
						.content-wrapper .footer .related .text-wrapper .prefix{
							@include transition(color .2s linear);
							color: #333;
						}
						.content-wrapper .footer .answers-wrapper .have-answers{
							color: #0456ac;
						}
						.widget-app7020Avatar-container span.avatar-container.small span.circle{
							@include transition(background .2s linear);
							background: #0465ac;
						}
						.avatar-wrapper img{
							@include transition(filter .2s linear);
							@include transition(opacity .2s linear);
							filter: grayscale(0%);
							opacity: 1;
						}
					}
				}
				.assign-wrapper-container{
					float: left;
					margin-bottom: -19px;
					width: 100%;
					.default-state{
						border-top: 1px solid #d3d3d3;
						margin: 20px -24px 0;
						padding: 14px 24px;
						.avatar-wrapper{
							position: relative;
							top: -7px;
							margin-bottom: -13px;
							bottom: 0;
						}
						.fa{
							display: block;
							float: left;
							margin-right: 20px;
							text-align: center;
							width: 40px;
							font-size: 21px;
						}
						.text{
							float: left;
							margin: 0;
							strong{
								font-weight: 600;
							}
						}
						button, a{
							background: none;
							border: 0 none;
							color: #5dbf5c;
							display: block;
							font-weight: 700;
							padding: 0;
							text-decoration: none;
							text-transform: uppercase;
							float: right;
						}
					}
					.before-state{
						padding-bottom: 19px;
						strong{
							font-weight: 600;
						}
						.content-wrapper{
							.title{
								color: #0456ac;
							}
							.description{
								margin-bottom: 17px;
							}
							label{
								position: relative;
								[type="checkbox"]{
									display: none;
									& + span.text{
										position: relative;
										margin: 0;
										padding-left: 32px;
										display: inline-block;
										&:before{
											position: absolute;
											display: inline-block;
											content: '';
											background: url('../images/icons_elements.png') no-repeat -144px -201px;
											width: 17px;
											top: 2px;
											height: 17px;
											left: 3px;
										}
									}
									&:checked + span.text{
										&:before{
											background: url('../images/icons_elements.png') no-repeat -190px -201px;
										}
									}
								}
							}

							.table{
								display: table;
								margin: 0;
								.table-cell{
									display: table-cell;
									&:first-child{
										width: auto;
									}
									&:last-child{
										width: 280px;
										vertical-align: middle;
										text-align: right;
									}
								}
							}
							.buttons-wrapper{
								button{
									@include app7020-button(black);
									padding: 0 20px;
									font-size: 14px;
									text-shadow: none;
									line-height: 33px;
									height: 33px;
									&.assign{
										background: #5EBE5C;
										margin-right: 10px;
									}
								}
							}
						}
					}
					.after-state{
						padding-bottom: 10px;
						.title{
							font-size: 14px;
							font-weight: 600;
							color: #333;
							margin-bottom: 5px;
							i{
								text-decoration: underline;
								cursor: pointer;
								color: #0456ac;
								font-style: normal;
							}
						}
						.description{
							font-size: 13px;
							color: #333;
						}
					}
				}
				.quick_answer{
					position: relative;
					margin-top: 20px;
					.dismiss{
						display: inline-block;
						cursor: pointer;
						position: absolute;
						right: 0;
						top: -20px;
						color: #0456ac;
						text-decoration: underline;
					}
				}
			}
		}
		&[assets-items]{
			.assetBoxModel{
				@extend %assetBoxModel;
				&:hover{
					.action-icons-wrapper{
						@include transition(opacity .2s linear);
						opacity: 1;
						visibility: visible;
					}
				}
				&.silence-show-before{
					.silence-template-container{
						display: table;
						.before{
							display: table-cell;
						}
					}
				}
				&.silence-show-after{
					.silence-template-container{
						display: table;
						.after{
							display: table-cell;
						}
					}
				}
				&.silence-show-before,
				&.silence-show-after{
					> :not(.silence-template-container){
						display: none;
					}
				}
				&.ignored-style{
					.content-wrapper .title,
					.content-wrapper .footer .peerReviews-wrapper{
						color: #999;
					}
					.thumb-wrapper img{
						filter: grayscale(100%);
						opacity: 0.6;
					}
					&:hover{
						.content-wrapper .title,
						.content-wrapper .footer .peerReviews-wrapper{
							@include transition(color .2s linear);
							color: #333;
						}
						.thumb-wrapper img{
							@include transition(filter .2s linear);
							@include transition(opacity .2s linear);
							filter: grayscale(0%);
							opacity: 1;
						}
					}
				}
			}
		}
		.silence-template-container{
			display: none;
			width: 100%;
			.fa-times{
				cursor: pointer;
				font-size: 15px;
				position: absolute;
				right: 24px;
				top: 24px;
				z-index: 1;
			}
			h2{
				font-size: 14px;
				color: #0456ac;
				font-weight: 600;
				margin-bottom: 7px;
			}
			p{
				margin: 0;
			}
			.before{
				padding-right: 200px;
				position: relative;
				display: none;
				height: 78px;
				vertical-align: middle;
				button{
					background: #5ebe5e none repeat scroll 0 0;
					border: 0 none;
					color: #fff;
					font-size: 14px;
					font-weight: 700;
					line-height: 33px;
					padding: 0 20px;
					text-shadow: none;
					text-transform: uppercase;
					position: absolute;
					z-index: 1;
					right: 0;
					top: 40px;
				}
			}
			.after{
				padding-right: 200px;
				position: relative;
				display: none;
				height: 78px;
				vertical-align: middle;
				h2{
					color: #333;
					i{
						color: #0456ac;
						font-style: normal;
						text-decoration: underline;
						cursor: pointer;
					}
				}
				button{
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
					border: medium none;
					color: #0456ac;
					cursor: pointer;
					line-height: 16px;
					padding: 0;
					text-decoration: underline;
					position: absolute;
					z-index: 1;
					right: 40px;
					top: 11px;
				}
			}
		}
	}
	.blank-state{
		text-align: center;
		margin-bottom: 24%;
		.fa{
			display: block;
			color: #ccc;
			font-size: 120px;
			margin-bottom: 15px;
			margin-top: 60px;
		}
		h2{
			font-size: 30px;
			font-weight: 500;
		}
		h3{
			color: #666;
			font-size: 18px;
			font-weight: 500;
			margin-top: 10px;
		}
	}
	.action-icons-wrapper{
		float: right;
		font-size: 22px;
		visibility: hidden;
		opacity: 0;
		i{
			cursor: pointer;
			&:not(:first-child){
				margin-left: 18px;
			}
		}
		.tooltip-inner{
			font-size: 11px;
			font-weight: 700;
			padding: 1px 10px 3px;
			white-space: nowrap;
			@include border-radius(3px);
		}
	}
}

%assetBoxModel{
	background: #fff;
	margin-top: 30px;
	box-shadow: 0 2px 3px 0 #e2e2e2;
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 24px;
	position: relative;
	&:before{
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		bottom: 0;
		width: 0;
		background: transparent;
		@include transition(all .3s linear);
	}
	&:hover{
		&:before{
			background: #0465AC;
			width: 5px;
		}
		.content-wrapper{
			.customDropdown-widget{
				@include transition(opacity .3s linear);
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.thumb-wrapper{
		display: table-cell;
		width: 108px;
		vertical-align: top;
		position: relative;
		img{
			display: inline-block;
			width: 108px;
			height: auto;
		}
		.time-wrapper{
			display: inline-block;
			background: #333;
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			padding: 0 8px;
			line-height: 21px;
		}
		.type-wrapper{
			display: inline-block;
			background: #333;
			position: absolute;
			top: 38px;
			right: 0;
			color: #fff;
			font-size: 11px;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0 8px;
			line-height: 21px;
		}
	}
	.content-wrapper{
		display: table-cell;
		width: auto;
		padding-left: 22px;
		a{
			text-decoration: none;
		}
		.title{
			font-weight: 600;
			font-size: 14px;
			color: #333;
			line-height: 16px;
			cursor: pointer;
			margin-right: 80px;
			height: 32px;
			word-break: break-all;
			&:hover{
				color: #0456ac;
			}
		}
		.footer{
			margin-top: 4px;
			.new-wrapper{
				float: left;
				margin-right: 10px;
				.new{
					background: #5dbf5c none repeat scroll 0 0;
					color: #fff;
					display: inline-block;
					font-size: 11px;
					font-weight: 700;
					line-height: 21px;
					padding: 0 5px;
					text-transform: uppercase;
				}
			}
			.peerReviews-wrapper{
				float: left;
				.count{
					font-size: 14px;
					font-weight: 600;
				}
			}
			.author-wrapper{
				float: left;
				margin-right: 50px;
				.name{
					@include transition(color .3s linear);
					color: #0456ac;
					font-weight: 500;
					text-decoration: underline;
					cursor: pointer;
				}
				.prefix{
					color: #999;
				}
				p{
					margin: 0;
				}
			}
			.time-wrapper{
				float: left;
				color: #999;
				p{
					margin: 0;
				}
			}	
		}
	}
}