/* *****----------------------------------------

   * Filename:		branding.css

   * Description:	Color scheme CSS

   * Version:		1.0.0 (2014-08-28) YYYY-MM-DD
*/

/**  This file contains the color classes for dynamic re-branding of OLP UI  **/

/* ***** for all the buttons on OLP UI ***** */
.buttonStyle{
    background-color:#E5E5E5;
    border-color:#E5E5E5;
}

/* ***** for List of Learning tab ***** */
.colorClassForListOfLeaningTab{
    background-color: #F5F5F5;
}

/* ***** for welcome user tab ***** */
.colorClassForWelcomeUser{
    BACKGROUND-COLOR: #C7C7C7;
}

/* ***** for menu links ***** */
.colorClassForMenuLinks{
    BACKGROUND-COLOR: #C7C7C7;
}

/* ***** after launching player without downloading course ***** */
.colorClassForErrorCrsRecord{
    BACKGROUND-COLOR: #F5F5F5;
}

/* ***** for copy right text ***** */
.colorClassForCopyRight{
    BACKGROUND-COLOR: #F5F5F5;
}

/* ***** downloading course ***** */
.colorClassForCourseDownload{
    BACKGROUND-COLOR:#F5F5F5;
}

/* ***** Information on left side of Login page ***** */
.colorClassForLoginLeftSideCell{
    background-color: #F5F5F5;
}

/* ***** for table header ***** */
.colorClassForTableHeader{
    background-color: #F5F5F5;
}

/* ***** TOC page after course launch ***** */
.colorClassForCourseLaunchTable{
    BACKGROUND-COLOR: #F5F5F5;
}

/* ***** DownloadReport link ***** */
.colorClassForDownloadReportViewLink{
    color:blue;
}

/* ***** Header of help page ***** */
.colorClassForHelpPageHeader{
    BACKGROUND-COLOR: navy;
}

/* ***** odd number of raw in a table ***** */
.colorClassForOddRow{
    background-color:#F5F5F5;
}

/* ***** even number of raw in a table ***** */
.colorClassForEvenRow{
    background-color: white;
}

/* ***** About popup header ***** */
.innerDivOfAboutPopUp{
    background-color:#C7C7C7;
    border:1px solid #C7C7C7;
}

/* ***** Page header ***** */
.colorClassForPageHeader{
    BACKGROUND-COLOR: #C7C7C7;
}

/* ***** marquee text on login page ***** */
.colorClassForMarquee{
   background-color:#E5E5E5;
}

/* ***** marquee text on list of learning page ***** */
.warningNote {
    color:#E74C3C;
}

