/* *****----------------------------------------

   * Filename:		image.css

   * Description:	image CSS

   * Version:		1.0.0 (2014-08-28) YYYY-MM-DD
*/

/**  This file contains classes to configure image for dynamic re-branding of OLP UI  **/

/* ***** Docebo team needs to configure logo image in this class(with .png or .gif or .jpg format) ***** */
.logoImgClass{
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
}

/** Please ignore below classes **/

.launchImgClass{
    background-image: url(../images/launcher.gif);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    border:0px;
    margin-left:50px;
}

.progressImgClass{
    background-image: url(../images/progress.gif);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    border:0px;
    margin-left:50px;
}

.courseDeleteImageClass{
    background-image: url(../images/delete.gif);
    background-repeat: no-repeat;
    width:15px;
    height:15px;
    border:0px;
    margin-left:50px;
}

.SCOCompletedImgClass{
    background-image: url(../images/topic-tick.gif);
    background-repeat: no-repeat;
    border:0px;
    width:30px;
    height:18px;
    display:inline-block;
}

.incompleteSCOImgClass{
    background-image: url(../images/topic-red.gif);
    background-repeat: no-repeat;
    border:0px;
    width:30px;
    height:18px;
    display:inline-block;
}

.notAttemptedSCOClass{
    background-image: url(../images/topic.gif);
    background-repeat: no-repeat;
    border:0px;
    width:30px;
    height:18px;
    display:inline-block;
}