#course-download-button {
    white-space: nowrap;
    float: right;
    text-align: right;
    padding: 0 12px;
    margin-top: 18px;
    margin-left: 10px;
}

.offline-player-sprite {
    display: inline-block;
    background: url('../img/offline_player_sprite.png') no-repeat;
    vertical-align: middle;
}
.offline-player-sprite.olp-hint-1 {
    background-position: -238px -58px;
    width: 278px;
    height: 169px;
}
.offline-player-sprite.olp-hint-2 {
    background-position: 0 -231px;
    width: 516px;
    height: 184px;
}
.offline-player-sprite.olp-dld-icon {
    background-position: -354px -34px;
    width: 21px;
    height: 21px;
}
.offline-player-sprite.olp-unavailable-icon {
    background-position: -379px -34px;
    width: 21px;
    height: 21px;
}
.offline-player-sprite.olp-dld-large-icon {
    background-position: -404px 0;
    width: 55px;
    height: 55px;
}
.offline-player-sprite.olp-qmark-large-icon {
    background-position: -461px 0;
    width: 55px;
    height: 55px;
}