.list-view-loading
{
	background:url(loading.gif) no-repeat;
}

.list-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .sorter
{
	margin: 0 0 5px 0;
	text-align: right;
}

.list-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.list-view .sorter
{
	font-size: 0.9em;
}

.list-view .sorter ul
{
	display: inline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.list-view .sorter li
{
	display: inline;
	margin: 0 0 0 5px;
	padding: 0;
}

.list-view .sorter a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.list-view .sorter a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.list-view.infinite-scroll-ext .infiniteScroll{
	text-align: center;
	padding-bottom: 10px;
    padding-top: 10px;
	border: 1px solid #e6e6e6;
	border-top: 0;
	display: none;
}
.list-view.infinite-scroll-ext .infiniteScroll .fa-spinner{
	margin-right: 5px;
}
.list-view.infinite-scroll-ext .summary{
	display: none;
}
.list-view.infinite-scroll-ext .pager{
	display: none;
}