/* 
 * 	Owl Carousel - Video Plugin
 */

@import 'mixins';

.owl-carousel{
    .owl-video-wrapper {
        position: relative;
        height: 100%;
        background: #000;
    }
    .owl-video-play-icon {
        position: absolute;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 50%;
        margin-left: -40px;
        margin-top: -40px;
        background: url("owl.video.play.png") no-repeat;
        cursor: pointer;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        @include owl-transition(scale, 100ms, ease);
    }
    .owl-video-play-icon:hover {
        @include owl-transform(scale(1.3, 1.3));
    }
    .owl-video-playing .owl-video-tn,
    .owl-video-playing .owl-video-play-icon {
        display: none;
    }
    .owl-video-tn {
        opacity: 0;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        @include owl-transition(opacity, 400ms, ease);
    }
    .owl-video-frame {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
}