.owl-title{
    background:#333;
    color:rgba(255,255,255,1);
    font-size:12px;
    padding:3px 10px;
    line-height:39px;
    margin-top:28px;
}
.owl-carousel{
    .item{
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
        background:#eee;
        text-align:center;
        padding:5px 0;
        img{
            height:586px;
            width:auto;
            display:inline-block;
            border:1px solid #ccc;
        }
    }
    a.item{
        display:block;
    }
}
.custom-owl-nav{
    background:#0063ae;
    position:relative;
    text-align:center;
    padding:3px 0;
    margin-bottom:28px;
    .owl-prev-custom,.owl-next-custom,#info{
        display:inline-block;
        position:relative;
        text-decoration:none;
        color:#fff;
        height:33px;
        font-size:12px;
        line-height:33px;
        vertical-align:top;
    }
    .owl-prev-custom,.owl-next-custom{
        font-size:36px;
        &.disabled{
            opacity:0.5;
        }
    }
    #info{
        width:auto;
        overflow:hidden;
        padding:0 10px;
        li{
            display:inline-block;
            vertical-align:top;
            color:#fff;
            height:33px;
            line-height:33px;
            &.currp{
                //background:#eee;
                //compcolor:#333;
                text-align:right;
                padding:0 3px;


            }
            &.allp{
                text-align:left;
            }
        }


    }
    .expand,.compress{
        position:absolute;
        right:10px;
        width:20px;
        height:33px;
        color:#fff;
        font-size:16px;
        line-height:33px;
        top:3px;
        z-index:100;
        cursor:pointer;

    }
    .compress{
        display:none;
    }
}

.full-screen-enabled{
    width:100%;
    height:100%;
    background:#eee;
    .owl-title{
        margin-top:0;
    }
    .owl-item{
        width:100vw;
    }
    .owl-carousel{
        .item{
            width:100%!important;
            img{
                height:89vh;
                width:auto;
                display:block;
                margin:0 auto
            }
        }

    }
    .expand{
        display:none;
    }
    .compress{
        display:block;
    }
    .custom-owl-nav{
        position:absolute;
        width:100%;
        bottom:0;
        margin-bottom:0;
    }
}