// ADMIN VIEW:
.modal-create-webinar-session {
	.tab-content {
		//min-height: 500px;
	}

	#must-complete-count {
		margin-left: 58px;
		margin-top: 8px;
	}

	.session-form-actions {
		width: 100%;
		text-align: right;
		padding: 10px 0;
		border-top: 1px solid #DADADA;
		margin-top: 60px;
	}

	#no-date-form, #edit-date-form, #view-date-form {
		min-height: 480px;
		padding: 0 20px;
		position: relative;
	}

	#edit-date-form {
		textarea.session-other_info {
			width: 95%;
		}
		#day-name {
			width: 95%;
		}
		.label-no-break {
			display: inline;
		}
		.session-form-actions {
			margin-top: 50px;
		}
		#warning-strip {
			.warning-text {
				padding-top: 5px;
				display: block;
				float: none;
				margin-left: 50px;
			}
		}
	}
	#view-date-form {

		.day-location > i {
			background: url('../../../themes/spt/images/webinar/sprite-icons.png') no-repeat scroll -19px -38px transparent !important;
			width: 14px;
			height: 37px;
			display: block;
			margin-right: 14px;
			margin-left: 6px;
			float: left;
		}

		.day-title .name-label,
		.day-title .description-label{
			margin: 0;
		}

		.day-title .description-label{
			color: black;
			font-weight: normal;
		}

		.session-form-actions {
			//bottom: 0;
			//right: 0;
			//position: absolute;
			margin-top: 130px;
		}
	}

	.view-date-form-actions input[type="button"] {
		margin-right: 10px;
		&.edit-btn {
			background: rgb(4, 101, 172);
			color: #FFF;
			text-shadow: 1px 1px #306430;
		}
	}

	#copy-date-box {
		padding: 10px;
		border: 1px solid #DADADA;
		position: relative;
		margin-top: 17px;
		table td input.datepicker {
			width: 150px;
		}
	}

	#sessionForm-evaluation {

	}

	.modal-footer {
		display: none;
	}
}

$lightBlue: #0465AC;
$lightGreen: #5EBE5C;

// LEARNER VIEW:
#dates-listing {
	.session-name {
		color: $lightBlue;
	}

	.timer-to-begin, .timer-to-end{
		font-size: 18px;

		>span{
			font-weight: bold;
		}
	}

	#warning-strip-evaluation .warning-text {
		padding-top: 15px;
	}
	#dates-listing {
		.date-row {
			border-bottom: 1px solid #ccc;
			padding: 5px 5px 0;
			margin-top: 5px;
		}
		.date-row.headers {
			font-weight: bold;
			.row-fluid [class*="span"] {
				min-height: 25px;
			}
		}
		.date-row.date.collapsed {
			.details {
				display: none;
			}
			.arrow {
				background: url('../../../themes/spt/images/dropdown-arrow-open.png') no-repeat right center;
			}
		}
		.date-row.date {
			.arrow {
				width: 13px;
				height: 8px;
				margin-top: 7px;
				margin-right: 10px;
				background: url('../../../themes/spt/images/dropdown-arrow-close.png') no-repeat right center;
				cursor: pointer;
			}
			.webinar-label {
				display: inline-block;
				padding: 5px 10px;

				&.label-blue{
					background-color: $lightBlue;
				}
				&.label-green{
					background-color: $lightGreen;
				}
			}
			.details {
				padding: 40px 5px 20px 5px;

				.name {
					font-weight: normal;
					color: $lightBlue;
				}
				.description {

				}
			}
		}
	}
}