.modal-create-webinar-session #must-complete-count {
  margin-left: 58px;
  margin-top: 8px; }
.modal-create-webinar-session #additional-completion {
  margin-left: 58px; }
.modal-create-webinar-session #additional-completion label{
  display: inline-block;
  padding-left: 5px; }
.modal-create-webinar-session .session-form-actions {
  width: 100%;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #DADADA;
  margin-top: 60px; }
.modal-create-webinar-session #no-date-form, .modal-create-webinar-session #edit-date-form, .modal-create-webinar-session #view-date-form {
  min-height: 480px;
  padding: 0 20px;
  position: relative; }
.modal-create-webinar-session #edit-date-form textarea.session-other_info {
  width: 95%; }
.modal-create-webinar-session #edit-date-form #day-name {
  width: 95%; }
.modal-create-webinar-session #edit-date-form .label-no-break {
  display: inline; }
.modal-create-webinar-session #edit-date-form .session-form-actions {
  margin-top: 50px; }
.modal-create-webinar-session #edit-date-form #warning-strip .warning-text {
  padding-top: 5px;
  display: block;
  float: none;
  margin-left: 50px; }
.modal-create-webinar-session #view-date-form .day-location > i {
  background: url("../../../themes/spt/images/webinar/sprite-icons.png") no-repeat scroll -19px -38px transparent !important;
  width: 14px;
  height: 37px;
  display: block;
  margin-right: 14px;
  margin-left: 6px;
  float: left; }
.modal-create-webinar-session #view-date-form .day-title .name-label,
.modal-create-webinar-session #view-date-form .day-title .description-label {
  margin: 0; }
.modal-create-webinar-session #view-date-form .day-title .description-label {
  color: black;
  font-weight: normal; }
.modal-create-webinar-session #view-date-form .session-form-actions {
  margin-top: 130px; }
.modal-create-webinar-session .view-date-form-actions input[type="button"] {
  margin-right: 10px; }
  .modal-create-webinar-session .view-date-form-actions input[type="button"].edit-btn {
    background: #0465ac;
    color: #FFF;
    text-shadow: 1px 1px #306430; }
.modal-create-webinar-session #copy-date-box {
  padding: 10px;
  border: 1px solid #DADADA;
  position: relative;
  margin-top: 17px; }
  .modal-create-webinar-session #copy-date-box table td input.datepicker {
    width: 150px; }
.modal-create-webinar-session .modal-footer {
  display: none; }

#dates-listing .session-name {
  color: #0465AC; }
#dates-listing .timer-to-begin, #dates-listing .timer-to-end {
  font-size: 18px; }
  #dates-listing .timer-to-begin > span, #dates-listing .timer-to-end > span {
    font-weight: bold; }
#dates-listing #warning-strip-evaluation .warning-text {
  padding-top: 15px; }
#dates-listing #dates-listing .date-row {
  border-bottom: 1px solid #ccc;
  padding: 5px 5px 0;
  margin-top: 5px; }
#dates-listing #dates-listing .date-row.headers {
  font-weight: bold; }
  #dates-listing #dates-listing .date-row.headers .row-fluid [class*="span"] {
    min-height: 25px; }
#dates-listing #dates-listing .date-row.date.collapsed .details {
  display: none; }
#dates-listing #dates-listing .date-row.date.collapsed .arrow {
  background: url("../../../themes/spt/images/dropdown-arrow-open.png") no-repeat right center; }
#dates-listing #dates-listing .date-row.date .arrow {
  width: 13px;
  height: 8px;
  margin-top: 7px;
  margin-right: 10px;
  background: url("../../../themes/spt/images/dropdown-arrow-close.png") no-repeat right center;
  cursor: pointer; }
#dates-listing #dates-listing .date-row.date .webinar-label {
  display: inline-block;
  padding: 5px 10px; }
  #dates-listing #dates-listing .date-row.date .webinar-label.label-blue {
    background-color: #0465AC; }
  #dates-listing #dates-listing .date-row.date .webinar-label.label-green {
    background-color: #5EBE5C; }
#dates-listing #dates-listing .date-row.date .webinar-label.label-black {
  background-color: #333; }
#dates-listing #dates-listing .date-row.date .details {
  padding: 40px 5px 20px 5px; }
#dates-listing #dates-listing .date-row.date .details .name {
  font-weight: normal;
  color: #0465AC; }
.webinarAdditionalInfo{
  display: inline-block;
  position: relative;
  margin-left: 130px;
  width: 500px;
  height: 50px;
  margin-bottom: -20px;
}
.webinarAdditionalInfoLeft{
  display: inline-block;
  position: absolute;
  left: 0;
  top: 17px;
  font-family:FontAwesome;
  font-size: 28px;
  color: #0465AC;
  width: 30px;
}
.webinarAdditionalInfoRight{
  display: inline-block;
  position: absolute;
  left: 30px;
  top: -2px;
  width: 450px;
  height: 50px;
  line-height: 50px;
}

.webinarAdditionalInfoRight span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*# sourceMappingURL=sessionForm.css.map */
