.dashlets-cell.span8 .dashlet.mydashboard\.widgets\.DashletAdminKPIs .span6 {
    width: 47% !important;
    display: inline-block !important;
}
.dashlets-cell.span4 .dl-content .knob-label {
    white-space: pre-wrap !important;
    word-wrap: break-word;
}
.dashlets-cell.span6 .dl-content .knob-label{
    margin-top: 19px !important;
    white-space: pre-wrap !important;
    word-wrap: break-word;
}
@media screen and (min-width: 1200px) {
    .dashlets-cell.span12 .dashlet.mydashboard\.widgets\.DashletAdminKPIs .span6{
        width: 29% !important;
        margin-left: 4% !important;
    }
}
@media (max-width: 1199px) and (min-width: 767px) {
    .dashlets-cell.span12 .dashlet.mydashboard\.widgets\.DashletAdminKPIs .span6{
        width: 25% !important;
        margin-left: 6% !important;
    }
}
@media (max-width: 979px) and (min-width: 736px) {
    .dashlets-cell.span12.dashlets-cell .span12 .dashlet.mydashboard\.widgets\.DashletAdminKPIs .span6{
        width: 27% !important;
        display: inline-table !important;
    }
}

@media (max-width: 735px) {
    .dashlets-cell.span12 .dashlet.mydashboard\.widgets\.DashletAdminKPIs .span6{
        width: 70% !important;
        display: inline-block !important;
        margin-left: 5px !important;
    }
}