@CHARSET "UTF-8";

.mydashboard {

}

.fa.mydashboard {
	display: block;
}

/** Change a bit the Bootstrap, to make forms more compact (form-horizontal, hr,...) for Dashlet settings!  **/
.form-horizontal .dashlet-settings-html .control-group {
	margin-bottom: 10px;
}

.form-horizontal .dashlet-settings-html .control-label {
	text-align: left;
	width: 120px;
}

.form-horizontal .dashlet-settings-html .controls {
	margin-left: 120px;
}

.dashlet-settings-html hr {
	margin: 2px 0px;
}

.catalog-left-sidebar {
    width: 196px;
    float: left;
}

.catalog-left-sidebar h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
}

.catalog-left-sidebar > div {
    margin-bottom: 30px;
}

/** vvv RECOVER CSS from Quartz modifications, back to Bootstrap defaults **/

	/* UL, OL */
	.mydashboard .dl-content ul,
	.mydashboard .dl-content ol {
		padding: 0;
		margin: 0 0 10px 25px;}

	.mydashboard .dl-content ol{
		list-style-type: decimal;}
	.mydashboard .dl-content ul{
		list-style-type: disc;
	}

    .mydashboard .dl-content ul.fancytree-container {
        margin: 0px;
    }

    .mydashboard .dl-content ul.fancytree-container ul {
        margin: 0px 0px 0px 10px;
    }

    .mydashboard .dl-content ul.top-rated-courses {
        list-style-type: none;
        margin: 0px;
    }

    .mydashboard .top-rated-courses li span.index {
        color: #333333;
        background-color: white;
        font-size: 22px;
        width: 16px;
        text-align: left;
        font-weight: 600;
    }

    .mydashboard .top-rated-courses li span.course-image {
        width: 37px;
        border: 1px solid #dadada;
    }

    .mydashboard .top-rated-courses li span.course-title {
        left: 56px;
        white-space: normal;
        overflow: visible;
    }

    .mydashboard .top-rated-courses li span.course-title a {
        font-size: 12px;
        line-height: 12px;
    }

    .mydashboard .top-rated-courses li {
        margin-bottom: 20px;
    }

    .mydashboard .star-type-rating div.star-rating {
        margin-right: 0px;
    }


/** ^^^ RECOVER CSS from Quartz modifications, back to Bootstrap defaults **/


.dashlets-cell {
	padding-bottom: 10px;
	margin-right: 0px!important;
}

.dashlet {
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	border: 0 none;
	background: rgba(0,0,0,0);
    word-wrap: break-word;
	margin-bottom: 0;} /** ^Fix only one line of text showing in the titles and HTML widgets^ **/

	.dashlet.dashlet-shadow {
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);
		box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15);}


	.dashlet .dl-header {
		padding: 5px 5px;}

		.dashlet .dl-header .dl-handles {
			/* visibility: hidden; */}

		.dashlet .dl-header:HOVER .dl-handles {
			/* visibility: visible; */}

		.dashlet .dl-header .dl-header-text {
			font-size: 18px;
			font-weight: 500;}

		.dashlet .dl-header .dl-handles {}


	.dashlet .dl-content {
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		background: #FFFFFF;
		padding: 12px;
		border: 1px solid #e4e6e5;
    }

		.dashlet .dl-content.reloading {
			overflow-y: hidden;
		}

		.dl-content .top-border {
			border-top: 1px solid #ccc;
		}
		.dl-content .bottom-border {
			border-top: 1px solid #ccc;
		}



	.dashlet .dl-footer {
		font-size: 12px;
		padding: 2px 0px;
	}

		.dashlet .dl-footer a {
			text-decoration: underline;
			font-size:12px;
		}

	.dashlet .dl-content .ajaxloader {
		left: 0px;
		padding: 0px;
		margin-top: 0px;
		margin-left: 50%;}


	.dashlet a,
	.dashlet a:ACTIVE,
	.dashlet a:HOVER,
	.dashlet a:VISITED {
 		text-shadow: none;
 	}

	.dashlet a:HOVER {
		text-decoration: underline !important;}

	.dashlet .course-tile a:HOVER {
		text-decoration: none !important;}




/** ADMIN **/


.mydashboard.admin {}

	.mydashboard.admin .dashlet .dl-content {
		border-top: none;
	}

	.mydashboard.admin .dashlets-row {
		margin-top: 30px;
	}

	.mydashboard.admin .row-layout-hint {
		float: left;
		font-size: 12px;
		margin-right: 8px;
		font-weight: 600;
		padding-top: 3px;
	}


	.mydashboard.admin .dashlets-sortable {
		min-height: 40px;
	}


	.mydashboard.admin .dashlets-row-inner-wrapper {
		background-color: #F1F3F2;
		padding: 10px 8px;
	}

	.mydashboard.admin .add-dashlet {
		padding: 40px 0px 40px 0px;
		background-color: #FFF;
		margin-top: 17px;
	}


	.mydashboard.admin .row-admin-header {
		padding: 9px 5px 5px 5px;
		cursor: move;
		border: 1px solid #ddd;
/* 		margin-bottom: 4px; */
	}

	.mydashboard.admin .clone-row {
		color: #333;
	}
	.mydashboard.admin .remove-row-button,
	.mydashboard.admin .remove-dashlet-button {
		color: red;
	}


	.mydashboard.admin .clone-row,
	.mydashboard.admin .remove-row-button,
	.mydashboard.admin .remove-dashlet-button,
	.mydashboard.admin .dashlet-settings-button {
		font-size: 14px;
	}

	.mydashboard.admin .clone-row .fa,
	.mydashboard.admin .remove-row-button .fa,
	.mydashboard.admin .dashlet-settings-button .fa,
	.mydashboard.admin .remove-dashlet-button .fa {
		border: 1px solid #ddd;
		padding: 5px;
	}

	.mydashboard.admin .dl-header {
		border-bottom: none;
		border: 1px solid #ddd;
		padding: 5px 10px 1px 4px;
		background-color: #fff;
		margin: 14px 0px 0px 0px;
	}

	.mydashboard.admin .dashlet .dl-content {
		padding: 7px;
	}

	.mydashboard.admin .dashlet .dl-header {
		cursor: move;
	}



/** We add 'mydashboard-admin' class to 'body' when in "admin mode" (done in the dashboard JS plugin upon initializg) */
.mydashboard-admin {
	background: #FFF !important;
}

	.mydashboard-admin .modal {
/* 		position: fixed; */
	}

		.mydashboard-admin .modal .modal-header h3 {
			padding-left: 0px;
		}

		.mydashboard-admin .modal-body {
			max-height: none;
    		overflow-y: auto;
    		padding: 21px 18px;
		}

		.mydashboard-admin .modal.create-dashlet-wizard  {
			width: 901px;
			margin-left: -450px;
			top: 5%;
		}

			.mydashboard-admin .modal.create-dashlet-wizard .modal-body {
				height: 660px;
			}

.modal.create-dashlet-wizard .modal-header h3 .i-sprite {
    margin-left: 0px;
}

	.mydashboard-admin .docebo .breadcrumb {
		background-color: #FFFFFF !important;
	}

	.mydashboard-admin .dashlet-settings-html {
	}
		.mydashboard-admin .dashlet-settings-html .dashlet-description   {
			margin-bottom: 20px;
		}

		.mydashboard-admin .dashlet-settings-html .dashlet-description div{
			padding-right: 25px;
		}

		.mydashboard-admin .dashlet-settings-html .dashlet-sample-image   {
			margin-bottom: 20px;
		}


		.mydashboard-admin .dashlet-settings-html .dashlet-specific-settings {
			margin-top: 0px;
		}

	.mydashboard-admin .dashlet-type-boxes {
	}

	.mydashboard-admin .dl-type-box {
		height: 100px;
		border: 1px solid #ccc;
		padding: 15px;
		position: relative;
		cursor: pointer;
	}

		.mydashboard-admin .dl-type-box.selected,
		.mydashboard-admin .dl-type-box:hover 	 {
			border: 2px solid #53ab53 !important;
			padding: 14px;
   		}

   		.mydashboard-admin .dl-type-box.disallowed {
   			opacity: 0.4;
    		filter: alpha(opacity=40); /* For IE8 and earlier */
    		cursor: default;
   		}

   		.mydashboard-admin .dl-type-box.disallowed:hover {
    		border: 2px solid #ccc !important;
   		}

		.mydashboard-admin .dl-type-box .dl-type-description {
			font-size: 12px;
    		line-height: 15px;
		}

		.mydashboard-admin .dl-type-box .dl-type-title {
			font-size: 14px;
    		margin-bottom: 6px;
		}

		.mydashboard-admin .dl-type-box .selection-mark {
			background-color: #53ab53;
    		bottom: 0;
    		opacity: 0.6;
    		padding: 3px;
    		position: absolute;
    		right: 0;
    		visibility: hidden;
    	}

    	.mydashboard-admin .dl-type-box.selected .selection-mark {
    		visibility: visible;
    	}

		.mydashboard-admin .dl-type-box .selection-mark .span {
			z-index: -1;
		}

	.mydashboard-admin .grid-view#dashboard-layouts-grid .layout-level-select {
	    font-size: 12px;
    	height: 27px;
    	margin: 0;
    	padding: 0 0 0 3px;
    	width: 120px;
	}

	.mydashboard-admin .grid-view#dashboard-layouts-grid .items td {
		height: 28px;
	}

    .mydashboard-admin .grid-view#dashboard-layouts-grid .items td:last-child {
        white-space: nowrap;
    }



.modal.edit-dashboard-layout,
.modal.delete-dashboard-layout  {
	width: 485px;
}

	.modal.edit-dashboard-layout .modal-body,
	.modal.delete-dashboard-layout  .modal-body  {
		padding: 30px;
	}

/** Styles global to frontend and backend **/
.mydashboard-admin ul.holder li.bit-box{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	background: #e4e6e5;
	padding: 5px 20px 5px 5px;
}
.mydashboard-admin ul.holder {
	min-height: 27px;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #fff;
}
.mydashboard-admin ul.holder li.bit-input input{
	height: auto;
}

.mydashboard-admin .social-services-wrapper .single-service{
	margin-bottom: 20px;
}
.mydashboard-admin .auto-sortable .setting{
/* 	margin-bottom: 10px; */
}
.knob-holder{
	margin-right: 10px;
}
.mykpis-icon-wrapper{
	width: 90px;
	text-align: center;
	min-height: 60px;
}
.dl-content .knob-label{
	margin-top: 20px;
}
.dashlets-cell.span1 .dl-content .knob-label,
.dashlets-cell.span2 .dl-content .knob-label,
.dashlets-cell.span3 .dl-content .knob-label,
.dashlets-cell.span4 .dl-content .knob-label,
.dashlets-cell.span5 .dl-content .knob-label,
.dashlets-cell.span6 .dl-content .knob-label{
	margin-top: 19px;

	white-space: nowrap;
}
.dl-content .knob-row{
	padding-top: 12px;
	padding-bottom: 12px;
}

.dl-content .portlet{
	margin: 8px 0px 0px 0px;
}

.dashlet .dl-content .mykpis-block{
	padding-top: 10px;
	padding-bottom: 10px;
}
.dashlet .dl-content .mykpis-block .left-padded{
	margin-left: 90px;
}
.dashlet .dl-content .mykpis-block .green{
	color: rgb(108, 194, 103);
}
.dashlet .dl-content .mykpis-block .red{
	color: #F20300;
}
.dashlet .dl-content .mykpis-block .large-number{
	font-size: 30px;
}
.dashlet .dl-content .block-head{
	color: #0765AB;
}
.dashlet .dl-content .block-head.spaced{
	margin-top: 15px;
}
.dashlet .dl-content .block-head.tight{
	margin: 0;
}
.dashlet .dl-content .block-separator{
	height: 1px;
	background: #E4E4E4;
	margin-bottom: 10px;
	margin-top: 10px;
}
/* Some specific stuff depending on the column width: */
.dashlets-cell.span8 .mykpis-block, .dashlets-cell.span12 .mykpis-block{
	width: 50%;
	float: left;
}
.dashlets-cell.span8 .block-separator, .dashlets-cell.span12 .block-separator{
	clear: both;
}
.dashlets-cell.span4 .mykpis-block, .dashlets-cell.span6 .mykpis-block{
 	border-bottom: 1px solid #E4E4E4;
	margin-bottom: 10px;
}
.dashlets-cell.span4 .mykpis-block:last-of-type, .dashlets-cell.span6 .mykpis-block:last-of-type{
	border-bottom: none;
}
/* :end of specific stuff related to column width */
.mykpis-course-name-hover{
	/* "background-url" is set in the view via PHP */
	width: 16px;
	height: 16px;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	line-height: 30px;
	margin-left: 5px;
}
.score-holder{
	font-size: 30px;
}
.score-holder .green{
	color: rgb(108, 194, 103);
}

/******************************************************************/
/******************** User profile dashlet >>> ********************/
/******************************************************************/
.dashlet-specific-settings #additional-fields-select{
	position: relative;
}
/******************************************************************/
/******************** <<< User profile dashlet ********************/
/******************************************************************/


/******************************************************************/
/******************** Social dashlet >>> **************************/
/******************************************************************/
.dashlet-specific-settings #selected-services{
	position: relative;
}
/******************************************************************/
/******************** <<< Social dashlet **************************/
/******************************************************************/


/******************************************************************************************************/
/*******************************  MY COURSES DASHLET **************************************************/
/***vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv***/


.dashlet-specific-settings  #selected-sorting-fields {
	position: relative;
}

.form-horizontal div#selected-sorting-fields select.hidden {
	display: none;
}


/** Filter row  **/
.w-mycourses {

}

.w-mycourses .mycourses_ar .span6,
.w-mycourses .mycourses_fa .span6,
.w-mycourses .mycourses_he .span6 {
	float: left;
	padding-left: 20px;
}

.w-mycourses .course-list.tb .w-mycourses-label {
    margin: 6px 16px 20px 17px;
    width: 97%;
}

.w-mycourses .course-list .w-mycourses-label {
    margin: 30px 0px 20px 0px;
    width: 100%;
}

.w-mycourses-label {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    clear: both;
}

@media (max-width: 767px) {
    .w-mycourses-label {
        margin: 10px 0px 20px 0px;
        width: 100%;
    }

    .w-mycourses-label.row-fluid [class*="span"] {
        float: left;
    }

    .w-mycourses-label.row-fluid .span1 {
        width: 6.382978723404255%;
    }

    .w-mycourses-label.row-fluid .span11 {
        width: 91.48936170212765%;
        margin-left: 2.127659574468085%;
    }
}

@media (max-width: 650px) {
    .w-mycourses-label .icon > i {
        font-size: 1em;
    }
}

.w-mycourses-label .label-container {

}
.w-mycourses-label .label-icon {
	display: block;
	float: left;
	text-align: center;
	width:50px;
	height: 50px;
	margin-top:2px;
	line-height: 59px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.w-mycourses-label .label-title {
	padding-left:60px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    padding-bottom: 3px;
}

.w-mycourses-label .description {
	padding-left:60px;
	line-height: 16px;
	font-size: 12px;
}

.w-mycourses .dashlet-pager .dashlet-pager-next,
.w-mycourses .dashlet-pager .dashlet-pager-prev {
	background-color: #f1f3f2;
	margin-left: 10px;
	padding: 10px;
	float: right;
	cursor: pointer;
}

.w-mycourses .course-list {

}

	.w-mycourses .filter-header {
		position: relative;
		margin-bottom: 20px;
/* 		color: #333; */
		min-height: 33px;
	}

		.w-mycourses .filter-header .categories-button {
			cursor: pointer;
			height: 23px;
			background-color: #f1f3f2;
			float: left;
			padding: 5px 22px;
			margin-left: 0px;
			margin-right: 5px;
		}

        .w-mycourses .filter-header .categories-button.selected {
            background-color: #333333;
            color: #FFFFFF;
        }

		.w-mycourses .filter-header .filters-button {
			cursor: pointer;
			height: 23px;
			background-color: #f1f3f2;
			float: left;
			padding: 5px 22px;
			margin-left: 0px;
		}

		.w-mycourses .filter-header .search-button {
			cursor: pointer;
			height: 23px;
			background-color: #0466A7;
			color: #FFF;
			padding: 5px 10px;
			margin-right: 0px;
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 50;
		}
		.w-mycourses .filter-header .search-button::before {
			position: absolute;
			top: 9px;
			left: -10px;
			display: inline-block;
			border-top: 7px solid rgba(4, 102, 167, 0);
			border-right: 12px solid rgb(4, 102, 167);
			border-bottom: 7px solid rgba(4, 102, 167, 0);
			content: '';
		}
		.w-mycourses .filter-header .search-field {
			width: 100%;
		}
			.w-mycourses .filter-header .search-field input {
				width: 97%;
				height: 31px;
				padding: 0px 0px 0px 3px;
				margin-bottom: 0px;
			}
			.mydashboard.armydash .w-mycourses .filter-header .search-field input,
			.mydashboard.hemydash .w-mycourses .filter-header .search-field input,
			.mydashboard.famydash .w-mycourses .filter-header .search-field input {
				width: 91%;
				padding-right: 6%;
			}
			.mydashboard.armydash .dashlets-cell.span6 .w-mycourses .filter-header .search-field input,
			.mydashboard.hemydash .dashlets-cell.span6 .w-mycourses .filter-header .search-field input,
			.mydashboard.famydash .dashlets-cell.span6 .w-mycourses .filter-header .search-field input {
				width: 84%;
				padding-right: 13%;
			}
			.mydashboard.armydash .dashlets-cell.span4 .w-mycourses .filter-header .search-field input,
			.mydashboard.hemydash .dashlets-cell.span4 .w-mycourses .filter-header .search-field input,
			.mydashboard.famydash .dashlets-cell.span4 .w-mycourses .filter-header .search-field input {
				width: 77%;
				padding-right: 20%;
			}
			.mydashboard.armydash .dashlets-cell.span8 .w-mycourses .filter-header .search-field input,
			.mydashboard.hemydash .dashlets-cell.span8 .w-mycourses .filter-header .search-field input,
			.mydashboard.famydash .dashlets-cell.span8 .w-mycourses .filter-header .search-field input {
				width: 87%;
				padding-right: 10%;
			}
			.w-mycourses .filter-header .search-field input::-ms-clear {
				display: none;
			}
			.w-mycourses .filter-header .search-field button.clear-search {
				right                       : 51px;
			    opacity                     : 0.6;
			    filter                      : alpha(opacity = 60);
			    position                    : absolute;
			    top                         : 7px;
			}
		.w-mycourses .filter-header .display-style-switch {
			cursor: pointer;
			height: 23px;
			background-color: #f1f3f2;
			padding: 5px 10px;
			margin-right: 10px;
			width: 17px;
			position: absolute;
			right: 35px;
			top: 0px;
		}

		.w-mycourses.onethird .filter-header .display-style-switch {
			display: none;
		}

		@media ( max-width : 768px) {
			.w-mycourses .filter-header .display-style-switch {
				display: none;
			}
		}

		.w-mycourses .filter-header.search-activated .categories-button {
			display: none;}

		.w-mycourses .filter-header.search-activated .filters-button {
			display: none;}
		.w-mycourses .filter-header.search-activated .display-style-switch {
			display: none;}
		.w-mycourses .filter-header .search-field {
			display: none;
		}
		.w-mycourses .filter-header .search-button::before {
			display: none;
		}
		.w-mycourses .filter-header.search-activated .search-button::before {
			display: inline-block;}

		/*
		.w-mycourses .filter-header.search-activated .search-field {
			display: block;}
		*/


		.w-mycourses .course-list.tb .course-info .extra-course-info {
			float: right;
		}

		.w-mycourses .course-list .course-info .extra-course-info .fa {
			color: #666 !important;
		}

		.w-mycourses .course-list.tb .course-info .deadline {
			display: block;
			margin-left: 0px;
			height: 20px;
		}

		.w-mycourses .course-list .course-info .deadline {
			margin-left: 10px;
		}


	.w-mycourses .filters-selector {
		display: none;
		background-color: #f1f3f2;
		padding: 15px;
	}
	.w-mycourses .filters-selector label.radio {
		margin-top: 7px;
	}

	.w-mycourses .filters-selector hr {
		margin: 8px 0px;
	}


	.w-mycourses .filters-selector::before {
		position: absolute;
		top: 51px;
		left: 34px;
		display: inline-block;
		border-right: 20px solid rgba(241, 243, 242, 0);
		border-bottom: 20px solid rgb(241, 243, 242);
		border-left: 20px solid rgba(241, 243, 242, 0);
		content: '';
	}
	.w-mycourses .filters-selector.with-categories-selector::before {
		left: 100px;
	}


	.w-mycourses .categories-selector {
		display: none;
		background-color: #f1f3f2;
		padding: 15px;
	}
	.w-mycourses .categories-selector label.radio {
		margin-top: 7px;
	}
	.w-mycourses .categories-selector hr {
		margin: 8px 0px;
	}
	.w-mycourses .categories-selector::before {
		position: absolute;
		top: 51px;
		left: 28px;
		display: inline-block;
		border-right: 20px solid rgba(241, 243, 242, 0);
		border-bottom: 20px solid rgb(241, 243, 242);
		border-left: 20px solid rgba(241, 243, 242, 0);
		content: '';
	}



/************************************/
/****** Non-Media (LIST views) ******/
/************************************/

.w-mycourses .course-tile .course-action .action-label {
	padding: 2px 6px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
}




.w-mycourses .course-tile {
  position: relative;
  margin-bottom: 15px; }

  .w-mycourses .course-list .course-tile .course-action .course-tags {
  	vertical-align: bottom;
	margin: 0;
	padding: 0;
	line-height: 29px;
	float: left;
	display: inline;}

  .w-mycourses .course-list .course-tile .thumb .course-tags {
    position: absolute;
    top: 0px;
    right: 10px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	display: none;}

  .w-mycourses .course-list .course-tile .course-tag {
  	float: right;
	padding: 3px 4px 1px 4px;}

  .w-mycourses .course-tile .course-tags .tag-new {
	color: white;
	background-color: #65BB60;}

  .w-mycourses .course-tile .course-tags .tag-adminonly {
	color: white;
	background-color: #666;}

  .w-mycourses .course-tile .course-tags .tag-moderated {
	color: white;
	background-color: #FF5D26;}

  .w-mycourses .course-tile .course-tags .tag-closed {
	color: white;
	background-color: #666;}

  .bg#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .hr#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .nl#mydashboard .w-mycourses .course-tile .course-tags .tag-closed {
	  font-size: 12px;
  }

  .de#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .el#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .ja#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .pt-br#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .sl#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .tr#mydashboard .w-mycourses .course-tile .course-tags .tag-closed {
	  font-size: 10px;
  }

  .pt#mydashboard .w-mycourses .course-tile .course-tags .tag-closed {
	  font-size: 11px;
  }

  .id#mydashboard .w-mycourses .course-tile .course-tags .tag-closed,
  .ru#mydashboard .w-mycourses .course-tile .course-tags .tag-closed {
	  font-size: 9px;
  }

  .w-mycourses .course-tile .course-logo .thumb {
    float: left;
	border: 0px;
    width: 60px;
    height: 60px; }
  .w-mycourses .course-tile .course-logo img {
    margin: 0 auto;
    max-width: 60px;
    max-height: 60px; }
  .w-mycourses .course-tile .course-logo .course-action {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0px 0px 3px 0px;
    overflow: hidden;
    height: 30px; }

    .w-mycourses .course-list.full .course-tile .course-logo .course-action.completed,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.enroll,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.locked,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.play,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.waiting
    {
		min-width: 100px;
		text-align: center;
    }
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.completed .action-label,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.enroll .action-label,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.locked .action-label,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.play .action-label,
    .w-mycourses .course-list.full .course-tile .course-logo .course-action.waiting .action-label
    {
		text-align: center;
    	float: none;
    }
    .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action.completed .action-label,
    .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action.enroll .action-label,
    .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action.locked .action-label,
    .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action.play .action-label,
    .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action.waiting .action-label
    {
    	float: left;
    	text-align: left;
    }

    .w-mycourses .course-tile .course-logo .course-action.completed,
    .w-mycourses .course-tile .course-logo .course-action.enroll {
      color: #ffffff;
      background: #65BB60; }
    .w-mycourses .course-tile .course-logo .course-action.locked {
      color: #ffffff;
      background: #666666; }
    .w-mycourses .course-tile .course-logo .course-action.play {
      color: #ffffff;
      background: #0465AC; }
    .w-mycourses .course-tile .course-logo .course-action.waiting {
      color: #ffffff;
      background: #FF5D26; }
    .w-mycourses .course-tile .course-logo .course-action .price {
      font-weight: bold;
      line-height: 26px;
      font-size: 16px;
      padding: 0px 2px 0px 2px; }
    .w-mycourses .course-tile .course-logo .course-action .icon {
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height: 30px;
      padding: 0;
      text-align: center;
      font-size: 18px; }
    .w-mycourses .course-tile .course-logo .course-action .action-label {
      display: none;}
  .w-mycourses .course-tile .course-logo h3 {
    padding: 5px 0 5px 0px;
    margin: 0 0 0 70px;
    font-size: 13px;
/*     color: #333333; */
    text-align: left; }
  .w-mycourses .course-tile .course-info {
    font-size: 12px;
    padding: 20px 0 5px 70px;
    border-bottom: 1px solid #E4E6E5; }
	.w-mycourses .course-tile:last-of-type .course-info{
		border-bottom: none;
	}
  .w-mycourses .course-list.tb .course-tile .course-info{
	  border-bottom: none;
	  border-top: 1px solid #E4E6E5;
      padding: 5px 10px;
  }
.w-mycourses .course-tile .clearfix {
    height: 0px;
}

/***********************/
/**** MEDIA QUERIES ****/
/***********************/


@media (min-width: 768px) {
  /** Hide course tags for all "tb" IN course-action area **/
  .w-mycourses .course-list.tb .course-tile .course-action .course-tags {
	display: none;}

  .w-mycourses .course-list.tb .course-tile .thumb .course-tags {
	display: inline;
  }

}

@media (max-width: 767px) {

	.mydashboard {
		padding: 10px;
		margin: 0px 5px;
	}

	.w-mycourses .course-list.tb .course-info .extra-course-info {
		float: none;
	}

	/** Show action label when width is less than 768 **/
    .w-mycourses .course-tile .course-logo .course-action .action-label {
		display: inline-block;
		width: 90px;
		text-align: center;}

    /** Hide action icon when width is less than 768 **/
	.w-mycourses .course-tile .course-logo .course-action .icon,
	.w-mycourses .course-list.tb .course-tile .course-logo .course-action .icon {
		visibility: hidden !important;
		width: 0px  !important;
		float: none !important;
	}

	/** Also, hide course tags in the thumbnail **/
	.w-mycourses .course-list .course-tile .thumb .course-tags {
	 	display: none;
	}

	/** Switch the border **/
	.w-mycourses .course-list.tb .course-tile .course-info {
	  border-top: none;
	  border-bottom: 1px solid #E4E6E5;
		padding: 20px 0 5px 70px;
	}

	.w-mycourses .catalog-with-sidebar .catalog-left-sidebar {
		display: none;
	}

	/** take care of tile tooltips **/
	.w-mycourses .course-list.half.tb .course-tile .course-action-locked-reason,
	.w-mycourses .course-list.twothird.tb .course-tile .course-action-locked-reason,
	.w-mycourses .course-list.full.tb .course-tile .course-action-locked-reason {
		left: initial;
		top:60px;
		height: 0px;
		position: absolute;
		right: 0px;
		width: 150px;
		background: #666666;
		background: rgba(102, 102,102, 0.8);
		color: #FFF;
		padding: 4px 10px;
		margin: 0 170px 0 0;
		visibility: hidden;
	}
	.w-mycourses .course-list.half.tb .course-tile:hover .course-action-locked-reason,
	.w-mycourses .course-list.twothird.tb .course-tile:hover .course-action-locked-reason,
	.w-mycourses .course-list.full.tb .course-tile:hover .course-action-locked-reason {
		visibility: visible;
		top:10px;
		height: 50px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
	}

	.w-mycourses.twothird .my-catalog-filters-right input.course-field-datepicker {
		/*width: 100% !important;*/
	}

	.w-mycourses.onethird .my-catalog-filters-right input.course-field-datepicker {
		width: 94% !important;
	}

	.w-mycourses.onethird .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.onethird .my-catalog-filters-right label.control-label,
	.w-mycourses.onethird .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.onethird .my-catalog-filters-right .datepickers.input-append.date {
		width: 100%;
	}

	.w-mycourses.onethird .my-catalog-filters-right a.remove-advanced-filter-link {
		margin-top: 8px!important;
	}

	.w-mycourses.onethird div.course-field-textfield-input-remove a.remove-advanced-filter-link,
	.w-mycourses.onethird div.course-date-field-filter-remove-container a.remove-advanced-filter-link {
		position: relative;
		top: 42px;
	}

	.w-mycourses.onethird .my-catalog-filters-right div.course-date-field-filter-remove-container,
	.w-mycourses.onethird .my-catalog-filters-right div.course-field-textfield-input-remove {
		width: 16px!important;
	}

	.w-mycourses.onethird .my-catalog-filters-right div#add-course-field-condition-container {
		display: inline-block;
		width: 16px;
	}

	.w-mycourses.onethird .my-catalog-filters-right div.select-statement-container {
		width: 90%;
		display: inline-block;
	}

}


/**********************/
/***** FULL WIDTH *******/
/**********************/

/** non-query, but relevant to dashlet width **/
.w-mycourses .course-list.full .course-tile .course-logo .course-action .action-label {
    display: inline-block;
    float: left;
    line-height: 30px;
}
.w-mycourses .course-list.full .course-tile .course-logo .course-action .icon {
    visibility: hidden;
    width: 0px;}
.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon {
	visibility: visible;
    width: 30px;
    float: left; }





@media (min-width: 768px) {
	.w-mycourses .catalog-without-sidebar .course-list.tb.full {
		margin-left: 0;
	}

    .w-mycourses .catalog-left-sidebar {
        width: 180px;
        float: left;
    }

    .w-mycourses .catalog-with-sidebar .course-list.full {
        width: 68%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .course-list.tb.full {
        width: 73%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .catalog-left-sidebar span.fancytree-title {
        font-size: 12px;
    }

  .w-mycourses .course-list.tb.full {
    margin: 0 -14px;
    /* common tile data, i need to repea them because the usage of tile versus list change based on block size*/ }
    .w-mycourses .course-list.tb.full .course-tile {
      width: 137px;
      margin: 0 14px 14px; }
    .w-mycourses .catalog-with-sidebar .course-list.tb.full .course-tile {
        margin: 0 6px 14px;
    }
    .w-mycourses .course-list.tb.full .course-tile .course-logo .thumb {
        float: none;
        width: 135px;
        height: 137px; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo img {
        max-width: 135px;
        max-height: 137px; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        top: 112px; }
    .w-mycourses .course-list.tb.full .course-tile {
      float: none;
		display: inline-block;
		vertical-align: top;
      overflow: hidden; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        right: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        text-align: right; }
        .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon {
          float: left; }
        .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label {
          display: inline;
          font-size: 13px;
          line-height: 30px;
          text-transform: uppercase; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo h3 {
        padding: 10px 0;
        margin: 0;
        height: 34px;
        overflow: hidden;
        font-size: 13px; } }

@media (max-width: 979px) and (min-width: 768px)
{
	.w-mycourses .catalog-without-sidebar .course-list.tb.full {
		margin-left: 0;
	}

	.w-mycourses .course-list.half .course-tile .course-logo .course-action .action-label
	{
		width: auto;
		padding: 2px 10px 2px 8px;
	}

	.w-mycourses .course-list.onethird .course-tile .course-logo
	{
		min-height: 60px;
	}

	.w-mycourses .course-list.onethird .course-tile .course-info
	{
		padding-left: 0px;
		padding-top: 10px;
	}

	.w-mycourses .course-list.onethird .course-tile .course-logo .course-action.enroll.buy .icon
	{
		height: 25px;
		width: 25px;
	}

	.w-mycourses.onethird .my-catalog-filters-right input.course-field-datepicker {
		width: 80% !important;
	}

	.w-mycourses.onethird .my-catalog-filters-left select#label_id {
		width: 100%;
	}

	.w-mycourses.full .my-catalog-filters-right  .datepicker.course-field-datepicker {
		width: 75%;
	}

	.w-mycourses.twothird .my-catalog-filters-left select#label_id {
		width: 90%;
	}
}


@media (min-width: 992px) {

	.w-mycourses .catalog-without-sidebar .course-list.tb.full {
		margin-left: 0;
	}

    .w-mycourses .catalog-with-sidebar .course-list.full {
        width: 75%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .course-list.tb.full {
        width: 79%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .course-list.tb.full .course-tile {margin: 0 11px 20px;}

    .w-mycourses .course-list.tb.full {
    margin: 0 -20px;
    /* common tile data, i need to repea them because the usage of tile versus list change based on block size*/ }
    .w-mycourses .course-list.tb.full .course-tile {
      width: 137px;
      margin: 0 20px 20px; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo .thumb {
        float: none;
        width: 135px;
        height: 137px; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo img {
        max-width: 135px;
        max-height: 137px; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        top: 112px; }
    .w-mycourses .course-list.tb.full .course-tile {
      float: none;
		display: inline-block;
		vertical-align: top;
      overflow: hidden; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        right: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        text-align: right; }
        .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon {
          float: left; }
        .w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label {
          display: inline;
          font-size: 13px;
          line-height: 30px;
          text-transform: uppercase; }
      .w-mycourses .course-list.tb.full .course-tile .course-logo h3 {
        padding: 10px 0;
        margin: 0;
        height: 34px;
        overflow: hidden;
        font-size: 13px; }

	.w-mycourses.onethird .my-catalog-filters-right input.course-field-datepicker {
		width: 90%;
	}
}



@media (min-width: 1200px) {
	.w-mycourses .catalog-without-sidebar .course-list.tb.full {
		margin-left: 0;
	}

    .w-mycourses .catalog-left-sidebar {
        width: 200px;
    }

    .w-mycourses .catalog-with-sidebar .course-list.full {
        width: 78%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .course-list.tb.full {
        width: 81%;
        float: right;
    }

    .w-mycourses .catalog-with-sidebar .catalog-left-sidebar span.fancytree-title {
        font-size: 13px;
    }

  .w-mycourses .course-list.tb.full {
    margin: 0 -17px;
    /* common tile data, i need to repea them because the usage of tile versus list change based on block size*/ }
    .w-mycourses .course-list.tb.full .course-tile {
		width: 188px;
		border: 1px solid #e4e6e5;
		margin: 0 13px 17px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .thumb {
		float: none;
		width: 186px;
		height: 188px; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo img {
        max-width: 188px;
        max-height: 188px; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        top: 160px; }
    .w-mycourses .course-list.tb.full .course-tile {
      float: none;
		display: inline-block;
		vertical-align: top;
      overflow: hidden; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action {
        right: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        text-align: right; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon {
          float: left; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label {
          display: inline;
          font-size: 13px;
          line-height: 30px;
          text-transform: uppercase; }
	.w-mycourses .course-list.tb.full .course-tile .course-logo h3 {
        padding: 10px 0;
        margin: 0;
        height: 34px;
        overflow: hidden;
        font-size: 13px; }
	.w-mycourses .course-list.tb.twothird .course-tile {
		border: 1px solid #e4e6e5;
		margin: 0 19px 20px;}
	.w-mycourses .course-list.tb.half .course-tile {
		border: 1px solid #e4e6e5;
		margin: 0 14px 20px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo h3, .w-mycourses .course-list.tb.twothird .course-tile .course-logo h3, .w-mycourses .course-list.tb.half .course-tile .course-logo h3 {
		padding: 10px 10px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon, .w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon, .w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {
		margin-left: 4px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label, .w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .action-label, .w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .action-label {
		margin-right: 5px;}

	.w-mycourses.onethird .my-catalog-filters-right input.course-field-datepicker {
		width: 89% !important;
	}

	.w-mycourses.full .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.full .my-catalog-filters-right label.control-label,
	.w-mycourses.full .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.full .my-catalog-filters-right .datepickers.input-append.date,
	.w-mycourses.onethird .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.onethird .my-catalog-filters-right label.control-label,
	.w-mycourses.onethird .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.onethird .my-catalog-filters-right .datepickers.input-append.date {
		width: 100%;
	}

	.w-mycourses.full .my-catalog-filters-right  .datepicker.course-field-datepicker {
		width: 87%!important;
	}
}


/**********************/
/***** TWOTHIRD *******/
/**********************/

/** non-query, but relevant to dashlet width **/
.w-mycourses .course-list.twothird .course-tile .course-logo .course-action .action-label {
	display: inline-block;
	width: 90px;
	text-align: center;}
.w-mycourses .course-list.twothird .course-tile .course-logo .course-action .icon {
    visibility: hidden;
    width: 0px;}
.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon {
	visibility: visible;
    width: 30px;
    float: left; }


@media (min-width: 768px) {

	.w-mycourses.twothird .catalog-with-sidebar .catalog-left-sidebar {
		display: none;
	}

	.w-mycourses .course-list.tb.twothird {
		margin: 0 -20px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		width: 181px;
		margin: 0 20px 14px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .thumb {
		float: none;
		width: 181px;
		height: 181px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo img {
		max-width: 181px;
		max-height: 181px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		top: 154px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		float: none;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.twothird.tb .course-tile .course-action-locked-reason { top: 160px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.twothird.tb .course-tile:hover .course-action-locked-reason { top: 110px; }
}

@media (min-width: 768px) and (max-width: 1200px) {
	.w-mycourses .course-list.tb.full .course-tile {border: 1px solid #e4e6e5; margin: 0 17px 20px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo img {max-width: 137px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo h3 {padding: 14px 10px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon {margin-left: 3px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label {margin-right: 3px;}
	.w-mycourses .course-list.tb.twothird .course-tile {border: 1px solid #e4e6e5;}
	.w-mycourses .course-list.tb.half .course-tile {border: 1px solid #e4e6e5; margin: 0 19px 20px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .icon, .w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon, .w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {margin-left: 4px;}
	.w-mycourses .course-list.tb.full .course-tile .course-logo .course-action .action-label, .w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .action-label, .w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .action-label {margin-right: 5px;}
	.w-mycourses .course-list.tb.twothird .course-tile .course-logo h3, .w-mycourses .course-list.tb.half .course-tile .course-logo h3 {padding: 10px 10px;}

	.w-mycourses .course-list.full.tb .course-tile .course-action-locked-reason { top: 115px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.half.tb .course-tile .course-action-locked-reason { top: 160px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.twothird.tb .course-tile .course-action-locked-reason { top: 160px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.full.tb .course-tile:hover .course-action-locked-reason { top: 65px; }
	.w-mycourses .course-list.half.tb .course-tile:hover .course-action-locked-reason { top: 110px; }
	.w-mycourses .course-list.twothird.tb .course-tile:hover .course-action-locked-reason { top: 110px; }
}


@media (min-width: 768px) and (max-width: 992px) {
	.w-mycourses .course-list.tb.full .course-tile {border: 1px solid #e4e6e5; margin: 0 11px 20px;}


	.w-mycourses.twothird .my-catalog-filters-right input.course-field-datepicker {
		width: 64% !important;
	}

	.w-mycourses .course-list.tb.full .course-tile {border: 1px solid #e4e6e5; margin: 0 11px 20px;}

	.w-mycourses .course-list.full.tb .course-tile .course-action-locked-reason { top: 115px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.full.tb .course-tile:hover .course-action-locked-reason { top: 65px; }
}

@media (min-width: 980px) {
	.w-mycourses.full .my-catalog-filters-right  .datepicker.course-field-datepicker {
		width: 83%;
	}
}

@media (min-width: 992px) {


	.w-mycourses.twothird .my-catalog-filters-right input.course-field-datepicker {
		width: 76% !important;
	}







	.w-mycourses .course-list.tb.twothird {
		margin: 0 -11px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		width: 120px;
		margin: 0 9px 20px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .thumb {
		float: none;
		width: 120px;
		height: 120px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo img {
		max-width: 120px;
		max-height: 120px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		top: 92px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		float: left;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.twothird.tb .course-tile .course-action-locked-reason { top: 95px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.twothird.tb .course-tile:hover .course-action-locked-reason { top: 45px; }
}

@media (min-width: 1200px) {

	.w-mycourses .catalog-with-sidebar .course-list.tb.twothird .course-tile {
		margin: 0 13px 20px;
	}

	.w-mycourses .catalog-with-sidebar .course-list.tb.twothird {
		width: 75%;
		float: right;
	}

	.w-mycourses .catalog-with-sidebar .course-list.twothird {
		width: 70%;
		float: right;
	}

	.w-mycourses.twothird .catalog-with-sidebar .catalog-left-sidebar {
		display: block;
	}

	.w-mycourses .course-list.tb.twothird {
		margin: 0 -20px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		width: 144px;
		margin: 0 18px 20px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .thumb {
		float: none;
		width: 144px;
		height: 144px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo img {
		max-width: 144px;
		max-height: 144px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		top: 115px;
	}

	.w-mycourses .course-list.tb.twothird .course-tile {
		float: left;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.twothird .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.twothird.tb .course-tile .course-action-locked-reason { top: 115px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.twothird.tb .course-tile:hover .course-action-locked-reason { top: 65px; }
}


/**********************/
/***** HALF WIDTH *****/
/**********************/

/** non-query, but relevant to dashlet width **/
.w-mycourses .course-list.half .course-tile .course-logo .course-action .action-label {
	display: inline-block;
	width: 90px;
	text-align: center;}
.w-mycourses .course-list.half .course-tile .course-logo .course-action .icon {
    visibility: hidden;
    width: 0px;}
.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {
	visibility: visible;
    width: 30px;
    float: left; }

@media (max-width: 767px) {
	.w-mycourses.twothird .select-statement-container,
	.w-mycourses.full .select-statement-container,
	.w-mycourses.half .select-statement-container {
		display: inline-block;
		width: 91%;
	}

	.w-mycourses.twothird #add-course-field-condition-container,
	.w-mycourses.full #add-course-field-condition-container,
	.w-mycourses.half #add-course-field-condition-container {
		display: inline-block!important;
		width: 16px;
	}

	.w-mycourses.twothird .span3-label,
	.w-mycourses.full .span3-label,
	.w-mycourses.half .span3-label {
		display: inline-block;
		width: 20%;
		float: left;
		margin-left: 0;
		margin-right: 0;
	}

	.w-mycourses.twothird .dropdown-span9,
	.w-mycourses.full .dropdown-span9,
	.w-mycourses.half .dropdown-span9 {
		display: inline-block;
		width: 78%;
		margin-left: 0;
		margin-right: 0;
	}

	.w-mycourses.twothird .dropdown-span11,
	.w-mycourses.full .dropdown-span11,
	.w-mycourses.half .dropdown-span11 {
		width: 91%;
		display: inline-block;
	}

	.w-mycourses.twothird .course-field-select-condition-container,
	.w-mycourses.full .course-field-select-condition-container,
	.w-mycourses.half .course-field-select-condition-container {
		width: 32%;
		display: inline-block;
	}

	.w-mycourses.twothird .course-date-field-filter-container,
	.w-mycourses.twothird .course-field-textfield-span8,
	.w-mycourses.full .course-date-field-filter-container,
	.w-mycourses.full .course-field-textfield-span8,
	.w-mycourses.half .course-date-field-filter-container,
	.w-mycourses.half .course-field-textfield-span8 {
		width: 64%;
		display: inline-block;
	}

	.w-mycourses.twothird .datepicker.course-field-datepicker,
	.w-mycourses.full .datepicker.course-field-datepicker,
	.w-mycourses.half .datepicker.course-field-datepicker {
		width: 89%!important;
	}

	.w-mycourses.twothird .dropdown-course-field-select,
	.w-mycourses.full .dropdown-course-field-select,
	.w-mycourses.half .dropdown-course-field-select {
		width: 98%!important;
	}

	.w-mycourses.twothird .course-date-field-filter-remove-container,
	.w-mycourses.twothird .dropdown-span1,
	.w-mycourses.twothird .course-field-textfield-input-remove,
	.w-mycourses.full .course-date-field-filter-remove-container,
	.w-mycourses.full .dropdown-span1,
	.w-mycourses.full .course-field-textfield-input-remove,
	.w-mycourses.half .course-date-field-filter-remove-container,
	.w-mycourses.half .dropdown-span1,
	.w-mycourses.half .course-field-textfield-input-remove {
		display: inline-block;
		width: 16px;
	}

	.w-mycourses.twothird .course-date-field-filter-container .date-picker-widget-container,
	.w-mycourses.full .course-date-field-filter-container .date-picker-widget-container,
	.w-mycourses.half .course-date-field-filter-container .date-picker-widget-container {
		position: relative;
		top: 2px;
	}

	.w-mycourses.twothird .course-date-field-filter-remove-container a.remove-advanced-filter-link,
	.w-mycourses.twothird .dropdown-span1 a.remove-advanced-filter-link,
	.w-mycourses.twothird .course-field-textfield-input-remove a.remove-advanced-filter-link,
	.w-mycourses.full .course-date-field-filter-remove-container a.remove-advanced-filter-link,
	.w-mycourses.full .dropdown-span1 a.remove-advanced-filter-link,
	.w-mycourses.full .course-field-textfield-input-remove a.remove-advanced-filter-link,
	.w-mycourses.half .course-date-field-filter-remove-container a.remove-advanced-filter-link,
	.w-mycourses.half .dropdown-span1 a.remove-advanced-filter-link,
	.w-mycourses.half .course-field-textfield-input-remove a.remove-advanced-filter-link {
		position: relative;
		top: 5px;
	}

	.w-mycourses.twothird .left-right-separator,
	.w-mycourses.full .left-right-separator,
	.w-mycourses.half .left-right-separator {
		display: block;
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.w-mycourses.twothird .left-right-separator,
	.w-mycourses.full .left-right-separator {
		margin-bottom: 30px;
	}

	.w-mycourses.twothird .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.twothird .my-catalog-filters-right label.control-label,
	.w-mycourses.twothird .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.twothird .my-catalog-filters-right .datepickers.input-append.date,
	.w-mycourses.full .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.full .my-catalog-filters-right label.control-label,
	.w-mycourses.full .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.full .my-catalog-filters-right .datepickers.input-append.date {
		width: 100%;
	}

}

@media (min-width: 768px) {

	.w-mycourses.half .catalog-left-sidebar {
		display: none!important;
	}

	.w-mycourses .course-list.tb.half {
		margin: 0 -5px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.half .course-tile {
		width: 139px;
		margin: 0 5px 15px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .thumb {
		float: none;
		width: 139px;
		height: 139px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo img {
		max-width: 139px;
		max-height: 139px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		top: 112px;
	}

	.w-mycourses .course-list.tb.half .course-tile {
		float: none;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.half.tb .course-tile .course-action-locked-reason { top: 115px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.half.tb .course-tile:hover .course-action-locked-reason { top: 65px; }

	.w-mycourses.half .my-catalog-filters-right input.course-field-datepicker {
		width: 73% !important;
	}


}

@media (min-width: 992px) {
	.w-mycourses .course-list.tb.half {
		margin: 0 -15px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.half .course-tile {
		width: 183px;
		margin: 0 15px 15px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .thumb {
		float: none;
		width: 183px;
		height: 183px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo img {
		max-width: 183px;
		max-height: 183px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		top: 155px;
	}

	.w-mycourses .course-list.tb.half .course-tile {
		float: none;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.half.tb .course-tile .course-action-locked-reason { top: 160px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.half.tb .course-tile:hover .course-action-locked-reason { top: 110px; }


	.w-mycourses.half .my-catalog-filters-right input.course-field-datepicker {
		width: 81% !important;
	}


}

@media (min-width: 1200px) {

	.w-mycourses .course-list.tb.half {
		margin: 0 -18px;
		/* common tile data, i need to repea them because the usage of tile versus list change based on block size*/
	}

	.w-mycourses .course-list.tb.half .course-tile {
		width: 145px;
		margin: 0 17px 18px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .thumb {
		float: none;
		width: 145px;
		height: 145px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo img {
		max-width: 145px;
		max-height: 145px;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		top: 117px;
	}

	.w-mycourses .course-list.tb.half .course-tile {
		float: none;
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action {
		right: auto;
		bottom: auto;
		left: 0;
		width: 100%;
		text-align: right;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .icon {
		float: left;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo .course-action .action-label {
		display: inline;
		font-size: 13px;
		line-height: 30px;
		text-transform: uppercase;
	}

	.w-mycourses .course-list.tb.half .course-tile .course-logo h3 {
		padding: 10px 0;
		margin: 0;
		height: 34px;
		overflow: hidden;
		font-size: 13px;
	}


	.w-mycourses .course-list.half.tb .course-tile .course-action-locked-reason { top: 115px; margin: 0; padding: 4px 10px;}
	.w-mycourses .course-list.half.tb .course-tile:hover .course-action-locked-reason { top: 65px; }


	.w-mycourses.half .my-catalog-filters-right input.course-field-datepicker {
		width: 83% !important;
	}


}


/***^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^***/
/*******************************  MY COURSES DASHLET **************************************************/
/******************************************************************************************************/




/*******************************************************************************/
/********************* Calendar dashlet ****************************************/
/*******************************************************************************/


.calendar-listview {}

.mydashboard .dl-content .calendar-listview ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

	.mydashboard .dl-content li.calendar-event {
		padding:4px 0 6px;
		margin:6px 0;
		border-bottom:1px solid #e4e6e5;
	}
	.calendar-date {
		line-height: 48px;
		font-size: 12px;
		font-weight: bold;
	}

	.calendar-event h3 {
		line-height: 22px;
		font-size: 13px;
		font-weight: normal;
		text-decoration: underline;
	}
		.calendar-listview .calendar-event .calendar-type {
			color:#ffffff;
			padding:1px 4px;
			font-size: 12px;
		}
		.calendar-listview .calendar-event .calendar-type-elearning {background: #29AD63;}
		.calendar-listview .calendar-event .calendar-type-classroom {background: #E47F27;}
		.calendar-listview .calendar-event .calendar-type-webinar,
		.calendar-listview .calendar-event .calendar-type-conference {background: #0B64A8;}


.dl-content .fc{
	/* border: 1px solid #ccc; */
}

.dl-content .fc-day-content {
	display: none;
}

.dl-content .fc-header-left{
	display: none;
}
.dl-content .fc-header{
	margin-bottom: 6px;
}

.dl-content .fc-header-title h2{
	font-size: 18px;
	margin-top: 4px;
	font-weight: 500;
}
.dl-content .fc-button-prev,
.dl-content .fc-button-next{
	background: none;
	border: none;
	box-shadow: none;
	margin: 0;
}
.dl-content .fc-button-prev{
	float: left;
}
.dl-content .fc-button-next{
	float: right;
}
.calendar-calview table {
	font-size:12px;
}

.dl-content .fc-button-next .fc-text-arrow,
.dl-content .fc-button-prev .fc-text-arrow{
	background:url(/themes/spt/images/i-sprite.png) no-repeat;
	display:inline-block;*display:inline;zoom:1;vertical-align:middle;
	font-size: 0px;
}
.dl-content .fc-button-prev .fc-text-arrow{
	background-position:-50px -1862px;
	width:20px;
	height:18px;
}
.dl-content .fc-button-next .fc-text-arrow{
	background-position:-50px -524px;
	width:20px;
	height:18px;
}
.dl-content .fc .fc-header-center{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: normal;
}
.dl-content .fc-border-separate tr.fc-first th.fc-day-header{
	background: #5A5A5A;
	color: white;
	border: 0;
}
.dl-content .fc-day{
	position: relative;
	vertical-align: middle;
	text-align: center;
	background: #F2F2F2;
	color: #5A5A5A;
}
.dl-content .fc-day.fc-state-highlight{
	background: #0B64A8;
	color: white;
}
.dl-content .fc-day.fc-other-month{
	background: white;
	color: #BABABA;
}
.dl-content .fc-grid .fc-day-number{
	float: none;
}
.dl-content .fc-day.hasEvents{
	cursor: pointer;
}
.dl-content .fc-day.hasEvents .top-right-arrow{
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: transparent #0B64A8 transparent transparent;
}
.tooltipevent
{
	width:215px;
	background:#ffffff;
	position:absolute;
	z-index:1001!important;
	border:1px solid #cccccc;
	padding:10px;
	-webkit-box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
	-moz-box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
	box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
	border-radius: 10px;
}

.tooltipevent .close
{
	width:10px;
	height:10px;
	position:absolute;
	top:14px;
	right:14px;
	cursor:pointer;
	opacity:1;
	filter:alpha(opacity=100)
}

.tooltipevent .date
{
	font-weight:bold;
}

.tooltipevent .time
{

}

.tooltipevent .link
{
	text-decoration:underline;
	color:#0062ab;
}

.tooltipevent .duedate
{
	background-color:#e6801e;
	color:#ffffff;
	font-weight:bold;
	padding:6px;
}

.tooltipevent .location
{

}

.tooltipevent .triangle
{
	position:absolute;
	bottom:-23px;
	left: 0;
	text-align: center;
}
/********************************************************/
/**************^^^^CALENDAR DASHLET^^^^******************/
/********************************************************/

/********************************************************/
/*******    >>> My Learning Plans dashlet  >>>   ********/
/********************************************************/

/* Most of the CSS is inherited from the My Courses dashlet */
.w-mycourses .course-list .lp-label.long{
	/*
	Hide the "Learning Plan" label/text below
	the thumbnail and show an abbreviated version: "LP"
	by default
	*/
	display: none;
}
.w-mycourses .course-list.tb .lp-label.short{
	/*
	The class ".tb" is added in "thumbnail" layout.
	Hide the short version in this case, and show
	the long version of the label
	"LP" => "Learning Plan"
	*/
	display: none;
}
.w-mycourses .course-list.tb .lp-label.long{
	display: inline;
}

.w-learningplans.no-search .search-button{
	display: none;
}
.w-learningplans.no-search .display-style-switch{
	/* When the "search" button is hidden, the layout
	switcher should move to the right most edge to fill up
	the blank space left by the "search" button */
	right: 0;
	margin-right: 0;
}
.w-learningplans.no-filter-no-switch .display-style-switch,
.w-learningplans.no-filter-no-switch .filters-button{
	display: none;
}
/* Hide the full header/filtering row if neither the filter nor
the search bar are selected to be visible from the dashlet options */
.w-learningplans.no-search.no-filter-no-switch .filter-header{
	display: none;
}
/********************************************************/
/*******    <<< My Learning Plans dashlet  <<<   ********/
/********************************************************/

/********************************************************/
/*************    My Blog dashlet    ********************/
/********************************************************/
.dashlet-blog-post-image img{
	max-width: 100px; margin-top: 7px; margin-right: 20px;
}


.dashlet-specific-settings .setting .setting-handle {
	display: none;
}
.dashlet-specific-settings .setting:hover .setting-handle  {
	display: inline-block;
}

.dashlet-specific-settings .setting.prevent-sortable .setting-handle  {
	display: none !important;
}


.dashlet-specific-settings .setting  {
	padding: 7px 7px 7px 7px;
	background: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.dashlet-specific-settings .setting:hover  {
	background: #eee;
}


.dashlet-specific-settings .setting-row  {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}


/* because I am genius */
.dashlet-specific-settings .setting-row + .setting-row {
	border-top: 0px;
}

.dashlet-specific-settings .setting .checkbox span.jq-checkbox {
	margin-right: 13px;
}

/********************************************************/
/*************    Catalog dashlet with rows    **********/
/********************************************************/
.w-mycourses .view-more-box {
    height: 30px;
    border-top: 1px solid #dadada;
    position: relative;
}

.w-mycourses .view-more-box p {
    position: absolute;
    color: #ffffff;
    background: #08c;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0px 12px 0px 12px;
    overflow: hidden;
    line-height: 30px;
    cursor: pointer;
}

.w-mycourses-label .label-icon.back-to-catalogs, .w-mycourses-label .label-icon.back-to-labels {
    cursor: pointer;
}

.w-mycourses .catalog-row {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .w-mycourses .course-list.tb .w-mycourses-label {margin: 6px 16px 20px 1px;  width: 100%;}


	.w-mycourses.half .my-catalog-filters-right div.date-picker-widget-container.form-inline,
	.w-mycourses.half .my-catalog-filters-right label.control-label,
	.w-mycourses.half .my-catalog-filters-right .datepickers.input-append.date div,
	.w-mycourses.half .my-catalog-filters-right .datepickers.input-append.date {
		width: 100%;
	}

	.w-mycourses.half .my-catalog-filters-right input.course-field-datepicker {
		/*width: 94% !important;*/
	}

}

@media (min-width: 768px) {
    .w-mycourses .course-list.tb .w-mycourses-label {width: 95%;}
    .w-mycourses .course-list.tb.half .w-mycourses-label {margin: 6px 16px 20px 20px; width: 93%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb .w-mycourses-label {margin: 6px 16px 20px 7px;  width: 95%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .w-mycourses-label {margin: 6px 16px 20px 21px;  width: 90%;}
    .w-mycourses .catalog-with-sidebar .course-list.full .catalog-row .course-tile:nth-child(5) {display: none;}
    .w-mycourses .catalog-with-sidebar .course-list.full .catalog-row .course-tile:nth-child(4) {display: none;}
    .w-mycourses .course-list.tb.twothird .catalog-row .course-tile:nth-child(4) {display: none;}
    .w-mycourses .course-list.tb.twothird .catalog-row .course-tile:nth-child(3) {display: none;}
    .w-mycourses .course-list.tb.twothird .catalog-row .course-tile:nth-child(5) {display: none;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .catalog-row .course-tile:nth-child(5) {display: none;}
    .w-mycourses .course-list.tb.half .catalog-row .course-tile:nth-child(4) {display: none;}
    .w-mycourses .course-list.tb.half .catalog-row .course-tile:nth-child(3) {display: none;}
    .w-mycourses .course-list.tb.half .catalog-row .course-tile:nth-child(5) {display: none;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.full .view-more-box {margin: 6px 14px 30px 8px;}
    .w-mycourses .catalog-with-sidebar .course-list.full .view-more-box {margin:6px 1px 30px 2px;}
    .w-mycourses .course-list.twothird .view-more-box {margin:6px 1px 30px 2px;}
    .w-mycourses .course-list.tb.twothird .view-more-box {margin:6px 1px 30px 21px; width: 90%;}
    .w-mycourses .view-more-box {margin: 6px 0px 30px 0px;}
}
@media (min-width: 992px) {
    .w-mycourses .catalog-with-sidebar .course-list.tb .w-mycourses-label {margin: 6px 16px 20px 15px; width: 94%;}
    .w-mycourses .catalog-with-sidebar .course-list.full .catalog-row .course-tile:nth-child(5) {display: none;}
	.w-mycourses .catalog-with-sidebar .course-list.full .catalog-row .course-tile:nth-child(4) {display: block;}
	.w-mycourses .catalog-with-sidebar .course-list.full.tb .catalog-row .course-tile:nth-child(4) {display: inline-block;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.full .view-more-box {margin: 6px 22px 30px 14px;}
    .w-mycourses .course-list.tb.twothird .catalog-row .course-tile:nth-child(3) {display: block;}
    .w-mycourses .course-list.tb.twothird .catalog-row .course-tile:nth-child(4) {display: block;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .catalog-row .course-tile:nth-child(4) {display: inline-block;}
    .w-mycourses .catalog-with-sidebar .course-list.full .view-more-box {margin: 6px 0px 30px 0px;}
    .w-mycourses .course-list.tb.twothird .view-more-box {margin: 6px 0px 30px 23px;  width: 94%;}
    .w-mycourses .course-list.twothird .view-more-box {margin: 6px 0px 30px -1px; width: 100%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .view-more-box {  margin: 6px 0px 30px 23px;  width: 93%; }
    .w-mycourses .course-list.tb.half .view-more-box {margin: 6px 0px 30px 15px; width: 92%;}
}

@media (min-width: 1200px) {
    .w-mycourses .course-list.tb .w-mycourses-label {width: 96%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb .w-mycourses-label {  margin: 6px 16px 20px 15px;  width: 96%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .w-mycourses-label {  margin: 6px 16px 20px 15px;  width: 94%;}
    .w-mycourses .catalog-with-sidebar .course-list.tb.twothird .catalog-row .course-tile:nth-child(4) {display: none;}
    .w-mycourses .course-list.tb.half .w-mycourses-label {  margin: 6px 16px 20px 19px;  width: 93%;}
    .w-mycourses .course-list.tb.half .catalog-row .course-tile:nth-child(3) {display: inline-block;}
    .w-mycourses .course-list.tb.half .view-more-box {margin: 6px 0px 30px 18px;  width: 93%;}
}

iframe
{
	border: 0px;
}

.mydashboard-apply-button,
.mydashboard-cancel-button{
	float: right;
	display: block;
	margin-right: 20px;
	padding: 10px 30px!important;
}

.mycourses-filter-form .fa-lg1 {
	font-size: 1.5em;
	margin-left: 6px;
}

.mycourses-filter-form .remove-advanced-filter-link {
	display: inline-block;
	height: 15px;
	width: 15px;
	margin-left: 6px;
	margin-top: 8px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: url(/themes/spt/images/icons_elements.png) -62px -230px no-repeat;
}

.mycourses-filter-form hr {
	width: 98%!important;
}

.mycourses-filter-form .course-field-datepicker {
	border: 1px solid #ccc;
	height: 23px;
	padding-left: 0;
	padding-right: 0;
}

.mycourses-filter-form .row-course-field input {
	height: 23px;
	border: 1px solid #ccc;
}

.mycourses-filter-form .row-course-field select {
	border-radius: 0;
	height: 33px;
	border: 1px solid #ccc;
}

.mycourses-filter-form .row-course-field label {
	margin-top: 5px;
}

.mycourses-filter-form #select_statement {
	border-radius: 0;
	height: 33px;
}

.mycourses-filter-form .datepickers.input-append.date {
	margin-top: -5px!important;
}

.course-field-textfield-input {
	width: 100%;
}

.left-right-separator {
	display: none;
}

/*  Dashlet course fields filter size 1/3  */
.w-mycourses.onethird .my-catalog-filters-left {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

.w-mycourses.onethird .my-catalog-filters-right {
	display: block;
	width: 100%;
	margin-left: 0;
}

.w-mycourses.onethird .mycourses-filter-form .row-course-field label {
	margin-bottom: 5px;
}

.w-mycourses.onethird .my-catalog-filters-right .span4.course-field-select-condition-container {
	display: block;
	width: 100%;
}

.w-mycourses.onethird .my-catalog-filters-right .datepicker.course-field-datepicker {
	padding-left: 0;
	padding-right: 0;
}

.w-mycourses.onethird .my-catalog-filters-right a.remove-advanced-filter-link {
	display: block;
	margin-top: 52px;
}

.w-mycourses.onethird .span1.dropdown-span1 a.remove-advanced-filter-link {
	margin-top: 8px;
}

.w-mycourses.onethird .my-catalog-filters-right .span8.course-field-textfield-span8,
.w-mycourses.onethird .my-catalog-filters-right .span8.course-date-field-filter-container {
	display: inline-block;
	float: left;
	margin-left: 0;
	width: 100%;
}

.w-mycourses.onethird .my-catalog-filters-right .span1.course-field-textfield-input-remove,
.w-mycourses.onethird .my-catalog-filters-right .span1.course-date-field-filter-remove-container {
	display: inline-block;
}

.w-mycourses.onethird .my-catalog-filters-right .span6.course-field-textfield-span6,
.w-mycourses.onethird .my-catalog-filters-right .span3-label {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-bottom: -5px;
}

.w-mycourses.onethird .span3.course-field-select-condition-container{
	margin-left: 0!important;
}

.w-mycourses.onethird .my-catalog-filters-right select,
.w-mycourses.onethird .my-catalog-filters-right input {
	margin-bottom: 10px;
}

.w-mycourses.onethird .course-field-select-condition,
.w-mycourses.onethird .span9.dropdown-span9,
.w-mycourses.onethird .span11.dropdown-span11 {
	margin-left: 0!important;
}

.w-mycourses.onethird .course-field-select-condition {
	width: 90%!important;
}

.w-mycourses.onethird .span9.dropdown-span9 {
	width: 100%!important;
}

.w-mycourses.onethird .span1.dropdown-span1 {
	display: inline-block;
	width: 16px;
}

.w-mycourses.onethird .span11.dropdown-span11 {
	display: inline-block;
	width: 88%!important;
}

.w-mycourses.onethird .span11.dropdown-span11 select {
	/*width: 82%!important;*/
	width: 100%!important;
}

.w-mycourses.onethird .course-field-dropdown-value {
	width: 100%!important;
	float: left;
	display: table-cell;
}

.w-mycourses.onethird .span3-label.course-date-field-filter-condition-container {
	display: table-row;
	width: 90%;
}

.w-mycourses.onethird .span6.course-date-field-filter-container .row-fluid {
	display: table-row;
	width: 90%;
}

.w-mycourses.onethird .span6.course-date-field-filter-container {
	display: table;
	width: 100%;
	margin-left: 0;
}

.w-mycourses.onethird .span1.course-date-field-filter-remove-container {
	margin-left: 0!important;
}

.w-mycourses.onethird hr {
	width: 95%;
}

.w-mycourses.half .left-right-separator,
.w-mycourses.onethird .left-right-separator {
	display: block;
	margin-top: 30px;
	margin-bottom: 0px;
}

.w-mycourses.onethird .mycourses-filter-form div.row-course-field {
	width: 100%!important;
}

/*  Dashlet course fields filter size 1/2  */
.w-mycourses.half .my-catalog-filters-left {
	display: block;
	margin-bottom: 20px;
	min-width: 320px;
	width: 100%;
}

.w-mycourses.half .my-catalog-filters-right {
	display: block;
	width: 99%;
	margin-left: 0;
}

/* Test conditions */
.span1.dropdown-span1,
.span1.course-date-field-filter-remove-container,
.span1.course-field-textfield-input-remove {
	margin-left: 0!important;
}

.span8.course-field-textfield-span8 input {
	padding-left: 0!important;
	padding-right: 0!important;
}

.row-fluid.row-course-field {
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
	.w-mycourses .course-list.tb .course-tile .course-logo .course-action .action-label {
		display: block !important;
	}
}

div.dashlet-settings-html select#lang_code {
	width: 150px!important;
}

div.dashlet-settings-html div.lang-wrapper div.stats {
	margin-left: 170px;
}


.w-mycourses .filter-header .display-style-switch {
	border: 1px solid #cccccc;
}

.w-mycourses .filter-header .display-style-switch-1 {
	right: 109px;
}

.w-mycourses .filter-header .display-style-switch-2 {
	right: 72px;
}

.w-mycourses .filter-header .display-style-switch-3 {
right: 35px;
}

.w-mycourses .filter-header .display-style-switch.dark {
	background-color: #333333!important;
	color: #ffffff!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-button-prev,
li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-button-next {
	float: none !important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-button-next .fc-text-arrow,
li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-button-prev .fc-text-arrow {
	margin: 0.1em;
	/*margin: 0;*/
	padding: 0;
	border: 0;
	font-size: 2em;
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline;
	background-image: none;
	bottom: 2px;
	position: relative;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .catalog-calendar-content {
	position: relative;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] #view_switch {
	top: 30px!important;
	position: absolute;
	right: 0px;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-day-content {
	display: block!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-grid .fc-day-number {
	float: right!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-day {
	position: static!important;
	vertical-align: top!important;
	text-align: right!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-day,
li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-day.fc-future {
	background-color: #FFFFFF!important;
	font-weight: bold!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-day.fc-other-month,
li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-day.fc-future.fc-other-month {
	background-color: #F1F3F2!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-day.fc-today.fc-state-highlight {
	background-color: #E7FDE8!important;
	color: #7EB87E!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-header-title h2 {
	font-weight: bold!important;
	font-size: 22px!important;
	margin-top: 0px!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content .fc-border-separate tr.fc-first th.fc-day-header {
	background: none!important;
	color: #000!important;
	border: 0;
	border-bottom: 1px solid #e8e8e8;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-event-title {
	color: #ffffff!important;
}

.tooltipevent .triangle
{
	left: 96px!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .mycalendar-btn {
	background-color: #f1f3f2 !important;
	background-image: none;
	color: #333333 !important;
	font-weight: bold !important;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75)!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .close-btn.mycalendar-btn-std {
	background-color: #666666 !important;
	color: #ffffff;
	background-image: none;
	font-weight: bold !important;
	text-shadow: 1px 1px #000000!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .mycalendar-btn-std{
	background-image: none!important;
	font-size: 12px !important;
	text-transform: uppercase!important;
	border: none!important;
	border-radius: 0!important;
	padding: 7px 10px!important;
	min-width: 98px!important;
	width: auto!important;
	text-align: center!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .view_switch {
	display: inline-block;
	margin-right: 10px;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .fc-header .fc-button {
	background: none!important;
	border: none!important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #333333;
}

.header-login-form input[type="text"], .header-login-form input[type="password"] {
	height: 20px!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-day {
	position: relative!important;
	vertical-align: middle!important;
	text-align: center!important;
	background: #F2F2F2!important;
	color: #5A5A5A!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-day.fc-other-month {
	background: #FFFFFF!important;
	color: #BABABA!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-day-number {
	float: none!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-header-title h2 {
	font-size: 18px!important;
	margin-top: 4px!important;
	font-weight: 500!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-next {
	float: right!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-next .fc-text-arrow {
	background: url('/themes/spt/images/i-sprite.png') -50px -524px no-repeat!important;
	width: 20px;
	height: 18px;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-prev {
	float: left!important;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-prev .fc-text-arrow {
	background: url('/themes/spt/images/i-sprite.png') -50px -1862px no-repeat!important;
	width: 20px;
	height: 18px;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-next .fc-text-arrow,
li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-button-prev .fc-text-arrow {
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	font-size: 0px;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.course-list:not(.tb) .catalog-row .course-tile {
	float: none!important;
}

li[class="dashlet plugin.TranscriptsApp.widgets.DashletTranscripts"] .dl-content{
	overflow: visible;
}

.dashlet > .row-fluid:last-of-type {
	min-height: 20px !important;
}