/* OVERRIDE PU KPIs Dashlet styles */
.plugin\.PowerUserApp\.widgets\.DashletPoweruserKPIs .mykpis-icon-wrapper {
    width: 60px!important;
    text-align: right!important;
}

.plugin\.PowerUserApp\.widgets\.DashletPoweruserKPIs .left-padded {
    margin-left: 65px!important;
}

.plugin\.PowerUserApp\.widgets\.DashletPoweruserKPIs .large-number {
    padding-top: 3px;
    margin: 0;
}
/*
.pukpi-text {
    margin: 0!important;
} */