#app-settings-form .control-group .span6 input[type=text],
#app-settings-form .control-group .span6 input[type=password]{
	width: 90%;
}
#app-settings-form .control-group .span6 .context{
	margin-top: 5px;
	font-size: 13px;
	color: #666666;
	font-weight: 600;
}