.modal{
  &.modal-splash-screen{
    width:750px;
    margin-left:-375px;
    z-index:10000;
    .modal-header,.modal-footer{display:none}
    .modal-body{
      padding:0;
      height:100%;
      max-height:100%;
      h2{
        color:#0465ac;
        font-size:20px;
        font-weight:normal;
      }
      .top{
        padding:23px 0 20px;
      }
    }

    .notice{
      margin-bottom:24px;
      background:#ffe59a;
      padding-top:17px;
      display:table;
      .icon{
        display:table-cell;
        text-align:right;
        width:48px;
        padding-right:18px;
        font-size:24px;
        vertical-align:top;
      }
      .text{
        display:table-cell;
        text-align:left;
        width:688px;
        vertical-align:top;
        p{
          margin:0 0 10px;
        }
      }
    }
    .description{
      display:table;
      padding:0 18px;
      margin-bottom:23px;
      .coach,.share{
        display:table-cell;
        padding: 0 20px;
        vertical-align:top;
      }
    }

    .contact{
      @include app7020-button(blue);
      font-size: 14px;
      height: 33px;
      line-height: 33px;
      min-width: 100px;
      box-shadow: none !important;
      margin-left:15px;
    }
    .schedule{
      @include app7020-button(red);
      font-size: 14px;
      height: 33px;
      line-height: 33px;
      min-width: 100px;
      box-shadow: none !important;
      margin-left:15px;
    }
    .button{
      .gotit{
        @include app7020-button(green);
        font-size: 14px;
        height: 33px;
        line-height: 33px;
        min-width: 100px;
        box-shadow: none !important;
      }
    }
  }
}