.lectora-settings .advanced-main{
	margin-left: 0;
}

.lectora-settings .row .setting-name{
	font-size: 17px;
	line-height: 1em;
}

.lectora-settings .row .setting-name .muted{
	color: grey;
	font-size: 13px;
	line-height: 18px;
	margin-top: 5px;
}

.lectora-settings .advanced-main input[type="text"]{
	width: 97%;
}

.lectora-settings .row.even{
	border-bottom: 1px solid #e5e5e5;
}

.lectora-settings .advanced-main .right{
	text-align: right;
}

.lo-create-lectora .icon-lectora{
	background: url("../images/lectora_icons.png") 0 0 no-repeat;
	width: 12px;
	height: 17px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	margin-right: 7px;
}

.lo-create-lectora:hover .icon-lectora{
	background-position: -18px 0px;
}

#add-lo-type-hint .icon-lectora{
	width: 40px;
	height: 40px;
	background-image: url("../images/lectora_icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.advanced-main .row select#lectora_category {
	width: 100%;
}

.advanced-main .row .account-data p.account-data-label {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 1px;
}
.advanced-main .row .account-data div.account-data-value,
.advanced-main .row .account-data p.account-data-value {
	font-size: 13px;
	margin-bottom: 21px;
}

.advanced-main .row .account-data .fa.fa-circle {
	font-size: 7px;
	margin-right: 3px;
}
.advanced-main .row .account-data .fa.fa-eye,
.advanced-main .row .account-data .fa.fa-eye-slash {
	font-size: 14px;
	margin-left: 6px;
	color: #0465AC;
	cursor: pointer;
}
.advanced-main .row .account-data div.password-container,
.advanced-main .row .account-data div.password-toggler {
	display: inline-block;
}
.advanced-main .row .account-data div.password-container.hide-value .value {
	display: none;
}
.advanced-main .row .account-data div.password-container.show-value .fa-circle {
	display: none;
}