@CHARSET "UTF-8";

.shopify-icon, a:hover .shopify-icon, .shopify-icon-settings {
	background: url('../images/shopify_icon_sprite.png') no-repeat;
	overflow: hidden;
	display: inline-block;
	width: 23px;
	height: 21px;
	vertical-align: middle;
	margin-left: 7px;
}

a:hover .shopify-icon, a:hover .shopify-icon-settings, .white {
	background-position: 0px -21px;
}

.shopify-icon-settings {
	margin-left: 2px;
}

.advanced-main.shopify-settings {
	margin-left: 0;
}

.advanced-shopify-settings-form-title {
	display: inline-block;
	position: relative;
	top: 10px;
	font-size: 18px;
	font-weight: 600;
}

.shopify-icon-settings {
	margin-left: 0 !important;
}

/* learning plans edit settings */
#lp-shopify .price_label {
	margin-right: 12px;
}

#lp-shopify .input-append input[readonly].price-input {
	cursor: not-allowed;
	background-color: #eeeeee;
}

#sync-courses-error {
	font-weight: bold;
	color: red;
}

div#buttonSynchNow {
	margin-left: 0;
	padding-left: 0;
}
div#buttonSynchNow input#replicateCourses {
	margin-top: 4px;
}

.modal.modal-reset-settings-dialog {
	width: 450px;
	margin-left: -225px;
}

.row .setting-name{
	color: #333333;
}

.row .setting-name .setting-description{
	color: #999999;
	margin-top: 5px;
}

.advanced-main .row input.inputLarge {
	width: 400px;
}