/* 
    Created on : 15.03.2016, 17:12:01
    Author     : Kristian
*/

#questionsApp{
	span.tagged-name {
		color: #0456ac;
		font-weight: bold;
	}
	.other-information-wrapper{
		width: 100%;
		padding-top: 46px;
		display: table;
		box-sizing: border-box;
		.questions-wrapper,
		.answers-wrapper,
		.settings-button-wrapper{
			display: table-cell;
			vertical-align: middle;
			width: 1%;
		}
		.questions-wrapper,
		.answers-wrapper{
			white-space: nowrap;
			padding-right: 40px;
			font-size: 15px;
			.count{
				color: #0456ac;
				font-weight: 700;
			}
			.suffix{
				color: #333;
			}
		}
		.settings-button-wrapper{
			text-align: right;
			font-size: 35px;
			color: #999;
			width: auto;
			.fa{
				cursor: pointer;
			}
		}
	}
	.items-wrapper{
		.questionBoxModel{
			@extend %questionBoxModel;
		}
	}
}