#myAnswerBlank {
	padding-top:40px;
	text-align:center;
	.icon-comments-alt:before {
		content: "\f0e6";
	}
	h1 {
		font-size: 27px;
	}
	.customDropdown-widget.peerReviewDropdown {
		position: absolute;
		right: -50px;
		top: -1px;
	}
	.customDropdown-widget .wrapper .listArray {
		display:block;
		z-index: 10;
	}
	.listArray li {
		text-align:left;
	}
	.grayLineLi {
		padding-top: 5px;
		padding-bottom: 5px;
		background: #fff;
	}
	.fakeLi {
		height: 25px;
		background: #FFF;
	}
	.grayLineLi a {
		width: 100px;
		background: #E0E0E0;
		height: 13px;
		float: left;
	}
	.comments-icon {
		display: inline-block;
		line-height: 50px;
		background: #F5F5F5;
		color: #C8C8C8;
		font-size: 100px;
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: bottom;
		margin-bottom: 40px;
	}
	.subtitle {
		font-size: 18px;
		padding-top: 10px;
		color:#787878 ; 
		font-weight:normal;
	}
	.grayLines {
		margin-bottom:30px;
		position:relative;
	}
	.grayLine {
		width: 300px;
		position:relative;
		height: 13px;
		background: #E0E0E0 ;
		margin: 0 auto;
		margin-bottom: 7px;
	}
	.grayLine.bottom {
		margin-bottom:20px;
	}
}