/* 
    Created on : 16.03.2016, 13:23:52
    Author     : Kristian
*/

body.questionsApp{
	background: #F5F5F5;
	> .container{
		width: 100%;
		box-sizing: border-box;
		> .menu-spacer{
			margin-left: 50px;
			#header{
				padding: 0 50px;
				background: #fff;
				.header-logo-line{
					margin: 0;
					padding-bottom: 12px;
				}
			}
			#navigation{
				.breadcrumb{
					padding: 8px 50px;
					margin: 0;
				}
			}
			#footer{
				margin-top: 30px;
			}
		}
	}
}
#questionsApp{
	@extend %tab-navigation;
	.tab-navigation{
		position: relative;
	}
	.app7020BootstrapTabsExtended{
		padding: 0 50px;
		background: #fff;
		li{
			a{
				display: block;
				font-size: 14px;
				font-weight: 700;
				height: 63px;
				line-height: 63px;
				padding: 0 33px;
				text-decoration: none;
				text-transform: uppercase;
			}
			&.active{
				a{
					color: #0456ac;
				}
			}
		}
	}
	.add-question-button{
		position: absolute;
		width: 60px;
		height: 60px;
		right: 50px;
		bottom: -30px;
		background: #5EBE5D;
		text-align: center;
		line-height: 60px;
		color: #fff;
		cursor: pointer;
		outline: none;
		text-decoration: none;
		text-shadow: none;
		@include border-radius(50%);
		.fa-user{
			font-size: 15px;
		}
		.fa-comment-o{
			font-size: 32px;
		}
	}
	.master-content{
		padding: 0 50px;
	}
}
.boingInUp {
	-webkit-animation-name: boingInUp;
	animation-name: boingInUp;
	animation-duration: .5s;
}
.modal-backdrop{
	-webkit-animation-name: fadeInModal;
	animation-name: fadeInModal;
	animation-duration: .5s;
}
@-webkit-keyframes boingInUp {
	0% {
		opacity: 0;
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: perspective(900px) rotateX(-90deg);
	}
	100% {
		opacity: 1;
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: perspective(900px) rotateX(0deg);
	}
}
@keyframes boingInUp {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: perspective(900px) rotateX(-90deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(900px) rotateX(0deg);
	}
}
@-webkit-keyframes fadeInModal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}
@keyframes fadeInModal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

%questionBoxModel{
	background: #fff;
	margin-top: 30px;
	box-shadow: 0 2px 3px 0 #e2e2e2;
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 24px 24px 19px;
	position: relative;
	&:before{
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		bottom: 0;
		width: 0;
		background: transparent;
		@include transition(all .3s linear);
	}
	&:hover{
		&:before{
			background: #0465AC;
			width: 5px;
		}
		.content-wrapper{
			.customDropdown-widget{
				@include transition(opacity .3s linear);
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.avatar-wrapper{
		@extend %avatarStyle;
	}
	.content-wrapper{
		display: block;
		margin-left: 60px;
		width: auto;
		position:relative;
		a{
			text-decoration: none;
		}
		.following {
			float: right;
			position: absolute;
			right: 40px; 
			top: -4px; 
		}
		.customDropdown-widget{
			top: -10px;
			visibility: hidden;
			opacity: 0;
			.wrapper{
				border: 1px transparent solid;
				@include transition(border .1s linear);
				.awesomeIcon-dots{
					&:before{
						content: '\f141';
					}
					.listArray{
						&:before{
							content: "";
							display: block;
							height: 29px;
							left: -1px;
							position: absolute;
							top: -30px;
							width: 100%;
						} 
					}
				}
			}
			&:hover{
				.wrapper{
					border: 1px #e6e6e6 solid;
				}
			}
		}
		.title{
			font-weight: 600;
			font-size: 14px;
			color: #333;
			line-height: 16px;
			cursor: pointer;
			padding-bottom: 15px;
			margin-right: 50px;
			word-break: break-all;
			.prefix{
				font-weight: 400;
				display: inline-block;
			}
			.text{
				overflow: hidden;
				max-height: 32px;
				display: inline-block;
				vertical-align: top;
              p{
                margin: 0;
              }
			}
			.error-text{
				color: #E84C3F;
				cursor: default;
			}
			&:hover{
				color: #0456ac;
			}
			iframe{
				box-sizing: border-box;
				padding-right: 100px;
			}
		}
		.bestAnswer{
			display: table;
			width: 100%;
			box-sizing: border-box;
			border: 2px #5EBE5D solid;
			padding: 5px;
			word-break: break-all;
			.fa-wrapper{
				display: table-cell;
				vertical-align: middle;
				width: 44px;
				i{
					color: #5EBE5D;
					font-size: 28px;
					padding-left: 4px;
				}
			}
			.answer{
				display: table-cell;
				vertical-align: middle;
				.prefix{
					color: #5EBE5D;
					font-weight: 700;
					font-size: 13px;
					display: inline-block;
				}
				.text{
					color: #333;
					word-wrap: break-word;
					overflow: hidden;
					max-height: 72px;
					display: inline-block;
					vertical-align: top;
				}
              p {
                margin: 0;
              }
			}
		}
		.lastAnswer{
			word-break: break-all;
			.prefix{
				color: #0456ac;
				font-weight: 700;
				font-size: 13px;
				display: inline-block;
			}
			.answer{
				line-height: 16px;
				overflow: hidden;
				max-height: 64px;
				display: inline-block;
				vertical-align: top;
              p {
                margin: 0;
              }
			}
		}
		.footer{
			display: table;
			width: 100%;
			box-sizing: border-box;
			margin-top: 15px;
			.related,
			.author-wrapper,
			.views-wrapper,
			.time-wrapper,
			.answers-wrapper,
			.like-dislike-wrapper{
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				.text-label{
					white-space: nowrap;
				}
				p{
					margin: 0;
				}
			}
			.related{
				width: auto;
				font-size: 0;
				> span{
					cursor: pointer;
				}
				.image-wrapper{
					display: inline-block;
					text-align: center;
					line-height: 12px;
					font-size: 20px;
					width: 56px;
					height: 32px;
					img{
						width: 100%;
						font-size: 11px;
						color: #999;
						font-weight: 700;
						vertical-align: middle;
					}
					i{
						font-weight: 500;
						line-height: 32px;
						text-shadow: none;
					}
				}
				.text-wrapper{
					display: inline-block;
					line-height: 15px;
					vertical-align: top;
					font-size: 13px;
					padding-left: 11px;
					.prefix{
						display: block;
					}
					.link{
						display: block;
						text-decoration: underline;
						color: #0456ac;
					}
				}
			}
			.author-wrapper{
				padding-left: 15px;
				color: #999;
				.name{
					text-decoration: underline;
					color: #0456ac;
					cursor: pointer;
				}
			}
			.views-wrapper{
				padding-left: 40px;
				color: #999;
			}
			.time-wrapper{
				padding-left: 40px;
				color: #999;
			}
			.answers-wrapper{
				padding-left: 40px;
				text-transform: uppercase;
				font-weight: 700;
				.no-answers{
					color: #999;
					cursor: pointer;
				}
				.have-answers{
					color: #0456ac;
					cursor: pointer;
				}
			}
			.like-dislike-wrapper{
				@extend %likeDislikeStyle;
			}
		}
	}
}

.questionBoxModelInAssets{
	background: #fff;
	margin-top: 30px;
	box-shadow: 0 2px 3px 0 #e2e2e2;
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 24px 24px 19px;
	position: relative;
	&:before{
		position: absolute;
		left: 0; 
		top: 0;
		content: '';
		bottom: 0;
		width: 0;
		background: transparent;
		@include transition(all .3s linear);
	}
	.avatar-wrapper{
		@extend %avatarStyle;
	}
	.content-wrapper{
		display: block;
		width: auto;
		margin-left: 60px;
		a{
			text-decoration: none;
		}
		.footer{
			display: table;
			width: 100%;
			box-sizing: border-box;
			margin-top: 15px;
			.related,
			.author-wrapper,
			.views-wrapper,
			.time-wrapper,
			.answers-wrapper,
			.like-dislike-wrapper{
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				.text-label{
					white-space: nowrap;
				}
				p{
					margin: 0;
				}
			}
			.related{
				width: auto;
				font-size: 0;
				> span{
					cursor: pointer;
				}
				.image-wrapper{
					display: inline-block;
					text-align: center;
					line-height: 12px;
					font-size: 20px;
					width: 56px;
					height: 32px;
					img{
						width: 100%;
						font-size: 11px;
						color: #999;
						font-weight: 700;
						vertical-align: middle;
					}
					i{
						font-weight: 500;
						line-height: 32px;
						text-shadow: none;
					}
				}
				.text-wrapper{
					display: inline-block;
					line-height: 15px;
					vertical-align: top;
					font-size: 13px;
					padding-left: 11px;
					.prefix{
						display: block;
					}
					.link{
						display: block;
						text-decoration: underline;
						color: #0456ac;
					}
				}
			}
			.author-wrapper{
				padding-left: 15px;
				color: #999;
				.name{
					text-decoration: underline;
					color: #0456ac;
					cursor: pointer;
				}
			}
			.views-wrapper{
				padding-left: 40px;
				color: #999;
			}
			.time-wrapper{
				padding-left: 40px;
				color: #999;
			}
		}
	}
}

%likeDislikeStyle{
	padding-left: 40px;
	white-space: nowrap;
	color: #999;
	&.readOnly{
		.likes-wrapper,
		.dislikes-wrapper{
			cursor: default;
		}
	}
	.likes-wrapper,
	.dislikes-wrapper{
		cursor: pointer;
		display: inline-block;
		.count{
			display: inline-block;
			padding-left: 3px;
		}
	}
	i{
		display: inline-block;
		font-size: 15px;
		&.fa-thumbs-o-up{
			color: #5EBE5D;
		}
		&.fa-thumbs-o-down{
			color: #E84B3C;
		}
	}
	.dislikes-wrapper{
		padding-left: 21px;
	}
}

%avatarStyle{
	display: block;
	float: left;
	width: 60px;
	vertical-align: top;
	img{
		display: inline-block;
		width: 40px;
		height: 40px;
		@include border-radius(50%);
	}
	.follow-wrapper{
		display: inline-block;
		width: 40px;
		text-align: center;
		i{
			color: #0456ac;
			font-size: 20px;
			padding-top: 7px;
		}
	}
	.new-wrapper{
		display: inline-block;
		text-align: center;
		width: 40px;
		.new{
			margin-top: 10px;
			background: #5ebe5d;
			color: #fff;
			display: block;
			font-size: 11px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
		}
	}
	.best-wrapper{
		display: inline-block;
		text-align: center;
		width: 40px;
		i{
			color: #5ebe5d;
			font-size: 37px;
			padding-top: 7px;
		}
	}
}

%answerBoxModel{
	background: #fff;
	margin-top: 30px;
	box-shadow: 0 2px 3px 0 #e2e2e2;
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 19px 24px;
	position: relative;
	&:hover{
		.content-wrapper{
			.customDropdown-widget{
				@include transition(opacity .3s linear);
				visibility: visible;
				opacity: 1;
			}
			.author-wrapper{
				.name{
					color: #5ebe5d;
				}
			}
		}
	}
	&.best{
		border: 2px #5ebe5d solid;
		.content-wrapper .footer .mark-as-best-wrapper{
			color: #333;
		}
	}
	.avatar-wrapper{
		@extend %avatarStyle;
	}
	.content-wrapper{
		display: block;
		margin-left: 60px;
		width: auto;
		a{
			text-decoration: none;
		}
		.customDropdown-widget{
			top: -10px;
			visibility: hidden;
			opacity: 0;
			.wrapper{
				border: 1px transparent solid;
				@include transition(border .1s linear);
				.awesomeIcon-dots{
					&:before{
						content: '\f141';
					}
				}
				li div{
					color: unset;
				}
			}
			&:hover{
				.wrapper{
					border: 1px #e6e6e6 solid;
				}
			}
		}
		.author-wrapper{
			margin-right: 50px;
			font-size: 15px;
			.name{
				@include transition(color .3s linear);
				color: #0456ac;
				font-weight: 600;
			}
			.role{
				color: #999;
				font-style: italic;
			}
		}
		.answer-wrapper{
			margin-top: 14px;
			word-break: break-all;
			.prefix{
				font-weight: 700;
				color: #5ebe5d;
			}
			iframe{
				box-sizing: border-box;
				padding-right: 100px;
			}
			span.tagged-name {
				color: #0456ac;
				font-weight: bold;

			}
		}
		.footer{
			margin-top: 18px;
			.mark-as-best-wrapper{
				float: left;
				color: #5EBE5D;
				text-decoration: underline;
				font-weight: 700;
				cursor: pointer;
			}
			.time-wrapper{
				float: right;
				padding-left: 40px;
				color: #999;
			}
			.like-dislike-wrapper{
				@extend %likeDislikeStyle;
				float: right;
			}
		}
	}
}
%add-new-answer-style{
	background: #fff;
	margin-top: 30px;
	box-shadow: 0 2px 3px 0 #e2e2e2;
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 19px 24px;
	position: relative;
	.avatar-wrapper{
		@extend %avatarStyle;
	}
	.content-wrapper{
		display: block;
		width: auto;
		margin-left: 60px;
		a{
			text-decoration: none;
		}
		.author-wrapper{
			margin-right: 50px;
			font-size: 15px;
			.name{
				@include transition(color .3s linear);
				color: #0456ac;
				font-weight: 600;
			}
			.role{
				color: #999;
				font-style: italic;
			}
		}
	}
}

.mce-custom-save-wrapper{
	@extend %custom-save-tinymce;
}

%custom-save-tinymce{
	position: absolute !important;
	right: 11px;
	top: 50%;
	button{
		line-height: 33px;
		color: #fff;
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		padding: 0 20px;
		cursor: pointer;
		background: #5EBE5D;
	}
}
#lastAnswerQuestions{
	overflow: hidden!important; 
	max-height: 34px!important;
}