/* 
    Created on : 16.03.2016, 21:04:52
    Author     : Kristian
*/

.modal.add-question-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 900px;
	margin-left: -450px;
	position: absolute;
	top: 75px;
	.modal-header{
		display: none;
	}
	.modal-body{
		padding-right: 24px;
		overflow: visible;
	}
	.modal-footer{
		padding-right: 24px;
	}
	#add-question-dialog{
		@extend %addQuestionStyle;
	}
}

.addQuestionAsBlankState{
	width: 900px;
	margin: 50px auto;
	background: #fff;
	padding: 15px 24px 15px 15px;
	box-shadow: 0 0 5px 1px #cccccc;
	border: 1px solid #cccccc;
	@extend %addQuestionStyle;
}
%addQuestionStyle{
	.footer-actions{
		margin: 0;
		padding: 29px 0 0 0;
		border: 0;
		text-align: right;
		background: none;
		.save{
			@include app7020-button(green);
			line-height: 33px;
			height: 33px;
			padding: 0 15px;
			font-size: 14px;
			min-width: 100px;
			display: inline-block;
		}
	}
	.inner-add-question-content{
		.dialog-close{
			display: block;
			position: absolute;
			font-size: 20px;
			color: #333;
			right: 24px;
			top: 24px;
			cursor: pointer;
		}
		h2.title{
			color: #0465ac;
			font-size: 30px;
			font-weight: 500;
			text-align: center;
			margin-top: 11px;
		}
		h3.sub-title{
			font-size: 18px;
			text-align: center;
			color: #777;
			font-weight: 500;
			margin-top: 8px;
		}
		.content-wrapper{
			dl{
				counter-reset: steps-counter;
				margin-left: 55px;
				position: relative;
				&:before {
					border-left: 1px solid #e4e6e5;
					content: "";
					height: 100%;
					left: -29px;
					position: absolute;
				}
				dd{
					position: relative;
					&:not(:first-child){
						padding-top: 28px;
					}
					[type="checkbox"]{
						display: none;
						& + span.text{
							position: relative;
							margin: 0;
							padding-left: 32px;
							display: inline-block;
							font-size: 15px;
							&:before{
								position: absolute;
								display: inline-block;
								content: '';
								background: url('../images/icons_elements.png') no-repeat -144px -201px;
								width: 17px;
								top: 2px;
								height: 17px;
								left: 3px;
							}
						}
						&:checked + span.text{
							&:before{
								background: url('../images/icons_elements.png') no-repeat -190px -201px;
							}
						}
					}
					select{
						@include border-radius(0);
						width: 100%;
						height: 34px;
						outline: none;
						&.channelsSelect{
							margin-top: 10px;
							.grey{
								color: #999;
							}
							.green{
								padding-left: 2px;
								color: #5EBE5D;
							}
						}
					}
					.dd-container{
						a{
							text-decoration: none;
						}
						.dd-select{
							@include border-radius(0);
							.dd-selected{
								padding: 5px 10px 7px;
								#expertnumberingreen{
									padding-left: 3px;
								}
								.dd-selected-text,
								.dd-selected-description{
									display: inline-block;
									margin: 0;
									font-size: 13px;
									vertical-align: middle;
								}
							}
							
						}
						.dd-options{
							.grey{
								color: #999;
							}
							.green{
								color: #5EBE5D;
							}
							.dd-option{
								padding: 5px 10px 7px;
								border: 0;
								.dd-option-text,
								.dd-option-description{
									display: inline-block;
									margin: 0;
									font-size: 13px;
									vertical-align: middle;
								}
							}
							max-height:400px;
						}
					}
					&.question{
						.mce-tinymce{
							margin-top: 10px;
							iframe{
								height: 120px!important;
							}
						}
					}
					&.questionTags{
						.suggested{
							> span{
								&:not(.prefix){
									text-decoration: underline;
									color: #0465AC;
									cursor: pointer;
									&:not(:last-child){
										margin-right: 3px;
									}
								}
							}
						}
					}
					&:before {
						@include border-radius(50%);
						@include transition(background .2s linear);
						content: counter(steps-counter, decimal);
						counter-increment: steps-counter;
						display: inline-block;
						height: 32px;
						left: -54px;
						font-size: 16px;
						z-index: 2;
						line-height: 31px;
						font-weight: 600;
						position: absolute;
						text-align: center;
						width: 32px;
						background: #0465ac;
						color: #fff;
					}
					&.errorStyle{
						&:before{
							background: #E84C3F;
						}
						.error-text{
							display: block;
						}
					}
					&:last-child{
						&:after {
							background: #fff none repeat scroll 0 0;
							bottom: 0;
							content: "";
							display: block;
							margin-left: -41px;
							position: absolute;
							top: 40px;
							width: 5px;
							z-index: 1;
						}
					}
					.wrapper{
						.headline{
							font-size: 15px;
							margin: 0;
							.required{
								display: none;
								color: #E84C3F;
							}
						}
						.sub-headline{
							margin: -2px 0 0 0;
							color: #999;
							font-size: 11px;
							font-weight: 600;
						}
					}
					.error-text{
						color: #E84C3F;
						font-size: 15px;
						margin: 0;
						display: none;
					}
					label[for="agree"]{
						font-size: 15px;
					}
				}
			}
		}
		docebo-tags{
			.tag-widget-container{
				min-height: 24px;
				box-sizing: border-box;
				padding: 4px 4px 0;
				margin-top: 3px;
				.tagsContainer{
					min-height: 29px;
					display: inline;
					.tm-tag{
						margin: 0 4px 4px 0;
						min-height: 25px;
						padding: 0 25px 0 10px;
						.tm-tag-remove{
							bottom: 0;
							right: 0;
							top: 0;
							&:before{
								margin-top: 3px;
							}
						}
						span{
							vertical-align: text-top;
						}
					}
				}
				.twitter-typeahead{
					width:100%; 
					vertical-align: top;
					.tt-hint{
						display: none;
					}
					#tags{
						height: 25px;
						margin: 0 0 4px;
						box-sizing: border-box;
						padding: 0 0 0 0;
						min-width: 300px;
						vertical-align: top;
						font-size: 13px;
						width:100%;
					}
				}
			}
		}
	}
}
.modal.confirm-delete-dialog{
	@extend %app7020ModalDefaultStyle;
	.modal-body{
		p{
			font-size: 14px;
		}
		[type="checkbox"]{
			display: none;
			+ label{
				position: relative;
				margin: 0;
				padding-left: 32px;
				&:before{
					position: absolute;
					display: inline-block;
					content: '';
					background: url('../images/icons_elements.png') no-repeat -144px -201px;
					width: 17px;
					top: 2px;
					height: 17px;
					left: 3px;
				}
			}
			&:checked + label{
				&:before{
					background: url('../images/icons_elements.png') no-repeat -190px -201px;
				}
			}
		}
	}
}