/* 
    Created on : 15.03.2016, 17:12:01
    Author     : Kristian
*/

#questionsApp{
	.other-information-wrapper{
		.switchers{
			margin-top: 9px;
			margin-bottom: 4px;
		}
		input[type="radio"]{
			display: none;
			& + label{
				position: relative;
				display: inline-block;
				margin: 0;
				padding-left: 32px;
				font-size: 15px;
				&[for="radio-open"]{
					margin-right: 45px;
				}
				&:before{
					position: absolute;
					display: inline-block;
					content: '';
					background: url('../images/icons_elements.png') no-repeat -141px -39px;
					width: 16px;
					top: 3px;
					height: 16px;
					left: 3px;
				}
				.count{
					display: inline-block;
					color: #fff;
					font-size: 13px;
					font-weight: 700;
					background: #5EBE5D;
					line-height: 21px;
					padding: 0 6px;
					margin-left: 5px;
				}
			}
			&:checked + label{
				&:before{
					background: url('../images/icons_elements.png') no-repeat -120px -39px;
				}
			}
		}
	}
}