/* 
    Created on : 25.03.2016, 17:35:32
    Author     : Kristian
*/
#questionsApp{
	#questionPage{
		.current-question-wrapper{
			background: #fff;
			margin-top: 30px;
			box-shadow: 0 2px 3px 0 #e2e2e2;
			width: 100%;
			display: table;
			box-sizing: border-box;
			padding: 24px 24px 19px;
			position: relative;
			.avatar-wrapper{
				@extend %avatarStyle;
				.follow-wrapper{
					display: inline-block;
					width: 40px;
					text-align: center;
					i{
						color: #0456ac;
						font-size: 20px;
						padding-top: 7px;
					}
				}
			}
			.content-wrapper{
				display: block;
				width: auto;
				margin-left: 60px;
				a{
					text-decoration: none;
				}
				.title{
					font-weight: 600;
					font-size: 14px;
					color: #333;
					line-height: 16px;
					cursor: pointer;
					padding-bottom: 15px;
					margin-right: 50px;
					word-break: break-all;
				}
				.tags-wrapper{
					font-weight: 600;
					span{
						display: inline-block;
						color: #333;
						padding: 0 5px;
						background: #E4E6E5;
						line-height: 25px;
						&:not(:last-child){
							margin-right: 10px;
						}
					}
				}
				.related-wrapper{
					a{
						display: table;
						width: 100%;
						box-sizing: border-box;
						background: #F8F8F8;
						border: 1px #E5E5E5 solid;
						padding: 13px;
						margin-top: 19px;
						position: relative;
						&:after{
							font-family: "FontAwesome";
							content: "\f105";
							font-size: 34px;
							color: #999;
							top: 50%;
							margin-top: -10px;
							display: block;
							right: 13px;
							position: absolute;
						}
					}
					.image-wrapper{
						display: table-cell;
						width: 67px;
						height: 38px;
						img{
							width: 100%;
						}
						i{
							font-weight: 500;
							line-height: 38px;
							text-shadow: none;
							font-size: 25px;
							text-align: center;
							display: block;
						}
					}
					.text-wrapper{
						display: table-cell;
						vertical-align: middle;
						padding-left: 13px;
						padding-right: 37px;
						.prefix{
							display: block;
							font-size: 13px;
						}
						.link{
							display: block;
							text-decoration: underline;
							color: #0456ac;
							font-weight: 600;
						}
					}
				}
				.footer{
					color: #999;
					padding-bottom: 8px;
					padding-top: 15px;
					p{
						margin: 0;
					}
					.follow-wrapper{
						float: left;
						font-weight: 700;
						.text-button{
							text-decoration: underline;
							color: #0456ac;
							cursor: pointer;
						}
						.fa-check{
							color: #5EBE5D;
						}
						.text-label{
							color: #5EBE5D;
							display: inline-block;
							padding-right: 5px;
						}
					}
					.author-wrapper{
						float: right;
						margin-left: 40px;
						a{
							text-decoration: underline;
							color: #0456ac;
						}
					}
					.views-wrapper{
						float: right;
						margin-left: 40px;
					}
					.time-wrapper{
						float: right;
						margin-left: 40px;
					}
				}
			}
		}
		.question-answers-wrapper{
			margin-left: 84px;
			margin-top: 27px;
			.headline{
				.answers-count{
					float: left;
					color: #0456ac;
					font-weight: 700;
					text-transform: uppercase;
				}
				.no-answers{
					float: left;
					color: #0456ac;
					font-weight: 700;
					text-transform: uppercase;
				}
				.answer-now-button{
					color: #5ebe5d;
					float: right;
					font-weight: 700;
					text-transform: uppercase;
					.text-button{
						cursor: pointer;
					}
				}
			}
			.items-wrapper{
				.answerBoxModel{
					@extend %answerBoxModel; 
				}
			}
			.new-answer-wrapper{
				.newAnswerBoxModel{ 
					@extend %add-new-answer-style;   
					iframe{
						box-sizing: border-box;
						padding-right: 100px;
					}
				}
			}
		}
	}
}

