#questionsApp{
	.filters{
		margin-top:25px;
		@extend %actionButtons;
		@extend %filterActions;

		background:#fff;
		padding:24px;
		.filterSection{
			color:#0764aa;
			font-weight:bold;
			padding-bottom:8px;
		}

		input{
			display: inline-block;
			margin: 0 10px 10px 0;
			outline: none;
			&[type="radio"]{  
				visibility: hidden;
				opacity: 0;
			}
			&+label{
				&:before{
					color: #333;
					content: "\f10c";
					display: inline-block;
					font-family: "FontAwesome";
					font-size: 18px;
					margin: 1px 0 0 -22px;
					position: absolute;
				}
			}
			&:checked+label{
				&:before{
					content: "\f05d";
				}
			}
		}
		label{
			font-size: 13px;
			display: inline-block;
			margin: 0;
			color: #333;
			outline: none;
			.subData{
				color: #999;
				display: block;
				font-size: 12px;
				font-weight: 400;
				line-height: 12px;
			}
		}


		.formButton{
			text-align:right;
			input{
				display: inline-block;
				height: 33px;
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
				padding: 0 25px;
				font-weight: 600;
				background: #53AB54;
				margin: 0;
				border: 0;
				&:hover{
					background: #3f9740;
				}
			}
			.close-dialog {
				color: #fff;
				text-transform: uppercase;
				font-size: 13px;
				padding: 0px 25px;
				background: #333 none repeat scroll 0% 0%;
				font-weight: 800;
				text-shadow: 0px 1px #444;
				margin-left: 12px;
				display: inline-block;
				height: 33px;
				line-height: 33px;
			}
		}
	}
}
#appliedFilters{
	min-height: 30px;
	background:#fff;
	margin:25px 0;
	.fControl{
		display: inline-block;
		text-decoration: underline;
		color: #468cbf;
		line-height: 29px;
		padding-left: 10px;
		padding-right: 30px;
		cursor: pointer;
	}
	.fList{
		display: inline-block;
		.fItem{
			margin-right: 30px;
			h5,span,.fa{
				line-height: 30px;
				display: inline-block;
				margin: 0;
				font-size: 13px;
				font-weight: 400;
			}
			h5{
				font-size: 13px;
				font-weight: 600;
				padding-right: 5px;
			}
			span{
				.subData{
					display: none;
				}
			}
			.fa{
				line-height: 29px;
				color: #E84C3D;
				font-size: 12px;
				cursor: pointer;
				padding-left: 5px;
				&:hover{
					color: red;
				}
			}
		}
	}
}