/* 
    Created on : 14.06.2016, 9:31:57
    Author     : Violeta
*/

.blank-state-channels{
	padding: 0 50px;
	margin-top: 10px;
	margin-bottom: 25px;
	position: relative;
	float: left;
    width: 100%;
    box-sizing: border-box;
	
	.welcome-icon{
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: -55px;
		text-align: center;
	}
	
	.blank-inner-wrap{
		background: $white-background;
		@include box-shadow();
		border-radius: 2px;
		min-height: 300px;
		width: 100%;
		padding-top: 40px;
		
		.content-part{
			padding: 35px 0;
			text-align: center;
			
			.welcome-title{
				color: $blue-color;
				font-size: 30px;
				font-weight: 300;
			}
			.heading-text{
				font-size: 22px;
				line-height: 28px;
				margin-top: 10px;
				padding: 0 30px;
				color: $blackshade-color;
			}
			.operation-wrap{
				margin-top: 50px;
				margin-bottom: 25px;
				text-align: left;
				
				.operation-column-2{
					width: 20%;
					float: left;
					box-sizing: border-box;
					padding: 0 30px;
					text-align: center;
					position: relative;
					
					i{
						color: $blue-color;
						font-size: 42px;
						display: block;
					}
					.operation-text{
						margin: 15px 0 20px;
						font-size: 14px;
						line-height: 22px;
						min-height: 140px;
					}
					.operation-button{
						color: $white-color;
						background: $green-background;
						text-align: center;
						text-transform: uppercase;
						padding: 12px 15px;
						display: block;
						font-size: 14px;
						text-shadow: none;
						font-weight: 600;
						
						&:hover{
							text-decoration: none;
						}
					}
					.map-icon{
						display: block;
						position: relative;
						width: 50px;
						height: 45px;
						margin: 0 auto;
						
						i{
							margin-top: 5px;
							&.fa-user{
								font-size: 24px;
							}
							&.fa-comment-o{
								font-size: 50px;
							}
						}
					}
				}
			}
		}
		.bottom-part{
			padding: 25px 15px 25px 25px;
			border-top: 1px solid $lightgray-background;
			
			.left-part{
				display: inline-block;
				width: 84%;
				font-size: 13px;
				color: $blackshade-color;
				
				.blue-heading{
					color: $blue-color;
					font-size: 15px;
					font-weight: 600;
					margin-bottom: 15px;
				}
			}
			.right-part{
				display: inline-block;
				width: 15%;
				vertical-align: top;
				text-align: right;
				
				.contact-us{
					margin: 10px 0 15px;
					color: $white-color;
					background: $blue-background;
					padding: 10px 10px 11px;
					display: block;
					text-align: center;
					font-size: 14px;
					text-shadow: none;
					font-weight: 600;
					text-transform: uppercase;
					
					&:hover{
						text-decoration: none;
					}
					&.enterprise{
						background: $red-background;
					}
				}
			}
		}
	}
	.clear-float{
		clear: both;
	}
}

//Smaller screens - laptops
@media (max-width: 1470px){
	.blank-state-channels{
		.blank-inner-wrap{
			.content-part{
				.operation-wrap{
					.operation-column-2{
						.operation-text{
							font-size: 13px;
							line-height: 20px;
							min-height: 120px;
						}
						.operation-button{
							font-size: 13px;
							padding: 12px;
						}
					}
				}
			}
		}
	}
}

//Smaller screens - tablet
@media (max-width: 1024px){
	.blank-state-channels{
		.blank-inner-wrap{
			.content-part{
				padding-bottom: 0;
				.operation-wrap{
					.operation-column-2{
						width: 33.33%;
						margin-bottom: 30px;
					}
				}
				.heading-text{
					font-size: 14px;
					line-height: 22px;
				}
			}
			.bottom-part {
				.right-part{
					width: 22%;
				}
				.left-part{
					width: 77%;
				}
			}
		}
	}
}

//Smaller screens - tablet portrait
@media (max-width: 768px){
	.blank-state-channels{
		.blank-inner-wrap{
			.content-part{
				.operation-wrap{
					.operation-column-2{
						width: 50%;
					}
				}
			}
			.bottom-part {
				.right-part{
					width: 100%;
					margin-top: 15px;
				}
				.left-part{
					width: 100%;
				}
			}
		}
	}
}
//Smaller screens - phones portrait
@media (max-width: 400px){
	.blank-state-channels{
		.blank-inner-wrap{
			.content-part{
				.operation-wrap{
					.operation-column-2{
						width: 100%;
					}
				}
			}
		}
	}
}