/* 
    Created on : 01.03.2016, 23:12:07
    Author     : Kristian
*/

.my-channel-information-wrapper{
	margin-left: 50px;
	margin-bottom: 30px;
	.profile-info{
		.avatar{
			text-decoration: none;
			display: inline-block;
/*			width: 40px;
			height: 40px;*/
			/*border-radius: 50%;*/
		  	overflow:hidden;
			img{
				width: 100%;
			}
		}
		.name{
			margin: 0;
			font-size: 30px;
		  	line-height:40px;
			display: inline-block;
			vertical-align: top;
			/*margin-left: 20px;*/
		}
		.description{
			margin: 10px 0 0 0;
			color: #666;
			font-size: 15px;
		  	background:transparent;
		  	-ms-user-select:text!important;
			&[contenteditable=true]{
			  padding: 1px;
			  border: 1px solid #0465AC;
			  max-width: 100%;
			  width: 98%;
			  display:block;
			}
		}

	}
}
.information-bar-wrapper{
	padding: 20px 0 0 0;
	display: table;
	width: 100%;
	box-sizing: border-box;
	.left-side{
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.right-side{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.contributions{
		font-size: 15px;
		strong{
			color: #0465ac;
			font-size: 15px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.fa-sliders{
		font-size: 34px;
		color: #999;
		cursor: pointer;
		margin-right: 95px;
	}
}
.myChannels-wrapper{
	padding-bottom: 35px;
	
	.channel-wrap{
		margin-top: 0px;
	}
	.my-channel-inReview{
		
	}
	.my-channel-contributions{
		.items-wrapper{
			margin-left: 50px;
			.col-tile{
				margin: 0 33px 40px 0;
			}
		}
	}
}


.myChannel-blank{
  padding:47px 0;
  display:none;
  &.visible{
	display:block;
  }
  &.ng-cloak{
	display:none;
  }
  img{
	display:block;
	margin:0 auto 42px;
  }
  h2{
	font-size:30px;
	display:block;
	font-weight:500;
	margin-bottom:8px;
  }
  h3{
	display:block;
	margin-bottom:19px;
	font-weight:500;
	color:#a2a2a2;
  }
  a{
	display:block;
	margin:0 auto;
	background:#59be56;
	color:#fff;
	border-radius:50px;
	width:74px;
	height:74px;
	line-height:74px;
	font-size:29px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	&:hover{
	  text-decoration:none;
	  color:#fff;
	}
	&:visited{
	  color:#fff;
	}

  }
}