/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2016, 12:27:26 PM
    Author     : vbelev
*/

.widget-app7020Avatar-container {

	span.avatar-container.small {
		img {
			display: inline-block;
			position: relative;
			width: 40px;
			height: 40px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin-right: 10px;
		}
		span.circle {
			background: #0465ac;
			text-align: center;
			display: inline-block;
			position: relative;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin-right: 10px;
			font-size: 19px;
			width: 40px;
			color:#fff;
			line-height: 40px;
			font-weight: 600;
			text-transform: uppercase;
		}
		span.circle.small {
			width: 40px;
			line-height: 40px;
		}
	}
	span.avatar-container.large {
		img {
			display: inline-block;
			position: relative;
			width: 90px;
			height: 90px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin-right: 10px;
		}
		span.circle {
			font-size:32px;
			color:#fff;
			font-weight: 600;
			text-transform: uppercase;
			background: #0465ac;
			text-align: center;
			display: inline-block;
			position: relative;
			width: 90px;
			line-height: 90px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin-right: 10px;
		}
	}







}