<div ng-switch="videoType">
	<div class="full-size" ng-switch-when="youtube">
		<div id="youtube" class="full-size" ng-include="view('youtube.html')"></div>
	</div>
	<div class="full-size" ng-switch-when="wistia">
		<div id="wistia" class="full-size" ng-include="view('wistia.html')"></div>
	</div>
	<div class="full-size" ng-switch-when="vimeo">
		<div id="vimeo" class="full-size" ng-include="view('vimeo.html')"></div>
	</div>
</div>