/*
    Created on : 01.07.2015, 16:58:58
    Author     : Stanimir
*/

/*Make container for DOM*/
@mixin create-container-selector($selector, $background-color, $border-color) {
    #{$selector} {
        background-color: $background-color;
        &:after, &:before {
            content: ' ';
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 7px 0 19px;
        }
    }
}

/*Include style to DOM*/
@mixin create-container($background-color, $border-color) {

    background-color: $background-color;
    &:after, &:before {
        content: ' ';
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding: 7px 0 19px;
    }
}
/* Nickname: maxell4o; / Realname: Kristian Dikov; / Born: 25.04.1994; / Blood group: none; / Age: 21; */
@mixin create-containerV2($background-color, $border-color-in, $border-color-out, $border-size-out) {
    background-color: $background-color;
    &:before {
        content: ' ';
		display: block;
		border-top: $border-size-out $border-color-out solid;
		border-bottom: 1px $border-color-in solid;
    }
    &:after {
        content: ' ';
		display: block;
		border-bottom: $border-size-out $border-color-out solid;
		border-top: 1px $border-color-in solid;
    }
}

//generate progress
@mixin upload-progress-container($bg, $height) {
    height: $height;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    > .bar {
        background: $bg;
    }
}

//looping rows with odd - even bg
@mixin loop-rows($odd-color) {
    &:nth-child(1) {
        border-top: 1px solid none;
    }
    &:nth-child(odd) {
        background-color: $odd-color;
    }
    &:nth-child(even) {
        background-color: white;
    }
}

//icon label generator
@mixin label-icon-camera($font-size, $font-color, $border-color) {
    &:before {
        font-family: 'FontAwesome';
        content: "\f03d";
        width: 42px;
        height: 25px;
        border-width: 1px;
        border-style: solid;
        border-color: $border-color;
        font-size: $font-size;
        color: $font-color;
        /*position: absolute;*/
		/*        left: 20px;
				top: 20px;*/
        text-align: center;
        line-height: 25px;
        background-color: white;
		display: block;
		vertical-align: middle;
		margin: 0 auto;
    }

}

/*Make button style*/
@mixin make-button($bg, $font-size, $font-color,   $default-padding: 10px 27px) {
	background-color: $bg;
	background-image: none;
	background-repeat: repeat-x;
	border:none;
	text-align: center;
	color: $font-color;
	padding: $default-padding;
	-webkit-border-radius:none;
	-moz-border-radius: none;
	border-radius: 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(none);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	text-shadow: 0px 1px 1px #333333;

}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transform($transform) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}

@mixin border-radius($border) {
    -webkit-border-radius:$border;
	-moz-border-radius: $border;
	border-radius: $border;
}




// Generate custom radio buttton and checkbox *** START ***

@mixin _generate-label($sprite-img, $img-height, $img-widht, $img-pos-x, $img-pos-y) {
    + label {
        span {
            background: url($sprite-img) $img-pos-x $img-pos-y no-repeat;
            border: none;
            border-radius: 0;
            box-shadow: none;
            height: $img-height;
            width: $img-widht;
            vertical-align: middle;
            padding: 5px 0 4px 24px;
            cursor: pointer; 
        }
    }
}

@mixin custom-radio-button-checkbox($input-type, $sprite-img, $img-height, $img-widht, $img-pos-x, $img-pos-y, $img-pos-x-checked, $img-pos-y-checked) {
    input[type='#{$input-type}'] {
        z-index: -99999;
        position: absolute;
        opacity: 0;
        @include _generate-label($sprite-img, $img-height, $img-widht, $img-pos-x, $img-pos-y) {}
        &:checked {
            @include _generate-label($sprite-img, $img-height, $img-widht, $img-pos-x-checked, $img-pos-y-checked) {} 
        }
    }
}

@mixin activeLines-activityWidget($color) {
	&:before{
		background: $color none repeat scroll 0 0;
		bottom: -8px;
		content: "";
		display: block;
		height: 8px;
		left: -1px;
		padding: 0 1px;
		position: absolute;
		width: 100%;
	}
	&:after{
		content: "";
		display: block;
		position: absolute;
		bottom: -18px;
		left: 0;
		margin: 0 auto;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 9px 0 9px;
		border-color: $color transparent transparent transparent;
	}
}

// Generate custom radio buttton and checkbox *** END ***


@mixin app7020-button($style: default){
	border-radius: 0;
	border: none;
	display: inline-block;
	height: 37px;
	min-width: 37px;
	line-height: 36px;
	font-size: 13px;
	font-weight: 800;
	outline: medium none;
	text-align: center;
    text-decoration: none;
	transition: all 0.1s ease 0s;
    vertical-align: middle;
	box-sizing: border-box;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #525252;
	padding: 0 10px;
	cursor: pointer;
	&.disabled{
		cursor: default;
		opacity: 0.7;
	}
	@if $style == green{
		background: $green-color;
		color: #fff;
	}
	@else if $style == blue{
		background: #0465AC;
		color: #fff;
	}
	@else if $style == red{
		background: #E74C3C;
		color: #fff;
	}
	@else if $style == black{
		background: #333;
		color: #fff;
	}
	@else{
		background: #F1F3F2;
		color: #333;
		text-shadow: none;
		text-transform: none;
		font-weight: 400;
	}

}

@mixin font_awesome-radio_button() {
	label.radio {
		margin-right: 26px;
		input[type='radio'] {
			display: none;
			&:checked {
				+ label {
					&:before {
						content: $radioButtonChecked;
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 18px;
						margin-right: 14px;
					}                           
				} 
			}
			&:not(:checked) {
				+ label {
					&:before {
						content: $radioButtonNotChecked;
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 18px;
						margin-right: 14px;
					}                           
				}
			}
		}
	}
}

@mixin font_awesome-checkbox() {
	input[type="checkbox"] {
		position: absolute;
		z-index: 0;
		display: none;
		+ label {
			width: 100%;
			display: block;
			line-height: 24px;
			padding: 16px 0;
			position: relative;
			padding-left: 20px;
			&:before {
				left: 0;
				position: absolute;
				width: 24px!important;
				max-width: 24px;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-size: 20px;
				content: "\f096";
				line-height: 24px;
			}
		}

		&:checked + label{
			&:before {
				display: inline-block;
				position: absolute;
				left: 2px;
				font-size: 11px;
				content: "\f00c" ;
			}
			&:after {
				left: 0;
				position: absolute;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				font-size: 20px;
				content: "\f096";
				top: 18px;
			}

		}
	}
}
/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
@mixin generate-progress-classes($step: 1, $barColor: red, $overlayColor: green, $backColor: blue){
	$loops: round(100 / $step);
	$increment: 360 / $loops;
	$half: round($loops / 2);
	@for $i from 0 through $loops{
		.progress-#{$i*$step}{
			@if $i < $half {
				$nextdeg: 90deg + ( $increment * $i );
				background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
			}
			@else {
				$nextdeg: -90deg + ( $increment * ( $i - $half ) );
				background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
			}
		}
	}
}
