footer#footer{
    clear: both;
}

div.main-actions a.push_los_to_courses i.fa-share {
    font-size: 32px;
    margin-bottom: 10px;
}

div.manageCentralRepoNewCategoryTitle div.addingUnder{
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    padding: 0;
}

div.manageCentralRepoNewCategoryTitle div.addingUnder div.innerText{
    background: #f1f3f2;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-left: 20px;
    line-height: 35px;
}

div.manageCentralRepoNewCategoryTitle div.addingUnder div.innerText span.parentCategoryName{
    color: #3786BD;
}

div.manageCentralRepoNewCategoryTitle div.repoCategoryTitle{
    padding-top: 20px;
}

div.manageCentralRepoNewCategoryTitle div.repoCategoryTitle label{
    padding-bottom: 10px;
}

div.manageCentralRepoNewCategoryTitle div.repoCategoryTitle input{
    width: 296px;
}

div.centralRepoManagement .leftSide{
    float: left;
    background: #F1F3F2;
    border-right: 1px solid #E4E6E5;
}

div.centralRepoManagement div#repo-tree-wrapper {
    margin-bottom: 10px;
}

div.centralRepoManagement div#repo-tree-wrapper ul.node-tree li.rootNode > div.nodeTree-border{
    border-top: none;
}

div.centralRepoManagement .header{
    border-bottom: 1px solid #E6E6E6;
    font-size: 19px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

div.centralRepoManagement div.centralRepoManagement-content {
    margin-bottom: 20px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

div.centralRepoManagement #repo-tree-wrapper .highlighted-node .popover-bottom{
    display: block;
}

div.centralRepoManagement #repo-tree-wrapper .popover-bottom {
    height: 19px;
    width: 19px;
    background: url(/themes/spt/images/icons_elements.png) -114px -199px no-repeat;
    display: none;
    position: absolute;
    right: 20px;
    margin-top: -10px;
    top: 50%;
}
div.deleteRepoCategory{
    width: 446px;
    display: block;
    top: 10%;
    margin-left: -223px;
    left: 50%;
    position: fixed;
}

div.deleteRepoCategory p {
    margin-bottom: 28px;
    font-size: 15px;
    line-height: 18px;
}

div.centralRepoManagement div.rightSide div.innerContent{
    margin-top: -8px;
}

div.centralRepoManagement div.rightSide div.innerContent select#filter_by_type,
div.centralRepoManagement div.rightSide div.innerContent select#filter_by_csp{
    width: 100%;
}
div.centralRepoManagement div.rightSide div.innerContent div#grid-wrapper div.grid-view{
    padding: 0px;
    padding-right: 10px;
}
div.centralRepoManagement div.rightSide div.innerContent div.main-section td.table-padding{
    padding: 0px 5px;
}
div.centralRepoManagement div.rightSide div.innerContent div.main-section td.search{
    float: right;
}

div.centralRepoManagement div.rightSide div.innerContent table.items tbody tr{
    height: 43px;
}

div.centralRepoManagement div.rightSide div.innerContent table.items th:first-child,
div.centralRepoManagement div.rightSide div.innerContent table.items td:first-child{
    width: 20px;
    padding: 5px 4px !important;
}

div#lorepo-push-lo-to-course-modal div#lorepo-push-modal-rightside table.items tbody tr td div.centralLOGridItem,
div#repo-objects-grid table.items tbody tr td div.centralLOGridItem {
    word-wrap: break-word;
    word-break: break-all;
}

div#lorepo-push-lo-to-course-modal div#lorepo-push-modal-rightside table.items tbody tr td div.centralLOGridItem span,
div.centralRepoManagement div.rightSide div.innerContent table.items tbody tr td div.centralLOGridItem span{
    margin-right: 10px;
    width: 20px;
}

.drag-helper{
    width: 100%;
}

.drag-helper a.drag-lo.ui-draggable {
    float: left;
}

div.centralRepoManagement div.rightSide div.innerContent div#repo-objects-grid a.drag-lo {
    height: 21px;
    width: 21px;
    overflow: hidden;
    margin: 0 6px;
    line-height: 100px;
    display: inline-block;
    vertical-align: middle;
    background: url(../../../../../../themes/spt/images/icons_elements.png) -113px -227px no-repeat;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column a.play-repo-object{
    background: none;
    text-decoration: none;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column a.play-repo-object i {
    display: block;
    font-size: 19px;
}
div.centralRepoManagement div.rightSide div.innerContent .button-column a.push-repo-object{
    background-position: -545px -156px;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column a.versions {
    background: none;
    line-height: 21px;
    font-size: 18px;
    width: 16px;
    margin-left: 6px;
    transform: rotate(0.001deg);
    padding-left: 1px;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column a.versions:hover {
    text-decoration: none;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column a.edit-field, div.centralRepoManagement div.rightSide div.innerContent .button-column a.delete{
    margin-left: 6px
}

div#lorepo-push-lo-to-course-modal td.descendantsSwitch > table,
div.centralRepoManagement .filters-wrapper td.descendantsSwitch > table {
    opacity: 0;
}

div.centralRepoManagement .filters-wrapper table.filters td .dropdown-menu {
    text-align: left;
}

div.centralRepoManagement div.rightSide div.innerContent .button-column .tooltip .tooltip-inner{
    text-align: center ;
}
/* ------------------ Preview LO ----------------- */
div.preview-lo {
    width: 880px;
    display: block;
    top: 10%;
    margin-left: -410px;
    left: 50%;
}

div.preview-lo div.modal-body.opened{
    padding-bottom: 0px;
}

div.preview-lo div.modal-footer{
    padding-top: 5px;
}

div.preview-lo div.previewCentralRepoObject div.object_info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
}

div.preview-lo div.previewCentralRepoObject div.object_info div.leftSide,
div.preview-lo div.previewCentralRepoObject div.object_info div.rightSide {
    width: 50%;
    float: left;
}

div.preview-lo div.previewCentralRepoObject div.object_info select#object_version {
    width: 95%;
    text-indent: 6px;
}

div.preview-lo div.previewCentralRepoObject div.object_info label {
    margin-bottom: 5px;
}

div.preview-lo div.previewCentralRepoObject div.object_info div.versionDetailsTitle {
    margin-bottom: 3px;
}

div#object_preview div.player-launchpad-header{
    margin-bottom: 20px;
}

div#object_preview h3.file-title, div#object_preview div.player-arena-file-inline p, div#object_preview div.question-title{
    margin-bottom: 10px;
}

div#object_preview div.file_container {
    margin-bottom: 20px;
}

/* ADD FULL SCREEN MODE TO THOSE ELEMENT THAT ARE WITH IFRAME */
div.preview-lo div.modal-header a#previewLoFullscreen {
    position: absolute;
    right: 45px;
    top: 11px;
    float: none;
    z-index: 1;
}

div.preview-lo.fullscreen div.object_info {
    display: none;
}

div.preview-lo.fullscreen {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
    position: fixed;
}

/* ADD FULL SCREEN MODE TO THOSE ELEMENT THAT ARE WITH IFRAME */

div.preview-lo div.modal-header a#previewLoFullscreen i {
    color: white;
}

div#object_preview div.player-arena-file-inline p strong{
    font-weight: bold;
}
/* Poll */
div#object_preview div.l-testpoll div.page-title{
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #E4E6E5;
}

div#object_preview div.l-testpoll  div.block {
    padding: 15px 25px;
}

div#object_preview div.l-testpoll  div.block.odd {
    background: #F1F3F2;
}

div#object_preview div.l-testpoll  div.block-hr {
    background: #E6E6E6;
    height: 1px;
    margin: 1px 0;
    width: 100%;
}

div#object_preview div.l-testpoll  div.block-header {
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 130px;
}

div#object_preview div.l-testpoll  div.block-content {
     margin-left: 150px;
}

div#object_preview div.l-testpoll  div.break-page{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}

div#object_preview div.l-testpoll  label {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 0;
}

div.answers-container > label > p{
    display: inline;
}

div#object_preview div.l-testpoll label input[type="radio"], div#object_preview div.l-testpoll label input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 7px;
}

div#object_preview div.question-title-wrapper + div.answers-container{
    margin-left: 18px;
}

div#object_preview .player-launchpad-test-description {
    overflow: auto;
    height: 140px;
    padding: 6px;
    border-top: 1px solid #E4E6E5;
    border-bottom: 1px solid #E4E6E5;
    margin: 10px 0 20px;
}

div#object_preview .player-launchpad-test-head-image img {
    width: 100%;
}
/* Poll */

/* Test */
div#object_preview td.question-index{
    float: left;
    margin-right: 7px;
}

div#object_preview td.question-index + td.question-title{
    padding-bottom: 10px;
}

div#object_preview td.question-title, div#object_preview td.question-index{
    font-weight: bold;
}

div#object_preview .player-arena-test-inline .player-launchpad-content-text {
    background: #F1F3F2;
    padding: 15px 20px;
}

div#object_preview .player-arena-test-inline .player-launchpad-content-text h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 6px;
    line-height: 36px;
}

div#object_preview .player-arena-test-inline ul.test_info_list > li:first-child {
    border-top: none;
}

div#object_preview .player-arena-test-inline ul.test_info_list > li {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #FFF;
    line-height: 32px;
}

div#object_preview .player-arena-test-inline ul.test_info_list > li:last-child {
    border-bottom: none;
}

div#object_preview .l-testpoll.play .answers-container.associate td{
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
}

div#object_preview .player-launchpad-test-head-image {
    margin-bottom: 20px;
}

/* Test */

/* SCORM */
div#object_preview iframe.preview-scorm{
    width:100%;
    height: 550px;
}

div#object_preview div#player-lonav{
    float: left;
}

div#object_preview div.player-lonav-content, div#innerContent{
    margin-top: 7px;
}

div#object_preview div.player-lonav-tree{
    width: 300px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    position: relative;
    min-height: 350px;
    margin-bottom: 15px;
}

div#object_preview #player-lonav span.p-sprite.is-root + a.dynatree-title{
    margin-left: 13px;
}

div#object_preview #player-lonav a.dynatree-title,
div#object_preview #player-lonav .p-sprite,
div#object_preview #player-lonav .i-sprite {
    margin-top: 10px !important;
}

div#object_preview .dynatree-container-parent.player-lonav-tree ul.dynatree-container .background-loitem:not(:last-child){
    border-bottom: 1px solid #E6E6E6;
    height: 35px;
}

div#object_preview #player-lonav .dynatree-container-parent ul.dynatree-container li .dynatree-node{
    height: 35px;
}
div#object_preview #player-lonav .dynatree-container-parent ul.dynatree-container li span.active a{
    font-weight: bold;
}

div#object_preview div#player-lonav + div#player-content {
    margin-left: 330px;
}

div#object_preview div#player-content{
    height: 100%;
}

div#object_preview div.loadScoContent {
    width: 40px;
    height: 40px;
    color: #000;
    background: url("../../../../../../themes/spt/images/ajax-loader10.gif") no-repeat 2px;
    z-index: 9999;
    margin-left: 45%;
    margin-top: 25%;
}
/* SCORM */

/* Authoring | Slides Converter */

div#object_preview div.authoring_wrap h1 {
    display: block !important;
}
/* Authoring | Slides Convertor */

/* ------------------ Preview LO ----------------- */



/* ------------------ ADD LO button ----------------- */

#central-lo-manage-add-lo-button .add-lo-operation-type {
    font-weight: bold;
    font-size:11px;
}

#central-lo-manage-add-lo-button .dropdown-menu {
    font-size: 13px;
    margin-top:4px;
    padding:5px 15px 10px;
    width:320px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

#central-lo-manage-add-lo-button .dropdown-menu:before {
    position: absolute;
    top: -12px;
    right: 9px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, 0.2);
    border-left: 8px solid transparent;
    content: '';
}

#central-lo-manage-add-lo-button .dropdown-menu:after {
    position: absolute;
    top: -11px;
    right: 10px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 11px solid #ffffff;
    border-left: 7px solid transparent;
    content: '';
}

#central-lo-manage-add-lo-button .dropdown-menu li {
    border-top: 1px solid #E4E6E5;
    clear: both;
}

#central-lo-manage-add-lo-button #add-lo-type-hint {
    border: 0 none;
    padding: 5px 15px 10px;
    height: 55px;
    font-size: 12px;
}

#central-lo-manage-add-lo-button #add-lo-type-hint span.text-left{
    width: auto;
    margin-left: 0px;
    line-height: 20px;
}

#central-lo-manage-add-lo-button .hint-ico {
    margin-right: 10px;
    height:55px;
}

#central-lo-manage-add-lo-button .dropdown-menu li span {
    line-height: 34px;
    /* 		font-size: 13px; */
    padding-left:5px;
}

#central-lo-manage-add-lo-button .dropdown-menu li span.add-lo-operation-type span {
    font-size: 11px;
    text-transform:uppercase;
}

#central-lo-manage-add-lo-button .add-lo-type-description a {
    display: block;
    text-decoration: none;
    padding-left: 8px;
}

#central-lo-manage-add-lo-button .add-lo-type-description a:hover {
    color: #ffffff;
    font-weight: normal;
    background: #333333;
    text-shadow: 0 1px 0 #333333;
}

#central-lo-manage-add-lo-button .dropdown-menu li span.new-label{
    background-color: #6CC068;
    color: white;
    font-size: 11px;
    line-height: 16px;
    margin-top: 7px;
    margin-right: 7px;
    text-shadow: none;
    padding: 2px;
}

/** ---------------------------------- EDIT LO -------------------- **/
#player-centralrepo-uploader .tabbable .tab-content,
.player-centralrepo-uploader-class .tabbable .tab-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    overflow: auto;
}

#player-centralrepo-uploader .control-label{
    width: 80px;
}

#player-centralrepo-uploader .controls{
    margin-left: 100px;
}

#player-centralrepo-uploader .nav-tabs{
    min-height: 300px;
}

.version-control{
    display: none;
}

.version-control .muted{
    margin-left: 30px;
    font-size: 11px;
}

.version-control .version-info{
    margin-left: 30px;
}

.version-control .version-info input[type=text]{
    height: 25px;
}

.version-control .options{
    padding-top: 12px;
}

.version-control .options .controls{
    margin-left: 0px !important;
}

.version-control .controls label{
    display: inline;
    padding-left: 0px;
    margin-right: 0px;
}

/** ---------------------------------- LO VERSIONS-------------------- **/

.centralRepoVersions{
    padding-bottom: 100px;
    min-height: 200px;
    position: relative;
    /*background: linear-gradient( 90deg, #fff 1%, #fff 1%, transparent 1%);*/
}

.centralRepoVersions:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #cccccc;
    top: 0;
    left: 10px;
}
.circle {
    border-radius: 50%;
    display: inline-block;
    background: #cccccc ;
    width: 21px;
    height: 21px;
}
.versionItem {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}

.versionDate {
    width: 96.5%;
    border-bottom: 1px #e6e6e6 solid;
    float: right;
    line-height: 11px;
    padding-bottom: 5px;
    color:#666666;
}

.versionInfo {
    width: 96.5%;
    clear: both;
    float: right;
    margin-top: 5px;
}

.versionInfo .versionInfoBox{
    width: 90%;
    float:left;
}

.versionInfo .button-column {
    float: right;
    text-align: right;
}

.versionInfo .button-column a + a {
    margin-left: 3px !important;
}

.modal-centralrepo-version-edit label {
    margin-bottom: 8px;
}

.modal-centralrepo-version-edit input[type="text"], .modal-centralrepo-version-edit textarea {
    width: 605px;
}

.modal-version-delete-message .deleteMessage {
    width: 100%;
    text-align: center;
}

.modal-version-delete-message .deleteMessage .fa-exclamation-triangle{
    color: #e84c3d;
    font-size: 40px;
    margin-top: 10px;
}

.modal-version-delete-message .deleteMessage .message-black {
     display: inline-block;
     width: 260px;
     margin: 20px 0px;
 }

.modal-version-delete-message .deleteMessage .message-red {
    display: inline-block;
    width: 380px;
    color: #e94d3e;
    font-weight: bold;
    font-size: 15px;
}

.modal-version-delete-message .deleteMessage .agreeCheck label{
    display: inline;
}

.modal-version-delete-message .deleteMessage .agreeCheck {
    /*display: inline-block;*/
    position: relative;
    top: 70px;
    width: 40%;
    left: 0px;
}


.modal.modal-version-delete-message {
    width: 450px;
    margin-left: -220px;
}

.modal-version-delete-message .simpleDelete {
    text-align: left;
}

.modal-version-delete-message .deleteMessage.simpleDelete  .message-black{
    margin: 5px 0px;
    width: auto;
}


/*=================================*/
/*LO Repo Pushing LO Modal Styles*/
/*=================================*/

.modal.lorepo-push-to-courses{
    width: 970px;
    margin-left: -485px;
    min-height: auto !important;
}

.modal.lorepo-push-to-courses div.modal-body {
    min-height: auto !important;
}

.modal.lorepo-push-to-courses .lorepo-push-modal-filter-header td.object-type-select{
    padding-left: 15px;
}
.modal.lorepo-push-to-courses .lorepo-push-modal-filter-header td.object-type-select select {
    width: 200px;
}
.modal.lorepo-push-to-courses .lorepo-push-modal-filter-header td.group.clearfix.search table{
    float: right;
}

#lorepo-push-modal-leftside,
#lorepo-push-modal-rightside{
    display: inline-block;
    vertical-align: top;
}
div#lorepo-push-modal-leftside{
    width: 260px;
}
div#lorepo-push-modal-rightside{
    width: 650px;
    margin-left: 25px;
}
div#lorepo-push-modal-rightside div[id*='lorepo-push-lo-modal-objects-grid'] td:nth-child(1){
    width: 7%;
    height: 39px;
}
div#lorepo-push-modal-rightside div[id*='lorepo-push-lo-modal-objects-grid'] td:nth-child(2){
    width: 40%;
}
div#lorepo-push-modal-rightside div[id*='lorepo-push-lo-modal-objects-grid'] .lorepo-push-lo-modal-version-select{
    width: 330px;
    display: none;
}

.modal.lorepo-push-to-courses div.repo-object-version-top-panel{
    display: inline-block;
    width: 100%;
}

.modal.lorepo-push-to-courses div.repo-object-version-top-panel div.top-panel-left{
    float: left;
    margin-left: 5px;
    width: 45%;
}
.modal.lorepo-push-to-courses div.repo-object-version-top-panel div.top-panel-left select.lorepo-push-lo-modal-version-select{
    width: 100%;
}

.modal.lorepo-push-to-courses div.repo-object-version-top-panel div.top-panel-right{
    float: right;
    margin-right: 10px;
    width: 50%;
}

.modal.lorepo-push-to-courses div.repo-object-version-top-panel .select-version-label, .modal.lorepo-push-to-courses div.repo-object-version-top-panel .version-details, .modal.lorepo-push-to-courses div.top-panel-select-courses-label{

    margin-bottom: 5px;
}
.modal.lorepo-push-to-courses div.top-panel-select-courses-label{
    margin-left: 5px;
}

div.modal.lorepo-push-to-courses table#lorepo-push-lo-modal-filter-table {
    margin: 10px 0px;
}

div.lorepo-push-to-courses div.finished-step-icon{
    margin: 20px 0px;
}
div.lorepo-push-to-courses div.finished-step-icon, div.lorepo-push-to-courses div.finished-step-text {
    text-align: center;
}

/*=================================*/
/*Central LO Repo Fancy Tree Styles*/
/*=================================*/
/* FancyTree management */
table#push-lo-tree-cat-wrapper tr:not(first-child) span.fancytree-expander,
table#repo-tree-cat-wrapper tr:not(first-child) span.fancytree-expander {
    margin-left: 10px;
}
table#push-lo-tree-cat-wrapper td,
table#repo-tree-cat-wrapper td{
    position: relative;
    border: 0px;
    padding: 5px 0px;
}

table#push-lo-tree-cat-wrapper tbody tr:hover span.fancytree-title,
table#repo-tree-cat-wrapper tbody tr:hover span.fancytree-title {
    background: none;
    font-weight: bold;
}

table#push-lo-tree-cat-wrapper  tr.fancytree-active,
table#repo-tree-cat-wrapper tbody tr.fancytree-active {
    background: none;
}

table#push-lo-tree-cat-wrapper tr span.fancytree-node,
table#repo-tree-cat-wrapper tr span.fancytree-node {
    padding: 1px 0px;
}

table#repo-tree-cat-wrapper span.fancytree-node + a {
    right: 10px !important;
}

table#repo-tree-cat-wrapper tr[id*="tree-cat-wrapper-node"]:hover div.actions > a {
    display: block !important;
}

table#repo-tree-cat-wrapper span.fancytree-title {
    word-wrap: break-word;
    display: inline-block;
    width: 180px;
}

table#repo-tree-cat-wrapper div.node-actions {
    font-weight: 100;
}

table[id*='wrapper'] tr[id*='tree-cat-wrapper-node'].fancytree-expanded:first-child span.fancytree-icon {
    background-position: -216px 4px;
}

table[id*='wrapper'] tr[id*='tree-cat-wrapper-node']:first-child span.fancytree-icon {
    background: url(../../../../../../themes/spt/images/icons_elements.png) -442px -180px no-repeat;
    height: 16px;
    width: 30px;
    margin-left: 10px;
}

table[id*='wrapper'] tr[id*='tree-cat-wrapper-node']:first-child span.fancytree-expander{
    display: none;
}

table[id*='wrapper'] tr[id*='tree-cat-wrapper-node']:first-child span.fancytree-title {
    color: #0465ac;
}

/* DROP FILE*/
table#repo-tree-cat-wrapper tr.drop-over {
    font-weight: bold;
}

/* FancyTree management */

/*=================================*/

.modal.version-change-modal{
    width: 520px;
    margin-left: -246px;
}

.version-change-modal .users-version-options-container{
    background: #f1f3f2;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 22px 18px;
}

.modal.version-change-modal #warning-strip .warning-text {
    width: 86%;
}

.player-central-lo-shared-settings label span.jq-checkbox{
    float: left;
    margin-right: 10px;
}

#player-arena-uploader-panel #version{
    width: 80%;
}

#player-arena-uploader-panel .overlay.active{
    display: none;
}

#player-arena-uploader-panel .overlay{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: white;
    opacity: 0.6;
}

#repo-objects-grid .underlined{
    text-decoration: underline;
}

#repo-objects-grid .empty{
    color: #fe7b4d;
}

.modal #push-lo-to-single-course .filters.filters_course_management{
    margin-top: 0px;
    margin-bottom: 0px;
}

#player-centralrepo-uploader #lo-video-subtitles{
    min-height: 400px;
    margin-left: 40px;
}

#player-centralrepo-uploader #LearningVideoSubtitles_lang_code{
    width: 100%;
    padding: 0px;
}

#player-centralrepo-uploader #video-url{
    /*display: none;*/
}

#player-centralrepo-uploader #video-url input{
    height: 20px;
    width: 90%;
}

#player-centralrepo-uploader #video-url .muted{
    font-size: 10px;
}

#player-centralrepo-uploader .url-valudator-info{
    margin-left: 10px;
    position: relative;
    top: 5px;
}

#player-centralrepo-uploader .wistia-icon {
    height: 31px;
    margin-top: -17px;
    display: inline-block;
}

#player-centralrepo-uploader .url-valudator-info i.fa-check-circle-o{
    color: #5ebe5d;
}
#player-centralrepo-uploader .url-valudator-info i.fa-times{
    color: red;
}

#player-centralrepo-uploader .url-valudator-info .tooltip{
    top: -64px;
    left: -39.78125px;
    display: block;
    width: 100px;
}

#embed-video-preview{
    min-height: 400px;
}

/* Central LO USAGE MODAL*/
div.modal.material-usage-dialog {
    width: 960px;
    margin-left: -480px;
}

div.modal.material-usage-dialog table.filters tr td.table-padding {
    padding: 10px 14px;
}

div.modal.material-usage-dialog td.course-usage{
    word-break: break-all;
    width: 40%;
}
/* Central LO USAGE MODAL*/

/* some more grid and filters styles */
div#repo-objects-grid td.single-icon {
    width: 1%;
    text-align: center;
    font-size: 14px;
    padding: 0 8px 0px 10px;
}

div.filters-wrapper td.smaller-size {
    width: 1%;
}
div.filters-wrapper table.full-width {
    width: 100%;
}
div.filters-wrapper td.descendants-filter-cell {
    white-space: nowrap;
}
div.filters-wrapper div.input-wrapper.repo-input-wrapper {
    padding-right: 38px;
}
div.filters-wrapper div.input-wrapper.repo-input-wrapper input.repo-text-search-filter {
    width: 100%;
}
div.filters-wrapper td.group.long-search {
    padding-bottom: 0;
}
div.filters-wrapper td.hidden-filter {
    visibility: hidden;
}