/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2016, 3:35:22 PM
    Author     : vbelev
*/

section#app7020-general-settings-form-container {

	h1 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	h5 {
		font-weight: 600;
		font-size: 15px;
	}


	div.details {
        font-size: 0.9em;
        &.padd {
            margin-left: 25px !important;
        }

    }


    #app7020-general-settings-form {

		.border-wraper {
			border-bottom: 1px solid $grey-border;
			border-top: 1px solid $grey-border; 
			padding-top: 1px;
			padding-bottom: 1px;
			.app7020-container {
				&.grey {
					border: none;
					padding: 0 20px !important;
				}
			}
		}

		#ShareApp7020Settings_video_contribute {
			.control-group {
				&:first-child { 
					margin-bottom: 0px;
				}
			}
		}

        div.logical-group {
            .additional_container {
                display: none;
                &.show {
                    display: inline-block;
                }

				.controls {
					&.related-items {
						padding-left: 30px;
					}
					#file_extensions {
						margin-left: 25px;
						width: 530px;
						@media (max-width: 480px) { 
							width: 185px;
						}
						@media (min-width: 481px) and (max-width: 768px) { 
							width: 315px;
						}
						@media (min-width: 769px) and (max-width: 980px) {
							width: 366px;
						}
					}
				}
            }
        }
        .span8 {
            .details {
                margin: -10px 0 10px;
            }
        }

        input[type='text'] {
            margin: 0 10px;
			height: 22px;
            &#video_not_shorter_time, &#video_not_longer_time {
                width: 107px;
            }
            &#file_extentions {

                margin-left: 25px;
                @media (min-width: 979px) {
                    width: 369px;
                }


            }
            &#limit_characters {
                width: 50px;
            }
        }


        .row-fluid {
            padding: 20px;
            box-sizing: border-box;
            &:last-child {
                padding: 100px 0 10px;
            }



        }
        .control-label {
            text-align: left;
            float: left;
            width: inherit;
        }
        .controls {
            margin-left: 0;
        }

        .control-group {
            margin-bottom: 10px;

            label[for='App7020SettingsGeneralForm_video_contribute_0'] {
                margin-bottom: -20px !important;
            }


        }


		.btn {
			float: right;
			&.save { 
				@include make-button($green-color, 14px, #fff, 7px 34px);

				&.app7020-button {
					padding-top: 0;
				}
			}
			&.cancel {
				@include make-button($grey-dark, 14px, #fff, 7px 34px);
			}
		}

		@include custom-radio-button-checkbox('radio','../../../../themes/spt/images/icons_elements.png', 19px, 19px, -138px, -35px, -117px, -35px);
		@include custom-radio-button-checkbox('checkbox', '../../../../themes/spt/images/icons_elements.png', 19px, 19px, -143px, -198px, -189px, -198px);

    }








}