/* 
    Created on : 08.10.2015, 15:14:14
    Author     : IVO
*/

#lo-7020-tags-topics{
	padding-bottom: 10px;
	margin-top: -18px;
	margin-right: -20px;
	.control-group{
		margin-bottom: 8px; 
	}
	.controls{
		margin-left: 0px;
		font-size: 14px;
		.checkbox{
			background: #f1f3f2 none repeat scroll 0 0;
			border-bottom: 1px solid #f1f3f2;
			border-top: 1px solid #f1f3f2;
			box-shadow: 0 0 0 1px #fff inset;
			padding: 0 15px;
			label{
				position: relative; 
				margin: 0;
				padding: 15px 25px;
			}
		}
		input[type=checkbox] { 
			display:none;
		}
		input[type=checkbox] + label:before {
			font-family: FontAwesome;
			display: inline-block;
			content: "\f096"; 
			font-size: 19px;
			position: absolute;
			top: auto;
			left: 0;
		}
		input[type=checkbox]:checked + label:before { 
			content: "\f046";  
		}
	}
	#checkBoxHint .hint-wrapper{
		margin-left: 180px;
	}
}

#lo-7020-tags-container{
	position: relative;
	> p{
		margin: 0;
	}
	.title{
		color: #333;
		font-size: 15px;
		font-weight: 800;
	}
	.subTitle{
		color: #999;	
		font-size: 12px;
	}
	.tagsSection{
		margin-top: 3px;
		.twitter-typeahead{
			display: block !important;
		}
		.tagsField{
			width: 100%;
			box-sizing: border-box;
			height: 32px;
			padding: 0 15px;
			margin-top: 7px;
		}
	} 
}
