#myActivity{
	h1{
		font-size:16px;
		line-height:21px;
		border-bottom:1px solid #e6e6e6;
		display:block;
		margin-bottom:10px;
		font-weight:600;
	}

	h2{
		font-size:16px;
		padding-bottom:9px;
		display:block;
		border-bottom:1px solid #e6e6e6;
		font-weight:600;
	}
	h3{
		font-size:14px;
		display:block;
		margin-bottom:15px;
		font-weight:600;
	}
	.charts{
		margin-top:30px;
		.row-fluid{
			position:relative;
			&:first-child{
				margin-bottom:49px;
			}
		}
		.dchart{
			height:253px;
			border-bottom:1px solid #e6e6e6;
		}
		.bar-chart{
			height:209px;
		}
		&.share-charts{
			padding-bottom:50px;
			.dchart{
				height:271px;
			}
		}
		position:relative;
		.span6{
			position:relative;
		}
		h2{
			border-bottom:1px solid #e6e6e6;
			padding-bottom:15px;
			margin-bottom:15px;
		}
		.chartjs-tooltip{
			position:absolute;
			.tooltip-container{
				padding:6px 20px;
				text-align:center;
				span{
					&:first-child{
						font-size:18px;
						font-weight:bold;
					}
				}
			}

		}
	}
	.myChannelsList{
		margin-bottom:49px;
		span{
			display:inline-block;
			background:#0664AC;
			color:#fff;
			font-size:11px;
			line-height:21px;
			padding:0 6px;
			margin:0 7px 0 0;
			font-weight:bold;
		}
	}
	.filter{
		text-align:right;
		margin:14px 0 0 0;
		label,select{
			display:inline-block;
		}
		label{
			padding-right:9px;
		}
		select{
			border-radius:0;
			border-top:1px solid #999;
			border-left:1px solid #999;
			border-right:1px solid #e5e5e5;
			border-bottom:1px solid #e5e5e5;
			background:#f9f9f9;
			&:focus{
				outline:none;
			}
		}
	}
	.tab-content{
		overflow:visible;
	}
	.angular-tabs{
		overflow:hidden;
		.tabs{
			h2{background:#fff;}
			height:100%;
			background:#f1f2f3;
			display:table-cell;
			margin-bottom:-9999px;
			padding-bottom:9999px;
			.ang-tabs {
				display:block;
				width:100%;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				margin:0;
				li {
					display: block;
					text-align: left;

					border-top: 1px solid #fff;
					border-bottom: 1px solid #fff;
					margin-bottom:1px;
					text-shadow:none;
					a{
						line-height:35px;
						padding-left:9px;
						display:block;
					}
					&:first-child{
						border-top:none;
					}
					&.active{
						background:#030303;
						a{
							color:#fff;
						}

					}
				}
			}
		}
	}

	.data-boxes li{
		border:1px solid #e6e6e6;
		background:#f8f8f8;
		padding:15px;
		margin-bottom:15px;
		&:nth-child(3n+1){
			margin-left:0;
		}
	}

	span.num{
		color:#0664aa;
		font-size:19px;
		display:block;
		strong{
			color:#525252;
			font-weight:normal;
		}
	}

	span.text{
		font-size:11px;
	}

	.fa-star,.fa-star-o,.fa-star-half-o{
		color:#eec50c;
		font-size:14px;
	}

	.bar-chart-legend{
		text-align:right;
		li{
			display:inline-block;
			font-size:11px;
			line-height:13px;
			padding-left:30px;
			&:first-child{
				padding-left:0;
			}
			&.legend-assets{
				.fa-stop{
					font-size:13px;
					color:#aedeae;
					margin-right:10px;

				}
			}
			&.legend-views{
				.fa-stop{
					font-size:13px;
					color:#0465aa;
					margin-right:10px;
				}
			}
		}
	}

	.table-top5{
		display:table;
		width:100%;
		margin-bottom:40px;
		h2{
			display:inline-block;
			border-bottom:none;
			padding-bottom:0;
		}
		.fa{
			cursor:pointer;
			font-size:18px;
			&.fa-check-circle,&.fa-thumbs-o-up{
				color:$green-color;
			}
			&.fa-thumbs-o-down{
				color:$red;
			}
		}
		.table-row{
			display:block;
			border-bottom:1px solid #e5e5e5;
			line-height:39px;

			&.current{
				color:$green-color;
			}
			span{
				display:table-cell;
				text-align:center;
				vertical-align: middle;
				&.cell-index{
					text-align:right;
					font-weight:bold;
				}
				&.cell-name{
					text-align:left;
				}
				span.avatar{
					padding:0;
					margin:0;
					/*					width: 41px;
										height: 40px;*/
					/*					overflow: hidden;*/
					/*-webkit-border-radius: 50px;*/
					/*-moz-border-radius: 50px;*/
					/*border-radius: 50px;*/
					/*border: 1px solid #ccc;*/
					display: inline-block;
					/*line-height: 39px;*/
					/*text-align: center;*/
					/*background: #0000FF;*/
					/*font-weight: 600;*/
					/*color: #fff;*/
					/*border: none;*/
					img{
						/*width:100%;*/
						/*height: 100%;*/
						/*display:block;*/
					}
				}
			}
		}
		.coach-activity{
			display:block;
			border-bottom:1px solid #e5e5e5;
			line-height:39px;

			&.current{
				color:$green-color;
			}
			span{
				/*display:table-cell;*/
				text-align:center;
				vertical-align: middle;
				&.cell-index{
					text-align:right;
					font-weight:bold;
				}
				&.cell-name{
					text-align:left;
				}
				span.avatar{
					padding:0;
					margin:0;
					/*					width: 41px;
										height: 40px;*/
					/*					overflow: hidden;*/
					/*-webkit-border-radius: 50px;*/
					/*-moz-border-radius: 50px;*/
					/*border-radius: 50px;*/
					/*border: 1px solid #ccc;*/
					display: inline-block;
					/*line-height: 39px;*/
					/*text-align: center;*/
					/*background: #0000FF;*/
					/*font-weight: 600;*/
					/*color: #fff;*/
					/*border: none;*/
					img{
						/*width:100%;*/
						/*height: 100%;*/
						/*display:block;*/
					}
				}
			}
		}
	}
	.asset-list{
		li{
			padding:17px 0;
			border-top:1px solid #e6e6e6;
			&:first-child{
				border-top:none;
			}
		}
		.thumb{
			width:252px;
			height:144px;
			background:#ccc;
			position:relative;
			margin-left:0;
			.type{
				background:#0465ac;
				display:inline-block;
				color:#fff;
				padding:5px 10px;
				text-transform:uppercase;
				position:absolute;
				left:17px;
				bottom:18px;
				font-size:9px;
				line-height:9px;
			}
			.time{
				position:absolute;
				background:#030303;
				display:inline-block;
				color:#fff;
				padding:5px 10px;
				top:16px;
				right:16px;
				font-size:9px;
				line-height:9px;
			}
		}
		.asset-data{
			.row-fluid{
				margin-bottom:20px;
			}
			h4{
				margin-bottom:20px;
				a{
					color:#0A65AB;
					font-size:14px;
				}
			}
		}
	}

	.subtitle{
		line-height: 0px;
		padding-bottom: 15px;
	}

	.subtitle-alone{
		display: inline-block !important;
		line-height: 10px;
		padding-bottom: 0px;
		vertical-align: bottom !important;
		font-size: 11px;
	}
}