.autocomplete-container{
	.item-content{
		.item-input{
			padding: 20px 15px;
		}
	}
}

#selected-tags-container {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
		li {
			height: 40px;
			line-height: 40px;
			background-color: #0465AC;
			color: white;
			border-bottom: 1px solid white;
			padding-left: 18px;
			i {
				float: right;
				margin-right: 15px;
				margin-left: 15px;
				line-height: 40px;
			}
		}
}

div.tags-container-holder {
	background-color: #fff;
	color: #333;
	ul#tags-container-prefilled {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		li:last-child{
			border-bottom: none;
		}
		li{
			border-bottom: 2px solid #F5F5F5;
			margin: 0;
			height: 30px;
			line-height: 30px;
			text-align: center;
			a {
				margin-left: 1em;
			}
		}
	}
}