/* 
    Created on : 16.05.2016, 11:25:57
    Author     : Violeta
	
*/

/****** Modal panel style settings *******/
.invitation-page{
	.modal.modal-in{
		background: $white-color;
	}
	.modal-buttons{
		font-size: 14px;
		.modal-button{
			color: $lightgray-color;
		}
		.modal-button-bold{
			color: $red-color;
			font-weight: 400;
		}
	}
	.modal-overlay.modal-overlay-visible{
		z-index: 66658;
	}
}
.modal-inner{
	.input-field{
		display: none;
		&:after{
			background: transparent;
		}
	}
}
.popup.modal-window{ 
	background: $white-color;
}
.popup:not(.tablet-fullscreen){
	height: 410px;
	margin-top: -23%;
}
.app7020-invited{
	.header-block{
		background: $white-color;
		color: blue-color;
		max-height: 52px;
		padding: 15px 20px;
		font-size: 17px;

		.modal-close{
			display: inline-block;
			margin-right: 20px;
			margin-top: 0;

			a{
				color: $blue-color;

				i{
					margin-top: 2px;
				}
			}
		}
		.modal-title{
			display: inline-block;
			line-height: 18px;

			h3{
				color: $blue-color;
				max-width: none;
			}
		}
		.invited-count-header{
			display: none;
		}
	}
}
.main-content-modal{
	min-height: 200px;
}
.header-selection{
	border-bottom: 1px solid $tileborder-color;
}
.selection-wraper{
	#selection{
		list-style: none;
		margin: 0;
		display: inline-block;
		max-width: 92%;
		margin-top: 2px;
	}
}

.content-block-modal{

	/* Invite to watch modal wndow - styles */
	.hidden{
		display: none;
	}
	.selection-wraper{
		background: $grayf8-background;
		color: $midgray-color;
		font-size: 16px;
		padding: 15px 15px 5px;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		float: left;
		@include gray-box-shadow();
		border-top: 1px solid $tileborder-color;

		li{
			float: left;
			padding: 0 5px;
			color: $blue-color;
			line-height: 24px;
			min-height: 25px;
		}
		.placeholder-text{
			padding-top: 3px;
			float: left;
			color: $lightgray-color;
		}
	}
	.typeahead-modal{
		border: 0;
		margin: 0;
		border-radius: 0;
		background: $grayf8-background;
		box-shadow: none;
		margin-top: -4px;
	}
	.suggestions-title{
		text-transform: uppercase;
		color: $midgray-color;
		font-size: 13px;
		font-weight: 400;
		margin: 0;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-left: 15px;
		box-sizing: border-box;
		float: left;
		line-height: 24px;
	}
	.invite-modal-footer{
		/* background: #fff; */
		padding: 20px;
		position: absolute;
		width: 100%;
		box-sizing: border-box;
		bottom: 0;
		margin-top: 15px;;
		button{
			position: relative;
			color: $green-color;
			background: $white-color;
			padding: 0;
			float: right;
			width: auto;
			margin-top: 0;
			text-transform: uppercase;
			font-size: 16px;
		}
		.counter-invitations{
			float: left;
			color: $midgray-color;
			
			strong{
				color: $blue-color;
			}
		}
	}
	.invited_items{
		background: $white-color;
		box-shadow: none;
		float: left;
		width: 100%;
		box-sizing: border-box;
		max-height: 100%;
		overflow: auto;
		min-height: 150px;

		.item{
			border-right: 2px solid $tileborder-color;
			padding: 10px 25px;
			color: #999;
			font-size: 13px;
			width: 41.5%;
			display: inline-block;
			position: relative;
			margin-top: -5px;
			
			&:nth-child(2n){
				border-right: 0;
			}

			h4{
				font-size: 15px;
				font-weight: 600;
				margin: 0;
				line-height: 18px;
				color: $blue-color;
				
				&.invited-title-user{
					color: $lightgray-color;
				}
			}
			.circle-avatar{
				border-radius: 50%;
				padding: 5px;
				background: $blue-background;
				text-align: center;
				line-height: 28px;
				color: $white-color;
				width: 30px;
				height: 30px;
				margin-right: 5px;
			}
			[data-custom="circle-avatar"] img {
				border-radius: 50%;
				height: 40px;
				width: 40px;
				display: block;
				border: 0;
				max-width: 100%;
				vertical-align: middle;
				box-shadow: 0 0 3px 0 #ddd;
			}
			.add-to-list{
				margin-top: 10px;
				width: 18px;
				height: 18px;
				overflow: hidden;
				i{
					font-size: 18px;
					width: auto;
					height: auto;
					color: $grayde-color;
					&.green{
						color: $green-color;
					}
					&.hidden{
						display: none;
					}
				}
			}
			.st-invited{
				strong{
					color: $green-color;
				}
			}
			.username-invite{
				&.hidden{
					display: none;
				}
			}
			.wrap-item-main{
				max-height: 40px;
				overflow: hidden;
				position: relative;
			}
			.channel-icon{
				width: 40px;
				height: 40px;
				border-radius: 50%;
				line-height: 40px;
				text-align: center;
			}
			.channel-data{
				font-weight: 400;
				color: $lightgray-color;
				font-size: 13px;
			}
			.function-click{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
	}
}
.invitation-sending{
	font-size: 18px;
	color: $lightgray-color;
	.app7020_second_row{
		margin-top: 10px;
	}
	.mdl-spinner{
		width: 80px;
		height: 80px;
	}
	.mdl-spinner--single-color .mdl-spinner__layer-1, .mdl-spinner--single-color .mdl-spinner__layer-2, .mdl-spinner--single-color .mdl-spinner__layer-3, .mdl-spinner--single-color .mdl-spinner__layer-4{
		border-color: $lightgray-color;
	}
}
.invitations-sent{
	font-size: 18px;
	color: $green-color;
	i{
		color: $green-color;
		font-size: 40px;
		border: 1px solid $green-color;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		text-align: center;
		line-height: 80px;
	}
	.app7020_second_row{
		margin-top: 10px;
	}
}
.modal-popup.inviting{
	.modal-window.popup:not(.tablet-fullscreen){
		 height: 165px;
		 width: 85%;
		 background: $white-color;
		 top: 0;
		 bottom: 0;
		 margin: auto;
		 left: 0;
		 right: 0;
		 padding: 25px;
	}
}

@media (max-width: 767px){
	.main-content-modal{
		min-height: 300px;
	}
	.popup:not(.tablet-fullscreen) {
		height: 100%;
		margin-top: 0;
	}
	.popup.modal-window{ 
		background: $grayEF-background;
	}
	.selection-wrapper{
		@include gray-box-shadow();
		border-top: 0;
	}
	.app7020-invited{
		.header-block{
			background: $blue-color;
			color: $white-color;
			max-height: 52px;
			padding: 15px 20px;
			font-size: 17px;

			.modal-close{
				a{
					color: $white-color;
				}
			}
			.modal-title{
				h3{
					color: $white-color;
				}
			}
			.invited-count-header{
				display: inline-block;
			}
		}
	}
	.header-selection{
		border-bottom: 0;
	}
	.content-block-modal{
		.suggestions-title{
			padding: 10px 15px;
			color: $lightgray-color;
		}
		.invited_items{
			@include gray-box-shadow();
			.item{
				width: auto;
				display: block;
				border-right: 0;
				border-bottom: 1px solid $tileborder-color;
				padding: 15px;
				margin-top: -5px;
			}
		}
		.invite-modal-footer{
			margin-top: 50px;
			.submit-btn{
				width: 100%;
				border: 0;
				padding: 25px 0 20px;
				color: $white-color;
				background: $green-color;
				text-shadow: none;
				font-size: 18px;
				border-radius: 0;
				font-weight: 300;
				margin-top: 40px;
				position: absolute;
				bottom: 0;
				left: 0;
				text-transform: none;
				font-size: 18px;
			}
			.counter{
				display: none;
			}
			.counter-invitations{
				display: none;
			}
		}
	}
}
#unhandle-selection{
	width: 20px;
	height: 28px;
	text-align: center;
	margin-top: 0;
	margin-bottom: -12px;
	vertical-align: middle;
}