.content-block-modal {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: auto;
}

.popup-about {
}


.login-screen, .popup {
  background: rgb(245,245,245);
}

.modal-overlay.modal-overlay-visible, .picker-modal-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
  z-index: 10000;
}

.content-block {
  margin: 32px 0;
  padding: 0 16px;
  box-sizing: border-box;
  padding: 0;
}

.list-block li {
  box-sizing: border-box;
  position: relative;
  background: rgb(255,255,255);
}

.selected-channels {
  padding: 15px;
}
.channel-modal-footer{
	margin: 0;
	padding: 20px 15px;
	 background: $white-color;
	border-top: 1px solid $tileborder-color;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
    bottom: 0;
}
.count-channels {
	 float: left;
	 color: $midgray-color;
	 
	 span{
		 color: $blue-color;
		 font-weight: 600;
		 margin-right: 5px;
	 }
}
.conform-channels{
	position: relative;
    color: $green-color;;
    background: $white-color;
    padding: 0;
    float: right;
    width: auto;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
	border: 0;
}
.list-block {
  margin: 0;
}
.list-block.table-view {
  margin-bottom: 65px;
}

.padding-items {
  padding: 7px;
}

.title-color {
  color: $blue-color;
  font-weight: 600;
}

.item-desc {
  display: block;
  opacity: 0.5;
  color: $midgray-color;
  line-height: 12px;
  font-size: 13px;
  
  p{
	  line-height: 12px; 
	  font-size: 13px;
	  margin-bottom: 0;
  }
}

.click-row {
	.item-inner{
		padding-top: 12px;
		padding-bottom: 16px;
		
		.item-title{
			color: $softdarkgray-color;
		}
	}
}
.all-items{
	.item-content{
		@include box-shadow-list();
	}
}
.list-block{
	@include box-shadow-list();
}

.row-channel-selected .icon-check {
  color: $green-color;
  font-size: 120%;
  padding-right: 5px;
}


.row-channel-not-selected .icon-check {
  font-size: 120%;
  padding-right: 5px;
  opacity: 0.5;
}




#header-block-modal{
  z-index: 999;
  width: 100%;
  padding: 15px;
  background: $blue-color;
  box-sizing: border-box;

  h3{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    line-height: 16px;
    display: inline-block;
    max-width: 95%;
    padding-left: 20px;
  }

  .close-popup .icon-close {
    color: #ffffff;
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 3px;
  }
}

.icon-close:before {
  padding: 1em;
  margin: -1em;
}

