/* 
    Created on : 30.03.2016, 14:25:57
    Author     : Violeta
	
*/

/****** Right panel reveal style settings *******/
.panel.panel-right.panel-cover{
	width: 45%;
	right: -45%;
}
body.with-panel-right-cover {
	.panel.panel-right.panel-cover{
		background: $graywhite-background;
		-webkit-transform: translate3d(-260px,0,0);
		transform: translate3d(-260px,0,0);
		z-index: 6000;
		right: -260px;
		@include box-shadow-darker();
	}
	.panel-overlay{
		background: $graywhite-background;
		opacity: 0.6;
	}
}
.panel-right{
	.panel.panel-right.panel-cover {
		background: $graywhite-background;
		-webkit-transform: none;
		transform: none;
		z-index: 6000;
		width: 100%;
		right: 0;
		@include box-shadow-darker();
		transition-duration: 0ms;
		display: none;
	}
	.content-asset-block{
		overflow: auto;
		height: 100%
	}
}

/* Right panel header styles */
.header-block{
	background: $blue-color;
	width: 100% !important;
	overflow: hidden;
	z-index: 9999;
	height: 52px !important;
	margin-bottom: 0;
	position: relative !important;
	
	h3{
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		display: inline-block;
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 5px;
	}
	.panel-close{
		float: left;
		font-weight: 600;
		padding: 1em;
		margin: -1em;
		margin-left: 0;
		margin-top: 5px;
		font-size: 20px;
		padding-top: 9px;
		width: 28px;
		height: 17px;
	}
}


/* Content block */
.asset-file{
	max-height: 285px;
    overflow: hidden;
	text-align: center;
}
.heading-title{
	padding: 20px 20px 0;
	margin-bottom: 5px;
	font-size: 16px;
}
.form-group{
	background: $white-background;
	@include box-shadow-lighter();
	
	p{
		border-bottom: 1px solid $tileborder-color;
		padding: 20px 15px;
		margin-bottom: 0;
	}
	input[type="radio"]{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		font-size: 16px;
		width: 97%;
		height: 92%;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	input[type="text"]{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		font-size: 16px;
		width: 100%;
	}
	textarea{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		resize: none;
		font-size: 16px;
		min-height: 65px;
		width: 100%;
		&.title-textarea{
			min-height: 0;
		}
	}
	textarea:focus, input:focus{
		box-shadow: none;
	}
}
.submit-btn{
	bottom: 0;
	width: 100%;
	border: 0;
	padding: 25px 0 20px;
	color: $white-color;
	background: $green-background;
	text-shadow: none;
	font-size: 18px;
	border-radius: 0;
	font-weight: 300;
	margin-top: 40px;
}
.submit-btn:hover{
	color: $white-color;
	background-color: $green-background;
}
form{
	.gray-color{
		color: $lightgray-color;
	}
}


.channel-text {
	font-size: 16px;
	opacity: 0.5;
	margin-left: 5px;
}


.publish-page{
	form{
		margin-bottom: 0;
	}
}

.modal-inner{
	text-align: left;
	padding-bottom: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

	.modal-title{
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
		text-align: left;
	}
	.modal-text{
		margin-top: 5px;
		font-size: 14px;
		line-height: 20px;
	}
	&:after{
		height: 0;
	}
}
.modal-buttons{
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;

	.modal-button{
		text-align: right;
		color: $green-color;
		background: $white-color;
	}
}
.actions-modal-button {
	&:last-child{					
		border-radius: 0;
		border: 0;
		outline: 0;
	}
}
.actions-modal-label{
	&:last-child{
		border-radius: 0;
		border: 0;
		outline: 0;
	}
}
.actions-modal-button.active-state{
	background: $white-background;
}
/* OFFLINE PAGE */
.offline-page{
	color: $green-color;
	height: 100%;
	-webkit-transform: translateZ(0);
}
.header-course-name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.offline-device-storage{
	height: 60px;
	width: 100%;
	background: $white-background;
	-webkit-box-shadow: 2px 2px 3px #e1e1e1;
	-moz-box-shadow: 2px 2px 3px #e1e1e1;
	box-shadow: 2px 2px 3px #e1e1e1;
	line-height: 33px;
}
.offline-chapters-table-view{
	min-width: 100%;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	overflow: hidden;
	height: 56px;
	max-height: 56px;
	position: relative;
}
	.offline-item-title{
		color: black;
		max-width: 85%;
		padding-bottom: 0;
		line-height: 30px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		position: inherit;
	}
	.offline-item-size{
		display: inline-block;
		color: $green-color;
		float: left;
		font-size: 12px;
	}
	.offline-item-status{
		float: right;
		width: 45px;
		height: 35px;
		line-height: 35px;
		margin-bottom: 11px;
		text-align: center;
		color: $green-background;
		font-weight: bolder;
		margin-right: 10px;

	}
	.offline-item-downloaded{
		display: inline-block;
		color: $green-color;
		float: left;
		font-size: 12px;
	}

	.offline-waiting-status {
		display: inline-block;
		color: $lightgray-color;
		font-size: 12px;
		width: 30px;
		height: 30px;
		float: right;
		line-height: 34px;
		margin-left: 10px;
		margin-bottom: 10px;
		margin-top: -21px;
		margin-right: -28px;
	}

.offline-chapters-information{
	padding: 15px 15px 15px 15px;
	color: $lightgray-color;
}
.offline-table-view > div.table-view.list-block{
	margin-bottom: 90px;
}
button#download-offline-courses {
	line-height: 16px;
	background-color: $green-background;
	margin: 0;
	.download-course-chapters-text{
		position: relative;
		display: inline-block;
		bottom: 3px;
	}
}
button#stop-download-offline-courses{
	background-color: #E84C3D;
	margin: 0;
}

.btn-offline-wrapper {
	max-height: 61px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transform: translateZ(0);
}

.storage-wrapper {
	background-color: white;
	padding-right: 15px;
	padding-left: 15px;
}

.mobile-storage {
	float: right;
}

.available-text {
	float: right;
	color: black;
}

.storage-text {
	float: left;
	color: black;
}

.offline-download-chapter-btn{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: none;
	background: $green-background;
	float: right;
	position: inherit;
	color: white;
	font-size: 20px;
	font-weight: lighter;
	margin-right: 10px;
	line-height: 35px;
	margin-top: -20px;
}
.chapter-downloaded{
	margin-top: -20px;
	margin-right: 3px;
}
.chapter-waiting{
	font-size: 9px;
	font-weight: 100;
	margin-top: -31px;
	margin-right: 10px;
	margin-left: 14px;
}
.chapter-downloading{
	color: $lightgray-color;
	font-size: 9px;
	font-weight: 100;
	margin-top: 7px;
	margin-right: 10px;
	margin-left: -30px;
}

.user-progress-animation{
	position: inherit;
	left: 50%;
	-ms-transform: translateX(-39px); /* IE 9 */
	-webkit-transform: translateX(-39px); /* Chrome, Safari, Opera */
	transform: translateX(-39px);
	margin: auto;
	vertical-align: middle;
	float: right;
	width: 35px;
	height: 35px;
	margin-top: 1px;
}
.percentage-tracker-directive .user-progress-animation .loader{
	position: inherit;
	width: 35px;
	height: 35px;
	float: right;
	box-sizing: border-box;
	.loader-bg{
		background: transparent;
		border: 4px solid #EFEFEF;
	}
	.loader-spiner{
		border: 4px solid #5ebe5e;
	}
}
.percentage-tracker-wrapper{
	width: 30px;
	height: 30px;
	float: right;
	line-height: 34px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: -21px;
	margin-right: -28px;
}
.table-view .table-view-row .item-content{
	padding: 0 0 0 15px;
	height: 56px;
	max-height: 56px;
	text-decoration: none;
}