.progress-background {
  position: relative;
  width: 100%;
  height: 14px;
  background-color: #EEEEEE;
  clear: both;
}
.progress-load {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: $blue-background;
  -webkit-box-shadow:0 1px 1px $blue-background;
  -moz-box-shadow:0 1px 1px $blue-background;
  box-shadow: 0 1px 1px $blue-background;
}


