#search-wrapper {
  display: none;
}

.search-overlay {
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9999;
  overflow: auto;
  background: rgba(0,0,0,0.7);
}

.search-input-wrapper {
  width: 100%;
  height: 50px;
}

#search-input-field {
  width: 100%;
  height: 50px;
  margin: 0;
}