.search-input {
  height: 100%;
  width: 52px;
}

#search-autocomplete-dropdown {
  width: 100%;
  height: 52px;
  margin: 0;
  background-color: rgb(239,239,239);
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}


div.search-container-holder ul#search-container li {
  border-bottom: 2px solid #F5F5F5;
  margin: 0;
  height: 52px;
  line-height: 52px;
  padding-left: 50px;
  padding-right: 20px;
  font-weight: bold;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-container {
  background: #ffffff;
  margin: 0;
}


.icon-search-right {
  float: right;
  position: absolute;
  display: block;
  width: 100%;
}

.reset-input {
  display: block;
  padding-left: 15px;
  margin-top: 7px;
  float: right;
  font-size: 14px;
  cursor: pointer;
  padding-top: 10px;
  width: 35px;
  height: 35px;
  color: #999999;
}

.icon-search-left {
  width: 100%;
  float: left;
  position: absolute;
  display: block;
}

.close-search {
  display: block;
  padding-left: 15px;
  margin-left: 0;
  margin-top: 4px;
  float: left;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  width: 35px;
  height: 35px;
  color: #999999;
}

.search-autocomplete-ios {
  padding-top: 20px;
}

.search-autocomplete-all {
  padding-top: 0;
}