.table-view{
	margin-bottom: 35px;
	float: left;
	width: 100%;
	
	ul{
		float: left;
		width: 100%;
		@include box-shadow-list();
	}
	.table-view-row{
		float: left;
		width: 100%;
		&:after{
			width: 100%;
			height: 1px;
			background-color: #efefef;
			display: block;
			content: "";
		} 
		.item-content{
			padding: 0 0 0 15px;
			height: 62px;
			text-decoration: none;
		}
		.item-media, .item-inner{
			display: inline-block;
			box-sizing: border-box;
			float: left;
			vertical-align: middle;
		}
		.item-media{
			padding: 0px;
			line-height: 44px;
			margin-right: 5px;
			img{
				width: 42px;
			}
			height: 42px;
			overflow: hidden;
		}
		.item-inner{
			max-width: 100%;
			margin: 0px;
			padding: 0px;
			.item-title, .progress-metas{
				width: 85%;
				float: left;
				display: inline-block;
				padding: 0px;
				margin: 0px;
				padding-top: 10px;
			}
			.item-title{
				font-size: 13px;
				color: #CACACA;
				padding-left: 15px;
				padding-bottom: 2px;
				b{
					color: #9a9a9a;
				}
				p{
					margin-bottom: 2px;
					font-size: 14px;
				}
			}
			.item-content{
				display: inline-block;
			}
			.progress-metas{
				padding-left: 15px;
				padding-top: 0;
				.progress{
					width: 108%;
					margin: 0px;
					padding: 0px;
				}
			}
			.item-after{
				width: auto;
				float: right;
				margin: 0px;
				font-weight: bold;
				margin-right: 10px;
				height: auto;
				font-size: 20px;
				cursor: pointer;
				margin-top: -38px;
				padding: 20px;
			}
			&:after{
				background: none;
				height: 0;
			}
		}
	}
}

.item-after:before {
	margin-right: -18px;
}

#table_bottom{
	float: left;
	height: 1px;
}