/* 
    Created on : 01.04.2016, 14:20:57
    Author     : Violeta
	
*/

/****** Visibility directive (public/private) style settings *******/
.row-visibility{
	ul{
		list-style: none;
		margin: 0;
		
		li{
			padding: 20px;
			border-bottom: 1px solid $tileborder-color;
			position: relative;
			opacity: 0.5;
			
			.visibility-icon{
				display: inline-block;
				vertical-align: top;
				
				i{
					font-size: 24px;
					width: auto;
					height: auto;
				}
			}
			.visibility-details{
				display: inline-block;
				padding: 0 15px;
				max-width: 70%;
				
				h5{
					font-weight: 400;
					font-size: 16px;
					margin: 0;
				}
				.visibility-description{
					color: $lightgray-color;
					font-size: 13px;
					line-height: 14px;
				}
			}
			&:last-child{
				border-bottom: 0;
			}
			.visibility-check{
				font-weight: 600;
				color: $green-color;
				position: absolute;
				right: 25px;
				top: 35px;
				font-size: 18px;
				display: none;
			}
		}
		li.selected{
			opacity: 1;
			.visibility-check{
				display: block;
			}
		}
	}
}