/* 
    Created on : 28.03.2016, 15:20:57
    Author     : Violeta
	
*/

/****** Walkthrough cards style settings *******/
.card-container{
	height: 515px;
    position: relative;
	padding-top: 52px;
	margin-top: 15px;
	
	.tinderslide {
		position: relative;
		padding-top: 50px;
	}

	.tinderslide ul {
		margin: 0;
		position: relative;
		display: block;
		width: 320px;
		margin: 0 auto;
		height: 420px;
	}

	.tinderslide li {
		display: block;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 5;
		left: 0;
		overflow: hidden;
		text-align: center;
		padding: 0;
		font-weight: 400;
		background: $white-background;
		font-size: 16px;
		color: $lightgray-color;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		height: 420px;
		@include box-shadow();
		 -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
		-moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
		-ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
		-o-transform: translate3d(0%,0,0) scale3d(1,1,1);
		transform: translate3d(0%,0,0) scale3d(1,1,1);
		&.active { z-index: 5; }
		&.next {
			height: calc(100% + 5%);
			opacity: 1;
			z-index: 2;
			transform: translate(0%, 0%) scale(0.95);
			top: calc(0% + 1%);
		}
		&.next1 {
			height: calc(100% + 0%);
			opacity: 1;
			z-index: 2;
			transform: translate(0%, 0%) scale(0.95);
			top: calc(0% + 1%);
		}
		&.last {
		    height: calc(100% + 10%);
			opacity: 0.9;
			z-index: 1;
			transform: translate(0%, 0%) scale(0.9);
			top: calc(1% + 1%);
		}
		&.last.next1 {
		    height: calc(100% + 5%);
		}
	 }
	/*#tinderslide li.pane1{
		$height: 420px;
		height: card-height($height);
		$width: 310px;
		width: card-width($width);
		left: 11px;
	}
	#tinderslide li.pane0{
		$height: 435px;
		height: card-height($height);
		$width: 295px;
		width: card-width($width);
		left: 18px;
	}
	#tinderslide li.current-card{
		width: 320px;
		height: 420px;
	}*/
	.cardtext-wrapper{
		padding: 35px 10px 35px;
	}
	.cardimage-wrapper{
		height: 210px;
		background: $darkgray-background;
		padding: 25px;

		img{
			max-width: 100%;
			max-height: 210px;
		}
	}
	.cardbutton-wrapper{
		button{
			border: 0;
			color: $white-color;
			font-size: 16px;
			width: 100%;
			padding: 15px;
			background: $green-background;
			color: $white-color;
			text-align: center;
			opacity: 1 !important;
		}
	}
}
.checbox-lastslide{
		text-align: center;
		margin-top: 60px;
		font-size: 14px;
		width: 250px;
		margin: 70px auto 30px;
		text-align: center;
		display: none;
		
		.checkbox-wrap {
			width: 24px;
			height: 24px;
			position: relative;
			background: $white-color;
			border: 1px solid $green-background;
			display: inline-block;
			top: -3px;
			margin-right: 5px;
				label {
				  width: 20px;
				  height: 20px;
				  cursor: pointer;
				  position: absolute;
				  left: 3px;
				  top: 2px;
				  &:after {
					content: '';
					width: 9px;
					height: 5px;
					position: absolute;
					top: 4px;
					left: 4px;
					border: 3px solid #fcfff4;
					border-top: none;
					border-right: none;
					background: transparent;
					opacity: 0;
					transform: rotate(-45deg);
				  }
				  &:after {
					opacity: 0;
				  }
				}
				.change-input-bg{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				input[type="checkbox"] {
				  visibility: hidden;
				  &:checked + .change-input-bg{
					visibility: visible;
					background: $green-background;
						label:after {
							opacity: 1;
						 }
				  }
				}
		}
		.label-select{
			display: inline-block;
		 }
	}