/**  Notification panel **/
.notifications-panel .contentRightPanel {
    text-align: center;
    height: 100%;
}

.notifications-panel .contentRightPanel .wrap-ul{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.rightPanelFlag {
    height: 100%;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4);
}

.notifications-panel .closeRightPanelButton {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 7px;
}

.notifications-panel .listNotification li {
    background-color: white;
    border-bottom: 1px solid #e4e6e5;
    text-align: left;
    cursor: pointer;
    display: table;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
}

.notifications-panel .listNotification li:hover {
    background-color: #f5f5f5;
}

.notifications-panel .listNotification .circle {
    display: inline-block;
}

.notifications-panel .imageHolder {
    display: table-cell;
    vertical-align: middle;
    padding: 19px 0;
}

.notifications-panel .imageDiv {
    background-color: #0465AC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.notifications-panel .imageDiv .zmdi{
    font-size: 20px;
    color: #fff;
    padding: 10px 13px;
}

.notifications-panel .messageHolder {
    overflow: hidden;
    position: relative;
    max-height: 3.9em;
    padding-right: 1em;
    margin: 15px 0 15px 5px;
    line-height: 1.3em;
}

.notifications-panel .messageHolder:before {
    position: absolute;
    right: 10px;
    bottom: 3px;
    content: '...';
}

.notifications-panel .arrowBack {
    position: absolute;
    left: 15px;
    top: 15px;
    color: grey;
    font-size: 1.5em;
    cursor: pointer;
    padding: 4px;
}

.notifications-panel .singleContent {
    background-color: white;
    margin-top: 40px;
    padding: 15px 25px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.04);
    border-top: 1px solid #e4e6e5;
    text-align: left;
}

.notifications-panel .wordBreak {
    /*override possible notification template errors*/
    word-break: keep-all !important;
}

.notifications-panel .emptyContentIcon {
    display: block;
    margin-top: 45%;
    color: grey;
    margin-bottom: 20px;
}

.notifications-panel .inbox-wrapper .circle {
    width: 9px !important;
    height: 9px !important;
}

.notifications-panel .dateHolder {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 2px;
}

.notifications-panel a {
    position: absolute;
    bottom: 0;
    color: #0465ac;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    left: 0;
    padding: 20px;
    background: #fff;
    border-top: 1px solid #e4e6e5;
}

.notifications-panel .innerTitle {
    margin: 8px 0 10px;
    color: #0465ac;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
}

.notifications-panel .dateDivInner {
    text-align: left;
    color: #999;
    margin: 5px 0 0;
}

/* Communication Panel */

.communication-center-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.communication-center-icon .counter {
    position: absolute;
    z-index: 2;
    color: white;
    background: #5EBE5D;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    left: 10px;
    top: -6px;
    min-width: 12px;
    min-height: 12px;
    padding: 2px;
}

#communication-icon {
    font-size: 16px;
}

.fab-icon {
    position: fixed;
    bottom: 30px;
    right: 100px;
    text-align: right;
    z-index: 10000;
}

.fab-icon .close-button{
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 1;
    cursor: pointer;
}

.communication-panel .contentRightPanel{
    overflow: auto;
}

.communication-panel .contentRightPanel .single-message-container .avatar{
    position: absolute;
    right: 10px;
    top: -33px;
}

.communication-panel .contentRightPanel .single-message-container .time{
    margin-bottom: 5px;
}

.fab-icon .avatar .avatar-clip{
    cursor: pointer;
}

.communication-panel .contentRightPanel .avatar-clip,
.fab-icon .avatar .avatar-clip{
    width: 50px;
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    border: 2px solid;
    display: inline-block;
    margin-left: -20px;
    min-height: 50px;
}

.communication-panel .contentRightPanel .avatar-clip.red,
.fab-icon .avatar .avatar-clip.red{
    color: white;
    background-color: darkred;
}

.communication-panel .contentRightPanel .avatar-clip.orange,
.fab-icon .avatar .avatar-clip.orange{
    color: white;
    background-color: orange;
}

.communication-panel .contentRightPanel .avatar-clip.blue,
.fab-icon .avatar .avatar-clip.blue{
    color: white;
    background-color: #0456ac;
    border-color: #0456ac;
}

.communication-panel .contentRightPanel .avatar .avatar-clip .avatar-initial,
.communication-panel .contentRightPanel .avatar .avatar-clip .avatar-icon,
.fab-icon .avatar .avatar-clip .avatar-icon {
    font-size: 22px;
}

.fab-icon .avatar .avatar-clip .avatar-initial{
    font-size: 22px;
    line-height: 45px;
}

.communication-panel .contentRightPanel .communication-center.main .info-box{
    color: #999;
    padding: 25px 25px 10px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.communication-panel .contentRightPanel .communication-center.main .buttons{
    background-color: #fff;
    border-bottom: 2px solid #e4e6e5;
    padding: 30px 20px 20px;
    border-top: 1px solid #e4e6e5;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container{
    text-align: center;
    height: 650px;
    overflow: auto;
    display: inline-block;
}

.communication-panel .contentRightPanel .single-message-container{
    margin-top: 40px;
    background-color: white;
    padding: 20px 25px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px #e4e6e5 solid;
    border-top: 1px #e4e6e5 solid;
    position: relative;
}

.communication-panel .contentRightPanel .single-message-container .call-to-action{
    width: 100%;
    display: block;
    color: #fff;
    box-sizing: border-box;
    min-width: 0;
    text-transform: uppercase;
    margin: 0;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 5px !important;
    line-height: 35px;
    border-bottom: 2px #e4e6e5 solid;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail{
    background-color: #fff;
    text-align: left;
    margin-bottom: -4px;
    border-bottom: 1px #e4e6e5 solid !important;
    display: inline-block;
    padding: 5px 15px 7px;
    box-sizing: border-box;
    cursor: pointer;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail:first-child{
    border-top: 1px #e4e6e5 solid;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail:hover{
    background-color: #f5f5f5;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .message-tail-title{
    cursor: pointer;
    color: #0465ac;
    font-size: 13px;
    margin-bottom: 5px;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .info .span8,
.communication-panel .contentRightPanel .communication-center.main .messages-container .info .span4{
    min-height: 15px;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .message-tail-description{
    max-height: 35px;
    overflow: hidden;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .message-tail-title.orange{
    color: orange;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .message-tail-title.red{
    color: darkred;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .info{
    padding-top: 12px;
    padding-right: 5px;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .switch{
    height: 100%;
    margin-right: 7px;
    margin-top: -5px;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .switch .switcher{
    position: relative;
    top: 30px;
    left: 10px;
    cursor: pointer;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .switch .switcher .read{
    color: #cccccc;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .switch .switcher .green{
    color: #5FBD5D;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .time{
    text-align: right;
}

.communication-panel .contentRightPanel .communication-center.main .messages-container .message-tail .time .message-tail-time,
.communication-panel .contentRightPanel .single-message-container .single-message-time{
    font-size: 11px;
    color: #999;
}

.communication-panel .contentRightPanel .avatar,
.fab-icon.avatar{
    width: auto;
}

.communication-panel .contentRightPanel .avatar .avatar-clip,
.fab-icon.avatar .avatar-clip{
    margin-top: 13px;
    border-radius: 50%;
    width: 40px;
    height: auto;
    max-height: 40px;
    min-height: 40px;
    background-color: #0465ac;
    border-color: #0465ac;
}

.communication-panel .contentRightPanel .avatar .avatar-clip.initials .avatar-image,
.fab-icon.avatar .initials .avatar-image{
    margin-top: 10px;
}

.communication-panel .contentRightPanel .avatar .avatar-clip.icon .avatar-image,
.fab-icon.avatar .avatar-clip.icon .avatar-image{
    margin-top: 10px;
}

.communication-panel .contentRightPanel .communication-center.main .buttons p{
    font-size: 13px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.communication-panel .contentRightPanel .communication-center.main .buttons p.muted{
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    font-weight: 600;
    color: #999;
    width: 100%;
    margin-left: 5px;
    box-sizing: border-box;
    text-align: center;
}

.communication-panel .contentRightPanel .communication-center.main .buttons button{
    text-transform: uppercase;
    background-color: #0465ac;
    width: 100%;
    margin: 0 5px;
    padding: 0 15px;
    min-width: auto;
    border: 1px solid;
    border-radius: 5px !important;
    line-height: 35px;
}

.communication-panel .contentRightPanel .communication-center.inline .information-balloon{
    margin: 15px 10px 10px;
    min-height: 100px;
    display: inline-block;
}
.communication-panel .contentRightPanel .communication-center.inline .span10 .information-balloon{
    margin-left: 0;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form{
    background-color: white;
    padding: 15px 25px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #e4e6e5;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form label.blue{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .buttons{
    text-align: right;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .buttons button{
    margin-right: 10px;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .file label.muted{
    margin-left: 5px;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .file-area{
    border-bottom: 1px solid lightgrey;
    padding-top: 5px;
    width: 100%;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .file-area label:first-child{
    display: inline-block;
    color: black;
    margin-left: 5px;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .file-area i{
    float: right;
    margin-top: 10px;
    color: gray;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form .file-area input[type=file]{
    visibility: hidden;
}

.communication-panel .contentRightPanel .communication-center.inline .communication-form input[type=text]{
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 13px;
}

.communication-panel .contentRightPanel .communication-center.inline .information-balloon .avatar{
    margin-left: 35px;
}

.fab-icon .balloon-box{
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 30px;
    top: -10px;
    text-align: left;
    box-shadow: 1px 5px 18px #888888;
}

.communication-panel .contentRightPanel .communication-center.inline .information-balloon .balloon,
.fab-icon .balloon{
    padding: 10px;
    background-color: white;
    max-width: 400px;
    float: left;
    position: relative;
    box-shadow: 0 0 1px #cccccc;
}

.communication-panel .contentRightPanel .communication-center.inline .information-balloon .balloon .balloon-text,
.fab-icon .balloon .balloon-text{
    margin-top: 10px;
}

.communication-panel .contentRightPanel .communication-center.inline .information-balloon .balloon .arrow,
.fab-icon .balloon .arrow{
    position: absolute;
    left: -10px;
    top: 25px;
    margin-top: -10px;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
}

.fab-icon .balloon .arrow.bottom{
    position: absolute;
    bottom: -10px;
    left: 350px;
    margin-top: -10px;
    border-width: 10px 10px 0px 10px;
    border-color: #fff transparent transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
    top: auto;
}

.communication-panel .contentRightPanel .menu-helpdesk-search{
    margin-top: 30px;
}

.communication-panel .contentRightPanel .communication-center.inline textarea[name=message]{
    width: 96%;
    border: none;
    height: 60px;
    border-bottom: 1px solid lightgray;
}

.communication-panel .contentRightPanel .communication-center.inline .button-span{
    text-align: right;
}

.communication-panel .contentRightPanel .communication-center.inline .button-span button{
    border: none;
    background: none;
    color: #4EAE4F;
}

.communication-panel .contentRightPanel .communication-center.inline .btn-file{
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 20px;
    width: 20px;
    float: left;
}

.communication-panel .contentRightPanel .communication-center.inline .btn-file:hover{
    border: 1px solid #ccc;
}

.communication-panel .contentRightPanel .communication-center.inline .file-info{
    float: left;
    width: 200px;
    color: #ccc;
    font-size: 11px;
}

.communication-panel .contentRightPanel .manuals h5{
    font-weight: 600;
    margin-bottom: 5px;
}

.communication-panel .contentRightPanel .manuals{
    padding: 10px 25px 10px 25px;
    margin-top: 40px;
}

.communication-panel .contentRightPanel .manuals .container{
    width: 100%;
    margin: 0 -15px;
}

.communication-panel .contentRightPanel .manuals a.help-box{
    width: calc(33.3333333333% - 30px);
    font-size: 15px;
    margin: 12px 15px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.08);
    height: 90px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 5px 0 5px 0;
    vertical-align: top;
}

.communication-panel .contentRightPanel .manuals a.help-box span{
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 17px;
    display: block;
    padding: 0 10px;
    color: #0465ac;
}

.communication-panel .contentRightPanel .manuals a.help-box i{
    color: #ccc;
    margin-top: 10px;
    font-size: 36px;
    margin-bottom: 5px;
}

.communication-panel #snackbar {
    visibility: hidden;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    right: 70px;
    bottom: 30px;
    width: 400px;
    font-size: 17px;
}

.communication-panel #snackbar.success{
    background-color: #40ad65;
}

.communication-panel #snackbar.error{
    background-color: #ec5555;
}

.communication-panel #snackbar i{
    float: left;
}

.communication-panel #snackbar i.close-snackbar{
    cursor: pointer;
}

.communication-panel #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

