/* 
    Created on : 22.03.2016, 11:25:57
    Author     : Violeta
	
*/

/****** Learnig object style settings *******/

/* LEARNING OBJECT STATUS ICONS -- START */
.icon-completed.green {
  color: #5CBD5C;
}
.icon-play-circle.yellow {
  color: #F5AD40;
}
.icon-play-circle.gray {
  color: #999999;
}
.icon-play-circle.red {
  color: #d8001b;
}
.icon-clock.white {
  margin-bottom: 8px;
}
.icon-user-mobile.white {
  margin-bottom: 8px;
}
.icon-world.white {
  margin-bottom: 8px;

}
#clock-icon, #user-icon, #language-icon {
  width: auto;
  height: auto;
  margin-bottom: 5px;
}
/* LEARNING OBJECT STATUS ICONS -- END */
.medium-clock-time.medium-time, .language.language-type, .mobile-user.user-type {
  display: inline;
}
#mobile-course-icons-header > ul {
  width: 100%;
  max-width: 1050px;
  margin: 1px auto 0 auto;
  height: 50px;
  text-align: right;
  list-style-type: none;
  display: table;
  padding-top: 0;
  padding-bottom: 10px;
}
#mobile-course-icons-header ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px 20px 0;
}
#mobile-course-icons-header ul li .user-type {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 0.9px;
}
#mobile-course-icons-header ul li .language-type {
  text-transform: uppercase;
  display: block;
  font-size: 13px;
  letter-spacing: 0.9px;
  min-height: 20px;
}
#mobile-course-icons-header ul li .medium-time{
  display: block;
  font-size: 13px;
  letter-spacing: 0.9px;
}

#mobile-course-header {
  font-weight: 300;
  padding: 15px;
  padding-bottom: 30px;
}


#learning-plan-course-header {
  padding-left: 15px;
  padding-right: 15px;
}


#learning-plan-course-header{
  color: #fff;
  background-color: $blue-background;
}


#learning-plan-course-header .user-progress-animation {
  position: absolute;
  bottom: -25px;
  left: 50%;
  -ms-transform: translateX(-40px); /* IE 9 */
  -webkit-transform: translateX(-40px); /* Chrome, Safari, Opera */
  transform: translateX(-40px);
  margin: auto;
  vertical-align: middle;
  float: left;
  width: 60px;
  height: 60px;
}

.list-view-open-items {
  width: 100%;
  color: #000000;
  .item-inner{
    .title{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      position: inherit;
    }
  }
}
.list-view-open-items:hover{
  text-decoration: none;
}
#disable-folder-item {
  opacity: .99;
}
#check-object-type {
  opacity: .99;
}

/**
* learning plan
*/

.learning-plan-title {
  margin-right: auto;
}

.lo-user-img{
  max-width: 42px;
  max-height: 42px;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.learning-plan-title{
  margin-top: 0;
}

#mobile-course-content {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background: $gray-background;

  a:hover{
    text-decoration: none;
  }
}

/**
    circle progress animation
*/

.loader {
  position: inherit;
  width: 60px;
  height: 60px;
  float: left;
  box-sizing: border-box;
}
.loader-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background: #ffffff;
}
.spiner-holder-one {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  box-sizing: border-box;
}
.spiner-holder-two {
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
}
.loader-spiner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid rgba(94, 190, 94, 01);
  box-sizing: border-box;
}
.animate-0-25-a {
  -ms-transform: rotate(90deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transform-origin:  100% 100%;
}
.animate-0-25-b {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transform-origin:  100% 100%;
}
.animate-25-50-a {
  -ms-transform: rotate(180deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  transform-origin:  100% 100%;
}
.animate-25-50-b {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transform-origin:  100% 100%;
}
.animate-50-75-a {
  -ms-transform: rotate(270deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  transform-origin:  100% 100%;
}
.animate-50-75-b {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transform-origin:  100% 100%;
}
.animate-75-100-a {
  -ms-transform: rotate(0deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  transform-origin:  100% 100%;
}
.animate-75-100-b {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -ms-transform-origin:  100% 100%; /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin:  100% 100%; /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  transform-origin:  100% 100%;
}


.text {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-70%, -50%);
  -ms-transform: translate(-70%, -50%); /* IE 9 */
  -webkit-transform: translate(-70%, -50%); /* Chrome, Safari, Opera */
}

.percentage-single {
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.80);
  margin: 0;
  position: absolute;
  top: 43%;
  left: 57%;
}


.percentage-multi {
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.80);
  margin: 0;
  position: absolute;
  top: 43%;
  left: 65%;
}

.user-progress-animation-fake {
  position: relative;
  left: 50%;
  -ms-transform: translateX(1px); /* IE 9 */
  -webkit-transform: translateX(1px); /* Chrome, Safari, Opera */
  transform: translateX(1px);
  margin: auto;
  vertical-align: middle;
  float: right;
  width: 35px;
  height: 35px;
  margin-top: 1px;
}


.loader-fake {
  position: inherit;
  width: 35px;
  height: 35px;
  float: right;
  box-sizing: border-box;
}
.loader-bg-fake {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: 4px solid #EFEFEF;
}

.content-block.row.white {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 0;
}
.content-block.row.white:before{
  display: none;
}

.expand-arrow {
  font-size: 0px;
  cursor: pointer;
  position: relative;
}

.expand-arrow:after, .expand-arrow.true:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  position: absolute;
  text-indent: 0;
  font-size: 32px;
  font-weight: 300;
}
.expand-arrow.false:after {
  content: "\f106";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  font-size: 36px;
  font-weight: 300;
  text-indent: 0;
}
.collapse-text-toggle {
  margin-top: 0;
}
.top-close-object {
  float: left;
  margin-top: 16px;
  margin-left: 17px;
}
#file-object-header {
  color: $lightgray-color;
  letter-spacing: 0.9px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
}
#file-object-title {
  color: $blue-color;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
#file-object-content {
  font-weight: 400;
}
#file-object-download-button{
  margin: 0 auto;
  margin-top: 6px;
  display: table;
  left: 0;
  right: 0;
}
#file-object-download-button > .icon-download {
  margin-top: 10px;
}
#file-object-download-button > .file-download-container {
  background-color: #5EBE5D;
  text-align: center;
  width: 67px;
  height: 67px;
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 0;
  margin-bottom: -26px;
  right: 0;
  cursor: pointer;
  line-height: 55px;
}
#mobile-file-download {
  width: auto;
  height: auto;
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
}
#play-lo {
  margin-top: 0;
  height: 100%;

  .file-wrapper{
    position: relative;
    top: 50%;
    -ms-transform:  translateY(-50%); /* IE 9 */
    -webkit-transform:  translateY(-50%); /* Chrome, Safari, Opera */
    transform:  translateY(-50%);

    .file-container{
      padding: 0px;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      max-width: 100%;
      position: relative;

      .card-content{
        position: relative;
        padding: 20px 15px;
        .card-content-inner{
          padding: 0;
          font-size: 14px;
          line-height: 18px;
          color: $midgray-color;
          margin-bottom: 10px;
        }
      }
    }
    .wrapper-iframe{
      @extend .file-container;
      background: $white-background;
      padding: 10px 0;

      iframe{
        position: relative !important;
        width: 100% !important;
      }
    }
  }
}
.docebo-navbar-wrapper{
  display: none;
}

.left-side-button{
  display: none;
  float: left;
}

.right-side-button {
  display: none;
  float: right;
  height: 52px;
}

.display-block{
  display: block;
}
.top-buffer58{
  margin-top: 52px;
}
.list-block ul:before{
  background: transparent;
}
.white-title-folder {
  color: $white-color!important;
  padding-right: 15px;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 44px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

#mobile-video-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  video{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: 100%;
    /* height: 140px; */
    position: relative;
  }
}
.video-wrapper{
  height: 100%;
}
.list-block ul:after {
  -webkit-transform: scaleY(.33);
  transform: scaleY(.33);
}
.folder-children-item {
  background-color: rgba(4, 86, 172, 0.1);

  div.title {
    margin-left:15px;
  }
}
.frame-wrapper{
  height: 100%;
  background: $white-background;
  

  .wrapper-iframe{
	height: 100%;
  }
  
  .with-statusbar-overlay{
	  iframe{
		  margin-top: 52px;
	  }
  }
  
  iframe{
    max-width: 100%;
    height: calc(100% - 52px);

    div{

      max-width: 100%;
      width: 100vw !important;

    }
  }
}

html.with-statusbar-overlay {
  .frame-wrapper {
    iframe {
		padding-top: 0px !important;
		margin-top: 72px;
		height: calc(100% - 72px);
    }
  }
}


.content-iframe {
//position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;
}

.center-video-portrait{
  position: relative;
  top: 50%;
  -ms-transform:  translateY(-50%); /* IE 9 */
  -webkit-transform:  translateY(-50%); /* Chrome, Safari, Opera */
  transform:  translateY(-50%);
}


.center-video-landscape{
  position: relative;
  top: 52px;
}

.center-video-landscape-ios{
  position: relative;
  top: 72px;
}


.toolbar-height {
  height: 52px;
}

#sco{
	overflow-y: scroll !important;
}

.youtube-video-wrapper {
  display: block;
  float: none;
  clear: both;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 80%;
  top: 10px;
  left: auto;
  bottom: 0;
  right: auto;
  margin: auto;
  iframe, object, embed {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
  }
}

.asset-video-wrapper {
  display: block;
  float: none;
  clear: both;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 80%;
  top: 0px;
  left: auto;
  bottom: 0;
  right: auto;
  margin: auto;
    iframe:not(#youtube-player):not(#vimeo_player-element) {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

.iframe-scroller{
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}

#scroller{
  -webkit-overflow-scrolling: touch!important;
  overflow-y: scroll!important;
}

video:-webkit-full-screen     { max-height: 100%; }
video:-moz-full-screen        { max-height: 100%; }

video:-webkit-full-screen     { max-height: 100%; }
video:-moz-full-screen        { max-height: 100%; }

@media only screen and (orientation: landscape) {
	#center-video{
		margin-top: 0px;
		height: 100%;
		.center-fixator{
			top: 0px;
			bottom: px;
			height: 100%;
		}
	}
}

.iframe-scroller{
	position: relative;
	//margin-top: 52px;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}


@media only screen and (orientation: landscape) {
	.asset-video-wrapper{
		margin-top: 0px;
	}
	.iframe-scroller{
		height: 100%;
		margin-top: 0px;
	}
	.with-statusbar-overlay{
		.asset-video-wrapper{
			height: calc(100% - 20px);
			margin-top: 20px;
		}
	}
}

.offline-download-btn {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: none;
	background: #5CBD5C;
	float: right;
	position: inherit;
	color: white;
	font-size: 32px;
	font-weight: lighter;
	text-align: center;
    .icon-d_download{
        margin-left: -16px;
        margin-top: -2px;
    }
}