/* 
    Created on : 01.03.2016, 23:12:07
    Author     : Kristian
*/

.my-channel-information-wrapper{
	margin-left: 50px;
	.profile-info{
		.avatar{
			text-decoration: none;
			display: inline-block;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			img{
				width: 100%;
			}
		}
		.name{
			margin: 0;
			font-size: 30px;
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
		}
		.description{
			margin: 10px 0 0 0;
			color: #666;
			font-size: 15px
		}
	}
}
.information-bar-wrapper{
	padding: 20px 0 0 0;
	display: table;
	width: 100%;
	box-sizing: border-box;
	.left-side{
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	.right-side{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.contributions{
		font-size: 15px;
		strong{
			color: #0465ac;
			font-size: 15px;
			display: inline-block;
			padding-right: 5px;
		}
	}
	.fa-sliders{
		font-size: 34px;
		color: #999;
		cursor: pointer;
		margin-right: 95px;
	}
}
.myChannels-wrapper{
	.channel-wrap{
		margin-top: 0;
	}
	.my-channel-inReview{
		
	}
	.my-channel-contributions{
		.items-wrapper{
			margin-left: 50px;
			.col-tile{
				margin: 0 40px 40px 0;
			}
		}
	}
}