/* Upload history tab styles */

.info-block {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.count-items {
  float: left;
  opacity: 0.5;
  text-transform: uppercase;
}

.clean-items-button {
  float: right;
  color: $blue-color;
  cursor: pointer;
}

.primaryMenu li a{
  font-weight: 400;
  padding: 0 30px;
  height: 45px;
  line-height: 57px;
  font-size: 14px;
}

.item-before {
	padding-right: 15px;
	margin-top: 2px;
}

#upload-history-content{
	.item-inner{
		.item-title {
			padding-bottom: 0;
			line-height: 16px;

			p{
				color: $softdarkgray-color;
				font-size: 13px;	
				margin-bottom: 0;
			}
		}
		.item-after{
			margin-top: -30px;
			font-size: 16px;
			width: 20px;
			height: 20px;
			font-weight: 300;
			margin-right: 0;
			padding-right: 10px;
		}
	}
}

.item-history-details{
	float: left;
	max-width: 100%;
	width: 85%;
	padding-left: 15px;
	font-size: 11px;
	color: $lightgray-color;
	line-height: 14px;
}


.upload-queue-container, .upload-history-content, .no-content{
	margin-top: 0px !important;
}

.no-content{
	top: 0px !important;
}