@import 'directives/_walkthrough_cards';

.item-box-appereance{
	background-color: $white-color;
	color: $queueTextColor;
	@include box-shadow();
}


.msg-box-container {
	margin-top: 120px;
}

.msg-height-container {
	height: 55px !important;
}

.no-content{
	width: 100%;
	padding-top: 30px;
    height: 75px;
	margin-top: 52px;
	position: relative;
	top: 75px;
}

.bold{
	font-weight: bold
}
.black{
	color: $softdarkgray-color;
}

.queue-counter {
	width: 100%;
}

.counter {
	padding: 15px 20px;
	opacity: 0.6;
	margin: 0px;
	color: $midgray-color;
}

.item-box-appereance.no-content {
		.bold.text-center {
			margin: 0px;
		}
}



.upload-native-button {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: $blue-background;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 15px 20px;
	@include box-shadow-button();
	z-index: 99999;
	
	&:focus{
		background: $blue-background-light;
		outline: 0;
	}
	&:active{
		background: $blue-background-light;
	}
}

.icon-plus {
	width: 100%;
	height: 90%;
	color: white;
	font-size: 22px;
	align-items: center;
	justify-content: center;
	display: flex;
	//transform: translate(130%, 110%);
	cursor: pointer;
}

.native-button-message {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 105px;
	margin-right: 105px;
	margin-bottom: 46px;
}

.message-queue {
	margin: 0px;
	font-weight: bold;
}

.card-container {
	@extend .card-container;
}
.modal-card {
	position: absolute;
	z-index: 99999;
	top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Columns layout for tabs */
.column_1{
	width: 100%;
    text-align: center;
}
.column_2{
	width: 50%;
    text-align: center;
}
.column_3{
	width: 33%;
    text-align: center;
}
.column_4{
	width: 25%;
    text-align: center;
}
.modal {
	width: 270px;
	position: absolute;
	z-index: 99999;
	left: 50%;
	margin-left: -135px;
	margin-top: 0;
	top: 50%;
	text-align: center;
	border-radius: 0px;
	border-color: #ffF;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0) scale(1.185);
	transform: translate3d(0,0,0) scale(1.185);
	-webkit-transition-property: -webkit-transform,opacity;
	-moz-transition-property: -moz-transform,opacity;
	-ms-transition-property: -ms-transform,opacity;
	-o-transition-property: -o-transform,opacity;
	transition-property: transform,opacity;
	color: #000;
	display: none;
}
div.video-camera-square-container {
	background-color: #efefef;
	text-align: center;
}
.fa-video-camera.table-view, .fa-picture-o.table-view {
	color: $lightgray-color;
	position: relative;
	float: none;
}
.actions-modal-button{
	font-size: 14px;
	height: 60px;
	line-height: 60px;
	text-align: left;
}
.actions-modal {
    width: 100%;
    left: 0;
    margin-left: 0;
}
.actions-modal-button{
	&:before{
		font-size: 22px;
		font-family: 'icomoon';
		text-transform: none;
		line-height: 1;
		margin-right: 30px;
		margin-left: 5px;
		position: relative;
		top: 3px;
	}
}
.actions-modal-button.color-green{
	&:before{
		content: '\f040';
		color: $green-color;
		@extend .actions-modal-button:before;
	}
}	
.actions-modal-button.color-red{
	&:before{
		content: '\f014';
		color: $red-background;
		@extend .actions-modal-button:before;
	}
}
.actions-modal-group{
	margin: 0;
}
.actions-modal-button{
	&:after{
		background-color: rgba(0,0,0,.1);
	}
}

/* Change overlay background on uploadQueue page */
.with-panel-right-cover.black-overlay{
	.panel-overlay{
		background: #333;
		opacity: 0.4;
		
		&.no-menu-revealed{
			margin-left: 0;
			transform: none;
			-webkit-transform: none;
			z-index: 5060 !important;
		}
	}
	.card-container {
		.tinderslide {
			li{
				height: 400px;
			}
		}
	}
	.panel.panel-left.panel-reveal{
		width: 0;
	}
}
.video-upload-text{
	margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: $white-color;
}

.upload-queue-container, #upload-history-content{
	height: 100%;
	.walkthrough-page{
		display: none;
	}
}

.upload-queue-thumbnail-container{
	text-align: center;
	margin-top: 20px;
}