/* 
    Created on : 11.05.2016, 09:45:57
    Author     : Violeta
	
*/

/****** View asset style settings *******/
.left-asset-panel{
	padding: 0 15px;
    box-sizing: border-box;
}
.fp-player{
	video{
		top: 0 !important;
	}
}
.margin-top52{
	margin-top: 52px;
	
	&.view-asset-page{
		padding: 30px 0px;
		
		&.expanded-preview{
			padding: 0;
			
			.left-asset-panel{
				padding: 0;
			}
		}
	}
}
.col-8{
	width: 66.66667%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	float: left;
}
.col-4{
	width: 33.33333%;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	float: left;
}

.asset-details{
	background: $white-background;
	border: 1px solid $lightgray-border;
	@include gray-box-shadow();
	margin-bottom: 35px;
	overflow: hidden;
	
	.asset-meta-wrapper{
		padding: 25px 20px 7px 20px; 
	}
	.meta-details{
		.title-details{
			h1{
				color: $blue-color;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				max-width: 75%;
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.author-avatar{
			float: right;
			width: 42px;
			height: 42px;
			
			.avatar-thumb{
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
		.asset-metas{
			margin-top: 5px;
			margin-bottom: 20px;
			color: $grey-color;
			
			a{
				color: $blue-color;
				text-decoration: none;
				margin-right: 5px;
			}
			.asset-owner{
				margin-right: 15px;
			}
		}
	}
	.content-toggle{
		color: $grey-color;

		.container-line{
			margin-bottom: 30px;
			
			&.asset-tags{
				margin-bottom: 10px;
			}
		}
		h3{
			color: $grey-dark;
			font-size: 14px;
			font-weight: 300;
			margin-bottom: 5px;
		}
		
		.asset-tags{
			ul{
				margin-top: 10px;
				margin-bottom: 0px;
				margin-left: 0;
				
				li{
					display: inline-block;
					padding: 3px 15px 4px;
					margin-right: 5px;
					margin-bottom: 8px;
					background: $body-gray-background;
					color: $grey-color;
					font-weight: 300;
				}
			}
		}
		.asset-channels{
			ul{
				margin-top: 5px;
				margin-left: 0;
				margin-bottom: 5px;
				
				li{
					display: inline-block;
					margin-right: 10px;
					
					a{
						color: $blue-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.angle-toggle{
		font-size: 36px;
		color: $blue-color;
		cursor: pointer;
	}
	.asset-description-mobile{
		display: none;
	}
	.asset-description{
		display: block;
	}
}

/* Asset actions */
.asset-details-footer{
	padding: 20px 20px 7px 20px; 
	border-top: 1px solid $lightgray-border;
	margin-top: 20px;
	position: relative;
	
	.asset-actions{
		float: right;
		
		li{
			display: inline-block;
			margin-right: 25px;

			&:last-child{
				margin-right: 0;
			}
			
			span{
				color: $blue-color;
				font-size: 26px;
				cursor: pointer;
				
				i{
					width: auto;
					height: auto;
				}
			}
		}
	}
}

/* Related assets styles */
.similar-assets-wrapper{
	overflow: hidden;
	padding-left: 15px;
	position: relative;
	margin-bottom: 35px;
	height: auto;

	.swiper-wrapper{
		height: auto;
		margin-top: 0;
		.swiper-slide{
			width: 200px;
			height: 225px;
			margin-right: 10px;

			.col-tile{
				height: 100%;
				width: 100%;

				.tile-thumb{
					height: 100px;
				}
				.author-metas{
					display: block;
				}
				.tile-meta{
					.tile-title{
						min-height: 70px;
						max-height: 70px;
						margin-bottom: 10px;
					}
					.main-metas{
						display: none;
					}
				}
			}
		}
	}
	.related-assets-title{
		font-size: 20px;
		font-weight: 400;
		margin: 15px 0 15px;
		color: $softdarkgray-color;
		display: block;
	}
	button{
		display: none;
	}
	.items-wrapper{
		width: 135%;
		height: 220px;
	}
	
	.tiles-wrap{
		margin-top: 0;
		height: 100%;
		overflow: hidden;
		padding-bottom: 15px;
		
		.tile-thumb{
			height: 95px;
			overflow: hidden;
		}
	}
	
	.related-assets-title{
		display: none;
	}
	button{
		&.prev, &.next{
			background: #fff;
			border: 0 none;
			box-sizing: border-box;
			height: 40px;
			padding: 0;
			width: 100%;
			color: #0063ae;
			font-size: 37px;
			line-height: 31px;
			outline: 0;
			@include gray-box-shadow();
			position: absolute;
			z-index: 999;
			border: 1px solid $lightgray-border;
		}
		&.next{
			bottom: -1px;
			top: auto;
		}
		&.prev{
			margin-bottom: 40px;
			top: 20px;
		}
		&:focus{
			outline: 0;
			box-shadow: none;
		}
		&[disabled="disabled"]:not(.loading){
			background: #fcfcfc;
			color: #a8bddc;
			cursor: default;
			display: none;
		}
		&.loading{
			font-size: 20px;
			&:before{
				content: "\f110";
				display: inline-block;
				animation: 2s linear 0s normal none infinite running fa-spin;
			}
		}
	}
		.item{
			background: $white-background;
			display: block;
			width: 100%;
			box-sizing: border-box;
			height: 167px;
			margin-top: 10px;
			cursor: pointer;
			@include gray-box-shadow();
			
			&:first-child{
				margin-top: 2px;
			}
			figure{
				position: relative;
				width: 100%;
				display: block;
				margin: 0;
				height: 95px;
				overflow: hidden;
				
				img{
					width: 100%;
				}
				.label-top-left{
					position: absolute;
					z-index: 10;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 50px 50px 0 0;
					border-color: transparent;
					&:before{
						font-size: 16px;
						left: 8px;
						position: relative;
						top: -43px;
					}
				}
				.label-type{
					position: absolute;
					z-index: 10;
					left: 13px;
					top: 63px;
					font-size: 11px;
					font-weight: 700;
					background: #333;
					line-height: 19px;
					color: #fff;
					text-transform: uppercase;
					display: inline-block;
					padding: 0 8px;
				}
				.label-time{
					position: absolute;
					z-index: 10;
					top: 13px;
					right: 13px;
					background: #333;
					color: #fff;
					line-height: 21px;
					text-transform: uppercase;
					display: inline-block;
					padding: 0 8px;
					border: 1px rgba(51,51,51,.5) solid;
				}
			}
			.info{
				margin: 11px 0 0;
				color: #999;
				.ago{
					padding-left: 10px;
				}
			}
			.title{
				margin: 0;
				font-weight: 600;
				color: #0456ac;
				font-size: 14px;
				line-height: 17px;
				word-break: break-all;
				max-height: 40px;
				overflow: hidden;
				padding: 15px;

				a{
					color: $blue-color;
					line-height: 20px;
					font-size: 16px;
					font-weight: 600;
				}
			}
		}
}

/* Rating directive */
/* star rating diective */
.rating-directive{
	display: inline-block;
	margin-top: 7px;
	
	span{
		font-size: 14px;
		vertical-align: top;
		color: $grey-color;
		margin-left: 10px;
	}
	.rated-check{
		display: inline-block;
		vertical-align: top;
	}
		
	.rating-directive{
		display: inline-block;
		padding: 0 10px;
		margin-top: -2px;
		margin-left: 0;
		padding: 0;
		width: 120px;
		height: 22px;
		overflow: hidden;
		
		&.readonly{
			li{
				label{
					cursor: initial;
				}
				 & > input {
					&:checked + label{
						&:before {
							content: "\f006";
						}
					}
				}
				&.filled{
					& > input {
						&:checked + label{
							&:before {
								content: "\f005";
							}
						}
					}
				}
			}
		}
		
		li{
			display: inline-block;
			padding: 1px;
			color: $grey-color;
			font-size: 20px;
			list-style-type: none;
			display: inline-block;
			cursor: pointer;
			margin-right: 2px;

			&.filled {
			  color: $yellow-color;
			}
			
			 & > input {
				display: none;
				& + label {
				  /* only enough room for the star */
				  display: inline-block;
				  overflow: hidden;
				  text-indent: 9999px;
				  width: 1em;
				  white-space: nowrap;
				  cursor: pointer;
				  &:before {
					display: inline-block;
					text-indent: -9999px;
					content: "\f006";
					color: $yellow-color;
				  }
				}
				& + label:hover {
					&:before {
						content: "\f005";
					}
				}
				
				&:checked + label{
					&:before {
						content: "\f005";
					}
				}
			}
			
			&.filled{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
			&.half{
				label{
					&:before {
						content: "\f123";
					}
				}
			}
			&.empty{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.hover{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
			&.filled.disabled{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.half.disabled{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.hover.filled{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
		}
	}
}

/* Asset play directive */
.asset-play-wrap{
	height: auto;
	background: $gray-background;
	
	.asset-video-preview{
		height: 300px;
		overflow: hidden;
		.asset-file {
			max-height: 300px;
		}
	}
	.asset-player{
		height: 100%;
		text-align: center;

		.asset-image-preview{
			height: 300px;
			overflow: hidden;
			position: relative;

			img{
				max-width: 100%;
				max-height: 100%;
				top: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.asset-file-preview{
			position: relative;
			height: 100%;
			.asset-default-type{
				padding: 10px;
				a.content-wrapper{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
				}
				.sharelinkstittle{
					color: $blue-color;
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 15px;
				}
				.sharelinksdescription{
					margin-bottom: 15px;
				}
				.sharelinksfilename{
					font-size: 16px;
					color: $blue-color;
				}
				.thumb{
					width: 40%;
					padding: 20px;
					border: 1px solid #e6e6e6;
					display: block;
					vertical-align: middle;
					text-align: center;
					margin: 5px auto 15px;
				}
			}
			.downloadable-asset{
				width: 100%;
				height: 290px;
				background: $blue-background-download;
				background-color: #242834;
				color: $white-color;
				font-size: 18px;
				position: relative;

				a{
					color: $white-color;
					cursor: pointer;
					font-weight: 100;
				}
				i{
					font-size: 60px;
					width: auto;
					height: auto;
				}
				.tap-download{
					margin-top: 20px;
					margin-bottom: 5px;
				}
				.file-title{
					font-size: 15px;
				}
				.asset-download-type{
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					height: 120px;
					font-weight: 100;
				}
			}
			.asset-video-type{
				height: 100%;

				iframe{
					max-height: 300px;
				}
			}
			.play-asset-file{
				height: 385px;
				max-width: 100%;
				background: $gray-background;
				.swiper-slide{
					//width: 87%;
					max-width: 100%;
					max-height: 100%;
					line-height: 100%;
					height: auto;
					border: 2px solid #fff;
					box-sizing: border-box;
					//margin: 10px;
					
					.col-file-item{
						height: 310px;
						img{
							max-width: 100%;
							max-height: 100%;
							width: auto;
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							margin: auto;
						}
					}
				}
				.files-wrap{
					display: block;
					height: 100%;

					.swiper-wrapper{
						height: 87%;
					}
				}
				&.expanded{
					height: 100%;
					width: 100%;
					max-width: 100%;
					position: fixed;
					z-index: 1006;
					background: $gray-background;

					.files-wrap{
						height: 100%;
					}
					.file-play-meta{
						position: absolute;
						width: 100%;
						box-sizing: border-box;
						bottom: 0;
					}
					.files-wrap{
						.swiper-wrapper{
							height: 90%;
							.swiper-slide{
								height: 100%;
								vertical-align: middle;
								line-height: 100%;
								max-width: 100%;
								margin: 10px 0;
								padding: 5px;
								box-sizing: border-box;
								.col-file-item{
									height: 100%;
								}
							}
						}
					}
				}
			}
		}
		.file-play-meta{
			padding: 15px 20px;
			background: $darkgray-color;
			color: $white-color;
			display: block;
			text-align: center;
			font-weight: 100;
			position: relative;
			z-index: 1006;

			.expand-carousel{
				position: absolute;
				right: 0px;
				width: 53px;
				top: 0px;
				height: 48px;
				line-height: 48px;
				cursor: pointer;
				z-index: 1;
				padding-left: 15px;
			}
			.shrink-carousel{
				position: absolute;
				right: 0px;
				width: 53px;
				height: 50px;
				top: 0px;
				line-height: 48px;
				cursor: pointer;
				display: none;
				z-index: 1;
				padding-left: 15px;
			}
		}
		.asset-video-embeded{
			iframe{
				width: 100%;
			}
		}
	}
	.asset-link-type{
		height: 400px;
		.preview-image-link{
			width: 100%;
			height: 350px;
			line-height: 350px;
			overflow: hidden;
			img{
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
		.preview-link{
			padding: 15px 20px;
			background: $darkgray-color;
			color: $white-color;
			display: block;
			text-align: left;
			font-weight: 100;
			.link-url{
				 max-width: 85%;
				 display: inline-block;
			}
			.link-icon-preview{
				float: right;
				font-size: 18px;
			}
		}
	}
	
}

/* Media queries */

/* Tablet view */
@media (min-width: 769px) and (max-width: 1024px) {
	.asset-play-wrap {
		.asset-player {
			.asset-file-preview {
				.play-asset-file{
					&.expanded{
						.files-wrap{
							.swiper-wrapper{
								height: 90%;
							}
						}
					}
				}
			}
		}
	}
}

/* Phone view */
@media (max-width: 769px){
	.left-asset-panel{
		padding: 0;
	}
	.col-8{
		width: 100%;
		padding: 0;
	}
	.col-4{
		width: 100%;
		padding: 0;
	}
	.margin-top52{
		
		&.view-asset-page{
			padding: 0;
		}
	}
	.asset-details {
		.asset-meta-wrapper{
			padding: 25px 20px 7px 25px;
			.meta-details{
				.asset-metas{
					margin-top: 5px;
					width: 100%;
				}
			}
		}
		.content-toggle{
			.container-line{
				margin-bottom: 0;
				
				&.asset-description-mobile{
					margin-bottom: 30px;
					display: block;
				}
			}
		}
		.asset-details-footer{
			padding-top: 20px;
			padding-left: 0;
			margin-top: 10px;
		}
		.rating-directive{
			padding: 5px 20px 0;
			ul{
				padding: 0;
				width: 110px;
			}
			li{
				font-size: 18px;
			}
			.rated-check{
				margin-top: -2px;
			}
		}
		.asset-description{
			display: none;
		}
	}
	.similar-assets-wrapper{
		overflow: hidden;
		padding-left: 10px;
		position: relative;
		margin-bottom: 35px;
		height: auto;

		.swiper-wrapper{
			height: auto;
			margin-top: 0;
			.swiper-slide{
				width: 165px;
				height: 225px;
				margin-right: 10px;
				max-width: 85%;

				.col-tile{
					height: 100%;

					.tile-thumb{
						height: 100px;
					}
					.author-metas{
						display: block;
					}
				}
			}
		}
		.related-assets-title{
			font-size: 20px;
			font-weight: 400;
			margin: 10px 0 10px;
			color: $softdarkgray-color;
		}
		button{
			display: none;
		}
		.items-wrapper{
			width: 135%;
			height: 220px;
		}
	}
}

@media (max-width: 667px){
	.asset-details{
		.asset-details-footer{
			padding-top: 0;
			margin-top: 10px;
			border-top: 0;
			.asset-actions{
				li{
					a{
						font-size: 22px;
					}
				}
			}
		}
		.asset-actions{
			padding: 15px 35px;	
			border-top: 1px solid $lightgray-border;
			float: left;
			width: 100%;
			margin: 0;
			box-sizing: border-box;

			li:last-child{
				float: left;
			}
		}
		.asset-meta-wrapper {
			padding: 15px 15px 7px 15px;
		}
		.rating-directive{
			padding: 5px 15px 0;
		}
	}
	.similar-assets-wrapper{
		.related-assets-title{
			display: block;
		}
	}
	.asset-play-wrap{
		.asset-link-type{
			height: 250px;
			.preview-image-link{
				height: 200px;
				line-height: 200px;
			}
		}
		.asset-player {
			.downloadable-asset{
				width: 100%;
				background: $blue-background-download;
				color: $white-color;
				position: relative;
				height: 200px;
				font-size: 16px;
				a{
					color: $white-color;
					cursor: pointer;
					font-weight: 100;
				}
				.tap-download{
					margin-top: 20px;
					margin-bottom: 5px;
				}
				i{
					font-size: 54px;
					width: auto;
					height: auto;
				}
				.file-title{
					font-size: 13px;
				}
				.asset-download-type{
					margin: auto;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					height: 120px;
					font-weight: 100;
				}
			}
			.asset-video-type{
				iframe{
					max-height: 200px;
					max-width: 100%;
				}
			}
			.asset-image-preview{
				height: 200px;
			}
			.asset-file-preview {
				.play-asset-file{
					height: 240px;
					.files-wrap {
						.swiper-wrapper{
							height: 80%;
							.swiper-slide{
								height: 170px;
								max-width: 85%;

								.col-file-item{
									height: 170px;
								}
							}
						}
					}
					&.expanded{
						.files-wrap{
							.swiper-wrapper{
								height: 85%;
								margin-top: 9px;
								.swiper-slide{
									max-width: 100%;
									margin: 10px 0;
									padding: 5px;
									box-sizing: border-box;
								}
							}
						}
					}
				}
			}
		}
		.asset-video-preview{
			height: 200px;
		}
	}
}
#vote-success-message{
	color : #5EBE5D;
	font-size : 16px;
	font-weight : 900;
}