/* 
    Created on : 22.03.2016, 11:09:57
    Author     : Violeta
	
*/

/*  View course page styles */

#course-description {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 40px;
    overflow: hidden;
}
.col-60.description-wrapper {
    position: relative;
	font-size: 13px;
    line-height: 16px;
	width: 100%;
}
#more-arrow {
    color: $white-color;
    font-size: 30px;
	width: auto;
    height: auto;
}
#mobile-course-content .folder-item {
    background-color: $blue-background;
    color: $white-color;
}
#mobile-course-chapters {
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: $lightgray-color;
	letter-spacing: 0.8px;
	background: $gray9-background;
}
.object-item [class^="icon-"], .object-item [class*=" icon-"]{
	width: auto;
    height: auto;
}
#mobile-course-header{
    color: $white-color;
    background-color: $blue-background;
}
.course-title {
    margin-top: 0;
	font-size: 22px;
    font-weight: 300;
	margin-bottom: 7px;
	line-height: 26px;
}

#course-desc {
	white-space: pre-wrap;
}

/* Restyling course pages */
#mobile-course-content{
	.object-item {
		background-color: #ffffff;
		color: #000000;
		padding: 5px 0px 5px 0px;
		font-size: 16px;
	}
}
#mobile-course-icons-header{
	ul {
		padding-bottom: 10px;
	}
}
.title-with-link{
	display: block;
}
.placeholder-wrap .swiper-slide{
	margin-bottom: 25px;
}
#course-description{
	height: 47px;
}
.top-close-object{
	margin-top: 15px;
}
#course-description{
	padding: 0px 0 10px;
}
#learning-plan-course-header {
    padding-bottom: 15px;
	margin-top: 52px;
	padding-top: 15px;
	min-height: 100px;
	position: relative;
}
.learning-plan-title {
    margin-top: 0;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 7px;
    line-height: 26px;
}
#mobile-wrapper{
	position: relative;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
	
	.expand-arrow, .collapse-text-toggle{
		width: 30px;
		height: 30px;
		margin-top: 17px;
	}
	.expand-arrow:after, .collapse-text-toggle:after{
		font-size: 32px;
	}
}
#mobile-course-chapters {
    padding-bottom: 15px;
    padding-top: 15px;
}
.user-img {
    width: 35px;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
#mobile-course-content{
	.item-inner{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		color: $darkgray-color;
		.learning-plan-title{
			color: $darkgray-color;
			margin-bottom: 0;
			font-weight: 400;
			max-height: 43px;
			line-height: 20px;
			overflow: hidden;
			font-size: 16px;
		}
		.icon-xl {
			width: auto;
			height: auto;
		}
		.item-media{
			min-width: 20px;
		}
	}
}
#course-preloader-background {
    background-color: $gray-background;
    width: 100%;
    height: auto;
    z-index: 9999;
	display: block;
	
	.no-content{
		margin-top: 25px;
	}
}

.locked-object-types {
	//opacity: 1;
	//color: white;
}

#scrollable {
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0,0,0);
}
html{
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
body{
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
