#Bug_type br {
    clear: left;
}
#Bug_type_1 {
    margin-left: 130px;
}
#Bug_type label {
    margin-left: 3px;
}
#Bug_type_0, #Bug_type_1, #Bug_type label {
    float: left;
    text-align: left;
    width: auto;
}