/* 
    Created on : 02.07.2015, 10:45:59
    Author     : Kristian
*/
.app7020-delete-topic-dialog{
    #deleteTopicFormContainer{
        .topicInfo{
            font-size: 14px;
            padding-bottom: 10px;
            padding-top: 15px;
        }
        #agreeCheck{
            margin-top: -3px;
            padding-right: 5px;
        }
    }
    .modal-footer{
        @extend %dialog-buttons;
    }
}
