#topicsManagement{
    .modal_breadcrumbs{
        ul{
            display: block;
            border-top: 1px #ccc solid;
            border-bottom: 1px #ddd solid;
            padding: 5px;
            li{
                display: inline-block;
                padding: 1px 0;
                a, span{
                    color: #6f6f6f;
                    font-weight: 400;
                    font-size: 13px;
                    text-decoration: none;
                }
                a{
                    color: #189DE1;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                &:first-child{
                    padding-right: 5px;
                }
                &:not(:first-child):not(:last-child) {
                    &:after{
                        color: #000;
                        content: " >> ";
                        display: inline-block;
                        font-size: 9px;
                        padding: 0 3px;
                    }
                }
            }
        }
    }
    //<--- //Topic Body End// --->//
}
.app7020-edit-topic-dialog{
    .form-actions{
        background:transparent;
        border:none;
        text-align:right;
    }

    #topic-wizard-step-3-form{
        width:880px;
        padding-top:10px;
        .intro{
            border-bottom: 1px solid #ccc;
            padding-bottom:8px;
            font-size:20px;
        }
        .row-fluid{
            .row-fluid {
                border-bottom: 1px solid #ccc;
                padding:12px 0;
            }
        }
    }

    .copy-success-wrapper,
    .enroll-success {
        text-align: center;
        line-height: 20px;
    }

    .copy-success,
    .new-user-success,
    .modal-body .new-course-success,
    .modal-body .new-group-success,
    .left,
    .success-text {
        color: #52ab52;
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 22px;
        text-align:center;
    }

    .copy-success-icon {
        height: 37px;
        width: 37px;
        background: url(../images/icons_elements.png) -172px -62px no-repeat;
        margin: 0 auto 12px;

    }

    .copy-success-wrapper input {
        margin-top: 33px;
        min-width: 100px;
    }

    &.modal.users-selector{
        min-height:auto;
        .modal-body{
            min-height:100%;
            max-height:100%;
        }
    }
    .language_content{
        .lang-wrapper{
            width: 100%;
            position: relative;
            .topicLangBox{
                width: 50%;
                float: left;
                p{
                    font-size: 13px;
                    font-weight: 700;
                    margin: 0 0 8px;
                }
                select{
                    border-radius: 0;
                    width: 94%;
                    outline: 0;
                }
            }
            .topicTitleBox{
                width: 50%;
                float: left;
                p{
                    font-size: 13px;
                    margin-bottom: 8px;
                }
                input{
                    border-radius: 0;
                    width: 251px;
                }
            }
            .topicLangInfo{
                margin-top: 10px;
                p{
                    margin-bottom: 0;
                    strong{
                        font-size: 14px;
                        padding-left: 5px;
                    }
                }
                .allLangs strong{
                    color: #333333;
                }
                .assignedLang strong{
                    color: #00CC00;
                }
                .requiredLang, .maxLetters{
                    display: none;
                    margin-top: 5px;
                    color: #ff0000;
                    font-weight: 400;
                    font-size: 13px;
                    strong{
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .modal-header{
        h3{
            font-weight: 400;
        }
    }
    .modal-footer{
        @extend %dialog-buttons;
    }
}