#expertsManagement{
    #combo-list-view-container-expertsComboListView{
        .filters-wrapper{
            table{
                width: 100%;
                background-color: #F1F3F2;
                td.group table tr:first-child td{
                    padding: 10px;
                    .search-input-wrapper{
                        input{
                            height: 30px;
                            min-width: 260px;
                            background-color: #fff;
                            border-radius: 1px;
                            border: 1px #E4E6E5 solid;
                            padding: 0 35px 0 5px;
                        }
                        button.clear-search{
                            display: none;
                        }
                    }
                }
            }
        }
        .selections{
            display: table;
            width: 100%;
            border-bottom: 1px #E6E6E6 solid;
            .left-selections{
                display: table-cell;
                width: 50%;
                height: 75px;
                vertical-align: middle;
                p, a{
                    display: inline-block;
                }
                br{
                    @media(min-width: 980px){
                        display: none;
                    }

                }
                p{
                    padding-right: 7px;
                    margin-bottom: 0;
                }
                a{
                    font-weight: bold;
                    text-decoration: underline;
                    cursor: pointer;
                    color: #0465ac;
                    font-size: 13px;
                    /*                    &.combo-list-select-all, 
                                        &.combo-list-deselect-all{
                                            display: none;
                                        }*/
                }
            }
            .right-selections{
                display: table-cell;
                width: 50%;
                vertical-align: middle;
                text-align: right;
                label.select{
                    line-height: 30px;
                    display: inline-block;
                    padding-right: 7px;
                    margin: 0;
                }
                select#expertsComboListView_massive_action{
                    display: inline-block;
                    text-align: left;
                    width: 220px;
                    height: 30px;
                    border-radius: 0;
                    padding: 0 5px;
                    outline: none;
                    background-color: #F9F9F9;
                    border-color: #999999 #e5e5e5 #e5e5e5 #999999;
                }
            }
        }
		#comboListViewTitle {
			font-size: 20px;
			font-weight: 600;
			margin-top: 20px;
			border-bottom: 1px solid #E6E6E6;
			padding-bottom: 12px;
		}
    }
    #expertsComboListView{
        .combo-list-item{
            margin: 14px 0 0 0;
            height: 34px;
            padding: 0 0 0 7;
            > .row-fluid > div{
                &:first-child{
                    line-height: 26px;
                    text-align: center;
                }
                &:last-child{
                    line-height: 30px;
                    margin: 0 10px 0 0;
                    float: right;
                    padding-right: 20px;
                }
            }
            .singleListItem{
                position: relative;
                .content{
                    text-align: left;
                }
                .customControls{
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: -16px;
                    .fa{
                        font-size: 17px;
                        line-height: 32px;
                        cursor: pointer;
                        opacity: 0.8;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
            &:nth-child(even) {
                float: right;
            }
        }
        .pager{
            float: right;
            margin: 22px 0 0 0;
        }
        .summary{
            float: left;
            margin: 22px 0 0 0;
        }
    }
}