ul#topicTreeBreadcrumbs{
    @extend %treeBreadcrumbs;
    margin: 20px 0 23px 0;
}
table#treeStructireId, table#maxell4o{
    thead{
        border-bottom: 1px #ddd solid;

        th{
            padding-bottom: 5px;
            &.title{
                text-align: left;
                padding-left: 15px;
            }
            &.icons{
                text-align: center;
            }
        }
    }
    tbody{
        tr{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-bottom: 1px #ddd solid;
            line-height: 33px;

            &[id^='treeStructireId-node-']{
				td {
					position: relative;
				}
                &:hover{
                    background-color: #f9f9f9;
                    td.iconPlace{
                        .infoIcons{
                            u, i {
                                color: #E48123;
                            }
                        }
                        .hiddenIcons{
                            i.fa-arrows , i.fa-ellipsis-v {
                                display: inline-block;
                            }
                        }
                    }
                }
            }

            td{
                &.visibility{
                    span{
                        display:block;
                        text-align:center;
                        text-decoration:underline;
                        line-height:15px;
                        cursor:pointer;
                    }
                }
                &:first-child{
                    padding-left: 10px;
                }
                &:last-child{
                    padding-right: 10px;
                }
                &.iconPlace{
					position: relative;
                    .infoIcons{
                        float: right;
                        margin-right: 90px;
                        @media (max-width: 1024px) {
                            margin-right: 70px;
                        }

                        u{
                            font-size: 13px;
                            line-height: 26px;
                        }
                        i{
                            font-size: 16px;
                            margin-left: 10px;
                        }
                    }
                    .hiddenIcons{
                        position: absolute;
                        z-index: 1000;
                        right: 10px;
                        width: 60px;
                        font-size: 20px;
                        .fa-ellipsis-v, .fa-arrows{
                            display: none;
                            z-index: auto;
                            float: right;
                            width: 26px;
                            height: 26px;
                            line-height: 26px;
                            color: #aaa;
                            margin-top: 0px;
                            text-align: center;
                            cursor: pointer;
                            &:hover{
                                color: #666;
                                border-color: #666;
                            }
                        }
                        .fa-ellipsis-v{
                            border: 1px #ddd solid;
                            margin-left: 6px;
                            &:hover{
                                > .dropdown-menu-actions{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Tree Custom Skin
	/*.fancytree-expander{
		background: none;
	}*/

	.fancytree-node {
		position: relative;
	}
	
	.fancytree-expander{
		position: absolute;
		margin-top: 10px;
	}
	
	.fancytree-icon {
		position: absolute;
		margin-left: 20px;
		margin-top: 11px;
	}
	
	.fancytree-title {
		margin-left: 42px;
	}
	
	tr[class*="fancytree-exp-"]{
		position: relative;
		.fancytree-expander:before{
			position: absolute;
			top: 2px;
			font-family: "FontAwesome";
			font-size: 14px;
			color: #999;
		}
/*		&[class*="fancytree-exp-c"] .fancytree-expander:before{
			content: "\f152";
		}
		&[class*="fancytree-exp-e"] .fancytree-expander:before{
			content: "\f150";
		}*/
	}
    .fancytree-icon{
        background: none;
        font-size: 19px;
    }
	.fancytree-title{
		word-break: break-all;
		@media (max-width: 480px)  {
			max-width: 100px !important;
        }
		@media (min-width: 481px) and (max-width: 767px) { 
			max-width: 150px !important;
        }
		@media (min-width: 768px) and (max-width: 979px) { 
			max-width: 425px !important;
        }
		
        @media (min-width: 980px) and (max-width: 1199px) { 
			max-width: 600px !important;
        }
		max-width: 780px !important;
	}
    .fancytree-active{
        .fancytree-title{
            font-weight: bold;
        }
    }
    tr:first-child{
        .fancytree-icon{
            color: #0361AB;
        }
        .fancytree-title{
            font-weight: bold;
            color: #0361AB;
        }
    }
    .dropdown-menu-actions{
        display: none;
        list-style-type: none;
        border: 1px #ddd solid;
        padding: 0;
        margin: 1px -1px 0 0;
        position: absolute;
        background: #fff;
        right: 0;
        z-index: 9999;
        li{
            a, a:active, a:visited{
                display: block;
                line-height: 28px;
                font-family: 'Open Sans';
                font-size: 13px;
                color: #333;
                outline: none;
                white-space: nowrap;
                padding: 0 10px;
                text-decoration: none;
                text-align: left;
                &:hover{
                    background-color: #F5F5F5;
                }
            }
        }
    }
}
