<!-- Show message if the course has no items -->
	<div class="item-box-appereance no-content" ng-show="!show">
		<div class="text-container">
			<p class="bold text-center">{{headMessage}}</p>
			<p class="text-center">{{secondaryMessage}}</p>
		</div>
	</div>

<!--{{ 'There are no learning objects' | translate }}-->

<!--{{ 'assigned to this course' | translate }}-->