@CHARSET "UTF-8";

body.welcome-page {
	background-color: #0465AC;
	color: #FFFFFF;
}


.welcome-page .welcome-title {
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    margin-top: 18px;
    margin-bottom: 18px;
}

    .welcome-page .welcome-title1 {
        font-size: 2.8em;	
    }

    .welcome-page .welcome-title2 {
        font-size: 2.0em;    
    }
    
    .welcome-page .no-thanks {
        white-space: nowrap;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2em;
    }
    
    
    .welcome-page .no-thanks a {
        color: white;
        text-decoration: underline;
    }
    

    .welcome-page .smartphones-image {
/*         position: relative; */
    }
    
    
    .smartphones-image .img-responsive {
        margin: 0 auto;
    }

    .welcome-page .get-app-now {
        white-space: nowrap;
        position: absolute;
        background-color: #53AB53;
        font-size: 2.1em;
        left: 3%;
        right: 3%;
        bottom: 0px;
        line-height: 2.6;
        text-transform: uppercase;
    }


    .welcome-page a {
        color: #FFFFFF;
        text-decoration: none;
    }


/* USER PERSONAL SUMMARY REPORT */
.user-report {
    text-shadow: 1px 1px 0 #eeeeee;
}

    .user-report .user-avatar {
        width: 50px;
    } 

    .user-report .user-courses-knob {
        margin-top: 10px;
    }

    .user-report .data-row:not(.knobs)  {
    }

    .user-report .user-header {
        margin:12px 0px;
    }


    .user-report .user-name {
        margin-top:1px;
        line-height: 18px;
        font-size: 16px;
        color: #0465AC;
        font-weight: 600;
    }
    
    .user-report .user-email {
        color: #777777;
    }
    
    .user-report .user-name,
    .user-report .user-email {
        margin-left: 54px;
    }
    
    
    .user-report .section-title {
        background-color: #EFF3F4;
        color: #777777;
        line-height: 29px;
        border-bottom: 1px solid #cccccc;
        padding-top: 9px;
    }
    
    
    .user-report .data-row {
        border-bottom: 1px solid #cccccc;
        line-height: 36px;
        font-size: 16px;
    }

    .user-report  .chart-legend {
        margin: 14px 0px;
        line-height: 16px;
        font-size: 12px;
    }

        .user-report .data-row:first-child {
            margin-left: 10px;
        }
    
    
        .user-report .data-row .data-column {
            color: #0465AC;
            padding-right: 6px;
        }

    
    
        .user-report .data-row.odd {
            background-color: white;
        }
    
        .user-report .data-row.even {
            background-color: #EFF3F4;
        }
     
     
        .user-report .data-row .chevron-right {
            font-size: 30px;
            color: #999999;
        }     

        
        
/* TEST LO */


.test-launch-container {}
    .test-launch-container .test-info-wrapper {
	   background-color: #EFF3F4;
	   border-top: 1px solid #cccccc;
    }
        

    .test-launch-container .test-description {
       margin-top: 12px;
       margin-bottom: 8px;
    }

        
    .test-launch-container .test-completion-block,
    .test-launch-container .test-info-block,
    .test-launch-container .answers-block
     {
        background-color: #FFFFFF;
        border: 1px solid #cccccc;
    }        
    
    .test-launch-container .test-completion-block {
        margin: 10px 0px;
/*         padding: 5px 10px; */
    }
    
        .test-launch-container .test-completion-block .completion-icon {
            padding: 5px;
        }
        
        .test-launch-container .test-completion-block .completion-info {
            padding: 5px;
        }
        
        .test-launch-container .test-completion-block .completion-info .test-score-note {
            font-size: 14px;
        }
        
        .test-launch-container .test-completion-block .completion-info .textual {
            font-size: 16px;
            font-weight: 700;
        }
        
    
    
    .test-launch-container .test-info-block,
    .test-launch-container .answers-block {
        margin: 10px 0px;
    }
	.test-launch-container .answers-block textarea {
		width:95%;

	}
    
    
    .test-launch-container .btn {
        text-transform: uppercase;
        font-size: 16px;
    }
    
    .test-launch-container .test-info-row {
        border-bottom: 1px solid #cccccc;
        padding: 5px 0px;
    }
    
    .test-launch-container .answers-block .test-info-row {
        padding: 18px 0px;
    }
    
    
    
    .test-launch-container .item-counter {
        margin-top: 5px;
        color: #666666;
        text-shadow: 1px 1px 0 #eeeeee;
    }
    
    .test-launch-container .test-title {
        color: #0465AC;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    
    
    .test-launch-container .status-bad,
    .test-launch-container .text-status-bad {
        color: red;
    }
    
    .test-launch-container .status-good,
    .test-launch-container .text-status-good { 
        color: green;
    }
    
    
    .test-launch-container .button-row {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    
    .test-launch-container.test-results-container {
    }    


        .test-launch-container.results-container .test-completion-block div.row {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;
        }

            .test-launch-container.results-container .test-completion-block div.row  .score-numbers {
                font-size: 26px;
            }    
    

        .test-launch-container.results-container .test-success-note  {
            margin-top: 15px;
            margin-bottom: 15px;
        }    

            .test-launch-container.results-container .test-success-note .success-text {
                padding-top: 14px;
                padding-left: 60px;
            }    
    
    
    
    .test-launch-container.review-container [id^="question-block-entity-"] {
        display: none;
    }
    
    .test-launch-container.review-container .review-answers-block {
        background-color: #FFFFFF;
        border: 1px solid #cccccc;
    }
    
    
	    .test-launch-container.review-container .review-answers-block ul {
	        list-style-type: none;
	    }
	    
	       .test-launch-container.review-container .review-answers-block ul li {
                margin-left: -40px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
           .test-launch-container.review-container .review-answers-block ul li input {
                margin-right: 5px;
            }
            
	    
	    
	    
	    .test-launch-container.review-container .review-answers-block .test-details-question-score {
	       display: none;
	    }
	    
	    .test-launch-container.review-container .review-answers-block .test-details-question-answers .p-sprite {
            margin-right: 5px;
            margin-bottom: 4px;
        }


        .test-launch-container.review-container .review-answers-block .test-answer-spare-icon {
            float: left;
            height: 20px;
            margin-right: 5px;
            width: 20px;
        }

        div.test-launch-container div.fill_in_the_blank span.correct{
            color: #5ebe5d;
            font-weight: bold;
        }
        div.test-launch-container div.fill_in_the_blank span.incorrect{
            color: #ff0103;
            font-weight: bold;
        }
        div.test-launch-container div.fill_in_the_blank div.test-details-question-score{
            display: block !important;
        }
        div.test-launch-container div.fill_in_the_blank div.test-details-question-score > h6{
            display: none;
        }
        div.test-launch-container div.fill_in_the_blank .grid-view{
            padding: 0px 0px 10px 0px !important;
        }
        div.test-launch-container div.fill_in_the_blank .grid-view thead tr th{
            color: black;
        }

    .test-info-wrapper div.play-title.fill_in_the_blank p{
        line-height: 40px;
    }

    .test-launch-container div.play-title.fill_in_the_blank p input{
        line-height: 23px;
        border: 1px solid #E5E5E5;
        padding: 0px 3px;
    }

        