.owl-theme {
    height:  $carousel-height;
    .owl-item {

    }
    .owl-stage-outer {
        height:  $carousel-height;
        .owl-stage {
            height:  $carousel-container-height;
            .owl-item {
                display: table;
                height:  $carousel-height;
                .item {
                    width: 100%;
                    display: table-cell;
                    width: 100%;
                    height:  $carousel-height;
                    vertical-align: middle;
                    .carousel-content {
                        background: $white;
                        width: 100%;
                        height:  $carousel-container-height;
                        border: 1px solid $border-grey;
                        figure {
                            margin: 0;
                        }
                        footer {
                            display: table;
                            position: relative;
                            height: 50px;
                            width: 100%;
                            .app7020-video-heading-container {
                                padding: 0 15px;
                                display: table-cell;
                                vertical-align: middle; 
                                width: 100%;
                            }
                            h2 { 
                                font-size: 12px;
                                text-align: center; 
                                overflow:hidden;
                                text-overflow:ellipsis;
                            }
                        }

                    }
                }
            }
        }
    }
}