/* 
    Created on : 01.03.2016, 23:11:57
    Author     : Kristian
*/

.clear-both{
	clear: both;
}
.channels-wrapper{
	width: 100%;
	background: $gray-background;
}
.col{
	//float: left;
}
.col-12{
	width: 100%;
	float: left;
}
.blue-color{
	color: $blue-color;
}
.color-green{
	color: $green-color;
}
.font-weight-medium{
	font-weight: 600;
}
.container.dashboard-new{
	width: 100%;
	min-height: 100%;
	background: $gray-background;
	overflow: hidden;

	.menu-spacer {
		margin-left: 0;
	}

	.header-logo-line{
		.span4{
			margin-left: 50px;
		}
		.span8{
			margin-left: 0;
			margin-right: 0;
			width: 63.3%;
		}
	}
	.breadcrumb{
		margin-bottom: 1px;
		padding-left: 50px;
	}
	#footer{
		margin: 20px 50px 20px 100px;
	}
	.header-logo-line {
		margin-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 20px;
		background: #fff;
		padding-top: 12px;
		background: $white-background;
	}
	.inner-container{
		margin: 40px 0 0px 50px;
	}
	#header{
		margin-left: 50px;
	}
	#navigation{
		margin-left: 50px;
	}
}

.tab-navigation{
	background: $white-background;
	border-bottom: 1px solid $tileborder-color;
	padding: 0;
    width: 100%;
	position: relative;
	ul{
		padding: 0 50px 0 100px;
		font-size: 0;
	}
	li{
		display: inline-block;
		box-sizing: border-box;
		transition: border .3s linear;
		/*border-bottom: 5px solid transparent;*/
		a{
			color: #999;
			height: 63px;
			line-height: 63px;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			display: block;
			padding: 0 33px;
		}
		&.active{
			/*border-bottom: 5px solid #0465ac;*/
			a{
				color: $blue-color;
			}
		}
	}
}
.header-channel{
	margin-bottom: 15px;
	
	.col-10-main{
		margin-left: 50px;
	}

}
.title-details h3{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 4px;
}
.title-details p{
	color: $midgray-color;
	font-size: 14px;
	font-weight: 400;
	display: flex;
}
.label-icon{
	padding: 10px 14px;
    background: #0456ac;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-top: 3px;
    margin-right: 15px;
	min-width: 20px;
	text-align: center;
}
.right-align a{
	color: $blue-color;
	font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
	vertical-align: top;
	i{
		margin-left: 5px;
		font-size: 22px;
		font-weight: 800;
		margin-top: 0;
	}
	i:before{
		top: 2px;
		position: relative;
	}
}
.right-align a:hover{
	color: $blue-color;
	text-decoration: none;
}
.col-tile{
	width: 250px;
	height: 237px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	margin-right: 20px;
	background: $white-background;
	position: relative;
}
.col-tile:hover{
	.tile-ratings{
		span.dots-link{
			display: block;
		}
	}
}
.tile-thumb{
	height: 127px;
	position: relative;
}
.thumb-img{
	float: left;
    width: 100%;
    height: 100%;
	background-repeat: no-repeat; 
	background-size: cover;
	
	a{
		float: left;
		width: 100%;
		height: 100%;
	}
}
.tiles-wrap{
	float: left;
    width: 100%;
    margin-top: 10px;
	display: block;
	position: relative;
	overflow: visible;
}
.tile-meta{
	padding: 12px 15px 0px 15px;
}
.tile-title{
	padding: 0px 0 0px;
	margin-bottom: 7px;
    display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: $blue-color;
	min-height: 30px;
	word-wrap: break-word;
    max-height: 32px;
    overflow: hidden;
}
.tile-title:hover{
	color: $blue-color;
	text-decoration: none;
}
.author-metas{
	padding-bottom: 12px;
	font-size: 12px;
	color: $lightgray-color;
	float: left;

	a{
		color: $blue-color;
		cursor: default;
		&:hover{
			text-decoration: none;
		}
	}
}
.main-metas{
	font-size: 12px;
	color: $lightgray-color;
	padding-bottom: 5px;

	span{
		display: inline-block;
		margin-right: 7px;
	}
	.tile-ratings{
		padding: 0;
		border-top: 0;
		margin-right: 0;
		float: right;
		
		
		.popover-link{
			font-size: 12px;
			color: $lightgray-color;
			cursor: default;
			
			i{
				font-size: 16px;
				color: $yellow-color;
				margin-right: 5px;
			}
		}
		.popover-link:hover{
			text-decoration: none;
		}
		.popover.top{
			margin-top: -10px;
			margin-right: -5px;
			border-color: $lightgray-color;
			
			.arrow{
				border-top-color: $lightgray-color;
			}
		}
		.popover-title{
			border-bottom: 0;
			padding: 10px 10px 0 10px;
			background: #fff;
			color: $lightgray-color;
		}
	}
	.rating-icons{
		margin-right: 12px;
		float: left;
	}
	.rating-icons li{
		float: left;
		margin-right: 5px;
		color: $yellow-color;
		font-size: 18px;
	}
	.tile-ratings span{
		color: $lightgray-color;
		font-size: 12px;
		display: inline-block;
		padding-top: 2px;
		width: 10px;
		height: 10px;
	}
}
.channel-wrap{
	float: left;
    width: 100%;
    margin: 40px 0;
}


/* Labels styles */
.overlay-details{

	.label-type{
		position: absolute;
		left: 15px;
		bottom: 15px;
		display: block;
		padding: 2px 10px;
		color: $white-color;
		background: $darkgray-color;
		font-size: 11px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}

	.label-right-topcorner{
		position: absolute;
		top: 15px;
		right: 15px;

		.label-new{
			padding: 2px 6px;
			background: $green-background;
			color: $white-color;
			font-size: 11px;
			font-weight: 400;
			display: inline-block;
			float: left;
		}
		.label-duration{
			padding: 2px 6px;
			display: inline-block;
			font-size: 12px;
			color: $white-color;
			background: $darkgray-background;
		}
		.courses-count{
			padding: 3px 6px;
			display: inline-block;
			font-size: 12px;
			color: $white-color;
			background: $darkgray-background;
			text-transform: uppercase;
		}
	}
	.label-left-topcorner{

		a{
			text-shadow: none;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			z-index: 1000;
			width: 0;
			height: 0;
			
			i{
				top: -43px;
				left: 7px;
				position: relative;
			}
			.fa-clock:before{
				content: "\f017";
			}
		}

		.label-left-corner{
			color: $white-color;
			font-size: 16px;
			border-style: solid;
			border-width: 50px 50px 0 0;
		}
		.label-durdate i{
			position: absolute;
			top: -42px;
			left: 7px;
		}
	}
}

.label-invititedby{
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 36px;
	height: 36px;
	border: 2px solid $white-color;
	border-radius: 50%;
	background: $white-background;
	cursor: pointer;

	img{
		max-width: 100%;
		border-radius: 50%;
		min-height: 40px;
		min-width: 40px;
	}
	.invite-image{
		float: left;
		width: inherit;
		height: inherit;
	}
}


/* Courses labels */
.course-status{
	padding: 1px 7px 1px 7px;
	font-size: 11px;
	font-weight: 600;
	color: $white-color;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 2px;
	border: 0;
    border-radius: 0;
    box-shadow: none;
	vertical-align: middle;
	line-height: 20px;
}
.completed, .Completed{
	@extend .course-status;
	background: $green-background;
}
.progress{
	@extend .course-status;
	background: $yellow-background;
}
.Subscribed{
	@extend .course-status;
	background: $darkgray-background;
}

/* Learning plans */
.progress-metas{
	padding: 10px 0;

	.progress{
		height: 4px;
		background: $lightgray-background;
		box-shadow: none;
		border-radius: 0;
		margin-left: 15px;
		float: left;
		width: 160px;
		margin-top: 6px;
		margin-bottom: 0;
		padding-left: 0;
	}
	.progress-bar{
		float: left;
		width: 0;
		height: 4px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		background-color: $green-background;
	}
	.progress-percent{
		float: left;
		display: block;
		vertical-align: top;
		color: $green-color;
		font-size: 12px;
		font-weight: 700;
	}
}

/* Swiper slider */
.swiper-button-next{
	background-image: none;
	background-color: $blacko-background;
	color: $white-color;
	font-size: 45px;
	height: 237px;
    width: 50px;
    right: 0px;
    top: 22px;

	i{
		position: absolute;
		top: 90px;
		left: 18px;
	}
}
.swiper-button-prev{
	background-image: none;
	background-color: $blacko-background;
	color: $white-color;
	font-size: 45px;
	height: 237px;
    width: 50px;
    left: 0px;
    top: 22px;

	i{
		position: absolute;
		top: 90px;
		left: 15px;
	}
}
.channel-wrap{
	.swiper-button-disabled{
		opacity: 0;
	}
	.initial-hidden{
		opacity: 0;
	}
	.swiper-wrapper{
		padding-left: 50px;
		width: 100%;
	}
}
.swiper-slide{
	width: 283px;
	height: 293px;
}
.channels-wrapper{
	height: auto;
	display: inline-block;
}

/* Preloading placeholders styles */
.placeholder-wrap{
	.label-icon{
		width: 50px;
		height: 40px;
		background: $lightgray-background;
		margin-top: 0;
		padding: 0;
	}
	.title-details{
		h3{
			width: 120px;
			height: 20px;
			background: $lightgray-background;
			margin-bottom: 10px;
		}
		p{
			width: 500px;
			height: 10px;
			background: $lightgray-background;
		}
	}
	.thumb-img{
		background: $lightgray-background;
		position: relative;

		i{
			font-size: 40px;
			color: $white-color;
			position: absolute;
			top: 55px;
			left: 105px;
		}
	}
	.main-metas{
		padding: 0;
		margin: 6px 0 15px;
		width: 95px;
		height: 10px;
		background: $lightgray-background;
	}
	.tile-title{
		padding: 0;
		margin: 10px 0;
		width: 215px;
		height: 15px;
		background: $lightgray-background;
	}
	.author-metas{
		padding: 0;
		margin: 5px 0 0 0;
		width: 155px;
		height: 15px;
		background: $lightgray-background;
	}
	.tile-ratings div{
		padding: 0;
		margin: 3px 0;
		width: 175px;
		height: 10px;
		background: $lightgray-background;
	}
}

/* Deep link menu */
.tile-ratings span.dots-link{
	float: right;
	font-weight: 600;
    font-size: 18px;
    vertical-align: top;
    display: block;
    margin-top: 0;
    position: relative;
    line-height: 10px;
	cursor: pointer;
	display: none; /* Initialy hidden */
}
.dots-menu{
	max-height: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;

	.bg-overlay{
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1000;
	}
	.link-overlay{
		z-index: 1000;
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $white-background;

		.bottom-part{
			text-align: right;
			margin-right: 15px;
			margin-bottom: 18px;
			margin-top: 15px;

			span{
				font-size: 18px;
				font-weight: 600;
				cursor: pointer;
			}
		}
		ul{
			background: $white-background;

			li{
				padding: 6px 12px;
				cursor: pointer;
				color: $darkgray-color;

				i{
					font-size: 18px;
					margin-right: 5px;
				}
			}
			li:hover{
				background: $graywhite-background;
			}
		}
	}
}
.dots-link{
	float: right;
	cursor: pointer;
	font-size: 18px;
}
.dots-menu.open{
    max-height: 293px;
    height: 237px;
    width: 250px;
}
.view-back-arrow{
	display: none;
}
.expand-arrow{
	font-size: 40px;
	cursor: pointer;
	text-indent: -9999px;
	position: relative;
}
.expand-arrow:after{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	content: "\f107";
    position: absolute;
    font-size: 40px;
    text-indent: 0;
	top: 0;
	left: 0;
}
.expand-arrow.false:after{
	content: "\f106";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 40px;
    text-indent: 0;
	top: 0;
	left: 0;
}
.collapse-text-toggle{
	@extend .expand-arrow;

	margin-top: 0;
}

/* View all page */
.viewall-page.tab-navigation{
	padding: 6px 0px 0px 0;

	ul{
		display: none;
	}
	.view-back-arrow{
		display: block;
		padding: 0 50px 7px 100px;
		font-size: 50px;
		color: $midgray-color;
	}
}
.viewall-page{
	.col-10-main{
		margin: 35px 50px;
	}
	.title-details{
		h3{
			font-size: 30px;
			color: $darkgray-background;
			margin-top: 7px;
		}
	}
	.description-details{
		float: left;
		width: 100%;
		margin-top: 15px;
		p{
			font-size: 15px;
			margin-bottom: 0;
			color: $midgray-color;
		}
	}

	.items-wrapper{
		float: left;
		margin-left: 50px;

		.col-tile{
			margin-right: 40px;
			margin-bottom: 40px;
			 float: left;
		}
	}
	.channel-details{
		margin-top: 50px;
		font-size: 15px;
		color: $darkgray-color;

		.blue-color{
			font-weight: 700;
		}
		.col{
			margin-right: 50px;
		}
		a{
			text-decoration: underline;
			color: $blue-color;
			margin-left: 10px;
			font-weight: 400;
		}
	}
}

/* Tooltip style change */
.col-tile{
	.tooltip{
		min-width: 150px; //the minimum width
		font-size: 10px;
		text-align: center;
		z-index: 1000;
		position: absolute;
	}
	.label-invititedby{
		.tooltip{
			min-width: 170px; //the minimum width
		}
	}
	.tooltip-inner{
		font-size: 12px;
		padding: 5px 10px;
	}
	.label-left-topcorner{
		.tooltip{
			max-width: 170px;
		}
	}
}

/* Rating pullover */
.popover-content{
	padding: 5px 10px 10px 10px;
	min-width: 120px;
	
	li{
		display: block;
		
		span{
			font-size: 12px;
			color: $lightgray-background;
		}
		ul{
			display: inline-block;
			li{
				display: inline-block;
				
				i{
					color: $yellow-color;
					font-size: 16px;
					margin-right: 3px;
					margin-top: 2px;
				}
			}
			li span.filled{
				color: red;
			}
		}
	}
	.rating-count.null-value{
		color: $lightgray-color;
	}
}

/* Deeplink styles */
.copy-url{
	display: none;
}
.copied-success{
	display: none;
}
.not-copied{
	display: block;
}

.view-more-mobile{
	display: inline-block;
	margin-left: 0;
	color: $darkgray-color;
	vertical-align: top;
	height: auto;

	line-height: 18px;
	max-width: 95%;

	i{
		position: relative;
		top: 0px;
		margin-left: 7px;
	}
}

.right-align{
	float: right;
	padding-top: 10px;

	.experts-mobile{
		float: left;
		margin-right: 60px;
		font-size: 14px;
		font-weight: 600;
		color: $lightgray-color;
		cursor: pointer;
		padding-left: 3px;
		i{
			font-size: 18px;
			color: $blue-color;
			margin-right: -40px;
		}
	}

	.experts{
		float: left;
		margin-right: 30px;
		font-size: 14px;
		font-weight: 600;
		color: $lightgray-color;
		cursor: pointer;
		width: 100%;
		i{
			font-size: 18px;
			color: $blue-color;
			margin-right: 10px;
		}
	}
}