//.selected-channels {
//  padding: 15px; //later reverse changes before commit
//                  //after that reverse old data
//}
//
//.count-channels {
//  margin: 0;
//}
//
//.list-block {
//  margin: 0;
//}
//
//.padding-items {
//  padding: 7px;
//}
//
//.title-color {
//  color: #0465AC;
//}
//
//.icon-check {
//  //color: #5EBE5E;
//}