/* 
    Created on : 22.03.2016, 10:11:57
    Author     : Violeta
	
*/

/****** Main app style settings *******/

/*=-- BODY LAYOUTS --=*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	background: url(../images/prelogin_background.jpg) no-repeat center center fixed;
	overflow: hidden;
}
body:after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(51,51,51,0.9);
    width: 100%;
    height: 100%;
}

/* Change the white to any color ;) */
input {
    -webkit-text-background-color: white;
}

#login-form {
	
	input[type="text"]:focus{
		box-shadow: none;
	}
	
}

div#prelogin-black-overlay {
   background: rgba(51,51,51,0.9);
    width: 100%;
    height: 100%;
}
.prelogin-layout1 {
    background: url(../images/prelogin_background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.prelogin-layout:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51,51,51,0.7);
}
.page{
	background: $gray-background;
}

/*=-- BODY LAYOUTS END --=*/


/*- Login Page -*/
.login-page {
    height:100%;
    width:100%;
    margin:0;
    display:flex;
    background-color: lightskyblue;
}
.login-screen-logo {
    color: white;
    font-size: 30px;
    text-align: center;
	margin-top: 0;
    padding-top: 25px;
}
.list-block.centered-absolute > div.list-block-label {
    margin-left: 20px;
    padding: 0px;
    margin-right: 20px;
}

#forgot-password {
    margin: auto;
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 0; right: 0;
    color: white;
    cursor: pointer;
	margin-bottom: 0;
    margin-top: 5px;
	height: auto;
	
	&:hover{
		text-decoration: none;
	}
}
.login-google-sso span{
	position: absolute;
    left: 20px;
	top: 2px;
    font-size: 20px;
}

.input-user-data { /* The <ul> container */
    background: transparent!important;
    border: 0;
}
.item-content,.item-media,.item-inner,.item-input {
    background: transparent;
    border: 0;
}
.item-content.login-input {
    padding-left: 2px;
}
/* Switch */
.switch-input.item-input {
    text-align: right;
}
.item-inner.switch {
    width: 20%;
}
/* Switch END*/
.fa-laptop.laptop-icon {
    margin-top: 11px;
}
.transperant-span {
    width: 100%;
    background-color: transparent;
}
li.transparent {
    height: 10px;
    background: rgb(4, 101, 172);
}

/* Login Page END */


.lms-address {
    color: #2C7BB4;
    display: inline-block;
    margin: auto;
    position: absolute;
    width: 93%;
    height: 40px;
    top: 0;  bottom: 0;
    left: 0;  right: 0;
    background: transparent;
    border: 0;
}

/* MENU */

.navbar.no-border {
    color: #f5f5f5;
    text-shadow: #090c02;
    position: absolute;
}
.toolbar.tabbar.tabbar-scrollable {
    position: relative;
    margin-top:58px;

}
.top-back-button  {
    margin-left: 12px;
    margin-top: 5px;
    font-size: 1.3em;
}
/* MENU */

/*********************/

/* INFORMATION CARDS */
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}
.card-content-inner {
    text-align: center;
}
.card-icon-stacked {
    width: 25px;
    height: 25px;
    position: absolute;
    margin: -47px 0px 0px 43%;
    text-align: center;
    font-size: x-large;
}
/* INFORMATION CARDS */
.count-cards {
    width: 30px;
    height: 30px;
    display: block;
}
.content-header {
    background-color: #1371B3;
    color: white;
    font-weight: 300;
    text-align: center;
}
.fa-bars.hamburger-menu {
    margin-top: 13px;
}
.fa-chevron-left {
    margin-top: 13px;
}
#star-rating.rating {
    color: #F1B551;
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
    font-size: 2em;
}
#star-rating.rating > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.locked, .unlocked {
    margin-top: 30px; text-align: center;
}
#star-rating.rating > span:hover:before,
#star-rating.rating > span:hover ~ span:before{
    content: "\2605";
    position: absolute;
}
/* HEADER */
.toolbar.tabbar.tabbar-scrollable.custom {
    position: relative;
}
.course-counter {
    margin-left: 12px;
    margin-top: 15px;
}

input#recover.custom-black::-webkit-input-placeholder, input#recover.custom-black:-webkit-autofill {
    color: rgba(0,0,0,0.9) !important;
}
input#recover.custom-black:-moz-placeholder {
    color: rgba(0,0,0,0.9);
}
input#recover.custom-black:placeholder-shown {
    color: rgba(0,0,0,0.9);
}
input#recover.custom-white::-webkit-input-placeholder {
    color: rgba(255,255,255,0.9);
}
input#recover.custom-white:-moz-placeholder {
    color: rgba(255,255,255, 0.9);
}
input#recover.custom-white:placeholder-shown{
    color: rgba(255,255,255, 1);
}
input#lmsEmail.custom-black::-webkit-input-placeholder, input#lmsPass.custom-black::-webkit-input-placeholder{
    color: rgba(0,0,0,0.9);
}
input#lmsEmail.custom-black:-moz-placeholder, input#lmsPass.custom-black:-moz-placeholder {
    color: rgba(0,0,0,0.9);
}
input#lmsEmail.custom-black:placeholder-shown,  input#lmsPass.custom-black:placeholder-shown{
    color: rgba(0,0,0,0.9);
}
input#lmsEmail.custom-white::-webkit-input-placeholder, input#lmsPass.custom-white::-webkit-input-placeholder{
    color: rgba(255,255,255,0.9);
}
input#lmsEmail.custom-white:-moz-placeholder, input#lmsPass.custom-white:-moz-placeholder {
    color: rgba(255,255,255, 0.9);
}
input#lmsEmail.custom-white:placeholder-shown, input#lmsPass.custom-white:placeholder-shown{
    color: rgba(255,255,255, 1);
}
input.custom-black:-webkit-autofill, input.custom-black:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px transparent inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #000 !important;
}

input.custom-white:-webkit-autofill:focus, input.custom-white:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px transparent inset;
    -webkit-text-fill-color: #fff !important;
} 

/* PLACEHOLDER COLOR CHANGE */

.item-input-wrapper {
    margin-left: 10px;
}

.item-content.login-input {
    border-bottom: 1px solid white;
}

/**=- AJAX LOADER ON PRELOGIN PAGE -=**/
span#preloader-background {
    background-color: rgba(0, 0, 0, 0.31);
    width: 60px;
    height: 60px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#native-ios-preloader {
    width: 42px;
    height: 42px;
}
/**=- AJAX LOADER ON PRELOGIN PAGE END-=**/

.centered-only {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.centered-absolute
{
    position: absolute;
    /* bottom: 100px; */
    left: 0;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    bottom: 22%;
}
/* Change the white to any color ;) */
.views input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
	background-color: #fff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/**=- BOTTOM BUTTONS ON LOGIN PAGE -=**/
.centered-bottom {
    bottom: 48px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-left: 0;
    right: 0;
}
.login-button {
    color: white;
    background-color: #5EBE5D;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    margin-bottom: 10px;
    height: 60px;
    line-height: 50px;
    font-size: 16px;
}
.login-layout .view, .page-password .view{
	overflow-y: auto;
}
.login-google-sso {
    color: #DC4B3E;
    background-color: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    margin-bottom: 17px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
	
	&:hover{
		text-decoration: none;
		color: #DC4B3E;
	}
}
.login-google-sso i{
	color: #DC4B3E !important;
}
/**=- BOTTOM BUTTONS ON LOGIN PAGE END-=**/

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

/* NOTIFICATIONS */

.notifications.list-block>ul {
    background: 0 0;
    margin: auto;
}


.notifications li.notification-item .item-media {
    margin-left: 3px;
    //transform: translateY(12%);
    width: 94%;
    display: block;
}

.list-block .item-media+.item-inner {
    margin-left: 0;
}

.notifications .item-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

.notifications .item-subtitle, .notifications .item-text, .notifications .item-title {
    font-size: 14px;
    padding: 0;
}

.notification-item.error-notify{
    background-color: #E84C3D;
    color: white;
}
.notification-item.success-notify {
    background-color: #5ABD5A;
    color: white;
}
.notifications.list-block.media-list {
    background-color: transparent;
    display: block;
    transform: translate3d(0px, 0px, 0px);
    height: 20%;
}



.notifications .item-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
}


//////////


#main-warning {
    visibility: hidden;
    display: inline-flex;
    width: 100%;
    height: 13%;
    background-color: #E84C3D;
    color: white;
    position: absolute;
}

.img-warning .icon-warning {
    display: inline;
    font-size: 25px;
}

.img-warning{
    margin: auto;
    position: relative;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 10px;
    margin-left: 64px;
}

.warning-message {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -40px;
    padding-right: 40px;
}

.warning-message .warning-title{
    display: inline;
}
.warning-message .warning-description{
    display: inline;
}
.close-warning .icon-close{
    display: inline;
    margin: auto;
    position: absolute;
    left: 350px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 16px;
}

#main-success {
    visibility: hidden;
    display: inline-flex;
    width: 100%;
    height: 13%;
    background-color: #5ABD5A;
    color: white;
    position: absolute;
}

.img-success .icon-check {
    display: inline;
    font-size: 25px;
}

.img-success {
    margin: auto;
    position: relative;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    margin-right: 10px;
    margin-left: 64px;
}

.success-message {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -40px;
    padding-right: 15px;
}

.success-message .success-title{
    display: inline;
    font-size: 16px;
}
.success-message .success-description{
    display: inline;
    font-size: 13px;
}


#pass-progress {
    visibility: hidden;
    background:#5ABD5A;
    color:#ffffff;
    padding: 3px;
    overflow:hidden;
    position:relative;
    top: 12.5%;
}

.success-progress{
    z-index: 1;
    width:0px;
    height:100%;
    position:absolute;
    background:#ffffff;
    right:0px;
    top:0px;
    opacity: 0.6;
}

/* NOTIFICATIONS END*/

/* ENTER and LEAVE animations */

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-enter         { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave         { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

/* about ------------------------ */
.page-about.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.page-about.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-contact.ng-leave      { transform-origin: 50% 50%; animation: rotateOutNewspaper .5s both ease-in; }
.page-contact.ng-enter      { animation:slideInUp 0.5s both ease-in; }

/* Forgot password layout */
.forgot-password-layout{
	background-color: rgb(4, 101, 172);
}
.forgot-password-description{
	max-width: 100%;
    color: #fff;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 20px;
}
.item-content.password-input {
    border-bottom: 1px solid white;
	padding-left: 0;
}
.password-input .item-input input{
	height: 30px;
}
.password-input .icon-pf, .icon-pf {
    opacity: 0.80;
	font-size: 26px;
}
.forgot-password-layout {
	.list-block .item-input{
		margin-bottom: 0;
		position: relative;
		margin-right: 0;
		margin-top: 0;
	}
	.centered-bottom{
		width: 100%;
	}
}
.password-input .item-media{
	margin-bottom: 7px;
}
.forgot-password-button{
	color: white;
    background-color: #5EBE5D;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
    margin-bottom: 7px;
    height: 62px;
    line-height: 50px;
    font-size: 18px;
}
.login-layout.panels-3d .page-content{
	overflow: hidden;
}
.panels-3d .page-content{
	height: 100%;
    /* position: relative; */
    z-index: 1;
    position: relative;
    overflow: visible;
}
a.back-arrow{
	color: #fff;
	opacity: 0.9;
	position: absolute;
    left: 20px;
    top: 30px;
	cursor: pointer;
}
.top-left-arrow {
    width: 360px;
    float: left;
}
.form-wrapper{
	width: 100%;
	height: 100%;
}
.form-wrapper .list-block .item-content{
	padding: 8px 0;
}
.form-wrapper .item-input-wrapper {
    margin-left: 0;
    float: left;
    margin-bottom: 0px;
    padding-top: 7px;
	width: 85%;
    min-width: 240px;
}
.form-wrapper .list-block .item-media{
	float: left;
	margin-bottom: 7px;
	color: #fff;
	font-size: 16px;
}
.form-wrapper .list-block .item-content{
	display: block;
	width: 100%;
	float: left;
}
.form-wrapper .list-block .item-input{
	margin-bottom: -3px;
}
.login-input{
	margin-bottom: 0;
}
#lmsPass{
	line-height: 48px;
    box-shadow: none;
}
#login-form{
	.centered-absolute{
		box-shadow: none;
	}
}
.form-wrapper .label-switch{
	margin-top: 0;
}
.forgot-password-layout .centered-absolute{
	bottom: 30%;
}
.panels-3d.login-layout .page-content, .panels-3d.page-password .page-content{
	min-height: 520px;
}

/* Webapp menu styles */
.navbar.mobile_header{
	height: 52px;
}
.top-menu-hamburger, .top-back-button {
	display: block;
    padding-left: 15px;
	margin-left: 0;
    margin-top: 4px;
    float: left;
    font-size: 20px;
	cursor: pointer;
	padding-top: 10px;
	width: 35px;
	height: 35px;
}
.top-back-button{
	margin-top: 4px;
}
#topTitle.top-title {
    margin-left: 0;
    display: block;
    float: left;
	font-weight: 600;
	font-size: 17px;
    margin-top: 4px;
    cursor: pointer;
    padding-top: 10px;
}
.top-close-object{
	margin-right: 15px;
}
.menu-left-part{
	float: left;
}
.panels-3d.with-panel-left-reveal, .panels-3d.home-page, .panels-3d.courses-page{
	background: url(../images/prelogin_background.jpg) no-repeat center center fixed;
	background-size: cover;
}
.panels-3d.with-panel-left-reveal .statusbar-overlay, .panels-3d.home-page.with-panel-left-reveal .statusbar-overlay {
    background: rgba(51,51,51,0.7);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    z-index: 999;
}
.top-menu-overlay{
	height: 60px;
	padding: 15px 15px 0 0;
}
.top-close-button{
	color: #fff;
}
.overlay-menu-content{
	padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
	overflow: auto;
}
.hidden-left-menu.hidden{
	width: 0;
	visibility: hidden;
	clip: rect(1px,1px,1px,1px);
}
.hidden-left-menu{
	width: 100%;
	max-height: 100%;
    overflow: hidden;
    visibility: visible;
    left: 0;
	z-index: 999;
	position: fixed;
    bottom: 0;
    padding-bottom: 1px;
	-webkit-transition: -webkit-transform 700ms ease;
    -webkit-transition-duration: 700ms;
    -moz-transition: -moz-transform 700ms ease;
    transition: transform 700ms ease;
	background: url(../images/prelogin_bg_original.jpg) no-repeat;
	height: 100%;
	background-size: cover;
}
.hidden-left-menu:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(8,100,170,0.97);
	width: 100%;
	height: 100%;
}
.with-panel-left-reveal #top-menu-panel{
	display: block;
}
.user-info-wrap{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
}
.user-profile-image{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: #eee;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
	border: 2px solid $white-color;
}
.my-dashboard-user-profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #eee;
    display: inline-block;
    margin-left: 0;
    margin-right: 10px;
    border: 2px solid $white-color;
}
.user-profile-details{
	word-wrap: break-word;
    display: block;
    padding: 0 20px;
    margin-top: 20px;
}
.top-close-button{
	display: block;
    float: left;
	padding-left: 25px;
    padding-top: 10px;
	width: 35px;
    height: 35px;
	cursor: pointer;
	i{
		font-size: 20px;
		-webkit-text-stroke: 0px $white-color;
	}
}
.user-profile-name{
	font-size: 13px;
    color: $white-color;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.user-profile-email{
	font-size: 13px;
	font-weight: 100;
    color: $white-color;
}
.top-menu-logout {
   float: right;
    margin-right: 0;
    margin-top: 0;
    color: #fff;
    padding-right: 5px;
    width: 25px;
    padding-top: 10px;
    height: 32px;
    font-size: 22px;
}
.left-menu-overlay ul{
	list-style: none;
	padding: 0;
	margin-left: 0;
}
.left-menu-overlay ul li{
	padding: 0;
    color: $white-color;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	position: relative;
}
.left-menu-overlay ul li a{
	color: $white-color;
	text-transform: uppercase;
	font-size: 0.85em;
	margin-left: 0;
    letter-spacing: 0.8px;
	padding: 17px 25px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	&:hover{
		text-decoration: none;
		background: $active-background;
	}
}
.left-menu-overlay{
	position: absolute;
	width: 100%;
}
.left-menu-overlay ul li i{
	font-size: 17px;
	position: relative;
	top: -1px;
	-webkit-text-stroke: 0px $white-color;
	&.shevron-action{
		position: absolute;
		right: 20px;
		top: 22px;
		font-size: 12px;
	}
	&.links-icons{
		margin-right: 15px;
	}
}
html body.panels-3d.with-panel-left-reveal .views{
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
	webkit-transform: translate3d(130px,0,0) rotateY(-35deg);
    transform: translate3d(130px,0,0) rotateY(-35deg);
    -webkit-transform-origin: right center;
    transform-origin: right center;
}
html body.panels-3d.with-panel-left-reveal.login-layout .views{
	webkit-transform: translate3d(0,0,0) rotateY(0deg);
    transform: translate3d(0,0,0) rotateY(0deg);
}
body.panels-3d.with-panel-left-reveal.login-layout .views-overlay.activated{
	height: 0;
}
body.panels-3d{
	overflow: visible;
	background: #000;
}
.page.detail-page {
    position: absolute;
    overflow: visible;
    height: 100%;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	-webkit-transition-duration: 700ms;
    transition-duration: 700ms;
	webkit-animation-duration: 700ms; /* Chrome, Safari, Opera */
    animation-duration: 700ms;
	height: auto;
	min-height: 100%;
}
body.with-panel-left-reveal .views, body .views{
	transform: none;
	webkit-transition: -webkit-transform 400ms ease;
    -webkit-transition-duration: 400ms;
    -moz-transition: -moz-transform 400ms ease;
    transition: transform 400ms ease;
}
body.with-panel-left-reveal .views.right-slide, body .views.right-slide{
	left: 0;
    top: 0;
    -webkit-transform: translate3d(85%,0,0);
    -moz-transform: translate3d(85%,0,0);
    transform: translate3d(85%,0,0);
	box-shadow: none;
}
.views-overlay.activated{
	position: absolute;
	top: 15px;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1001;
}
.top-menu-notification{
	display: inline-block;
    margin-right: 25px;
}
.top-menu-search{
	display: inline-block;
}

/* Animations */ 
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.page_effect{
	height: 100%;
}
.top-nav-new.ng-leave{
	opacity: 0;
	z-index: 888;
}
.top-nav-new.ng-enter{
	opacity: 1;
	z-index: 999;
}
.ng-enter, .ng-leave{
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.views .page_effect{
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
	background: $graywhite-background;
}
.views .page_effect.ng-enter {
    opacity: 0;
	z-index: 777;
}
.views .page_effect.ng-enter-active {
	opacity: 1;
	z-index: 999;
}
.content .page_effect.ng-leave {
	opacity: 1;
	z-index: 888;
}
.content .page_effect.ng-leave-active {
	opacity: 0;
	z-index: 888;
}
.page-content .content, .login-layout1, .prelogin-layout1, .forgot-layout1{
    height: 100%;
	min-height: 520px;
}
.upload-button{
	padding: 10px 15px;
	display: block;
	width: 100%;
	background: $blue-background;
	color: $white-color;
}
.view-wrap{
	height: 100%;
}

.label-switch input[type=checkbox]:checked+.checkbox:after{
	background: $white-background;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Fix for iOS devices */
.with-statusbar-overlay{
	.navbar.mobile_header{
		float: left;
		width: 100%;
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
	}
	.overlay-menu-content{
		padding-top: 35px;
	}
}

/* Loading spinner */
loading{
	display: none;
}
.loading-spinner-background{
	position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    height: 100%;
    z-index: 9999;
    text-align: center;
	
	.material-icon{
		&:before {
		  content:'';
		  display: block;
		  padding-top: 100%;
		}
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 70px;
		height: 70px;
	}
	.mdl-spinner{
		width: 70px;
		height: 70px;
		top: -70px;
	}
	.mdl-spinner--single-color .mdl-spinner__layer-1, .mdl-spinner--single-color .mdl-spinner__layer-2, .mdl-spinner--single-color .mdl-spinner__layer-3, .mdl-spinner--single-color .mdl-spinner__layer-4{
		border-color: $white-color;
	}
}

.ripple-wave {
    display: none;
}

.hidden-none{
	display: none;
}

.tab-text {
    position: relative;
}

@media (min-width: 767px) {
    .login-screen-logo{
        padding-top: 70px;
		
		img{
			max-width: 100%;
			max-height: 200px;
		}
    }

    a.back-arrow{
        color: #fff;
        opacity: 0.9;
        position: absolute;
        left: 20px;
        top: 108px;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 779px){

    .login-screen-logo {
        color: white;
        font-size: 30px;
        text-align: center;
        margin-top: 0;
        padding-top: 25px;
    }


    a.back-arrow{
        color: #fff;
        opacity: 0.9;
        position: absolute;
        left: 20px;
        top: 30px;
        cursor: pointer;
    }
}
@media (max-width: 766px){
	.login-screen-logo{
		img{
			max-width: 80%;
			max-height: 135px;
		}
    }
}


.search-right-part {
    float: right;
}

.global-search {
    display: block;
    padding-left: 15px;
    margin-left: 0;
    margin-top: 4px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;
    width: 35px;
    height: 35px;
}

.global-search-visible {
  display: block;
}

.global-search-invisible {
  display: none;
}