#mobile-next-arrow-unlock{
  font-size: 22px;
  transform: rotate(180deg);
  transform-origin: 90% 90%;
  position: absolute;
  vertical-align: -webkit-baseline-middle;
  width: 23px;
  height: 19px;
  line-height: 19px;
}
#mobile-next-arrow-lock {
  margin-top:15px;
  margin-left:15px;
  font-size: 22px;
  transform: rotate(180deg);
  transform-origin: 90% 90%;
  position: absolute;
  vertical-align: -webkit-baseline-middle;
}

#mobile-lock {
  font-size: 13px;
  margin-left: 40px;
  margin-top: 5px;
}
#mobile-next-learning-object{
  width: 58px;
  height: 50px;
}



.menu-right-part-visible {
  float: right;
  font-size: 1.4em;
  display: inline-block!important;
  width: 58px;
  height: 52px;
  background-color: #5EBE5D;
  position: relative;
}
.menu-right-part-invisible {
  float: right;
  font-size: 1.4em;
  display: inline-block!important;
  width: 58px;
  height: 52px;
  position: relative;
}

.lock-all-next-button {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}