.search-results{
	
	height: calc(100% - 52px);
	margin-top: 52px;
	.item-container{
		text-align: center;
		padding-bottom: 50px;
		.search-item{
			width: calc(100% - 10px);
			background: #fff;
			height: 100px;
			display: inline-block;
			position: relative;
			padding: 5px 5px;
			box-sizing: border-box;
			text-align: left;
			font-family: 'Open Sans', sans-serif;
			margin-bottom: 10px;
			.result-description{
				height: 15px;
				.descriptor{
					display: none;
				}
			}
			&.infinite-placeholder{
				.type{
					&::before{
						height: 12px;
						background-color: #efefef;
						width: 35%;
						display: block;
						content: " ";
					}
				}
				.result-image{
					background-color: #efefef;
				}
				.result-title{
					&::before{
						background-color: #efefef;
						height: 15px;
						width: 100%;
						display: block;
						content: " ";
					}
					&::after{
						background-color: #efefef;
						height: 15px;
						width: 100%;
						display: block;
						content: " ";
						margin-top: 5px;
					}
				}
			}
			&.lo{
				height: 100px;
				.course{
					float: left;
					width: 100%;
					font-size: 12px;
					margin-top: 5px;
					a{
						color: #08c;
					}
					span{
						padding-left: 2%;
					}
				}
				.result-image{
					height: 30px;
					width: 15%;
					text-align: center;
					margin-top: 5px;
					span{
						width: 30px;
						height: 30px;
						background: #333;
						color: #fff;
						border-radius: 20px;
						line-height: 30px;
						display: inline-block;
					}
				}
				.result-title{
					width: calc(85% - 5px);
				}
			}
			&::after{
				width: 100%;
				height: 2px;
				background-color: #efefef;
				display: block;
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0px;
			} 
			.type{
				opacity: 0.6;
				margin: 0px;
				color: #666;
				margin-bottom: 5px;
				font-size: 12px;
				text-transform: uppercase;
			}
			.result-image{
				width: 35%;
				height: 60px;
				float: left;
				position: relative;
				overflow: hidden;
				display: inline-block;
				img{
					position:absolute;
					top:50%;
					min-height:100%;
					display:block;
					left:50%;
					-webkit-transform: translate(-50%, -50%);
					min-width:100%;
				}
				span.duration{
					position: absolute;
					bottom: 0px;
					right: 0px;
					z-index: 999;
					background: #333;
					color: #fff;
					font-size: 12px;
					padding: 0px 5px;
					display: inline-block;
				}
			}
			.result-title{
				float: left;
				width: calc(65% - 5px);
				height: 38px;
				padding-left: 5px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				a{
					color: #08c;
					word-wrap: break-word;
				}
			}
		}
	}
}

#results-counter{
	p{
		width: calc(50% - 40px);
		display: inline-block;
		float: left;
		padding: 15px 20px;
		a{
			color: #333;
			font-size: 15px;
		}
	}
	float: left;
	width: 100%;
	max-height: 50px;
}

.filter-modal{
	position:relative;
	height: 100%;
	.selected-channels{
		padding: 10px 10px;
		p{
			padding: 0px;
			margin: 0px;
			color: #666;
			opacity: 0.6;
		}
	}
}

.search-filter-options {
	padding: 1em;
	margin: -1em;
}

.apply-button{
	width: 100%;
	border: 0;
	padding: 23px 0 23px;
	color: #fff;
	background: #5EBE5D;
	text-shadow: none;
	font-size: 18px;
	border-radius: 0;
	font-weight: 300;
	margin-top: 60px;
	bottom: 0;
	left: 0;
	z-index: 999;
}

.row-search-selected .icon-check {
	color: $green-color;
	font-size: 120%;
	padding-right: 5px;
}

.row-search-not-selected .icon-check {
	font-size: 120%;
	padding-right: 5px;
	opacity: 0.5;
}

.filter-by-type {
	transform: translateY(20%);
	padding-left: 15px;
	padding-top: 5px;
	opacity: 0.5;
	font-size: 13px;
}

.panel-right{
	.header-block{
		color: #fff;
		.panel-close {
			color: #fff;
			padding-left: 15px;
			padding-right: 25px;
		}

	}
}

@media screen and (min-width: 768px) {
	.search-results{
		.item-container{
			text-align: center;
			.search-item{
				&.lo{
					.result-image{
						width: 10%;
					}
				}
				.result-image{
					width: 20%;
				}
				.result-title{
					.result-description{
						height: 20px;
						.descriptor{
							display: block;
						}
					}
				}
			}
		}
	}
}

.ellipsis {
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.results-counter-ios {
	padding-top: 20px;
}

.results-counter-all {
	padding-top: 0;
}


.load-more-btn {
    position: fixed;
    bottom: 0px;
    width: 100%;

}

.search-load-more{
	position: relative;
	line-height: 25px;
	height: 50px;
	padding: 0px;
	margin-top: 0px;
}