@CHARSET "UTF-8";


.menu-square #globalsearch ul#global-search-suggestions li {
    border-bottom: 1px solid #E4E6E5;
    border-left: 1px solid #E4E6E5;
    border-right: 1px solid #E4E6E5;
    width: auto;
    display: block;
    margin: 0px;
    padding: 5px 7px;
    cursor: pointer;
}


.menu-square #globalsearch .perform-search.search-icon {
    top: 12px;
    right: 10px;
}

.menu-square #globalsearch .close.clear-search {
    top: 10px;
    right: 36px;
}

.menu-square #globalsearch ul#global-search-suggestions li:hover,
.menu-square #globalsearch ul#recent-global-searches-container li:hover
 {
    background-color: #F5F5F5;
    /*font-weight: bold;*/
}

.menu-square #globalsearch #global-search-results-container,
.menu-square #globalsearch #recent-global-searches {
/*     border-bottom: 1px solid #E4E6E5; */
/*     border-left: 1px solid #E4E6E5; */
/*     border-right: 1px solid #E4E6E5; */
    width: auto;
    display: block;
    /*margin: 0px -7px 0px 0px;*/
    margin: 0px 0px 0px 0px;
    padding: 5px 2px;
    color: #0465ac;
}

.menu-square #globalsearch #recent-global-searches {
	padding: 8px;
	margin-top: 10px;
}

.menu-square #globalsearch #global-search-results-container {
    border: 0;
    display: none;
}

.menu-square #globalsearch #recent-global-searches div.recent {
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #666;
}

.menu-square #globalsearch #recent-global-searches a:hover,
.menu-square #globalsearch #recent-global-searches a {
    color: #0465ac;
    text-decoration: underline;
    background-color: transparent;
    margin-bottom: 20px;
    display: block;
}

.elastic-result-course-label {
    color: #000;
    font-weight: 800;
}

.elastic-search-line {
    margin-top:     6px !important;
    margin-bottom:  6px !important;
    border-top: 	1px solid #ddd;
}

.menu-square #globalsearch #global-search-suggestions-wrapper {
/* 	background-color: white; */
    display: none;
}


.menu-square #globalsearch #search-input-outer-wrapper,
.menu-square #globalsearch #global-search-suggestions-wrapper,
.menu-square #globalsearch #global-search-results-container  {
    width: auto;
    min-width: 460px;
}


/* .menu-square #globalsearch #global-search-suggestions-container { */
/* 	background-color: white; */
/*     display: none; */
/* } */

.menu-square #globalsearch ul.tabbed-content-nav {
    text-align: justify;
    border-bottom: 1px solid #d4d4d4;
}

.menu-square #globalsearch ul.tabbed-content-nav li {
    margin-right: 10px;
}

.menu-square #globalsearch ul.tabbed-content-nav li a {
    border-bottom: 0;
    background-color: transparent;
    font-weight: normal;
    color: #000;
}

#globalsearch .tabbed-content .tabbed-content-tab-content {
	margin-top: 18px;
}


.popover-content ul li.node-action {
    margin: 5px 0;
    white-space: nowrap;
    min-width: 130px;
}
.popover-content ul.node-enrollment-actions li.node-action {
    white-space: normal;
}

.popover-content ul li.report-action > a {
    padding: 7px 0;
}

.menu-square #globalsearch .popover {
    border: 1px solid #E4E6E5;
    border-radius: 0;
    box-shadow: 0px 2px 2px 0px #E4E6E5;
    /*max-width: 200px;*/
    padding: 0;
}

.menu-square #globalsearch .popover .description {
}

.menu-square #globalsearch .popover.bottom .arrow {
    background: url(../images/top-arrow.png) no-repeat;
    border: none;
    width: 18px;
    height: 14px;
    top: -14px;
    /*right: 20px !important;*/
    margin-left: 0px;
    left: auto;
    right: auto;
}

.menu-square #globalsearch .popover .arrow:after {
    border: none;
}

.menu-square #globalsearch .popover-content {
}

.menu-square #globalsearch .popover.bottom {
    margin-top: 6px;
    /*left: auto !important;*/
    /*right: 0;*/
}

.menu-square #globalsearch .popover .arrow {
    right:36px!important;
}

.menu-square #globalsearch .popover-content a.active,
.menu-square #globalsearch .popover-content a:hover {
    background-color: transparent;
    color: #000;
}

.menu-square #globalsearch .popover-content a {
    margin-top: 10px!important;
    margin-bottom: 0px!important;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
}

.menu-square #globalsearch .popover-content {
    padding-left: 20px;
}

.menu-square #globalsearch .popover {
    /*max-width: 140px;*/
    /*width: 150px;*/
    top: 94px!important;
    right: 24px;
}

#tab-all-global-search, #tab-courses-global-search, #tab-qa-global-search, #tab-ka-global-search,
#tab-coursepath-global-search, #tab-courselo-global-search, #tab-ellipsis-global-search {
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
.menu-square #globalsearch #global-search-input {
    width: 100%;
    /* padding: 5px 0px 5px 5px; */
    margin: 0px;
    box-sizing: border-box;
    padding-right: 60px;
    height: 45px;
    padding-left: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

ul#recent-global-searches-container li {
/*     text-decoration: underline; */
    cursor: pointer;
}

.elastic-result-box {
    width: 420px;
    padding-left: 14px;
    box-sizing: border-box;
    font-size: 12px;
	color: #333333;
}

	.menu .elastic-result-box a,
	.menu .elastic-result-box a:HOVER,
	.menu .elastic-result-box a:FOCUS,
	.menu .elastic-result-box a:VISITED {
		background: none;
		color: #0465AC;
	}
	
	.menu .elastic-result-box a:HOVER {
		text-decoration: underline;
	}
	


	.elastic-result-box .type-label,
	.elastic-result-box .elastic-result-best-answer {
    	color:            	white;
    	padding:		  	1px 5px;
    	font-size:        	11px;
    	text-transform: 	uppercase;
	}
	
	.elastic-result-box .type-label {
		background-color: 	#0061AA;
	}
	
	.elastic-result-box .elastic-result-best-answer {
	    background-color: #5EBE5D;
	    margin-left: 5px;
	}

	.elastic-result-box .reason-to-see-label {
	}
	
	.elastic-result-box .item-title {
	    padding: 1px 0px 1px 0px;
    	font-weight: bold;
	}

	.elastic-result-box .item-description {
		color: #333333;
		font-size: 11px;
	}

	.elastic-result-box .info-small {
		font-size: 11px;
	}
	
		.elastic-result-box .info-small .info-label {
			font-weight: bold;
		}
		
		.elastic-result-box .info-small .system-label {
			color: #2479B5;
		}
		


#global-search-suggestions-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	height: 90%;
}		

#global-search-suggestions {
	background-color: white;
}		

#global-search-wrapper {
	height: 100%;
	width: auto; 
	margin: 20px;
}

#global-search-wrapper .es-score {
	display: none;
}


#global-search-wrapper #global-search-results-container .locked-has-reason {
	cursor: pointer;
} 

.global-search-loading {
	margin-top: 8px;
}