/* 
    Created on : 12.01.2016, 16:25:06
    Author     : Kristian
*/
#analyticsContainer{
	#app7020-tab-widget-container{
		.tabbable{
			.span2{
				width: 23%;
				.nav-tabs{
					width: 100%;
				}
			}
			.span10{
				width: 77%;
				padding: 0 0 0 20px;
			}
		}
	}
	#analytics_manageInvitations{
		.invitePeopleSection{
			border-top: 1px #E5E5E5 solid;
			border-bottom: 1px #E5E5E5 solid;
			padding: 11px 0;
			.main-actions{
				margin: 0;
				position: relative;
				@extend %actionButtons;
				ul{
					margin: 0;
					li{
						margin: 0;
						.fa{
							font-size: 30px;
						}
						.boxTitle{
							.innerBoxTitle{
								height: 39px;
								line-height: 13px;
								min-height: 39px;
							}
						}
						a{
							padding: 0 5px;
							span{
								background: transparent;
							}
						}
					}
				}
			}
		}
		.app7020AnalyticStatistics{
			padding: 26px 0 30px;
		}
		.inivitationsGridView{
			padding-bottom: 45px;
			.headingline{
				font-weight: 600;
				font-size: 15px;
				color: #0465ac;
				margin-bottom: 6px;
			}
			.filters-wrapper{
				display: table;
				width: 100%;
				box-sizing: border-box;
				height: 53px;
				margin: 0;
				min-height: 53px;
				background: #F1F3F2;
				padding: 9px 12px;
				box-shadow: 0 0 0 1px #fff inset;
				.checkbox-input-wrapper{
					display: table-cell;
					vertical-align: middle;
					input{
						display: none;
					}
					label{
						position: relative;
						margin: 0;
						padding-left: 32px;
						&:before{
							position: absolute;
							display: inline-block;
							content: '';
							background: url('../images/icons_elements.png') no-repeat -144px -201px;
							width: 17px;
							height: 17px;
							left: 3px;
						}
					}
					input:checked + label{
						&:before{
							background: url('../images/icons_elements.png') no-repeat -190px -201px;	
						}
					}
				}
				.search-input-wrapper{
					display: table-cell;
					vertical-align: middle;
					text-align: right;
					#userman-search-input{
						box-sizing: border-box;
						height: 33px;
						padding-left: 5px;
						width: 200px;
					}
				}
			}
			#userman-users-management-grid{
				padding: 0;
				.gridItemsContainer{
					margin-top: 6px;
					.items{
						.td-reinvite{
							padding: 0;
							text-align: center;
							width: 35px;
							.fa{
								color: #5ebe5d;
								font-size: 18px;
								padding-top: 4px;
							}
						}
						.td-delete{
							padding: 0;
							text-align: center;
							width: 35px;
							.fa{
								color: #d80200;
								font-size: 22px;
								padding-top: 2px;
							}
						}
						td.empty span.empty{
							font-size: 13px;
							font-style: normal;
							.gridViewOpenInvitePeople{
								text-decoration: underline;
								color: #0465ac;
								outline: none;
							}
						}
					}
				}
				.summary{
					float: left;
					margin: 22px 0 0;
				}
				.doceboPager{
					display: inline-block;
					float: right;
					width: auto;
					margin: 25px 0 0;
					.yiiPager{
						.previous, .next{
							width: auto;
							a{
								padding: 0;
							}
						}
					}
				}

			}
		}
		.action_buttons_combolist{
			display: inline-block;
			float: right;
			font-size: 0;
			.app7020-buttons-blue{
				@include app7020-button(blue);
			}
			.app7020-buttons-red{
				@include app7020-button(red);
				margin-left: 12px;
			}
			.app7020-buttons-blue, .app7020-buttons-red{
				line-height: 33px;
				height: 33px;
				font-size: 14px;
				text-shadow: none;
			}
		}
	}
}