/* 
    Created on : 08.02.2016, 10:54:48
    Author     : Kristian
*/

.modal.app7020-confirm-invitation-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 420px;
	margin-left: -210px;

	[type="checkbox"]{
		display: none;
		& + label{
			position: relative;
			margin: 0;
			padding-left: 26px;
			top: 10px;
			&:before{
				position: absolute;
				display: inline-block;
				content: '';
				background: url('../images/icons_elements.png') no-repeat -144px -201px;
				width: 17px;
				height: 17px;
				left: 0;
			}
		}
		&:checked + label{
			&:before{
				background: url('../images/icons_elements.png') no-repeat -190px -201px;
			}
		}
	}
}