.fc-border-separate tr.fc-last th
{
	border-top:none;
	border-left:none;
	border-right:none;
	color:#171717;
	font-weight:bold;
	padding-top:8px;
	padding-bottom:12px;
}

.fc-header .fc-button
{
	background:none;
	border:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#333333;
}

.fc-header-title
{

}

.fc-widget-header, .fc-widget-content
{
	border:1px solid #e8e8e8;
}

.fc-day-number
{
	color:#333333;
	font-size:13px;
}

.fc-sun .fc-day-number, .fc-sat .fc-day-number
{
	color:#c98989;
}

.fc-today .fc-day-number
{
	color:#7db77d;
	font-size:14px;
	font-weight:bold;
}

.fc-state-highlight
{
	background-color:#e8fde7;
}

.fc-header-right span
{
	text-transform:capitalize;
}

th.fc-day-header
{
	font-weight:bold;
	padding-bottom:5px;
}

.fc-ltr .fc-event-hori.fc-event-end
{
	cursor:pointer;
	height:18px;
}

.fc-other-month
{
	background-color:#f1f3f2;
}

.fc-event-title
{
	padding:2px;
	line-height:normal;
	font-size:0.90em;
	overflow:hidden;
    color:#000;
}

.tooltipevent
{
	width:215px;
	background:#ffffff;
	position:absolute;
	z-index:10001;
	border:1px solid #cccccc;
	padding:10px;
	-webkit-box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
	-moz-box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
	box-shadow:0px 5px 5px 0px rgba(204, 204, 204, 0.75);
}

.tooltipevent .close
{
	width:10px;
	height:10px;
	position:absolute;
	top:14px;
	right:14px;
	cursor:pointer;
	opacity:1;
	filter:alpha(opacity=100)
}

.tooltipevent .date
{
	font-weight:bold;
}

.tooltipevent .time
{

}

.tooltipevent .link
{
	text-decoration:underline;
	color:#0062ab;
}

.tooltipevent .duedate
{
	background-color:#e6801e;
	color:#ffffff;
	font-weight:bold;
	padding:6px;
}

.tooltipevent .location
{

}

.tooltipevent .triangle
{
	position:absolute;
	bottom:-23px;
	left:96px;
}

.filters .group
{
	vertical-align:middle;
}

td.elearning
{
	color:#ffffff;
	line-height:normal;
	border-right:20px solid #f1f3f2;
}

td.classroom
{
	color:#ffffff;
	line-height:normal;
	border-right:20px solid #f1f3f2;
}

td.videoconference
{
	color:#ffffff;
	line-height:normal;
}

td.classroom label, td.elearning label, td.videoconference label
{
	display:inline-block;
	color:#000000;
	padding:4px 15px 3px 15px;
}

td span.jq-checkbox
{
	margin:4px;
}

.advanced-search-box
{
	border-right:none;
	width:262px;
}

#view_switch
{
	position:absolute;
	top:80px;
	right:0px;
}

.view_switch
{
	display:inline-block;
	margin-right:10px;
}

.mycalendar-btn
{
	background-color:#f1f3f2 !important;
	background-image:none;
	color:#333333 !important;
	font-weight:bold !important;
}

.mycalendar-btn-std
{
	font-size:12px !important;
}

table.fc-header
{
	margin-bottom:15px;
	margin-top:25px;
}