/* 
    Created on : 01.03.2016, 23:15:14
    Author     : Kristian
*/

@mixin box-shadow(){
	webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@mixin box-shadow-darker(){
	webkit-box-shadow: -2px 1px 15px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: -2px 1px 15px rgba(0, 0, 0, 0.3);
   box-shadow: -2px 1px 15px rgba(0, 0, 0, 0.3);
}
@mixin box-shadow-lighter{
	webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
@mixin box-shadow-bootstrap{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
@mixin box-shadow-button{
	webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
@mixin box-shadow-list{
	webkit-box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px -3px rgba(0, 0, 0, 0.2);
}
@function card-height($value) {
	@return $value + 15;
}
@function card-width($value) {
	@return $value - 10;
}