/* 
    Created on : 01.03.2016, 23:12:50
    Author     : Kristian
*/

/* New dashboard styles */

/* Fonts and colors */
$font: 'Open Sans', sans-serif;
$darkgray-color: #333;
$softdarkgray-color: #444;
$midgray-color: #666;
$lightgray-color: #999;
$blue-color: #0465ac;
$white-color: #fff;
$yellow-color: #f0c407;
$green-color: #5EBE5E;
$darkwhite-color: #efefef;
$grayEF-background: #EFEFEF;
$red-color: #E85647;

/* Backgrounds */
$white-background: #fff;
$gray-background: #f5f5f5;
$grayf8-background: #f8f8f8;
$grayde-color: #dedede;
$blue-background: #0465ac;
$blue-background-light: #1e70c5;
$green-background: #5EBE5E;
$gray9-background: #eee;
$darkgray-background: #333;
$red-background: #E74C3C;
$lightgray-background: #e4e6e5;
$graywhite-background: #f5f5f5;
$blacko-background: rgba(51, 51, 51, 0.6);
$black-background: #000;
$yellow-background: #EEC507;
$green-background: #5EBE5D;
$whiteopacity9: rgba(255, 255, 255, 0.9);
$blue-background-download: #5093DA;
$active-background: #2C7CB7;

/* Border colors */
$tileborder-color: #e4e6e5;
$queueTextColor: #bfbfbf;


/* View asset variables and mixins */

// Colors
// -------------------------
$placeholder-color:  #BFBFBF;
$yellow-color: #F1C500;
$mid-gray-color: #666;
$grey-dark: #444;
$grey-color: #999;

// Backgrounds
// -------------------------
$body-gray-background:  #f5f5f5;
$body-lightgray-background:  #fafafa;
$lightgray-background: #e5e5e5;
$blue-background: #0063ae;

// Border colors
// -------------------------
$lightgray-border:  #eee;

// Navigation circles backgrounds
// -------------------------
$nav-button-green: #5ABF59;
$nav-button-grey: #666666;
$nav-button-blue: #0063AE;
$nav-button-red: #EA4B35;
// Hovers
$nav-button-h-green: #7CD07C;
$nav-button-h-grey: #828282;
$nav-button-h-blue: #0077C8;
$nav-button-h-red: #F66350;

// Mixins
// 
@mixin gray-box-shadow(){
	-webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
}
@mixin box-shadow($value){
	-webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}