.app7020-invite-dialog {
	overflow-x: hidden;
	@extend %app7020ModalDefaultStyle;
	span.title{
		display:block;
		margin-bottom:10px;
	}
	span.counter,span.clear-all{
		margin-bottom:10px;
	}

	span.clear-all{
		color:#0465ac;
		text-decoration:underline;
		cursor:pointer;
	}
	.selection-wraper{
		width:100%;
		border:1px solid #d2d2d2;
		padding:1px;
		background:#f9f9f9;
		margin-bottom:17px;
		#selection{
			display:inline-block;
			li{
				display:inline-block;
				background:#e4e6e5;
				color:#030303;
				line-height:30px;
				padding:0 18px;
				margin-left:1px;
				&.input-holder{
					background:transparent;
				}
				&:first-child{
					margin-left:0;
				}
				.fa-times{
					color:$red;
					cursor:pointer;
					display:inline-block;
					margin-left:14px;
				}
			}
		}
		input#selector{
			display:inline-block;
			border:none;
			color:#030303;
			background:transparent;
			margin:0 0 0 1px;
			&:focus{
				outline:none;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
			}
		}

	}
	.invited_items{
		width:100%;
		margin-bottom:30px;
	}
	.item{
		width:44%;
		display:inline-block;
		border-bottom:1px solid #d2d2d2;
		color:#d2d2d2;
		padding:10px;
		&:nth-child(1),&:nth-child(2){
			border-top:1px solid #d2d2d2;
		}
		&:nth-child(even){
			margin-left:20px;
		}
		h4{
			color:#7e7e7e;
			font-weight:bold;
			strong{
				color:inherit;
				display:block;
				font-size:12px;
			}
		}
		.channel-icon{
			width:40px;
			height:40px;
			-moz-border-radius: 50px;
			-webkit-border-radius:50px;
			border-radius:50px;
			text-align:center;
			.fa{
				line-height:40px;
			}
		}
		i.fa{
			font-size:17px;
			line-height:36px;
			&.fa-plus-circle{
				color:#d1d1d1;
				cursor:pointer;
			}
			&.fa-check-circle{
				color:#5FBF5F;
			}
		}
		span.status{
			color:#5FBF5F;
			text-align:right;
			display:inline-block;
			font-weight:bold;
			text-transform:uppercase;
			strong{
				display:block;
				color:#b2b2b2;
				font-weight:normal;
				text-transform:none;
			}
		}
	}
	/*.complete{display:none}*/
	.app7020_first_row{
		text-align: center;
		font-size: 45px;
		color: $green-color;
		padding-top:45px;
	}
	.app7020_second_row{
		text-align: center;
		font-size: 18px;
		padding-top: 20px;
	}
	.app7020_third_row{
		text-align: center;
		font-size: 18px;
		color: $green-color;
		padding-top: 7px;
	}

	.app7020_fourth_row{
		text-align: center;
		font-size: 12px;
		line-height:15px;
		color: #e74c3c;
		padding-top: 20px;
		text-transform:uppercase;
	}
	#app7020-controlls{
		text-align:right;
		@extend %dialog-buttons;
		a.manage-invitations{
			color:rgb(4,101,172);
		}
	}
	.modal-footer{
		display:none;
	}
	.circle-avatar {
		background: blue none repeat scroll 0 0;
		border-radius: 50px;
		color: #fff;
		font-family: open sans;
		font-size: 14px;
		font-weight: 700;
		line-height: 40px; 
		text-align: center;
		width: 40px;
	}
}