.sfIntroContainer{
    width: 100%;
    min-height: 450px;
    position: relative;
}

.salesforce-config strong{
    font-weight: bold;
}

.checkbox-inline {
    display: inline-flex;
}
[data-grid="#fields-grid"].jwizard-form.form-horizontal .form-group.row-fluid  .control-label {
    text-align: left;
}
[data-grid="#fields-grid"].jwizard-form.form-horizontal input.step1-input.form-control.jwizard.span12 {
    margin-bottom: 10px;
}

/*div.modal.salesforce-dialog-step1.jwizard-step1 {
	width: 393px;
	margin-left: -225px;
}*/
div.modal.salesforce-dialog-step1 {
	width: 393px;
	margin-left: -225px;
}
.modal.salesforce-dialog-step1.jwizard-step1 .visit-page {
    color: #3980B8;
    text-decoration: underline;
}
#sales_order{
      margin-left: 5%;
}
#btn-confirm-configure-salesforce {
     position: absolute;
     top:80%;
     left:43%;
     padding: 10px 16px;
     font-weight: 600;
     font-size: 15px;
     vertical-align: middle;
     display: inline-block;
     text-shadow: 1px 1px 1px #333;
     background-color: #62BB5F !important;
 }
.salesforce-config span.tick{
    width: 30px;
    height: 23px;
    margin-right: 6px;
    vertical-align: middle;
    float: left;
    background: url('../../../../themes/spt/images/player-sprite-fireworks.png')-220px -360px;
}

.jwizard-step5 span.tick{
    width: 17px;
    height: 17px;
    margin-right: 6px;
    vertical-align: middle;
    float: left;
    background: url('../../../../themes/spt/images/ico_sprite.png') no-repeat 0px -144px;
}

.modal-salesforce-courses-setup .green { color: #5FBF5F; }
.modal-salesforce-courses-setup .red { color: #d90000; }
.modal-salesforce-courses-setup .grey { color: #999999; }
.modal-salesforce-courses-setup .black { color: #333333; }
.modal-salesforce-courses-setup .finish-button { text-align: center !important; padding: 23px 18px 18px; }
.modal-salesforce-courses-setup .overlay-spinner { padding-top: 45px; color: #999999; }
.modal-salesforce-courses-setup .modal-footer { display:none; }

.salesforce-config p.lead{
    margin-bottom: 0px !important;
}
.salesforce-config .row-fluid.odd{
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    padding: 0;
    padding: 22px 18px;
    background: #f1f3f2;
    clear: left;
}
.salesforce-config .row-fluid.even{
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    padding: 0;
    padding: 22px 18px;
    clear: left;
}

.salesforce-config hr{
    margin-top: 0px !important;
}

.salesforce-config .row{
	margin-left: 0px !important;
}

.salesforce-config .span9{
    margin-left: 0px;
}

.sf-checkboxes {
    margin-right: 10px;
}
a.center{
    margin: 0 auto;
}

.jwizard-step5 > .modal-footer{
    text-align: center !important;
}

#sync-courses-holder p.lead,
#sync-users-holder p.lead,
#sync-accounts-holder p.lead{
    line-height: 17px;
    font-size: 14px;
}

#sync-courses-holder span.success-tick,
#sync-users-holder span.success-tick,
#sync-accounts-holder span.success-tick{
    width: 26px;
    height: 26px;
    float: left;
    background: url('../../../../themes/spt/images/icon-success-medium.png')no-repeat;
}

.salesforce-logs select{
    width: 200px !important;
}

.salesforce-logs .filters{
    width: 98% !important;
    padding-right: 0px !important;
    padding-left: 13px !important;
}

.loader-extra{
    top: 60%;
    left: 30%;
    width: 215px;
    height: 40px;
    position: absolute;
    color: #000;
    z-index: 9999;
}
tr[id^="userman-orgchart-tree-node-"].salesforce span.fancytree-title  {
    color : #0493D7 !important; 
}
tr[id^="userman-orgchart-tree-node-"].salesforce-root span.fancytree-title  {
    color : #0493D7 !important; 
}
tr[id^="userman-orgchart-tree-node-"].salesforce div.userman-drag-handler {
	display: none !important;
}
tr[id^="userman-orgchart-tree-node-"].salesforce-root div.userman-drag-handler {
	display: none !important;
}
tr[id^="userman-orgchart-tree-node-"].salesforce-root div[id^="userman-branch-actions-po-container-"] .userman-node-actions ul li,
tr[id^="userman-orgchart-tree-node-"].salesforce div[id^="userman-branch-actions-po-container-"] .userman-node-actions ul li {
    display: none;
}
tr[id^="userman-orgchart-tree-node-"].salesforce-root div[id^="userman-branch-actions-po-container-"] .userman-node-actions ul li.manage-fields-visibility,
tr[id^="userman-orgchart-tree-node-"].salesforce div[id^="userman-branch-actions-po-container-"] .userman-node-actions ul li.manage-fields-visibility{
    display: block;
}
tr[id^="userman-orgchart-tree-node-"].salesforce span.fancytree-icon {
	background: url(../images/sf_icons_sprite.png) no-repeat !important;
	background-position: -74px 2px !important;
}
tr[id^="userman-orgchart-tree-node-"].salesforce.fancytree-expanded span.fancytree-icon {
	background: url(../images/sf_icons_sprite.png) no-repeat !important;
	background-position: -97px 2px !important;
}
tr[id^="userman-orgchart-tree-node-"].salesforce-root span.fancytree-icon {
	background: url(../images/sf_icons_sprite.png) no-repeat !important;
	background-position: -49px 2px !important;
}
.admin-ico.salesforce {
	background: url(../images/sf_icons_sprite.png) no-repeat;
	background-position: 6px 3px;
}

a:hover .admin-ico.salesforce {background-position: -19px 3px;}

#courses-synch-grid {
	padding: 0px 0px !important;
}
.replicate-radio-btn {
    margin-bottom: 5px;
}
.first-config-message {
    font-family:            'Handlee', cursive;
    color:                  #60B768;
    text-align:             center;
    font-weight:            normal;
    font-size:              42px;
    line-height:            40px;
    padding:                0;
    width:                  500px;
    word-wrap:              break-word;
    position:               absolute;
    top:                    42%;
    left:                   30%;
}
.bs.first-config-message,
.bg.first-config-message,
.hr.first-config-message,
.fa.first-config-message,
.fr.first-config-message,
.el.first-config-message,
.id.first-config-message,
.ru.first-config-message,
.sl.first-config-message,
.uk.first-config-message {
    top: 26%;
}
.cs.first-config-message,
.nl.first-config-message,
.fi.first-config-message,
.de.first-config-message,
.he.first-config-message,
.hu.first-config-message,
.ja.first-config-message,
.ko.first-config-message,
.pt.first-config-message,
.pt-br.first-config-message,
.ro.first-config-message,
.es.first-config-message,
.sv.first-config-message,
.th.first-config-message,
.tr.first-config-message {
    top: 35%;
}
.bootstro-salesforce-arrow {
    background:             url('../../../../plugins/SalesforceApp/assets/images/sf_icons_sprite.png');
    background-position:    1px -15px;
    background-repeat:      no-repeat;
    width:                  81px;
    height:                 81px;
    display:                block;
    position:               absolute;
    top:                    62%;
    left:                   48%;
}
#wrapper {
    position: relative;
}
/* Yii::app()->theme->baseUrl . '/images/icons_elements.png'; */
.span3.legend {
    margin-top: -18px;
    margin-bottom: 17px;
    padding: 11px;
    border-bottom: 1px solid #E4E6E5;
    border-top: 1px solid #E4E6E5;
    background: none repeat scroll 0 0 #F1F3F2;
    position: relative;
}
.icon-select-node-yes,
.icon-select-node-no,
.icon-select-node-descendants {
    height: 19px;
    width: 19px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 8px;
}
.icon-select-node-yes {
    background: url(../../../../../themes/spt/images/icons_elements.png) -166px -200px no-repeat;
}

.icon-select-node-no {
    background: url(../../../../../themes/spt/images/icons_elements.png) -143px -200px no-repeat;
}

.icon-select-node-descendants {
    background: url(../../../../../themes/spt/images/icons_elements.png) -189px -200px no-repeat;
}

.settings-message-box {
    position: relative;
    width: 100%;
}

.settings-arrow{
    display: block;
    float: left;
    width: 32px;
    height: 29px;
    position: absolute;
    top: 12px;
    left: -15px;
    background: url(../../../../themes/spt/images/player/tm_views_sprite.png) -2px -212px no-repeat;
    -ms-transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.settings-message-content{
    display: block;
    position: absolute;
    left: 32px;
    top: 0;
    max-width: 60%;
    font-family: 'Handlee', cursive;
    text-align: left;
    font-weight: normal;
    font-size: 32px;
    line-height: 34px;
    color: #333;
    padding: 0;
}

.settings-message-content.green, .settings-message-content span{
    color: #53AB54;
}

.salesforce-config .lead, .salesforceLead.lead{
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

/*.muted {*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: 600;*/
    /*font-size: 11px;*/
    /*padding-top: 5px;*/
    /*color: #AAAAAA;*/
    /*line-height: 14px;*/
    /*margin: 0;*/
    /*border: 0;*/
/*}*/

.indented-vertically{
    margin-top: 4px;
}

.category-grid
{
    margin-top: 25px;
}

.row-item-sf
{
    width: 1073px;
}

.setup-completed{
    font-family: FontAwesome;
    font-size: 72px;
    color: #6ABF6A;
    text-align: center;
    line-height: normal;
    padding-bottom: 15px;
}

.salesforce-box-container{
    float: left;
    width: 355px;
    margin-right: 22px;
}

.salesforce-box {
    background-color: #F8F8F8;
    border-color: #E5E7E6;
    border-width: 1px;
    border-style: solid;
    margin-right: 22px;
    margin-bottom: 22px;
    padding: 20px;
    width: 313px;
    float: left;
    /*height: 225px;*/
    height: auto;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

.salesforce-box.inactive, .syncfrequency-form.inactive{
    opacity: 0.5;
}

.salesforce-box.last{
	margin-right: 0;
}

.salesforce-dashboard{
    overflow: visible;
}

.salesforce-box-icon{
    font-family: FontAwesome;
    font-size: 48px;
    width: 41px;
    height: 41px;
    float: left;
    line-height: normal;
    color: #999999;
}

.salesforce-box-icon.completed{
    color: #6ABF6A;
}

.additionalFieldsBoxTop{
    width: 100%;
    clear: both;
}

.additionalFieldsHrTop{
    margin-bottom: 5px;
}

.additionalFieldSelect {
    width: 100%;
    position: relative;
}

.additionalFieldsBox{
    width: 100%;
    clear: both;
}

.additionalFieldsFieldname {
    width: 40%;
    float: left;
    overflow: hidden;
    line-height: 30px;
}

.additionalFieldsRightPart {
    float: right;
    width: 58%;
}

.additionalFieldsSelect{
    float: left;
	width: 87%; /* temporary modified*/
}

.additionalFieldsSelect select{
    /*width: 150px;*/ /* temporary modified*/
	width: 98%;
}

.additionalFieldsOr {
    margin: 0 12px;
    float: left;
    line-height: 30px;
}

.additionalFieldsCreate{
    margin-right: 10px;
    float: left;
}

.additionalFieldsCreate a{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.additionalFieldsUpdate{
    margin-right: 10px;
    float: left;
    width: 30px;
    height: 30px;
    position: relative;
}

.additionalFieldsUpdate a{
    display: block;
    width: 21px;
    height: 21px;
    background: url("../../../../themes/spt/images/icons_elements.png") -141px -87px no-repeat;
    position: absolute;
    top: 5px;
}

.additionalFieldsDelete {
    float: right;
    width: 30px;
    height: 30px;
    position: relative;
}

.additionalFieldsDelete a, .additionalFieldsDelete div {
    display: block;
    width: 21px;
    height: 21px;
    background: url("../../../../themes/spt/images/icons_elements.png") transparent -82px -227px no-repeat !important;
    position: absolute;
    top: 5px;
}

.fieldSelectorDropdown {
	width: 98%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.fieldSelectorDropdown option.not-yet-selected,
.lms-fields-selector option.not-yet-selected {
	font-style: normal;
}
.fieldSelectorDropdown option.already-selected,
.lms-fields-selector option.already-selected {
	font-style: italic;
	display: none;
}


.additionalFieldsLabel {
    font-weight: bold;
    text-transform: uppercase;
	line-height: 30px;
}
.additionalFieldsLabel span.hint{
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	font-size: 12px;
}

.additionalFieldsUser-item, .additionalFieldsAccount-item, .additionalFieldsContact-item{
    height: 30px;
}

#additionalFieldsUsers hr, #additionalFieldsAccounts hr, #additionalFieldsContacts hr{
    margin: 10px 0;
}

.salesforce-box-title {
    float: left;
    margin-left: 15px;
    width: 250px;
    /*height: 72px;*/
    height: auto;
    margin-bottom: 10px
}

.salesforce-details {
    font-size: 12px;
    color: #999999;
}

.sf-caption {
    float: left;
    width: 49%;
    height: 50px;
}

.sf-field{
    float: right;
    width: 49%;
    text-align: right;
    height: 50px;
}

.sf-switch{
    display: block;
    background-image: url("/themes/spt/images/icons_elements.png");
    /*background-position-x: -1014px;*/ /* NON-STANDARD, unsuported by Firefox */
    background-position: -1014px 0;
    width: 53px;
    height: 27px;
    margin-left: 100px;
}

.sf-switch.inactive{
    /*background-position-y: -296px;*/ /* NON-STANDARD, unsuported by Firefox */
    background-position: -1014px -296px;
}

.sf-switch.active{
    /*background-position-y: -265px;*/ /* NON-STANDARD, unsuported by Firefox */
    background-position: -1014px -265px;
}

.salesforce-config .btn-docebo.big,
.sf-user-settings-blocks-list .btn-docebo.big{
    padding: 3px 12px;
    height: 26px;
    line-height: 26px;
}

.salesforce-config .syncfrequency-form .btn-docebo.big,
.sf-user-settings-blocks-list .btn-docebo.big{
    box-sizing: inherit;
    font-size: 14px;
    /*width: 109px;*/
    width: auto;
}

.sf-button{
    background-color: #5EBE5D;
    width: 161px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 600;
}
a.sf-button:hover {
	color: white;
}

div.sf-button{
    cursor: default;
    background-color: #999999;
}

.btn-docebo.blue, .sf-button.blue{
    background-color: #0465AC;
}

.btn-docebo.gray, .sf-button.gray{
    background-color: #999999;
}

.btn-docebo.black, .sf-button.black{
    background-color: #000000;
}

.btn-docebo.green, .sf-button.green{
    background-color: #54ab54;
}

.sf-user-settings-blocks-list {
    min-height: 100px;
    margin-left: 0!important;
    margin-top: 10px;
}

.sf-grid-column{
    width: 49%;
    float: left;
    display: inline
}

#total_users_count{
    display: inline-block;
    width: 50px;
}

.sf-grid-column b{
    text-transform: uppercase;
}

.syncfrequency-form{
    float: right;
    width: 95%;
}

.hierarchy-container {
    width: 100%;
    clear: both;
}

.hierarchy-block{
    width: 22%;
    margin-right: 3%;
    float: left;
}

.hierarchy-block select{
    width: 100%;
    min-width: 150px;
}

.settingsButtons{
    float: right;
}

.listviewContainer{
    width: 100%;
    clear: both;
}

.listviewBlock{
    width: 40%;
    margin-right: 5%;
    float: left;
}

div.overlay-spinner i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
}
div.overlay-spinner.hidden {
	display:none;
}

div.btn-docebo {
    cursor: default;
}

.salesforce-box .btn-docebo-xl{
    width: 298px;
    height: 21px;
}

div.btn-docebo span.spinner{
    display: inline-block;
    line-height: 21px;
    padding-left: 33px;
	background: url("../images/blue_spinner.gif") left center no-repeat;
}

.sync_info{
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
}

.limitListviewAccounts{
    color: red;
}

.labelSmallInfo{
    display: block;
    font-size: 10px;
    margin-top: -3px;
    color: #999999;
}

.smallInfo{
    display: block;
    font-size: 10px;
    color: #999999;
}

#total_users, #total_accounts, #total_contacts{
    display: none !important;
}