/* 
    Created on : 22.03.2016, 10:13:57
    Author     : Violeta
	
*/

/****** Midia query style settings *******/


@media (min-width: 1025px){
	.form-wrapper{
		max-width: 60%;
	}
	.centered-bottom{
		max-width: 100%;
		margin: 0 auto;
	}
}

@media (min-width: 769px){
	.with-panel-left-reveal .views {
		right: 0;
	}
	html body.with-panel-left-reveal .view-main{
		top: 0;
	}
	.hidden-left-menu{
		width: 40%;
	}
	body.with-panel-left-reveal .views.right-slide, body .views.right-slide{
		/*-webkit-transform: translate3d(40%,0,0);
		-moz-transform: translate3d(40%,0,0);
		transform: translate3d(40%,0,0);*/
		left: 60px;
		
		.views-overlay{
			height: 100%;
			background: #444;
			z-index: 5565;
			position: absolute;
			width: 100%;
			opacity: 0.5;
		}
	}
	.col-60.description-wrapper{
        min-width: 100%;
    }
    .col-40.icons-wrapper {
        min-width: 100%;
    }
	.title-description-wrapper{
		display: inline-block;
		width: 68%;
	}
	.row .col-100.icons-wrapper{
		display: inline-block;
		width: 32%;
	}
	.row .col-100.icons-wrapper{
		display: inline-block;
		width: 35%;
	}
	.title-description-wrapper {
		display: inline-block;
		width: 65%;
	}
	.form-wrapper{
		max-width: 60%;
	}
	.centered-bottom{
		max-width: 100%;
		margin: 0 auto;
	}
	.centered-absolute{
		bottom: 37%;
	}
}

/* Tablet media queries */

@media (max-width: 1024px){
	.swiper-slide {
		width: 238px;
		height: 245px;
	}
	.col-tile{
		width: 218px;
		text-align: left;

		.tooltip{
			min-width: 60px;

			.tooltip-inner{
				display: inline-block;
				min-width: 60px;
			}
		}
	}
	.placeholder-wrap{
		.tile-title{
			width: 100%;
			min-height: 25px;
		}
		.thumb-img i {
			top: 50px;
			left: 90px;
		}
		.author-metas{
			width: 115px;
		}
		.main-metas{
			width: 100%;
		}
	}

	.viewall-page.channels-wrapper {
		margin-top: 52px;

		.items-wrapper{
			text-align: center;
			float: none;
			
		    .col-tile{
				margin-right: 20px;
				margin-bottom: 20px;
				float: left;
			}
		}
		.header-channel{
			.col-10-main{
				padding-bottom: 20px;
				margin-bottom: 0;
			}
		}
	}
	.label-invititedby{ 
		bottom: 10px;
		img {
			min-height: 36px;
			min-width: 35px;
			margin-top: 0;
		}
	}
	.progress-metas .progress{
		width: 100px;
	}
	#topTitle.top-title {
		max-width: 600px;
		height: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.centered-bottom{
		max-width: 100%;
		margin: 0 auto;
	}
	.centered-absolute{
		bottom: 37%;
	}
	.myChannels-wrapper{
		.channel-wrap{
			padding-top: 30px;
		}
	}
}

/* Desktop changes - smaller media */
@media (min-width: 768px) and (max-width: 779px){
	.row .col-100.icons-wrapper{
		display: inline-block;
		width: 40%;
	}
	.title-description-wrapper {
		display: inline-block;
		width: 60%;
	}
	#mobile-course-icons-header {
		ul {
			li {
				padding: 5px 22px 10px;
			}
		}
	}
	body.with-panel-left-reveal .views.right-slide, body .views.right-slide{
		-webkit-transform: translate3d(60%,0,0);
		 -moz-transform: translate3d(60%,0,0);
		transform: translate3d(60%,0,0);
	}
	.hidden-left-menu{
		width: 60%;
	}
	body.with-panel-left-reveal .views.right-slide .views-overlay, body .views.right-slide .views-overlay{
		height: 100%;
		background: #444;
		z-index: 5565;
		position: absolute;
		width: 100%;
		opacity: 0.5;
	}
}

@media (min-width: 641px){
	.form-wrapper{
		max-width: 70%;
		margin: 0 auto;
		position: relative;
		height: 100%;
	}
	.login-layout .ng-scope, .page-password .ng-scope{
		height: 100%;
	}
	.centered-bottom{
		max-width: 100%;
		margin: 0 auto;
	}
	.form-wrapper .list-block.centered-absolute > div.list-block-label{
		float: left;
		width: 100%;
		margin: 0;
	}
	a.back-arrow{
		left: 0;
	}
	.form-wrapper{
		max-width: 60%;
	}
	.centered-bottom{
		max-width: 100%;
		margin: 0 auto;
	}
	.centered-absolute{
		bottom: 37%;
	}
}

@media (max-width: 767px){
	body.with-panel-left-reveal .views.right-slide, body .views.right-slide{
		left: 60px;
	}
	.channel-wrap{
		margin: 0;
		padding-top: 30px;
		background: $gray-background;
		overflow: hidden;

		.swiper-wrapper{
			padding-left: 10px;
		}
		.swiper-slide {
			width: 155px;
			height: 210px;
			transform-style: flat;
		}
	}
	.col-tile{
		width: 145px;
		max-height: 99%;
		margin-right: 10px;
		margin-bottom: 20px;

		.tile-thumb{
			height: 100px;
		}
		.progress-metas {
			float: left;

			.progress{
				width: 50px;
				margin-left: 5px;
			}
		}
	}
	.myChannels-wrapper{
		.my-channel-contributions{
			.items-wrapper{
				.col-tile{
					max-height: 208px;
				}
			}
		}
	}
				
	.tab-text{
		display: none;
	}
	.tab-icon{
		display: inline-block;
		width: auto;
		height: auto;
	}
	.primaryMenu li a{
		font-weight: 400;
		padding: 0 30px;
		height: 45px;
		line-height: 57px;
		font-size: 22px;
	}
	.main-metas{
		display: none;
	}
	.overlay-details {
		.label-right-topcorner{
			.courses-count{
				padding: 2px 5px;
			}
		}
		.label-type{
			font-size: 10px;
		}
	}
	.label-icon {
		padding: 8px 10px;
		font-size: 16px;
	}
	.col.title-details{
		max-width: 97%;
		width: 100%;

		h3{
			font-size: 17px;
			display: inline-block;
			line-height: 24px;
			font-weight: 600;
			margin-bottom: 2px;
		}
		div{
			font-size: 13px;
			line-height: 16px;
			margin-left: 55px;
			padding-right: 0;
		}
	}
	.tile-title{
		height: 50px;
		max-height: 48px;
		margin-bottom: 12px;
	}
	.header-channel {
		display: flex;
		margin: 20px 0 0px;

		.col-10-main{
			width: 100%;
		}
	}
	.course-status, .completed, .Completed, .progress, .Subscribed{
		font-size: 10px;
	}
	.placeholder-wrap{
		.tile-title{
			width: 115px;
			height: 45px;
		}
		.thumb-img i {
			top: 35px;
			left: 55px;
		}
		.author-metas{
			width: 115px;
		}
	}

	.viewall-page.channels-wrapper{
		margin-top: 52px;
		.title-details{
			margin-left: 10px;

			h3{
				font-size: 18px;
				font-weight: 600;
			}
		}
		.description-details{
			margin-left: 10px;
			max-width: 95%;
			p{
				font-size: 13px;
				line-height: 17px;
				color: $lightgray-color;
			}
		}
		.channel-details{
			margin-left: 10px;

			.details-col2{
				color: $lightgray-color;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 0.8px;
				font-size: 13px;
			}
		}

		.items-wrapper{
			margin-left: 10px;
			margin-top: 15px;
			text-align: left;

			.col-tile{
				height: 210px;
				margin-right: 10px;
				margin-bottom: 20px;
				float: none;
				display: inline-block;
				vertical-align: top;
				text-align: left;
			}
		}
	}
	.myChannels-wrapper{
		.my-channel-contributions {
			.items-wrapper{
				margin-left: 10px;
				margin-top: 15px;
				text-align: left;
				
				.col-tile{
					height: 210px;
					margin-right: 10px;
					margin-bottom: 20px;
					float: none;
					display: inline-block;
					vertical-align: top;
					text-align: left;
				}
			}
		}
	}
	#mobile-course-icons-header ul {;
		padding-top: 5px;
	}
	.dots-link{
		margin-top: -2px;
	}
	.dots-menu{
		.link-overlay {
			ul
				li{
					font-size: 11px;
						i{
							font-size: 12px
						}
				}
			}
		}

	.placeholder-wrap {
		.title-details {
			p{
				width: 320px;
			}
		}
	}
	#mobile-course-icons-header ul li {
		padding: 10px 0;
		width: 33.3%;
	}
	.col.title-details {
		h3.title-with-link{
			display: block;
		}
	}
	.myChannels-wrapper {
		.my-channel-contributions .items-wrapper {
			margin-left: 10px;
		}
	}
	.dots-link{
		display: none;
	}
	#topTitle.top-title {
		max-width: 450px;
		height: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	body.with-panel-right-cover {
		.panel.panel-right.panel-cover{
			width: 100%;
			-webkit-transform: none;
			transform: none;
			right: 0;
			visibility: visible;
		}
	}
	.panel.panel-right.panel-cover{
		width: 0;
		visibility: hidden;
	}
	.card-container #tinderslide{
		padding-top: 0;
	}
	.card-container{
		padding-top: 5px;
		height: auto;
	}
	.form-wrapper{
		.item-input-wrapper{
			min-width: 200px;
		}
	}
	.centered-absolute{
		bottom: 37%;
	}
	.table-view {
		.table-view-row {
			.item-inner {
				max-width: 85%;
				.item-title {
					padding-left: 10px;
					p{
						font-size: 13px;
					}
				}
				.progress-metas{
					width: 82%;
					padding-left: 10px;
				}
				.item-after{
					//margin-top: -17px;
				}
			}
		}
	}
}

@media (max-width: 568px){
	
	.items-wrapper{
		width: 83%;
		margin: 0 auto;
	}
}
@media (max-width: 520px){		
	#mobile-course-icons-header ul li{
		padding: 10px 0;
		width: 33.3%;
	}
	.hidden-left-menu{
		width: 100%;
	}
	#topTitle.top-title {
		max-width: 210px;
		height: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.viewall-page.channels-wrapper {
		.items-wrapper{
			width: 300px;
			margin: 0 auto;
			
			.col-tile:nth-child(2n){
				margin-right: 0;
			}
		}
	}
	.myChannels-wrapper{
		.my-channel-contributions {
			.items-wrapper{
				width: 300px;
				margin: 0 auto;
				
				.col-tile:nth-child(2n){
					margin-right: 0;
				}
			}
		}
	}
	.view-more-mobile{
		max-width: 77%;
	}
}

/* Mobile portrait view */
@media (max-width: 480px){
	.col-tile.even{
		margin-right: 0;
	}
	.table-view {
		.table-view-row {
			.item-inner {
				.item-title {
					padding-left: 10px;
					width: 75%;
					p{
						font-size: 11px;
					}
				}
				.progress-metas{
					width: 75%;
					padding-left: 10px;
				}
				.item-after{
					font-size: 18px;
					margin-top: -37px;
					padding: 20px;
				}
				.item-history-details{
					width: 75%;
				}
			}
		}
	}
	.item-after:before {
		margin-right: -18px;
	}
	.card-container{
		.tinderslide{
			ul{
				width: 300px;
			}
		}
	}
	.checbox-lastslide{
		margin: 35px auto 30px;
	}
}

@media (min-width: 346px) and (max-width: 366px){
	.col.title-details {
		h3.title-with-link {
			max-width: 97%;
		}
	}
}