/* 
    Created on : 15.03.2016, 09:38:10
    Author     : Violeta
*/

/********** SETTINGS | COLORS **********/
@import 'variables';

/********** MIXINS **********/
@import 'mixins';

.dashboard-wrapper{
	padding-bottom: 30px;
	margin-top: 85px;
}
.channels-wrapper {
	padding-bottom: 0;
	overflow-x: hidden;
	margin-top: -1px;
    margin-bottom: -5px;
	min-height: 667px;
	
}
.home-page{
	.views{
		background: $gray-background;
	}
}
.placeholder-wrap{
	overflow: hidden;
}
.header-channel .col-10-main {
    margin-left: 0;
	display: inline-block;
	width: 70%;
}
.title-details {
	h3{
		margin-top: 0;
		font-size: 20px;
		margin-bottom: 0;
		line-height: 28px;
	}
	div{
		color: $lightgray-color;
		font-size: 16px;
		margin-left: 63px;
		//padding-right: 150px;
	}
}
.channel-wrap .swiper-wrapper {
    padding-left: 15px;
}
.header-channel {
    margin-bottom: 20px;
}
.channel-wrap{
	margin: 45px 0 0;
}
.tile-meta{
	text-align: left;
}
.tile-title{
	max-height: 33px;
	text-align: left;
}
.right-align{
	margin-right: 10px;
}
.title-label{
	min-width: 15px;
    min-height: 45px;
	float: left
}


.dots-menu.open {
	max-height: 293px;
	height: 100%;
	width: 100%;
	text-align: left;
}
.dots-menu .link-overlay ul {
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		font-size: 12px;
		i{
			font-size: 14px;
		}
	}
}
				
.menu-right-part{
	display: none;
}
.right-align a{
	font-weight: 600;
	letter-spacing: 0.8px;

	i {
		margin-left: 7px;
		font-size: 18px;
		font-weight: 600;
		margin-top: -2px;
		vertical-align: top;
		display: inline-block;
	}
}
.viewall-page {
	.items-wrapper {
		margin-left: 15px;
		
		.col-title{
			margin-right: 20px;
			margin-bottom: 20px;
			width: 235px;
		}
	}
	.title-details h3{
		font-size: 20px;
		margin-top: 13px;
		color: $darkgray-color;
	}
	.description-details{
		margin-left: 15px;
		margin-top: 0;
		
		p{
			margin-top: 10px;
			font-weight: 400;
		}
		.expand-arrow:after, collapse-text-toggle:after{
			color: $midgray-color;
		}
	}
	.channel-details{
		margin-top: 30px;
		margin-left: 15px;
		
		.blue-color{
			margin-right: 3px;
		}
	}
	.header-channel{
		margin-bottom: 0;
	}
	.col-main-10{
		margin-bottom: 20px;
	}
	.channels-wrapper {
		margin-top: 52px;
	}
}

.description-details .expand-arrow.false:after, .description-details .false.collapse-text-toggle:after{
	content: '\f107';
	font-size: 36px;
	font-weight: 300;
}
.description-details .expand-arrow.true:after{
	content: '\f106';
	font-size: 36px;
	font-weight: 300;
}
.placeholder-wrap .tile-title{
	width: 180px;
	margin-bottom: 7px;
	margin-top: 7px;
	height: 12px;
}
.dashboard-tabs{
	background: $white-background;
	width: 100%;
	display: block;
}

/*.dashboard-tabs.ios{
	top: 72px;
	z-index: 1002;
}*/

.with-statusbar-overlay{
	body{
		&.with-panel-right-cover {
		}
	}
}
.primaryMenu {
    list-style: none;
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	
	li{
		display: inline-block;
		display: inline-block;
		box-sizing: border-box;
		transition: border .3s linear;
		border-bottom: 5px solid transparent;
		
		a{
			color: $lightgray-color;
			height: 63px;
			line-height: 63px;
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 700;
			display: block;
			padding: 0 60px;
		}
	}
	li.active{
		border-bottom: 5px solid $blue-color;
		
		a{
			color: $blue-color;
		}
	}
}
.tab-icon{
	display: none;
	position: relative;
	top: -5%;
}
.view-more-mobile:hover{
	color: $darkgray-background;
	text-decoration: none;
}
.view{
	overflow-y: auto;
	
	.page-mobile{
		.content{
			margin-top: -52px;
		}
	}
}
.courses-page{
	.view{
		.page-mobile{
			.content{
				margin-top: 0px;
			}
		}
	}
}
.overlay-details{
	.label-type{
		a{
			color: #fff;
		}
	}
}

/* My channel page */
.myChannels-wrapper{
	background: $gray-background;
	margin-top: 135px;
	overflow-x: hidden;
	
	.my-channel-contributions{
		.items-wrapper{
			margin-left: 15px;
			
			.col-tile {
				margin: 0 10px 20px 0;
				max-height: 237px;
				float: left;
			}
		}
	}
}
.my-channel-information-wrapper {
    margin-left: 15px;

	.profile-info .name {
		font-size: 20px;
		margin-left: 10px;
	}
	.profile-info {
		.avatar{
			height: auto;
			min-height: 30px;
			max-height: 45px;
		}
		.description {
			color: #999;
			font-size: 16px;
			//margin-left: 8%;
		}
	}
	.profile-info{
		margin-bottom: 15px;
	}
}
.views {
	.page_effect.home-layout1{
		height: auto;
		min-height: 100%;
		background: $gray-background;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}
}

/* Initially hide lazyload */
lazyload{
	display: none;
}
.viewall-page.channels-wrapper{
	margin-top: 52px;
}

#top-bar{
	height: 52px;
	position: fixed;
	width: 100% !important;
	z-index: 9999;
	top: 0px;
	left: 0px;
}
.docebo-navbar-wrapper{
	height: 52px;
	width: 100% !important;
	float: left;
	overflow: hidden;
}

.navbar{
	z-index: 9999;
	height: 52px !important;
	margin-bottom: 0px;
	position: relative !important;
}

.dashboard-wrapper{
	margin-top: 25px;
}

body.with-tabs .page-content .content{
	height: 100%;
	min-height: 520px;
	float: left;
	display: block;
	margin-top: 102px;
	width: 100%;
}

html.with-statusbar-overlay body{
	padding-top: 0px !important;
}

html.with-statusbar-overlay body #top-bar{
	top: 20px !important;
}

html.with-statusbar-overlay body.with-tabs .page-content .content{
	margin-top: 122px;
}


body:after{
	background: #f5f5f5;
}

.myChannels-wrapper{
	margin-top: 35px;
}

.dashboard-wrapper{
	margin-top: 0px;
}
