#create_badge .additional-fields span
{
	background-image:url(../images/gamification_sprite.png);
	display:block;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:-10px -6px;
	width:27px;
	height:28px;
}

#create_badge:hover .additional-fields span
{
	background-position:-45px -6px;
	width:28px;
	height:28px;
}

/**
 * Gamification sprite
 */
.gamification-sprite
{
	background-image:url(../images/gamification_sprite.png);
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
}

i.admin-ico.gamification {background: url(../images/gamification_sprite.png) no-repeat -57px -89px; width: 26px; margin:0px 0px 0px 4px;}
a:hover i.admin-ico.gamification {background-position: -88px -89px;}

.gamification-sprite.star-square-big-black
{
	background-position:-10px -6px;
	width:27px;
	height:28px;
}

.gamification-sprite.star-square-big-white
{
	background-position:-45px -6px;
	width:28px;
	height:28px;
}

.gamification-sprite.star-white
{
	background-position:-81px -10px;
	width:22px;
	height:21px;
}

.gamification-sprite.star-black
{
	background-position:-110px -10px;
	width:22px;
	height:21px;
}

.gamification-sprite.assign-black
{
	background-position:-3px -46px;
	width:41px;
	height:31px;
}

.gamification-sprite.assign-white
{
	background-position:-49px -46px;
	width:42px;
	height:32px;
}

.gamification-sprite.flag
{
	background-position:-101px -46px;
	width:30px;
	height:29px;
}

.gamification-sprite.star-big
{
	background-position:-4px -88px;
	width:22px;
	height:21px;
}

.gamification-sprite.star-small
{
	background-position:-32px -91px;
	width:18px;
	height:16px;
}

.gamification-sprite.star-square-small-black
{
	background-position:-57px -89px;
	width:21px;
	height:21px;
}

.gamification-sprite.star-square-small-white
{
	background-position:-88px -89px;
	width:21px;
	height:21px;
}

.gamification-sprite.podium-small-black
{
	background-position: -112px -119px;
    width: 28px;
    height: 18px;
}

.gamification-sprite.podium-small-white
{
	background-position: -112px -153px;
    width: 28px;
    height: 18px;
}

.gamification-sprite.check
{
	background-position:-118px -90px;
	width:20px;
	height:20px;
}

.gamification-sprite.cup-gold
{
	background-position:-6px -123px;
	width:13px;
	height:14px;
}

.gamification-sprite.cup-silver
{
	background-position:-26px -123px;
	width:13px;
	height:14px;
}

.gamification-sprite.cup-bronze
{
	background-position:-46px -123px;
	width:13px;
	height:14px;
}

.gamification-sprite.arrow-up
{
	background-position:-64px -124px;
	width:10px;
	height:12px;
}

.gamification-sprite.arrow-down
{
	background-position:-78px -125px;
	width:11px;
	height:12px;
}

.gamification-sprite.equal
{
	background-position:-97px -127px;
	width:11px;
	height:6px;
}

.advanced-main-badge,
.advanced-main-contest,
.advanced-main-reward
{
	margin-left:0px !important;
}

.advanced-main-badge-white, .advanced-main-badge-white .row,
.advanced-main-reward-white, .advanced-main-reward-white .row
{
	background-color:#ffffff !important;
}

.points
{
	margin-top:20px;
}

.automatic-association
{
	display:none;
	margin-top:25px;
}

.values .automatic-association label:first-child {
    margin: 0px 0px 10px 0px;
}

#learning-object-selector > div {
    margin-bottom: 15px;
}

#learning-object-selector select {
    width: 98.5%;
}

#learning-object-selector input {
    width: 96.5%;
}

#association_mode label {
    font-size: 1.1em;
}

#association_mode div.sublabel {
    font-size: 0.9em;
    color: #888;
}

.display-block
{
	display:block !important;
}

.current_image
{
	margin-top:15px;
	margin-bottom:15px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:20px;
}

.current_image img
{
	border:1px solid #e5e5e5;
	padding:3px;
}

.preview_badge img:first-child, #preview_icon, #current_badge_icon {
    width: 50px;
    height: 50px;
}

.preview_badge
{
    display: block;
    width: 50px;
    height: 79px;
	margin-top:15px;
    position:relative;
}

.preview_badge.wide {
    width: 100%;
    height: inherit;
    min-height: 80px;
}

.popover-content .preview_badge {
    margin-top:10px;
    padding-bottom:10px;
    height:75px;
    width:300px;
}

.popover-content .preview_badge .badge_description {
    line-height:16px;
}

.preview_badge .flag
{
    position:absolute;
    top:50px;
    left:10px;
}

.preview_badge .flag_text
{
	position:absolute;
	top:50px;
	left:10px;
	width:29px;
	display:inline-block;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
}

.preview_badge .badge_title
{
	position:absolute;
	top:0px;
	left:60px;
	display:inline-block;
    white-space: nowrap;
	font-weight:bold;
	font-size:18px;
}

.preview_badge .badge_description
{
	position:absolute;
	top:25px;
	left:60px;
}

.preview_badge .badge_counter {
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    background: red;
    border: 2px solid white;
    border-radius: 18px;
    display: block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    box-shadow: 1px 1px 2px #000;
}
.preview_badge .badge_counter.x-small {
    font-size: 10px;
}

.btn-badge-image
{
	display:inline-block;
	vertical-align:top !important;
	margin-top:12px;
	margin-left:20px;
}

#badge-image-form .thumbnails-carousel .carousel-inner .item .sub-item
{
	width: 48px !important;
	height: 48px !important;
}

#badge-image-form .thumbnails-carousel .carousel-inner .item .sub-item:hover, 
#badge-image-form .thumbnails-carousel .carousel-inner .item .sub-item.checked {
    width: 40px !important;
    height: 40px !important;
}

.selectIconContent {
    padding: 5px 0px;
}

.fileUploadContent table tr td {
    vertical-align: middle;
}

.upload-form .fileUploadContent label {
    margin-top: 0px;
}

.event_dropdown, .goal_dropdown
{
	display:inline-block;
	vertical-align:top;
    width: 58%;
    margin-right: 10px;
}

.main-actions.main-actions-event, .main-actions.main-actions-goal
{
	display:inline-block;
    width: 40%;
    margin-bottom: 0px;
}

.main-actions-event.main-actions .info, .main-actions-goal.main-actions .info {
    width: 100%;
}
.main-action-rewards .main-rewards-actions-icon{
	font-size: 38px;display: block;
}
.main-action-rewards .main-rewards-actions{
	/*max-width: 50px; */margin-left: auto; margin-right: auto; line-height: 120%; margin-top:5px; margin-bottom:5px;
}
.main-action-rewards ul li {
	width: 160px;
}
#rewards-grid .reward-management-table-header{
	font-size: 13px;
	font-weight: 600;
}
.reward-action-edit, .reward-action-delete{
	margin-left: 10px;
	margin-right: 10px;
}
#rewards-requests-grid .tooltip-inner{
	white-space: nowrap;
}
#rewards-requests-grid .tooltip-inner.inactive-reset{
	white-space: normal !important;
	text-align:center !important;
	max-width:200px !important;
}
#reward-request-send-email-from input#email-recipient-input{
	width:97%;
}

.radio-course-selection
{
	margin-left:10px;
}
.radio-learning-plan-selection {
    margin-left:10px;
}
.label-course-selection
{
	margin-left:0px !important;
	display:inline-block;
	float:left;
	margin-right:15px;
}
.label-learning-plan-selection {
    margin-left:0px !important;
    display:inline-block;
    float:left;
    margin-right:15px;
}
.values #event_setting .jq-radio, .values #goal_setting .jq-radio {
    margin-right: 5px;
}

#points
{
	width:80px;
	margin-right:15px;
}

#course_selector,
#learning_plan_selector,
#sets_selector
{
	margin-top:15px;
    position: relative;
}

#course_selector ul.holder
{
	min-height: 27px;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #fff;
}

#course_selector ul.holder li.bit-box a.closebutton,
#sets_selector ul.holder li.bit-box a.closebutton
{
	background-image:url(../images/close.gif);
    top: 8px;
}

#course_selector ul.holder li.bit-input input
{
	height:auto;
}

#course_selector ul.holder li.bit-box
{
	-moz-border-radius:6px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #cccccc;
	background:#e4e6e5;
    padding: 5px 20px 5px 5px;
}

#badges-grid img.popover_selector{
    display:inline-block;
}

#badges-grid th#badges-grid_c1 {
    width:70%;
}

#badges-grid tr td:first-child {
    padding:5px;
    width:40px;
    position:relative;
}

#badges-grid tr td:first-child .popover.bottom {
    left:auto !important;
    right:inherit;
}

#badges-grid tr td:first-child .popover.bottom .arrow {
    right:auto;
    left:5px !important;
}

.assign-badge
{
	text-transform:uppercase;
	font-weight:bold;
	color:#59a857;
	text-decoration:underline;
}

.assign-badge-count
{
	text-decoration:underline;
}

.gamification-info
{
	right:25px !important;
	top:43% !important;
}

.gamification-info a
{
	background-position:-116px -110px !important;
	width:20px !important;
	height:19px !important;
}

/* Gamification App user menu */
.gamification-app-user-menu {}
.gamification-app-user-menu > h4 {
    font-size: 1.3em;
    border-bottom: 1px inset #E4E6E5;
    padding: 20px 0 10px;
}
.gamification-app-user-menu .badge-list {
}
.gamification-app-user-menu .badge-list > div {
    display: inline-block;
    margin: 10px 3px;
}
.gamification-app-user-menu .badge-total {
    border-top: 1px outset #E4E6E5;
    line-height: 32px;
    margin-top: 10px;
}
.gamification-app-user-menu .badge-total > div {
    float: right;
    font-weight: bold;
}
.gamification-app-user-menu .badge-total > div span {
    margin-left: 2px;
}
.gamification-app-user-menu .badge-rank {
    border-top: 1px outset #E4E6E5;
    line-height: 32px;
}
.gamification-app-user-menu .badge-rank > div {
    float: right;
    font-weight: bold;
    margin-left: 12px;
}
.gamification-app-user-menu .badge-rank > div span {
    margin-left: 2px;
}
.gamification-app-user-menu .badge-link {
    text-align: center;
    background: #E4E5E6;
    padding: 5px 0;
}
.gamification-app-user-menu .badge-link a {}
.gamification-app-user-menu .badge-link a:hover {
    background: none;
    color: #333;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: underline;
}

.gamification-app-user-menu .contest-info .contest-name{
    margin-top:10px;
}
.gamification-app-user-menu .contest-info .contest-description{
    margin-bottom:10px;
	text-overflow: ellipsis;
	max-height: 60px;
	overflow: hidden;
}
.gamification-app-user-menu h4{
	padding-left:0 !important;
}

	/* My Badges tabs */
.gamification-mybadges-tabs {position: relative;}
.gamification-mybadges-tabs ul.nav {position: absolute;top: 0;bottom: 0;}
.gamification-mybadges-tabs ul.nav li > a > i {margin-right: 10px;}
.gamification-mybadges-tabs ul.nav li > a > i.when-active {display: none;}
.gamification-mybadges-tabs ul.nav li.active > a > i {display: none;}
.gamification-mybadges-tabs ul.nav li.active i.when-active {display: inline-block;}
.gamification-mybadges-tabs .tab-content {margin-left: 220px; min-height: 200px;}
.gamification-mybadges-tabs .tab-pane > h4 {
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}
.gamification-mybadges-tabs .badge-list {}
.gamification-mybadges-tabs .badge-list > div {
    display: inline-block;
    margin: 0px 20px 20px 0;
    cursor: pointer;
}
.gamification-mybadges-tabs .badge-spotlight {
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    margin-bottom: 20px;
}
.gamification-mybadges-tabs .badge-spotlight > .well {
    position: relative;
    padding: 20px;
    min-height: 50px;
    margin: 0;
    border-bottom: 1px solid #fefefe;
    border-top: 1px solid #fefefe;
}
.gamification-mybadges-tabs .badge-spotlight .preview_badge {
    position: absolute;
}
.gamification-mybadges-tabs .badge-spotlight .preview_badge .flag,
.gamification-mybadges-tabs .badge-spotlight .preview_badge .flag_text {
    display: none;
}
.gamification-mybadges-tabs .badge-spotlight .inner {
    margin-left: 70px;
}
.gamification-mybadges-tabs .badge-spotlight-title {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 4px;
}
.gamification-mybadges-tabs .badge-spotlight-title > span {
    font-size: 21px;
    line-height: 19px;
    vertical-align: bottom;
}
.gamification-mybadges-tabs .badge-spotlight-description {}
/* === make sure that list styles are not being overwritten by other CSSs when rendering badges description, try to stick to original list styles === */
.gamification-mybadges-tabs .badge-spotlight-description li ul,
.gamification-mybadges-tabs .badge-spotlight-description li ol { margin:0 1.5em; }
.gamification-mybadges-tabs .badge-spotlight-description ul,
.gamification-mybadges-tabs .badge-spotlight-description ol { margin:0 1.5em 1.5em 1.5em; }
.gamification-mybadges-tabs .badge-spotlight-description ul { list-style-type:disc; }
.gamification-mybadges-tabs .badge-spotlight-description ol { list-style-type:decimal; }
.gamification-mybadges-tabs .badge-spotlight-description ol ol { list-style: upper-alpha; }
.gamification-mybadges-tabs .badge-spotlight-description ol ol ol { list-style: lower-roman; }
.gamification-mybadges-tabs .badge-spotlight-description ol ol ol ol { list-style: lower-alpha; }
/* === */

.gamification-points-chart {}
.gamification-points-chart > li {
    height: 3.4em;
    margin: 20px 0;
    position: relative;
}
.gamification-points-chart > li > div {display:inline-block;}
.gamification-points-chart .chart-counter {
    font-size: 26px;
    font-weight: bold;
    width: 30px;
    text-align: right;
    float: left;
    line-height: 64px;
}
.gamification-points-chart .chart-avatar {
    text-align: center;
    margin: 0 10px;
    float: left;
    width: 64px;
}
.gamification-points-chart .chart-avatar img {
    max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 1px;
}
.gamification-points-chart .chart-user {
    position: absolute;
    right: 0; left: 110px; top: 10px;
}
.gamification-points-chart .chart-user-points {
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}
.gamification-points-chart .chart-user-points > span{
    position: relative;
    top: -2px;
}
.gamification-points-chart .chart-user-name {
    font-size: 14px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 4px;
    margin-bottom: 4px;
    height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gamification-points-chart .chart-user-name > span {
    margin-left: 5px;
}
.gamification-points-chart .chart-user-progress {
    height: 14px;
    background: #0465AC;
}

.gamification-mybadges-tabs .view-more-link {
    text-align: center;
}
.gamification-mybadges-tabs .view-more-link a:hover {
    background: none;
    color: #333;
    text-shadow: 0 1px 0 #ffffff;
    text-decoration: underline;
}

/* Notification popup message */
.gamification-notification.modal {
    width: 400px;
    margin-left: -200px;
}
.gamification-notification.modal .modal-header {
    position: relative;
    padding: 0;
    border: 0;
}
.gamification-notification.modal .modal-header .close {
    position: absolute;
    z-index: 10;
    top: 4px; right: 6px;
    color: #333;
}
.gamification-notification.modal .earned-badge {
    position: absolute;
    top: 15px;
    left: 15px;
}

.gamification-notification.modal .earned-badge > img {
    width: 50px;
    height: 50px;
}

.gamification-notification.modal .earned-badge-points {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
.gamification-notification.modal .earned-badge-message {
    margin: 0 20px 0 65px;
}
.gamification-notification.modal .earned-badge-message > h2 {
    padding-bottom: 8px;
}
.gamification-notification.modal .earned-badge-message > p {
    line-height: 14px;
}

#event_setting, #goal_setting {
    min-height: 70px;
}

#event_setting.event-loading, #goal_setting.event-loading {
    background: transparent url(/themes/spt/images/loading.gif) no-repeat center center;
}

#course_selector .facebook-auto ul li  {
    padding: 8px 12px;
}

#title_current {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.btn-badge-image.new-user-summary .modal-header h3 span {
    background-position: -43px -6px;
    width: 32px;
    height: 32px;
    background-image: url(../images/gamification_sprite.png);
}

.modal.in #badge-image-form .thumbnails-carousel {
    margin-bottom: 0px;
}

.single-assign-info
{
	float:left;
	padding-top:11px;
}

/* ------- Settings --------*/
.gamification-settings{
	min-height: 100px;
	margin-left: 0!important;
}
.gamification-settings .right{
	text-align: right;
}

#mybadges-tab-mybadges{
	min-height: 200px;
}

#mybadges-tab-mybadges .all-badges-block hr{
	margin-top: 5px;
	margin-bottom: 0px;
}

#mybadges-tab-mybadges .not-awarded-message{
	margin-left: 30%;
}

#mybadges-tab-mybadges .not-awarded-message .green-big-message{
	font-family: 'Handlee', cursive;
	color: #60B768;
	font-weight: normal;
	font-size: 42px;
	line-height: 40px;
	padding: 0;
	word-wrap: break-word;
	margin-left: 15%;
}

#mybadges-tab-mybadges .not-awarded-message .gray-message{
	 font-family: 'Handlee', cursive;
	 color: #999999;
	 font-weight: normal;
	 font-size: 25px;
	 line-height: 40px;
	 padding: 0;
	 word-wrap: break-word;
}

#mybadges-tab-mybadges .not-yet-awarded{
	background-color: #333333;
	text-align: center;
	padding: 4px;
	font-size: 13px;
	font-weight: bolder;
	color: white;
	text-transform: uppercase;
}

.grid-view#leaderboards-grid a.leaderboard-filter{
	text-decoration: underline;
}

#mybadges-tab-chart .leadeboard-selection{
	padding: 15px;
	background-color: #f1f3f2;
	width: 97%;
}

#mybadges-tab-chart .leadeboard-selection select{
	width: 100%;
}
#mybadges-tab-chart .leadeboard-selection p{
	color: #595963;
	padding-top: 5px;
}

.date-field label {
    margin-left:0 !important;
}

#add-rank-link-container {
    margin-top: 25px;
}

select.reward-dropdown {
    width: 100%;
}

.contest-status{
	padding: 1px 5px 1px 5px;
	color: white;
	font-weight: bolder;
	text-transform: uppercase;
}

.contest-status.finished {
	background-color: black;
}

.contest-status.scheduled {
	background-color: #0465ac;
}
.contest-status.in-progress {
	background-color: #f1c40f;
}

.gamification-contest-description{
	padding: 5px;
}

.gamification-contest-description .description{
	text-align: left;
	word-wrap: break-word;
	margin-top: 10px;
}

.gamification-contest-description .goal,
.gamification-contest-description .period{
	text-align: center;
	color: #0465ac;
	font-weight: bolder;
	font-size: medium;
}

.gamification-contest-description .goal p,
.gamification-contest-description .period p{
	margin-top: 5px;
	color: initial;
	font-weight: initial;
	font-size: 13px;
}

.contest-chart-widget .name{
	padding: 5px;
	font-weight: bolder;
	font-size: large;
}

.contest-chart-widget .chart{

}

.contest-chart-widget .chart table{
	width: 100%;
}

.contest-chart-widget .chart table th{
	color: #656565;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #333333 !important;
}

.contest-chart-widget .chart table td{
	text-align: center;
	height: 60px;
}

.contest-chart-widget .chart table td.position{
	font-weight: bolder;
	font-size: large;
	width: 9%;
}

.contest-chart-widget .chart table td.user{
	text-align: left;
	width: 40%;
}

.contest-chart-widget .chart table td.result{
}
.contest-chart-widget .chart table.dialog td.result{
	width: 20%;
}

.contest-chart-widget .chart table td.points{
}
.contest-chart-widget .chart table.dialog td.points{
	width: 25%;
}

.contest-chart-widget .chart table td.user img{
	max-width: 42px;
	max-height: 42px;
	min-width: 42px;
	min-height: 42px;
	vertical-align: middle;
	padding: 1px;
	margin-right: 10px;
}

.contest-chart-widget .chart table td.icon{
	text-align: center;
}
.contest-chart-widget .chart table.dialog td.icon{
	text-align: left;
}

.contest-chart-widget .chart table td.icon img{
	max-width: 42px;
	max-height: 42px;
	min-width: 42px;
	min-height: 42px;
	vertical-align: middle;
	padding: 1px;
	margin-right: 10px;
}

.contest-chart-widget .chart table tr{
	border-bottom: 1px solid #e4e6e5;
}

.contest-chart-widget .chart table.chart-user{
	margin-bottom: 20px;
}

.contest-chart-widget .chart table.chart-user td.position{
}

/*.contest-chart-widget .chart table.chart-user td.user{*/
	/*width: 17%;*/
/*}*/
.contest-chart-widget .chart table.chart-user.dialog{
	font-size: 14px;
}
.contest-chart-widget .chart table.chart-user.dialog td.user{
	width: 36%;
}

.contest-chart-widget .chart table.chart-user.dialog td.position{
	width: 12%;
}

.contest-chart-widget .chart table.chart-user.dialog td.position.not-finished{
	width: 6%;
}

.contest-chart-widget .buttons{
	margin-top: 10px;
}

.rank-rewards table{
	width: 100%;
	text-align: left;
}

.rank-rewards table tr{
	border-bottom: 1px solid #e4e6e5;
}

.rank-rewards table tr td.icon{
	width: 70%;
}

.rank-rewards table tr td.actions{
	width: 5%;
}

.rank-rewards table tr td.icon img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.rank-rewards table tr td{
	padding: 5px;
	background-color: #f1f3f2;
}
.modal.contest-full-chart{
    width:800px;
    margin-left: -430px;
	position: absolute;
}
.modal.contest-full-chart #showFullChartModal{
    max-height:300px;
}
#contests-grid .contest-filter{
    text-decoration: underline !important;
}
.bootstro-newcontest-arrow {
    background-repeat:      no-repeat;
    width:                  81px;
    display:                block;
    position:               absolute;
    top:                    62%;
    left:                   12%;
}

#popup_bootstroNewContest .bootstro-newcontest-arrow {
    top:-80px;
    background-position: 5px 388px;
    height: 88px;
}

div.main-actions div.bootstro.popover#popup_bootstroNewContest {
    left: -45px !important;
    top: 175px !important;
}
div.main-actions div.bootstro.popover#popup_bootstroNewContest .text-large {
    margin-left: -50px !important;
}
#contests-result-grid table.items tbody td:not(.rank){
	font-size: 14px !important;
}
#contests-result-grid table tbody td{
	text-align: left;
	height: 30px;
}

#contests-result-grid table tbody td.rank{
	text-align: center;
	font-weight: bolder;
	font-size: large;
	width: 12%;
}

#contests-result-grid table tbody td.rank.not-finished{
	width: 7%;
}

#contests-result-grid table tbody td.name{
	width: 37%;
	text-align: left;
	font-weight: inherit;
	font-size: inherit;
}

#contests-result-grid table tbody td.result{
	text-align: center;
	width: 20%;
}
#contests-result-grid table tbody td.points{
	width: 25%;
	text-align: center;
}

#contests-result-grid table tbody td.badge-icon{
	padding: 10px 0px 10px 0px;
}

#contests-result-grid table tbody td img{
	max-width: 42px;
	max-height: 42px;
	min-width: 42px;
	min-height: 42px;
	vertical-align: middle;
	padding: 1px;
	margin-right: 10px;
}

#create_contest .additional-fields span
{
	background-image:url(../images/gamification_sprite.png);
	display:block;
	vertical-align:middle;
	background-repeat:no-repeat;
	background-position:-6px -140px;
	width:48px;
	height:28px;
}

#create_contest:hover .additional-fields span
{
	background-position:-58px -140px;
	width:48px;
	height:28px;
}

.dropdown-badges{
	background-color: #f9f9f9;
	position: absolute;
	overflow-y: auto;
	max-height: 200px;
}

.dropdown-badges li{
	height: 40px;
	border-bottom: 1px solid #f1f3f2;
}

.dropdown-badges li:hover{
	cursor: pointer;
	background-color: #EAEAEA;
}

.dropdown-badges li img{
	margin: 5px 15px 5px 10px;;
}
#learning_plan_selector ul.holder li.bit-box a.closebutton {
    background-image:url(../images/close.gif);
    top: 8px;
}
/* Apply it on all li, because there is problem on all Types /Courses, LPs, etc../ */
ul.holder li.bit-box {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     max-width: 350px;
}


/*DASHLET SETTINGS STYLES*/
div#showing-order-hint, div.gamification-dashlet-tabs-settings .max-hints{
	color: #888;
	font-size: 11px;
}
table#gamification-dashlet-tabs-order{
	margin-top: 10px;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
	width:100%;
}
table#gamification-dashlet-tabs-order tr .move{
	display:none;
}
table#gamification-dashlet-tabs-order td{
	padding: 5px 10px;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
}
table#gamification-dashlet-tabs-order td.checkbox-table-data{
	padding: 7px 0px;
	padding-left: 10px;
	width: 30px;
}
table#gamification-dashlet-tabs-order td.actions-table-data .move{
	float: right;
}
div.gamification-dashlet-tabs-settings{
	margin-top: 20px;
}

div.gamification-dashlet-tabs-settings div.tabs-settings-container{
	border-top: 1px solid rgb(230, 230, 230);
	margin-top:5px;
	padding-bottom: 15px;
}

div#gamification-dashlet-contests-settings.gamification-dashlet-tabs-settings div.tabs-settings-container{
	border-bottom: 1px solid rgb(230, 230, 230);
}
div.gamification-dashlet-tabs-settings div.max-items-settings{
	margin-top: 10px;
}
div.gamification-dashlet-tabs-settings input.max-items-inputs{
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

div.gamification-dashlet-tabs-settings label.tabs-settings-label{
	display: inline-block;
}
div.gamification-dashlet-tabs-settings div.tabs-settings-option-container{
	margin-top: 10px;
}
div.gamification-dashlet-tabs-settings div.tabs-settings-option-container.first-setting{
	margin-top:30px;
}
/*==================================================================*/


/*DASHLET REWARDS SHOP SETTINGS STYLES*/
div#showing-order-hint, div.gamification-rewards-shop-dashlet-settings .max-hints{
	color: #888;
	font-size: 11px;
}

div.gamification-rewards-shop-dashlet-settings{
	margin-top: 20px;
}

div.gamification-rewards-shop-dashlet-settings div.tabs-settings-container{
	border-top: 1px solid rgb(230, 230, 230);
	margin-top:5px;
	padding-bottom: 15px;
}

div.gamification-rewards-shop-dashlet-settings div.max-items-settings{
	margin-top: 10px;
}
div.gamification-rewards-shop-dashlet-settings input.max-items-inputs{
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

div.gamification-rewards-shop-dashlet-settings label.tabs-settings-label{
	display: inline-block;
	margin-left: 10px;
}
div.gamification-rewards-shop-dashlet-settings div.tabs-settings-option-container{
	margin-top: 10px;
}
div.gamification-rewards-shop-dashlet-settings div.tabs-settings-option-container.first-setting{
	margin-top:30px;
}

/*==================================================================*/

/* == Dashlet's Styles == */

.full-width {
    width: 100%;
}

ul.tabbed-content-nav > li {
    list-style: none !important;
}

ul.tabbed-content-nav {
    margin-left: 0px !important;
}

a.gamification-viewAll {
    float: right;
    text-decoration: underline;
}

/*Badges*/
/* Badges Order */

div#badgesTabbedContent table tr td {
    position: relative;
    width: 100%;
}

div#badgesTabbedContent table tr {
    border-top: none !important;
}

div[data-cell-text-width="full"] div#badgesTabbedContent tr.badgesStats > td > div {
    width: 30%;
    display: inline-block;
    margin: 15px 14px 10px 0;
}
div[data-cell-text-width="twothird"] div#badgesTabbedContent tr.badgesStats > td > div {
    width: 46%;
    display: inline-block;
    margin: 15px 14px 10px 0;
}
div[data-cell-text-width="half"] div#badgesTabbedContent tr.badgesStats > td > div {
    width: 45%;
    display: inline-block;
    margin: 15px 14px 10px 0;
}
div[data-cell-text-width="onethird"] div#badgesTabbedContent tr.badgesStats > td > div {
    width: 100%;
    display: inline-block;
    margin: 15px 0 10px 0;
}

@media (max-width: 1200px) and (min-width: 979px) {
    div[data-cell-text-width="full"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 30% !important;
    }
    div[data-cell-text-width="twothird"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 46% !important;
    }
    div[data-cell-text-width="half"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 45% !important;
    }
    div[data-cell-text-width="onethird"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 100% !important;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    div[data-cell-text-width="full"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 44% !important;
    }
    div[data-cell-text-width="twothird"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 44% !important;
    }
    div[data-cell-text-width="half"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 100% !important;
        margin: 15px 0 10px 0 !important;
    }
    div[data-cell-text-width="onethird"] div#badgesTabbedContent tr.badgesStats td > div {
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    div#badgesTabbedContent tr.badgesStats td > div {
        width: 100% !important;
        margin: 15px 0 10px 0 !important;
    }
}

/* Tabbed Content Styles */
.tabbed-content.tabbed-bages .tabbed-content-tab-content{
	margin-top: 20px; /* @DOCEBO-1148 */
}
.tabbed-content.tabbed-bages .tabbed-content-tab-content .all-badges-block{
	margin-top: 10px;
}
.tabbed-content-tab-pane div#badgesTabbedContent table tr, ul.tabbed-content-nav {
    border-bottom: 1px solid #E4E6E5 !important;
}
.tabbed-content-tab-pane div#badgesTabbedContent table tr.myBadges td > div > div {
    vertical-align: middle;
    text-align: center;
    float: left;
    margin:10px 14px 20px 0;
}

.gamification-fake-badge {
    display: inline-block;
    float: left;
    background-color: rgb(51,51,51);
    width: 50px;
    height: 50px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -6px;
}

.fa-2p5x {
    font-size: 2.45em !important;
    margin: 10.4px 10.6px !important;
}

/*Contests*/
div#contestsTabbedContent {
    display: inline-block;
    position: relative;
    width: 98%;
    height: 100%;
    padding: 0 1%;
}
div#badgesTabbedContent {
    min-width: 320px;
}
div#contestsTabbedContent table th {
    text-transform: uppercase;
    white-space: nowrap
}
div[data-cell-text-width="onethird"] div#contestsTabbedContent div.last-contest-period-status span:first-of-type, div[data-cell-text-width="onethird"] div#contestsTabbedContent div.last-contest-goal span:first-of-type {
    font-size: smaller;
}
div[data-cell-text-width="onethird"] div#contestsTabbedContent {
    min-width: 318px !important;
}

.bold-text {
    font-weight: bold;
}

div#contestsTabbedContent table[class*="last-contest-"].last-contest-main {
    border: 1px solid #E4E6E5;
    width: 100%;
}
.margin-bottom-15px {
    margin-bottom: 15px;
}

div#contestsTabbedContent table[class*="last-contest-"].last-contest-main > tbody > tr:last-child {
    border-top: 1px solid #E4E6E5;  
}

div#contestsTabbedContent table[class*="last-contest-"].last-contest-main > tbody > tr > td, div#contestsTabbedContent table[class*="last-contest-"].last-contest-main > tbody > tr > th {
    padding:10px;
}
div#contestsTabbedContent i.fa-15x {
    color: #0465AC;
    font-size: 18px;
    margin-right: 3px;
    vertical-align: middle;
}

div#contestsTabbedContent div.contest-status-outerring {
    display: inline-block;
    margin-left: 0;
}

div#contestsTabbedContent div.last-contest-pos table {
    width: 100%;
}
div#contestsTabbedContent td.pos-photo-name * {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
div#contestsTabbedContent td.pos-photo-name a img {
    height: 50px;
    border: 1px solid #F4F6F5;
    margin: auto 10px;
}

[class*="modal.contest-full-chart-contest-"] {
    position: absolute;
}

div.upcoming-contests > table {
    position: relative;
    width: 100%;
}
div.upcoming-contests table tbody tr {
    border-bottom: 1px solid #E4E6E5;
}
div.upcoming-contests table tbody tr td,  div.upcoming-contests table tbody tr th {
    padding: 5px 0;
}

td.contest-period {
    display: inline-block;
    text-align: center;
    width: 12em;
    float: right;
}

div.upcoming-contests > table > tbody > tr:first-of-type > th:last-of-type {
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 8em;
}

/*leaderboards*/
div.chart-user-progress {
    height: 7px !important;
}
div.tabbed-content-tab-pane > div[id^="leaderboard-"] .gamification-points-chart .chart-user-name > span.gamification-sprite {
    margin-left: 0 !important;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] {
    min-width: 325px;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] {
    background: #f1f3f2;
    padding: 15px 0;
}

div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] {
    background: #f1f3f2;
    padding: 0.4em 0;
}

div[data-cell-text-width="onethird"] div[class="row-fluid leadeboard-selection"] {
    padding: 0;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 {
    display: inline-block;
    float: left;
    width: 123px;
    margin-left: 20px;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    display: inline-block;
    float: right;
    margin-right: 20px;
}
div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    float: none;
    margin-right: 0;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 > p {
    margin: 10px 0;
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 > select {
    margin: 4px 0;
}

div#contestsTabbedContent td.my-pos {
    width: 5% !important;
}
div#contestsTabbedContent td.my-avatar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 12% !important;
}

div#contestsTabbedContent td.my-name {
    padding-left: 5px !important;
    padding-right: 0 !important;
}

div[data-cell-text-width="full"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    width: 82%;
}
div[data-cell-text-width="twothird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    width: 74%;
}
div[data-cell-text-width="half"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    width: 64%;
}
div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
    width: 23.7em;
}
div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 strong {
    font-weight: 600;
}
div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 {
    width: 22em;
    margin: 0 0 0 0.7em;
    min-height: 1em;
}
div[data-cell-text-width="onethird"] div#contestsTabbedContent td.my-avatar a img {
    height: auto;
}
div[data-cell-text-width="onethird"] div#contestsTabbedContent td img {
    width: 35px;
}

@media (max-width: 1200px) and (min-width: 979px) {
    div[data-cell-text-width="full"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 78%;
    }
    div[data-cell-text-width="twothird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 68%;
    }
    div[data-cell-text-width="half"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 57%;
    }
    div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 25em;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    div[data-cell-text-width="full"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 70%;
    }
    div[data-cell-text-width="twothird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 57%;
    }
    div[data-cell-text-width="half"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 25em;
    }
    div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 25em;
    }
    div[data-cell-text-width="half"] > ul.dashlets-sortable > li[id^="dashlet-"] div#contestsTabbedContent td.user-avatar a img {
        height: auto;
    }
    div[data-cell-text-width="half"] > ul.dashlets-sortable > li[id^="dashlet-"] div#contestsTabbedContent td img {
        width: 35px;
    }
}

@media (max-width: 767px) {
    div[data-cell-text-width] > ul.dashlets-sortable > li[id^="dashlet-"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 25em;
    }
    div[data-cell-text-width] > ul.dashlets-sortable > li[id^="dashlet-"] div#contestsTabbedContent td.pos-photo-name a img {
        height: auto;
    }
    div[data-cell-text-width] > ul.dashlets-sortable > li[id^="dashlet-"] div#contestsTabbedContent td img {
        width: 35px;
    }
    div[data-cell-text-width] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 {
        width: 23.7em !important;
        float: none !important;
        margin-right: 0 !important;
        font-weight: normal !important;
    }
    div[data-cell-text-width] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 {
        width: 22em !important;
        margin: 0 0 0 0.7em !important;
    }
}

div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span10 > select {
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #f9f9f9;
    border-radius: 0;
    width: 100%;
}

[id^="tab-gamification-dashlet-leaderboard-"] .leaderboard-selection-parent {
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
}

[id^="tab-gamification-dashlet-leaderboard-"] .leaderboard-selection-parent > .leadeboard-selection {
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #fefefe;
}

  /* EVENT - Learner Completed Training Material */
span#min_score-styler {
    display: inline-block;
    margin-top: 9px;
}
span#under_score-styler {
    display: inline-block;
    margin-top: 9px;
}
label[for="min_score"] {
    margin-left: 0px!important;
}
label[for="under_score"] {
    margin-left: 0px!important;
}
input[name="params[min_score]"] {
    margin-left: 9px;
}
input[name="params[under_score]"] {
    margin-left: 9px;
}

.contest-results ul.ui-autocomplete{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.contest-results ul.ui-autocomplete li .ui-state-focus{
	background: none;
	background-color: #666666 !important;
	color: #F1F3F2;
}

.advanced-main.advanced-main-badge .rank-rewards span.move,
.advanced-main.advanced-main-badge .rank-rewards span.remove-reward{
	cursor: pointer;
}

/*.mydashboard .dl-content ul, .mydashboard .dl-content ol {*/
    /*margin: 0 !important;*/
/*}*/


.gamification-app-user-menu #gamification-app-new-user-menu-container {
	margin-top: 5px;
}

.gamification-app-user-menu #new-user-menu-my-badges {
	display: inline-block;
	position: relative;
	top: 2px;
	color: #fff;
}

.gamification-app-user-menu #new-user-menu-my-badges strong {
	margin-left: 20px;
}

.second-menu.el .gamification-app-user-menu #new-user-menu-my-badges strong {
	margin-left: 10px;
}

.gamification-app-user-menu #gamification-app-new-user-menu-container #fa-star-dark-bg-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #333;
	text-align: center;
	vertical-align: middle;
	margin-left: 0;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	-ms-border-radius: 25%;
	-o-border-radius: 25%;
	border-radius: 25%;
}

.gamification-app-user-menu #gamification-app-new-user-menu-container #fa-star-dark-bg-icon .fa-star {
	color:#fff;
	font-size: 12px;
	margin-top: -2px;
	box-shadow: none;
	position: relative;
	top: -1px;
}

.gamification-app-user-menu #new-user-menu-my-points-container {
	margin-left:  0;
}

.gamification-app-user-menu #new-user-menu-my-points,
.gamification-app-user-menu #new-user-menu-my-coins
{
	display: inline-block;
	position: relative;
	top: 2px;
	color: #fff;
}

.gamification-app-user-menu #new-user-menu-my-coins-container i.yellow{
	color: #ffbe00;
	margin-left: 5px;
}

.gamification-app-user-menu #new-user-menu-my-points strong,
.gamification-app-user-menu #new-user-menu-my-coins-container strong{
	margin-left: 5px;
}

.gamification-app-user-menu #new-user-menu-my-points-container .fa-star {
	color:#F7B900;
	font-size: 13px;
	margin-top: -2px;
	box-shadow: none;
	position: relative;
	top: 2px;
}

.gamification-app-user-menu #new-user-menu-view-all-container,
.gamification-app-user-menu #new-user-menu-view-reward-shop-container
{
	margin-left: 0;
	position: relative;
	top: -10px;
}

.gamification-app-user-menu #new-user-menu-view-all,
.gamification-app-user-menu #new-user-menu-view-reward-shop{
	color: #fff;
	background-color: transparent;
	text-decoration: underline;
	text-shadow: none;
	font-size: 11px;
}

[id^="tab-gamification-dashlet-leaderboard-"] .gamification-points-chart .chart-avatar img {
    max-width: 48px !important;
    max-height: 48px !important;
}
[id^="tab-gamification-dashlet-leaderboard-"] .gamification-points-chart .chart-counter {
    line-height: 2em !important;
}
[id^="tab-gamification-dashlet-leaderboard-"] .gamification-points-chart .chart-avatar {
    width: 48px !important;
}
[id^="tab-gamification-dashlet-leaderboard-"] h4:not(.text-center) {
    font-size: 14px !important;
}
[id^="tab-gamification-dashlet-leaderboard-"] h4:nth-of-type(2) {
    padding-top: 1em;
}
.dashlet ul.tabbed-content-nav {
    min-width: 320px !important;
    overflow: hidden;
}
div[data-cell-text-width="onethird"] div.tabbed-content-tab-pane > div[id^="leaderboard-"] div[class="row-fluid leadeboard-selection"] > div.span2 > p {
    margin:0;
}
div[data-cell-text-width] div.tabbed-content.tabbed-bages {
    overflow: auto;
}
div[data-cell-text-width] .tabbed-content .tabbed-content-tab-content {
    overflow: hidden !important;
    min-width: 25em ;
}


/* --------- Rewards Set --------------- */

div#rewards-set-grid table td.filter a{
	text-decoration: underline;
}

div#rewards-set-grid table td.assigned-rewards span{
	display: inline-block;
	height: 14px;
	width: 22px;
	vertical-align: bottom;
	position: relative;
	top: -3px;
}

div#rewards-set-grid table td.name{

}

div#rewards-set-grid table td.description{
	width: 40%
}

div#rewards-set-grid table td.filter{
	width: 20%;
}

div#rewards-set-grid table td.assigned-rewards{
	width: 12%
}

div#rewards-set-grid table td.edit{
	width: 1%;
}

div#rewards-set-grid table td.exclamation{
	width: 3%;
}

div#rewards-set-grid table td.delete{
	width: 3%
}

div#rewards-set-grid td.assigned-rewards span.assign-rewards-count {
	background-image: none;
	width: auto;
	position: relative;
	top: -5px;
	text-decoration: underline;
}

div.advanced-main-reward.advanced-main-reward-white img#image-player-bg-image-id {
    margin-right:30px;
    padding:5px;
    border:1px solid rgba(51,51,51,0.15);
    float:left;
}

.btn-reward-picture {
    margin-top: -15px;
}

a.assign-rewards-to-set i.fa-plus {
	position: relative;
	top: -4px;
}

#associated-sets-management-list .span1 {
	position: relative;
	top: 5px;
}

#associated-sets-management-list .reward-name {
	position: relative;
	top: 7px;
	padding-right: 90px;
	box-sizing: border-box;
	display: block;
	word-break: break-all;
}

#associated-sets-management-list .course-type {
	position: relative;
	top: 7px;
}

#associated-sets-management-list .delete-button {
	top: 16px;
	right: 0;
}

.advanced-main.gamification-settings .row.even {
	border-bottom: 1px solid #e4e6e5;
}

div#rewards-set-grid table td.assigned-rewards i.exclamation {
	color: #ffbe00;
	margin-right: 10px;
}

div#rewards-set-grid table td.assigned-rewards i{
	margin-left: 5px;
}

div#rewards-set-grid table td.assigned-rewards i.yellow{
	color: #ffbe00;
}

div#rewards-set-grid table td.assigned-rewards span.exclamation.none {
	background: none;
}

div#rewards-set-grid table td.assigned-rewards .assign-reward-container{
	margin-right: 50%;
}

div.advanced-main-reward img#image-player-bg-image-id {
    width: 100px;
    height: 75px;
}

#rewards-set-grid .assigned-rewards-header{
	font-size: 13px;
	font-weight: 600;
	width: 15%;
}

div.modal.modal-assign-rewards-to-set h2 {
	margin-bottom: -44px;
}

div.modal.modal-assign-rewards-to-set .modal-footer {
	padding-top: 0!important;
}

div.modal.modal-assign-rewards-to-set {
	width: 900px!important;
	margin-left: -450px;
}


.dashlet-rewards-shop-two-third hr{
	margin: 0px;
}

.w-rewards-shop .user-summary,
.reward-detail-container .user-summary{
	position: relative;
}

.dashlet-rewards-shop-two-third .user-image img,
.w-rewards-shop .user-summary img,
.reward-detail-container .user-summary img{
	width: 50px;
	height: 50px;
	padding: 5px;
}

.dashlet-rewards-shop-two-third .username,
.w-rewards-shop .user-summary .username,
.reward-detail-container .user-summary .username{
	font-size: 18px;
	font-weight: 600;
	color: #333333;
	font-family: sans-serif;
	padding: 7px 0px 5px 0px;
}

.dashlet-rewards-shop-two-third .usercoins i.yellow,
.w-rewards-shop .user-summary .usercoins i.yellow,
.reward-detail-container .user-summary .usercoins i.yellow{
	color: #ffbe00;
	margin-right: 5px;
}

.dashlet-rewards-shop-two-third .rewards-carousel .item{
	padding: 30px 0px;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.dashlet-rewards-shop-two-third .rewards-carousel .reward-price i.yellow{
	color: #ffbe00;
	margin-left: 5px;
}

.dashlet-rewards-shop-two-third .rewards-carousel .reward-price,
.dashlet-rewards-shop-two-third .rewards-carousel .title{
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dashlet-rewards-shop-two-third .rewards-carousel .reward-price{
	margin-top: 10px;
}

@media (max-width: 767px){
	.dashlet-rewards-shop-two-third a.rewards-history-link{
		margin-top: 10px;
		margin-bottom: 0;
		float: none;
	}
}

.w-rewards-shop .user-summary a.rewards-history-link{
	/*background-color: #e4e6e5;*/
	/*text-decoration: none;*/
	/*text-align: center;*/
	/*width: 100%;*/
	/*position: absolute;*/
}

 a.rewards-history-link{
	background-color: #5ebe5e;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 20px;
	 clear: left;
	 position: relative;
	 padding: 3px 10px 3px 10px;
	 width: auto;
	 margin: 3px 0px 10px 0px;
	 text-shadow: 0 1px 0 #ffffff !important;
	 display: inline-block;
	 /*left: -59px;*/
}
.buttonHistoryContainer {
	width: 100%;
	float:left;
}

.user-summary a.rewards-history-link{
	width: 100%;
	padding: 3px 0px 3px 0px;
	margin-bottom:  0px;
	left: 0px;
}

.dashlet-rewards-shop-two-third a.rewards-history-link:hover,
.w-rewards-shop .user-summary a.rewards-history-link:hover,
.reward-detail-container .user-summary a.rewards-history-link:hover{
	text-decoration: none !important;
	color: #ffffff;
}

div[data-cell-text-width="twothird"] a.rewards-history-link{
	/*padding: 2px 10px 2px 10px;*/
	/*background-color: #e4e6e5;*/
	/*text-decoration: none;*/
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	clear: none;
	left: 0px;
}

div[data-cell-text-width="twothird"] .buttonHistoryContainer {
	width: auto;
	float:right;
}
.dashlet-rewards-shop-two-third .rewards-carousel{
	border: 1px solid #eee;;
	width: 100%;
	min-height: 50px;
	position: relative;
}

.dashlet-rewards-shop-two-third .rewards-carousel .reward-image{
	min-height: 100px;
	min-width: 100px;
}

.dashlet-rewards-shop-two-third .rewards-carousel .carousel-control-left{
	position: absolute;
	display: inline-block;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
}

.dashlet-rewards-shop-two-third .rewards-carousel .carousel-control-right{
	position: absolute;
	display: inline-block;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	text-align: center;
	right: 5px;
}

.dashlet-rewards-shop-two-third .rewards-owl-carousel{
	text-align: center;
	overflow: hidden;
}

.dashlet-rewards-shop-two-third .rewards-owl-carousel .reward-image{
	background-color: #f5f5f5;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.dashlet-rewards-shop-two-third .rewards-owl-carousel .reward-image i{
	position: relative;
	top: 20px;
	left: 0;
	color: #e4e6e5;
}

.dashlet-rewards-shop-two-third .rewards-owl-carousel img{
	width: 100px;
	height: 100px;
}

.dashlet-rewards-shop-two-third .rewards-owl-carousel .owl-item{
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

#my-rewards-grid .items tr,
#my-rewards-grid .items tr td {
	background-color: #fff;
}


.dashlet-rewards-shop-two-third h5{
	margin-bottom: 10px;
}

.w-rewards-shop .rewards-sets-selector{
	border: 1px solid #ccc;
}

.w-rewards-shop .rewards-sets-selector .item{
	height: 25px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
}

.w-rewards-shop .rewards-sets-selector .item:last-child{
	border-bottom: none;
}

.w-rewards-shop .rewards-sets-selector .item.active,
.w-rewards-shop .rewards-sets-selector .item.active a{
	color: #2176b5;
	font-weight: bold;
}

.w-rewards-shop .rewards-sets-selector .item:hover{
	font-weight: bold;
}

.w-rewards-shop .rewards-sets-selector .item i{
	float: right;
	margin-top: 5px;
	display: none;
}

.w-rewards-shop .rewards-sets-selector .item.active > i{
	display: block;
}

.w-rewards-shop .filter-header .filter-container{
	width: auto;
	height: auto;
	position: absolute;
	top: 47px;
	left: 0;
	background-color: #f1f3f2;
	z-index: 100;
	padding: 20px 30px 30px 30px;
	display: none;
}

.w-rewards-shop .filter-header .filter-container span.jq-radio {
	margin-left: 0px;
	background-position: -141px -38px;
}
.w-rewards-shop .filter-header .filter-container  span.jq-radio.checked {
	background-position: -120px -38px;
}


.w-rewards-shop .filter-header .filter-container h6{
	margin-bottom: 10px;
	margin-top: 10px;
}

.w-rewards-shop .filter-header .filter-container::before {
	position: absolute;
	top: -15px;
	left: 20px;
	display: inline-block;
	border-right: 15px solid rgba(241, 243, 242, 0);
	border-bottom: 15px solid rgb(241, 243, 242);
	border-left: 15px solid rgba(241, 243, 242, 0);
	content: '';
}

/*.w-rewards-shop .filter-header .filter-container .buttons{*/
	/*padding: 10px;*/
/*}*/

.w-rewards-shop .filter-header .filter-container .buttons .btn:last-child{
	margin-left: 20px;
}

.w-rewards-shop .filter-header .filter-container .slider-values{
	margin-left: 1px;
}

.w-rewards-shop .filter-header .filter-container .slider-values .min{
	font-weight: bold;
}

.w-rewards-shop .filter-header .filter-container .slider-values .max{
	font-weight: bold;
	float: right;
}

.w-rewards-shop .filter-header .filter-container .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all{
	height: .2em;
	border: none;
	background: none;
	background-color: #B1B1B1;
	margin-left: 9px;
}

.w-rewards-shop .filter-header .filter-container .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-range{
	background: none;
	background-color: black;
}

.w-rewards-shop .filter-header .filter-container .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle{
	background: none;
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	border: none;
	top: -.2em;
}

.w-rewards-shop .filter-header .filter-container .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all .ui-slider-handle.ui-state-hover{
	border: 1px solid black;
	top: -.3em;
}
@media (min-width: 1200px){
	.w-rewards-shop .reward-container{
		padding: 5px 5px 5px 13px;
	}

	.w-rewards-shop .reward-container .single-reward {
		display: inline-block;
		margin: 15px 0px 15px 28px;
		width: 163px;
		border: 1px solid #f0f1f0;
	}

	.w-rewards-shop .reward-container .single-reward a {
		text-decoration: none;
		width: 100%;
		position: relative;
	}
}

@media (max-width: 1200px){
	.w-rewards-shop .reward-container{
		padding: 5px 5px 5px 12px;
	}

	.w-rewards-shop .reward-container .single-reward {
		display: inline-block;
		margin: 15px 0px 15px 39px;
		width: 163px;
		border: 1px solid #f0f1f0;
	}

	.w-rewards-shop .reward-container .single-reward a {
		text-decoration: none;
		width: 100%;
		position: relative;
	}
}

@media (max-width: 979px) and (min-width: 768px){
	.w-rewards-shop .reward-container{
		padding: 5px 5px 5px 15px;
	}

	.w-rewards-shop .reward-container .single-reward {
		display: inline-block;
		margin: 15px 0px 15px 39px;
		width: 163px;
		border: 1px solid #f0f1f0;
	}
}

@media (max-width: 767px){
	.w-rewards-shop .reward-container{
		padding: 5px 5px 5px 0px;
	}

	.w-rewards-shop .reward-container .single-reward {
		display: inline-block;
		margin: 15px 0px 15px 27px;
		width: 163px;
		border: 1px solid #f0f1f0;
	}

	.buttonHistoryContainer  {
		width: auto;
		float:right;
		margin-top: 7px;
	}
	div[data-cell-text-width="twothird"] .buttonHistoryContainer {
		margin-top: 0px;
	}
}

.w-rewards-shop .reward-container .single-reward p{
	margin: 0;
}

.w-rewards-shop .reward-container .single-reward a:hover{
	text-decoration: none !important;
}

.w-rewards-shop .reward-container .single-reward img {
	width: 163px;
	height: 208px;
}

.w-rewards-shop .reward-container .single-reward img {
	width: 163px;
	height: 208px;
}

.w-rewards-shop .reward-container .single-reward .new-reward {
    top: 0px;
    right: 0;
    padding: 5px;
    width: 30px;
    color: white;
    background-color: #5ebe5d;
    text-transform: uppercase;
    font-size: 11px;
	position:absolute;
	text-align: center;
}

/*.w-rewards-shop .reward-container .single-reward .new-reward.not-image{*/
	/*top: -41px;*/
	/*right: -107px;*/
/*}*/

.w-rewards-shop .reward-container .single-reward .reward-info {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
}


.w-rewards-shop .reward-container .single-reward .reward-price{
	text-align: right;
	padding-right: 5px;
	font-size: 13px !important;
	margin: 10px 0px 5px 0px;
}

.w-rewards-shop .reward-container .single-reward .reward-price strong{
	margin-right: 5px;
}

.w-rewards-shop .reward-container .single-reward .reward-price i.yellow{
	color: #ffbe00;
}

.w-rewards-shop .reward-container .rewards-pager{
	text-align: right;
}

.w-rewards-shop .reward-container .rewards-pager .dashlet-pager-next,
.w-rewards-shop .reward-container .rewards-pager .dashlet-pager-prev{
	background-color: #f1f3f2;
	margin-left: 10px;
	padding: 10px;
	float: right;
	cursor: pointer;
}

.w-rewards-shop .reward-container .image {
	background-color: #f5f5f5;
	width: 163px;
	height: 208px;
	position: relative;
}

.w-rewards-shop .reward-container .image i{
	position: relative;
    top: 80px;
    left: 55px;
    color: #e4e6e5;
}

.w-rewards-shop .reward-container hr{
	margin-top: 30px;
}

.w-rewards-shop .filter-header .search-button{
	margin-right: 5px !important;
}

.reward-detail-container .reward-details img{
	border: 2px solid #f0f1f0;
}

.reward-detail-container .reward-details i.orange{
	color: #d97633;
	margin-top: 2px;
}

.reward-detail-container .reward-details .coins-needed {
	margin-left: 0px;
}

.reward-detail-container .reward-details .coins-needed p{
	line-height: 1;
}

.reward-details .row-fluid .span9 {
	width: 72%;
}

.redeem-success{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	text-align: center;
}

.redeem-success i{
	color: #55ab54;
}

.redeem-success p{
	text-align: left;
}

.user-info-container .block{
	float: left;
}

.user-info-container .block-right{
	float: right;
}

@media (max-width: 460px){
	.user-info-container .block-right{
		float: left;
	}

	.user-info-container .block-right > a{
		margin-bottom: 10px;
	}
}

.w-rewards-shop a,
.w-rewards-shop a:hover,
.w-rewards-shop a:active,
.w-rewards-shop a:focus {
	text-decoration: none !important;
}

#combo-list-view-container-associated-sets-management-list.combo-list-view-container .left-selections a {
    margin:initial;
    margin-left: 10px;
}
#combo-list-view-container-associated-sets-management-list.combo-list-view-container .left-selections a:nth-child(-n+3) {
    padding-right:10px;
    border-right: 1px solid black;
}

#combo-list-view-container-associated-sets-management-list.combo-list-view-container .combo-list-item.selected {
    background: #F1F3F2;
}

div.gamification-mybadges-tabs div.tab-label {
	display: inline-block;
	float: right;
	width: 140px;
	text-align: left;
}

div#my-rewards-grid a.reward-send-message,
div#my-rewards-grid a.reward-send-message:hover,
div#my-rewards-grid a.reward-send-message i,
div#my-rewards-grid a.reward-send-message i:hover {
	color: #000 !important;
	font-size: 14px!important;
}

div#assign-rewards-management-grid td.name {
	word-break: break-all;
}

form#form-delete-set-reward,
form#form-delete-set-reward strong {
	word-break: break-all;
}

div#assign-rewards-management-grid th.reward-checkbox-header-cell,
div#assign-rewards-management-grid td.reward-checkbox-cell {
	text-align: center;
	width: 30px;
}

div#assign-rewards-management-grid th.reward-image-header-cell {
	text-align: center;
	width: 80px;
}

div#assign-rewards-management-grid td.reward-image img {
	display: block;
	margin-left: auto!important;
	margin-right: auto!important;
	width:30px;
	max-width:30px;
	max-height:30px;
	padding: 5px;
	border: 1px solid rgba(51,51,51,0.2)!important;
}

div#assign-rewards-management-grid th.reward-coins-header-cell,
div#assign-rewards-management-grid td.reward-coins-cell,
div#assign-rewards-management-grid th.reward-availability-header-cell,
div#assign-rewards-management-grid td.reward-availability-cell {
	text-align: center;
	width: 130px;
}

div#rewards-requests-grid td.user-reward-picture img {
	margin: 0 auto!important;
	display: block;
}

div#my-rewards-grid td.gamification-request-img img {
	display: block;
	margin-left: auto!important;
	margin-right: auto!important;
}


.gamification-save-leaderboard-msg-container p {
	float:left;
	display: inline-block;
	padding-bottom: 10px;
	width: 28%;
}


/*App7020*/
.user-goal-settings,.expert-goal-settings,.asset-goal-settings{
	margin-top:-60px;
}

#user-goal-event-selector,#asset-goal-event-selector,#expert-goal-event-selector{
	display:inline-block;
}
#user-goal-event-selector select,#asset-goal-event-selector select,#expert-goal-event-selector select{
	width:58%;
	height:30px;
	margin:10px 0;
}
.user-goal-settings #limit-minutes{
	margin-left:30px;
}