#lo_player{
	width: 100%;
	margin-top: 52px;
    height: calc(100% - 52px);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #efefef;
}

.file-container{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#file-object-download-button>.file-download-container {
	color: #fff;
}

.full-size{
	width:100%;
	height: 100%;
}

#center-video, .center-video{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

#flowplayer_container{
	background-size: contain;
	background-color: #333;
}

.lo-authoring{
	.play-asset-file{
		height: 100% !important;
		.files-wrap{
			height: 100%;
			.swiper-wrapper{
				height: 91.9% !important;
			}
			.swiper-slide, .col-file-item{ 
				height: 100% !important;
			}
			.col-file-item{
				img{
					margin: 0px !important;
					height: 100%;
					width: 100% !important;
				}
			}
		}
	} 
}
@media screen and (orientation:portrait){
	.with-statusbar-overlay{
		#lo_player{
			margin-top: 72px;
			height: calc(100% - 72px);
		}
	}
}

 @media screen and (orientation:landscape) {
	#lo_player{
		width: 100%;
		height: 100%;
		margin-top: 0px;
	}
 }
#file-play{
	padding: 30px 20px;
}
