<div class="search-item" ng-class="!item.other_fields.visibility.can ? 'lo' : ''">
	<div class="type">{{types[item.type]}}</div>
	<div class="result-image" ng-class="{'with-tooltip': !item.other_fields.visibility.can}" data-toggle="tooltip" data-placement="top" title="{{locked_message}}">
		<div ng-if="item.other_fields.visibility.can == true">
			<div ng-show="item.other_fields.image_url">
				<img ng-src="{{item.other_fields.image_url}}" />
			</div>
			<div ng-show="!item.other_fields.image_url">
				<img ng-src="https://placeholdit.imgix.net/~text?w=150&h=60" />
			</div>
			<div ng-if="item.other_fields.duration">
				<span class="duration">{{item.other_fields.duration}}</span>
			</div>
		</div>
		<div ng-if="!item.other_fields.visibility.can">
			<span>
				<i class="fa fa-lock" aria-hidden="true"></i>
			</span>
		</div>
	</div>
	<div class="result-title">
		<div ng-if="item.other_fields.visibility.can == true">
			<a ng-click="allMaterialLink(item)" class="link ellipsis">{{item.title}}</a>
		</div>
		<div ng-if="!item.other_fields.visibility.can">
			<p>{{item.title}}</p>
		</div>
		
		<div class="result-description">
			<div class="descriptor">
				{{item.description}}
			</div>
		</div>
	</div>
</div>