<div class="search-item lo">
	<div class="type">{{types[item.type]}}</div>
	<div class="result-image" ng-class="{'with-tooltip': !item.other_fields.visibility.can}" data-toggle="tooltip" data-placement="top" title="{{locked_message}}">
		<div ng-if="!item.other_fields.image_url && item.other_fields.visibility.can == true">
			<span>
				<div ng-if="item.other_fields.visibility.can == true">
					<i class="fa {{item.other_fields.fa_icon}}" aria-hidden="true"></i>
				</div>
			</span>
		</div>
		<div ng-if="item.other_fields.image_url && item.other_fields.visibility.can == true">
			<img ng-src="{{item.other_fields.image_url}}" />
		</div>
		<div ng-if="!item.other_fields.visibility.can">
			<a >
				<span>
					<i class="fa fa-lock" aria-hidden="true"></i>
				</span>
			</a>
		</div>
	</div>
	<div class="result-title">
		<div ng-if="item.other_fields.visibility.can == true">
			<a class="link ellipsis" ng-click="loSearchInfo(item, item.other_fields.course_id, item.id)">{{item.title}}</a>
		</div>
		<div ng-if="!item.other_fields.visibility.can">
			<p>{{item.title}}</p>
		</div>
		
		<div class="result-description ellipsis">
			<div class="descriptor">{{item.description}}</div>
		</div>
	</div>
	<div class="course ellipsis">
		<div ng-if="item.other_fields.course_name && item.other_fields.visibility.can == true">
			<span>{{ 'Course' | translate}}: <a href="{{ courseMaterialLink(item) }}">{{item.other_fields.course_name}}</a></span>
		</div>
	</div>
</div>