/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2015, 12:20:23 PM
    Author     : vbelev
*/

$icon-stack-width: 60px;
$icon-stack-height: 60px;
$break-medium: 1200px;

section#app7020-coach-settings { 
	overflow: hidden;
	h1 {
        font-size: 20px;
        margin-bottom: 8px;
    }

	h5 {
		font-weight: 600;
		font-size: 15px;
	}
	
	.border-wraper {
		border-bottom: 1px solid $grey-border;
		border-top: 1px solid $grey-border; 
		padding-top: 1px;
		padding-bottom: 1px;
		.app7020-container {
			&.grey {
				border: none;
			}
		}
	}


	div.details {
        font-size: 0.9em;
        &.padd {
            margin-left: 25px;
			@media screen and (max-width: $break-medium) {
			  margin-left: 0px;
			}
        }

    }

	.coach-align-button{
	  text-align: right;
	  padding-top: 50px;
	  margin-bottom: 0px;
	}

	.save{
	  margin-right: 0px;
	}

  	.logical-group{
	  min-height: 32px;
	}

	.form-horizontal {
		.app7020-container.no-top-padding{
		  padding-top:0px !important;
		}
		.app7020-container {
			border-top: 1px solid #e4e6e5;
			padding: 20px;
			position: relative;

			@include custom-radio-button-checkbox('checkbox', '../../../../themes/spt/images/icons_elements.png', 19px, 19px, -143px, -198px, -189px, -198px);

			div.logical-group {
				.additional_container {
					/*display: none;*/
					&.show {
						display: inline-block;
					}
				}
			}
			.span8 {
			  .details {
				margin-top: -20px;
				margin-bottom: 10px;
				margin-left: 25px;
			  }
			}

			input[type='text'] {
				margin: 0 10px;
				&#app7020_limit_characters_question {
					width: 50px;
					height: 22px;
				}
			}


			.row-fluid {
				padding: 10px;
				box-sizing: border-box;
			}

			.control-label {
				text-align: left;
				float: left;
				width: inherit;
			}
			.controls {
				margin-left: 0;
			}
		  	.span8{
			  .row-fluid.no-left-padding{
				padding-left: 0px;
				.span6{
				  position: relative;
				  @media screen and (max-width: 720px) {
					width: 50%;
					float: left;
				  }
				}
			  }
			}

		  	.icons-container{
			  position: absolute;
			  left: -75px;
			  margin-top: -10px;
			  @media screen and (max-width: $break-medium) {
			 	 left: -55px;
			  }
			  @media screen and (max-width: 880px) {
				left: -45px;
			  }
			  .green-arrow{
				line-height: 100%;
				color: $green-color;
				position: relative;
				padding-left: 35px;
				margin-top: 30px;
				float: left;
				display: inline-block;
				width: 80px;
				top: -20px;
				&:before {
				  content: '';
				  @extend %app7020-hint-6;
				}
			  }

			  .app7020-icon-stack {
				display: inline-block;
				width: $icon-stack-width;
				background-color: #333333;
				height: $icon-stack-height*2;
				div:first-child{
				  background-color: #5EBE5D;
				  line-height: $icon-stack-height;
				}
				div:last-child{
				  line-height: $icon-stack-height+10;
				}
				div{
				  float: left;
				  display: inline-block;
				  width:$icon-stack-width;
				  height: $icon-stack-height;
				  color: #fff;
				  text-align: center;
				}
			  }
			}
		}

	}
}