#simplesamlapp-settings-form .saml-fields-header,
#simplesamlapp-settings-form .saml-fields-row{
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.saml-fields-row input[type=text]{
	padding-top: 0;
	padding-bottom: 0;
}

.multidomain-client-settings #simplesaml-tab span.jq-file .jq-file__name {
	float: none !important;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 12px;
}

#simplesaml-tab .docebo-form .help-block {
	text-overflow: ellipsis;
	overflow: hidden;
}

/*
Styles specific to individual elements
*/
#SimpleSamlAppSettingsForm_simplesaml_logout_url{
	width: 60%;
	height: auto;
}
#sso-button-holder, #logout-url-container{
	margin-left: 30px;
}

#signatureAlgorithm span, #signatureAlgorithm .jq-radio {
	margin-left: 0px;
}

#signatureAlgorithm .span4 {
	min-width: 300px;
}
#signatureAlgorithm .help-block {
	margin-left: 24px;
}