<div class="file-container">
	<div class="card">
		<div class="card-content">
			<div id="file-object-header" class="card-title">{{ 'download file' | translate }}</div>
			<div id="file-object-title" class="card-title">{{metadata.title}}</div>
			<div id="file-object-content" class="card-content-inner">
				{{metadata.description}}
			</div>
		</div>
		<div id="file-object-download-button" class="circle" >
			<a target="_self" class="file-download-container" ng-click="downloadFile(launchUrl)">
				<i id="mobile-file-download" class="icon-download icon-xl"></i>
			</a>
		</div>
	</div>
</div>