<div class="lo_video full-size" ng-switch="metadata.video_type">
	<div class="full-size" ng-switch-when="upload">
		<div class="full-size" ng-include="view('video/flowplayer.html')"></div>
	</div>
	<div class="full-size" ng-switch-default>
		<div class="full-size" ng-include="view('video/embedded.html')"></div>
	</div>
</div>