@CHARSET "ISO-8859-1";

.grid-nav-grey-box {
	width: 98%;
	float: left;
	background: #f1f3f2;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	-moz-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	-webkit-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	margin-bottom: 10px;
	padding: 6px 1% 3px 1%;
}

.grid-search-form {
	margin: 5px 10px 0px 0px;
}

.grid-search-form input[type="text"] {
	border-left: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
	border-top: 1px solid #e4e6e5;
	border-right: none;
	border-radius: 0px !important;
	webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background: #fff;
	float: right;
}

.grid-search-form input[type="button"] {
	border-right: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
	border-top: 1px solid #e4e6e5;
	border-left: none;
	border-radius: 0px !important;
	webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background: url('../images/lense.png') no-repeat center #fff;
	height: 30px;
	width: 30px;
	float: right;
	margin-left: -1px;
}

/* Forum Messages */
.forum-message-box {
	margin-bottom: 25px;
}

.forum-message-odd, .forum-message-even {
	border: 1px solid #e4e6e5;
	color: #505050;
}

.forum-message-odd {
	background: #f1f3f2;
}

.forum-message-body {
	width: 98%;
/* 	margin: 0% 1%; */
	float: left;
	padding: 5px;
}


.forum-message-body ol, 
.forum-message-body ul {
	margin: 0 0 10px 25px;
}


.forum-message-body ul {
	list-style-type: disc;
}

.forum-message-body ol {
	list-style-type: decimal;
} 


.forum-message-date {
	font-size: 11px;
	margin-bottom: 8px;
	display: inline-block;
}

.forum-message-actions {
	width: 98%;
	margin: 0% 1%;
	padding-bottom: 8px;
	float: left;
	border-top: 1px solid #e4e6e5;
}

.forum-message-actions > a {
	float: right;
	margin: 8px 12px 0px 4px;
	font-size: 11px;
	color: #505050;
}

.forum-message-avatar {
	padding: 2px;
	border: 1px solid #e4e6e5;
	overflow: hidden;
}

.forum-message-author {
	color: #156fb2;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}

.forum-message-author-link {
	font-size: 11px;
	text-decoration: underline;
}

.forum-message-counter {
	margin-top: 8px;
}
.forum-message-counter > strong, .forum-message-counter > .repliesCounter{
	float: left;
}

.forum-message-counter > .repliesCounter{
	padding-left: 3px;
}

.forum-title {
	color: #505050;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	width: 100%;
	float: left;
}

.forum-quote {
	border: 1px solid #C7C8C9;
	margin: 5px;
	padding: 5px;
}

.forum-quote-author {
	width: auto;
	margin: 0px 5px;
	line-height: 12px;
	font-size: 12px;
	border: 0px;
	-webkit-padding-start: 0px;
	-webkit-padding-end: 0px;
}


.forum-message-body {
	position: relative;
}

.forum-message-body:before{
	position: absolute;
	top: 12px;
	left: -9px;
	display: inline-block;
	border-top: 7px solid rgba(0, 0, 0, 0);
	border-right: 8px solid rgba(44, 44, 44, 0.2);
	border-bottom: 7px solid rgba(0, 0, 0, 0);
	content: '';
}

.bootbox .modal-footer {
	text-align: center;
}

.bootbox .modal-footer a {
	margin-right: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

/* Message rating */
.forum-message-rating {
    float: left;
}
.forum-message-rating > * {display: inline-block;}
.forum-message-rating .rating-container {
    position: relative;
    top: 5px;
    padding-left: 5px;
}
.forum-message-actions .docebo-helpful {
    float: left;
    line-height: 30px;
    margin-left: 40px;
}

.forum-message-actions.threadContent{
    border-bottom: 1px solid #e4e6e5;
    clear: both;
    margin-bottom: 20px;
}

.forum-message-replies .forum-message-box{
    clear: both;
}

.forum-message-replies{
    padding-right: 10px;
}

.forum-message-replies .forum-message-even, .forum-message-replies .forum-message-odd, .forum-message-sub-replies .forum-message-even {
    background-color: white;
}

.forum-message-reply-avatar{
    padding: 2px;
    border: 1px solid #e4e6e5;
    overflow: hidden;
    float: right;
    width: 50px;
    height: 50px;
}

.forum-message-replies .forum-message-body:before{
    margin-top: -6px;

    position: absolute;
    right: 100%;
    left: -14px;
    top: 15px;
    border: 7px solid transparent;
    border-right-color: white;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
}

.forum-message-replies .avatar-area{
    text-align: right;
}
.forum-message-replies .avatar-area .replies{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 7px
}

.orderForumMessages label{
    margin: 4px 15px 0px 0px;
    float: left;
}

.orderForumMessages select{
    border-radius: 0px;
}

.forum-message-sub-replies{
    clear: both;
    padding-right: 8px;
}

.forum-message-load-more{
    display: none;
}

.forum-message-sub-replies .avatar-area .replies{
    float: right;
    font-weight: bold;
    font-size: 14px;
    margin-right: 4px;
    margin-bottom: 3px;
}

.forum-message-sub-replies .avatar-area .forum-message-reply-avatar{
    clear: both;
}

.forum-message-new-sub-replies{
    display: none;
}
.forum-message-new-sub-replies .content{
    margin-right: 8px;
}

.forum-message-new-sub-replies .buttons{
    float: right;
    margin: 10px 0px 10px 0px;
}

.forum-message-box .load-more-comments{
    text-decoration: underline;
}

/* --- Forum Messages Form - START --- */

.forum-update-sub-reply #filelist .close,
#forum-inline-edit-panel #filelist .close {
	opacity: 1;
	color: red;
	font-weight: bold;
	font-size: 30px;
	margin-left: 5px;
	position: relative;
	top: -2px;
}

.forum-update-sub-reply #filelist .filename,
#forum-inline-edit-panel #filelist .filename {
    font-weight: bold;
}

.forum-update-sub-reply #filelist .file,
#forum-inline-edit-panel #filelist .file {
    margin-top: 5px;
}

.forum-update-sub-reply .buttons,
#forum-inline-edit-panel .buttons {
    height: 40px;
}

/* --- Forum Messages Form - END --- */

.forum-message-box .load-more-comments:hover{
    color: #0465AC;
}
.forum-message-body .close.delete-file {
	color: red;
	float: none;
	opacity: 1;
	font-size: 30px;
	margin-left: 2px;
	position: relative;
	top: 6px;
}
.forum-message-body .close.delete-file:hover {
    color: #e51911;
}
.forum-message-body .file-container {
    margin-top: 20px;
}
.forum-message-body .file-container .fa.fa-paperclip.fa-lg {
    margin-right: 5px;
}
.forum-message-body .file-container .file-name {
    cursor: pointer;
}
.forum-message-body .file-container .file-name:hover {
    color: #2a2a2f;

}

#dcb-feedback span.is-remove {
	display: none!important;
}
