/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2015, 4:49:07 PM
    Author     : vbelev
*/

.app7020AlertBox {
	position: relative;
	padding: 0 32px 0 20px;
	i.fa-times{
		font-size: 19px;
		font-weight: 400;
		text-shadow: none;
		position: absolute;
		top: 14px;
		right: 13px;
		color: white;
		cursor: hand;
		cursor: pointer;
		display: inline-block;
	}

	&.hide {
		display: none;
	}

	.content {
		color: white;
		a:active, a:visited, a:link {
			color: white;
			text-decoration: underline;
		}
	}	

	&.error {
		background: $red;
		.content {
			&.success {
				display: none;
			}
		}
	}

	&.success {
		background: $green-color;
		.content {
			&.error {
				display: none;
			}
		}
	}


	box-sizing: border-box;
	margin-bottom: 25px;
	min-height: 48px;
	height: 48px;
	/*	padding: 5px 15px;*/
	display: table;
	width: 100%;
	> div {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}

}

.alert{

	&.docebo-alert {

		box-sizing: border-box;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border:none;
		text-shadow: none!important;
		@extend %ap7020-table-vertical-align;
		color: #333;

		&.warning {
			background: #FFE695;
		}
		&.error {
			background: red;
			color: white;
		}
		&.success {
			background: #5EBD5F;
			color: white;

		}
		&.error, &.success {
			.docebo-alert-close {
				vertical-align: top;
				button {
					font-size: 24px;
					color: white;
					text-shadow: none;
				}
			}
		}
		&:after {
			content: " "!important;
			display: block!important;
			position: static!important;
			bottom: 0!important;
			left: 0!important;
			right: 0!important;
			border: none!important;
		}
		.docebo-alert-icon {
			width: 40px;
			vertical-align: top;
			text-align: center;
			padding: 10px;
			font-size: 31px;
		}
		.docebo-alert-close {
			min-width: 100px;
			vertical-align: top;
			text-align: right;
			padding: 10px;

			.close {
				font-size: 18px;
				color: #fff;
			}
		}
		.table-cell {
			padding: 10px;
			&:nth-child(2) {
				padding-left: 0!important;
			}
		}
		p {
			margin: 0;
		}
		padding: 0;


	}
	&.docebo-got-it-container  {
		.docebo-alert-close {
			.close {
				font-size: 14px!important;
				color: #333;
			}
		}
	}

	&.warning:not(.docebo-got-it-container) {
		.docebo-alert-close {
			.close {
				font-size: 18px!important;
				color: #333;
			}
		}
	}



}
