    <div id="mobile-course-header" ng-class="$isDesktop() ? 'top-buffer58' : ''" style="background: {{navColor}}; color: {{navFont}};">
        <div class="content-block row white" style="color: {{navFont}};">
			<div class="title-description-wrapper">
                <h1 class="course-title">{{ course.name }}</h1>
                <div class="col-60 description-wrapper">
                    <p class="desc" dd-text-collapse dd-text-collapse-max-length="150" dd-text-collapse-text="{{ course.description }}"></p>
                </div>
            </div>
            <div class="col-100 icons-wrapper">
                <div id="mobile-course-icons-header">
                    <ul>
                        <li>
                        <span class="language">
							<i id="language-icon" class="icon-world white icon-xl"></i>
							<span class="language-type">{{ course.lang_code }}</span>
						</span>
                        </li>
                        <li>
                        <span class="medium-clock-time">
							<i id="clock-icon" class="icon-clock white icon-xl"></i>
							<span class="medium-time">{{ course.mediumTime / 60 }}m</span>
						</span>
                        </li>
                        <li>
                        <span class="mobile-user">
							<i id="user-icon" class="icon-user-mobile white icon-xl"></i>
							<span class="user-type">{{"learner" | translate}}</span>
						</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
		<div ng-if="isButtonAvailable()" class="offline-download">
			<button class="offline-download-btn" ng-click="downloadCourse()">
				<i class="icon-d_download">
				</i>
			</button>
		</div>
    </div>