.i-sprite.is-lti               {background-position:-12px -2899px;width:20px;height:20px;}
.i-sprite.is-lti.grey          {background-position:-53px -2899px;width:20px;height:20px;}
.i-sprite.is-lti.orange        {background-position:-89px -2899px;width:20px;height:20px;}
.i-sprite.is-lti.blue          {background-position:-131px -2899px;width:20px;height:20px;}
.i-sprite.is-lti.green         {background-position:-176px -2899px;width:20px;height:20px;}
.i-sprite.is-lti.red           {background-position:-254px -2899px;width:20px;height:20px;}

a.p-hover:hover .i-sprite.is-lti, .i-sprite.is-lti.white	        {background-position:-216px -2899px;width:20px;height:20px;}


#player-manage-add-lo-button #add-lo-type-hint .is-lti,
#central-lo-manage-add-lo-button #add-lo-type-hint .is-lti{
	width: 40px;
	height: 40px;
	background-image: url("../../../../themes/spt/images/i-sprite.png") !important;
	background-position: -294px -4372px;
}

.lti_title_info{
	font-size: 12px;
	color: #999;
	font-weight: bold;
	display: block;
}

#LearningLTI_url{
	width: 90%;
}

#player-centralrepo-uploader .url-validator-info{
	margin-left: 10px;
	top: 5px;
	position: relative;
}

.lti_checkbox_group .controls .lti_checkbox_item,
.lti_radio_group .controls .lti_radio_item{
	padding-bottom: 8px;
	display: block;
}

.lti_radio_group .controls .lti_radio_item{
	margin-left: -5px;
}

#player-centralrepo-uploader .lti_radio_group .controls .lti_radio_item:first-child span.jq-radio{
	margin-left:0;
}

.lti_checkbox_group .controls .lti_checkbox_item label{
	display: inline-block;
	padding-left: 15px;
}

.lti_radio_group .controls label{
	display: inline-block;
	padding-left: 16px;
}

.lti_radio_group .radio_comment{
	font-size: 11px;
	color: #888888;
	margin-left: 40px;
	margin-top: -10px;
}

.lti_completion_extension{
	margin-top: 5px;
}

.lti_radio_group .controls .lti_completion_extension label{
	padding-left: 37px;
}

.lti_radio_group .controls .lti_completion_extension.block_direct_completion{
	padding-left: 37px;
}

.lti_radio_group .controls .lti_completion_extension.block_direct_completion label{
	padding-left: 15px;
}

.lti_radio_group .controls .lti_completion_extension input{
	width: 50px;
}