html {
	overflow: visible;
}

body{
	width:100%;
	height:100%;
	padding:35px 0 0 0;
	overflow: visible;
}


.mynavbar {
	padding: 0;
	color:#fff;
	background:#333;
	position: absolute;
	top:0;
	right:0;
	width:100%;
}

.mynavbar h1 {
	float:left;
	margin:0 10px;
	padding:0;
	font-size:20px;
	line-height:36px;
}

.mynavbar a {
	float:right;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration: none;
	display:inline-block;
	vertical-align: middle;
	margin:0;
	padding:4px 12px;
}

iframe{
	position: absolute;
	height: 100%;
	width: 100%;
	border: none;
}

input#basiclti_submit{
	background-color: #55AB54;
	padding:6px 12px;
	font-weight: 600;
	font-size: 13px;
	vertical-align: middle;
	display: inline-block;
	color: #ffffff;
	text-shadow: 0 1px 0 #4EAE4F;
	line-height: normal;
	cursor: pointer;
	-webkit-appearance: button;
	border: 0px none;
	text-transform: uppercase;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	margin: 15px;
}