/* 
    Created on : 15.07.2015, 16:06:08
    Author     : Stanimir
*/
/* 
    Created on : 15.07.2015, 16:05:45
    Author     : Stanimir
*/
/* line 2, ../../../scss/tags/_tagmanager.scss */
.tm-tag {
  color: #333333;
  background-color: #E4E6E5;
  border: #333 1px solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  border-radius: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0 0px 7px 4px 0 0px 7px 4px 0 0;
  padding: 5px 35px 5px 10px;
  text-decoration: none;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  vertical-align: middle;
}
/* line 22, ../../../scss/tags/_tagmanager.scss */
.tm-tag .tm-tag-remove {
  color: #000000;
  font-weight: bold;
  margin-left: 5px 35px 5px 10px;
  opacity: 0.2;
}
/* line 27, ../../../scss/tags/_tagmanager.scss */
.tm-tag .tm-tag-remove:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
}
/* line 37, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-warning {
  color: #945203;
  background-color: #f2c889;
  border-color: #f0a12f;
}
/* line 42, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-error {
  color: #84212e;
  background-color: #e69ca6;
  border-color: #d24a5d;
}
/* line 47, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-success {
  color: #638421;
  background-color: #cde69c;
  border-color: #a5d24a;
}
/* line 52, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-info {
  color: #4594b5;
  background-color: #c5eefa;
  border-color: #5dc8f7;
}
/* line 57, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-inverse {
  color: #ccc;
  background-color: #555555;
  border-color: #333333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
/* line 62, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-inverse .tm-tag-remove {
  color: #ffffff;
}
/* line 70, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-large {
  font-size: 16.25px;
  border-radius: 0px;
  padding: 11px 7px;
}
/* line 75, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-small {
  font-size: 11.05px;
  border-radius: 0px;
  padding: 2px 4px;
}
/* line 80, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-mini {
  font-size: 9.75px;
  border-radius: 2px;
  padding: 0px 2px;
}
/* line 89, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-plain {
  color: #333333;
  box-shadow: none;
  background: none;
  border: none;
}
/* line 95, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-disabled {
  color: #aaa;
  background-color: #e6e6e6;
  border-color: #ccc;
  box-shadow: none;
}
/* line 100, ../../../scss/tags/_tagmanager.scss */
.tm-tag.tm-tag-disabled .tm-tag-remove {
  display: none;
}

/* line 112, ../../../scss/tags/_tagmanager.scss */
input[type="text"].tm-input {
  margin-bottom: 0px 7px 4px 0;
}

/* line 119, ../../../scss/tags/_tagmanager.scss */
.control-group.tm-group {
  margin-bottom: 10px-0px 7px 4px 0;
}

/* line 122, ../../../scss/tags/_tagmanager.scss */
.form-horizontal .control-group.tm-group {
  margin-bottom: 20px-0px 7px 4px 0;
}

/* line 126, ../../../scss/tags/_tagmanager.scss */
.tt-menu {
  width: 100%;
  border: 1px solid silver;
  background: #fff;
  box-sizing: border-box;
}
/* line 131, ../../../scss/tags/_tagmanager.scss */
.tt-menu .tt-suggestion {
  padding: 10px;
}
/* line 133, ../../../scss/tags/_tagmanager.scss */
.tt-menu .tt-suggestion.tt-cursor, .tt-menu .tt-suggestion:hover {
  background: #5FBD5D;
  color: #ffffff;
}

/* line 139, ../../../scss/tags/_tagmanager.scss */
.tt-highlight {
  font-weight: bold;
}

/* line 142, ../../../scss/tags/_tagmanager.scss */
.tt-hint {
  color: #999;
}

/* line 8, ../../../scss/tags/app7020-tags.scss */
.tag-widget-container {
  border-left: 1.5px solid #999999;
  border-top: 1.5px solid #999999;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 7px 5px 0 5px;
  /*	min-height: 100px;*/
}

/* line 17, ../../../scss/tags/app7020-tags.scss */
#tags {
  border: none;
}
/* line 19, ../../../scss/tags/app7020-tags.scss */
#tags:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

/* line 25, ../../../scss/tags/app7020-tags.scss */
.tm-tag {
  color: #333333;
  background-color: #E4E6E5;
  border: none;
  box-shadow: none;
  display: inline-block;
  border-radius: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin: 0px 7px 4px 0;
  padding: 5px 35px 5px 10px;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 45, ../../../scss/tags/app7020-tags.scss */
.tm-tag span {
  white-space: nowrap;
}
/* line 51, ../../../scss/tags/app7020-tags.scss */
.tm-tag .tm-tag-remove {
  font-size: 0;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  font-weight: 400;
  text-align: center;
  width: 20px;
  text-shadow: none;
  opacity: 1 !important;
}
/* line 62, ../../../scss/tags/app7020-tags.scss */
.tm-tag .tm-tag-remove:before {
  content: '\f00d';
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 11px;
  margin-top: 5px;
  color: #E74C3C;
  transition: color .3s;
}
/* line 77, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-warning {
  color: #945203;
  background-color: #f2c889;
  border-color: #f0a12f;
}
/* line 82, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-error {
  color: #84212e;
  background-color: #e69ca6;
  border-color: #d24a5d;
}
/* line 87, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-success {
  color: #638421;
  background-color: #cde69c;
  border-color: #a5d24a;
}
/* line 92, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-info {
  color: #4594b5;
  background-color: #c5eefa;
  border-color: #5dc8f7;
}
/* line 97, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-inverse {
  color: #ccc;
  background-color: #555555;
  border-color: #333333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
/* line 102, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-inverse .tm-tag-remove {
  color: #ffffff;
}
/* line 110, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-large {
  font-size: 16.25px;
  border-radius: 0px;
  padding: 11px 7px;
}
/* line 115, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-small {
  font-size: 11.05px;
  border-radius: 0px;
  padding: 2px 4px;
}
/* line 120, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-mini {
  font-size: 9.75px;
  border-radius: 2px;
  padding: 0px 2px;
}
/* line 129, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-plain {
  color: #333333;
  box-shadow: none;
  background: none;
  border: none;
}
/* line 135, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-disabled {
  color: #aaa;
  background-color: #e6e6e6;
  border-color: #ccc;
  box-shadow: none;
}
/* line 140, ../../../scss/tags/app7020-tags.scss */
.tm-tag.tm-tag-disabled .tm-tag-remove {
  display: none;
}

/* line 152, ../../../scss/tags/app7020-tags.scss */
input[type="text"].tm-input {
  margin-bottom: 0px 7px 4px 0;
}

/* line 159, ../../../scss/tags/app7020-tags.scss */
.control-group.tm-group {
  margin-bottom: 10px-0px 7px 4px 0;
}

/* line 162, ../../../scss/tags/app7020-tags.scss */
.form-horizontal .control-group.tm-group {
  margin-bottom: 20px-0px 7px 4px 0;
}

/*# sourceMappingURL=app7020-tags.css.map */
