$green-color: #5FBD5D;
/* 
    Created on : 15.07.2015, 16:05:45
    Author     : Stanimir
*/
//
// Bootstrap TagManager
// --------------------------------------------------

// Tag Variables
// --------------------------------------------------

// Colors
// -------------------------

$white:                 #ffffff;
$black:                 #000000;
$gray:                  #555555;
$grayDark:              #333333;

$textColor:             $grayDark;

$tagText:               $grayDark;
$tagBackground:          #E4E6E5;
$tagBorder:             #333;

$tagWarningText:        #945203;
$tagWarningBackground:  #f2c889;
$tagWarningBorder:      #f0a12f;

$tagErrorText:          #84212e;
$tagErrorBackground:    #e69ca6;
$tagErrorBorder:        #d24a5d;

$tagSuccessText:        #638421;
$tagSuccessBackground:  #cde69c;
$tagSuccessBorder:      #a5d24a;

$tagInfoText:           #4594b5;
$tagInfoBackground:     #c5eefa;
$tagInfoBorder:         #5dc8f7;

$tagInverseText:        #ccc;
$tagInverseBackground:  $gray;
$tagInverseBorder:      $grayDark;

$tagDisabledText:       #aaa;
$tagDisabledBackground: #e6e6e6;
$tagDisabledBorder:     #ccc; 

// Sizing
// -------------------------

$tagFontSize:           13px;
$tagFontSizeLarge:      $tagFontSize * 1.25; // ~16px
$tagFontSizeSmall:      $tagFontSize * 0.85; // ~11px
$tagFontSizeMini:       $tagFontSize * 0.75; // ~10px

$tagPadding:			5px 35px 5px 10px;
$tagMargin:            0px 7px 4px 0;;

$borderRadiusSmall:     0px;
$baseBorderRadius:      0px;

$baseLineHeight:        20px;

// Tag Classes
// --------------------------------------------------

// Fonts
// --------------------------------------------------

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;

// Base tag class
// -------------------------

