/* 
    Created on : 15.07.2015, 16:06:08
    Author     : Stanimir
*/
@import 'settings';
@import 'tagmanager';

.tag-widget-container {
	border-left: 1.5px solid #999999;
    border-top: 1.5px solid #999999;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
	padding: 7px 5px 0 5px ;
/*	min-height: 100px;*/
	
}
#tags {
	border: none;
	&:focus {
		outline: none;
		border: none;
		box-shadow: none;
	}
}
.tm-tag {
    color: $tagText;
    background-color: $tagBackground;
    border: none;
    box-shadow: none;
    display: inline-block;
    border-radius: $borderRadiusSmall;
    font-family: $sansFontFamily;
    font-size: $tagFontSize; 
    margin: $tagMargin;
    padding: $tagPadding; 
    text-decoration: none;  
    vertical-align: middle; 
	position: relative;
	max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;


	span{
		white-space: nowrap;
	}
    // Remove button
    // -------------------------

    .tm-tag-remove {
		font-size: 0;
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		font-weight: 400;
		text-align: center;
		width: 20px;
		text-shadow: none;
		opacity: 1!important;
        &:before{
			content: '\f00d';
			font-family: 'FontAwesome';
			display: inline-block;
			font-size: 11px;
			margin-top: 5px;
			color: #E74C3C ;
			transition: color .3s;
		}

    }

    // Semantic Colors
    // -------------------------

    &.tm-tag-warning {
        color: $tagWarningText;
        background-color: $tagWarningBackground;
        border-color: $tagWarningBorder;
    }
    &.tm-tag-error {
        color: $tagErrorText;
        background-color: $tagErrorBackground;
        border-color: $tagErrorBorder;
    }
    &.tm-tag-success {
        color: $tagSuccessText;
        background-color: $tagSuccessBackground;
        border-color: $tagSuccessBorder;
    }
    &.tm-tag-info {
        color: $tagInfoText;
        background-color: $tagInfoBackground;
        border-color: $tagInfoBorder;
    }
    &.tm-tag-inverse {
        color: $tagInverseText;
        background-color: $tagInverseBackground;
        border-color: $tagInverseBorder;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
        .tm-tag-remove {
            color: $white;
        }
    }

    // Sizes
    // -------------------------

    &.tm-tag-large {
        font-size: $tagFontSizeLarge;
        border-radius: $baseBorderRadius;
        padding: 11px 7px;
    }
    &.tm-tag-small {
        font-size: $tagFontSizeSmall;
        border-radius: $borderRadiusSmall;
        padding: 2px 4px;
    }
    &.tm-tag-mini {
        font-size: $tagFontSizeMini;
        border-radius: 2px;
        padding: 0px 2px;
    }

    // Miscellaneous Styles
    // -------------------------

    &.tm-tag-plain {
        color: $textColor;
        box-shadow: none;
        background: none;
        border: none;
    }
    &.tm-tag-disabled {
        color: $tagDisabledText;
        background-color: $tagDisabledBackground;
        border-color: $tagDisabledBorder;
        box-shadow: none;
        .tm-tag-remove {
            display: none;
        }
    }
}

// Forms
// --------------------------------------------------

// Input style (Recommended)
// -------------------------

input[type="text"].tm-input {
    margin-bottom: $tagMargin;
}

// Form wrappers (Optional)
// -------------------------

.control-group.tm-group {
    margin-bottom: ($baseLineHeight / 2) - $tagMargin;
}
.form-horizontal .control-group.tm-group {
    margin-bottom: $baseLineHeight - $tagMargin;
}

