/*
    Created on : May 10, 2016, 11:51:02 AM
*/
/* line 6, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .channel-summary-info {
  padding: 12px;
  border: 1px solid #E4E6E5;
}
/* line 10, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .tab-content {
  overflow: hidden;
}
/* line 13, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport h3 {
  border-bottom: 1px solid #F1F3F2;
  padding-bottom: 10px;
  margin-top: 10px;
}
/* line 18, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport h1 {
  color: #0063AE;
  font-size: 20px;
  font-weight: 600;
  padding-left: 55px;
  line-height: 32px;
}
/* line 25, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .channel-description p {
  color: #A8A8A8;
  font-size: 13px;
}
/* line 29, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .channel-description {
  padding-left: 0;
  margin-top: 10px;
}
/* line 33, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .channel-icon {
  float: left;
  width: 42px;
  line-height: 34px;
  text-align: center;
  font-size: 18px;
}
/* line 40, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .new-channel-summary {
  background: #53ab53;
  text-shadow: 1px 1px #306430;
  color: #fff;
  padding: 8px 10px;
  font-weight: 600;
  position: absolute;
  line-height: 21px;
  text-transform: uppercase;
}
/* line 50, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .print-actions div {
  cursor: pointer;
  float: left;
}
/* line 53, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .print-actions div:hover {
  text-decoration: underline;
}
/* line 58, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .print-actions {
  line-height: 64px;
  margin-left: 13px;
  float: left;
}
/* line 63, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .printChannel span {
  display: inline-block;
  background-repeat: no-repeat;
  height: 33px;
  width: 28px;
  vertical-align: middle;
  margin-left: 12px;
  background: url(../../../../themes/spt/images/icons_elements.png) no-repeat;
  background-position: -783px -71px;
  margin-top: 16px;
  padding-right: 19px;
  float: right;
}
/* line 76, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .downloadPdf span {
  display: inline-block;
  background-repeat: no-repeat;
  float: right;
  margin-top: 16px;
  height: 33px;
  width: 28px;
  vertical-align: middle;
  margin-left: 12px;
  background: url(../../../../themes/spt/images/icons_elements.png) no-repeat;
  background-position: -783px -34px;
}
/* line 88, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar {
  float: left;
  background: #F1F3F2;
  padding: 0;
}
/* line 92, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar li {
  float: none;
  margin: 0;
  border-bottom: 1px solid #f1f3f2;
}
/* line 97, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar li a {
  color: #333333;
  margin: 0;
  border-top: 1px solid #FFFFFF;
  border-right-style: none;
  border-bottom: 1px solid #FFFFFF;
  border-left-style: none;
  border-radius: 0;
  padding: 6px 10px 7px 20px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}
/* line 110, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar li a:hover {
  background: #F1F3F2 !important;
  color: #000;
}
/* line 114, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar li.active a {
  background: #000;
  color: #fff;
}
/* line 118, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport #sidebar li.active a:hover {
  background: #000 !important;
}
/* line 122, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .data-box {
  border: 1px solid #e6e6e6;
  background: #f8f8f8;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 70px;
  position: relative;
}
/* line 131, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .num {
  color: #0664aa;
  font-size: 19px;
  display: block;
}
/* line 136, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .num.rateNum {
  float: right;
}
/* line 139, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .small-num {
  color: #000;
  font-size: 15px;
}
/* line 143, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .text {
  font-size: 11px;
}
/* line 146, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .data-box .text {
  position: absolute;
  bottom: 12px;
}
/* line 150, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .left {
  margin-left: 0;
}
/* line 153, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .tab-pane {
  margin-top: 20px;
}
/* line 156, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .clear {
  clear: both;
}
/* line 159, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .timeframe-selector {
  float: right;
  margin-top: 15px;
}
/* line 163, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .timeframe-selector label {
  display: inline;
  font-weight: 600;
}
/* line 167, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .timeframe-selector select {
  position: relative;
  top: 4px;
}
/* line 171, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .last-asset-block {
  height: 230px;
  border: 1px solid #e6e6e6;
}
/* line 175, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .last-assets {
  display: block;
  margin-top: 22px;
}
/* line 179, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .asset-info {
  padding: 10px;
}
/* line 182, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .asset-info span {
  font-size: 12px;
  color: #A0A0A0;
}
/* line 186, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .asset-title {
  color: #0664aa;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
/* line 192, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .asset-contributor {
  color: #A0A0A0;
}
/* line 195, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .asset-contributor .contributor-name {
  color: #0664aa;
  font-size: 12px;
}
/* line 199, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .legend {
  float: right;
}
/* line 202, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.square-green {
  width: 10px;
  height: 10px;
  background: #ADDFAC;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}
/* line 210, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.square-blue {
  width: 10px;
  height: 10px;
  background: #E5EFF7;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}
/* line 218, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .legend div {
  float: left;
  width: 120px;
}
/* line 222, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport table.items {
  width: 100%;
  text-align: left;
  margin-top: 15px;
}
/* line 227, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport table.items td {
  padding: 10px 10px;
  border-top: 1px solid #E4E6E5;
  border-bottom: 1px solid #E4E6E5;
}
/* line 232, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport table.items th {
  font-weight: 600;
  text-align: left;
  padding: 10px 10px;
}
/* line 237, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .summary {
  margin-top: 10px;
  padding-left: 10px;
}
/* line 241, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .widget-app7020Avatar-container {
  float: left;
}
/* line 244, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport li.table-row {
  border-bottom: 1px solid #e5e5e5;
  line-height: 55px;
}
/* line 248, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport li.row-header {
  line-height: 20px;
}
/* line 251, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .cell-best-answer i {
  color: #5EBE5C;
  font-size: 22px;
}
/* line 255, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .cell-like i {
  color: #5EBE5C;
  font-size: 22px;
}
/* line 259, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .cell-reply {
  font-size: 22px;
}
/* line 262, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .cell-dislike i {
  color: #E74C3C;
  font-size: 22px;
}
/* line 266, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport ul.table-top5 {
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 270, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .last3-rating i.fa.fa-star-half-o {
  color: #F2C500;
  position: relative;
  right: 3px;
}
/* line 275, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .last3-rating {
  float: right;
}
/* line 278, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .last3-views {
  float: left;
  width: 33%;
}
/* line 282, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .cell-header {
  line-height: 20px;
}
/* line 285, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.icon-description {
  float: left;
  width: 100%;
  line-height: 0px;
  font-size: 10px;
}
/* line 291, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.text.subtitle {
  line-height: 28px;
}
/* line 294, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.cell {
  text-align: center;
}
/* line 297, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.cell-header {
  line-height: 20px;
  position: relative;
  top: 20px;
  text-align: left;
}
/* line 303, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.cell-name {
  text-align: left;
}
/* line 306, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport .submittedVsPublished {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 310, ../../../../scss/custom/channelSummary/channelSummary.scss */
#App7020ChannelSummaryReport span.cell-index {
  font-weight: 700;
}

/*# sourceMappingURL=channelSummary.css.map */
