input#catchup-limit-value{
    height: 10px;
    width: 10%;
}

.modal.catchup-dialog > .modal-header{
    background-color: blue;
}

.catchup-username {
    width: 48%;
    display: inline;
    float: left;
}
.catchup-limit {
    width: 21%;
    display: inline;
    float: right;
}
.catchup-learning-plan {
    width: 48%;
    display: inline;
    float: left;
}
hr {
    margin-top: 30px!important;
}
a.node-edit{
    /*background-position: 4px -21px;*/
    background-position-x: 4px !important;
    background-position-y: -21px !important;
    background: url("/themes/spt/images/popover-icons.png") no-repeat;
    padding-left: 30px;
    color: #333;
    cursor: pointer;
}

.orange{
    color: orange;
}
.hidden {
    display: none;
}
.checkbox-catchup-container {
    float: left;
    display: inline-block;
    margin-top: 3px;
}
.notify.checkbox {
    margin-bottom: 3px;
}




