.lp-csp-error-message-container .assign-course-csp-error-icon {
	text-align: center;
}
.lp-csp-error-message-container .assign-course-csp-error-message {
	padding-top: 20px;
}
.lp-csp-error-message-container ul {
	list-style: none;
	margin-left: 0;
	padding-left: 15px;
	text-indent: -10px;
}
.lp-csp-error-message-container li:before {
	content: "-";
	display: block;
	float: left;
	width: 10px;
}