<!-- Asset action buttons -->
<ul class="asset-actions">
	<li ng-repeat="action in actions">
		<span ng-if="action.action_uid === 'invite'" ng-click="$openModal(action.action_params.asset_id)">
			<i class="fa  {{getMenuClass(action.action_uid)}} "></i>
		</span>
	</li>
</ul>