<div class="asset-details" ng-show="dataIsLoaded" ng-cloak>
	<div class="asset-meta-wrapper">
		<div class="meta-details">
			<div class="title-details">
				<h1>{{details.title}}</h1>
				<div class="author-avatar">
					<img width="42px" height="42px" class="avatar-thumb" ng-src="{{details.avatar}}" alt="author thumbnail" />
				</div>
			</div>
			<div class="asset-metas">
				<span>{{ 'by' | translate }}</span>
				<a href="{{details.owner_channel_url}}" class="asset-owner">{{details.owner}}</a>
				<span>{{details.total_views}} {{ 'views' | translate }}</span>
				<span> - {{details.uploaded_date}}  {{ 'ago' | translate }} </span>
			</div>
		</div>
		<!-- applicable on view mode -->
		<div class="content-toggle" data-mode="view">
			<div class="asset-description container-line">
				<div ng-bind-html="details.description"></div>
			</div>
			<div class="asset-description-mobile container-line">
				<div dd-text-collapse dd-text-collapse-max-length="150" dd-text-collapse-text="{{ details.description }}"></div>
				
			</div>
			<div class="asset-tags container-line" ng-show="details.tags">
				<ul>
					<li ng-repeat="tag in details.tags">
						{{tag}}
					</li>
				</ul>
			</div>
			<div class="asset-channels container-line" ng-show="details.channels">
				<ul>
					<li ng-repeat="channel in details.channels">
						<a href="#/channel/{{channel.idChannel}}">{{channel.channel_name}}</a>
					</li>
				</ul>
			</div>
		</div>	
	</div>
	
	<!-- Aassets actions -->
	<div class="asset-details-footer" >
			<!-- Asset rating -->
			<div class="rating-directive">
				<asset-rating></asset-rating>
				<div class="rated-check" data-rated="1">
					<!-- if asset rated  -->
					<span ng-if="ratingValue1>0" class="rated-value">{{ratingValue1}} / 5</span>
				</div>
			</div>
			
			<!-- Asset action buttons -->
	        <asset-actions> </asset-actions>
	</div>
</div>