<ul ng-class="details.canrate ? '' : 'readonly'" class="rating-directive"><!-- Add class readonly for deactivating -->
	<li ng-repeat="star in stars" class="star" ng-class="{filled: star.filled, half: star.half, empty: star.empty, hover: hoverValue > $index}" ng-click="toggle($index)" id="step-{{$index+1}}">
		<input type="radio" value="{{$index+1}}" id="star-{{$index+1}}" name="rating" />
		<label for="star-{{$index+1}}" class="fa star-label"></label>
	</li>
</ul>