<div class="asset-play-wrap">
	<div class="asset-player">
		<div class="asset-image-preview" ng-if="details.type == '7'">
			<img ng-src="{{urlIMG}}" alt="{{details.title}}" />
		</div>
		<div class="asset-video-preview" ng-if="details.type == '1'">
			<div class="asset-file" flowplayer fp-instance="asset-play">
			</div>
		</div>
	</div>
</div>