	<div class="col col-tile placeholder placeholder-wrap" ng-repeat="i in [1, 2, 3, 4, 5, 6]">
		<div class="col col-tile">
			<div class="tile-thumb">
				<div class="thumb-img"><i class="fa fa-spinner"></i></div>
			</div>
			<div class="tile-meta">
				<div class="main-metas">
					<span></span>
				</div>
				<a href='#' class="tile-title"></a>
				<div class="author-metas">
				</div>
			</div>
		</div>
	</div>