
<div class="popup modal-window">
	<div class="header-block" ng-hide="{{hideHeader}}">
		<div class="modal-close">
			<a href="" class="close-popup"><i class="fa icon-d_close"></i></a>
		</div>
		<div class="modal-title">
			<h3>{{modalTitle}}</h3>
		</div>
	</div>
	<div class="content-block-modal">
		<div ng-include="modalPartialView"></div>
	</div>
  </div>