<div class="docebo-navbar-wrapper display-block">
    <div class="navbar no-border mobile_header " ng-class="(isIphone == 'true') ? 'iphone-header' : ''" data-page="menu" style="color: {{navFont}};background-color:{{navColor}}">
		<div class="search-right-part">
			<div ng-class="($isSearchIconVisible() == true) ? 'global-search-visible' : 'global-search-invisible'">
				<span class="global-search" ng-click="$openGlobalSearch()">
					<i class="icon-d_search"></i>
				</span>
			</div>
		</div>
		<div class="menu-left-part">
		<div ng-class="($returnEnteredPage() == 'course' && !$hasLearningPlanId() || $returnEnteredPage() == 'viewAllChannels' || $returnEnteredPage() == 'learning_plan') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$back()">
				<i class="icon-d_back"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'course' && $hasLearningPlanId()) ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$backToLP()">
				<i class="icon-d_back"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'home') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-menu-hamburger" ng-click="$onButton1Click()">
				<i data-panel="left" class="open-panel icon-menu"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'learning_object') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-close-object" ng-click="$returnToCourse()">
				<i data-panel="left" class="icon-close"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'search') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$backToGlobalSearch()">
				<i class="icon-d_back"></i>
			</span>
		</div>
			<div ng-class="($returnEnteredPage() == 'myCourses') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-menu-hamburger" ng-click="$onButton1Click()">
				<i data-panel="left" class="open-panel icon-menu"></i>
			</span>
			</div>
        <span class="top-title" id="topTitle">{{ 'Dashboard' | translate }}</span>
    </div>
	<div ng-class="($returnEnteredPage() == 'learning_object') ? 'right-side-button display-block' : 'right-side-button'">
		<div ng-class="(lastLo) ? 'menu-right-part-invisible' : 'menu-right-part-visible'">
            <div class="unlock-all-next-button" ng-show="isLoCompleted && !lastLo">
                <div id="mobile-next-learning-object" ng-click="$nextLearningObject()">
			        <i id="mobile-next-arrow-unlock" class="icon-back"></i>
                </div>
            </div>
            <div class="lock-all-next-button" ng-show="!isLoCompleted && !lastLo">
                    <i id="mobile-next-arrow-lock" class="icon-back"></i>
                    <i id="mobile-lock" class="icon-lock-mobile"></i>
            </div>
		</div>
	</div>
    </div>
</div>


