<div class="publish-container panel panel-right panel-cover">
	<div class="header-block" style="color: {{navFont}};background-color:{{navColor}}">
		<h3 class="header-title"> {{ headertitle | translate }}</h3>
		<a href="" class="panel-close" ng-click="closePanels()" style="color: {{navFont}}"><i class="icon-d_back"></i></a>
	</div>
	<div class="content-asset-block">
		<!-- Include view  -->
		<ng-include src="view"></ng-include>	
    </div>
</div>