<div class="search-form-group">
    <div id="search-autocomplete-container" ng-class="(checkOS() == true) ? 'search-autocomplete-ios' : 'search-autocomplete-all'">
        <div class="icon-search-left">
            <span class="close-search" ng-click="closeSearch()">
                <i class="icon-d_back"></i>
            </span>
        </div>
        <div class="icon-search-right">
            <span id="reset-input-id" class="reset-input">
                <i class="icon-d_close"></i>
            </span>
        </div>
        <div class="search-list-block">
            <input type="text" placeholder="{{'Type here...' | translate}}" id="search-autocomplete-dropdown" ng-model="suggestionsModel" ng-keypress="enterSearchPressed($event)">
        </div>
    </div>
</div>

<div class="col-100 search-container-holder">
    <ul id="search-container" ng-show="showSuggestions">
        <li class="search-overlay-suggestions" ng-repeat="suggestion in suggestions track by $index" ng-show="isEmpty(suggestion)" ng-click="searchTrigger(suggestion)">{{suggestion}}</li>
    </ul>
</div>