<div class="card-container">
	<div class="tinderslide">
		<ul>
			<li class="swipe-card pane{{$index}}" data-pane="{{$index}}" ng-repeat="item in items" ng-class="{'last' : $first, 'first' : $last, 'next' : !$first && !$last}">
				<div class="cardimage-wrapper">
					<img ng-src="{{item.image}}" alt="card item" />
				</div>
				<div class="cardtext-wrapper">
					<div ng-bind-html="item.description"></div>
				</div>
				<div class="cardbutton-wrapper" ng-click="buttonHandler($index)">
					<button class="card-next">
						{{item.button_text}}
					</button>
				</div>
			</li>
		</ul>
	</div>
</div>