<div class="dashboard-tabs" ng-class="{'ios': isIphone}">
    <ul class="primaryMenu">
		<li ng-repeat="tab in items track by $index" ng-class="{active: $active == tab.action.replace('#/', '')}" class="column_{{items.length}}">
			<a id="tab-url" href="{{tab.action}}">
				<span class="tab-text">{{tab.title | translate}}</span> <span class="{{tab.icon}} tab-icon"></span>
			</a>
		</li>
	</ul>
</div>
