<div class="form-group details-asset row-visibility">
	<ul>
		<li ng-repeat="item in items" ng-click="$selectVisibility($event)" data="item_{{item.id}}">
			<div class="visibility-icon">
				<i class="{{item.icon}}"></i>
			</div>
			<div class="visibility-details">
				<h5>{{ item.title | translate }}</h5>
				<div class="visibility-description">
					{{ item.description | translate }}
				</div>
			</div>
			<input type="radio" value="{{item.type}}" name="visibility" ng-model="publishForm.visibility" ng-click="getVal()" id="radio_{{item.id}}" class="form-control radio-button" />
			<span class="visibility-check"><i class="icon-d_check"></i></span>
		</li>
	</ul>
</div>