/* 
    Created on : 02.03.2016, 11:12:24
    Author     : Kristian
*/

body.backdrop{
	&:after{
		background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1010;
		transition: background .3s linear;
	}
}
.tab-navigation{
	.additionLinksMenu{
		position: relative;
		z-index: 1011;
		margin: 0;
		top: -30px;
		right: 95px;
		padding: 0;
		li {
			display: block;
			position: absolute;
			width: 60px;
			height: 60px;
			line-height: 61px;
			text-align: center;
			border-radius: 50%;
			color: #fff;
			right: 0;
			font-size: 20px;
			background: #000;
			cursor: pointer;
			&.toggle {
				z-index: 1;
				background: #0465AC;
				transition: transform .3s linear;
				&.rotate{
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
			&.fa-cloud-upload {
				background: #5EBE5E;
				font-size: 28px;
			}
			&.askGuruButton.fa-stack{
				background: #5EBE5E;
				.fa-user{
					font-size: 15px;
				}
				.fa-comment-o{
					font-size: 32px;
				}
			}
			&:not(.toggle) {
				opacity: 0;
				display: none;
			}
			a{
				height: inherit;
				padding: 0;
				position: absolute;
				top: 0;
				width: inherit;
				z-index: 1;
			}
		}
		.tooltip{
			margin: 0;
			&.in{
				opacity: 1;
			}
			.tooltip-arrow{
				display: none;
			}
			.tooltip-inner{
				background: #595959;
				padding: 0 8px;
				height: 26px;
				line-height: 26px;
				font-size: 12px;
				font-weight: 700;
				white-space: nowrap;
				margin-left: -20px;
			}
		}
	}
}