/* 
    Created on : 11.03.2016, 15:19:45
    Author     : Kristian
*/

%modalDefaultStyle{
	min-height: auto;
	width: 834px;
	margin-left: -417px;
	.modal-header{
		/* Because from css -> site/colorschemeCss 
			background is setted by !important to #555
		*/
		background: #333333 !important;
		h3{
			font-weight: 400;
		}
	}
	.modal-body{
		min-height: auto;
		max-height: none;
	}
	.modal-footer{
		a, input.btn{
			@include app7020-button(black);
			padding: 0 15px;
			font-size: 14px;
			min-width: 100px;
			&.black{
				background: #333 !important;
			}
			&.green{
				background: #5EBE5E !important;
			}
			&:not(:first-of-type){
				margin-left: 15px;
			}
		}
	}
}