html,body{height:100%;width:100%;margin:0;padding:0;}
body{overflow:hidden;}
#wrapper{width: 100%;height: 100%;border: 0px none;margin:0;padding:0;overflow: hidden;}
#sco{width: 100%;height: 100% !important;border: 0px none;margin:0;padding:0;}

@media(max-width: 1024px){
    #wrapper{
        -webkit-overflow-scrolling:touch;
    }
}