@CHARSET "UTF-8";

/* Grid */
.transcripts-management-grid table .jq-checkbox.checked,
.list-view .items .jq-checkbox.checked {
	background: url("../images/icons_elements.png") no-repeat -195px -107px #F1F3F2;
}

.transcripts-management-grid table.items {
	border-width: 0 0 1px 0;
	border-color: #E4E6E5;
	border-style: solid;
	border-collapse: separate;
	position: relative;
	width: 100%;
}

.transcripts-management-grid table.items tr.even,
.transcripts-management-grid table.items tr.odd {
	background: #ffffff;
}

.transcripts-management-grid table.items tbody tr:hover td,
.transcripts-management-grid table.items tbody tr.selected td {
	background: url(../images/table-row-hover.jpg) repeat-x top left #f1f3f2;
}

.transcripts-management-grid table.items tbody tr:hover,
.transcripts-management-grid table.items tbody tr.selected:hover {
	background: none;
}

.transcripts-management-grid table.items tr td {
	border-top: 1px solid #E4E6E5;
	border-bottom: 1px solid #ffffff;
	border-left: none;
	border-right: none;
}

.transcripts-management-grid table.items th,
.transcripts-management-grid table.items th a {
	background: #ffffff;
	color: #0465ac;
	font-size: 13px;
	text-transform: uppercase;
	border: none;
	font-weight: 600;
	text-decoration: none;
}

.transcripts-management-grid table.items th a:hover {
	color: #0465ac;
}
.transcripts-management-grid table.items th,
.transcripts-management-grid table.items td {
	font-size: 12px;
	padding: 10px 4px;
	text-align: left;
	vertical-align: middle;
}
.transcripts-dashlet-filter table .filters {
	width: 100%;
}

.transcripts-dashlet-filter .filters {
	background: #f1f3f2;
	position: relative;
	border-bottom: 1px solid #fefefe;
	border-top: 1px solid #fefefe;
	line-height: 13px;
}

.transcripts-dashlet-filter .filters-wrapper {
	position: relative;
	width: 100%;
}

.transcripts-dashlet-filter .filters-wrapper > .filters {
	position: relative;
}

.transcripts-dashlet-filter .filters-wrapper > table.filters {
	width: 100%;
}

.transcripts-dashlet-filter .filters-wrapper {
	border-top: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
	margin: 7px 0 19px;
}

.transcripts-dashlet-filter .pager {
text-align: right;
}

/*Grid end*/
.transcripts-sprite {
	background: url(../../../../themes/spt/images/transcripts_sprite.png) no-repeat;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}

.transcripts-sprite.add-big-black {
	background-position: -5px -3px;
	width: 46px;
	height: 38px;
}

.transcripts-sprite.add-big-white {
	background-position: -56px -3px;
	width: 46px;
	height: 38px;
}

.transcripts-sprite.waiting-big-black {
	background-position: -3px -48px;
	width: 48px;
	height: 37px;
}

.transcripts-sprite.waiting-big-white {
	background-position: -54px -48px;
	width: 48px;
	height: 37px;
}

.transcripts-sprite.waiting-small {
	background-position: -4px -92px;
	width: 20px;
	height: 20px;
}

.transcripts-sprite.approve-small {
	background-position: -29px -92px;
	width: 20px;
	height: 20px;
}

.transcripts-sprite.reject-small {
	background-position: -54px -92px;
	width: 20px;
	height: 20px;
}

.transcripts-sprite.reload-small {
	background-position: -78px -92px;
	width: 20px;
	height: 20px;
}

.transcripts-sprite.menu-icon-black {
	background-position: -4px -118px;
	width: 20px;
	height: 20px;
}

.transcripts-sprite.menu-icon-white {
	background-position: -29px -118px;
	width: 20px;
	height: 20px;
}

.TranscriptsManagementPage .column-icon {
	width: 33px;
	padding: 6px 4px;
}

.TranscriptsManagementPage td.column-dates {
	white-space: nowrap;
}

.main-actions li span.notification {
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	text-shadow: 1px 1px 0 #000;
	padding: 6px;
	font-size: 11px;
	min-width: 14px;
	background-image: none;
	height: auto;
	width: auto;
	margin: inherit;
	font-weight: bold;
	text-align: center;
}

.main-actions li .new-activity span {
	background-image: url(../images/transcripts_sprite.png);
	background-position: -5px -3px;
	height: 38px;
	width: 46px;
	margin: 0 auto 7px;
}

.main-actions li:hover .new-activity span {
	background-image: url(../images/transcripts_sprite.png);
	background-position: -56px -3px;
}

.main-actions li .transcripts-waiting-approval span {
	background-image: url(../images/transcripts_sprite.png);
	background-position: -3px -48px;
	height: 37px;
	width: 48px;
	margin: 0 auto 7px;
}

.main-actions li:hover .transcripts-waiting-approval span {
	background-image: url(../images/transcripts_sprite.png);
	background-position: -54px -48px;
}

.filters_transcripts_management .group .input-label {
	padding-right: 7px;
	text-align: right;
	vertical-align: middle;
}

.filters_transcripts_management .group.filter-by-status .input-label
{
	padding-right: 2px;
	padding-top: 0px;
}

.filters_transcripts_management .group.filter-by-status td
{
	padding-top: 5px;
}

.filters_transcripts_management .group.filter-by-text #transcripts-grid-search
{
	padding-left: 5px;
}

.filters_transcripts_management .group.filter-by-status td label.checkbox-list-element
{
	padding-right: 25px;
}

.filters_transcripts_management .filter-by-user {
	border-left: none;
	padding-right: 0;
	width: auto;
}

.filters_transcripts_management .filter-by-text {
	border-right: none;
	padding-right: 0;
	width: auto;
}

.filters_transcripts_management .filter-by-text input {
	padding-right: 45px !important;
}

.filters_transcripts_management .grid-search-clear,
.filters_transcripts_user .grid-search-clear {
	position: absolute;
	top: 7px;
	right: 32px;
	opacity: 0.6;
}

.filters_transcripts_management .grid-search-clear.single,
.filters_transcripts_user .grid-search-clear.single {
	right: 10px;
}

.transcripts-dashlet-filter .filters {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* activity create/edit/delete dialogs specific styles */

.modal.modal-edit-activity {
	width: 770px;
}

.modal-edit-activity .modal-body {
	padding: 21px 18px 0px;
}

.modal-edit-activity .docebo-form.form-horizontal label.control-label,
.modal-delete-activity .docebo-form.form-horizontal label.control-label {
	font-weight: normal;
	word-break: break-all;
}

.modal-delete-activity .docebo-form.form-horizontal p.label-help-block {
	font-weight: normal;
	margin-top: 5px;
	font-size: 11px;
	color: #666666;
	display: inline;
}

.modal-edit-activity .edit-activity-userid {
	font-weight: bold;
	font-size: 15px;
}
.modal-edit-activity .edit-activity-username {
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
}

.modal-edit-activity .modal-body input[type="text"].long-input {
	width: 98%;
}
.modal-edit-activity .modal-body input[type="text"].small-input {
	width: 90px;
}

.modal-delete-activity .modal-body textarea {
	padding: 0 8px;
	color: #333333;
	width: 370px;
}


.filters_transcripts_management .group .checkbox-list-element,
.modal-edit-activity .radio-list-element,
.modal-delete-activity .radio-list-element {
	display: inline-block;
	vertical-align: middle;
	padding-right: 33px;
	padding-bottom: 10px;
	padding-top: 4px;
}

.modal-edit-activity .validity-period {margin-bottom: 10px;}
.modal-edit-activity .validity-period > input {margin: -2px 5px 0 0;}
.modal-edit-activity .valid-from,
.modal-edit-activity .valid-to {display: inline-block;}
.modal-edit-activity .valid-from {margin-right: 26px;}
.modal-edit-activity .valid-from label,
.modal-edit-activity .valid-to label {display: inline;margin-right: 8px;}
.modal-edit-activity .valid-from input,
.modal-edit-activity .valid-to input {width: 75px;}
.modal-edit-activity .validity-period input.edit-day-input {width: 130px;}

.modal-edit-activity .validity-period-error {width: 100%}
.modal-edit-activity .validity-period-error .valid-from-error {
	display: inline-block;
	width: 242px;

}

.modal-edit-activity .validity-period-error .valid-to-error {
	display: inline-block;
}

.modal-approve-activity .approve-text {
	font-size: 14px;
	margin-bottom: 12px;
}
.modal-approve-activity table {
	vertical-align: middle;
	font-size: 13px;
	padding-left: 5px;
}
.modal-approve-activity .approve-label {
	font-weight: normal;
}
.modal-approve-activity .approve-content {
	font-weight: bold;
	padding-left: 6px;
}


/* grid search form styles */

#transcripts-grid-search-form {
	/*text-align: right;*/
}

#transcripts-grid-search-form input[type="text"] {
	margin: 0;
	font-style: italic;
}

#transcripts-grid-search-form .control-group {
	padding: 10px;
}

#transcripts-management-grid .gridItemsContainer{
	display: inline;
}

.transcripts-management-grid td.edit-column
.transcripts-management-grid td.button-column-single {
	width: 22px;
}


.transcripts-management-grid tr.row-rejected td {
	color:#AAAAAA;
}

.transcripts-management-grid .grid-view .button-column-single > a {
	line-height: normal;
	background: none;
}

/* CSV import specific styles */

.form-import {}

.form-import .download-sample {
	float: right;
	line-height: 30px;
}

.form-import .download-sample a {
	text-decoration: underline;
}

.form-import .controls label,
.form-import .controls span,
.form-import .controls span label,
.form-import .controls input {
	display: inline-block;
	vertical-align: middle;
}

.form-import span.jq-radio,
.form-import span.jq-checkbox {
	margin-left: 0px;
	margin-right: 5px;
}

.form-import span label {
	margin-right: 25px;
}

.form-import input.manual-separator-input {
	width: 65px;
	margin-left: -20px;
}

.form-import .grid-view select {
	text-transform: none;
	width: auto !important;
}

.form-import .table-scroll th > p {
	margin-top: 18px;
}

.form-import input.csvform-input-text {
	height: 21px;
}
#TranscriptsRecord_score {
    width: 90px;
}
#input-filter-by-status-waiting-styler {
    margin-left: 10px;
}

div.transcripts-fields-grid .button-column{
	width: 65px !important;
	padding: 6px 0px 6px 4px !important;
}

div.transcripts-fields-grid .button-column a.edit-field{
	margin-left: 5px !important;
}
div.transcripts-fields-grid td.button-column-single{
	padding-left: 0px !important;
}
}

.transcripts-management-grid {
	margin-bottom: 55px;
}

.transcripts-management-grid .customDropdown {
	display: none;
	margin-right: 2px;
}

.transcripts-management-grid .customDropdown-widget .wrapper {
	border: none;
	background: none;
}

.transcripts-management-grid .customDropdown-widget .wrapper .awesomeIcon-dots::before {
	content: "\f141";
}

.transcripts-management-grid table tr:hover .customDropdown {
	display: block;
}

.transcripts-management-grid table tr td.controls {
	width: 50px;
}

.transcripts-management-grid table tr td.controls {
	padding:0px;
}

.transcripts-management-grid .customDropdown-widget .wrapper .listArray li div {
	min-width: 60px;
}

.transcripts-management-grid .customDropdown-widget .wrapper .listArray {
	right: -3px;
}
.transcripts-management-grid  .customDropdown-widget .wrapper .listArray li:not(:last-child) {
	border: none;
}

.transcripts-management-form #new_activity_button:hover,#transcripts-management-form #new_activity_button:focus {
	text-decoration: none;
	text-decoration-style: none;
}

[data-method="deleteActivity"] {
	color: red !important;
}

.modal-edit-activity .modal-body {
	max-height: none;
}

.modal-delete-activity {
	width: 600px;
}