i.admin-ico.transcripts,
i.home-ico.transcripts {background: url("../images/transcripts_sprite.png") no-repeat -4px -118px;width: 20px;height: 20px;margin:0 8px 0 2px;}
a:hover i.home-ico.transcripts {background-position: -29px -118px;}