/* 
    Created on : 24.09.2015, 17:05:30
    Author     : Kristian
*/

%actionButtons{
	ul[data-bootstro-id="customActionButtons"]{
		display: block;
		float: left;
	}
	li{
		position: relative;
		background: #f1f3f2 url("../images/main-actions-grad.jpg") repeat-x scroll left top;
		border: 1px solid #e4e6e5;
		float: left;
		margin-bottom: 13px;
		margin-right: 13px;
		overflow: hidden;
		vertical-align: top;
		box-sizing: border-box;
		&:hover{
			background-color: #666;
			span.fa, a {
				color: #fff;
			}
			a {
				background-color: #666 !important;
			}
		}

		span.fa{
			position: relative;
			font-size: 34px;
			display: table-cell;
			text-align: center;
			width: inherit;
			height: 50px;
			vertical-align: middle;
			/*padding: 20px 0 15px;*/
		}
		span.boxTitle{
			display: block;
			width: inherit;
			margin: 0;
				padding: 0 0 12px 0;
			.innerBoxTitle{
				display: table-cell;
				height: 45px;
				line-height: 15px;
				min-height: 45px;
				vertical-align: middle;
				width: inherit;
				margin: 0;
			}
		}
		a{
			font-family: "Open Sans";
			font-size: 13px;
			text-align: center;
			display: block;
			width: 84px;
			padding: 5px;
			text-decoration: none;
		}
	}
	.info{
		display: none;
		border: 1px solid #e4e6e5;
		float: left;
		overflow: hidden;
		min-height: 79px;
		width: 300px;
		padding: 10px;
		background: #f1f3f2 url("../images/main-actions-grad.jpg") repeat-x scroll left top;
		h4{
			padding-bottom: 10px;
			/*            display: block;*/
		}
	}
}
%sendAnswerButton{
	display: block;
	position: absolute;
	right: 27px;
	top: 70px;
	height: 33px;
	line-height: 32px;
	border: 0;
	background: #53ab54;
	color: #fff;
	font-size: 13px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 5;
	&.hide {
		display: none;
	}
}
