/* 
    Created on : 02.03.2016, 11:12:24
    Author     : Kristian
*/

%tab-navigation{
	.view-back-arrow{
		display: none;
	}
	.additionLinksMenu{
		position: relative;
		z-index: 1011;
		margin: 0;
		top: -30px;
		right: 95px;
		padding: 0;
		li {
			display: block;
			position: absolute;
			width: 60px;
			height: 60px;
			line-height: 61px;
			text-align: center;
			border-radius: 50%;
			color: #fff;
			right: 0;
			font-size: 20px;
			background: #000;
			cursor: pointer;
			
			&.fa-cloud-upload {
				background: #5EBE5E;
				font-size: 28px;
				opacity: 1;
				display: block;
			}
			&.askGuruButton.fa-stack{
				background: #5EBE5E;
				opacity: 1;
				display: block;
				.fa-user{
					font-size: 15px;
				}
				.fa-comment-o{
					font-size: 32px;
				}
			}
			
			a{
				height: inherit;
				padding: 0;
				position: absolute;
				top: 0;
				width: inherit;
				z-index: 1;
			}
		}
		.tooltip{
			margin: 0;
			&.in{
				opacity: 1;
			}
			.tooltip-arrow{
/*				display: none;*/
			}
			.tooltip-inner{
				background: #595959;
				/*padding: 0 8px;*/
				height: 26px;
				line-height: 26px;
				font-size: 12px;
				font-weight: 700;
				white-space: nowrap;
/*				margin-left: -20px;*/
			}
		}
	}
}