/* 
    Created on : 14.10.2015, 16:53:54
    Author     : Kristian
*/

.app7020ContributeBanner{
	border: 1px #E5E5E5 solid;
	padding: 15px;
	display: table;
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	position: relative;
	margin-bottom: 30px;
	.hintSection{
		display: table-cell;
		vertical-align: middle;
	}
	.placeholder{
		display: table-cell;
		background: url(../images/contribute_share_knowledge.png) no-repeat center center;
		width: 228px;
	}
}