/* 
    Created on : 26.04.2016, 15:07:11
    Author     : Kristian
*/

.app7020MyMostAssetsListView{
	&[data-app7020-gridcolumns="1"]{
		.items{
			border-bottom: 1px #E6E6E6 solid;
			.itemGrid{
				margin: 0;
			}
		}
	}
	.list-view{
		.pager{
			display: block;
			float: right;
			margin: 15px 0 0 0;
		}
		.summary{
			display: block;
			float: left;
			margin: 15px 0 0 0;
		}
	}

	.itemGrid{
		&:not(:first-child){
			border-top: 1px #E6E6E6 solid;
		}
		> a{
			display: table;
			width: 100%;
			box-sizing: border-box;
			padding: 15px 0;
			text-decoration: none;
			outline: none;
			text-shadow: none;
		}
		.counterIndex{
			display: table-cell;
			width: 50px;
			vertical-align: top;
			text-align: center;
			font-size: 14px;
			font-weight: 700;
			padding-top: 34px;
		}
		.thumb-wrapper{
			display: table-cell;
			width: 155px;
			vertical-align: top;
			position: relative;
			img{
				width: 100%;
			}
			.time{
				position: absolute;
				top: 10px;
				right: 10px;
				padding: 0 5px;
				background: #333;
				color: #fff;
				line-height: 21px;
			}
			.type{
				position: absolute;
				top: 54px;
				left: 10px;
				padding: 0 5px;
				font-size: 11px;
				background: #333;
				color: #fff;
				line-height: 21px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		.content-wrapper{
			display: table-cell;
			width: auto;
			vertical-align: top;
			padding-left: 25px;
			p.title{
				font-size: 14px;
				font-weight: 600;
				color: #0664aa;
				min-height: 29px;
			}
			.meta-info-wrapper{
				.section{
					float: left;
					width: 50%;
					.counter{
						font-size: 20px;
						font-weight: 400;
						color: #0664aa;
						.fa{
							font-size: 16px!important;
							position: relative;
							top: -1px;
						}
					}
					.title{
						font-size: 12px;
					}
				}
				.clearfix{
					margin-bottom: 5px;
				}
			}
		}
	}
}