/* 
    Created on : 25.11.2015, 16:28:55
    Author     : Kristian
*/

%app7020BootstrapTabsExtended{
	position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px #E5E5E5 solid;
	font-size: 0;
	li{
		margin: 0;
		display: inline-block;
		a{
			display: block;
			text-transform: uppercase;
			text-decoration: none;
			outline: none;
			color: #999;
			font-weight: 600;
			font-size: 14px;
			padding: 0 30px;
			height: 35px;
			line-height: 35px;
		}
		&.active{
			a{
				color: #0465AC;
			}
		}
		&.back-arrow{
			display: none;
		}
	}
	&.show-back{
		li{
			display: none;
			&.back-arrow{
				display: block;
				a{
					padding: 0 !important;
				}
				i{
					font-size: 50px;
					line-height: inherit;
				}
			}
		}
	}
}

.app7020BootstrapTabsExtended{
	@extend %app7020BootstrapTabsExtended;
}