/* 
    Created on : 12.11.2015, 14:07:59
    Author     : Kristian
*/

%app7020QuestionListView{
	#combo-list-form{
		.items{
			.itemGrid{
				@extend %app7020QuestionListViewItem;
				margin: 0;
			  	[data-method="question_delete"]{
				  color:#f00;
				}

			}
		}
		.list-view:not(.infinite-scroll-ext){
			.pager{
				margin: 20px 0 0 0;
				display: inline-block;
				float: right;
			}
			.summary{
				margin: 20px 0 0 0;
				display: inline-block;
				float: left;
			}
		}
	}
	&[data-prevent-pageBlank="false"]{
		.items .empty{
			display: none;
		}
	}
}
%app7020QuestionListViewItem{
	border-bottom: 1px #E6E6E6 solid;
	border-left: 1px #E6E6E6 solid;
	border-right: 1px #E6E6E6 solid;
	&:nth-child(odd){
		.media{
			background: #F8F8F8;
			.takeInChargeLabel, .tookInChargeLabel{
				background: #fff !important;
			}
		}
	}
	&[data-follow="true"]{
		.media{
			.questionTitle{
				&:before{
					font-family: 'FontAwesome';
					content: '\f06e';
					color: #0465AC;
					font-size: 15px;
					padding-right: 3px;
					display: inline-block;
				}
			}
		}
	}
	&[data-newAnswers="true"]{
		.media{
			.media-content{
				.fa-asterisk{
					margin-bottom: 10px;
					.app7020QuestionListView_newAnswersHint{
						display: inline-block;
					}
				}
			}
		}
		& ~ [data-newAnswers="true"]{
			.media{
				.media-content{
					.fa-asterisk{
						margin-bottom: 0;
						.app7020QuestionListView_newAnswersHint{
							display: none;
						}
					}
				}
			}
		}
	}
	.app7020GotItInformation{
		margin-top: 20px;
	}
	.media{
		overflow: visible;
		position: relative;
		padding: 17px 19px;
		margin: 0;
		&:hover{
			.takeInChargeLabel, .tookInChargeLabel{
				/*background: #fff !important;*/
			}
			.fa-bell-slash-o, .fa-bell-o,.fa-comment-o{
				display: block!important;
			}
			.media-body .customDropdown-widget{
				display: block;
			}
		}
		.signature{

		}
		.questionTitle{
			margin-bottom: 15px;
		}
		&.approved{
			.media-content{
				.text-widget-one-third {
					display: none;
				}

				.text{
					color: #666;
					font-size: 13px;
					line-height: 15px;
					margin: 0;
					text-shadow: none;
					border: 2px solid $green-color;
					padding: 15px 48px 15px;
					position: relative;
					min-height: 25px;
					word-wrap: break-word;
					margin-bottom: 10px;
					background: #fff;
					@media (max-width: 767px){
						padding: 15px 15px 15px 48px;
					}
					&.ellipsis {
						.croped-text {
							i.fa {
								color: $green-color;
								font-size: 30px;
								margin-right: 10px;
							}
							strong{
								font-weight: 800;
								color: $green-color;
							}
						}
					}
					&:before{
						color: #5ebe5d;
						content: "\f058";
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 31px;
						margin-right: 10px;
						position: absolute;
						left: 10px;
						top: 20px;
					}
				}
			}
		}

		.media-body{
			padding-left: 50px;
			padding-right: 70px;
			position: relative;
			padding-top: 3px;
			overflow: visible;
			.customDropdown-widget{
				display: none;
				position: absolute;
				right: 0;
				top: 0;
				.wrapper{
					margin-left: 0;
				}
			}
			.media-heading-link{
				text-decoration: none;
				outline: none;
				.media-heading{
					color: #0465AC;
					font-size: 14px;
					font-weight: 600;
					margin: 0;
				}
			}
			.media-information{
				font-size: 0;
				.by{
					font-size: 12px;
					color: #333;
					display: inline-block;
					line-height: 23px;
					padding-right: 25px;
					span{
						color: #1879c0;
						text-decoration: underline;
					}
				}
				.ago{
					font-size: 12px;
					color: #999;
					display: inline-block;
					line-height: 23px;
					padding-right: 12px;
				}
				.views{
					font-size: 12px;
					color: #999;
					display: inline-block;
					line-height: 23px;
					padding-right: 14px;
				}
				.relatedAsset{
					display: inline-block;
					padding-right: 12px;
					padding-left: 20px;
					position: relative;
					vertical-align: top;
					&:before{
						font-family: "FontAwesome";
						content: "\f0c1";
						display: block;
						position: absolute;
						left: 0;
						line-height: 23px;
						font-size: 14px;
					}
					a{
						max-width: 200px;
						line-height: 23px;
						display: inline-block;
						font-size: 12px;
						color: #1879c0;
						outline: none;
						overflow: hidden;
						text-overflow: ellipsis;
						vertical-align: top;
						text-decoration: underline;
						white-space: nowrap;
					}
				}
				.customTopics-widget{
					display: inline-block;
					line-height: 20px;
					vertical-align: top;
					.listArray{
						line-height: normal;
						li{
							background: #E4E6E5;
							height: 23px;
							line-height: 23px;
						}
					}
				}
			}
			.fa-bell-slash-o, .fa-bell-o{
				cursor: pointer;
				display: none;
				font-size: 22px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 30px;
			}
			.fa-comment-o{
				cursor: pointer;
				display: none;
				font-size: 22px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				right: 30px;
				text-align: center;
				top: 0;
				width: 30px;
				color:#186BAD;
			}
		}
		.media-content{
			padding-top: 13px;
			.text{
				margin-bottom: 10px;
			}
			.answer-date{
				padding-bottom: 10px;
				font-size: 11px;
				color: #999;
			}
			.fa-asterisk{
				display: inline-block;
				width: 22px;
				height: 22px;
				background: #5EBE5D;
				color: #fff;
				font-size: 11px;
				text-align: center;
				line-height: 22px;
				margin-left: 7px;
				position: relative;
				.app7020QuestionListView_newAnswersHint{
					display: none;
				}
			}
			.answerCountButton{
				outline: none;
				color: #0465AC;
				font-size: 12px;
				font-weight: 700;
				text-decoration: underline;
				text-transform: uppercase;
			}
			.new{
				background: #5FBD5C;
				color: #EEE;
				display: inline-block;
				font-size: 12px;
				font-weight: 700;
				line-height: 22px;
				padding: 0px 6px 1px;
				text-shadow: none;
				text-transform: uppercase;
				margin-right:14px;
			}
			.answerNowButton{
				outline: none;
				color: #5fbd5d;
				font-size: 12px;
				font-weight: 700;
				text-decoration: underline;
				text-transform: uppercase;
			}
			.no-answers-yet{
				display: inline-block;
			}
		}
		.media-additional{
			.takeInChargeLabel{
				display: table;
				width: 100%;
				box-sizing: border-box;
				border: 1px #E5E5E5 solid;
				background: #F8F8F8;
				height: 45px;
				position: relative;
				margin-top: 17px;
				&.disabled:after{
					background: rgba(255, 255, 255, 0.6) none repeat scroll 0 0;
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 1;
				}
				.fa-bullhorn{
					display: table-cell;
					vertical-align: middle;
					color: #E67F22;
					width: 43px;
					text-align: center;
				}
				> span{
					width: auto;
					display: table-cell;
					vertical-align: middle;
				}
				> a{
					display: table-cell;
					vertical-align: middle;
					color: #5fbd5d;
					text-decoration: underline;
					outline: none;
					width: 120px;
					text-align: center;
					font-size: 12px;
					font-weight: 700;
				}
			}
			.tookInChargeLabel{
				display: table;
				width: 100%;
				box-sizing: border-box;
				border: 1px #E5E5E5 solid;
				background: #F8F8F8;
				height: 65px;
				margin-top: 17px;
				> span{
					width: auto;
					display: table-cell;
					vertical-align: middle;
					padding-left: 15px;
				}
				.guruInfo{
					width: 300px;
					display: table-cell;
					vertical-align: middle;
					.signature{
						display: table-cell;
						float: none;
						vertical-align: middle;
						width: 40px;
					}
					.text{
						display: table-cell;
						vertical-align: middle;
						padding-left: 10px;
					}
					.fa-cloud-upload{
						color: #5EBF60;
						display: table-cell;
						vertical-align: middle;
						width: 65px;
						text-align: center;
						font-size: 27px;
						cursor: pointer;
					}
					.tooltip{
						.tooltip-inner{
							white-space: nowrap;
							font-size: 12px;
							padding-bottom: 2px;
							padding-top: 1px;
							line-height: 16px;
						}
					}
				}
			}
		}
	}
}

.app7020QuestionListView{
	@extend %app7020QuestionListView;
}

/*DONT DO THIS AGAIN THIS IS ONLY FOR FEW DAYS*/