/* 
    Created on : 15.10.2015, 19:46:14
    Author     : Kristian
*/
%app7020RadioSwitches{
	margin-bottom: 25px;
	[id^=switch-],[id^=permissions]{
		display: block;
		background: #F1F3F2;
		border-top: 1px #E5E5E5 solid;
		border-bottom: 1px #E5E5E5 solid;
		box-shadow: inset 0 0 0 1px #fff;
		height: 50px;
		line-height: 50px;
		padding: 0 17px;
		input{
			display: none;
		}
		input+label{
			display: inline-block;
			padding-left: 22px;
			position: relative;
			margin: 0;
			&:not(:last-of-type){
				margin-right: 30px;
			}
			&:before{
				font-family: "FontAwesome";
				content: '\f10c';
				font-size: 19px;
				display: inline-block;
				color: #333;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		input:checked+label{
			&:before{
				content: '\f05d';
			}
		}
	}

}

.app7020RadioSwitches{
	@extend %app7020RadioSwitches;
}