/* 
    Created on : Jan 26, 2016, 1:55:01 PM
    Author     : Станимир

	This placeholder define vertical align to any content 
*/
%ap7020-table-vertical-align {
	&{
		width: 100%;
		height: 100%;
		display: table;
		> .table-row, > .asset-table-row {
			display: table-row;
			>.table-cell, > .asset-table-cell {
				display: table-cell;
				vertical-align: middle;

			}
		}
	}
}
