/* 
    Created on : 14.10.2015, 16:20:07
    Author     : Kristian
*/

%app7020NavigationMenu{
	ul{
		list-style-type: none;
		li{
			border-top: 1px #F1F3F2 solid;
			position: relative;
			&:last-child{
				border-bottom: 1px #F1F3F2 solid;
			}
			a{
				display: block;
				height: 35px;
				line-height: 35px;
				background: #F1F3F2;
				font-size: 13px;
				color: #333;
				border-top: 1px #fff solid;
				border-bottom: 1px #fff solid;
				@include transition(all .1s);
				outline: none;
				text-decoration: none;
				text-shadow: none;
				padding-left: 14px;
				&:hover{
					background: #333;
					color: #fff;
					.fa{
						color: #fff;
					}
				}
				span.badge {
					position: reletive;
					float: right;
					margin-right: 10px;
					background-color: $green-color;
					webkit-border-radius: 0;
					border-radius: 0;
					padding-right: 5px;
					padding-left: 4px;
					text-shadow: none;
					margin-top: 8px;
				}
			}
			&.active{
				a, .fa{
					color: #fff;
					background: #333;
				}
			}
		}
	}
}
%app7020TabsPlus{
	ul{
		li{
			a{
				.badge{
					line-height: 18px;
					white-space: nowrap;
					padding: 0 5px;
					color: #fff;
					font-weight: 600px;
					background: #5EBC5B;
					@include border-radius(0);
					text-shadow: none;
					&.show{
						display: inline-block;
					}
					&.hide{
						display: none;
					}
				}
			}
		}
	}
	> .tab-content{
		overflow: visible;
	}
}
#app7020NavigationMenu{
	@extend %app7020NavigationMenu;
}
#app7020TabsPlus{
	@extend %app7020TabsPlus;
}