/* 
    Created on : 27.04.2016, 15:57:24
    Author     : Kristian
*/

.app7020ActivityChannels{
	margin-bottom: 50px;
	table{
		width: 100%;
		table-layout: auto;
		border-top: 1px #E5E5E5 solid;
		border-bottom: 1px #E5E5E5 solid;
		border-collapse: unset;
		padding: 10px 0 14px 0;
		position: relative;
		tbody{
			tr{
				.title{
					text-align: right;
					font-size: 13px;
					font-weight: 600;
					padding: 0 30px 0 0;
					vertical-align: middle;
					width: 30%;
				}
				.line-pre-wrapper{
					padding: 0;
					height: 24px;
					vertical-align: middle;
					.line-wrapper{
						display: block;
						height: 12px;
						position: relative;
						z-index: 2;
						.line-text{
							display: block;
							white-space: nowrap;
							position: absolute;
							line-height: 12px;
							width: 0;
							right: -3px;
							z-index: 2;
						}
					}
				}
				&.toggle{
					cursor: pointer;
					i{
						font-size: 18px;
						padding-left: 5px;
						position: relative;
						top: 2px;
						font-style: normal;
						&:before{
							font-family: "FontAwesome";
							content: "\f0d7";
						}
					}
				}
			}
		}
	}
	.grid-wrapper{
		position: relative;
		box-sizing: border-box;
		.separators{
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 70%;
			div{
				border-left: 1px #E5E5E5 solid;
				height: 100%;
				position: absolute;
				z-index: 1;
				margin-left: -1px;
				&:nth-child(1){
					left: 0%;
				}
				&:nth-child(2){
					left: 25%;
				}
				&:nth-child(3){
					left: 50%;
				}
				&:nth-child(4){
					left: 75%;
				}
				&:nth-child(5){
					left: 100%;
				}
				span{
					width: 50px;
					position: absolute;
					right: -25px;
					bottom: -20px;
					display: block;
					text-align: center;
				}
				&:last-child{
					span{
						text-align: right;
						right: 0;
					}
				}
			}
		}
	}
	&.in{
		tr{
			&.hide{
				display: table-row;
			}
			&.toggle{
				.title span, .line-pre-wrapper{
					display: none;
				}
				i{
					&:before{
						content: "\f0d8";
					}
				}
			}
		}
	}
}