/* 
    Created on : 14.10.2015, 22:47:32
    Author     : Kristian
*/

%app7020ContentListView{

	/*GLOBAL FOR ALL ITEMS*/
	.list-view{
		.items{
			.itemGrid{
				.knowledgeLibraryControls{
					[data-method="delete"]{
						color: #ff0000;
					}
				}
				a:hover{
					.knowledgeLibraryControls{
						display: block !important;
					}
				}
				.item{
					@extend %contentBoxItem;
				}
			}
		}
		.summary{
			margin: 17px 0 0 0;
			display: inline-block;
			float: left;
		}
		.pager{
			margin: 17px 0 0 0;
			display: inline-block;
			float: right;
		}
		&.list-view-loading{
			background: none;
			&:before {
				background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll 0 0;
				height: 20px;
				margin-top: -20px;
				margin-left: -22px;
				position: absolute;
				width: 20px;
			}
		}
	}
	&[data-prevent-pageBlank="false"]{
		.list-view .items .empty{
			display: none;
		}
	}

	/*LIST VIEW 1 ITEM PER ROW*/
	&[data-app7020-gridColumns="1"]{
		.items{
			.itemGrid{
				margin-left: 0;
				&:nth-child(-n+2){
					.item{
						margin-top: 0;
					}
				}
				> a{
					text-decoration: none;
					outline: none;
					display: block;
					transition: all .3s;
					&:hover{
						background: #F8F8F8;
						.content h4{
							color: #468cbf;
						}
					}
				}
				.item{
					border: 1px #E5E5E5 solid;
					font-size: 0;
					margin-top: 12px;
					.thumb{
						float: left;
						width: 140px;
					}
					.content{
						margin-left: 140px;
						padding: 10px 8px 0;
						h4{
							min-height: auto;
						}
					}
					.footer{
						margin-left: 140px;
						padding: 0px 8px 0;
						.by{
							display: inline-block;
						}
						.info{
							display: inline-block;
							padding-left: 15px
						}
					}
				}
			}
		}
	}
	/*LIST VIEW 3 ITEMS PER ROW*/
	&[data-app7020-gridColumns="3"]{
		.items{
			> .clearfix{
				display: none;
				@media(min-width: 600px){
					&:nth-child(6n){
						display: block;
					}
				}
				@media(max-width: 599px) and (min-width: 380px){
					&:nth-child(4n){
						display: block;
					}
				}
			}
			.itemGrid{
				a{
					text-decoration: none;
					outline: none;
				}
				@media(min-width: 980px){
					&:nth-child(6n+1){
						margin-left: 0;
						padding-right: 8px;
					}
					&:nth-child(6n+3){
						padding-right: 4px;
						padding-left: 4px;
					}
					&:nth-child(6n+5){
						padding-left: 8px;
					}
					&:nth-child(-n+6){
						.item{
							margin-top: 0;
						}
					}
				}
				@media(max-width: 979px) and (min-width: 600px){
					&:nth-child(-n+6){
						.item{
							margin-top: 0;
						}
					}
					&:nth-child(6n+1){
						margin-left: 0;
					}
				}
				@media(max-width: 767px) and (min-width: 600px){
					width: 31.4917%;
					margin-left: 2.76243%;
					float: left;
				}
				@media(max-width: 599px) and (min-width: 380px){
					&:nth-child(-n+4){
						.item{
							margin-top: 0;
						}
					}
					&:nth-child(4n+1){
						margin-left: 0;
					}
					width: 48.9362%;
					margin-left: 2.12766%;
					float: left;
				}
				@media(max-width: 379px){
					float: none;
					max-width: 250px;
					margin: 0 auto;
				}
				.item{
					border: 1px #E5E5E5 solid;
					.footer{
						padding-bottom: 10px;
					}
				}
			}
		}
	}
	/*LIST VIEW 4 ITEMS PER ROW*/
	&[data-app7020-gridColumns="4"]{
		.items{
			> .clearfix{
				display: none;
				@media(min-width: 980px){
					&:nth-of-type(8n){
						display: block;
					}
				}
				@media(max-width: 979px) and (min-width: 600px){
					&:nth-child(6n){
						display: block;
					}
				}
				@media(max-width: 599px) and (min-width: 380px){
					&:nth-child(4n){
						display: block;
					}
				}
			}
			.itemGrid{
				a{
					text-decoration: none;
					outline: none;
				}
				@media(min-width: 980px){
					&:nth-child(8n+1){
						margin-left: 0 !important;
					}
				}
				@media(max-width: 979px) and (min-width: 600px){
					&:nth-child(6n+1){
						margin-left: 0 !important;
					}
				}
				@media(max-width: 599px) and (min-width: 380px){
					&:nth-child(4n+1){
						margin-left: 0 !important;
					}
				}
				.item{
					border: 1px #E5E5E5 solid;
					.footer{
						padding-bottom: 10px;
					}
				}
				@media (max-width: 979px) and (min-width: 600px){
					width: 31.4917%;
					margin-left: 2.76243%;
					float: left;
				}
				@media (max-width: 599px) and (min-width: 380px){
					width: 48.9362%;
					margin-left: 2.12766%;
					float: left;
				}
				@media(max-width: 379px){
					float: none;
					max-width: 250px;
					margin: 0 auto;
				}
			}
		}
	}
}
.app7020ContentListView{
	@extend %app7020ContentListView;
	/* DEFAULT SEARCH BLANK TEMPLATE STYLE */
	.app7020ContentListView_searchBlank{
		.defaultSearchBlankTemplate{
			.gurusSection{
				margin-top: 23px;
			}
			.expertLinkSection{
				margin-top: 27px;
				.askGuruBtn{
					@include app7020-button(green);
					padding: 0 25px;
				}
			}
		}
	}
}