/* 
    Created on : 27.10.2015, 15:38:57
    Author     : Kristian
*/

%app7020SearchEngine{
	display: table;
	width: 37px;
	margin: 0;
	padding: 0;
	height: 37px;
	box-sizing: border-box;
	float: right;
	.app7020SingleSearchEngine-field{
		display: table-cell;
		vertical-align: middle;
		height: inherit;
		float: right;
		padding: 0;
		margin: 0;
		font-size: 13px;
		width: 0;
		border: 0px #E5E5E5 solid;
		box-sizing: border-box;
	}
	.app7020SingleSearchEngine-button{
		display: table-cell;
		vertical-align: middle;
		height: inherit;
		width: 37px;
		min-width: 37px;
		max-width: 37px;
		background: #333;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		text-align: center;
	}
	.app7020SingleSearchEngine-closeButton{
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		top: 1px;
		right: 37px;
		position: absolute;
		color: #555;
		display: none;
		&:hover{
			cursor: pointer;
			color: #333;
		}
	}
	&.in{
		width: 100%;
		.app7020SingleSearchEngine-field{
			@include transition(width .3s linear);
			border: 1px #E5E5E5 solid;
			padding: 0 7px;
			width: 100%;
			min-width: 100px;
		}
		.app7020SingleSearchEngine-closeButton{
			display: block;
		}
	}
}
.app7020SingleSearchEngine{
	@extend %app7020SearchEngine;
}