/* 
    Created on : 20.10.2015, 16:22:50
    Author     : Kristian
*/

%app7020ContributeBrowseSection{
	border: 1px #E5E5E5 solid;
	background: #F8F8F8;
	padding: 16px 12px;
	.inner-section-wrapper{
		border: 1px #EAEAEA solid;
		padding: 28px 16px;
		background: #fff;
		text-align: center;
		.item-section{
			width: 150px;
			display: inline-block;
			i{
				font-size: 44px;
				color: #0465AC;
				padding-bottom: 11px;
			}
			p{
				color: #0465ac;
				font-size: 14px;
				font-weight: 600;
				margin-bottom: -3px;
			}
			a{
				@include app7020-button(blue);
				display: block;
				height: 33px;
				line-height: 33px;
				font-size: 14px;
				margin-top: 21px;
			}
		}
	}
}

.app7020ContributeBrowseSection{
	@extend %app7020ContributeBrowseSection;
}