/* 
    Created on : 02.11.2015, 16:47:32
    Author     : Kristian
*/

%app7020FancyTreeFilterContainer{
	.wrapper{
		display: table;
		width: 100%;
		box-sizing: border-box;
		background: #F1F3F2;
		box-shadow: inset 0 0 0 1px #fff;
		border-top: 1px #F1F3F2 solid;
		border-bottom: 1px #F1F3F2 solid;
		padding: 8px;
		.selectActions{
			display: table-cell;
			vertical-align: middle;
			p{
				margin: 0;
				line-height: 16px;
				&.info{
					span{
						font-weight: 700;
					}
				}
				a{
					outline: none;
					color: #3b80b7;
					text-decoration: underline;
					display: inline-block;
					font-weight: 600;
				}
			}
		}
		.selectLegent{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			i{
				background-image: url('../images/icons_elements.png');
				width: 17px;
				height: 17px;
				padding-right: 6px;
				&:not(:first-of-type){
					margin-left: 15px;
				}
				&.icon-yes{
					background-position: -167px -201px;
				}
				&.icon-no{
					background-position: -144px -201px;
				}
				&.icon-descandants{
					background-position: -190px -201px;
				}
			}
		}
		.searchField{
			display: table-cell;
			vertical-align: middle;
			text-align: right;
			width: 260px;
			.searchWrapper{
				display: inline-block;
				position: relative;
				#fancyTreeSearchInput{
					margin: 0;
					height: 33px;
					padding: 0 55px 0 10px;
					box-sizing: border-box;
					width: 260px;
					border: 1px #E4E6E5 solid;
				}
				i{
					background-image: url('../images/icons_elements.png');
					width: 20px;
					height: 20px;
					position: absolute;
					cursor: pointer;
					&.clear{
						background-position: -194px -128px;
						right: 31px;
						top: 7px;
					}
					&.search{
						background-position: -118px -109px;
						right: 9px;
						top: 8px;
					}
				}
			}
		}
	}
}

.app7020FancyTreeFilterContainer{
	@extend %app7020FancyTreeFilterContainer;
}