/* 
    Created on : 04.11.2015, 14:41:25
    Author     : Kristian
*/

%app7020ModalDefaultStyle{
	min-height: auto;
	.modal-header{
		h3{
			font-weight: 400;
		}
	}
	.modal-body{
		min-height: auto;
		max-height: none;
	}
	.modal-footer{
		a{
			@include app7020-button(black);
			line-height: 33px;
			height: 33px;
			padding: 0 15px;
			font-size: 14px;
			min-width: 100px;
			&.black{
				background: #333 !important;
			}
			&.green{
				background: #5EBE5E !important;
			}
			&:not(:first-of-type){
				margin-left: 15px;
			}
		}
	}
}