/* 
    Created on : 14.10.2015, 16:51:05
    Author     : Kristian
*/

.app7020DefaultStyles{
	@media (max-width: 767px){
		padding-right: 20px;
	}
	.app7020-headline {
		color: #333;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 10px;
		padding-bottom: 8px;
		border-bottom: 1px #E5E5E5 solid;
		span{
			color: #5FBD5D;
		}
	}
	
	.app7020-button-hideThis{
		/* <i class="fa fa-times app7020-button-hideThis"></i> */
		cursor: pointer;
		display: block;
		font-size: 18px;
		height: 20px;
		line-height: 20px;
		position: absolute;
		right: 10px;
		text-align: center;
		top: 10px;
		width: 20px;
		&.vertical-center{
			margin-top: -10px;
			top: 50%;
		}
	}
	.clearWatchedButton{
		display: inline-block;
		float: right;
		font-size: 13px;
		text-decoration: underline;
		font-weight: 400;
		color: #0465AC;
		cursor: pointer;
	}
	.app7020SearchHeadline{
		border-bottom: 1px #E5E5E5 solid;
		margin-bottom: 10px;
		display: none;
		.searchLabel{
			color: #333;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 7px;
			display: none;
			float: left;
		}
		.searchCount{
			float: right;
			.countValue, .countLabel{
				display: inline-block;
				font-weight: 400;
				font-size: 13px;
				color: #333;
			}
		}
	}
	.app7020GotItInformation{
		display: table;
		width: 100%;
		box-sizing: border-box;
		height: 56px;
		border: 2px #F5AF40 solid;
		> span{
			display: table-cell;
			vertical-align: middle;
			padding: 0 15px;
			line-height: 15px;
		}
		.gotIt{
			display: table-cell;
			vertical-align: middle;
			width: 80px;
			text-align: center;
			color: #1879c0;
			text-decoration: underline;
		}
	}
	.go-to-top {
		display: none;
		width: 80px;
		height: 80px;
		position: fixed;
		bottom: 50px;
		left: 77%;
		background-color: rgba(0,0,0,0.5);
		cursor: pointer;
		cursor: hand; 
		@media (min-width: 980px) and (max-width: 1500px) {
			left: 83%;
		}
		&:hover {
			background-color: rgba(0,0,0,0.6);
		}
		&:before {
			font-family: 'FontAwesome';
			content: '\f106';
			font-size: 43px;
			font-weight: 400;
			text-shadow: none;
			position: absolute;
			margin: 25px;
			color: white;
		}
		
	}
}