/* 
    Created on : 13.01.2016, 16:20:59
    Author     : Kristian
*/

.app7020AnalyticStatistics{
	@extend %analytic_trackInvitation;
}

%analytic_trackInvitation{
	.analytic_manageInvitations{
		display: table;
		width: 100%;
		box-sizing: border-box;
		height: 100px;
		> div{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			&.totalInvitedPeople,
			&.globalWatchRate,
			&.avgReactionTime{
				i{
					font-size: 30px;
				}
				.count{
					color: #0465AC;
					font-weight: 500;
					font-size: 28px;
					margin: 13px 0 5px 0;
					min-height: 22px;
					span{
						color: #333;
						text-transform: lowercase;
						font-size: 16px;
					}
				}
				.text{
					margin: 0;
				}
			}
			&.globalInvitationsBreakdown{
				box-sizing: border-box;
				padding-right: 70px;
				width: 250px;
				.text{
					display: inline-block;
					height: 97px;
					vertical-align: top;
					position: relative;
					.wrapper{
						display: table-cell;
						height: inherit;
						vertical-align: middle;
						text-align: right;
						line-height: 13px;
						padding-right: 6px;
						p{
							margin: 0;
						}
					}
					.fa{
						color: #ccc;
						font-size: 25px;
						position: absolute;
						right: -69px;
						top: 35px;
						z-index: -1;
					}
				}
				.jsCounterWrapper{
					display: inline-block;
					position: relative;
					#jsCounter{

					}
					#jsCounterTooltip{
						position: absolute;
						width: 65px;
						color: #fff;
						box-sizing: border-box;
						span{
							display: none;
							font-size: 12px;
							padding-top: 4px;
							line-height: 12px;
						}
						p{
							font-size: 18px;
							font-weight: 600;
						}
						&.watched{
							position: absolute;
							top: 10px;
							right: -70px;
							background: #5EBE5E;
							padding: 3px;
							.watchedLabel{
								display: block;
							}
						}
						&.notWatched{
							position: absolute;
							left: -65px;
							top: 80px;
							background: #333;
							padding: 3px;
							.notWatchedLabel{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
