/* 
    Created on : 05.10.2015, 18:58:29
    Author     : Kristian
*/

.app7020SideBar{
	width: 450px;
	z-index: 5000;
	background: #fff;
	position: fixed !important;
	height: 100%;
	right: 0;
	left: auto;
	margin: 0 !important;
	top: 0;
	overflow: hidden;
	.modal-header{
		position: relative;
		height: 50px;
		line-height: 50px;
		padding: 0 15px;
		background: #5EBE5D!important;
		border: 0;
		h3{
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			line-height: inherit;
		}
		.close{
			font-size: 23px;
			line-height: 49px;
			margin: 0;
		}
	}
	.modal-body{
		.app7020-container-sidebar{
			
		}
	}
}