/* 
    Created on : 13.07.2015, 10:55:15
    Author     : Kristian
*/

%channelTreeWidget{
    .widgetHeader{
        .title{
            margin: 0;
            font-size: 15px;
            font-weight: bold;
            .required{
                color: red;
            }
            .selected{
                font-weight: normal;
            }
        }
        .sub-title{
            color: #999;
            font-size: 11px;
        }
    }
    .widgetBody{
        border: 1px #E5E5E5 solid;
        background: #F9F9F9;
        padding: 15px 15px 5px 15px;

        .search{
            position: relative;
            .channelWidgetSearch {
                height: 35px;
                padding: 0 40px 0 10px;
                width: calc(100% - 50px);
                width: -webkit-calc(100% - 50px);
                width: -moz-calc(100% - 50px);
                margin: 0;
            }
            .fa{
                display: table-cell;
                height: 29px;
                padding-top: 6px;
                right: -1px;
                text-align: center;
                top: 1px;
                vertical-align: middle;
                width: 35px;
                font-size: 18px;
                position: absolute;
                cursor: pointer;
                transition: all .1s;
                &:hover{
                    color: #999;
                }
            }
        }

    }

}

[data-custom="channelWidgetContainer"]{
    @extend %channelTreeWidget;
	margin-bottom: 25px;
	#channnelsCheckList {
		display:block;
		margin-top: 20px;
		position: relative;
		height: 210px;
		overflow-y: auto;
		.mCSB_outside + .mCSB_scrollTools {
			right:-15px!important;
		}
		.checkbox-item-row {
			width: 100%;
			min-height: 26px;
		}
		.checkbox-item {
			input[type="checkbox"] {
				position: absolute;
				left: -9999px;
				visibility: hidden;
			}
			i {
				font-size: 18px;
				margin-right: 9px;
			}
			&.disabled {
				> label {
					color: #ccc;
				}
			}
			> label {
				padding-left: 25px;
				&:before {
					content: '  ';
					display: inline-block;
					width: 20px;
					height: 18px;
					background-image: url("../images/7020_checkboxes.png");
					background-repeat: no-repeat;
					background-position: 1px -0px;
					float: left;
					position: absolute;
					left: 0;
				}
				font-size: 13px;
				line-height: 18px;
			}
			> input[type="checkbox"] { 
				&:checked  + label {
					&:before {
						background-position: -40px -0px;
					}
				}
			} 
			&:after {
				clear: both;
			}
		}
		.sub-title {
			color: #999;
			font-size: 11px;
		}
	}
}
.mainFiltersPop{
	left: 0 !important;
	right: 0 !important;
	top: auto !important;
	max-width: none;
	z-index: 1021;
	border-radius: 0;
	box-shadow: none;
	border: 1px #e6e6e6 solid;
	.popover-content{
		font-size: 13px;
		display: table;
		width: 100%;
		box-sizing: border-box;
		padding-bottom: 20px;
		.table-row{
			box-sizing: border-box;
			display: table;
			width: 100%;
			padding: 0 15px;
			> div{
				display: table-cell;
				vertical-align: top;
			}
		}
		> div{
			> div {
				&:first-child{
					font-size: 0;
					white-space: nowrap;
					p {
						font-size: 13px;
						font-weight: 600;
					}
				}

				input {
					display: inline-block;
					margin: 0 10px 10px 0;
					outline: none;
					&[type="radio"] {
						visibility: hidden;
						opacity: 0;
					}
					& + label {
						&:before {
							color: #333;
							content: "\f10c";
							display: inline-block;
							font-family: "FontAwesome";
							font-size: 18px;
							margin: 1px 0 0 -22px;
							position: absolute;
						}
					}
					&:checked + label {
						&:before {
							content: "\f05d";
						}
					}
				}
				label {
					font-size: 13px;
					display: inline-block;
					margin: 0;
					color: #333;
					outline: none;
					.subData {
						color: #999;
						display: block;
						font-size: 12px;
						font-weight: 400;
						line-height: 12px;
					}
				}
			}
		}
		.rating{
			.fa{
				font-size: 17px;
				color: #f2c60d;
				&:last-child{
					margin-right: 5px;
				}
			}
		}

		.formButton{
			padding-top:18px;
			vertical-align: bottom;
			text-align: right;
			input{
				display: inline-block;
				height: 33px;
				color: #fff;
				text-transform: uppercase;
				font-size: 14px;
				padding: 0 25px;
				font-weight: 600;
				background: #53AB54;
				margin: 0;
				border: 0;
				&:hover{
					background: #3f9740;
				}
			}
			.close-dialog{
				color: #fff;
				text-transform: uppercase;
				font-size: 13px;
				padding: 0px 25px;
				background: #333 none repeat scroll 0% 0%;
				font-weight: 800;
				text-shadow: 0px 1px #444;
				margin-left:12px;
				display:inline-block;
				height:33px;
				line-height:33px;
			}
		}
		a.clearTopics{
			background: none;
			color: #468cbf;
			display: inline-block;
			float: right;
			height: auto;
			line-height: 20px;
			text-decoration: underline;
		}
		.widgetHeader{
			.title{
				font-size: 0;
				.selected{
					font-size: 13px;
					font-weight: 600;
				}
			}
			.sub-title{
				display: none;
			}
		}
		.widgetBody{
			background: none;
			border: 0;
			padding: 0;
			.fancytree-wrapper{
				min-height: 0;
				.fancytree-folder{
					.fancytree-expander{
						background:transparent;
						line-height:49px;
						&:before{
							content: "\f152";
						}
					}
					&.fancytree-expanded{
						.fancytree-expander{
							&:before{
								content: "\f150";
							}
						}

					}
				}
			}
		}
	}
	.arrow{
		display: none;
	}
}
.topicsFilterPop{
	max-width: none;
	z-index: 1021;
	border-radius: 0;
	box-shadow: none;
	border: 1px #e6e6e6 solid;
	.popover-content{
		font-size: 13px;
		display: table;
		width: 375px;
		box-sizing: border-box;
		padding-bottom: 13px;
		a.clearTopics{
			background: none;
			color: #468cbf;
			display: inline-block;
			float: right;
			height: auto;
			line-height: 20px;
			text-decoration: underline;
		}
		.widgetHeader{
			.title{
				font-size: 0;
				.selected{
					font-size: 13px;
					font-weight: 600;
				}
			}
			.sub-title{
				display: none;
			}
		}
		.widgetBody{
			background: none;
			border: 0;
			padding: 0;
			.fancytree-wrapper{
				min-height: 0;
			}
		}
		a.applyTopics{
			background: #53ab54;
			color: #fff;
			font-size: 13px;
			padding: 0 30px;
			text-transform: uppercase;
			border: 0;
			float: right;
			line-height: 33px;
			letter-spacing: 0.4px;
			font-weight: 600;
			outline: none;
			text-shadow: 1px 1px 0 #555;
			line-height: 33px;
			height: 33px;
			&:hover{
				background: #3f9740;
			}
		}
	}
	.arrow{
		display: none;
	}
	&.bottom{
		left: 0px !important;  
	}
} 