/* 
    Created on : 24.07.2015, 13:15:53
    Author     : Kristian
*/

/********* Example html Structure *********
 * <a href="#" data-custom="circle-avatar">
 * <img src="#">
 * </a>
*******************************************/

%circle_avatar{
	float: left;
	&:before{
		font-family: "FontAwesome";
		color: #E6513D;
		content: "\f111";
		display: none;
		position: absolute;
		font-size: 10px;
		width: 10px;
		height: 10px;
		margin-top: 33px;
		text-shadow: none;
	}
	&[data-status="online"]{
		&:before{
			color: #5EBF5E;
		}
	}
	img{
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: block;
		border: 0;
		max-width: 100%;
		vertical-align: middle;
		box-shadow: 0 0 3px 0 #ddd;
	}
}

[data-custom="circle-avatar"]{
	@extend %circle_avatar;
}