/* 
    Created on : 26.08.2015, 17:13:22
    Author     : Kristian
*/
/*depricated*/
%contentFileItem{
	border: 1px #E6E8E7 solid;
	background: #F8F8F8;
	&:not(:last-child){
		margin-bottom: 10px;
	}
	@include transition(all .1s);
	&:hover{
		cursor: pointer;
		background: #f0f0f0;
	}
	a{
		display: table;
		table-layout: fixed;
		width: 100%;
		box-sizing: border-box;
		text-decoration: none!important;
		> div{
			display: table-cell;
			vertical-align: middle;
			padding: 15px 0;
			&.iconType, &.iconDownload{
				font-size: 35px;
				width: 70px;
				min-width: 70px;
				text-align: center;
				@media (max-width: 767px){
					width: 50px;
					min-width: 50px;
				}
			}
			&.content{
				p{
					margin: 0;
					font-weight: 600;
					&.filename{
						color: $edit-color;
						text-decoration: underline;
						word-wrap: break-word;
					}
				}
			}
		}
	}

}


%contentFileItemNew{
	//margin-top: 29px;
	background: #F8F8F8;
	border: 1px solid #E5E5E5; 
	height: 425px;
	.contentFileItemRow {
		display: table;
		height: 100%;
		width: 100%;
		.contentFileItemVertical {
			vertical-align: middle;
			height: 100%;
			display: table-cell;
			text-align: center;
			> div {
				display: block;
			}
			.iconType{
				height: 124px;
				margin-bottom: 15px;
			}
		}
	}
	/*	.app7020Type-file{
			font-family: 'fontAwesome';
			color: #ccc;
			font-style: normal;
			line-height: 124px;
			display: block;
			&:before {
				content: "\f1c6"!important;
				font-size: 124px;
			}
			&:after {
				clear: both;
			}*/
	/*	}*/
	.iconType {
		i {
			line-height: 124px;
			font-size: 124px;
		}
	}
	.iconDownload {
		margin-top: 1px;
		margin-top: 5px;
	}
	.fa-download  {
		color: #0465AC;
		&:before {
			font-size: 28px;
		}
	}
	.downloadText{
		margin-top: 5px;
		a {
			color: #0465AC!important;
			text-transform: uppercase;
		}
	}
}

[data-custom="contentFileItem"]{
	@extend %contentFileItemNew;
}