/* 
    Created on : 26.08.2015, 16:33:30
    Author     : Kristian
*/

%contentTypeFontAwesome{
	font-family: 'fontAwesome';
	color: #333;
	font-style: normal;
	&.app7020Type-video{
		color: #0465AC;
		&:before{
			content: '\f1c8';
		}
	}
	&.app7020Type-doc{
		&:before{
			content: '\f016';
		}
	}
	&.app7020Type-excel{
		color: #1D7044;
		&:before{
			content: '\f1c3';
		}
	}
	&.app7020Type-ppt{
		&:before{
			content: '\f1c4';
		}
	}
	&.app7020Type-pdf{
		color: #E84C3D;
		&:before{
			content: '\f1c1';
		}
	}
	&.app7020Type-text{
		&:before{
			content: '\f0f6';
		}
	}
	&.app7020Type-images{
		color: #FF553E;
		&:before{
			content: '\f1c5';
		}
	}
	&.app7020Type-other{
		&:before{
			content: '\f016';
		}
	}
}
i[class*="app7020Type"]{
	@extend %contentTypeFontAwesome;
}