/* 
    Created on : 27.07.2015, 16:46:30
    Author     : Kristian
*/

%contentBoxItem{
	border: 1px #E5E5E5 solid;
    margin-top: 20px;
	border-radius: 0;
	background: #fff;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	.thumb{
		margin: 0;
		position: relative;
		.time{
			position: absolute;
			right: 10px;
			bottom: 10px;
			background: #333237;
			color: #eee;
			text-shadow: none;
			font-size: 13px;
			padding: 1px 5px;
			z-index: 2;
		}
		.classForDefaultExtensions{
			color: #eee;
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			line-height: 22px;
			padding: 0 6px 1px;
			position: absolute;
			text-shadow: none;
			text-transform: uppercase;
		}
		.count{
			@extend .classForDefaultExtensions;
			position: absolute;
			right: 10px;
			top: 10px;
			background: #5FBD5C;
		}
		.asterisk{
			@extend .classForDefaultExtensions;
			left: 10px;
			top: 10px;
			background: #5FBD5C;
			font-weight: 400;
			&:before{
				display: block;
				font-family: "FontAwesome";
				content: '\f069';
			}

		}
		.new{
			@extend .classForDefaultExtensions;
			right: 10px;
			top: 10px;
			background: #5FBD5C;
		}
		.watched{
			@extend .classForDefaultExtensions;
			right: 10px;
			top: 10px;
			background: #333;
		}
		.watched-drop, .unpublished-drop, .refused-drop{
			display: block;
			position: absolute;
			background: rgba(255,255,255,.6);
			top: 0;
			right: 0;
			content: "";
			bottom: 0;
			left: 0;
			z-index: 1;
		}
		.unpublished{
			@extend .classForDefaultExtensions;
			right: 10px;
			top: 10px;
			background: #333;
			z-index: 2;
		}
		.refused{
			@extend .classForDefaultExtensions;
			right: 10px;
			top: 10px;
			background: #E84C3D;
			z-index: 2;
		}
		.gurus{
			@extend .classForDefaultExtensions;
			left: 10px;
			top: 15px;
			background: transparent;
			.listArray{
				[data-custom="circle-avatar"]{
					img{
						box-shadow: 0 0 0 2px #fff;
					}
				}
				.additional{
					.count{
						background: #333 none repeat scroll 0 0;
						font-size: 12px;
						height: 20px;
						left: 35px;
						line-height: 19px;
						min-width: 15px;
						padding: 0 3px;
						font-weight: 400;
						right: auto;
					}
				}
			}
		}
	}
	.content{
		padding: 15px 15px 0;
		h4{
			font-size: 13px;
			color: #333;
			font-weight: 400;
			min-height: 30px;
			line-height: 15px;
			word-wrap: break-word;
		}
		@extend %rating-container;
		input[id^="content_rating"]{
			display: none;
		}
		ul{
			margin-top: 5px;
			text-align: left;
			.last{
				padding-left: 7px;
				font-size: 13px;
			}
		}
	}
	.footer{
		position: relative;
		padding: 4px 15px 5px;
		.by{
			margin: 0;
			font-size: 12px;
			span{
				font-size: 12px;
				color: #468cbf;
				text-decoration: underline;
				outline: none;
				cursor: pointer;
			}
		}
		.info{
			margin: 0;
			font-size: 12px;
			color: #ccc;
			span{
				display: inline-block;
				&:not(:first-child){
					padding-left: 10px;
				}
			}
		}
		.customDropdown-widget{
			position: absolute;
			right: 20px;
			bottom: 10px;
			display: none;
			z-index: 9999;
		}
	}
}
