/* 
    Created on : 24.07.2015, 14:16:45
    Author     : Ivanov
*/
%customTopics-widget{
	font-size: 13px;
	> ul{
		list-style-type: none;
		margin: 0 !important;
		padding: 0;
		border: 0;
		display: table;
		font-size: 0;
		line-height: normal;
		> li{
			display: inline-block;
			background-color: rgb(245, 245, 245);
			padding: 0 5px;
			vertical-align: middle;
			line-height: 22px;
			height: 22px;
			font-size: 13px;
			margin-bottom: 5px;
			&:not(:last-child){
				margin-right: 7px;
			}
			&.additional{
				position: relative;
				.count{
					font-weight: bold;
					height: 22px;
					cursor: pointer;
					line-height: 22px;
					
				}
				ul{
				    display: none;
				    padding: 0;
				    margin: 0;
				    position: absolute;
				    bottom: 25px;
				    left: 50%;
				    box-sizing: border-box;
				    margin-left: -50%;
					li{
						display: block;
						background-color: rgb(245, 245, 245);
						margin: 0;
						padding: 0 10px;
						white-space: nowrap;
					}
				}
				&:hover{
					ul{
						display: block;
					}
				}
			}
		}
	}
}

.customTopics-widget{
	display: inline-block;
	@extend %customTopics-widget;
}