/* 
    Created on : 24.07.2015, 14:16:45
    Author     : Kristian
*/
%customGuruCircles-widget{
	.listArray{
		list-style-type: none;
		margin: 0;
		padding: 0;
		border: 0;
		display: table;
		li{
			display: table-cell;
			vertical-align: middle;
			&:not([data-hide="true"]){
				&:not(:first-child){
					padding-left: 18px;
				}
			}
			&[data-hide="true"]{
				display: none;
			}
			&.additional{
				.count{
					display: inline-block;
					font-size: 14px;
					color: #fff;
					text-shadow: none;
					min-width: 24px;
					height: 24px;
					background: #343434;
					cursor: pointer;
					line-height: 23px;
					text-align: center;
				}
				.tooltip{
					&.top{
						margin-top: -10px;
						padding-bottom: 7px;
						.tooltip-arrow{
							margin-left: -7px;
							border-width: 7px 7px 0;
						}
					}
					&.left{
						margin-left: -11px;
						padding-right: 7px;
						.tooltip-arrow{
							border-width: 7px 0 7px 8px;
							margin-top: -7px;
						}
					}
					.tooltip-inner{
						padding: 4px 13px;
						.name{
							font-size: 12px;
							font-weight: 600;
							line-height: 13px;
							text-align: center;
							display: block;
							color: #fff;
							text-shadow: none;
						}
					}
				}
			}
		}
	}
	.tooltipHtml{
		display: none;
	}
}

.customGuruCircles-widget{
	display: inline-block;
	@extend %customGuruCircles-widget;
}