/* 
    Created on : 15.07.2015, 10:42:21
    Author     : Kristian
*/

%customDropdown-widget{
    display: block;
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    .wrapper{
        width: 28px;
        height: 28px;
        border: 1px #E6E6E6 solid;
        position: relative;
		background: #fff;
        .awesomeIcon-dots{
            width: inherit;
            height: inherit;
            &:before{
                font-family: "FontAwesome";
                font-size: 18px;
                color: #9A9A9A;
                content: "\f142";
                display: block;
                width: inherit;
                height: inherit;
                line-height: 29px;
                text-align: center;
            }
            &:hover{
                cursor: pointer;
                transition: all .1s;
                .listArray{
                    display: block;
                }
            }
        }
        .listArray{
            display: none;
            list-style-type: none;
            position: absolute;
            border: 1px #E6E6E6 solid;
            right: -1px;
            top: 28px;
			z-index: 1050;
            li{
                &:not(:last-child){
                    border-bottom: 1px #F5F5F5 solid;
                }
                div{
                    display: block;
                    min-width: 130px;
                    font-size: 13px;
                    font-family: "Open Sans";
                    font-weight: normal;
                    color: #333;
                    line-height: 30px;
                    padding: 0 10px;
                    background: #fff;
                    outline: none;
                    white-space: nowrap;
                    cursor: pointer;
                    text-decoration: none;
                    transition: all .1s;
                    opacity: 1 !important;
                    &:hover{
                        color: #222;
                        background: #F5F5F5; 
                    }

					&.link[data-method="delete"]{
						color: #ff0000;
					} 
                } 
            } 
        }
    }
}

.customDropdown-widget{
    @extend %customDropdown-widget;
}