/* 
    Created on : 02.07.2015, 10:48:41
    Author     : Kristian
*/
/*
Need to add class save-dialog and close-dialog in php

echo CHtml::submitButton('Confirm', array('class' => 'save-dialog'));
echo CHtml::button('Cancel', array('class' => 'close-dialog'));
*/
%dialog-buttons{
    .btn{
		@extend %dialog-buttons-btn;
        &.save-dialog,&.prev-button{
            background: #53AB54;
            margin-right: 10px;
        }
        &.close-dialog{
            background: #333333;
        }
        &:hover{
            opacity: .8;
        }
    }
}
.app7020-addnew-question-dialog .modal-footer{
    @extend %dialog-buttons;
}


%dialog-buttons-btn {
	    border-radius: 0;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        min-width: 90px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 1px 1px #333;
}