/* 
    Created on : 01.09.2015, 15:18:53
    Author     : Kristian
*/

%fadePlusSpinIconEffect{
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}
	@-webkit-keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}
	@-moz-keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}
	@-o-keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}
	&:before {
		background-color: rgba(255, 255, 255, 0.7);
		@include transition(all 1s);
		border: 1px solid transparent;
		content: "";
		display: block;
		height: 100%;
		left: -1px;
		position: absolute;
		top: -1px;
		width: 100%;
		z-index: 10;
	}
	&:after {
		animation: 2s linear 0s normal none infinite running spin;
		-webkit-animation: 2s linear 0s normal none infinite running spin;
		-moz-animation: 2s linear 0s normal none infinite running spin;
		-о-animation: 2s linear 0s normal none infinite running spin;
		color: #5fbd5d;
		content: "\f110";
		font-family: "FontAwesome";
		font-size: 40px;
		/*height: 46px;*/
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		/*width: 40px;*/
		z-index: 11;
	}
}
.fadePlusSpinIconEffect{
	@extend %fadePlusSpinIconEffect;
}