/* 
    Created on : 04.09.2015, 14:26:39
    Author     : Kristian
*/

%filterActions{
	position: relative;
	margin-bottom: 30px;
	.linksWrapper{
		box-sizing: border-box;
		display: table;
		width: 100%;
		li{
			display: table-cell;
			&:not(.fluid):not(.resize){
				width: 1%;
			}
			&.fluid{
				/*width: 100%;*/
			}
			&:not(:last-of-type){
				> *{
					margin-right: 10px;
				}
			}
			a{
				white-space: nowrap;
				@include app7020-button();
				&.focus{
					@include transition(all .2s linear);
					background: #333;
					color: #fff;
				}
			}
			.toggleGrid{
				.fa{
					font-size: 19px;
					line-height: 37px;
					display: none;
				}

				&[data-grid-switch='1']{
					.fa-list{
						display: block;
					}
				}
				&:not([data-grid-switch='1']){
					.fa-th{
						display: block;
					}
				}
			}
			&.resize{
				width: 1px;
				.fa-times{
					display: none;
				}
				&.in{
					.fa-times{
						color: #333;
						cursor: pointer;
						display: inline-block;
						font-size: 15px;
						font-weight: 400;
						position: absolute;
						right: 34px;
						top: 11px;
					}
				}
			}
			.search{
				margin: 0;
				width: inherit;
				display: none;
				box-sizing: border-box;
				height: 37px;
				border: 1px #E5E5E5 solid;
				padding-right: 25px;
			}
			.searchBtn{
				background: #333;
				color: #fff;
				font-size: 17px;
				line-height: 35px;
			}
			.green-BtnStyle{
				@include app7020-button(green);
			}
			.blue-BtnStyle{
				@include app7020-button(blue);
			}
		}
	}
}
.ie11 .search {
	position:relative;
	top:14px;
}
.ie11 #filterActions.app7020FilterGlobalClass .linksWrapper i.fa-times {
	top:25px; 
}
#filterActions{
	@extend %filterActions;
}