/* 
    Created on : 11.09.2015, 11:26:50
    Author     : Kristian
*/

%customGuruActivity-widget{
	display: inline-block;
	.wrapper{
		ul{
			margin: 0;
			list-style-type: none;
			display: block;
			li{
				float: left;
				display: block;
				&:not(:first-child){
					margin-left: 17px;
				}
				&.active{

				}
				a{
					display: block;
					text-align: left;
					text-decoration: none !important;
					outline: none;
					padding: 19px 20px 14px;
					position: relative;
					&[data-color="orange"]{
						i{
							background: #E67F22;
						}
						p{
							color: #E67F22;
						}
					}
					&[data-color="green"]{
						i{
							background: #5EBE5D;
						}
						p{
							color: #5EBE5D;
						}
					}
					&[data-color="blue"]{
						i{
							background: #0465AC;
						}
						p{
							color: #0465AC;
						}
					}
					.icon{
						display: table-cell;
					}
					.labels{
						display: table-cell;
						vertical-align: top;
						padding-left: 12px;
					}
					i{
						width: 55px;
						height: 55px;
						line-height: 55px;
						display: inline-block;
						color: #fff;
						text-align: center;
						font-size: 27px;
						border-radius: 50%;
						font-weight: 400;
					}
					p{
						margin: 0;
						text-transform: uppercase;
						font-size: 11px;
						font-weight: 700;
						&.count{
							font-size: 35px;
							font-weight: 400;
							margin-bottom: 5px;
						}
						&.title{
							margin-bottom: -7px;
							text-decoration: underline;
							span{
								color: #999;
								text-decoration: none;
							}
						}
						&.subTitle{
							text-decoration: underline;
							margin-bottom: 9px;
						}
					}
				}
			}
		}
	}
	&[data-is-tab="true"]{
		.wrapper ul li {
			a{
				border: 1px transparent solid;
				padding-top: 27px;
				padding-bottom: 9px;
				margin-bottom: 18px;
			}
			&.active{
				a{
					border: 1px #e4e4e4 solid;
					&[data-color="orange"]{
						@include activeLines-activityWidget(#E67F22);
					}
					&[data-color="green"]{
						@include activeLines-activityWidget(#5ebe5d);
					}
					&[data-color="blue"]{
						@include activeLines-activityWidget(#0465AC);
					}
				}
			}
		}
	}
}
.customGuruActivity-widget{
	@extend %customGuruActivity-widget;
}
#mydashboard{
	.dashlets-cell.span12{
		.customGuruActivity{
			width: 100%;
			ul{
				margin: 0;
				li{
					margin: 0;
					width: 33%;
				}
			}
			@media (max-width: 767px){
				ul li a{
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			@media (max-width: 700px){
				ul li{
					text-align: center;
					a{
						display: inline-block;
					}
					&:nth-of-type(1), &:nth-of-type(2){
						width: 50%;
					}
					&:nth-of-type(3){
						width: 100%;
					}
				}
			}
			@media (max-width: 520px){
				.wrapper{
					ul li{
						width: 100%;
						a{
							min-width: 180px;
						}
					}
				}
			}
		}
	}
	.dashlets-cell.span8{
		.customGuruActivity{
			width: 100%;
			ul{
				margin: 0;
				li{
					margin: 0;
					width: 33%;
				}
			}
			@media (max-width: 979px){
				ul li{
					text-align: center;
					a{
						padding-left: 10px;
						padding-right: 10px;
						display: inline-block;
					}
					&:nth-of-type(1), &:nth-of-type(2){
						width: 50%;
					}
					&:nth-of-type(3){
						width: 100%;
					}
				}
			}
			@media (max-width: 520px){
				.wrapper{
					ul li{
						width: 100%;
						a{
							min-width: 180px;
						}
					}
				}
			}
		}
	}
	.dashlets-cell.span6{
		.customGuruActivity{
			width: 100%;
			ul{
				margin: 0;
				li{
					margin: 0;
					width: 33%;
					a{
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
			@media (max-width: 1199px){
				ul li{
					text-align: center;
					a{
						padding-left: 10px;
						padding-right: 10px;
						display: inline-block;
					}
					&:nth-of-type(1), &:nth-of-type(2){
						width: 50%;
					}
					&:nth-of-type(3){
						width: 100%;
					}
				}
			}
			@media (max-width: 979px){
				.wrapper{
					ul li{
						width: 100%;
						a{
							min-width: 180px;
						}
					}
				}
			}
		}
	}
	.dashlets-cell.span4{
		.customGuruActivity{
			width: 100%;
			ul{
				margin: 0;
				li{
					margin: 0;
					width: 100%;
					text-align: center;
					a{
						padding-left: 10px;
						padding-right: 10px;
						display: inline-block;
						min-width: 180px;
					}
				}
			}
		}
	}
}