%like-dislike{
	float: right;
	span{
		padding: 0;
		color: #333;
		&:not(:first-child){
			padding-left: 8px;
		}
		&:hover{
			opacity: .8;
			cursor: pointer;
		}
		&:before{
			display: inline-block;
			width: 18px;
			height: 24px;
			text-align: center;
			line-height: 24px;
			font-family: "FontAwesome";
			font-size: 17px;
			font-weight: 400;
			color: #fff;
			margin-right: 7px;
		}
	}
	.like{
		&:before{
			color: #5EBF60;
			content: "\f087";
		}
	}
	.dislike{
		&:before{
			color: #E24F3B;
			content: "\f088";
		}
	}
}
.like-dislike[data-custom="likeDislike"]{
	@extend %like-dislike;
}