/* 
    Created on : 03.07.2015, 13:52:42
    Author     : Stanimir
*/
%rating-container {
    ul {
        display: inline-block;
        text-align: center;
        list-style: none;
        width: 100%;
        margin: 0;
		font-size: 0;
		line-height: 0;
        li {
            list-style: none;
            text-align: center;
            display: inline-block; 
			width: 15px;
			height: 15px;
            i {
				font-size: 15px;
                color: $rating-color; 
            }
            a {

            }
        }
    }
}