/* 
    Created on : 28.07.2015, 12:04:14
    Author     : Kristian
*/

%topListTopics{
	ul{
		padding-top: 5px;
		list-style-type: none;
		counter-reset: my-badass-counter;
		li{
			margin-top: 8px;
			&:before{
				content: counter(my-badass-counter);
				counter-increment: my-badass-counter;
				display: inline-block;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				color: #fff;
				line-height: 23px;
				text-align: center;
				font-size: 15px;
				background: #333;
				margin-right: 12px;

			}
			&:nth-child(-n+3){
				&:before{
					background: #5EBE5D;
				}
			}
			a{
				text-decoration: none;
				outline: none;
				text-shadow: 0 0px 1px #909090;
				@include transition(all .1s);
				&:hover{
					opacity: .8;
				}
			}
		}
	}
}