/* 
    Created on : 03.07.2015, 12:54:37
    Author     : Kristian
*/

%treeBreadcrumbs{
    border-top: 1px $border-grid-color solid;
    border-bottom: 1px $border-grid-color solid;
    display: block;
    padding: 5px 10px;
    margin-bottom: 15px;
    a{
        color: #0361AB;
        text-decoration: none;
        font-size: 13px;
    }
    .node{
		word-break: break-all;
        font-size: 13px;
        display: inline-block;
        &:not(:last-child):after{
            content: ' > ';
            display: inline-block;
            padding: 0 10px;
        }
    }
}