%app7020-uploading-container {

  //predefine table DOM elements
  .app7020-table-content {
    display: table;
    width: 100%;
    min-height: 64px;
  }

  //predefine table-cell DOM elements
  .app7020-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  //remove progressbarpadding from bottom side
  .docebo-progress {
    margin-bottom: 0px;
  }

}