 <div class="col-100 tags-container-holder">
        <ul id="tags-container-prefilled" ng-show="showSuggestions">
            <li class="suggestions" ng-repeat="suggestion in suggestions track by $index" ng-show="tagsFilter(suggestion)" ng-click="appendToModel(suggestion)">{{suggestion}}</li>
        </ul>
    </div>
<div class="form-group">
    <div class="autocomplete-container">
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-input">
					<input type="text" placeholder="{{'Tags' | translate}}" id="autocomplete-dropdown" ng-model="suggestionsModel" ng-keypress="detectEnter($event)"></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- This <ul> is going to be pre-filled with selected tags -->
        <ul id="selected-tags-container">
			<li class="suggestions" id="suggestion_{{suggestion}}" ng-repeat="suggestion in tagsModel track by $index" ng-click="removeFromModel(suggestion)">{{suggestion}}<i class="icon-close"></i></li>
		</ul>
    <input value="" ng-model="tagsModel" type="hidden" id="selected-tags-submit" />
</div>
