<div ng-if="type == 'channels'">
	<div ng-include="'views/directives/lazyload_channels.html'"></div>
</div>

<div ng-if="type == 'items'">
	<div ng-include="'views/directives/lazyload_items.html'"></div>
</div>