<div class="channel-wrap placeholder-wrap c_two col-md-12">
	<div class="header-channel col col-12">
		<div class="col col-10-main">
			<div class="col col-2 title-label">
				<span class="label-icon"></span>
			</div>
			<div class="col col-10 title-details">
				<h3></h3>
				<p></p>
			</div>
		</div>
	</div>
	<div class="tiles-wrap swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
				<div class="col col-tile">
					<div class="tile-thumb">
						<div class="thumb-img"><i class="fa fa-spinner"></i></div>
					</div>
					<div class="tile-meta">
						<div class="main-metas">
							<span></span>
						</div>
						<a href='#' class="tile-title"></a>
						<div class="author-metas">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>