<div class="popup popup-about">
    <div id="header-block-modal">
        <h3 class="header-title"> {{ 'Select channels (required)' | translate }}</h3>
        <a id="close-modal-channel-popup" href="" class="close-popup" ng-click="closeChannelModal()">
            <i class="icon-close"></i>
        </a>
    </div>
    <div class="content-block-modal ch-modal">
        <div class="selected-channels">
            <p>{{'CHANNELS LIST' | translate}}</p>
        </div>

        <div id="channel-list" class="list-block">
			<div id="mark-all-items" ng-click="markAllItems(channelItems)" class="row-channel-not-selected" >
				<div>
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">
									{{'Select ' | translate}}
									<!--<span ng-hide="isCheckedAll(channelItems)">{{'Select ' | translate}}</span>
									<span ng-show="isCheckedAll(channelItems)">{{'Unselect ' | translate}}</span>-->
									<span class="title-color">{{' all channels' | translate}}</span>
								</div>
								<div class="item-after">
									<div class="icon-check"></div>
									</div>
								</div>
						</li>
					</ul>
				</div>
			  </div>
        </div>


        <div class="padding-items"></div>

        <div id="list-view-content" class="list-block">
            <div class="page-content" ng-repeat="data in channelItems">
                <div ng-show="data.channelName.name">
                    <div class="click-row" id="select_option_{{$index}}" data-value="{{data.idChannel}}" ng-click="(markSelectedChannel($index))">
                        <div ng-class="(isChecked(data.idChannel) == true) ? 'row-channel-selected' : 'row-channel-not-selected'">
                            <ul>
                                <li class="item-content" >
                                    <div class="item-inner">
                                        <div class="items-title-desc">
                                            <div class="item-title" ng-bind-html="data.channelName.name"></div>
                                            <div class="item-desc" ng-bind-html="data.channelName.description | cut:true:60:' ...'"></div>
                                        </div>
                                        <div class="item-after">

                                            <div class="icon-check"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="channel-modal-footer">
		<div class="count-channels"><span>{{storeChannelIds.length}}</span> {{'Selected channels' | translate}}</div>
		<button class="conform-channels" ng-disabled="storeChannelIds.length == 0" ng-click="submitChannels()">{{'CONFIRM' | translate}}</button>
	</div>
</div>














