<div class="docebo-navbar-wrapper display-block">
    <div class="navbar no-border mobile_header " ng-class="(isIphone == 'true') ? 'iphone-header' : ''" data-page="menu" style="color: {{navFont}};background-color:{{navColor}}">
		<div class="search-right-part">
			<div ng-class="($isSearchIconVisible() == true) ? 'global-search-visible' : 'global-search-invisible'">
				<span class="global-search" ng-click="$openGlobalSearch()">
					<i class="icon-d_search"></i>
				</span>
			</div>
		</div>
		<div class="menu-left-part">
		<div ng-class="($returnEnteredPage() == 'course' && !$hasLearningPlanId() || $returnEnteredPage() == 'viewAllChannels' || $returnEnteredPage() == 'learning_plan') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$back()">
				<i class="icon-d_back"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'course' && $hasLearningPlanId()) ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$backToLP()">
				<i class="icon-d_back"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'home' || $returnEnteredPage() == 'myLp' || $returnEnteredPage() == 'myCourses') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-menu-hamburger" ng-click="$onButton1Click()">
				<i data-panel="left" class="open-panel icon-menu"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'learning_object') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-close-object" ng-click="$returnToCourse()">
				<i data-panel="left" class="icon-close"></i>
			</span>
		</div>
		<div ng-class="($returnEnteredPage() == 'search') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-back-button" ng-click="$backToGlobalSearch()">
				<i class="icon-d_back"></i>
			</span>
		</div>
			<div ng-class="($returnEnteredPage() == 'myCourses') ? 'left-side-button display-block' : 'left-side-button'">
			<span class="top-menu-hamburger" ng-click="$onButton1Click()">
				<i data-panel="left" class="open-panel icon-menu"></i>
			</span>
			</div>
        <span class="top-title" id="topTitle">{{ 'Dashboard' | translate }}</span>
    </div>
		<div ng-show="showArrow()"><next-arrow></next-arrow></div>
    </div>
</div>


