<!-- Left panel navbar contents -->
<div>
	<div class="overlay-menu-content">
		<div class="top-menu-overlay">
			<div class="top-close-button" ng-click="$topCloseButton()"><i class="fa icon-d_close"></i></div>
			<div class="top-menu-logout" ng-click="$logout()"><i data-panel="right" class="fa power-off"></i></div>
		</div>
		<div class="user-info-wrap">
			<img class="user-profile-image" ng-src="{{avatar}}" />
			<div class="user-profile-details">
			<div class="user-profile-name">{{firstname}} {{lastname}}</div>
			<div class="user-profile-email">{{email}}</div>
			</div>
		</div>
		<div class="left-menu-overlay">
			<ul>
				<li class="link-homescreen"><a ng-click="$Menuclose('#/all')" ng-class="{ active: isActive('/all') }"><i class="icon-d_thumbs links-icons"></i> {{ 'All Channels' | translate }} <i class="icon-d_right shevron-action"></i></a></li>
				<li class="link-homescreen"><a ng-click="$Menuclose('#/myChannel')" ng-class="{ active: isActive('/myChannel') }"><i class="icon-d_user links-icons"></i> {{ 'My channel' | translate }} <i class="icon-d_right shevron-action"></i></a></li>
				<li ng-show="isShare7020AppActive" class="link-homescreen" ng-disabled="(isOffline())">
					<a ng-show="skipWalkthrough" ng-click="$Menuclose('#/uploadQueue')" ng-class="{ active: isActive('/uploadQueue') }"><i class="icon-d_upload links-icons"></i> {{ 'Upload!' | translate }} <i class="icon-d_right shevron-action"></i></a>
					<a ng-show="!skipWalkthrough" ng-click="$Menuclose('#/walkthrough')" ng-class="{ active: isActive('/walkthrough') }"><i class="icon-d_upload links-icons"></i> {{ 'Upload!' | translate }} <i class="icon-d_right shevron-action"></i></a>
				</li>
				<li class="link-homescreen"><a ng-click="$Menuclose('#/my/courses')" ng-class="{ active: isActive('/my/courses') }"><i class="fa fa-book links-icons"></i> {{ 'My Courses' | translate }} <i class="icon-d_right shevron-action"></i></a></li>
				<li class="link-homescreen"><a ng-click="$Menuclose('#/my/lp')" ng-class="{ active: isActive('/my/lp') }"><i class="fa fa-th-list links-icons"></i> {{ 'My Learning Plans' | translate }} <i class="icon-d_right shevron-action"></i></a></li>
				<li ng-show="isMobile()" class="link-homescreen">
					<div class="switch">
						<div class="item-input switch-input">
							<div class="offline-switch-text">{{ 'offline mode' | translate }}</div>
							<label class="label-switch label-switch-offline-mode-menu" ng-click="setOfflineStatus()">
								<input id="offline-mode-check" type="checkbox" ng-checked="isOfflineChecked" >
								<div class="checkbox"></div>
							</label>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>