<div class="swiper-wrapper">
	<div class="swiper-slide" ng-repeat="item in items track by $index">
		<div class="col col-file-item">
			<img ng-src="{{item}}" alt="file part" />
		</div>
	</div>
</div>
<div id="file-play" class="file-play-meta">
	<span class="active-file-slide">{{slideIndex}}</span> / {{totalSlides}}
	<div ng-if="expand">
		<span class="expand-carousel" ng-click="$expandCarousel()"><i class="fa fa-expand"></i></span>
		<span class="shrink-carousel" ng-click="$shrinkCarousel()"><i class="fa fa-expand"></i></span>
	</div>
</div>