<div class="publish-container panel panel-right panel-cover">
	<div class="header-block" style="color: {{navFont}};background-color:{{navColor}}">
		<div class="search-right-part">
			<div ng-class="($isSearchIconVisiblePanel() == true) ? 'global-search-visible' : 'global-search-invisible'">
				<span class="global-search" ng-click="$openGlobalSearchPanel()">
					<i class="icon-d_search"></i>
				</span>
			</div>
		</div>
		<h3 class="header-title"> {{ headertitle | translate }}</h3>
		<h3 ng-show="courseName" class="header-course-name" id="header-course-name-{{idCourse}}">"{{courseName}}"</h3>
		<a href="" class="panel-close" ng-click="closePanels()" style="color: {{navFont}}"><i class="icon-d_back"></i></a>
	</div>
	<div class="content-asset-block">
		<!-- Include view  -->
		<ng-include src="view"></ng-include>
    </div>
</div>