<div id="channels-button">
    <div ng-show="channels.length > 0 ? false : true">
        <div class="channel-text"><p>{{'Select channels... (required)' | translate}}</p></div>
    </div>

    <div ng-show="channels.length > 0 ? true : false">
        <div class="channel-text"><p>{{channels.length}} {{' channels selected' | translate}}</p></div>
    </div>
</div>


