<div class="swiper-wrapper">
	<div class="swiper-slide" ng-repeat="item in items track by $id(item)">
		
		<div class="col col-tile">
			<div class="tile-thumb">
				<div class="thumb-img" style="background: url('{{item.thumbnail_url}}') no-repeat; background-size: cover; background-position: center;">
						<a ng-href="#/assets/view/{{item.asset_id}}"></a>
				</div>
				<div class="overlay-details">
					<div class="label-type">
						<div >
							<a ng-href="#/assets/view/{{item.asset_id}}">
								{{item.asset_type}}
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="tile-meta">
				<div class="main-metas">
					<span ng-show="item.other_fields.views">{{item.other_fields.views}} {{ 'views' | translate }}</span>
					<span ng-show="item.other_fields.last_viewed">{{item.other_fields.last_viewed}}</span>
					<span ng-show="item.other_fields.language">{{item.other_fields.language}}</span>
					<span ng-show="item.other_fields.level">{{item.other_fields.level}}</span>
				</div>
				<div class="tile-title link">
					<a ng-href="#/assets/view/{{item.asset_id}}" class="tile-title link">{{item.title | cut:true:50:' ...'}}</a>
				</div>
				<div class="course-status {{item.other_fields.status}}" ng-show="item.other_fields.status && !item.other_fields.author">
					{{item.other_fields.status}}
				</div>
				<div class="author-metas" ng-show="item.other_fields.author">
					<span>{{'by' | translate}}</span>
					<a href="">{{item.other_fields.author | cut:true:11:'...'}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-slide lazyload-swiper placeholder-wrap">
		<div class="col col-tile">
			<div class="tile-thumb">
				<div class="thumb-img"><i class="fa fa-spinner"></i></div>
			</div>
			<div class="tile-meta">
				<div class="main-metas">
					<span></span>
				</div>
				<a href='' class="tile-title"></a>
				<div class="author-metas">
				</div>
			</div>
		</div>
	</div>
</div>