<div class="table-view list-block">
    <ul>
        <li ng-repeat="item in items track by $index" class="table-view-row">
            <a ng-click="tapAction({index: $index})" class="item-content" ng-include="rowView"></a>
        </li>
    </ul>
</div>
<div id="table_bottom"></div>