<div id="lo_player" ng-show="show">
	<div class="full-size" ng-switch="metadata.type">
		<div class="full-size" ng-switch-when="video">
			<div class="full-size" ng-include="view('video.html')"></div>
		</div>
		<div class="full-size" ng-switch-when="file">
			<div class="full-size" ng-include="view('file.html')"></div>
		</div>
		<div class="full-size" ng-switch-when="authoring">
			<div class="full-size" ng-include="view('authoring.html')"></div>
		</div>
		<div class="full-size" ng-switch-default>
			<div class="full-size" ng-include="view('embedded_material.html')"></div>
		</div>
	</div>
</div>