.bootstro-next-btn{
	display:none;
}

.bootstro-prev-btn {
   display:none;
}

.bootstro-backdrop{
	opacity: 0.5;
    background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    filter: alpha(opacity = 50);
}

.bootstro-highlight {
	z-index: 999;
	position: relative;
	background-color: white;
}
.bootstro-finish-btn-wrapper{
	padding-top:10px;
    text-align:right;
    clear:both;
}
.bootstro-nav-wrapper{
    display: none;
}

.bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button{
	display:none;
}
.bootstro-finish-btn-wrapper {
    display: none;
}

.bootstro.popover {
    background: none;
    border: none;
    box-shadow: none;
}
.bootstro.popover .arrow {
    display: none;
}
.bootstro.popover .popover-title {
    display: none;
}
.bootstro.popover .popover-content {
    font-family: 'Handlee', cursive;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    color: #333;
    position: relative;
    padding: 0;
}
.bootstro.popover .popover-content a {
    text-decoration: underline;
}
.bootstro.popover .popover-content .text-large {
    color: #53AB54;
    font-size: 50px;
    line-height: 30px;
}
.bootstro.popover .popover-content .text-colored{
	color: #0465AC;
}
.bootstro.popover .popover-content .text-colored.green {
    color: #53AB54;
}

.bootstro-arrow {
    background: url('sprite-overlay-hint-arrows.png');
    display: block;
    position: absolute;
}
	.bootstro-arrow.arrow-w {background-position: 0px 0px;width: 52px;height: 41px;}
	.bootstro-arrow.arrow-s {background-position: 0px -41px;width: 48px;height: 60px;}
	.bootstro-arrow.arrow-se {background-position: 0px -411px;width: 52px;height: 41px;}
	.bootstro-arrow.arrow-nw {background-position: 0px -101px;width: 66px;height: 88px;}
	.bootstro-arrow.arrow-nw1 {background-position: 0px -452px;width: 57px;height: 37px;}
	.bootstro-arrow.arrow-ne {background-position: 0px -189px;width: 57px;height: 72px;}
	.bootstro-arrow.arrow-e1 {background-position: 0px -261px;width: 70px;height: 57px;}
	.bootstro-arrow.arrow-e2 {background-position: 0px -318px;width: 61px;height: 39px;}
	.bootstro-arrow.arrow-e3 {background-position: 0px -357px;width: 81px;height: 55px;}
	.bootstro-arrow.arrow-e4 {background-position: 0px -101px;width: 70px;height: 89px;}


/*
    Styling for each popup
*/

#popup_bootstroMenuNoApps {display: block;position: static;}
#popup_bootstroMenuNoApps a:hover {background: none;color: #333;}
#popup_bootstroMenuNoApps .popover-content {font-size: 20px;line-height: 26px;font-weight: normal;padding-top: 10px;text-align: left;}

#popup_bootstroAdmin .text-large {font-weight:bold;}
#popup_bootstroAdmin .popover-content {text-align:left;padding-left:65px;line-height:30px;top:60px;}
#popup_bootstroAdmin .bootstro-arrow {top:-15px;left:0;}

#popup_bootstroMarketplace .popover-content {text-align:left;padding-left:65px;line-height:25px;top:30px;}
#popup_bootstroMarketplace .bootstro-arrow {top:-15px;left:0;}

#popup_bootstroNewCourse{right:auto;}
#popup_bootstroNewCourse .popover-content{margin:25px 0 0 80px;}
#popup_bootstroNewCourse .bootstro-arrow {top:-25px;left:-55px;}

#popup_bootstroAddTrainingResources .popover-content { left: -10px; top:80px; }
#popup_bootstroAddTrainingResources .bootstro-arrow { top: -70px; right: 0; }

#popup_bootstroAddBlockLauncher .popover-content { text-align: left;line-height: 28px; left: -65px; top: -65px; }
#popup_bootstroAddBlockLauncher .bootstro-arrow { left: 50%; bottom: -60px; }

#popup_bootstroManageCourse .popover-content {text-align:left;padding-left:65px;line-height:30px;top:90px;}
#popup_bootstroManageCourse .bootstro-arrow {top:-15px;left:0;}

#popup_bootstroEnrollUsers { right: auto; }
#popup_bootstroEnrollUsers .popover-content{margin:25px 0 0 105px;line-height:24px;text-align:left;}
#popup_bootstroEnrollUsers .popover-content .text-large{line-height:34px;}
#popup_bootstroEnrollUsers .bootstro-arrow {top:-25px;left:-75px;}


#popup_bootstroCourseStructure .popover-content {margin:80px 0 0 45px; }
#popup_bootstroCourseStructure .bootstro-arrow {left: -50px;top: -30px;}

#popup_bootstroLaunchpad .popover-content {top:-25px;left:300px; }
#popup_bootstroLaunchpad .bootstro-arrow { left:-20px;top:8px; }

#popup_bootstroNewAppsDesign .popover-content{left: 85%; top: 100px; background: #ffffff; padding: 5px 0; line-height: 1; }
#popup_bootstroNewAppsDesign .bootstro-arrow { left: -70px; top: -80px; }

#popup_bootstroConfigureSalesforce .popover-content{  left: 0%; color: #60B768;
    top: -50px; }
#popup_bootstroConfigureSalesforce .bootstro-salesforce-arrow {   left: 147px;
    top: 40px; }

#popup_bootstroAddSubtitle .popover-content { left: -10px; top:80px; }
#popup_bootstroAddSubtitle .bootstro-arrow { top: -70px; right: 0; }

#popup_bootstroAddLikertScaleSurveyQuestion .text-large { font-size: 45px; }
#popup_bootstroAddLikertScaleSurveyQuestion .popover-content { text-align: left; line-height: 60px; top: 40px; left: 3%; }
#popup_bootstroAddLikertScaleSurveyQuestion .bootstro-arrow { top: -38px;  right: 202px;}

#popup_bootstroAddLikertScaleSurveyScales .text-large { font-size: 45px; }
#popup_bootstroAddLikertScaleSurveyScales .popover-content { text-align: left; line-height: 60px; top: 57px; left: 15%; }
#popup_bootstroAddLikertScaleSurveyScales .bootstro-arrow { left: -20%;  top: -52px; }


.overlay-hints-admin{
	position: absolute;
	top:15px;
	left:360px;
	background: url(magnifier.png) 0 0 no-repeat;
	width: 300px;
	height: 299px;
}

	.menu .overlay-hints-admin ul{
		position: absolute;
		top: 47px;
		left: 100px;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
	}

	.menu .overlay-hints-admin ul li{
		line-height:30px;
	}

	.menu .overlay-hints-admin ul li.active{
		color:#fff;
	}