<div ng-show="count > 0" id="course_list">
	<div id="mobile-course-chapters">
		{{ count }} {{ 'CHAPTERS' | translate }}
	</div>
	<div id="mobile-course-content" class="list-block" ng-show="items">
		<div class="remove-root-folder">
			<ul class="locked-object-types">
				<li ng-disabled="!isAccessible(item.type) || (isLocked(item))" class="item-content" ng-repeat="item in items | orderBy:'id_organization'" data-type="{{ item.type }}" ng-class="{'folder-children-item' : item.isChildren,'object-item' : item.type && !item.isChildren, 'folder-item' : !item.type}">
					<!-- ng-click="goToObject(object,courseInfo.idCourse)" -->
					<a class="list-view-open-items" ng-click="enterPlayer(item)">
						<div ng-class="{'white-title-folder' : !item.type, 'item-inner' : item.type}">
							<div class="title">{{ item.title }}</div>
							<div class="item-after">
								<div class="item-media" ng-show="isLocked(item)">
									<i class="icon-lock-mobile icon-xl"></i>
								</div>
								<div class="item-media" ng-show="!isLocked(item)">
									<i class="icon-xl {{item.status_class}}"></i>
								</div>
							</div>
						</div>
					</a>
				<li>
			</ul>
		</div>
	</div>
</div>