.flowplayer-video {
  display:block;
  width:100%;
  position:relative;
}

.flowplayer .fp-waiting {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -6%);
}

.flowplayer .fp-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flowplayer .fp-ratio {
  padding-top: 67.25% !important;
}