/* 
    Created on : 30.03.2016, 14:25:57
    Author     : Violeta
	
*/

/****** Right panel reveal style settings *******/
.panel.panel-right.panel-cover{
	width: 45%;
	right: -45%;
}
body.with-panel-right-cover {
	.panel.panel-right.panel-cover{
		background: $graywhite-background;
		-webkit-transform: translate3d(-260px,0,0);
		transform: translate3d(-260px,0,0);
		z-index: 6000;
		right: -260px;
		@include box-shadow-darker();
	}
	.panel-overlay{
		background: $graywhite-background;
		opacity: 0.6;
	}
}
.panel-right{
	.panel.panel-right.panel-cover {
		background: $graywhite-background;
		-webkit-transform: none;
		transform: none;
		z-index: 6000;
		width: 100%;
		right: 0;
		@include box-shadow-darker();
		transition-duration: 0ms;
		display: none;
	}
	.content-asset-block{
		overflow: auto;
	}
}

/* Right panel header styles */
.header-block{
	padding: 15px;
	background: $blue-color;
	
	h3{
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		display: inline-block;
		max-width: 95%;
	}
	.panel-close{
		float: left;
		font-size: 16px;
		font-weight: 600;
		padding: 1em;
		margin: -1em;
		padding-left: 20px;
		padding-right: 34px;
	}
}


/* Content block */
.asset-file{
	max-height: 285px;
    overflow: hidden;
	text-align: center;
}
.heading-title{
	padding: 20px 20px 0;
	margin-bottom: 5px;
	font-size: 16px;
}
.form-group{
	background: $white-background;
	@include box-shadow-lighter();
	
	p{
		border-bottom: 1px solid $tileborder-color;
		padding: 20px 15px;
		margin-bottom: 0;
	}
	input[type="radio"]{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		font-size: 16px;
		width: 97%;
		height: 92%;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
	input[type="text"]{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		font-size: 16px;
		width: 100%;
	}
	textarea{
		border: 0;
		box-shadow: none;
		margin-bottom: 0;
		resize: none;
		font-size: 16px;
		min-height: 65px;
		width: 100%;
		&.title-textarea{
			min-height: 0;
		}
	}
	textarea:focus, input:focus{
		box-shadow: none;
	}
}
.submit-btn{
	bottom: 0;
	width: 100%;
	border: 0;
	padding: 25px 0 20px;
	color: $white-color;
	background: $green-background;
	text-shadow: none;
	font-size: 18px;
	border-radius: 0;
	font-weight: 300;
	margin-top: 40px;
}
.submit-btn:hover{
	color: $white-color;
	background-color: $green-background;
}
form{
	.gray-color{
		color: $lightgray-color;
	}
}


.channel-text {
	font-size: 16px;
	opacity: 0.5;
	margin-left: 5px;
}


.publish-page{
	form{
		margin-bottom: 0;
	}
}

.modal-inner{
	text-align: left;
	padding-bottom: 0;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

	.modal-title{
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
		text-align: left;
	}
	.modal-text{
		margin-top: 5px;
		font-size: 14px;
		line-height: 20px;
	}
	&:after{
		height: 0;
	}
}
.modal-buttons{
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;

	.modal-button{
		text-align: right;
		color: $green-color;
		background: $white-color;
	}
}
.actions-modal-button {
	&:last-child{					
		border-radius: 0;
		border: 0;
		outline: 0;
	}
}
.actions-modal-label{
	&:last-child{
		border-radius: 0;
		border: 0;
		outline: 0;
	}
}
.actions-modal-button.active-state{
	background: $white-background;
}