.warning-strip {
	background-color: #FFD175;
	min-height:       50px;
}

.warning-strip.success {
	color:            #468847;
	background-color: #DFF0D8;
}

.warning-strip.info {
	color:            #3A87AD;
	background-color: #D9EDF7;
}

.warning-strip.error {
	color:            #B94A48;
	background-color: #F2DEDE;
}

.warning-strip .exclamation-mark {
	font-size:   2em;
	margin-left: 15px;
	margin-top:  10px;
	float:       left;
}

.warning-strip .warning-text {
	margin-left:    50px;
	padding-top:    7px;
	padding-bottom: 7px;
	margin-right:   7px;
	margin-top: 0px;
	display: block;
	float: none;
}