<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item {% if product.images.size > 1 %}medium-up--three-fifths{% else %}medium-up--one-half{% endif %}">
      <div class="photos">
        <div class="photos__item photos__item--main">
          <div class="product-single__photo" id="ProductPhoto">
            {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <a href="{{ featured_image | img_url: '1024x1024' }}" class="js-modal-open-product-modal" id="ProductPhotoLink">
              <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
            </a>
          </div>
        </div>
        {% if product.images.size > 1 %}
          <div class="photos__item photos__item--thumbs">
            <div class="product-single__thumbnails{% unless product.images.size > 2 %} product-single__thumbnails--static{% endunless %}" id="ProductThumbs">
              {% for image in product.images %}
                <div class="product-single__thumbnail-item">
                  <a href="{{ image.src | img_url: 'large' }}" data-zoom="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if product.images.size > 2 %}
          {% comment %}
            Make sure svg arrow icons are added to the sprite since the
            icon snippet cannot be used in an external JS file.
          {% endcomment %}
          <div class="hide">
            {% include 'icon', name: 'arrow-left' %}
            {% include 'icon', name: 'arrow-right' %}
            {% include 'icon', name: 'arrow-up' %}
            {% include 'icon', name: 'arrow-down' %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="grid__item {% if product.images.size > 1 %}medium-up--two-fifths{% else %}medium-up--one-half{% endif %}" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <div class="product-single__info-wrapper">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <div class="product-single__meta small--text-center">
          {% if settings.product_vendor_enable %}
            <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}

          <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>

          <ul class="product-single__meta-list list--no-bullets list--inline">
            <li id="ProductSaleTag" class="{% unless product.compare_at_price > product.price %}hide{% endunless %}">
              <div class="product-tag">
                {{ 'products.product.on_sale' | t }}
              </div>
            </li>
            <li>
              <span id="ProductPrice" class="product-single__price" itemprop="price">
                {{ current_variant.price | money_without_trailing_zeros }}
              </span>
            </li>
            {% if product.compare_at_price_max > product.price %}
              <li>
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice" class="product-single__price product-single__price--compare">
                  {{ current_variant.compare_at_price | money_without_trailing_zeros }}
                </s>
              </li>
            {% endif %}
            {% if settings.product_stock_enable %}
              <li>
                <span id="ProductStock" class="product-single__stock hide"></span>
              </li>
            {% endif %}
          </ul>

        </div>

        <hr>

        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form" id="AddToCartForm">
          <select name="id" id="ProductSelect" class="product-form__variants">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">
                  {% assign session_values = ''; %}
                  {% if current_variant.metafields.lms.category == 'webinar' %}
                    {% assign start_date = current_variant.metafields.lms.start_date; %}
                    {% assign tool = current_variant.metafields.lms.tool; %}
                    {% assign session_values = ''; %}
                  	{% capture session_values %}{{ start_date }} - {{ tool }}{% endcapture %}
                  {% endif %}
                  {{ variant.title }} - {{ variant.price | money_with_currency }} - {{session_values}}
            	</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
         
          <div id="classroomDates" style="display: none">
            <div style="display: none">
              <div><span style="font-weight: bold">Beginning:</span> <span>fds</span></div>
              <div><span style="font-weight: bold">Duration:</span> <span>fds</span></div>
              <div><span style="font-weight: bold">Location:</span> <span>fds</span></div>
            </div>
          </div>

          <p/>

          <div id="webinarDates" style="display: none">
            <div><span style="font-weight: bold">Beginning:</span> <span id="webinar_date_beginning">fds</span></div>
            <div><span style="font-weight: bold">Duration:</span> <span id="webinar_date_duration">fds</span></div>
            <div><span style="font-weight: bold">Watch:</span> <span id="webinar_date_watch_code">fds</span></div>
          </div>

          <p/>          
          
          <div class="product-form__item product-form__item--submit">
            <button type="submit" name="add" id="AddToCart" class="btn btn--full product-form__cart-submit">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </div>
        </form>

        <hr>

        <a href="{{ product.metafields.lms.lms_url }}" class="h7">
          Click to play after payment
        </a>

        {% if product.metafields.lms.days_valid != null or product.metafields.lms.certificate != null %}
          <div><b>Days valid:</b> {{ product.metafields.lms.days_valid }}</div>
          <div><b>Certificate:</b> {{ product.metafields.lms.certificate }}</div>
        {% endif %}
        {% if product.metafields.lms.category != null or product.metafields.lms.language != null or product.metafields.lms.labels != null %}
          <div><b>Category:</b> {{ product.metafields.lms.category }}</div>
          <div><b>Language:</b> {{ product.metafields.lms.language }}</div>
          <div><b>Labels:</b> {{ product.metafields.lms.labels }}</div>
          <div><b>Catalogs:</b> {{ product.metafields.lms.catalogs }}</div>
        {% endif %}
        <p><b>Credits:</b> {{ product.metafields.lms.credits }}</p>
        
        
        <div class="rte product-single__description" itemprop="description">
          {{ product.description }}
        </div>

        {% if settings.social_sharing_products %}
          <hr>
          {% include 'social-sharing' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% comment %}
  If we came from a collection, close .page-width to
  have a full-width back button area.
{% endcomment %}
{% if collection %}
  </div><!-- .page-width -->

  <div class="full-width full-width--return-link">
    <a href="{{ collection.url }}" class="h1 return-link">
      {% include 'icon', name: 'arrow-thin-left' %}
      {{ 'products.product.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{% endif %}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
  
	function onVariantSelect() {
      var variantName = $('#ProductSelect-option-0 option:selected').attr('value');
      var variantId = 0;
      var useSelectOptionValuesForVariantIds = false;
      try
      {
        if (theme == null)
          useSelectOptionValuesForVariantIds = true;
      } catch (exc) {useSelectOptionValuesForVariantIds = true};
      if (useSelectOptionValuesForVariantIds == true)
        variantId = $('#ProductSelect option:selected').attr('value');
      else
        for (var variantIndex in theme.productSingleObject.variants)
        {
          var variantVO = theme.productSingleObject.variants[variantIndex];
          if (variantVO.title == variantName)
          {
            variantId = variantVO.id;
            break;
          }
        }
      //{{current_variant.metafields.lms.category == 'webinar'}}
      {% if current_variant.metafields.lms.category == 'classroom' %}
          while ($('#classroomDates').children().length > 1)
            $('#classroomDates').children()[1].remove();
      
          var datesList = variantMetafields[variantId].split('|');
      
          for (dateArr in datesList)
          {
            if (datesList[dateArr] == '')
              continue;
            var fields = datesList[dateArr].split('#');
            var beginning = fields[0];
            var location = fields[1];
            var duration = fields[2];
            var templateHTML = $('#classroomDates').children()[0];

            var newDateNode = $($(templateHTML).html());
            newDateNode.attr('style', '');
            $(newDateNode.children()[1]).text(beginning);
            $(newDateNode.children()[3]).text(duration);
            $(newDateNode.children()[5]).text(location);
            $('#classroomDates').append(newDateNode);
            $('#classroomDates').append('<br />');
          }
          $('#classroomDates').attr('style', 'display: block');
      {% elsif current_variant.metafields.lms.category == 'webinar' %}
          $('#webinarDates').attr('style', 'display: block');
          $('#webinar_date_beginning').text(variantMetafields[variantId].start_date);
          $('#webinar_date_duration').text(variantMetafields[variantId].duration);
          $('#webinar_date_watch_code').text(variantMetafields[variantId].webinar_link);

      {% endif %}    
    }
  setTimeout(
    function (){
    	$('#ProductSelect-option-0').on('change', onVariantSelect);
        onVariantSelect();
  	}, 1000
  );
  
  
  var variantMetafields = null;
  {% for variant in product.variants %}
  		
       {% if variant.metafields.lms.category == 'classroom' %}
			if (variantMetafields == null) variantMetafields = [];
            variantMetafields['{{variant.id}}'] = "{{ variant.metafields.lms.dates }}";
       {% elsif variant.metafields.lms.category == 'webinar' %}
            if (variantMetafields == null) variantMetafields = {};
            variantMetafields['{{variant.id}}'] = {};
            variantMetafields['{{variant.id}}']['start_date'] = "{{ variant.metafields.lms.start_date }}";
            variantMetafields['{{variant.id}}']['duration'] = "{{ variant.metafields.lms.duration }}";
            variantMetafields['{{variant.id}}']['webinar_link'] = "{{ variant.metafields.lms.webinar_link }}";
  	   {% endif %}
        
  
  {% endfor %}

                              
  var start_date = '';
  var loc = '';
  var classroomVariantFields = {};
  var hasClassroomVariants = false;
          {% for variant in product.variants %}
            {% if variant.metafields.lms.category == 'classroom' %}
                hasClassroomVariants = true;
                start_date = '{{variant.metafields.lms.dates}}'.split ('|')[0].split('#')[0];
                loc = '{{variant.metafields.lms.dates}}'.split('|')[0].split('#')[1];
                classroomVariantFields['{{ variant.id }}'] = start_date + ' - ' + loc;
            {% endif %}
          {% endfor %}        
  if (hasClassroomVariants)
  {
    var variantOptions = $('#ProductSelect option');
    for (var i = 0; i < variantOptions.length; i++)
    {
      $(variantOptions[i]).text($(variantOptions[i]).text() + classroomVariantFields[$(variantOptions[i]).attr('value')]);
    }
  }
         
                              
</script>
