/* 
    Created on : 15.04.2016, 15:15:45
    Author     : Violeta
*/

/* Asset details styles (meta box) */
.overwrite-margin{
	margin-left: 0;
}

.asset-details{
	background: $white;
	border: 1px solid $lightgray-border;
	@include gray-box-shadow();
	margin-bottom: 30px;
	padding: 25px 20px 25px 20px; 
	overflow: hidden;

	.meta-details{
		.title-details{
			h1{
				color: $blue-color;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				max-width: 75%;
				display: inline-block;
			}
		}
		.author-avatar{
			float: right;
			width: 42px;
			height: 42px;

			.avatar-thumb{
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
		.asset-metas{
			margin-top: 10px;
			margin-bottom: 30px;
			color: $grey-color;

			a{
				color: $blue-color;
				text-decoration: underline;
				margin-right: 5px;
			}
		}
	}
	.content-toggle{
		color: $grey-color;

		.container-line{
			margin-bottom: 25px;

			&.asset-tags{
				margin-bottom: 30px;
			}
		}
		h3{
			color: $grey-dark;
			font-size: 14px;
			font-weight: 300;
			margin-bottom: 5px;
		}

		.asset-tags{
			ul{
				margin-top: 10px;
				margin-bottom: 10px;

				li{
					display: inline-block;
					padding: 3px 15px 4px;
					margin-right: 5px;
					background: $body-gray-background;
					color: $grey-dark;
					font-weight: 300;
				}
			}
		}
		.asset-channels{
			ul{
				margin-top: 5px;

				li{
					display: inline-block;
					margin-right: 10px;

					a{
						color: $blue-color;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.angle-toggle{
		font-size: 36px;
		color: $blue-color;
		cursor: pointer;
	}
}


/* Asset actions */
.asset-details-footer{
	padding: 30px 0 0;
	margin-top: 20px;
	position: relative;

	&:before{
		content: '';
		height: 1px;
		min-width: 105.5%;
		border-top: 1px solid $lightgray-border;
		position: absolute;
		top: 0;
		left: -20px;
	}

	.asset-actions{
		float: right;

		li{
			display: inline-block;
			margin-right: 25px;

			&:last-child{
				margin-right: 0;
			}

			a{
				color: $grey-color;
				font-size: 22px;

				&:hover{
					color: $blue-color;
				}
			}
		}
	}
}


/* star rating diective */
.rating-directive{
	display: inline-block;

	span{
		font-size: 14px;
		vertical-align: top;
	}
	.rated-check{
		display: inline-block;
		vertical-align: top;
	}

	.thankyoutext{
		margin-left: 5px; 
		display:inline-block;
		color: #5EBE5D;
		font-weight: 600;

		.visiblefadein {
			visibility: visible!important;
			display:inline-block;
			opacity: 1!important;
			transition: opacity 3s linear!important;
		}
		.hiddenfadeout {
			visibility: hidden;
			display:inline-block;
			opacity: 0;
			transition: visibility 0s 3s, opacity 3s linear;
		}
	}

	.rating-directive{
		display: inline-block;
		padding: 0 10px;
		margin-top: -2px;

		&.readonly{
			*{
				cursor: default!important;
			}
			li{
				pointer-events: none;
				cursor: initial;
			}
		}
		&:not(.readonly){
			li{
				& > input {
					& + label:hover {
						&:before {
							content: "\f005";
						}
					}	
				}
			}
		}
		li{
			display: inline-block;
			padding: 1px;
			color: $grey-color;
			font-size: 20px;
			list-style-type: none;
			display: inline-block;
			cursor: pointer;

			&.filled {
				color: $yellow-color;
			}

			& > input {
				display: none;
				& + label {
					/* only enough room for the star */
					display: inline-block;
					overflow: hidden;
					text-indent: 9999px;
					width: 1em;
					white-space: nowrap;
					cursor: pointer;
					&:before {
						display: inline-block;
						text-indent: -9999px;
						content: "\f006";
						color: $yellow-color;
					}
				}


				&:checked + label{
					&:before {
						content: "\f005";
					}
				}
			}

			&.filled{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
			&.half{
				label{
					&:before {
						content: "\f123";
					}
				}
			}
			&.empty{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.hover{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
			&.filled.disabled{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.half.disabled{
				label{
					&:before {
						content: "\f006";
					}
				}
			}
			&.hover.filled{
				label{
					&:before {
						content: "\f005";
					}
				}
			}
		}
	}
}