/* 
    Created on : 25.04.2016, 16:23:13
    Author     : Kristian
*/

asset-player{
	.iframe-wrapper{
		height: 0;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 Ratio */
		iframe{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	.flowplayer.is-error{
		border: 0;
	}
	.share-link-wrapper{
		height: 0;
		position: relative;
		cursor: pointer;
		padding-bottom: 56.25%; /* 16:9 Ratio */
		.wrapper{
			word-wrap: break-word;
			word-break: break-word; 
			-ms-word-break: break-word;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			border: 1px #e6e6e6 solid;
			background: #f8f8f8;
			padding: 30px;
			display: table;
			width: 100%;
			box-sizing: border-box;
			.content-wrapper{
				display: table-cell;
				vertical-align: middle;
				text-align: left;
				text-decoration: none;
				text-shadow: none;
				outline: none;
				.thumb{
					width: 230px;
					height: 230px;
					border: 1px #e6e6e6 solid;
					background: #fff;
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					img{
						max-width: 100%;
						max-height: 100%;
						display: inline-block;
					}
				}
				.textcountainer{
					display: table-cell;
					padding-left: 25px;
					width: auto;
					word-break: break-word;
					.sharelinkstittle{
						color: #0063AE;
						font-size: 28px;
						line-height: 32px;
						margin-bottom: 25px;
					}
					.sharelinksdescription{
						font-size: 19px;
						margin-bottom: 25px;
						line-height: 26px;
					}
					.sharelinksfilename{
						font-size: 18px;
						color: #1B77B5;
					}
				}
			}
		}
	}

	@keyframes fadeIn {
		from {

			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@-webkit-keyframes KEYFRAME-NAME {
		0%   { opacity: 0;display: none; }
		1%   { display: block;}
		100% { opacity: 1; }
	}
	@-moz-keyframes KEYFRAME-NAME {
		0%   { opacity: 0;display: none; }
		1%   { display: block;}
		100% { opacity: 1; }
	}
	@-o-keyframes KEYFRAME-NAME {
		0%   { opacity: 0;display: none; }
		1%   { display: block;}
		100% { opacity: 1; }
	}
	@keyframes KEYFRAME-NAME {
		0%   { opacity: 0;display: none; }
		1%   { display: block;}
		100% { opacity: 1; }
	}

	.fadeIn {
		animation-name: fadeIn;
	}
	.app7020tooltip  {
		@include border-radius(2px);
		width: 294px;
		left: 10px;
		z-index: 90000;
		display: none;
		opacity: 0;
		position: relative;
		.avatar-wrapper{
			display: block;
			float: left;
			padding: 10px 0px 10px 10px;
		}
		&.docebo-flowplayer-visable-tooltip {
			display: block;
			z-index: 50;
			opacity: 1;
		}
		&.docebo-flowplayer-hidden-tooltip {
			opacity: 0;
			display: none;
		}
		&.app7020-tooltip-light {
			background: #fff;
			color: #333;
		}
		&.app7020-tooltip-dark {
			background: #333;
			color: #fff;
		}
		.media-body{
			padding: 0 10px 0 0;
			overflow: hidden;
			height: 2.8em;
			line-height: 1.4em;
			margin-top: 12px;
			strong{
				font-weight: bold;
			}
			u{
				text-decoration: underline;
			}
			em{
				font-style: italic;
			}
		}
	}
	.docebo-player-tooltips-container {
		height: 100%;
		display: table; 
		width: 100%;
		.app7020tooltip {
			bottom: 20px;
		}
		position: relative;
		background: transparent;
		.docebo-flowplayer-visable-tooltip {
			&:nth-child(1) {
				position: relative;
			}
			&:nth-child(2) {
				position: relative;
			}
			&:nth-child(3) {
				position: relative;
			}
		}
		.docebo-player-prewrapper-tooltips{
			position: relative;
			height: 100%;
			width: 100%;
			display: table-cell;
			vertical-align: bottom;
			padding: 0;
		}
	}
	&:hover{
		.docebo-player-prewrapper-tooltips{
			padding-bottom: 31px;
		}
	}
	.close-tooltip {
		position: absolute;
		right: 7px;
		bottom: 2px;
		cursor:pointer;
	}
}
