/* 
    Created on : 22.04.2016, 12:50:45
    Author     : Violeta
*/


/* Asset edit form section */
.edit-form-wrapper{
	padding-bottom: 30px;
}
.edit-asset-form{
	padding: 25px;
	background: $white;
	border: 1px solid $lightgray-border;
	@include gray-box-shadow();
	margin-bottom: 60px;
	margin-top: 10px;
		
	.app7020AssetModal{
		.contribute_file_header{
			margin-top: -15px;
			.info{
				display: table;
				width: 100%;
				box-sizing: border-box;
				height: 45px;
				.file{
					display: table-cell;
					vertical-align: middle;
					strong{
						font-weight: 600;
						font-size: 14px;
					}
					.name{
						padding-left: 10px;
					}
				}
				.required{
					display: table-cell;
					vertical-align: middle;
					font-size: 12px;
					text-align: right;
					span{
						color: red;
					}
				}
			}
		}
		.leftSide{
			padding-right: 10px;
				
			.chooseThumb {
				display: block;
				color: #999;
				font-size: 11px;
				margin-top: 7px;
				float: left;
				width: 100%;
				margin-bottom: 7px;
			}
			.thumbnails{ 
				padding-right: 7px;
				> img{
					border: 1px solid #e4e6e5;
					box-sizing: border-box;
					width: 75px;
				}
				#thumbs{

					display: block;
					font-size: 0;
					margin-top: 10px;
					input{
						display: none;
					}
					label{
						display: inline-block;

						margin-bottom: 10px;
						box-sizing: border-box;
						position: relative;
						max-width: 75px;
						height: 45px;
						overflow: hidden;
						margin-left: 5px; 

						&:before{
							border: 0 solid transparent;
							box-sizing: inherit;
							content: "";
							height: 100%;
							width: 100%;
							margin-right: 0;
							position: absolute;
						}
						img{
							border: 1px solid #e4e6e5;
							box-sizing: border-box;
							min-height: 45px;
							max-width: 75px;

						}
						&:first-of-type{
							margin-left: 0px!important;

						}
					}
					input:checked + label{
						&:before{
							border: 3px solid #5EBE5E;
						}
					}

				}
			}
			.details{
				input{
					box-sizing: border-box;
					display: block;
					height: 34px;
					width: 100%;
					border: 1px solid $lightgray-border;
					
					&:focus{
						box-shadow: none;
					}
				}
				textarea{
					box-sizing: border-box;
					display: block;
					min-height: 87px;
					width: 100%;
					line-height: 17px;
					resize: none;
					border: 1px solid $lightgray-border;
					
					&:focus{
						box-shadow: none;
					}
				}
			}
			.tags{
				margin-top: 20px;
				.twitter-typeahead{
					display: block !important;
				}
				input{
					box-sizing: border-box;
					display: block;
					height: 34px;
					width: 100%;
					margin-bottom: 0;
				}
				#tags{
					margin: 0;
					padding: 0;
				}
				.tm-tag{
					background-color: $body-gray-background;
					color: $mid-gray-color;
					padding: 5px 30px 5px 15px;
					
					.tm-tag-remove{
						&:before{
							font-size: 12px;
							margin-top: 6px;
							margin-right: 15px;
						}
					}
				}
			}
			.allowDownload{
				margin-top: 31px;
				input{
					display: none;
				}
				input + label{
					display: inline-block;
					padding-left: 27px;
					position: relative;
					&:before{
						position: absolute;
						width: 17px;
						content: '';
						height: 17px;
						left: 0;
						top: 2px;
						background: url(../images/icons_elements.png) no-repeat -144px -201px;
					}
				}
				input:checked + label{
					&:before{
						background: url(../images/icons_elements.png) no-repeat -190px -201px;
					}
				}
			}
		}
		.rightSide{
			.app7020AssetModal [data-custom="channelWidgetContainer"]{
				margin-top: 40px;
			}
			.title{
				font-size: 15px;
				color: $blue-color;
				margin-bottom: 3px;
				font-weight: 600;
			}
			[data-custom="channel-public-private"] {
				.widgetHeader{
					.sub-title{
						font-size: 12px;
						margin-bottom: 25px;
					}
				}
				label{
					color: $mid-gray-color;
					font-weight: 600px;
					
					&:before{
						font-size: 21px;
					}
				}
				.checkbox-item-row {
					.checkbox-item{
						margin-bottom: 20px;
						.app7020-visibility-row{
							font-weight: 600;
							i{
								font-size: 16px;
								margin-right: 10px;
								margin-top: 2px;
							}
							p{
								font-size: 12px;
							}
						}
					}
				}
			}
		}
		.text-label{
			margin-bottom: 15px;
			
			.title{
				display: block;
				font-size: 15px;
				font-weight: 600;
				color: $blue-color;
				margin-bottom: 3px;
			}
			.subTitle{
				display: block;
				color: $grey-color;
				font-size: 12px;
			}
		}
		.footerButtons{
			a{
				&.green{
					background: #5EBE5E;
					text-shadow: none;
				}
			}
		}
		.app7020-section-form{
			float: left;
			width: 100%;
			margin-left: 0;
			p{
				color: $grey-color;
				font-size: 12px;
				margin-bottom: 15px;	
			}
			input, textarea{
				font-size: 13px;
				padding: 10px 20px;
				border: 1px solid $lightgray-border;
				
				&:focus{
					box-shadow: none;
				}
			}
		}
		.app7020-section-tags{
			margin-left: 0;
			h6{
				margin-bottom: 5px;
				font-weight: 600;
				color: $blue-color;
			}
			p{
				color: $grey-color;
				font-size: 12px;
				margin-bottom: 15px;
			}
			.tags-input{
				font-size: 13px;
				padding: 20px;
				border: 1px solid $lightgray-border;
				width: 100%;
				
				&:focus{
					box-shadow: none;
				}
			}
			
		}
		.publishNow{
			color: $white;
			background: $green-color;
			padding: 15px 0;
			text-align: center;
			display: block;
		}
		.tag-widget-container{
			border: 1px solid $lightgray-border;
			font-size: 13px;
			padding: 10px 20px;
			
			input{
				font-size: 13px;
			}
			.tagsContainer{
				margin-bottom: 5px;
			}
		}
		[data-custom="channelWidgetContainer"]{
			margin-top: 35px;
		}
		[data-custom="channelWidgetContainer"] .widgetBody, [data-custom="channel-public-private"] .widgetBody{
			padding: 0;
			background: $white;
			border: 1px solid $lightgray-border;
			
			.search{
					background: $body-lightgray-background;
					padding: 5px;
					border-bottom: 1px solid $lightgray-border;
					
				input{
					border: 0;
					font-size: 13px;
					background: transparent;
					
					&:focus{
						box-shadow: none;
					}
				}
				i.fa-search{
					color: $mid-gray-color;
					right: 10px;
					top: 7px;
				}
			}
			.channel-wrapper{
				padding: 15px;
				#channnelsCheckList{
					margin-top: 0;
					
					.checkbox-item > label{
						font-weight: 600;
						color: $mid-gray-color;
					}
				}
			}
		}
		
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			color:    $placeholder-color;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    $placeholder-color;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    $placeholder-color;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    $placeholder-color;
		}
	}
}