/* 
    Created on : 06.06.2016, 16:20:41
    Author     : Kristian
*/

#assetTooltipTimeline{
	background: #fff;
	padding: 20px;
	margin: 30px 0;
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
	> h3{
		color: #0456ac;
		font-size: 19px;
		font-weight: 600;
	}
	.timeline-wrapper{
		padding-top: 19px;
		overflow: hidden;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			background: #fff;
			height: 19px;
			z-index: 1;
		}
		.vis-timeline.vis-bottom{
			border: 1px #E4E6E5 solid;
			border-bottom: 0;
		}
		.vis-panel.vis-center{
			border: 1px #E4E6E5 solid;
			overflow: visible;
			/*			.vis-content{
							top: 0!important;
							height: inherit!important;
							.vis-itemset{
								height: inherit!important;
							}
						}*/
		}
		.vis-group{
			height: 100%!important;
			border: 0;
		}
		.vis-panel.vis-bottom{
			background: #fff;
			border-left-color: #fff;
			border-right-color: #fff;
		}
		.vis-panel.vis-left{
			display: none;
		}
		.vis-panel.vis-background.vis-vertical{
			.vis-grid.vis-vertical.vis-minor{
				border-color: #E4E6E5;
			}
		}
		.vis-custom-time.current-time-player{
			background: #59c057;
			width: 3px;
			top: -24px !important;
			span{
				background: #59c057;
				box-sizing: border-box;
				color: #fff;
				display: inline-block;
				font-size: 14px;
				font-weight: 600;
				height: 19px;
				line-height: 18px;
				margin-left: -14px;
				min-width: 50px;
				padding: 0 5px;
				position: absolute;
				text-align: center;
				top: 4px;
				z-index: 9999;
			}
		}
		.vis-item.vis-range{
			background: #999999;
			border: 0;
			color: #fff;
			height: 25px;
			line-height: 24px;
			padding: 0;
			@include transition(background .2s linear);
			@include border-radius(0);
			&.vis-selected{
				background: #59c057;
				.vis-item-overflow{
					box-shadow: 0 0 0 2px #000 inset;
					&:before, &:after{
						background: #59c057 none repeat scroll 0 0;
						content: "";
						display: block;
						height: 3px;
						left: 0;
						margin: 0 6px;
						position: absolute;
						right: 0;
					}
					&:before{
						top: 0;
					}
					&:after{
						bottom: 0;
					}
				}
			}
			.vis-item-overflow{
				cursor: pointer;
				width: inherit;
				.vis-item-content{
					width: inherit;
					padding: 0 5px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
		.vis-shadow{
			display: none;
		}
		.vis-background, .vis-labelset, .vis-timeline {
			overflow: visible;
		}
		.seeker-item-tooltip {
			background: #000 none repeat scroll 0 0;
			display: block;
			position: absolute;
			top: -21px;
			white-space: nowrap;
			height: 21px;
			line-height: 21px;
			padding: 0 5px;
			font-size: 11px;
			display: none;
			&.show{
				display: block;
			}
			&.start{
				right: 0;
				margin-right: 100%;
			}
			&.end{
				left: 0;
				margin-left: 100%;
			}
			span{
				font-size: 10px;
				font-weight: 700;
			}
		}
	}
}