/* 
    Created on : 03.06.2016, 14:57:03
    Author     : Kristian
*/

#assetTooltipSidebar{
	box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2);
	.header{
		background: #FAFAFA;
		border: 1px #EEEEEE solid;
		position: relative;
		min-height: 56px;
		h3{
			color: #0456ac;
			font-size: 15px;
			font-weight: 600;
			padding: 21px 80px 0 20px;
		}
		.tooltip-control{
			@include border-radius(50%);
			@include transition(.2s linear);
			text-align: center;
			line-height: 40px;
			width: 40px;
			font-style: normal;
			display: block;
			position: absolute;
			right: 20px;
			color: #fff;
			font-weight: 600;
			top: 50%;
			margin-top: -20px;
			font-size: 28px;
			cursor: pointer;
			box-sizing: border-box;
			&.tt_add{
				background: #59C057;
			}
			&.tt_close{
				@include transform(rotate(45deg));
				background: #FAFAFA;
				color: #333;
				padding-left: 2px;
			}
			&[disabled="disabled"]{
				background: #DDD;
				cursor: default;
			}
		}
	}
	.content{
		background: #fff;
		border: 1px #EEEEEE solid;
		border-top: none;
		.information{
			color: #666;
			font-size: 15px;
			text-align: center;
			line-height: 22px;
			padding: 100px 20px;
		}
		.editing{
			padding: 20px;
			.mce-tinymce{
				margin-bottom: 17px;
				border: 1px #E5E5E5 solid;
				.mce-panel{
					background: #FDFDFD;
				}
				.mce-edit-area{
					border-top: 1px #E5E5E5 solid;
				}
				iframe{
					height: 89px !important;
				}
			}
			.thumbs-wrapper{
				padding-bottom: 30px;
				.dark-thumb,
				.light-thumb{
					cursor: pointer;
					display: block;
					box-sizing: border-box;
					padding: 5px 10px 5px 5px;
					width: 48.5%;
					position: relative;
					@include border-radius(2px);
					.circle{
						display: block;
						float: left;
						width: 20px;
						height: 20px;
						@include border-radius(50%);
					}
					.lines-wrapper{
						margin-left: 25px;
						.line1,
						.line2{
							display: block;
							margin: 5px 0 4px 0;
							height: 3px;
						}
						.line1{
							width: 100%;
						}
						.line2{
							width: 90%;
						}
					}

				}
				.dark-thumb{
					float: left;
					background: #999999;
					.circle, .line1, .line2{
						background: #F5F5F5;
					}
				}
				.light-thumb{
					float: right;
					background: #F5F5F5;
					.circle, .line1, .line2{
						background: #D8D8D8;
					}
				}
				i{
					position: absolute;
					width: 20px;
					height: 20px;
					color: #666;
					left: 50%;
					font-size: 20px;
					bottom: -30px;
					margin: 0 0 0 -10px;
				}
			}
			.footer{
				text-align: right;
				margin-top: 25px;
				button{
					@include app7020-button(black);
					@include transition(opacity .2s linear);
					min-width: 110px;
					padding: 0 20px;
					font-size: 14px;
					text-shadow: none;
					line-height: 33px;
					height: 33px;
					&.save{
						background: #5ABF59;
					}
					&.delete{
						background: #EA4B35;
						margin-left: 6px;
					}
					&:hover{
						opacity: .9;
					}
				}
			}
		}
	}
}

.modal.confirm_delete_tooltip{
	@extend %app7020ModalDefaultStyle;
	width: 480px;
	margin-left: -240px;
	#confirm_delete_tooltip{
		.content-wrapper{
			p{
				span{
					font-weight: 600;
				}
			}
			label{
				position: relative;
				margin-top: 15px;
				input{
					display: none;
					& + .label-text{
						padding-left: 26px;
						&:before{
							position: absolute;
							display: inline-block;
							content: '';
							background: url('../images/icons_elements.png') no-repeat -144px -201px;
							width: 17px;
							height: 17px;
							left: 0;
							top: 2px;
						}
					}
					&:checked + .label-text{
						&:before{
							background: url('../images/icons_elements.png') no-repeat -190px -201px;
						}
					}
				}
			}
		}
	}
}