/* 
    Created on : 14.04.2016, 11:17:45
    Author     : Violeta
*/

/* Settings */
@import 'settings';

/* Templates */
@import 'statusBar';
@import 'prDirective';
@import 'assetDetails';
@import 'similarAssetsDirective';
@import 'assetEdit';
@import 'assetPlayer';
@import 'assetTooltipSidebar';
@import 'assetTooltipTimeline';

/*  KL Object Play extend styles */


/* Common classes style  */
.black{
	color: $black;
}
.green{
	color: $green-color;
}
.light{
	font-weight: 300;
}
.bold{
	font-weight: 600;
}
.blue{
	color: $blue-color;
}
.gray{
	color: $grey-color;
}

/* Page container styles */
.container.fluid-container{
	width: 100%;
    background: $body-gray-background;
    overflow: hidden;

	.header-logo-line{
		background: $white;
		margin-bottom: 0;
		padding-bottom: 20px;
		padding-top: 12px;

		.span4 {
			margin-left: 50px;
		}
		.span8 {
			margin-left: 0;
			margin-right: 0;
			width: 63.3%;
		}
	}
	#header {
		margin-left: 50px;
	}
	.menu-spacer{
		margin-left: 0;
	}
	#navigation{
		margin-left: 50px;
	}
	.tab-navigation{
		position: relative;
		margin-left: 50px;
	}
	.breadcrumb {
		margin-bottom: 1px;
		padding-left: 50px;
		.breadcrumpjs{
			display:inline;
		}
	}
	.inner-container {
		margin: 40px 0 0px 50px;

		#content{
			padding: 0 50px;
			margin: 0 auto;

			.custom-owl-nav{
				margin-bottom: 0;
			}
		}
	}
	#footer {
		margin: 0px 50px 20px 100px;
	}
}