/* 
    Created on : 14.04.2016, 17:14:45
    Author     : Violeta
*/


/* Peer review section */

.peer-reviews-wrapper{
/*	.mCSB_container {
		height: 100%!important;
	}*/
	border: 1px solid $lightgray-border;
	@include gray-box-shadow();
	margin-bottom: 30px;

	.header{
		background: $body-lightgray-background;
		border-bottom: 1px solid $lightgray-border;
		padding: 8px 20px 7px;
		font-size: 15px;
		min-height: 45px;

		.header-title{
			display: inline-block;
			margin-right: 24px;
			vertical-align: top;
			padding-top: 13px;
		}

		.peers{
			display: inline-block;
			margin-left: 30px;
			float: right;

			li{
				display: inline-block;
				position: relative;
				width: 42px;
				height: 42px;
				border: 1px solid $lightgray-border;
				background: $white;
				border-radius: 50%;
				margin-right: 10px;
				vertical-align: top;

				&:last-child{
					margin-right: 0;
				}

				span{
					display: block;

					&.more-experts{
						position: absolute;
						left: 14px;
						top: 10px;
						color: $grey-color;

						i{
							position: absolute;
							top: -5px;
						}
					}
				}
				img{
					max-width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}
		}
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background : #000 !important;
	}

	.content{
		background: $white;
		padding: 39px 20px;
		max-height: 650px;
		height: 650px;
		overflow: auto;
		.peer-review-actions:first-child ul {
			background: #000;
		}
		.all-chats{
			height: 100%;
			padding-bottom:85px;
			.chat-date{
				text-align: center;
				color: $grey-color;
				font-size: 13px;
				font-weight: 400;
				padding-bottom: 13px;
				border-bottom: 1px solid $lightgray-border;
			}
			> .ng-scope {
				&:last-child{

				} 
			}
			.wrap-by-date{
				li{
					margin: 25px 0;

					.peer-thumb{
						width: 42px;
						height: 42px;
						display: inline-block;
						position: relative;
						vertical-align: top;
						margin-right: 15px;

						img{
							max-width: 100%;
							max-height: 100%;
							width: 100%;
							border-radius: 50%;
						}
						.image-file{
							width: 100%;
							height: 100%;
							border-radius: 50%;
							display: block;
							border: 1px solid $lightgray-border;
							background: $white;
							border-radius: 50%;
						}
						.type-dot{
							position: absolute;
							bottom: 0px;
							left: -2px;
							border-radius: 50%;
							border: 2px solid $white;
							width: 10px;
							height: 10px;
						}
					}
					.review-text{
						display: inline-block;
						width: 80%;
						max-width: 82%;
						padding: 10px 15px 15px;
						border-radius: 5px;
						position: relative;
						line-height: 18px;
						font-size: 13px;

						.peer-name{
							display: inline-block;
						}
						.review-time{
							font-size: 12px;
							float: right;
						}

						&:before{
							content: '';
							width: 0; 
							height: 0; 
							position: absolute;
							top: 15px;
						}
						.heading-info{
							margin-bottom: 3px;
						}

						&:hover{
							.dots{
								display: block;
							}
						}
					}

					/* Action peer review menu  */
					.peer-dots-menu{
						position: relative;
						right: 0;

						.dots{
							position: absolute;
							font-size: 24px;
							font-weight: 600;
							top: -23px;
							right: 0;
							padding: 10px 0;
							display: none;
							cursor: pointer;

							&:hover + .peer-review-actions{
								display: block;
							}
							&.shown{
								display: block;
							}
						}
						.peer-review-actions{
							position: absolute;
							z-index: 1060;
							background: $white;
							border: 1px solid $body-gray-background;
							width: 150px;
							right: 0;
							top: 15px;

							li{
								margin: 0;
								border-bottom: 1px solid #F5F5F5;	
								span{  
									padding: 5px 15px;
									width: 100%;
									display: block;
									box-sizing: border-box;
									cursor:pointer;
									&:hover{
										background: $body-gray-background;
										text-decoration: none;
									}
								}
								span.edit {
									color:#000;
								}
								span.delete {
									color : red;
								}
								span.make_tooltip {
									color:#000;
								}
							}
						}
					}
					/*					&:last-child{
												.peer-review-actions{
													bottom: 50px;
													top: auto;
												}
										}*/
				}
				.others{
					.type-dot{
						background: $red;
					}
					.peer-name{
						color: $blue-color;
					}
					.review-text{
						background: $body-gray-background;
						color: $grey-color;

						&:before{
							border-top: 7px solid transparent;
							border-bottom: 7px solid transparent; 
							border-right: 7px solid $body-gray-background;
							left: -7px;
						}
					}
				}
				.mine{
					.type-dot{
						background: $green-color;
					}
					.review-text{
						background: $blue-background;
						color: $white;

						&:before{
							border-top: 7px solid transparent;
							border-bottom: 7px solid transparent; 
							border-left: 7px solid $blue-background; 
							right: -7px;
						}
					}
					.peer-thumb{
						float: right;
						margin-right: 0;
					}
				}
			}
		}
	}
	.footer{
		background: $white;
		padding: 15px;
		border-top:  1px solid $lightgray-border;

		input[type="text"]{
			border: 0;
			display: inline-block;
			margin-bottom: 0;
			width: 85%;

			&:focus{
				outline: 0;
				box-shadow: none;
			}
			&::-webkit-input-placeholder {
				color: $placeholder-color;
			}

			&:-moz-placeholder { /* Firefox 18- */
				color: $placeholder-color;  
			}

			&::-moz-placeholder {  /* Firefox 19+ */
				color: $placeholder-color;  
			}

			&:-ms-input-placeholder {  
				color: $placeholder-color;  
			}
		}
		button{
			border: 0;
			background: none;
			font-size: 20px;
			display: inline-block;
			vertical-align: top;
			padding-top: 5px;
		}
	}
}