/* 
    Created on : 14.04.2016, 11:15:45
    Author     : Violeta
*/

// Colors
// -------------------------
$blue-color: #0456ac;
$placeholder-color:  #BFBFBF;
$yellow-color: #F1C500;
$mid-gray-color: #666;

// Backgrounds
// -------------------------
$body-gray-background:  #f5f5f5;
$body-lightgray-background:  #fafafa;
$lightgray-background: #e5e5e5;
$blue-background: #0063ae;

// Border colors
// -------------------------
$lightgray-border:  #eee;

// Navigation circles backgrounds
// -------------------------
$nav-button-green: #5ABF59;
$nav-button-grey: #666666;
$nav-button-blue: #0063AE;
$nav-button-red: #EA4B35;
// Hovers
$nav-button-h-green: #7CD07C;
$nav-button-h-grey: #828282;
$nav-button-h-blue: #0077C8;
$nav-button-h-red: #F66350;

// Mixins
// 
@mixin gray-box-shadow(){
	-webkit-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2);
}
@mixin box-shadow($value){
	-webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}


//Bootstrap fix
//
.box-sizing{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


//Default containers style (app7020)
#app7020-angular-app{
	.custom-owl-nav{
		margin-bottom: 0;
	}
	.owl-title{
		margin-top: 0;
	}
}