/* 
    Created on : 15.04.2016, 16:28:18
    Author     : Kristian
*/

.similar-assets-wrapper{
	position: relative;
	margin-bottom: 30px;
	button{
		@include transition(background .3s linear);
		@include transition(color .3s linear);
		&.prev, &.next{
			@include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.05));
			background: #fff none repeat scroll 0 0;
			border: 0 none;
			box-sizing: border-box;
			height: 31px;
			padding: 0;
			width: 100%;
			color: #0063ae;
			font-size: 37px;
			line-height: 31px;
		}
		&[disabled="disabled"]:not(.loading){
			background: #fcfcfc;
			color: #a8bddc;
			cursor: default;
		}
		&.loading{
			font-size: 20px;
			&:before{
				content: "\f110";
				display: inline-block;
				animation: 2s linear 0s normal none infinite running fa-spin;
			}
		}
	}
	.items-wrapper{
		padding: 5px 0 20px 0;
		.item{
			@include box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.05));
			background: #fff;
			display: table;
			width: 100%;
			box-sizing: border-box;
			height: 95px;
			margin-top: 15px;
			cursor: pointer;
			figure{
				position: relative;
				width: 172px;
				display: table-cell;
				img{
					width: 100%;
				}
				.label-top-left{
					position: absolute;
					z-index: 10;
					top: 0;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 50px 50px 0 0;
					border-color: transparent;
					&:before{
						font-size: 16px;
						left: 8px;
						position: relative;
						top: -43px;
					}
				}
				.label-type{
					position: absolute;
					z-index: 10;
					left: 13px;
					top: 63px;
					font-size: 11px;
					font-weight: 700;
					background: #333;
					line-height: 19px;
					color: #fff;
					text-transform: uppercase;
					display: inline-block;
					padding: 0 8px;
				}
				.label-time{
					position: absolute;
					z-index: 10;
					top: 13px;
					right: 13px;
					background: #333;
					color: #fff;
					line-height: 21px;
					text-transform: uppercase;
					display: inline-block;
					padding: 0 8px;
					border: 1px rgba(51,51,51,.5) solid;
				}
			}
			section{
				display: table-cell;
				vertical-align: top;
				padding: 0 10px 10px 18px;
				.info{
					margin: 11px 0 0;
					color: #999;
					.ago{
						padding-left: 10px;
					}
				}
				.title{
					margin: 2px 0 0;
					font-weight: 600;
					color: #0456ac;
					font-size: 14px;
					word-break: break-word;
				}
			}
		}
	}
}