/* KL object play page styles (view mode) */
.tabs-bar{
    position: relative;
	.app7020BootstrapTabsExtended{
		padding: 0 50px;
		min-height: 64px;
		background: #fff;
		li{
			a{
				display: block;
				font-size: 14px;
				font-weight: 700;
				height: 63px;
				line-height: 63px;
				padding: 0 33px;
				text-decoration: none;
				text-transform: uppercase;
			}
			&.active{
				a{
					color: #0456ac;
				}
			}
		}
	}
	.show-back.app7020BootstrapTabsExtended li.back-arrow {
		display: inline-block;
		width: 50px;
	}
	.buttons-controls{
		position: absolute;
		right: 50px;
		top: 33px;
		a{
			@include border-radius(50%);
			display: block;
			width: 60px;
			height: 60px;
			color: #fff;
			text-align: center;
			float: left;
			text-shadow: none;
			@include transition(background .2s linear);
			&:not(:first-child){
				margin-left: 10px;
			}
			&.green{
				background: $nav-button-green;
				&:hover{
					background:  $nav-button-h-green;
				}
			}
			&.grey{
				background: $nav-button-grey;
				&:hover{
					background:  $nav-button-h-grey;
				}
			}
			&.blue{
				background: $nav-button-blue;
				&:hover{
					background:  $nav-button-h-blue;
				}
			}
			&.red{
				background: $nav-button-red;
				&:hover{
					background:  $nav-button-h-red;
				}
			}
			.fa{
				&:not(.fa-stack-1x){
					position: relative;
				}
			}
			.fa-user{
				font-size: 17px;
				top: 14px;
			}
			.fa-comment-o{
				font-size: 34px;
				top: 16px;
			}
			.fa-bar-chart{
				font-size: 20px;
				top: 20px;
			}
			.fa-pencil{
				font-size: 22px;
				top: 18px;
			}
			.fa-share-square-o{
				font-size: 25px;
				top: 19px;
			}
			.fa-trash-o{
				font-size: 25px;
				top: 18px;
			}
		}
		.tooltip-inner{
			font-size: 11px;
			font-weight: 700;
			padding: 1px 10px 3px;
			@include border-radius(3px);
		}
	}
}
.status-bar{
	width: 100%;
	margin-bottom: 20px;
	margin-left: 0;
	@include gray-box-shadow();

	.status-bar-wrapper{
		padding: 15px 20px;
	}
}
.publish-details-container{
	color: $grey-color;
	display: inline-block;
	margin-right: 40px;
	div{
		display: inline-block;
	}

	a{
		text-decoration: underline;
	}
}
.edit-details-container{
	display: inline-block;
	color: $grey-color;

	div{
		display: inline-block;
	}
	a{
		text-decoration: underline;
	}
}


/* KL object play page styles (edit mode) */
.publish-button-bar{
	display: inline-block;
	margin: 0 23px 0 15px;

	input[type="checkbox"]{
		display: none;	
	}
	.toggle{
		position: relative;
		display: inline-block;
		top: 3px;
	}

	.toggle label{
		width: 40px;
		height: 11px;
		border-radius: 32px; 
		margin-bottom: 3px;
		transition: all 0.30s ease;
		background: $body-gray-background;
	}

	.toggle i{
		position: absolute;
		top: -6px;
		left: 0px;
		width: 24px;
		height: 24px;
		border-radius: 24px;
		background: $grey-color;
		transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
	}

	input[type="checkbox"]:checked + .toggle i{
		background-color: #5EBE5C;
		left: 21px;
	}
	input[type="checkbox"]:checked:active + .toggle i{
		left: 14px;
	}
}
.publish-state-label{
	display: inline-block;
	text-transform: uppercase;
	font-weight: 800;
    position: relative;
}
.status-ready-text{
	display: inline-block;
	padding-left: 30px;
	margin-left: 30px;
	position: relative;
	top: 0px;

	&:before{
		content: '';
		width: 1px;
		height: 55px;
		top: -18px;
		left: 0;
		position: absolute;
		background: $body-gray-background;
	}
}
@media screen and (max-width: 1262px) {
    .status-ready-text{
		display: inline-block;
		margin: 4px 0px 0px 0px;
		padding: 0;
		position: relative;
		top: 0px;

		&:before{
			content: '';
			width: 0px;
			height: 25px;
			top: -18px;
			left: 0;
			margin-right: 2px;
			position: absolute;
			background: $body-gray-background;
		}
	}
}
.status-bar{
	@include transition(background .2s linear);
	&[data-mode="view"]{
		background: #fff;
	}
	&[data-mode="edit"]{
		background: #fff;
	}
	&[data-mode="highlight-published"]{
		background: #5ABF59;
		color: #fff;
		cursor: pointer;
	}
	&[data-mode="highlight-unpublished"]{
		background: #FCEAC6;
		cursor: pointer;
	}
	.published-bar-wrapper,
	.unpublished-bar-wrapper{
		padding: 18px 20px 17px;
		.fa-times{
			font-size: 17px;
			display: block;
			float: right;
			padding-left: 16px;
		}
		.fa-check-circle{
			font-size: 19px;
			display: block;
			float: left;
			padding-right: 16px;
		}
		.fa-exclamation-circle{
			font-size: 19px;
			color: #666;
			display: block;
			float: left;
			padding-right: 16px;
		}
		.text{
			margin: 0;
			display: block;
			float: left;
		}
	}

}