#app7020-contribute-gotId{
	position: relative;
	.wrapper{
		border: 1px #E5E5E5 solid;
		padding: 8px;
		background: #fff;
		display: table;
		width: 100%;
		box-sizing: border-box;
		.doceboIcon{
			background: url('../images/app_docebo.png') no-repeat center center;
			width: 175px;
			height: 60px;
			display: table-cell;
			vertical-align: middle;
		}
		.text{
			display: table-cell;
			vertical-align: middle;
			padding: 0 16px;
			p{
				margin: 0 0 2px 0;
				color: #0465AC;
				font-weight: 600;
				font-size: 18px;
			}
			span{

			}
		}
		.appLinks{
			background: url('../images/get_app_buttons.png') no-repeat center center;
			width: 260px;
			display: table-cell;
			vertical-align: middle;
			padding-right: 60px;
		}
	}
}
#app7020-pl-uploader {
	.app7020-general-heading {
		/*display: inline;*/
		text-align: center;
	}
	.app7020-hint-container {
		padding: 30px 0;
		text-align: center;
	}
}
//Container with all uploaded files
#app7020-file-list-container {
    .plupload-file-container {

		.btn {
			&.edit {
				@include make-button($edit-color, 14px, #fff, 7px 20px);
				float: left;
				max-width: 125px;
				&.disabled {
					display: none; 
				}
			}
			&.info {
				@include make-button($green-color, 14px, #fff, 7px 20px);
				float: left;
				max-width: 125px;
				min-width: 86px;
				&.disabled {
					display: none; 
				}
			}
		}
		.app7020-lmsupload-success {
			display: none;
		}
        min-height: $upload-container-height;
        border: 1px solid $grey-border; 
        &:not(:first-child) {
			border-top: none;
        }
		@media screen and (max-width: 479px) {
			height: auto; 
			min-height: auto;
		}
        //extend general layout for upload container
        @extend %app7020-uploading-container;
        @include loop-rows($grey-background);
        //extend params for vertical aligment DOM elements(height)
        .app7020-table-content {
            min-height: $upload-container-height;
            height: $upload-container-height;
        }

		.app7020-table-row {
			display: table-row;
			position: relative;
			min-height: $upload-container-height;
			.app7020-camera-left-col {
				min-height: $upload-container-height;
				display: table-cell;
				vertical-align: middle;
				width: 90px;
				position: relative;
				text-align: center;
				&.app7020-camera {
					@include label-icon-camera($camera-size, $camera-color, $camera-border-color);
				}
				img {
					width: 42px;
					border-width: 1px;
					border-style: solid;
					border-color: #E5E5E5;
					font-size: 12px;
					color: #BEBEBE;
					/* position: absolute; */
					text-align: center;
				}
				@media (min-width: 1200px) { }
				@media (min-width: 768px) and (max-width: 979px) {
					width: 70px;
				}
				@media (max-width: 767px) {
					display: none;
				}
				@media (max-width: 480px) {
					;
				}
			}
			.app7020-content-center-col{
				min-height: $upload-container-height;
				display: table-cell;
				vertical-align: middle;
				padding: 5px;
				box-sizing: border-box;
			}
			.app7020-control-right-col {
				min-height: $upload-container-height;
				display: table-cell;
				vertical-align: middle;
				width: 145px;
				position: relative;
				@media (min-width: 1200px) { }
				@media (min-width: 768px) and (max-width: 979px) {
					width: 90px;
					.btn {
						&.edit, &.info {
							padding: 7px 6px;
							font-size: 12px;
						}
						&.info {
							min-width: 74px;
						}
					}
				}
				@media (max-width: 767px) {
					width: 70px;
					.btn {
						&.edit {
							padding: 7px 4px;
							font-size: 10px;
						}
						&.info {
							min-width: 74px;
							font-size: 11px;
						}
					}
				}
				@media (max-width: 480px) {
					display: none;
				}
			}
		}
		.docebo-progress {
            @include upload-progress-container($green-color, 5px);
            background: $progress-holder;
        }
		/*Styles when files is upload to local server*/
        .app7020-video-uploaded {
            color:#000;
            b {
                &:first-child {
                    color: $green-color;
                }
            }
            a {
                color: $edit-color;
                text-decoration: underline;

            }

        }

        /*DOM until uploading on local server*/
        &.app7020-local-proccessing {
            .app7020-contribite-uploading-text-percent {
                display: block;
            }
            .docebo-progress {
                display: block;
            }
			.app7020-lmsupload-success {
				display: none;
			}
			.app7020-control-right-col {
				display: none;
			}
			.app7020-content-center-col {
				padding-right: 20px;
			}
			.app7020-stop-uploading {
				margin-left: 10px;
				cursor: pointer;
				color: #2379B6;
				u {
					color: #2379B6;
				}
			}
			.app7020-contribite-uploading-percent {
				color: $green-color;
				font-weight: bold;
			}
        }


        &.app7020-s3-proccessing {
            .app7020-video-s3-waiting-send {
                display: block;
                font-size: 12px;
            }
            .app7020-video-s3-waiting-conversion {
                display: none;
            }
			.app7020-lmsupload-success {
				display: block;
			}

        }

        /*Style for wrong messages*/ 
        &.app7020-s3-wrong {
            color: red;
            line-height: 35px;
            .app7020-video-error {
                display: block;
            }
			.app7020-lmsupload-success {
				display: none;
			}
        }

		.app7020-content-center-col {
			> div {
				display: none;
			}
		}
        /*COMBINATION CLASSES*/
        &.app7020-local-uploaded{
            .app7020-video-s3-waiting-send {
                display: block;
                font-size: 12px;
            }
            .app7020-video-s3-waiting-conversion {
                display: none;
            }
			.app7020-lmsupload-success {
				display: none;
			}
        }

        /*Style when conversion is successfull*/
        &.app7020-s3-converted {
			.app7020-video-s3-complete {
                display: block;
                font-size: 12px;
            }
        }

        /*Styles when file is uploaded to S3*/
        &.app7020-s3-uploaded{
            .app7020-video-s3-waiting-conversion {
                display: block;
                font-size: 12px;
            }
        }

        /*Gerenral classes and styles for diferent stages*/ 
        &.app7020-s3-uploaded, &.app7020-s3-uploaded, &.app7020-local-uploaded, &.app7020-local-prepare_db,&.app7020-s3-converted{
            .app7020-video-uploaded {
                display: block;
            }
			.app7020-lmsupload-success {
				display: none;
			}
			a[id^='app7020-inreview-file-']{
				display: none;
			}

		}
		&.app7020-s3-inreview {
			.app7020-inreview-container {
				display: table-row;
				.app7020-inreview-info {
					display: table-cell;
					vertical-align: middle;
					padding-right: 15px;
					.app7020-inreview-view {
						display: none;
						color: $green-color;
						font-size: 14px;
						margin-top: 20px;
						font-weight: bold;
						text-align: left;
						@media (max-width: 480px) {
							display: block;
						}
					}
				}
				.app7020-checkbox-icon {
					display: table-cell;
					height: 24px;
					width: 38px;
					vertical-align: middle;
					i {
						font-size: 30px;
						color: $green-color;
					}
					@media (max-width: 480px) {
						display: none;
					}

				}
			}
			a[id^='app7020-inreview-file-']{
				display: inline-block;
			}
			.app7020-control-right-col {
				.edit {
					display: none;
				}
			}

		}


	}
}

/* general title container styles */
%title {
    .title {
        font-size: 15px;
        font-weight: bold;
        &.required {
            &:after {
                content: ' *';
                color: red;
                font-size: 15px;
            }
        }
    }
    p {
        color: #999;
        font-size: 11px;
        margin-top: 3px;
    }
}
/* heneral input resets  */
%reset-control-group {
    & {
        > * 
        {
            > * {
                display: inline-block;
                width: 100%;
            }
        }
        textarea {
            height: 87px;
            margin-bottom: 0;
        }
        input {
            line-height: 33px;
            height: 33px;
        }
        input, textarea {
            padding: 0 10px;
            box-sizing: border-box;
        }
    }

}
.contributeContainer {
    .title {
        @extend %title;
    }
    padding: 20px;
    border: 1px #E5E5E5 solid;
    #header {
        background: #eee; // need to remove
        height: 60px; // need to remove
        line-height: 60px; // need to remove
        text-align: center; // need to remove
        font-size: 26px; // need to remove
        margin-bottom: 20px;
    }
    %active-label-on-radio {
        border: 3px solid $green-color;
    }
    .formArea {
		position: relative;
        input, textarea {
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: $green-color;
            }
        }
		.controls {
			.error {
				border-color: red;
				font-style: italic;
				font-weight: normal;
			}
		}


        .app7020-section-form {
            .control-group {
                @extend %reset-control-group;
            }
            @media screen and (min-width:980px) and (max-width: 1199px) {
                width: 65.95744680851064%;
            }
        }
        .app7020-section-form {
            @extend %title;
        }
        .app7020-section-tags {
            @extend %title;
            .control-group {
                @extend %reset-control-group;
                input[type="text"] {
                    width: 100%;
                    @include input-placeholder {
                        font-style: italic;
                    }
                }
            }
            @media screen and(min-width: 980px ) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
	.app7020-thumbnails {
		margin-left: 0;
		ul {
			margin: 0;
			li {
				height: 45px;
				input[type="radio"]  {
					z-index: -999999999;
					visibility: hidden;
					position: absolute;
					top: 0; 
					left: 0;
					&:checked+label {
						@extend %active-label-on-radio;
					}
					img {
						max-width: 70px;
						max-height: 45px;
					}
				}
				label {
					box-sizing:  border-box;
					max-width: 70px;
					max-height: 45px;
					overflow: hidden;
				}
				&.active {
					input[type="radio"]+label  {
						@extend %active-label-on-radio;
					}
				}
				margin: 0;
				margin-bottom: 11px;
				&:nth-child(odd) {
					text-align: left;
				}
				&:nth-child(even) {
					text-align: right;
				}
				@media screen and (max-width:979px) {
					width: 100%;
				}
				@media screen and (max-width:767px) {
					width: 25%;
					@media screen and (max-width:420px) {
						width: 50%;
					}

					display: inline-block;
					float: none;
					img {
						text-align: center;
					}
					label  {
						margin: 0 auto;
						float: none;
						text-align: center;
					}
				}
			}
		}
		@extend %title;
		.app7020-thumbnail-heading {
			line-height: 30px;
			font-size: 13px;
			@media screen and (max-width:979px) {
				line-height:15px;
			}
			margin-bottom: 15px;

		}
		@media screen and (min-width:980px) and (max-width: 1199px) {
			width: 31.914893617021278%;
		}
	}
	.form-publishing-heading {
		margin: 0;
		h2{
			color: $green-color;
			font-size: 13px;
			display: block;
			border-bottom: 3px solid $green-color; 
			padding-bottom: 10px;
			margin: 0;
			line-height: inherit;
		}
		span {
			display: block;
			font-size: 11px; 
			float: right;
			&:before{
				display: inline;
				content: '* ';
				position: relative;
				color: red;
				font-size: 11px; 
			} 
		}


	}
	.form-area-row {
		position: relative;
		.contribute_file_header{
			margin-top: -18px;
			.info{
				display: table;
				width: 100%;
				box-sizing: border-box;
				height: 45px;
				.file{
					display: table-cell;
					vertical-align: middle;
					strong{
						font-weight: 600;
						font-size: 14px;
					}
					.name{
						padding-left: 10px;
					}
				}
				.required{
					display: table-cell;
					vertical-align: middle;
					font-size: 12px;
					text-align: right;
					span{
						color: red;
					}
				}
			}
		}
		.span2 {
			max-width: 155px;
			min-width: 155px; 
			@media (min-width: 1200px) { }
			@media (min-width: 768px) and (max-width: 979px) { }
			@media (max-width: 767px) { }
			@media (max-width: 480px) {
				margin: 0 auto;
			}
		}
		.span10 {
			width: 97%;
			padding-left: 155px;
			float: right;
			top: 0; 
			right: 0;
			position: absolute;
			@media (min-width: 1200px) { }
			@media (min-width: 768px) and (max-width: 979px) { }
			@media (max-width: 767px) {
				padding-left: 174px;
			}
			@media (max-width: 480px) {
				position: absolute;
				float: left;
				padding: 0;
				left: 0;
				top: 0;
			}
		}
		> .span12 {
			@media (min-width: 1200px) { }
			@media (min-width: 768px) and (max-width: 979px) {
				margin-bottom: 20px;
			}
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
			@media (max-width: 480px) {
				> .row-fluid {
					margin-top: 100px;
				}
			}
		}
		@media (min-width: 1200px) { }
		@media (min-width: 768px) and (max-width: 979px) { }
		@media (max-width: 767px) { }
		@media (max-width: 480px) {

		}


	}
	footer {
		margin-top: 25px;
		@media screen and (max-width: 767px) {
			padding-right:0;
			> input {
				/*				max-width: 100px;*/
				font-size: 12px;
				float: left;
				margin-top: 10px;

			}
		}
	}

}

/* // Record -/- Browse -/- Application // */
#contributeContainerTabs {
    border: 1px #E5E5E5 solid;
	/*border-bottom: none;*/
    background: #F8F8F8;
    margin-bottom: 20px;
    padding: 20px;
	.browse,
    .shareLink {
        border: 1px #E5E5E5 solid;
        height: 190px;
        background-color: #fff;
        @media (max-width: 767px) {
            max-width: 370px;
            margin: 0 auto;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        .fa {
            display: block;
            font-size: 45px;
            text-align: center;
            padding-top: 25px;
            &.fa-laptop {
                &:after {
                    font-family: "FontAwesome";
                    display: block;
                    font-size: 14px;
                    margin-bottom: 19px;
                    margin-top: -32px;
                    color: red;
                    content: "\f111";
                }
            }
        }
        .text {
            font-size: 16px;
            padding-top: 10px;
            text-align: center;
        }
        a {
            outline: none;
            text-decoration: none;
            display: inline-block;
            color: #fff;
            height: 33px;
            line-height: 33px;
            padding: 0 10px;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            min-width: 140px;
            margin-top: 5px;
            transition: opacity .1s;
            &:hover {
                opacity: .8;
            }
        }
    }
    .browse {
        /*background: url("../images/get_7020_mobile_app.png") no-repeat center center #fff;*/
        .fa, .text {
            color: #0264AD;
        }
        a {
            background: #0264AD;
        }
    }

	#shareLinkActiveForm{
		display: table;
		height: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		width: 100%;
		.wrapper{
			display: table-cell;
			vertical-align: middle;
			.linkInput{
				input{
					width: 100%;
					box-sizing: border-box;
					height: 32px;
				}
			}
			.buttonsPlace{
				text-align: right;
				.submitShareButton{
					@include app7020-button(green);
					font-size: 14px;
					height: 33px;
					line-height: 33px;
					min-width: 100px;
					box-shadow: none !important;
				}
			}
		}
	}
}
.contributesharedescription{
	width:100%;
	height: 30px;
	p{
		line-height: 31px;
		vertical-align: middle;
		color: #A9A9A9;
		display: inline-block;
		span{
			font-weight: bold; 
		}
	}
	.youtubecontribute{
		padding: 0!important;
		color: #CD201F;
		display: inline-block!important;
		font-size: 30px!important;
	}
	.vimeocontribute{
		padding: 0!important;
		color: #1AB7EA;
		display: inline-block!important;
		font-size: 30px!important;
	}
	.wistiacontribute{
		height: 31px;
		margin-top: -17px;
		display: inline-block;
	}
}

.app7020-button {
	&.save {
		//@include make-button($green-color, 14px, #fff, 7px 27px);
		@include app7020-button(green);
		/*max-width: 90px;*/
		margin-right: 20px;
		font-weight: 600;
		font-size: 14px; 
		padding: 0 16px;
		height: 33px;
		line-height: 33px;
	}
	&.delete {
		//@include make-button(#E74C3C , 14px, #fff, 7px 18px);
		@include app7020-button(red);
		/*max-width: 90px;*/
		font-weight: 600;
		font-size: 14px; 
		padding: 0 16px; 
		height: 33px;
		line-height: 33px;
	}
}


.modal.app7020-contribute-confirmDelete-asset-dialog{
	@extend %app7020ModalDefaultStyle;
}