/* 
    Created on : 01.07.2015, 17:39:51
    Author     : Stanimir
*/
.app7020-container  {
    width: 100%;
    @extend %app7020-container;
}
#app7020BottomFluid {
	clear: both;
}
.app7020-loading {
	width: 100%;
	height: 100%;
	background: url('../images/ajax-loader4.gif') no-repeat center center;
	display: block;
	stop: 0;
	left:  0;
} 
%app7020-container  {
	&.grey {
        border-top: 1px solid $border-grey;
        border-bottom:  1px solid $border-grey;
        @include create-container($container-grey-bg, $border-grey-light);
    }
}