// modal2 with settings of Questions & Answers
section#questions-and-answers-settings {
    label {
        display: inline-block;
        margin-left: 10px;
    }
    input[type='text'] {
        margin: 0 10px 5px 10px;
		&.maininput {
			background-color: white;
		}
    }
    p {
        font-size: 11px;
        &.padding {
            margin-left: 28px;
        }
    }
}