/*
    Created on : 01.07.2015, 17:00:23
    Author     : Stanimir
*/
#app7020-carousel{
	background: none;
    display: block;
    min-height: 232px;
    .app7020-rating-container {
        @extend %rating-container;
    }
    .carousel-container {
        padding: 0 30px;
        height: 197px;
		.app7020-video-heading{
			
		}
    }
}
