@CHARSET "ISO-8859-1";


.modal.edit-set-dialog {
	width: 500px;
}


.modal.edit-set-dialog input#SubscriptioncodesSet_name {
    width: 440px;
}

.modal.edit-set-dialog input#SubscriptioncodesSet_valid_from,
.modal.edit-set-dialog input[name="SubscriptioncodesSet[valid_from]"],
.modal.edit-set-dialog input[name="SubscriptioncodesSet[valid_to]"] { 
    width: 160px;
}


.modal.add-codes-dialog input[name="number_of_codes"] {
	width: 160px;
}

.modal.add-codes-dialog button#generate-subscodes {
}

.modal.add-codes-dialog textarea#codes_list {
	height: 170px;
	font-family: monospace;
}


.subscriptioncodes-container .filter-wrapper {
    border-bottom: 1px solid #E4E6E5;
    border-top: 1px solid #E4E6E5;
    padding: 7px 0px 7px 0px;
    background: none repeat scroll 0 0 #F1F3F2;
    position: relative;
}


    .subscriptioncodes-container .filter-wrapper span.is-search {
        position: absolute;
        right: 15px;
        bottom: 12px;
        z-index: 1051;
        opacity: 1.0;
    }
    
    .subscriptioncodes-container .filter-wrapper input[type="text"][name="search_input"] {
        position: absolute;
        right: 5px;
        border: 1px solid #E4E6E5;
        padding-right: 50px;
        background-color: white;
        padding: 0 8px;
        color: #333333;
        width: 280px;
    }
    

    .subscriptioncodes-container .filter-wrapper .grid-search-clear {
        position: absolute;
        top: 13px;
        right: 37px;
        opacity: 0.6;
    }



