#catalog-main-container {
    background-color: #FFF;
    margin-top: 20px;
}

#catalog-main-container > .catalog-categories-tree-container {
    width: 210px;
}

#catalog-main-container > #catalog-grid-container {
    background-color: #FFF;
    margin-left: 0px;
    padding-left: 14px;
    position: relative;
    width: 900px;
    min-height: 500px;
}

#catalog-main-container > #catalog-grid-container #courses-grid {
    margin-top: 0px;
}

.catalog-categories-tree-container .title {
	background-color: #0465AC;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 10px;
        display: inline-block;
        width: 100%;
}

.catalog-categories-tree-container ul.fancytree-container {
	background: transparent;
}

.catalog-categories-tree-container span.fancytree-focused {
	font-weight: bold;
}

#gsf-filter-catalog.btn-group {
    width: 210px;
}

#catalog-categories-tree span.fancytree-title {
    white-space: normal;
    max-width: 160px;
}

.catalog-categories-tree-container span.p-sprite.is-folder.opened {
	background-position: -524px -477px;
	width: 21px;
}
.catalog-categories-tree-container span.p-sprite.is-folder.closed {
	background-position: -482px -477px;
	width: 21px;
}
