.picker.picker-holder{
	padding: 0;
}

.picker-wrapper{
	position: relative;
	overflow: visible;
}
.picker-wrapper .popover-content{
	position: absolute;
	width: 200px;
	right: -20px;
	top: 100%;

	border: 1px solid #E4E6E5;
	border-radius: 0;
	box-shadow: 0 2px 2px 0 #E4E6E5;
	background: #ffffff;
	display: none;
	text-align: left;
	z-index: 2;
}
.picker-wrapper .popover-content .description{
	font-size: 12px;
	line-height: 14px;
	margin: 8px 0;
}
.picker-wrapper .popover-content ul{

}
.picker-wrapper .popover-content ul li{
	padding-left: 25px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
}
.picker-wrapper .popover-content ul li.selected{
	background: url(../../../../themes/spt/images/popover-icons.png) 0 -108px no-repeat;
}

.picker-wrapper .popover-content ul li.locked {
	background: url(../../../../themes/spt/images/popover-icons.png) 1px -88px no-repeat;
	cursor: default;
}