<div class="app7020-invited" data-custom="treeWidgetContainer" ng-controller="InviteWatchController">
	<div class="header-block" ng-hide="showForm()">
		<div class="modal-close" ng-hide="reqUpdated == 0">
			<!--<a href="" class="close-popup" ng-show="(invited_items| filter:{invited:3,type:2}).length==0"><i class="fa icon-d_close"></i></a>-->
			<!--<a href="" class="close-popup-alert" ng-show="(invited_items| filter:{invited:3,type:2}).length > 0" ng-click="$openAlert();"><i class="fa icon-d_close"></i></a>-->
			<a ng-class="(isSelected() ? 'close-popup-alert' : 'close-popup')" ng-click="$openAlert(countSelected);">
				<i class="fa icon-d_close"></i>
			</a>
		</div>
		<div class="modal-title">
			<h3>{{'Invite to watch' | translate }} <span class="invited-count-header"><span ng-hide="reqUpdated == 0">({{(invited_items| filter:{invited:3,type:2}).length}} {{(invited_items| filter:{invited:3,type:2}).length == 1 ? " person" : " people"}})</span></span></h3>
		</div>
	</div>
	
    <div class="row-fluid main-content-modal" ng-hide="showForm()">
		<div class="selection-wraper header-selection">
			<div class="placeholder-text">{{'To: ' | translate}}</div>
			<ul id="selection">
				<li class="person" style="display: none;" ng-show="filterInvited(item)" ng-repeat="item in invited_items track by $index" >
					{{(item.value).length > 1 ? item.value : item.username}}
					<i id="unhandle-selection" ng-click="unhandleSelection(item, invited_items)" class="fa fa-times"></i >
				</li >
				<li class="input-holder" >
					<input id="selector" type="text" ng-model="model" class="typeahead-modal" placeholder="" ng-keydown="keypress($event);" />
				</li >
			</ul>
		</div>
		
		<h3 class="suggestions-title" ng-hide="model.length" >
			{{'Suggestions' | translate}}
		</h3>
		<h3 class="suggestions-title" ng-hide="!model.length" >
			{{'Search result for' | translate}}  {{model}}
		</h3>
	
		<div class="loading-spinner-background">
			<div ng-if="reqUpdated == 0" class="loading text-center">
				<div class="material-icon"><div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active is-upgraded"></div></div>
			</div>
		</div>
		
		<div ng-show="reqUpdated == 1" class="invited_items" >
			<div class="item" ng-repeat="item in invited_items|  filter:model | limitTo:10 track by $index" ng-if=" $index < 5 && item.type == 2 && item.invited != 2"  style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)" >
				<div data-disabled="{{item.invited}}" class="wrap-item-main">
					<div class="user-entry">
						<div class="media">
							<div class="pull-left" >
								<div ng-if="item.avatar!=''" class="app7020_signature" data-custom="circle-avatar" >
									<img class="media-object" alt="64x64" ng-src="{{item.avatar}}" >
								</div >
								<div class="circle-avatar" ng-if="item.avatar=='' && item.first!='' && item.last!=''">
									{{ item.first | limitTo:1 | uppercase }}{{ item.last | limitTo:1 | uppercase }}
								</div>
								<div class="circle-avatar" ng-if="item.avatar=='' && item.first!='' && item.last==''">
									{{ item.first | limitTo:1 | uppercase }}
								</div>
								<div class="circle-avatar" ng-if="item.avatar=='' && item.first=='' && item.last!=''">
									{{ item.last | limitTo:1 | uppercase }}
								</div>
								<div class="circle-avatar" ng-if="item.avatar=='' && item.first=='' && item.last==''">
									{{ item.username | limitTo:1 | uppercase }}
								</div>
							</div >
							<div class="media-body pull-left" >
								<h4 class="media-heading" ng-class="{ 'invited-title-user' : item.invited==1}">{{item.value}}</h4>
								<span class="username-invite" ng-hide="item.invited==1">
									{{item.username}}
								</span>
								<span ng-show="item.invited == 1" class="status st-invited">
									<strong>  {{'Invited' | translate}} </strong> {{'on' | translate}}  {{item.date}}
								</span>
							</div >
							<div class="add-to-list pull-right" >
								<i ng-show="item.invited == 0" class="fa icon-d_check add-to-watch"></i>
								<i ng-show="item.invited == 3" class="fa icon-d_check green add-to-watch"></i>
							</div>
						</div >
					</div >
					<div class="function-click" ng-if="item.invited == 0" ng-click="handleSelection(item, invited_items)"></div>
				</div >
			</div >
			<div class="item" ng-repeat="item in invited_items | limitTo:5 track by $index" ng-if="item.type == 1 && item.invited == 0 && (item.username).length > 0"  style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)" >
				<div data-disabled="{{item.invited}}" >
					<div class="user-entry" >
						<div class="media" >
							<div class="pull-left" >
								<div class="app7020_signature  channel-icon" data-custom="circle-avatar" style="background:{{item.ibgr}}" >
									<i class="fa {{item.avatar}}" style="color:{{item.icolor}}"></i >
								</div>
							</div >
							<div class="media-body pull-left" >
								<h4 class="media-heading" ng-class="{ 'invited-title-user' : item.invited==1}">
									{{item.value}}
								</h4>
								<div class="channel-data" ng-hide="item.invited==1">{{'Channel' | translate}}  - {{item.username}} {{'people' | translate}} </div>
								<span ng-show="item.invited == 1" class="status st-invited">
									<strong>  {{'Invited' | translate}} </strong> {{'on' | translate}}  {{item.date}}
								</span>
							</div>
							<div class="add-to-list pull-right" >
								<i ng-show="item.invited == 0" class="fa icon-d_check add-to-watch"></i>
								<i ng-show="item.invited == 3" class="fa icon-d_check green add-to-watch"></i>
							</div>
						</div>
					</div>
					<div class="function-click" ng-if="item.invited == 0" ng-click="handleSelection(item, invited_items)"></div>
				</div>
			</div>
		</div>
	</div>    
	
	<div id="modalContainer" class="row-fluid">
		<div class="invitation-sending loading" ng-hide="showLoading()" >
			<div class="app7020_fourth_row text-center">
				<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active is-upgraded"></div>
			</div>
			<div class="app7020_third_row text-center">
				<div class="app7020_second_row text-center">
					{{'Sending invitations....'| translate}}
				</div >
			</div>
		</div>

		<div class="invitations-sent playerView complete" ng-hide="showComplete()" >
			<div class="app7020_first_row text-center">
				<i class="fa icon-d_check"></i>
			</div>
			<div class="app7020_second_row text-center">
				{{'Invitations sent!'| translate}}
			</div >
			<!--<div class="app7020_third_row text-center">
				{{invitedPeople}} {{'People'| translate}}
			</div>-->
		</div>

	</div>

	<div class="invite-modal-footer" ng-hide="showForm()">
		<span class="counter-invitations pull-left" ng-hide="reqUpdated == 0">
			<strong>{{(invited_items| filter:{invited:3,type:2}).length}}</strong> {{'Selected' | translate}} {{(invited_items| filter:{invited:3,type:2}).length == 1 ? " person  " : " people  "}}
		</span>
		<button ng-disabled="(invited_items| filter:{invited:3,type:2}).length == 0" class="submit-btn" ng-hide="reqUpdated == 0" ng-click="inviteUsers()">{{'Invite to watch' | translate}}</button>
	</div>
</div>