<div data-page="detailsPage" class="page" id="scrollable" ng-init="init()">
	<course-header course="courseInfo"></course-header>
	<fallback-message headMessage="{{ 'There are no learning objects' | translate }}" secondaryMessage="{{ 'assigned to this course' | translate }}"></fallback-message>
	<items-list></items-list>
	<lo-player></lo-player>
</div>