<div class="asset-play-wrap lo-authoring full-size">
	<div class="asset-player">
		<div class="asset-file-preview">
			<div class="asset-file-type full-size">
				<div class="play-asset-file full-size">
					<files-carousel id="file-authoring" expandable="false" data="{{slides}}" class="swiper-container files-wrap full-size"></files-carousel>
				</div>
			</div>
		</div>
	</div>
</div>