.edit-notification-form {
	margin-left: 220px;
	background: #ffffff;
	padding-left: 20px;
}

ul.transports-list li {
	padding-bottom: 10px;
}

ul.transports-list label {
	display: inline-block;
	padding-left: 10px;
}

hr.notification-shortcodes-separator {
	margin: 12px 0;
}

ul.notification-shortcodes-list {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 192px;
}
ul.notification-shortcodes-list li {
	display: inline-block;
	width: 33%;
}

p.notification-editor-hint-text {
	color: #999999;
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 11px;
}
p.notification-editor-hint-text a:link,
p.notification-editor-hint-text a:visited {
	color: blue;
	text-decoration: underline;
}