#sandbox-creator.sandbox-creator.old-menu {
  margin: 10px;
  padding: 10px;
  border: 1px solid #E4E6E5;

  &.activating, &.activated {
    border: none;
  }

  .create-description {
    margin-bottom: 10px;
    line-height: 16px;
  }
}
#sandbox-creator.sandbox-creator.new-menu{
  margin: 10px;
  padding: 20px 10px;
  border: 1px solid #E4E6E5;
  font-size: 16px;
  line-height: 16px;

  a, a:hover{
    color: #fff;
    text-decoration: none;
  }
  .create-description{
    margin-top: 3px;
  }

  // Sandbox can be created
  .create-button-wrapper{
    a {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  // Sandbox creation in progress
  .in-progress{
    a{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.modal.create-sandbox-dialog {
  position: fixed;

  .in-progress {
    .check {
      background: url('/themes/spt/images/apps_menu_sprite.png') no-repeat -61px -93px;
      width: 30px;
      height: 30px;
      margin-top: 3px;
      margin-right: 20px;
      float: left;
    }
  }
  .indent{
    margin-left: 50px;
  }
}