#sandbox-creator.sandbox-creator.old-menu {
  margin: 10px;
  padding: 10px;
  border: 1px solid #E4E6E5; }
  #sandbox-creator.sandbox-creator.old-menu.activating, #sandbox-creator.sandbox-creator.old-menu.activated {
    border: none; }
  #sandbox-creator.sandbox-creator.old-menu .create-description {
    margin-bottom: 10px;
    line-height: 16px; }

#sandbox-creator.sandbox-creator.new-menu {
  margin: 10px;
  padding: 20px 10px;
  border: 1px solid #E4E6E5;
  font-size: 16px;
  line-height: 16px; }
  #sandbox-creator.sandbox-creator.new-menu a, #sandbox-creator.sandbox-creator.new-menu a:hover {
    color: #fff;
    text-decoration: none; }
  #sandbox-creator.sandbox-creator.new-menu .create-description {
    margin-top: 3px; }
  #sandbox-creator.sandbox-creator.new-menu .create-button-wrapper a {
    padding-left: 50px;
    padding-right: 50px; }
  #sandbox-creator.sandbox-creator.new-menu .in-progress a {
    padding-left: 50px;
    padding-right: 50px; }

.modal.create-sandbox-dialog {
  position: fixed; }
  .modal.create-sandbox-dialog .in-progress .check {
    background: url("/themes/spt/images/apps_menu_sprite.png") no-repeat -61px -93px;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-right: 20px;
    float: left; }
  .modal.create-sandbox-dialog .indent {
    margin-left: 50px; }

/*# sourceMappingURL=sandboxCreator.css.map */
