<div class="asset-video-wrapper">
	<embed-player course-id="{{courseId}}" id-reference="{{metadata.id_organization}}" playback-url="{{launchUrl}}" video-type="{{metadata.video_type}}"></embed-player>
</div>