/* Hide unneeded header and columns of parameters table */
.endpoint .sandbox table:first-of-type.fullwidth thead th:nth-child(1),
.endpoint .sandbox table:first-of-type.fullwidth thead th:nth-child(3),
.endpoint .sandbox table:first-of-type.fullwidth thead th:nth-child(4),
.endpoint .sandbox table:first-of-type.fullwidth .operation-params td:nth-child(1),
.endpoint .sandbox table:first-of-type.fullwidth .operation-params td:nth-child(3),
.endpoint .sandbox table:first-of-type.fullwidth .operation-params td:nth-child(4){
    display: none;
}

/* set column widths (total width we have to work with is 938px) */
.endpoint .sandbox table:first-of-type.fullwidth thead th:nth-child(2){
    width: 418px !important;
    max-width: 418px !important;
}
.endpoint .sandbox table:first-of-type.fullwidth thead th:nth-child(5){
    width: 520px !important;
    max-width: 520px !important;
}

/* let the code snipped/json be full height */
.endpoint .sandbox table:first-of-type.fullwidth .operation-params .snippet > pre{
    max-height: none !important;
}

/* let the body textarea be larger */
.endpoint .sandbox table:first-of-type.fullwidth .operation-params .body-textarea{
    width: 95%;
    min-height: 200px;
}

/* fix stuttering when changing between model to model schema */
.endpoint .sandbox table:first-of-type.fullwidth .operation-params .signature-container {
    width: 518px;
}

#authenticate {
    background-color: #0465AC !important;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.info_title{
    float: left;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content{
    background-color: #f8f8f8;
    border: 1px solid #0465AC;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content{
    border-top: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a{
    background-color: #0465AC;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h4,
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a{
    color: #0465AC;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}