
.advanced-main.slack-settings {
	margin-left: 0;
}

.advanced-main.slack-settings .section > .row.even {
	padding: 22px 18px 22px 18px;
}

.slack-settings .row .subsetting {
	margin-bottom: 20px;
}

.slack-settings .row .subsetting.authorize-button-container {
	padding-top: 20px;
}

.slack-settings .unavailable {
	opacity: 0.5;
}

.slack-settings .row select.long {
	width: 100%;
}

@media (min-width: 1200px) {
	.slack-settings .row input.long {
		width: 836px;
	}
}

@media (max-width: 1200px) and (min-width: 979px) {
	.slack-settings .row input.long {
		width: 606px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.slack-settings .row input.long {
		width: 390px;
	}
}

@media (max-width: 767px) {
	.slack-settings .row input.long {
		width: 328px;
	}
}

.slack-settings .slack-domain-container {
	position: relative;
}
.slack-settings span.domain-suffix {
	bottom: 18px;
	right: 6px;
	opacity: 1;
	filter: alpha(opacity = 100);
	position: absolute;
	top: 9px;
	height: 16px;
	width: auto;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
}


.slack-settings span.root-branch-label {
	font-style: italic;
	padding-left: 5px;
}

.slack-settings span.branch-current-selection-label {
	font-weight: bold;
}
.slack-settings .branch-path-separator {
	font-weight: bold;
	padding: 0 5px;
}

.slack-settings table.action-container {
	width: 100%;
}

.slack-settings .already-configured {
	text-align: center;
}
.slack-settings .already-configured img {
	opacity: 0.4;
}
.slack-settings .already-configured span.already-configured-text {
	color: #6BBF6B;
	font-weight: 600;
}

#synch-users-result-message {
	text-align: right;
}

.sync_info {
	font-size: 12px;
	text-align: right;
	margin-top: 5px;
}

.sync_info .users_last_date .usersSyncMsgHasLog {
	display: inline-block;
}
.sync_info .users_last_date .usersSyncMsgHasLog .last-date {
	font-weight: bold;
}
.sync_info .users_last_date .usersSyncMsgNoLog {
	display: none;
}
.sync_info .users_last_date.no-logs .usersSyncMsgHasLog {
	display: none;
}
.sync_info .users_last_date.no-logs .usersSyncMsgNoLog {
	display: inline-block;
	font-weight: bold;
}

/** login screen styles **/
#loginFormTopSlackApp{
	height: 28px;
}

#loginFormTopSlackApp a img{
	margin-top: -5px;
}

#loginFormBottomSlackApp a img{
	margin-top: -5px;
}