.edit-notification-form select.channel-selector {
	min-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit-notification-form .channel-selector-box .jq-radio {
	margin-left: 0;
}

.edit-notification-form .notification-message-editor {
	min-height: 180px;
}