/**
 * Authoring styles
 */

.crumbs {
	background-color: #EFEFEF;
	padding: 7px 10px 8px;
	margin-bottom: 20px;
	position: relative;
}

.crumbs small {
	font-family: "Comic Sans Ms";
	font-size: 13px;
	padding: 0px 2px;
}

.steps {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.steps ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	width: 102%;
	position: static;
}

.ar.authoring_wrap .steps ul,
.he.authoring_wrap .steps ul,
.fa.authoring_wrap .steps ul {
	width: 100%;
}

.fa.authoring_wrap {
	display: block;
}

.steps li {
	float: left;
	width: 20%;
	position: relative;
}

.ar.authoring_wrap .steps li,
.he.authoring_wrap .steps li,
.fa.authoring_wrap .steps li {
	float: right;
}

.step_wrap {
	padding: 11px 0px 30px 50px;
	position: relative;
}

.ar.authoring_wrap .step_wrap,
.he.authoring_wrap .step_wrap,
.fa.authoring_wrap .step_wrap {
	text-align: right;
	padding-right: 45px;
}

.step {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 39px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	font-size: 26px;
	line-height: 39px;
	background-color: #CCCCCC;
}

.ar.authoring_wrap .step,
.he.authoring_wrap .step,
.fa.authoring_wrap .step {
	right: 0px;
}

.step em {
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
	top: 100%;
	border: 8px solid transparent;
	border-bottom: none;
	border-top: 13px solid #CCCCCC;
	left: 50%;
	margin-left: -8px;
}

.passed .step {
	background-color: #0465AC;
}

.passed .step em {
	border-top-color: #0465AC;
}

.authoring_wrap {
	font-size: 14px;
	line-height: 20px;
}

.ar.authoring_wrap .progress .bar-success,
.he.authoring_wrap .progress .bar-success,
.fa.authoring_wrap .progress .bar-success {
	float: right;
}

.fixer {
	padding: 0px !important;
	margin: 0px !important;
	height: 0px !important;
	width: 0px !important;
	font-size: 0px !important;
	line-height: 0px !important;
	clear: both !important;
	overflow: hidden !important;
	display: block !important;
}

.authoring_wrap h1 {
	padding-top: 20px;
	font-size: 42px;
	line-height: 44px;
	color: #333333;
	letter-spacing: -1px;
}

.authoring_wrap h2 {
	margin: 0px -20px 20px;
	border: 1px solid #E6E8E7;
	border-left: none;
	border-right: none;
	padding: 10px 20px;
}

.authoring_wrap h2 .edit {
	position: absolute;
	display: inline;
	margin: 4px 0px 0px 0px;
}

.authoring_wrap h2 .edit:hover {
	text-decoration: none;
}

.editable {
	display: none;
}

.upload_wrap {
	background-color: #EFEFEF;
	border: 1px solid #E4E6E5;
	background-image: url(../images/plarea.png);
	background-position: center 34px;
	background-repeat: no-repeat;
	padding: 0px 50px 30px;
	position: relative;
}

.upload_wrap .plupload_header, .upload_wrap .plupload_filelist_header, .upload_wrap .plupload_file_size, .upload_wrap .plupload_done /*, .upload_wrap .plupload_file_status */
{
	display: none;
}

.upload_wrap .plupload_upload_status {
	display: none !important;
}

.upload_wrap .plupload_filelist_footer {
	clear: both;
}

.plupload_uploading, .plupload_failed, .plupload_file_action {
	display: none !important;
}

.plupload_start {
	display: none !important;
}

.plupload_droptext {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
}

.plupload_droptext span {
	display: block;
	color: #333333;
	font-weight: normal;
}

.plupload_filelist {
	margin-bottom: 10px;
	padding-top: 115px;
}

.plupload_scroll .plupload_filelist {
	background: none transparent !important;
	overflow: auto !important;
}

.authoring_wrap .row {
	margin: 0px;
}

#uploading_text {
	text-align: center;
	padding-right: 70px;
	position: absolute;
	top: 125px;
	left: 0px;
	right: 0px;
	font-size: 21px;
	line-height: 26px;
	display: none;
}

.upload_wrap .plupload_file_status {
	font-size: 21px;
	line-height: 26px;
	position: absolute;
	width: 60px;
	left: 50%;
	top: 125px;
	font-weight: bold;
	display: none;
	margin-left: 70px;
}

.upload_wrap .plupload_total_status {
	display: none;
	color: #5BB75B;
}

.upload_wrap .plupload_progress {
	float: none;
	width: auto;
	margin-top: 60px;
}

.upload_wrap .plupload_progress_container {
	border: none;
	margin: 0px;
	padding: 0px;
	background: none transparent;
	height: 20px;
}

.upload_wrap .plupload_progress_bar {
	height: 20px;
}

.upload_wrap .plupload_wrapper {
	min-height: 200px;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.pr {
	position: relative !important;
}

.authoring_wrap .thumbs {
	width: 190px;
	margin-left: -15px;
	position: absolute;
	background-color: #EFEFEF;
	padding: 40px 15px;
	border: 1px solid #CCCCCC;
	border-left: none;
	left: 0px;
}

.authoring_wrap .thumbs .in {
	position: relative;
	height: 550px;
	overflow: scroll;
	overflow-x: hidden;
}

.authoring_wrap .thumbs li {
	padding: 2px 0px 14px;
	text-align: center;
}

.authoring_wrap .thumbs li.active {
	padding: 0px 0px 16px;
}

.authoring_wrap .thumbs li img {
	border: 1px solid #CCCCCC;
	max-width: none;
	width: 165px;
	cursor: pointer;
}

.authoring_wrap .thumbs li.active img {
	border: 3px solid #53AB53;
}

.authoring_wrap .preview {
	margin-left: 230px;
	position: relative;
	min-height: 632px;
	padding-bottom: 35px;
}

.authoring_wrap .preview.publish {
	margin: 0px 50px 25px 50px;
	min-height: 0px;
}

.authoring_wrap .preview ul {
	width: 100%;
}

.bx-viewport li {
	width: 100% !important;
}

.authoring_wrap .preview img {
	max-width: none;
	width: 100%;
}

.bx-controls a {
	display: block;
	position: absolute;
	width: 67px;
	background-image: url(../images/slider_arrs.gif);
	height: 67px;
	overflow: hidden;
	top: 50%;
	text-indent: -20000px;
	z-index: 102;
	margin-top: -34px;
}

.bx-controls a.bx-next {
	right: 0px;
	background-position: 0px -67px;
}

.bx-wrapper {
	position: relative;
}

.bx-pager {
	position: absolute;
	z-index: 1002;
	color: #FFFFFF;
	margin: 7px 0px 0px 5px;
	text-align: center;
	width: 60px;
	left: 0px;
	bottom: -27px;
}

.preview .progress {
	height: 8px;
	position: absolute;
	left: 72px;
	right: 62px;
	top: 13px;
	background-image: none;
	background-color: #FFFFFF;

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.preview.pager_hidden .progress {
	left: 13px;
}

.preview.fullscreen_hidden .progress {
	right: 13px;
}

.preview .progress .bar {
	background-image: none;
	background-color: #52A1DD;

	-webkit-transition: none;
	-moz-transition: none;
	-khtml-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.control_area {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 35px;
	background-color: #333333;
	z-index: 200;
}

.fullscreen {
	display: block;
	text-decoration: none;
	width: 35px;
	height: 35px;
	right: 0px;
	top: 0px;
	z-index: 102;
	position: absolute;
	background-color: transparent;
	background-image: url(../images/fullscr.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.fullscreen:hover {
	text-decoration: none;
}

.fullscreen.hover {
	background-color: #52A1DD;
}

.authoring_wrap h3 {
	border-bottom: 1px solid #CCCCCC;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 30px;
	line-height: 34px;
	padding-bottom: 5px;
	color: #333333;
    margin: 0 130px;
}

.authoring_wrap h3 span {
	color: #0465AC;
}

.authoring_wrap h4 {
	font-weight: normal;
	padding: 20px 0px 10px;
	font-weight: normal;
	font-size: #656565;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
}

.form.adjusted {
	margin: 0px 130px;
}

.authoring_wrap .adjusted fieldset {
	width: 45%;
}

.authoring_wrap .adjusted fieldset .in {
	background-color: #EFEFEF;
	border: 1px solid #CCCCCC;
	position: relative;
	padding: 30px 50px 0px 0px;
	height: 165px;
	margin-bottom: 25px;
}

.authoring_wrap .adjusted fieldset.fr .in {
	padding-right: 80px;
}

.authoring_wrap .adjusted fieldset label {
	font-size: 14px;
	line-height: 20px;
	position: absolute;
	right: 185px;
	text-align: right;
}

.authoring_wrap .adjusted fieldset.fr label {
	right: 240px;
}

.bar_hidden .progress, .pager_hidden .bx-pager, .fullscreen_hidden .fullscreen {
	display: none;
}

.crumb_close {
	background-image: url(../images/close.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	position: absolute;
	right: 0;
	height: 35px;
	top: 0;
	line-height: 37px;
	font-size: 13px;
	padding-right: 45px;
	color: #333333;
}
.crumb_close:hover {
	color: #333333;
}

li.plupload_droptext {
	line-height: normal !important;
}

.plupload_scroll .plupload_filelist {
	overflow: auto;
	height: auto;
	background: none transparent;
}

.plupload_wrapper .plupload_container {
	padding: 0px;
	background: none transparent;
}

.plupload_wrapper .plupload_filelist_footer {
	border: none;
	background: none transparent;
	padding: 0px;
}

.plupload_wrapper .plupload_file_name {
	float: none;
}

.plupload_clearer {
	height: 20px;
}

.bx-controls-direction {
	display: none;
}

.bx-wrapper:hover .bx-controls-direction {
	display: block;
}

@media (max-width: 1250px) {
	.form.adjusted {
		margin: 0px 20px;
	}
}

@media (max-width: 1000px) {

	.authoring_wrap .adjusted fieldset {
		width: auto;
		float: none !important;

	}

}

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
	z-index: 2000;
}

.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker/colorpicker_overlay.png);
}

.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}

.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}

.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}

.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}

.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}

.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
	line-height: 11px;
	width: auto;
	outline: none !important;
}

.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}

.colorpicker_hex input {
	right: 6px;
}

.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}

.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}

.colorpicker_rgb_r {
	background-image: url(../images/colorpicker/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}

.colorpicker_rgb_g {
	background-image: url(../images/colorpicker/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}

.colorpicker_rgb_b {
	background-image: url(../images/colorpicker/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}

.colorpicker_hsb_h {
	background-image: url(../images/colorpicker/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}

.colorpicker_hsb_s {
	background-image: url(../images/colorpicker/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}

.colorpicker_hsb_b {
	background-image: url(../images/colorpicker/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}

.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}

.colorpicker_focus {
	background-position: center;
}

.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_slider {
	background-position: bottom;
}

.color_preview {
	position: absolute;
	width: 36px;
	height: 36px;
	background: url(../images/select2.png);
	right: 30px;
	margin: -6px 0px 0px;
}

.color_preview div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}

.color_picker {
	text-transform: uppercase;
	float: right;
	width: 100px;
	margin-top: -3px;
	text-align: right;
	background-color: #FFFFFF !important;
	margin-bottom: 18px !important
}

/* ---------------------------------------------
    TOGGLE.CSS
-----------------------------------------------*/

input.iT_checkbox_on {
	display: block !important;
	float: left;
	position: relative !important;
	top: -43px !important;
	left: 100px !important;
	margin-bottom: -43px;
}

/* -----------------------------
    This is the important bit
-------------------------------*/

label.ilabel {
	display: block;
	padding-top: 3px;
}

label.itoggle,
label.itoggle span {
	display: block;
	width: 93px;
	height: 27px;
	margin-bottom: 20px;
	background: url(../images/itoggle.png) left bottom no-repeat;
	cursor: pointer;
	text-indent: -5000px;
}

label.itoggle {
	position: relative !important;
	float: right;
	right: auto !important;
}

label.itoggle.iToff {
	background-position: right bottom;
}

label.itoggle span {
	background-position: left top;
	margin: 0;
}

input.iT_checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/*
    If you want the corners to be
    transparent, add these two lines
    to the main block above. Only
    works on webkit and mozilla browsers
    For more reliable results, make your
    own png using the supplied .psd

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
*/

body.full {
	overflow: hidden;
}

.full .preview.publish {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 1030;
	background-color: #000000;
	margin: 0px;
}

.full .bx-viewport {
	bottom: 0px;
	height: auto !important;
	position: absolute !important;
	top: 0px;
}

.full .authoring_wrap .preview ul {
	height: 100%;
	width: 100% !important;
}

*+html .full .authoring_wrap .preview ul {
	height: 100% !important;
	position: absolute !important;
}

.full .bx-viewport li {
	height: 100% !important;
	width: 100% !important;
	text-align: center;
}

.bx-wrapper {
	z-index: 201;
}

.full .bx-wrapper {
	top: 0;
	bottom: 35px;
	position: absolute;
	width: 100%;
}

.full .authoring_wrap .preview img {
	display: block;
	margin: auto;
	width: auto;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.split-documents{
	width: 70%;
	margin-left: 15%;
	border: 1px solid #cccccc;
	padding: 10px;
	font-size: 15px;
	text-align: left;
	overflow: hidden;
}

.ar.authoring_wrap .split-documents,
.he.authoring_wrap .split-documents,
.fa.authoring_wrap .split-documents {
	margin-right: 15%;
}

#uploader_container .plupload_progress{
	display: none; /* Will be shown as files are added */
}
.split-documents .pages-img{
	background: url('../images/150pages.png');
	width: 73px;
	height: 46px;
	margin: 5px 20px auto auto;
	float: left;
}


.authoring-edit-buttons{
    margin-top: 10px;
}