.inlineEditBox {
	display: none;
	position: absolute;
	margin-top: 5px;
	padding: 10px 10px 5px 10px;
	border: 1px solid grey;
	background: #fff;
}

.inlineEditButtons {
	width: 100%;
	float: right;
	clear: left;
	text-align: right;
}


#gridToolTip {
	-webkit-box-shadow: 4px 4px 10px #595959;
	-moz-box-shadow: 4px 4px 10px #595959;
	box-shadow: 4px 4px 10px #595959;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 10px 15px 15px;
	line-height: 16px;
	padding-bottom: 0.8em;
	background-color: rgba(230, 240, 255, 0.92);
	position: absolute;
	width: 260px;
	z-index: 200;
	display: none;
	text-align: left;
	margin-left: 40px;
}