

.attendance-sheet-header {
	border-bottom: solid 1px #CCCCCC;
	margin-bottom: 12px;
	padding-bottom: 7px;
	vertical-align: bottom;
}
.attendance-sheet-header table { width: 100%; }
.attendance-sheet-header table td.logo { text-align: left; }
.attendance-sheet-header table td.title { text-align: right; font-size: 18px; }

.attendance-sheet-titles .course-title {
	font-size: 21px;
	font-weight: bold;
}
.attendance-sheet-titles .session-title {
	font-size: 17px;
}

.attendance-sheet-infobox {
	margin-top: 21px;
}
.attendance-sheet-infobox table.misc-info {
	width: 100%;
	border: none;
}
.attendance-sheet-infobox table.misc-info td.title {
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}
.attendance-sheet-infobox table.misc-info td.time-info div{
	text-align: center;
	padding: 3px 7px;
}
.attendance-sheet-infobox .time-text {
	font-weight: bold;
	font-size: 24px;
	color: #0465AC;
}
.attendance-sheet-infobox table.misc-info td.content {
	font-weight: normal;
	font-size: 11px;
	text-align: left;
}
.attendance-sheet-infobox table.instructors-list {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}
.attendance-sheet-infobox table.instructors-list td {
	border: none;
	padding: 8px 0px;
	font-size: 12px;
}
.attendance-sheet-infobox table.instructors-list td.instructor-name {
	width: 90px;
	text-align: left;
}
.attendance-sheet-infobox table.instructors-list td.signature-space {
	width: 170px;
}
.attendance-sheet-infobox table.instructors-list td.signature-space div.underline {
	bottom: 4px;
	border-bottom: solid 1px #CCCCCC;
	margin-left: 6px;
	margin-right: 6px;
}
.attendance-sheet-infobox .instructors-container {
	padding-right: 18px;
}
.attendance-sheet-infobox ul {
	list-style: none;
}
.attendance-sheet-infobox li {
	display: list-item;
	text-align: left;
}



.attendance-sheet-userlist {
	margin-top: 21px;
}
table.attendance-sheet-users-table {
	border-collapse: collapse;
	color: #000000;
	width: 100%;
}

table.attendance-sheet-users-table tr { height: 40px; }

table.attendance-sheet-users-table th {
	border-bottom: solid 1px #CCCCCC;
	font-size: large;
	font-weight: bold;
	vertical-align: bottom;
	padding: 0 5px;
	padding-bottom: 8px;
}
table.attendance-sheet-users-table th .time {
	font-weight: normal;
}

table.attendance-sheet-users-table td {
	border-bottom: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	vertical-align: middle;
	word-break: break-all;
	text-align: center;
}
table.attendance-sheet-users-table td.no-left-border {
	border-left: none;
}

table.attendance-sheet-users-table th.user-name { width: 33%; }
table.attendance-sheet-users-table td.index {
	width: 3%;
	text-align:center;
	font-weight: 600;
}
table.attendance-sheet-users-table td.fullname {
	text-align: left;
	padding-left: 5px;
    width: 30%;
}

table.attendance-sheet-users-table th.single-signature { width: 66%; }
table.attendance-sheet-users-table th.double-signature { width: 33%; }

/* PDF-only styles  */
.attendance-sheet-pdf {
	font-family: 'Open Sans', sans-serif;
}