/**
 * DOCEBO, e-learning SAAS
 *
 * @link http://www.docebo.com/
 * @copyright Copyright &copy; 2004-2013 Docebo
 */

/**
 * check CoreTemplatecolor.php to see which colors are available in a given color scheme:
 *
 * @menuHeaders         Menu & Headers
 * @titleText           Title text
 * @text                Text
 * @hoverItem           Hover item
 * @selectedItems       Selected items
 * @actionButtons       Action buttons
 * @secondaryButtons    Secondary buttons
 * @otherButtons        Other buttons
 * @charts1             Charts 1
 * @charts2             Charts 2
 * @charts3             Charts 3
 * @menuBackground		Menu background color
 */

/* Menu & Headers */
.menu,
.modal-header,
.menu ul.menu-square .tile.default:not(.tile-green):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk),
.menu ul.menu-square .tile.default:not(.tile-green):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk) a:hover,
.menu ul.menu-square .tile.default a:focus:not(.coachapp), .menu ul.menu-square .tile.default a.hover,
#footer {
	border-color: @menuHeaders !important;
    background-color: @menuHeaders !important;
}
.menu a:hover, .menu a:focus, .menu a:hover{
	background-color: @hoverItem;
}

.menu a.coachapp:hover, .menu a.coachapp:focus, .menu a.coachapp:hover{
	background-color: inherit;
}

/* Title text */
/* admin-temp.css * /
#transactions-grid .popover .total,
.edit-transaction-items h2,
.edit-transaction-items .grid-view table.items tfoot td,
/* admin.css * /
.shopping-cart a,
.left-selections a,
.node-line li.last-node,
.bottom-section #tree-wrapper .highlighted-node > span > a,
.popover-content .node-action.blue,
.grid-view table.items th,
.grid-view table.items th a,
.grid-view table.items th a:hover,
.docebo-list-view > .header > div,
.rootNode > div .label-wrapper,
.seats a,
.course-actions h5,
.courseEnroll-page-users h2,
.courseEnroll-course-table h2,
.courseEnroll-page-orgchart li > div:hover label,
#userForm-orgchat li > div:hover label,
.items-sortable-wrapper h6,
.layout-colors-title,
.edit-enrollment a,
.user-report-stat .data,
.courses-stat .data,
.legend-field2 .legend-count,
.legend-field2 .legend-percent,
.create-report .info-wrapper a,
.tag-header,
.curricula-assign-prerequisites .courseEnroll-course-table h2 span,

/* main.css * /
.curricula-conteiner .curricula-details a,

/* base.css * /
#player-courseheader-container h1,
#player-manage-mode-selector .active,
.test-details-type-title,
.player-forum-block table tr th,
.player-coursedocs-block td.coursedoc-info .coursedoc-title,
.player-comments-block .message-expandable .read-more a,
.player-comments-block .message-expandable:hover .read-more a,
.player-videoconf-block .tab-pane > .title,
.player-comments-block-discussion .comments-count, /* border-bottom */
.player-stats-counter,
.player-stats-counter-big,
.player-report-object-title,
.player-report-object-title a,
/*
background-color

#player-arena-launchpad .player-launchpad-content .player-launchpad-empty .player-launchpad-header h2
#player-arena-launchpad .player-launchpad-big-blue-play
* /

/* testpoll.css * /
.l-testpoll .table th,
.l-testpoll .table .tbl-row-total strong,

/* app.css * /
#selcourse h1,
.coursedescr .coursetitle,
.statistics-widget div.timeline-event .key-event,

/* setup.css * /
.setup-row-header h3,
.activation-screen #setup-info-form .callback-support-annotation,
.activation-screen #setup-info-form label

/*
.node-line li.last-node,
.grid-view table.items th, .grid-view table.items th a,
.left-selections a,
*/
/* admin.css */
.title-bold,
.advanced-main h3, .advanced-main h5, .advanced-main h4, .advanced-sidebar h3 {
    color: @titleText !important;
}

#header.anonymous{
	background-color: @titleText !important;
}

/* Text */
/* bootstrap.min.css */
body,
h1, h2, h3, h4, h5, h6,

/* base.css */
.logout a,
.breadcrumbs a,

/* admin.css */

label, input, button, select, textarea,
.modal-body input[type="text"], .row input[type="text"], .modal-body input[type="password"], .modal-body textarea,
.jq-selectbox__select,
span.jq-selectbox li,
span.jq-selectbox li.selected,
.main-actions li a,
.advanced-sidebar li a {
    color: @text;
}

/* Hover item */
/* admin.css */
.main-actions li:hover,
.main-actions li:hover a{
    background-color: @hoverItem !important;
}

/* Selected items */
/* admin.css */
.advanced-sidebar a.active, .nav-library > div a.active,
.main-actions li.selected,
.main-actions li.selected a,
span.jq-selectbox li:hover,
span.jq-selectbox li.selected:hover{
    background-color: @selectedItems !important;
}
div.sidebarred div.sidebar ul li a.myappsitem:hover,
div.sidebarred div.sidebar ul li a.myappsitem.active,
.advanced-sidebar li a:hover,
.advanced-sidebar li a.active {
    background-color: @actionButtons !important;
}

/* Action buttons */
/* admin.css */
.btn-save, .btn-save:focus, .btn-save:active, .btn-save:hover, .confirm-btn, .btn.ok, .values > .branding-external-page, .manage-backgrounds, .manage-backgrounds:hover, .manage-backgrounds:focus, .manage-backgrounds:active, .confirm-btn:hover, .confirm-btn:focus, .confirm-btn:active, .confirm-btn.disabled, .create-additional-field, .btn-submit, .redirect-btn, .redirect-btn:focus, .redirect-btn:active, .redirect-btn:hover, .btn-submit:hover, .btn-submit:focus, .btn-submit:active, .btn-submit.disabled, span.jq-file .jq-file__browse, #pickfiles, [id^="pickfiles-fields"], .recepients .popup-handler, a.new-user-summary, a.new-user-summary:hover, a.new-user-summary:focus, a.new-user-summary:active, a.new-course-summary, a.new-course-summary:hover, a.new-course-summary:focus, a.new-course-summary:active, a.create-report, a.create-report:hover, a.create-report:focus, a.create-report:active, .report-success a.ajaxLink, .report-success a.ajaxLink:focus, .report-success a.ajaxLink:active, .report-success a.ajaxLink:hover,

/* base.css */
.btn-docebo.green {
    background-color: @actionButtons !important;
}

/* Secondary buttons */
/* admin.css */
.btn-cancel,
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus,

/*base.css */
.btn-docebo.black {
    background-color: @secondaryButtons !important;
}

/* Other buttons */
/* admin.css */
.close-btn,
.close-btn:hover,
.close-btn:active,
.close-btn:focus,
.btn-cancel,
.cancel-btn,
.modal-footer .cancel,
input.previous-btn:hover,
input.previous-btn:focus,
input.previous-btn,
.btn-prev,
.btn-prev:hover,
.btn-prev:focus,
/* base.css */
.btn-docebo.grey {
    background-color: @otherButtons !important;
}
.btn-docebo.grey:hover{
	background-color: @secondaryButtons !important;
}

/* Charts 1 */
/* admin.css */
 .legend-field1 .legend-count, .legend-field1 .legend-percent, .legend-field1 .legend-title {
    color: @charts1 !important;
}

/* Charts 2 */
/* admin.css */
.legend-field2 .legend-count, .legend-field2 .legend-percent, .legend-field2 .legend-title {
    color: @charts2 !important;
}

/* Charts 3 */
/* admin.css */
.legend-field3 .legend-count, .legend-field3 .legend-percent, .legend-field3 .legend-title {
    color: @charts3 !important;
}



/* User management: collapse/expand */
/* admin.css */
.show-hide-tree,
.userman-tree-show-hide {
	background-color: @titleText !important;
}

/* grid-view headers */
/* admin.css */
/* DoceboCGridView.css */
.grid-view table.items th,
.grid-view table.items th a,
.grid-view table.items th a:hover {
	color: @titleText !important;
}



/* Bootstrap color override */
.nav-list>.active > a,
.nav-list>.active > a:hover,
.nav-list>.active > a:focus {
	background-color: @selectedItems !important;
}

/* MoxieManager CSS override */
.moxman-foot .moxman-btn:hover,.moxman-foot  .moxman-btn:focus,.moxman-foot  .moxman-btn{
	background-color: @secondaryButtons !important;
}
.moxman-foot .moxman-primary:hover, .moxman-foot .moxman-primary:focus, .moxman-foot .moxman-primary{
	background-color: @actionButtons !important;
}

.active-plan-label{
	color: @actionButtons;
}
.plan-price .green{
	color: @actionButtons;
}

/* Gamification charts */
.gamification-points-chart .chart-user-progress {
    background-color: @charts1 !important;
}

/* "Users" Selector */
.users-selector-body ul li .ui-state-focus,
.users-management-body ul li .ui-state-focus
{
	background: none;
	background-color: @hoverItem !important;
}


.users-selector .nav-tabs li > a:hover,
.users-selector .nav > li > a:hover {
	color: #F1F3F2;
	background-color: @hoverItem !important;
	text-shadow: 1px 1px 0 #000000;
}


.users-selector .nav-tabs li.active > a {
	color: #F1F3F2;
	background-color: @selectedItems !important;
	text-shadow: 1px 1px 0 #000000;
}


/* My Dashboard/Dashlets */
.w-mycourses .filter-header .search-button{
	background-color: @titleText !important;
}
.w-mycourses .filter-header .search-button::before{
	border-right: 12px solid @titleText;
}
.dashlet .dl-header .dl-header-text {
	color: @titleText !important;
}
.dl-content .fc-day.fc-state-highlight{
	background: @charts2;
}
.dl-content .fc-day.hasEvents .top-right-arrow{
	border-color: transparent @charts2 transparent transparent;
}
.dl-content .fc-border-separate tr.fc-first th.fc-day-header{
	background: @menuHeaders;
}

li[class="dashlet mydashboard.widgets.DashletCatalog"] .dl-content div.catalog-minimal-calendar-content .fc-border-separate tr.fc-first th.fc-day-header{
	background: @menuHeaders!important;
	color: #fff!important;
}

/* "final tabs"  */
.final-tabs ul.nav-tabs li.active {
	background-color: @actionButtons !important;
}
.final-tabs ul.nav-tabs li a:hover {
	background-color: @actionButtons !important;
	color: #fff;
}


/* Course -> Training Materials -> Add/Edit LO navigation tabs (left side) */
.player-arena-editor-panel .nav-tabs li > a:hover,
.player-arena-editor-panel .nav > li > a:hover {
	color: #F1F3F2;
	background-color: @hoverItem !important;
	text-shadow: 1px 1px 0 #000000;
}
.player-arena-editor-panel .nav-tabs li.active > a {
	color: #F1F3F2;
	background-color: @selectedItems !important;
	text-shadow: 1px 1px 0 #000000;
}


/* New menu background colors */
.menu #new-my-menu-top-bg, #admin.second-menu #close-bar {
	background-color: @menuBackground;
}

.menu #new-my-menu-top-profile #new-menu-profile-ask-guru,
.menu #new-my-menu-top-profile #new-menu-profile-share,
#admin.second-menu #close-bar .inner-content .buttons .rounded-box {
	background-color: @actionButtons;
}

.application-embedded-mode #navigation ul.breadcrumb {
    background-color: @charts2;
}

.application-embedded-mode #footer {
    background-color: @charts2;
}

