

/* CourseHeader (widget) -------------------------------- */

#player-courseheader-container {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E4E6E5;
}

    #player-courseheader-container h2 {
        margin: 0px 0px 14px 0px;
        color: #0465AC;
        font-size: 19px;
        font-weight: 600;
        word-break: break-all;
        display: table;
    }
    #player-courseheader-container h3 {
        margin: 0px 0px 14px 0px;
        color: #333;
        font-size: 17px;
        font-weight: normal;
        font-style: italic;
    }

    #player-courseheader-container .course-header-logo {
        float: left;
        margin-right: 14px;
    }

    #player-courseheader-container .course-header-title {
        padding: 0px 0px 10px 80px;
    }

    #player-courseheader-container .course-header-logo img {
        padding: 2px;
        max-width: 100px;
        max-height: 60px;
        border: 1px solid #E4E6E5;
    }

    .course-header-title h2{
        word-break: normal !important;
    }

    /* mode switcher */
    #player-manage-mode-selector {
        white-space: nowrap;
        float:right;
        text-align: right;
        padding: 0 12px;
        margin-top: 14px;
		margin-left: 10px;
        border: 1px solid #E4E6E5;
    }

    #player-manage-mode-selector label {
        display: inline;
        font-size: 12px;
        line-height: 33px;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        color: #999999;
    }

    #player-manage-mode-selector .switcher {
        margin: 0 8px;
    }

    #player-manage-mode-selector .active {
        color: #0465AC;
    }

    #player-manage-mode-selector input {
        display: none;
    }

	#course-unenrollment-button, #session-unenrollment-button {
		margin-top: 14px;
	}

	#course-unenrollment-button a, #session-unenrollment-button a {
		font-size: 12px;
		line-height: 33px;
		padding: 0px 14px;
	}