.helpdesk-modal.modal {
	top: 5%;
	width: 640px;
	margin-left: -320px;
}
.helpdesk-modal .modal-header h3{
	padding-left:0;
}
.helpdesk-modal .modal-body {
	height: auto;
	max-height: none;
}
.modal {
	width: 560px;
	margin-left: -280px;
}
.modal-header {
	background: #333333;
	padding: 4px 12px;
	border-bottom: 1px solid #cccccc;
	position: relative;
}
.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow-y: auto;
}
.modal-footer {
	border: 0px none;
	background: transparent;
	padding: 14px 15px 15px !important;
}
.modal-footer .btn + .btn {
	margin-left: 5px !important;
}
a.btn, a.btn.disabled {
	min-width: initial !important;
}
.btn-docebo.big {
	padding: 6px 35px;
}
.modal-header h3 {
	margin: 0;
	line-height: 30px;
	padding-left: 0px;
}
.modal-header .close{
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
	margin: 3px;
	color: white;
	opacity: 1;
	filter: alpha(opacity=100);
	top: 0px;
	right: 0px;
	position: relative;
	overflow: visible;
	background: none;
}