.docebo-list-view {}
.docebo-list-view > .header {}
.docebo-list-view > .header > div {
    float: left;
    color: #0573c6;
    background-color: #FFF;
    text-align: left;
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}
.docebo-list-view > .items {
    clear: both;
    border-bottom: 1px solid #DDD;
}
.docebo-list-view > .items .item {
    border-top: 1px solid #DDD;
}
.docebo-list-view > .items .item:hover,
.docebo-list-view > .items .item.selected {
    background-color: #eee;
}
.docebo-list-view .item-col {
    display: inline-block;
    line-height: 36px;
    padding: 0 5px;
    border: 1px solid transparent;
}
.docebo-list-view > .header .item-col {
    margin: 0 3px 0 0;
}