

.docebo-helpful {}
.docebo-helpful label {display: inline;}
.docebo-helpful a { font-weight: bold; text-decoration: none; margin-left: 10px; }
.docebo-helpful a:hover { text-decoration: none; }

.docebo-helpful a span { opacity: 0.5; }
.docebo-helpful a:hover span { opacity: 1; }
.docebo-helpful a.my-vote span { opacity: 1; }
.docebo-helpful.readonly a:hover { cursor: default; }
.docebo-helpful.readonly a:hover span { opacity: 0.5; }
.docebo-helpful.readonly a.my-vote:hover span { opacity: 1; }


.docebo-helpful a.thumbs-up {}
.docebo-helpful a.thumbs-up span {vertical-align: baseline;margin-left: 4px;}
.docebo-helpful a.thumbs-down {}
.docebo-helpful a.thumbs-down span {vertical-align: middle;margin-left: 4px;}