.grid-view-loading
{
/* 	background:url(../images/DoceboCGridView/loading.gif) no-repeat; */
	background: url(../images/loading.gif) no-repeat;
}

.grid-view
{
	padding: 15px 0px;
}

.grid-view table.items
{
	background: white;
	width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 12px;
}

.grid-view table.items th
{
	color: #333333;
/*	background: url("bg.gif") repeat-x scroll left top white;*/
	text-align: left;
}

.grid-view table.items th
{
	color: #0573c6;
	text-transform: uppercase;
	font-size:12px;
	text-decoration: none;
	font-weight: 600;
}

.grid-view table.items th a.asc
{
	background:url(../images/DoceboCGridView/up.gif) right center no-repeat;
	padding-right: 10px;
	display: inline !important;
}

.grid-view table.items th a.desc
{
	background:url(../images/DoceboCGridView/down.gif) right center no-repeat;
	padding-right: 10px;
	display: inline !important;
}

.grid-view table.items tr.even, .grid-view table.items tr.odd
{
	border-top: 1px solid #ddd;
}

.grid-view table.items tr.even:last-child, .grid-view table.items tr.odd:last-child
{
	border-bottom: 1px solid #ddd;
}

.grid-view table.items tr.parent, .grid-view table.items tr.parent
{
	border-left: 5px solid #ccc;
}

.grid-view table.items td, .grid-view table.items th
{
	padding: 9px 4px;
}
.grid-view table.items td > input[type="radio"],
.grid-view table.items td > input[type="checkbox"] {
    margin: 0;
}

.grid-view table.items tbody tr:hover
{
	background: #eee;
}

.grid-view table.items tbody td a.call-to-action {
    font-weight: 700;
    color: #5dbd5d;
    text-decoration: underline;
    text-transform: uppercase;
}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	max-width: 100px;
}
.grid-view .button-column-single
{
	text-align: center;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
    float: left;
    margin: 20px 0 0;
	text-align: right;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
}


.grid-view .odd.selected {
	background: #eee;
}
.grid-view .even.selected {
	background: #eee;
}

.modal-body#import-questions .items span p {
	display: inline;
}

.modal-body#import-questions .items span.questionbank-preview {
	width: 80%;
}