/* Docebo Bootcamp -------------------------------------- */

ul.docebo-bootcamp {
    margin: 0 0 30px;
}
ul.docebo-bootcamp li {
    float: left;
    margin-right: 11px;
    border: 1px solid #e4e6e5;
}
ul.docebo-bootcamp li:last-child {
    margin-right: 0;
}
ul.docebo-bootcamp li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fefefe;
    padding: 20px 10px 0;
    /*background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F2F1));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: -moz-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: -o-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: linear-gradient(to bottom, #FFFFFF, #F0F2F1);*/
    background: url(../images/main-actions-grad.jpg) left top repeat-x #f1f3f2;
    width: 80px;
    min-height: 80px;
    position: relative;
}
ul.docebo-bootcamp li a:hover {
    background-color: #333;
    background-image: none;
}
ul.docebo-bootcamp li a:hover > span {display: none;}
ul.docebo-bootcamp li a:hover > span.white {display: inline-block;}
ul.docebo-bootcamp li a:hover h4,
ul.docebo-bootcamp li a:hover p {
    color: #FFF;
    text-decoration: none;
    text-shadow:0 0 0;
}
ul.docebo-bootcamp li a > span {display: inline-block;}
ul.docebo-bootcamp li a > span.white {display: none;}
ul.docebo-bootcamp li a h4 {
    color: #333;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #FFFFFF;
    padding-top: 10px;
    /* overflow: hidden; */
    min-width: 83px;
}
ul.docebo-bootcamp li a .notification {
    position: absolute;
    top: 0; right: 0;
    background-color: red;
    color: white;
    text-shadow: 1px 1px 0 #000;
    padding: 6px;
    font-size: 11px;
    min-width: 14px;
    background-image: none;
    height: auto;
    width: auto;
    margin: inherit;
}
ul.docebo-bootcamp li.helper {
    display: none;
}
ul.docebo-bootcamp li.helper a {
    text-align: left;
    width: 350px;
    padding-top: 7px;
    min-height: 90px;
}
ul.docebo-bootcamp li.helper a .i-sprite {
    float: left;
    margin-right: 5px;
}
ul.docebo-bootcamp li.helper a h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    padding: 0;
}
ul.docebo-bootcamp li.helper a p {
    margin: 5px 0 0;
    line-height: 16px;
}

ul.docebo-bootcamp-inline
{
	display:inline-block;
}
