/* DoceboStarRating: jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(../images/rating/delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../images/rating/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}

/* DoceboStarRating types customization */
div.rating-cancel {display: none !important;}

/* Star type rating */
.star-type-rating div.star-rating {width:20px;height:20px;margin-right: 3px;}
.star-type-rating div.star-rating a {width: 19px; height: 18px; margin-top: 1px; background: url(../images/my_blog_sprite.png) no-repeat -174px -56px;}
.star-type-rating div.star-rating-hover a {background-position: -152px -56px;}
.star-type-rating div.star-rating-on a {background-position: -152px -56px!important;}

/* Big Star type rating */
.big-star-type-rating div.star-rating {width:30px;height:30px;margin-right: 3px;}
.big-star-type-rating div.star-rating a {width: 30px; height: 30px; background: url(../images/social_rating_sprite.png) no-repeat -31px -6px;}
.big-star-type-rating div.star-rating-hover a {background-position: 0 -6px;}
.big-star-type-rating div.star-rating-on a {background-position: 0 -6px !important;}

/* Circle type rating */
.circle-type-rating div.star-rating {width:20px;height:20px;margin-right: 3px;}
.circle-type-rating div.star-rating a {width: 15px; height: 15px; margin-top: 4px; background: url(../images/my_blog_sprite.png) no-repeat -221px -59px;}
.circle-type-rating div.star-rating-hover a {background-position: -200px -59px;}
.circle-type-rating div.star-rating-on a {background-position: -200px -59px!important;}

/* Heart type rating */
.heart-type-rating div.star-rating {width:20px;height:20px;margin-right: 3px;}
.heart-type-rating div.star-rating a {width: 17px; height: 16px; margin-top: 3px; background: url(../images/my_blog_sprite.png) no-repeat -267px -59px;}
.heart-type-rating div.star-rating-hover a {background-position: -244px -59px;}
.heart-type-rating div.star-rating-on a {background-position: -244px -59px!important;}

/* Smiley type rating */
.smiley-type-rating div.star-rating {width:20px;height:20px;margin-right: 5px;}
.smiley-type-rating div.star-rating a {width: 20px; height: 20px; background: url(../images/my_blog_sprite.png) no-repeat -153px -28px;}
.smiley-type-rating div.star-rating:nth-child(3) a {background-position: -153px -28px;}
.smiley-type-rating div.star-rating:nth-child(4) a {background-position: -181px -28px;}
.smiley-type-rating div.star-rating:nth-child(5) a {background-position: -209px -28px;}
.smiley-type-rating div.star-rating:nth-child(6) a {background-position: -237px -28px;}
.smiley-type-rating div.star-rating:nth-child(7) a {background-position: -265px -28px;}

.smiley-type-rating div.star-rating:nth-child(3).star-rating-hover a {background-position: -153px -4px;}
.smiley-type-rating div.star-rating:nth-child(4).star-rating-hover a {background-position: -181px -4px;}
.smiley-type-rating div.star-rating:nth-child(5).star-rating-hover a {background-position: -209px -4px;}
.smiley-type-rating div.star-rating:nth-child(6).star-rating-hover a {background-position: -237px -4px;}
.smiley-type-rating div.star-rating:nth-child(7).star-rating-hover a {background-position: -265px -4px;}

.smiley-type-rating div.star-rating:nth-child(3).star-rating-on a {background-position: -153px -4px!important;}
.smiley-type-rating div.star-rating:nth-child(4).star-rating-on a {background-position: -181px -4px!important;}
.smiley-type-rating div.star-rating:nth-child(5).star-rating-on a {background-position: -209px -4px!important;}
.smiley-type-rating div.star-rating:nth-child(6).star-rating-on a {background-position: -237px -4px!important;}
.smiley-type-rating div.star-rating:nth-child(7).star-rating-on a {background-position: -265px -4px!important;}
/* END jQuery.Rating Plugin CSS */


.star-rating-control div.animate {
    display: none;
}
.smiley-type-rating .star-rating-control div.animate {
    background: url(../images/ico_sprite.png) no-repeat 0 -145px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -16px;
}
#social_rating_course .rating-value.fixed_rating{
    font-size: 15px;
    margin-left: 5px;
}