.doceboPager {
	width: 97%;
	float: left;
	margin-top: 10px;
	text-align: right;
}

ul.yiiPager {
	font-size: 11px;
	border: 0;
	margin: 0;
	padding: 0;
	line-height: 100%;
	display: inline;
}

ul.yiiPager li {
	display: inline;
	margin-left: 1px;
}

ul.yiiPager .page a {
	font-weight: bold;
}

ul.yiiPager a:hover {
	background: none;
}

ul.yiiPager .selected a {
	font-weight: normal;
	background: none;
    color: #333333;
}

ul.yiiPager .next,
ul.yiiPager .previous {
	border: 1px solid #e0e0e0;
	height: 19px;
	width: 18px;
	display: inline-block;
	padding: 0px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: -5px;
}

ul.yiiPager .next {
	background: url('../images/pager_next.png') center no-repeat #efefef;
}

ul.yiiPager .previous {
	background: url('../images/pager_previous.png') center no-repeat #efefef;
}

ul.yiiPager .previous a,
ul.yiiPager .next a {
	border: none;
	width: 18px;
	height: 19px;
	display: block;
	background: none;
}

ul.yiiPager .last,
ul.yiiPager .first {
	font-size: 12px;
	font-weight: bold;
	display: inline;
}
.gridItemsContainer{
    clear: both;
    margin-top: 10px;
}

.user-report-classroom-courses .gridItemsContainer,
.courses-grid-wrapper .gridItemsContainer {
    display: inline;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: none;
    color: #333333;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: underline;
}


ul.yiiPager .selected a {
    text-decoration: none;
}

ul.yiiPager .selected {
    border: 1px solid #e0e0e0;
    background-color: #eeeeee;
}
