td {
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	padding-top:5px;
	padding-bottom:5px;
	line-height:25px;
	vertical-align: middle;
}
#userReportSharingActivityPdf {
	float:left;
	width:100%;
}
#expertAvatarImg {
	width: 100px;
	height: 100px;
}

.expertAvatarImg  {
	width: 39px;
	height: 39px;
	border-radius:50px;
}

#expertAvatarNoImg, .expertAvatarNoImg {
	width: 100px;
	line-height: 100px; 
	background: #0465ac; 
	text-align: center; 
	font-size: 32px; 
	color: #fff; 
	font-weight: 600; 
	text-transform: uppercase;
}
.no-border td {
	border:none;
}
.text-center {
	text-align: center;
}
.fullName {
	color: #438CBF;
	font-size: 18px;
}
.clear {
	clear:both;
}
.boxes {
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 70px;
    position: relative;
}
.data-box {
    border: 1px solid #e6e6e6;
    background: #f8f8f8;
    padding: 15px;
    margin-bottom: 15px;
    height: 40px;
	margin-left: 2.564102564102564%;
    position: relative;
}
.row-fluid {
	width:100%;
	float:left;
}
.span4 {
    width: 28.6239%;
	float:left;
}
table {
	margin-top:15px;
}
.num {
	color: #0664aa;
    font-size: 19px;
    display: block;
	width:100%;
}
.data-box.left.span4 {
    margin-left: 0 !important;
}
.chartRow {
	margin-bottom: 5px;
}
.chartContainer {
	border: 1px solid grey;
	padding: 10px;
}
.verAlignCenter {
	vertical-align: central;
}

.ratingsAvatarImg {
	width: 40px;
	height: 40px;
}

.currentUser {
	color: #5EBE5C;
}

.legend th, .legend td  {
	border: none;
	margin: 10px;
}
.legend .green, .legend .blue{
	width: 14px;
	height: 14px;
} 
.legend .green {
	background-color: #ADDFAC;
} 
.legend .blue {
	background-color: #E5EFF7;
} 
.legend .text {
	padding: 0 10px;
} 
.last-asset-block {
	height:230px;
	border: 1px solid #e6e6e6;
	margin-left: 2.564102564102564%;
}
.last-assets {
	display:block;
	margin-top: 22px;
}
.asset-info {
	padding: 10px;
}
.asset-info span {
	font-size : 12px;
	color:#A0A0A0; 
}
.asset-title {
	color: #0664aa;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 5px;
}
.asset-contributor {
	color :#A0A0A0;
}
.asset-contributor .contributor-name {
	color: #0664aa; 
	font-size:12px;
}
.app7020ActivityChannels {
  margin-bottom: 50px;
}
.app7020ActivityChannels table {
  width: 100%;
  table-layout: auto;
  border-top: 1px #E5E5E5 solid;
  border-bottom: 1px #E5E5E5 solid;
  border-collapse: unset;
  padding: 10px 0 14px 0;
  position: relative;
}
.app7020ActivityChannels table tbody tr .title {
  text-align: right;
  font-size: 13px;
  font-weight: 600;
  padding: 0 30px 0 0;
  vertical-align: middle;
  width: 30%;
}
.app7020ActivityChannels table tbody tr .line-pre-wrapper {
  padding: 0;
  height: 24px;
  vertical-align: middle;
}
.app7020ActivityChannels table tbody tr .line-pre-wrapper .line-wrapper {
  display: block;
  height: 12px;
  position: relative;
  z-index: 2;
}
.app7020ActivityChannels table tbody tr .line-pre-wrapper .line-wrapper .line-text {
  display: block;
  white-space: nowrap;
  position: absolute;
  line-height: 12px;
  width: 0;
  right: -3px;
  z-index: 2;
}
.app7020ActivityChannels table tbody tr.toggle {
  cursor: pointer;
}
.app7020ActivityChannels table tbody tr.toggle i {
  font-size: 18px;
  padding-left: 5px;
  position: relative;
  top: 2px;
  font-style: normal;
}
.app7020ActivityChannels table tbody tr.toggle i:before {
  font-family: "FontAwesome";
  content: "\f0d7";
}
.app7020ActivityChannels .grid-wrapper {
  position: relative;
  box-sizing: border-box;
}
.app7020ActivityChannels .grid-wrapper .separators {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
}
.app7020ActivityChannels .grid-wrapper .separators div {
  border-left: 1px #E5E5E5 solid;
  height: 100%;
  position: absolute;
  z-index: 1;
  margin-left: -1px;
}
.app7020ActivityChannels .grid-wrapper .separators div:nth-child(1) {
  left: 0%;
}
.app7020ActivityChannels .grid-wrapper .separators div:nth-child(2) {
  left: 25%;
}
.app7020ActivityChannels .grid-wrapper .separators div:nth-child(3) {
  left: 50%;
}
.app7020ActivityChannels .grid-wrapper .separators div:nth-child(4) {
  left: 75%;
}
.app7020ActivityChannels .grid-wrapper .separators div:nth-child(5) {
  left: 100%;
}
.app7020ActivityChannels .grid-wrapper .separators div span {
  width: 50px;
  position: absolute;
  right: -25px;
  bottom: -20px;
  display: block;
  text-align: center;
}
.app7020ActivityChannels .grid-wrapper .separators div:last-child span {
  text-align: right;
  right: 0;
}
.app7020ActivityChannels.in tr.hide {
  display: table-row;
}
.app7020ActivityChannels.in tr.toggle .title span, .app7020ActivityChannels.in tr.toggle .line-pre-wrapper {
  display: none;
}
.app7020ActivityChannels.in tr.toggle i:before {
  content: "\f0d8";
}
