html, body {
    min-height: calc(100vh - 182px);
}

body:not(.embed-iframe) {
    padding: 20px 0px 0px 0px !important;
}

body.embed-iframe {
    padding: 5px 0px 5px 0px;
}

body.embed-iframe iframe#embedded-iframe {
    padding-bottom: 45px;
}

#content {
    min-height: calc(100vh - 10px);
    margin-bottom: 30px;
}

.application-embedded-mode #wrapper {
    /**
     * !important used as a workaround for inline css for position
     */
    position: initial!important;
}

.menu.new-menu{
    display: none !important;
}

#header, #navigation {
    display: none !important;
}

#footer{
    margin: 0 !important;
    padding: 0 !important;
    height: 50px !important;
    color: #ccc !important;
    background-color: #f5f5f5 !important;
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
}

#footer p {
    padding: 5px 12px;
}

#footer p a{
    color: #333 !important;
    text-shadow: none !important;
}

#footer > * {
    margin-top: calc(50px - 37px) !important;
    display: inline-block !important;
}

.container.hydra {
    width: 100% !important;
    min-height: 100% !important;
}

.container.hydra .menu-spacer{
    padding-left: 25px !important;
    padding-right: 25px !important;
}

body.erp {
    padding-top: 0px !important;
}

body.erp .container .menu-spacer{
    margin-left: 0px !important;
}

body.erp .container {
    width: 100% !important;
}

iframe.erp {
    height: calc(100vh) !important;
}

body.erp footer {
    display: none;
}

body.erp #content {
    margin-bottom: 0px;
}

#player-manage-mode-selector, #player-quicknavigation > div{
    display: none;
}

.hydra-player-options {
    display: block;
}

.legacy-player-options {
    display: none;
}

.hide-toc-image, .show-toc-image {
    width: 140px;
    height: 80px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
}

.hide-toc-image {
    background-image: url(/themes/spt/images/player/full_width.png);
}

.show-toc-image {
    background-image: url(/themes/spt/images/player/toc.png);
}

.main-actions h3, #content > .main-actions > h3.title-bold {
    display: none;
}

@media (min-width: 768px){
    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb{
        height: 103px !important;
        width: 137px !important;
        overflow: hidden;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb img{
        margin-top: -20px;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .course-action{
        top: 70px !important;
    }
}

@media (min-width: 992px){
    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb{
        height: 103px !important;
        width: 137px !important;
        overflow: hidden;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb img{
        margin-top: -20px;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .course-action{
        top: 70px !important;
    }
}

@media (min-width: 1200px){
    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb{
        height: 130px !important;
        width: 188px !important;
        overflow: hidden;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .thumb img{
        margin-top: -30px !important;
    }

    body.docebo.tiles-rectangular .w-mycourses .course-tile .course-action{
        top: 97px !important;
    }
}