/**
  IE SUCKS!!!
*/

.navbar .nav li.header-menu-userprofile .dropdown-toggle .caret {
    margin-top: 6px;
}
.header-login-form input[type="text"], .header-login-form input[type="password"] {
    width: 130px;
}
input[type="submit"].btn {
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}
a.header-lostpass {
    line-height: 30px;
    margin-top: 15px;
}

.tile {
    margin-left: 15px;
}
.row-fluid .tile:first-child {
    margin-left: 0;
}
.tiles-grid > .row-fluid {
    margin-bottom: 15px;
}
.tile.app {
    width: 228px;
}
.tile.app .tile-content,
.tile.app .hover {
    width: 208px;
}
.tile.cover .tile-content {
    width: 82%;
    height: 82%;
}

.tile.course .tile-content {
    width: 220px;
}
.tile.course .course-action .play-btn {
    height: 60px;
}
.tile.new, .tile.cart, .tile.overbooked, .tile.completed, .tile.locked, .tile.play {
    width: 222px;
    height: 222px;
}
.tile.new .tile-content,
.tile.cart .tile-content,
.tile.overbooked .tile-content,
.tile.completed .tile-content,
.tile.locked .tile-content,
.tile.play .tile-content {
    width: 212px;
    height: 212px;
}

.tile.back-cover {
    width: 228px;
    height: 228px;
}
.tile.back-cover .tile-content {
    width: 100%;
    padding: 0;
}
.tile.back-cover .tile-content span {
    margin-top: 80px;
}


/*
    Cart page
*/
.checkout-wrapper table.table.cart-positions {
    margin-top: 26px;
}
#checkout-form .billing-cart-container {
    width: 46%;
}
.checkout-wrapper a.btn-continue,
.checkout-wrapper a.btn-buy-now {
    line-height: 35px;
}