@CHARSET "UTF-8";


.modal.imsel {
    width: 942px;
    margin-left: -471px;
}

.modal.imsel h3 {
	padding-left: 0px;	
}

.imsel .imsel-manage-panel {}


    .imsel .imsel-manage-panel .nav-list {
        background-color: #f1f3f2;
        min-height: 300px;
    }

    .imsel .imsel-manage-panel .nav-list > li  {
        line-height: 33px;
        border-bottom: 1px solid white;
    }


    .imsel .imsel-manage-panel .pane-header {
        height: 60px;
        background-color: #f1f3f2;
    }

        .imsel .imsel-manage-panel .pane-header div:first-child {
            padding-top: 19px;
            padding-left: 10px;
            float: left;
        }

        .imsel .imsel-manage-panel .pane-header div:nth-child(2) {
            padding-top: 10px;
            margin-left: 10px;
        }



    .imsel .imsel-manage-panel .carousel-control {
        height: 20px;
        width: 13px;
        line-height: 100px;
        overflow: hidden;
        border: none;
        border-radius:0;
        top:50%;
        margin-top: -10px;
        opacity:1;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
        -moz-opacity: 1; /* Mozilla 1.6- */
        -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    }

    .imsel .imsel-manage-panel .carousel-control.left,
    .imsel .imsel-manage-panel .carousel-control.left:hover,
    .imsel .imsel-manage-panel .carousel-control.left:focus{
        background: url(../images/shared/icons_elements.png) -288px -204px no-repeat;
        left:0;
    }

    .imsel .imsel-manage-panel .carousel-control.right,
    .imsel .imsel-manage-panel .carousel-control.right:hover,
    .imsel .imsel-manage-panel .carousel-control.right:focus{
        background: url(../images/shared/icons_elements.png) -308px -204px no-repeat;
        right:0;
    }



    .imsel .imsel-manage-panel .carousel-inner {
    	min-height: 200px;
    }

        .imsel .imsel-manage-panel .carousel-inner > .active {
        }

        .imsel .imsel-manage-panel .carousel-inner .item .sub-item {
            position: relative;
            background: #FFFFFF;
            padding: 0px;
            display: inline-block;
            height: 78px;
            width: 195px;
            margin:5px 6px;
            overflow: hidden;
            margin:5px 10px;
            border:1px solid #e4e6e5;
            vertical-align: middle;

            box-sizing:border-box;
  			-moz-box-sizing:border-box;
  			-webkit-box-sizing:border-box;
        }


        .imsel .imsel-manage-panel  .carousel-inner .item .sub-item.checked span.checkmark {
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
            background-color: #FFFFFF;
            padding: 3px 3px 3px 3px;
            opacity: 0.9;
            margin: 0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE 5.5+*/
            -moz-opacity: 0.9; /* Mozilla 1.6- */
            -khtml-opacity: 0.9; /* Konqueror 3.1, Safari 1.1 */
        }


        .imsel .imsel-manage-panel .carousel-inner .item .sub-item span.checkmark
        {
            display: none;
        }


        .imsel .imsel-manage-panel .carousel-inner .item .sub-item:hover span.deleteicon,
        #userSlider .carousel-inner .item .sub-item:hover span.deleteicon,
        [id*="userSlider"] .carousel-inner .item .sub-item:hover span.deleteicon
        {
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: #FFFFFF;
            padding: 3px 3px 3px 3px;
            opacity: 0.9;
            margin: 0;
            filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
            -moz-opacity: 0.9;
            -khtml-opacity: 0.9;
        }

        .imsel .imsel-manage-panel .carousel-inner .item .sub-item span.deleteicon,
        .imsel .imsel-manage-panel .carousel-inner .item .sub-item.checked span.deleteicon,
        #userSlider .carousel-inner .item .sub-item span.deleteicon,
        #userSlider .carousel-inner .item .sub-item.checked span.deleteicon,
        [id*="userSlider"] .carousel-inner .item .sub-item span.deleteicon,
        [id*="userSlider"] .carousel-inner .item .sub-item.checked span.deleteicon
        {
            display: none;
        }

        .imsel span#user-images-count
        {
          margin-right: 0px !important;
        }


        .imsel .imsel-manage-panel  .carousel-inner .item .sub-item input[type="radio"] {
            display: none !important;
        }


        .imsel .imsel-manage-panel .carousel-inner .item .sub-item:hover,
        .imsel .imsel-manage-panel .carousel-inner .item .sub-item.checked
         {
         	border:4px solid #53ab53;
            cursor:pointer;
        }

        .imsel .imsel-manage-panel .jq-file__name {
            display: none;
        }

        .full-height {
            min-height: 100%;
            height: 100%;
            width: auto;
        }
        .full-width {
            min-width: 100%;
            width: 100%;
            height: auto;
        }
