html,body{
	height:100%;
	overflow: hidden;
}

#loginLayout {
	height:100%;
	background: #EFEFEF;
}

#loginBlock {
	height:100%;
	text-align: center;
}

#loginBlock:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
	display: inline-block;
	max-width: 98%;
	width: 900px;
	padding: 0px 20px;
	border: #ccc solid 1px;
	background: #fff;
	text-align: left;
}

.header-logo {
	float: left;
	max-width: 300px;
	margin: 20px 10px 10px 10px;
	min-height: 50px;
}

/** Layout TOP login **/
#loginFormTop {
	width: 100%;
	position: absolute;
	margin: -70px 0px 0px 10px;
	text-align: right;
}

#loginFormTopContent {
	/*width: 618px;*/
	margin-right: 20px;
	float: right;
}

.loginFormTopCustomApp{
	display: inline-block;
	margin-left: 5px;
}

#loginFormTop .google-btns {
	clear: left;
	float: left;
	/*margin-left: 100px;*/
}

#loginFormTop .header-lostpass{
	line-height: 20px;
}

#loginFormTop .btn {
	margin-top: -9px;
}

#topLayout {
	position: relative;
}

#topLayout #passwordSuccess{
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#topLayout #languageBtn {
	position: absolute;
	width: 98%;
	margin-top: 20px;
	z-index: 1000;
	padding-right: 2%;
	text-align: right;
}

#topLayout #languageBtn .dropdown-menu {
	text-align: left;
}

#topLayout #loginError {
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#topLayout #loginPages, #rightLayout #loginPages {
	width: 100%;
	float: left;
	background: #000;
}

#topLayout #loginPages ul li a, #rightLayout #loginPages ul li a{
	color: #fff;
	float: left;
	padding: 5px 20px 8px 20px;
	text-align: center;
	text-shadow: none;
}

#topLayout #loginPages ul li a:hover, #rightLayout #loginPages ul li a:hover{
	text-decoration: none;
	background: #0465ac;
}

#topLayout #loginPages li.active a, #topRight #loginPages li.active a{
	background: #0465ac;
}

#loginTextsTop {
	position: absolute;
	bottom: 45px;
	left: 0px;
}
#mainTitleTop {
	max-height:100px;
	overflow:auto;
	background-color: #03569D;
	color: white;
	padding: 8px 20px;
	text-shadow: 1px 1px 0px #000000;
	margin-bottom: 15px;
	-khtml-opacity: .80;
	-moz-opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	opacity: .80;
}

#mainCaptionTop {
	max-height:150px;
	overflow:auto;
	background-color: #60C05F;
	color: white;
	padding: 5px 20px;
	line-height: 25px;
	text-shadow: 1px 1px 0px #000000;
	-khtml-opacity: .80;
	-moz-opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	opacity: .80;
}

#mainCaptionTop ul {
	margin: 0 0 10px 25px;
	list-style-type: disc;
}
#mainCaptionTop ol {
	margin: 0 0 10px 25px;
	list-style-type: decimal;
}
/** end TOP login **/

/** Layout BOTTOM login **/
#loginFormBottom {
	float: left;
	margin: 10px 0px 0px 2%;
	width: 98%;
}

#loginFormBottom a {
	color: #fff;
	text-shadow: none;
	text-decoration: none;
}

#loginFormBottom .header-lostpass {
	line-height: 29px;
}

#bottomLayout {
	position: relative;
}

#mainTitleBottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-height:100px;
	background-color: #03569D;
	width: 96%;
	color: white;
	padding: 6px 2%;
	font-size: 22px;
	margin-bottom: 0px !important;
	text-shadow: 1px 1px 0px #000000;
	margin-bottom: 15px;
	-khtml-opacity: .80;
	-moz-opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	opacity: .80;
}

#mainCaptionBottom {
	position: absolute;
	bottom: 50px;
	right: 20px;
	max-height:450px;
	overflow:auto;
    background-color: #000;
	background: #000000;
	color: white;
	font-size: 14px;
	padding: 15px 20px 5px 20px;
	text-shadow: 1px 1px 0px #000000;
	font-weight: normal;
	min-width: 200px;
	max-width: 300px;
	-khtml-opacity: .80;
	-moz-opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	opacity: .80;
	max-height: 250px;
}

#bottomLayout #languageBtn {
	position: absolute;
	text-align: right;
	margin-top: 20px;
	z-index: 1000;
	width: 98%;
	padding-right: 2%;
}

#bottomLayout #languageBtn .dropdown-menu {
	text-align: left;
}

.google-bottom {
	line-height: 28px !important;
}

#bottomLayout #loginError {
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#bottomLayout #passwordSuccess{
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#bottomLayout #loginPages {
	float: right;
	position: absolute;
	z-index: 1000;
	margin-top: -50px;
	width: 98%;
	text-align: right;
	min-height: 66px;
	padding-right: 2%;
}

#bottomLayout #loginPages ul li {
	float: right;
	margin-top: 20px;
	margin-left: 15px;
}

#bottomLayout #loginPages li.active a{
	color: green;
}

#bottomLayout .loginFooter {
	margin-bottom: 0px;
}

/** end BOTTOM login **/

/** Layout RIGHT login **/
#loginRightCnt {
	background-color: #000000;
	width: 300px;
	position: relative;
	margin-left: 0px;
	overflow: hidden;
	float: right;
	min-height: 147px;
}

@media (max-width: 767px) {
	#rightImageArea {
		display:none;
	}
	#loginRightCnt {
		width:100%;
	}
}

@media (min-width: 767px) {
	#rightImageArea {
		width:66%;
	}
	#loginRightCnt {
		width:34%;
	}
}

#rightLayout #loginError {
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#rightLayout #passwordSuccess{
	position: absolute;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1000;
}

#rightLayout #languageBtn {
	position: absolute;
	width: 900px;
	margin-top: -50px;
	z-index: 1000;
	text-align: right;
}

#rightLayout #languageBtn .dropdown-menu {
	text-align: left;
}

#rightLayout #lms-home-image {
	border-right: none;
}


#languageBtn .dropdown-menu {
	overflow: auto;
	max-height: 400px;
}



#loginFormRight {
	position: absolute;
	bottom: 0px;
	width: 98%;
	margin-left: 10px;
	overflow: hidden;
}

#loginFormRight input[type="text"], #loginFormRight input[type="password"] {
	width: 266px;
}

#loginFormRight .dialogLinks {
	width: 100%;
	float: left;
}

#loginFormRight .btn {
	margin-bottom: 10px;
}

#loginFormRight input[type="submit"].btn {
	margin-right: 20px;
}

.loginFormRightCustomApp{
	margin-bottom: 10px;
	margin-right: 20px;
}

#loginFormRight .header-lostpass {
	line-height: 20px;
	margin-bottom: 5px;
}

#loginFormRight .dialog-links {
	color: #fff;
	text-shadow: none;
	text-decoration: none;
}

#loginFormRight a.dialog-links:hover {
	text-decoration: underline;
}

#loginTextsRight {
	padding: 5px 10px;
}

#rightLoginWrapper {
	position: relative;
	min-height: 147px;
}

#rightImageArea {
	float: left;
	clear: left;
}

#mainTitleRight {
	font-size: 14px;
	color: #fff;
	-khtml-opacity: .95;
	-moz-opacity: .95;
	-ms-filter: "alpha(opacity=95)";
	filter: alpha(opacity=95);
	opacity: .95;
	margin-bottom: 5px;
}

#mainCaptionRight {
	font-size: 12px;
	color: #fff;
	-khtml-opacity: .95;
	-moz-opacity: .95;
	-ms-filter: "alpha(opacity=95)";
	filter: alpha(opacity=95);
	opacity: .80;
	overflow: auto;
	max-height: 170px;
	padding: 3px;
}
/** end RIGHT login **/

#loginError div {
	background: #D80100;
	-khtml-opacity: .80;
	-moz-opacity: .80;
	-ms-filter: "alpha(opacity=80)";
	filter: alpha(opacity=80);
	opacity: .80;
}

input[type="text"], input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-box-shadow: inset 2px 2px 2px 0px #ccc;
	-moz-box-shadow: inset 2px 2px 2px 0px #ccc;
	box-shadow: inset 0px 1px 2px 0px #ccc;
}

.dialog-links {
	color: #000;
	font-size: 11px;
	text-decoration: underline;
}

.loginFooter {
	margin-bottom: 20px;
	text-align: right;
	width: 98%;
	padding: 6px 2% 6px 0px;
	background-color: #444;
	background-image: -moz-linear-gradient(top,#444,#333);
	background-image: -ms-linear-gradient(top,#444,#333);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#333));
	background-image: -webkit-linear-gradient(top,#444,#333);
	background-image: -o-linear-gradient(top,#444,#333);
	background-image: linear-gradient(top,#444,#333);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#444444', endColorstr = '#333333', GradientType = 0);
	float: left;
	clear: left;
	font-size: 11px;
}

.loginBottomCnt {
	text-align: right;
	background-color: #444;
	float: left;
	clear: left;
	width: 98%;
	padding: 6px 2% 6px 0px;
}

.loginFormBottomCustomApp{
	display: inline-block;
	float: right;
	margin-left: 15px;
}

.loginFooter .powered-by a, .privacy-policy a{
	color: #fff;
	text-shadow: none;
}
.loginFooter .powered-by span, .privacy-policy span{
	color: #fff;
	text-shadow: none;
}
.loginFooter .powered-by, .privacy-policy {
	margin: 0px;
}

.pages {
	display: none;
	padding: 5px;
}

#pagesContent {
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	float: left;
	display: none;
}
img.ie7bgimage{
	display:none;
	position:absolute;
	left:0;
	top:0;
	min-width:100%;
	min-height:100%;
}
#authorization-top.top-bar{
    background-color:#444;
    padding:15px 15px 15px 15px;
}
#authorization-top.top-bar span{
    font-size:20px;
    color:white;
}
#authorization-body.container-fluid{
    clear: both;
}
#authorization-body.container-fluid #welcome-message{
    font-size:16px;
    margin-top:25px;
}
#authorization-body.container-fluid #input-hint{
    display:block;
    margin-top:5px;
    margin-bottom:30px;
}
#authorization-body.container-fluid #username-input-container,
#authorization-body.container-fluid #password-input-container{
    display: inline-block;
}
#authorization-body.container-fluid #username-input-container label,
#authorization-body.container-fluid #password-input-container label{
    display:block;
    text-align:left;
}
#authorization-body.container-fluid #username-input-container div.controls,
#authorization-body.container-fluid #password-input-container div.controls{
    margin:0px;
}
#authorization-body.container-fluid #username-input-container div.controls input,
#authorization-body.container-fluid #password-input-container div.controls input{
    border-radius:0px;
    width:250px;
}
#authorization-body.container-fluid #password-input-container{
    margin-left:30px;
}
#authorization-body.container-fluid #app-container{
    background-color:#eee;
    padding:15px;
}
#authorization-body.container-fluid #app-container .app-icon{
    display:inline-block;
    width:60px;
    height:60px;
    border-radius:5px;
    background-color:#ccc;
    text-align: center;
    vertical-align:middle;
    color:white;
    line-height:60px;
    font-size:30px;
}
#authorization-body.container-fluid #app-container .app-info{
    display:inline-block;
    margin-left:10px;
    text-align: left;
    vertical-align:middle;
    width:200px;
    max-width:200px;
}
#authorization-body.container-fluid #app-container .lock-icon{
    display:inline-block;
    font-size:35px;
    text-align: center;
    vertical-align:middle;
}
#authorization-body.container-fluid #app-container .logo{
    display:inline-block;
    /*margin-left:70px;*/
    text-align: center;
    vertical-align:middle;
	float: right;
}
#authorization-body.container-fluid #buttons-container{
    margin-left: 340px;
	text-align: right;
}
#authorization-body.container-fluid #buttons-container .controls{
	margin-left: 10px;
	margin-right: 0px;
}
#authorization-body.container-fluid #buttons-container .controls-2nd-btn{
	margin-left: 0px;
}
#authorization-body.container-fluid #buttons-container .controls input{
    display: inline-block;
	margin-right:10px;
	float:left;
	border-radius:0px;
}
#authorization-body.container-fluid a.lostdata{
	text-decoration: underline;
	color: #0465ac;
}

