/**
 *
 * IMPORTANT: This file is DEPRECATED and NOT loaded anymore: Content moved to common.css
 *
 * DOCEBO, e-learning SAAS
 *
 * @link http://www.docebo.com/
 * @copyright Copyright &copy; 2004-2014 Docebo
 *
 */

/* Menu */

.menu-spacer {
	margin-left: 80px;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width:80px;
	height: 100%;
	overflow: visible; /* required for overlays to be visible */
	background: #333333;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	z-index:1030; /* important! z-index must be lower than the value of .modal-backdrop */
}

.menu.animate {
	opacity: 0;
}
.menu.animate ul.menu-square .tile {
	left:-80px;
}

.menu a {
    color:#333333;
    text-shadow: 0 1px 0 #ffffff;
}

.menu a:hover, .menu a:focus, .menu a:hover {
    color:#F1F3F2;
    background: #333333;
    text-shadow: none;
    text-decoration: none;
}


.menu .player-lonav-tree a:hover, .menu .player-lonav-tree a:focus {
    color:#333333;
    background: none;
}


.menu a.no-background:hover {
    background: inherit;
}

.menu h1, .menu h2, .menu h3{
	color:#333333;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width:auto;
}

.menu ul li {
	display:block;
}

.menu ul.menu-square .tile {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0;
	padding: 10px 5px 0;
	border-bottom: 1px solid #333333;
	background:#333333;
	z-index:2;
}

.menu ul.menu-square .tile.active:after {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0px;
	display: inline-block;
	border-top: 8px solid transparent;
	border-right: 10px solid #f9f9f9;
	border-bottom: 8px solid transparent;
	content: '';
}

.menu.new-menu ul.menu-square .tile.active:after {
	top: 38%;
}	


.menu ul.menu-square .tile.sidebar-tile-buynow a{
	line-height: 11px;
}

.menu ul.menu-square .tile a {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #333333;
}

.menu ul.menu-square .sidebar-tile-admin a span{
	display: inline-block;
	max-width:60px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.menu ul.menu-square .tile a:hover {
	color: #ffffff;
	background: #333333;
	text-shadow: 0 1px 0 #333333;
}

.menu ul.menu-square .tile.blue {
	background: #0465AC;
}

.menu ul.menu-square .tile.blue a:hover {
	background: #0465AC;
}

.menu ul.menu-square .tile a span.player {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}

.menu ul.menu-square .tile a span.player strong {
	color: #5FBF5F;
}

/* Second menu */

.second-menu {
	display: none;

	position: fixed;
	top: 0;
	left: 80px;
	width: 275px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	background-color: #f9f9f9;
	border-right: 1px inset #E4E6E5;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	z-index:1;
}

.second-menu .second-menu-spacer{
	padding:12px;
}

.menu ul.menu-square .second-menu.close {
	display: none;
}

.menu ul.menu-square .second-menu.open {
	display: block;
}

.menu ul.menu-square .second-menu.open-fixed {
	display: block;
}

.second-menu ul {

}

.second-menu ul li {
	line-height: 28px;
}

.second-menu ul a {
	display: block;
	padding: 3px 6px;
	border-bottom: 1px inset #E4E6E5;
}

/* Menu Icons and Fashion */

.menu i.menu-vertical {
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	left: 0;
}

.menu i.menu-vertical.green {background: #5FBF5F;}
.menu i.menu-vertical.grey {background: #999999;}
.menu i.menu-vertical.orange {background: #FF5C26;}
.menu i.menu-vertical.blu {background: #0465AC;}
.menu li.menu-block div {padding: 16px 0 0;}

/* Main menu icons */

.menu i.menu-ico {
	display: block;
	margin: 0 auto;
	width: 44px;
	height: 34px;
	background: url(../images/menu/sprite-menu.png) 50% 0 no-repeat;
}

.menu i.menu-ico.home {background-position: 50% 0;}
.menu i.menu-ico.play {background-position: 50% -39px;}
.menu i.menu-ico.manage {background-position: 50% -79px;}
.menu i.menu-ico.admin {background-position: 50% -119px;}
.menu i.menu-ico.get_more_user {background-position: 50% -159px;}
.menu i.menu-ico.marketplace {background-position: 50% -199px;}
.menu i.menu-ico.apps {background-position: 50% -239px;}
.menu i.menu-ico.helpdesk {background-position: 50% -277px;}
.menu i.menu-ico.language {background-position: 50% -319px;}
.menu i.menu-ico.logout {background-position: 50% -359px;}
.menu i.menu-ico.main {background-position: 50% -440px;}

.logout-black  {
	display: inline-block;
	*display: inline;
	zoom:1;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background: url(../images/menu/sprite-menu.png) 50% 0 no-repeat;
	background-position: 0 -411px;
}


/* Home icons */

.user-profile{
	margin:0;
	padding:0;
	font-weight:normal;
	font-size:18px;
	line-height:30px;
	text-transform: capitalize;
	/*border-bottom: 1px inset #cccccc;*/
}
	.user-profile img{
		max-width: 35px;
		max-height: 35px;
		vertical-align: text-bottom;
	}

	.user-profile a{
		display:inline-block;
		*dispaly:inline;
		zoom:1;
		padding: 1px;
		border: 1px solid #cccccc;
	}

	.user-profile a:hover{
		background: url(../images/standard/icon_edit.png) 50% 50% no-repeat;
	}
	.user-profile a:hover img{
		visibility: hidden;
	}

	.user-profile span{
		margin-left: 10px;
		text-shadow: 0 1px 0 #ffffff;
	}

.user-profile-cmd {
	padding:10px 0;
	border-bottom: 1px inset #E4E6E5;
}

i.home-ico {
	width: 28px;
	height: 28px;
	margin-right: 6px;
	vertical-align: middle;
	background: url(../images/menu/sprite-home.png) 0 0 no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

i.home-ico.my-courses {background-position: 0 0;}
i.home-ico.catalog {background-position: 0 -34px;}
i.home-ico.certificate {background-position: 0 -72px;}
i.home-ico.competencies {background-position: 0 -106px;}
i.home-ico.community {background-position: 0 -140px;}
i.home-ico.curricula {background-position: 0 -177px;}
i.home-ico.activate {background-position: 0 -211px;}
i.home-ico.messages {background-position: 0 -245px;}
i.home-ico.my-activities {background-position: 0 -302px;}
i.home-ico.my-calendar {background: url("../images/classroom_icons_sprite.png") no-repeat scroll 5px -19px;}

i.home-ico.my-blog {background: url("../images/my_blog_sprite.png") no-repeat -7px -3px;width: 18px;height: 17px;margin:0 10px 0 6px;}

a:hover i.home-ico.my-courses {background-position: -30px 0;}
a:hover i.home-ico.catalog {background-position: -30px -34px;}
a:hover i.home-ico.certificate {background-position: -30px -72px;}
a:hover i.home-ico.competencies {background-position: -30px -106px;}
a:hover i.home-ico.community {background-position: -30px -140px;}
a:hover i.home-ico.curricula {background-position: -30px -177px;}
a:hover i.home-ico.activate {background-position: -30px -211px;}
a:hover i.home-ico.messages {background-position: -30px -245px;}
a:hover i.home-ico.my-activities {background-position: -30px -302px;}
a:hover i.home-ico.my-calendar {background: url("../images/classroom_icons_sprite.png") no-repeat scroll -22px -19px;}
a:hover i.home-ico.my-blog {background-position: -33px -3px;}

.notifications {
	padding: 12px;
	text-shadow: 0 1px 0 #ffffff;
}

.notifications h2 {
	font-size: 16px;
	line-height: 40px;
	font-weight: normal;
	margin: 0 0 10px 0px;
	padding: 0 0 0 38px;
	border-bottom: 1px inset #E4E6E5;
	background: url(../images/menu/sprite-home.png) 6px -270px no-repeat;
}

.notifications .item {
	padding: 0px;
	margin: 0 0 24px 10px;
}

.notifications .item .time {
	font-size: 12px;
}

.notifications .item .label {
	font-size: 10px;
	padding: 1px 4px;
	margin: 3px 10px 0 0;
	background: #5FBF5F;
	text-shadow: 0 1px 0 #333333;
	float: right;
}

.notifications .item .close {
	font-size: 14px;
	color: #333333;
	opacity: .8;
	filter: alpha(opacity=80);
}

.notifications .item h3 {
	font-size: 13px;
	margin: 4px 0 0;
	padding: 8px 0 4px;
	border-top: 1px inset #E4E6E5;
	line-height: 16px;
}

.notifications .item p {
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 15px;
}

/* admin menu */

#admin h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	padding: 0 0 6px;
	margin: 12px 0 0;
	border-bottom: 1px inset #E4E6E5;
}

#admin h3 {
	font-size: 13px;
	font-weight: normal;
	line-height: 30px;
	padding:0;
	margin: 3px 0 2px 0;
}

#admin h3 a {
	display: block;
	font-weight: normal;
	line-height: 30px;
	padding: 0 0 0 5px;
	margin: 0 0 0 10px;
}

#admin h3 a.settings {
	border-left:1px solid #E4E6E5;
	padding: 0;
	margin: 0;
}

#admin.second-menu ul {
	padding: 0;
}

#admin.second-menu ul a {
	padding: 6px 0 6px 22px;
	border: 0px none;
	line-height: 16px;
	margin: 0 0;
}

.admin-apps {
	margin-left: 22px;
	/*border-bottom: 1px inset #E4E6E5;*/
}

#admin.second-menu .admin-apps ul a {
	padding: 2px 0 2px 45px;
	margin: 0;
}


#admin.second-menu .version-number {
	color: #aaaaaa;
	font-size: 11px;
	text-transform: capitalize;
}

i.admin-ico {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 30px;
	height: 21px;

	vertical-align: middle;
	background: url(../images/menu/sprite-admin.png) 0 0 no-repeat;
}

i.admin-ico.curriculas {background-position: 0 0;}
i.admin-ico.elearning {background-position: 0 0;}
i.admin-ico.settings {background-position: 0 -36px;}
i.admin-ico.apps {background-position: 0 -76px;}
i.admin-ico.catalog {background-position: 0 -116px;}
i.admin-ico.poweruser {background-position: 0 -152px;}
i.admin-ico.enrollment-rules {background-position: -1px -555px;}
i.admin-ico.ecommerce {background-position: 0 -224px;}
i.admin-ico.labels {background-position: 0 -261px;}
i.admin-ico.system-notif {background-position: 0 -297px;}
i.admin-ico.elucidat    {background-position: -2px -669px;}

i.admin-ico.quick-links {background-position: 0 -334px;}
i.admin-ico.quick-links {background-position: 0 -334px;}
i.admin-ico.quick-links {background-position: 0 -334px;}
i.admin-ico.quick-links {background-position: 0 -334px;}
i.admin-ico.quick-links {background-position: 0 -334px;}
i.admin-ico.quick-links {background-position: 0 -334px;}



a:hover i.admin-ico.curriculas {background-position: -34px 0;}
a:hover i.admin-ico.elearning {background-position: -34px 0;}
a:hover i.admin-ico.settings {background-position: -34px -36px;}
a:hover i.admin-ico.apps {background-position: -34px -76px;}
a:hover i.admin-ico.catalog {background-position: -34px -116px;}
a:hover i.admin-ico.poweruser {background-position: -34px -152px;}
a:hover i.admin-ico.enrollment-rules {background-position: -53px -555px;}
a:hover i.admin-ico.ecommerce {background-position: -34px -224px;}
a:hover i.admin-ico.labels {background-position: -34px -261px;}
a:hover i.admin-ico.system-notif {background-position: -34px -297px;}
a:hover i.admin-ico.elucidat    {background-position: -55px -671px;}

/* Classroom admin menu additions */
i.admin-ico.classroom {background: url("../images/classroom_icons_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
i.admin-ico.classroom-locations {background: url("../images/classroom_icons_sprite.png") no-repeat scroll 0px -234px rgba(0, 0, 0, 0);}
i.admin-ico.empty {background: none;}

a:hover i.admin-ico.classroom {background-position: -28px 0;}
a:hover i.admin-ico.classroom-locations {background-position: -28px -234px;}
a:hover i.admin-ico.empty {background: none;}


/* Manage course */

#manage {
	width: 340px;
}

#manage h2 {
	font-size: 17px;
	font-weight: 500;
	line-height: 20px;
	padding: 0;
	margin: 0;
}

.course-publish-status {
	line-height: 30px;
	padding: 12px 0;
	margin-bottom: 5px;
	border-bottom: 1px inset #E4E6E5;
}

.published {
	font-weight:bold;
	color: #5FBF5F;
}

.not-published {
	font-weight:bold;
	color: #ff1717;
}

ul.with-paragraph {
}

ul.with-paragraph li {
	line-height: 16px;
}

ul.with-paragraph a {
	padding: 10px 0px;
}

ul.with-paragraph a strong {
	font-size: 15px;
}

ul.with-paragraph a p {
	margin: 0;
}

i.manage-ico {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 40px;
	height: 40px;
	margin-right: 6px;
	margin-left: 6px;
	vertical-align: middle;
	background: url(../images/menu/sprite-manage-course.png) 0 0 no-repeat;
}

i.manage-ico.training {
	background-position: 0 0;
}

i.manage-ico.enrollment {
	background-position: 0 -40px;
}

i.manage-ico.report {
	background-position: 0 -80px;
}

i.manage-ico.options {
	background-position: 0 -120px;
}

i.manage-ico.sessions-enrollment {
    background: url(../images/classroom_icons_sprite.png) no-repeat scroll -53px -44px rgba(0, 0, 0, 0);
}

a:hover i.manage-ico.training {
	background-position: -58px 0;
}

a:hover i.manage-ico.enrollment {
	background-position: -58px -40px;
}

a:hover i.manage-ico.report {
	background-position: -58px -80px;
}

a:hover i.manage-ico.options {
	background-position: -58px -120px;
}

a:hover i.manage-ico.sessions-enrollment {
    background-position: -96px -44px;
}

/* Get more user*/

.active-users-counter {font-size:13px;font-weight:bold;color:#5FBF5F;}
	.active-users-counter strong{color:#ffffff;}
.active-users {font-size:11px;}

#get-more-user {}
#get-more-user h2 {font-size:30px;line-height:36px;padding:12px 12px 0px;margin:0;font-weight: normal;}
#get-more-user h2 span {color: #5FBF5F;font-weight: bold;}
#get-more-user h3 {font-size: 13px;font-weight: normal;line-height: 20px;padding: 5px 0 3px 0;border-bottom: 1px inset #E4E6E5;margin:0 12px 12px;}
#get-more-user p{padding:0 12px 12px;margin:0;font-size:13px;}
#get-more-user p.active-users{font-size:16px;}
#get-more-user .pending-cancellation{
	border: 1px solid #E4E6E5;
}
#get-more-user .pending-cancellation h4{
	color: #d90000;
	margin-top: 10px;
	margin-left: 10px;
}
#get-more-user .pending-cancellation h4 img{
	margin-right: 10px;
}
#get-more-user .pending-cancellation #reactivate-lms{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.menu .btn-docebo{margin:0;border:0px none;text-shadow:none;}

#change-plan .i-sprite{
	margin-right: 2px;
	margin-left: 2px;
}

i.ico-gmu {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 20px;
	height: 18px;
	margin-right: 2px;
	margin-left: 2px;
	vertical-align: middle;
	background: url(../images/menu/sprite-getmore.png) 0 0 no-repeat;
}

i.ico-gmu.upgrade {background-position: 0 0;}
i.ico-gmu.downgrade {background-position: 0 -36px;}
i.ico-gmu.terminate {background-position: 0 -70px;}
i.ico-gmu.your-plan {background-position: 0 -104px;}
i.ico-gmu.billing {background-position: 0 -139px;}

/* Help desk */

#help-desk{width:600px;}

#help-desk-request {margin:10px;}
#help-desk-request .form-element{}
#help-desk-request .form-element input[type="radio"]{vertical-align: top;}
#help-desk-request .form-radio-element{margin-top: 10px;}
#help-desk-request .jq-radio{margin-top: -3px;}

#help-desk-request .request{margin-bottom:12px;}
#help-desk-request .request label{display:block;font-size:16px;line-height:20px;padding:0 0 6px;font-weight: normal;border-bottom: 1px inset #E4E6E5;margin:0 0 12px;}
#help-desk-request .request textarea{margin:0;width:100%;border:1px solid #e5e5e5;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
 box-sizing: border-box;}

#help-desk-request .upload{margin-bottom:12px;}
#help-desk-request .upload label{font-size:13px;}

#help-desk-request .target{margin-bottom:12px;padding:12px 0;border-top: 1px inset #E4E6E5;border-bottom: 1px inset #E4E6E5;}
#help-desk-request .target label{font-size:13px;display:inline;}

.text-box h2 {
	font-weight: normal;
	color: #0465AC;
	font-size: 18px;
	margin-bottom: 7px;
}

.text-box {
	border: 1px solid #ccc;
	padding: 10px;
}

.text-box img {
	padding: 3px;
}

#help-desk h2{font-size:13px;font-weight:normal;line-height:20px;padding:5px 0 3px 0;border-bottom: 1px inset #E4E6E5;margin:0 0 20px 0;}



.menu-helpdesk-search {}
.menu-helpdesk-search > h2 {
    margin-bottom: 20px;
}
.menu-helpdesk-search div.search {
    position: relative;
    margin-bottom: 20px;
}
.menu-helpdesk-search div.search input {
    padding-right: 28px;
    width: 88%;
    background-color: #FFF;
    height: 26px;
}
.menu-helpdesk-search div.search .i-sprite {
    position: absolute;
    top: 10px;
    right: 2px;
}
.menu-helpdesk-search ul {}
.menu-helpdesk-search ul a {
	display: block;
	padding: 3px 6px;
	border-bottom: 1px inset #ccc;
}
.menu-helpdesk-search ul > li {display: block; line-height: 28px;}
.menu-helpdesk-search ul > li > span {
    float: right;
    margin-top: 7px;
}
.menu-helpdesk-search ul > li > a {
    color: #0465AC;
    font-weight: bold;
}
.menu-helpdesk-search ul > li > a:hover,
.menu-helpdesk-search ul > li > a:focus {
    color: #0465AC;
    background: none;
}

.menu-helpdesk-search .help-desk-gotomarket{
	margin-right: 10px;
}
.menu-helpdesk-search .btn-docebo {
/*     width: 231px; */
/*     text-align: center; */
/*     margin-top: 10px; */
}

.icon-help {display: inline-block;
*display: inline;
*zoom: 1;
width: 22px;height: 20px;margin-right: 2px;margin-left: 2px;vertical-align: middle;background: url(../images/menu/sprite-help.png) 0 0 no-repeat;}

i.icon-help.iconrequest {background-position: 0 0;}
i.icon-help.manual {background-position: 0 -38px;}
i.icon-help.download {background-position: 0 -72px;margin-top:4px;}
a:hover i.icon-help.download {background-position: 0 -109px;}

/* Language menu */

#language .selected {
	background-image: url(../images/menu/check.png);
	background-position: 95% 50%;
	background-repeat: no-repeat;
	font-weight: 600;
}


/* Display names */

#mainMenuUsername {
    width: 185px;
    height: 30px;
    float: right;
    overflow: hidden;
    white-space: nowrap;
}
.mainMenuUsernameHiding {
    text-overflow: ellipsis;
}

/* Demo platform label */
#demo-platform {
	background-image: url(../images/menu/partners_demo_side.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 225px;
	margin-top: 20px;
	cursor: default;
}


