/**
 * DOCEBO, e-learning
 * @copyright Copyright (c) 2015
 * @license https://www.docebo.com/
 * @since 7.0
 */
/**
 * Set a background color with opacity as a background, in this way elements in it doesn't inherit the opacity
 */
/**
 * Apply ellipsis to a text
 */
/* centered login mask */
a.logo img{
    max-height: 100px;
}
.login-body.centered h1 {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.login-body.centered .login {
    height: 292px;
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 25px;
    color: #555555;
    background: #fcfcfc;
    background: #fcfcfc;
    /* The Fallback */
    background: rgba(252, 252, 252, 0.9);
}

.login-body.centered .login h2 {
    text-align: center;
    padding: 0;
    margin: 0 0 15px;
    color: #555555;
}

.login-body.centered .login p.incipit {
    text-align: center;
    margin: 0 0 20px;
}

.login-body.centered .login div.form-group input {
    /*display:block;*/
    /*width: 308px;*/
    width: 96%;
}

.login-body.centered .login div.lost-pass-container {
    margin-top: 10px;
}

.login-body.centered .login div.lost-pass-container a {
    /*margin-top: 10px;*/
    display: inline-block;
    width: 100%;
    text-align: center;
}

.login-body.centered .login div.lost-pass-container a:visited, .login-body.centered .login div.lost-pass-container a:focus {
    color: #000;
}

.login-body.centered .login .form-group input {
    height: auto;
    line-height: 29px;
    border-radius: 0;
    border-collapse: collapse;
    font-size: 14px;
}

.login-body.centered .login .form-group #login_pwd {
    margin: 0 0 20px;
}

.login-body.centered .login .field-loginform-password .help-block {
    display: block;
    margin: 0;
}

.login-body.centered .login .has-success .form-control {
    border-color: #ccc;
}

.login-body.centered .login .btn.btn-primary {
    line-height: 27px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5EBE5E;
    border-radius: 0;
    border-color: #5EBE5E;
}

.login-body.centered .login .btn.btn-primary:hover {
    background: #7bca7b;
    border-color: #7bca7b;
}

.login-body.centered .login .control-label {
    display: none;
}

.login-body.centered .login .help-block {
    display: none;
}

.login-body.centered #footer {
    padding: 16px 24px;
    margin-left: -48px;
    text-align: left;
    color: #ffffff;
    /*background: #535353;*/
    background-color: rgb(68, 68, 68);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#333));
    background-image: -webkit-linear-gradient(top, rgb(68, 68, 68), rgb(51, 51, 51));
    background-image: linear-gradient(top, rgb(68, 68, 68), rgb(51, 51, 51));
    background-image: -moz-linear-gradient(50% 0%, #444, #333);
    border: 0 none;
}

.login-body.centered #footer a {
    color: #ffffff;
}

/* Full image */
.login-body.image {
    background: #0465ac;
    overflow: hidden;
}

.login-body.image #header {
    padding: 20px;
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #E4E6E5;
}

.login-body.image #header h1 {
    padding: 0;
    margin: 0;
}

/* Full video */
.video-background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    box-sizing: border-box;
    padding-top: 77px;
    padding-bottom: 52px;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
}

.login-body.video {
    overflow: auto;
    background: #efefef;
}

.login-body .btn-group>.dropdown-menu {
    overflow-y: auto;
    max-height: 627px;
}

.login-body.video #header {
    padding: 20px;
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #E4E6E5;
    z-index: 10;
}

.login-body.video #header h1 {
    padding: 0;
    margin: 0;
}

.login-body.video .login .btn.btn-primary {
    color: #FFFFFF;
    background: #FF8000;
    border-color: #FF8000;
}

.login-body.video .login .btn.btn-primary:hover {
    background: #ff9429;
    border-color: #ff9429;
}

.login-body.video .login #loginError div.login-error {
    white-space: unset;
    margin-top: 0px;
    margin-bottom: 20px;
}

.login-body.video .login #passwordSuccess div.password-change-success-minimal{
    white-space: unset;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.login-body .sso-login-btn {
    width: 100%;
}

.login-body .sso-btns div.sso-login-btn {
    margin-top: 8px;
    /*padding-left: 5px;*/
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    max-height: 40px;
}

.login-body .sso-btns a { /*.google-btns a{*/
    width: 100%;
    color: #db5555;
    text-decoration: none;
    text-shadow: none;
    line-height: 40px !important;

    vertical-align: middle;
    display: block;
    max-height: 40px;
}

.login-body .sso-btns a img { /*.google-btns a img{*/
    float: left;
    height: 40px;
    position: absolute;
}

.login-body .sso-btns a i {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 20px;
    position: absolute;
}

.login-body .sso-btns a span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 768px;
    min-width: 320px;
}

body {
    color: #333333;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    background: white;
    border-color: #e4e6e5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.content-wrapper {
    min-height: 100%;
    width: 100%;
    position: relative;
}

input, button, select, textarea {
    outline: none;
}

.font-xs {
    font-size: 11px !important;
}

.font-s {
    font-size: 12px !important;
}

.font-m {
    font-size: 13px !important;
}

.font-l {
    font-size: 14px !important;
}

.font-xl {
    font-size: 18px !important;
}

.fa {
    margin-right: 4px;
}

.btn {
    font-size: 13px;
    padding: 7px 15px;
}

.btn-transparent {
    background: transparent;
    border: 0px none;
    font-size: inherit;
    color: #0465ac;
}

.btn-transparent:hover {
    color: #0586e4;
}

.btn.btn-primary {
    color: #0465ac;
    background: white;
    border-color: #0465ac;
}

.btn.btn-primary:hover {
    color: white;
    background: #0465ac;
    border-color: #0465ac;
}

.btn.btn-success {
    color: #5ebe5e;
    background: white;
    border-color: #5ebe5e;
}

.btn.btn-success:hover {
    color: white;
    background: #5ebe5e;
    border-color: #5ebe5e;
}

.btn.btn-close {
    color: #333333;
    background: white;
    border-color: #333333;
}

.btn.btn-close:hover {
    color: white;
    background: #333333;
    border-color: #333333;
}

.btn.btn-delete {
    color: #d25d49;
    background: white;
    border-color: #d25d49;
}

.btn.btn-delete:hover {
    color: white;
    background: #d25d49;
    border-color: #d25d49;
}

.btn.btn-ghost {
    padding: 5px 15px;
    border-radius: 0;
    font-weight: bold;
    font-size: 12px;
    background: transparent;
    text-transform: uppercase;
    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.container {
    padding-right: 5px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

@media (max-width: 767px) {
    /* MOBILE variation */
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.sidebar-menu {
    position: fixed;
    width: 40px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333333;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: width 0.25s ease;
}

.sidebar-menu.sidebar-expanded {
    width: 200px;
}

.sidebar-menu.sidebar-expanded ul li .only-text span,
.sidebar-menu.sidebar-expanded ul li a span {
    visibility: visible;
}

.sidebar-menu.sidebar-expanded-full li:hover div.submenu {
    display: block;
}

.sidebar-menu ul {
    margin: 12px 0 0;
    padding: 0;
}

.sidebar-menu ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.sidebar-menu ul li .only-text {
    overflow: hidden;
    display: block;
    padding: 0 4px 8px;
    width: 100%;
    line-height: 36px;
    color: white;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

.sidebar-menu ul li .only-text .avatar {
    display: inline-block;
    width: 30px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.sidebar-menu ul li .only-text span {
    visibility: hidden;
}

.sidebar-menu ul li .avatar img {
    width: 28px;
    border-radius: 14px;
    margin: 0 1px;
}

.sidebar-menu ul li .username {
    margin-left: 6px;
    font-size: 13px;
    vertical-align: middle;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.sidebar-menu ul li a {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 4px;
    width: 100%;
    color: white;
    line-height: 36px;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
}

.sidebar-menu ul li a:hover {
    text-decoration: none;
    color: white;
    background: #444444;
}

.sidebar-menu ul li a.selected {
    padding-left: 1px;
    background: #444444;
    border-left: 3px solid #5ebe5e;
}

.sidebar-menu ul li a i.fa.first {
    width: 30px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.sidebar-menu ul li a span {
    visibility: hidden;
    font-size: 13px;
    vertical-align: middle;
}

.sidebar-menu ul.bottom {
    position: absolute;
    bottom: 20px;
    margin: 0 0 10px;
    width: 100%;
}

.sidebar-menu ul.bottom li.white-hover a {
    color: #ffffff;
}

.sidebar-menu ul.bottom li.white-hover a:hover {
    color: #333333;
    background: #ffffff;
    text-decoration: none;
}

.sidebar-menu ul.bottom li div.submenu {
    position: fixed;
}

.sidebar-menu ul.bottom .sb-billing {
    background: #5FBF5F;
}

.sidebar-menu ul.bottom .sb-marketplace {
    background: #999999;
}

.sidebar-menu ul.bottom .sb-apps {
    background: #FF5C26;
}

.sidebar-menu ul.bottom .sb-support {
    background: #0465AC;
}

.sidebar-menu div.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    width: 250px;
    background: #f8f8f8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    height: 100%;
    padding: 10px 20px;
    margin: 0;
    overflow: auto;
}

.sidebar-menu div.submenu h2 {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid #e4e6e5;
}

.sidebar-menu div.submenu ul {
    padding: 0;
    margin: 0 0 20px;
}

.sidebar-menu div.submenu ul li hr {
    margin: 5px 0;
}

.sidebar-menu div.submenu ul li a {
    font-size: 12px !important;
    line-height: 26px;
    padding: 0;
    color: #333333;
    background: transparent;
}

.sidebar-menu div.submenu ul li a:hover {
    padding-left: 0;
    color: #333333;
    background: transparent;
    text-decoration: underline;
    border: 0 none;
}

/* Header */
.site-header {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    /* Message indicator */
    /* Search box */
}

.site-header .logo img {
    max-width: 300px;
    max-height: 80px;
}

.site-header ul {
    position: relative;
    margin: 0;
    padding: 0;
}

.site-header ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 28px;
}

.site-header .tb-separator {
    width: 1px;
    margin: 0 5px;
    background: #e4e6e5;
}

.site-header .tb-action {
    position: relative;
    padding: 5px 5px;
    font-size: 16px;
    border: 0 none;
}

.site-header .tb-action a {
    display: inline-block;
    text-align: center;
    width: 35px;
    color: #333333;
}

.site-header .tb-action a:hover {
    color: #666666;
}

.site-header .tb-badge {
    position: absolute;
    top: 2px;
    right: 6px;
    display: inline-block;
    min-width: 10px;
    padding: 2px 3px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #65BB60;
}

.site-header .tb-search {
    margin: 0 0 0 5px;
    padding: 0;
    display: inline-block;
}

.site-header .tb-search form.main-search {
    margin: 0;
    padding: 0;
    background: #ffffff;
    border: 1px solid #e4e6e5;
    /* Changes when the searchbar is active */
}

.site-header .tb-search form.main-search input {
    display: inline-block;
    width: 200px;
    text-indent: 10px;
    font-size: 12px;
    line-height: 28px;
    border: 0 none;
    background: transparent;
}

.site-header .tb-search form.main-search button {
    display: inline-block;
    color: #e4e6e5;
    font-size: 14px;
    line-height: 28px;
    padding: 0 10px;
    margin: 0;
    border: 0 none;
    background: transparent;
}

.site-header .tb-search form.main-search.active button {
    color: #0465ac;
}

/* Action Bar */
.action-bar-container {
    margin-bottom: 20px;
}

.action-bar {
    width: 100%;
    padding: 12px 0;
    color: white;
    background: #0465ac;
    transition: background .5s;
    /* Title */
    /* Breadcrumbs */
    /* Actions */
}

.action-bar h1 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.action-bar .breadcrumb {
    padding: 0;
    margin: 3px 0 0;
    font-size: 12px;
    color: white;
    background: transparent;
}

.action-bar .breadcrumb li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.action-bar .breadcrumb a {
    color: white;
    text-decoration: underline;
}

.action-bar .breadcrumb a:hover {
    text-decoration: none;
}

.action-bar .breadcrumb .fa-home {
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.action-bar .breadcrumb > .active {
    color: white;
}

.action-bar .breadcrumb > li + li:before {
    padding: 0 3px 0 8px;
    color: white;
    font-size: 13px;
}

.action-bar ul.page-actions {
    position: relative;
    margin: 0;
    padding: 0;
}

.action-bar ul.page-actions > li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
    line-height: 43px;
    font-size: 18px;
}

.action-bar ul.page-actions > li.space-left {
    margin-left: 24px;
}

.action-bar ul.page-actions .btn-transparent {
    line-height: 28px;
    font-size: 18px;
}

.action-bar ul.page-actions a.icon {
    display: inline-block;
    padding: 3px 6px;
    line-height: 24px;
    border-radius: 3px;
    color: white;
}

.action-bar ul.page-actions a.icon:hover {
    color: white;
    background: #3684bd;
}

/* The action bar is switching to sticky mode on scroll */
.action-bar.sticky {
    position: fixed;
    top: 0;
    z-index: 899;
    padding: 6px 0;
    color: #333333;
    background: whitesmoke;
    /* The Fallback */
    background: rgba(245, 245, 245, 0.95);
    border-bottom: 1px solid #e5e5e5;
    /* Title */
    /* Breadcrumbs */
    /* Actions */
}

.action-bar.sticky h1 {
    font-size: 14px;
    line-height: 34px;
    color: #333333;
}

.action-bar.sticky .breadcrumb {
    display: none;
}

.action-bar.sticky ul.page-actions > li {
    line-height: 24px;
}

.action-bar.sticky ul.page-actions > li a.icon {
    color: #333333;
}

.action-bar.sticky ul.page-actions > li a.icon:hover {
    background: #ffffff;
}

form#loginFormRight {
    margin: 0;
}

.minimalistic-or{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 16px;
}

.loginFormMinimalCustomApp{
    text-align: center;
}

i.fa.fa-globe {
    vertical-align: middle;
    margin-right: 0px;
    font-size: 18px;
}

.btn-docebo.dropdown-toggle {
    background-image: none;
    background-color: transparent;
    color: #000;
    text-transform: none;
    box-shadow: none;
    font-weight: normal;
    margin-right: 80px;
}

a.dialog-links.btn.btn-docebo[rel="dialog-register"] {
    font-size: 14px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 9px;
    padding-top: 8px;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    margin-bottom: 0px;
    background: whitesmoke;
    border-top: 1px solid #e5e5e5;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer ul li {
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
}

#footer ul li a {
    color: #333333;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01m5Bw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5UZBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/ttwNtsRpgsxVmgGGmiUOEpBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/LWCjsQkB6EMdfHrEVqA1KZBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/xozscpT2726on7jbcb_pApBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/59ZRklaO5bWGqF5A9baEEZBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/u-WUoqrET9fUeobQW7jkRZBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqOCaDZZVv73zpFSwE4Va2k.woff2) format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNStWlIHla9B101mdmTHF3-q0.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSlMRqIICSqEqsEoDxn8ddME.woff2) format("woff2");
    unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqWHppw2c1XOp6B2yhU8z7c.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSuji7H8UD0RUWSM-55zrR4g.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSsw0n1X1lV_hRH3yZFpIE9Q.woff2) format("woff2");
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSiYtBUPDK3WL7KRKS_3q7OE.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKOCaDZZVv73zpFSwE4Va2k.woff2) format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzNWlIHla9B101mdmTHF3-q0.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* devanagari */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzFMRqIICSqEqsEoDxn8ddME.woff2) format("woff2");
    unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzKWHppw2c1XOp6B2yhU8z7c.woff2) format("woff2");
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOji7H8UD0RUWSM-55zrR4g.woff2) format("woff2");
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzMw0n1X1lV_hRH3yZFpIE9Q.woff2) format("woff2");
    unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzCYtBUPDK3WL7KRKS_3q7OE.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(//fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*# sourceMappingURL=common.css.map */

.headerMessage
{
	    max-height: 100px;
		overflow: hidden;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 17px;
		display: block;
}

.languageBtn
{
	margin-top: 2px;
}

#register-modal-btn
{
	margin-top: 2px;
}