
html, body,
input,
select,
textarea,
button,
.ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/* Menu */

.ui-page-theme-a .language,
.ui-page-theme-a .main-menu {
	background: #333333;
}

.ui-page-theme-a .main-menu ul li {}
.ui-page-theme-a .main-menu ul li a:visited,
.ui-page-theme-a .main-menu ul li a{
	font-weight:normal;
	color:#ffffff;
	background: #333333;
	border-bottom: 1px solid #666666;
	font-size: 14px;
	line-height: 28px;
}

.ui-page-theme-a .language ul li {}
.ui-page-theme-a .language ul li a:visited,
.ui-page-theme-a .language ul li a{
	font-weight:normal;
	color:#ffffff;
	background: #333333;
	font-size: 14px;
	line-height: 18px;
	border:0 none;
}

/* General */

#handler-language {
	color:#ffffff;
	font-size:16px;
	padding:8px 6px 0;
}

.ui-page-theme-a .ui-btn.ui-btn-transparent {
	background: transparent;
	border: 0;
	margin: 1px;
}

.ui-page-theme-a .ui-btn-icon-left.ui-btn-transparent:after {
	background-color: transparent;
}

.ui-page-theme-a .ui-header .ui-title,
.ui-page-theme-a .ui-footer .ui-title {
	font-weight: normal;
}

.langMenuLi{
	margin: 0;
	display: block;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-width:0 !important;
	padding: 0 !important;
	background-color: #333333 !important;

}

.langMenuItem{
	font-weight: normal !important;
	color: #ffffff !important;
	background: #333333 !important;
	border: 0 !important;
	font-size: 14px;
	line-height: 28px;
	text-align: left !important;
}

.langMenuItem .fa-globe{
	position: absolute;
	left: 13px;
	top: 17px;
}

.second-menu {
	display: none;
}

.second-menu li a{
	display: block;
	text-decoration: none;
}

.second-menu .currentLang a {
	background: url("../images/menu/check.png") 95% 50% no-repeat !important;
	font-weight: 600;
}

/* Login */


.login-logo {
	text-align:center;
	margin:40px 0 20px;
}

.login-logo img {
	max-width:75%;
}

.ui-page-theme-a.login-page {
	background: #ffffff;
	text-shadow: none;
}

.login-wrapper {
	background:#f6f6f6;
	border:1px solid #e9e9e9;
}

.login-wrapper .homepage {
	max-width: 100%;
}

.login-wrapper #login-form {
	padding: 20px 15px;
}

.login-wrapper .login-bg {
	text-align: center;
}

.login-wrapper .input-wrapper {}

.login-wrapper #login_userid,
.login-wrapper #login_pwd {
	display: block;
	width: 100%;
	font-size: 16px;
	line-height: 32px;
	text-indent: 10px;
	font-weight: normal;
	color: #c3c3c3;
	border: 1px solid #e9e9e9;
	padding:0;
	margin:0;
}
.login-wrapper #login_pwd {
	border-top: 0 none;
}

.ui-page-theme-a .ui-btn.btn-login {
	margin-top:20px;
	color:#ffffff;
	background: #53AB54;
	border: 0 none;
	border-radius: 0;
	text-shadow: none;
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 1.42857143;
	font-weight: normal;
}

.login-error {
	padding: 0 0 20px;
	color: red;
	font-size: 13px;
}

/* Course list */

.course-locked {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	margin: 0;
	background: #ffffff;
	padding: 0;
	opacity: .6;
}


/* Content list */

.ui-objects li a {
	padding: 7px 39px;
}

.ui-objects li a h2 {
	font-weight: normal;
}

/* Play page */

.iframe-scroller {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 44px;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	overflow-x: visible;
	padding:0;
	margin:0;
}

.iframe-scroller iframe {
	height:99%;
	width: 100%;
	border:0px none;
	padding:0;
	margin:0;
}/*
.play-page .ui-content {
	padding:0;
}


.play-page .wrapper-iframe {
	position: absolute;
	top: 44px;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.play-page .ui-content .content-iframe {
	padding:0;
	margin:0;
	border:0px none;
	width:100%;
	height:99%;
}
*/

/* Report Page */

.report-page .ui-content {
	padding:0;
}

.ui-btn.google-login {
    background-color: #4285F4;
    color: #ffffff;
    height: 44px;
    border-radius: 3px;
    text-decoration: none !important;
}
.google-login span{
    margin-top: -8px;
    margin-left: -12px;
}

.google-login-link, .google-apps-link{
    box-sizing: border-box;
    text-align: center;
    border: 0px none;
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #4285F4;
    color: #333333;
    padding: 2px 6px 2px 6px;
    width: 100%;
    display: inline-block;
    margin-bottom: 7px;
}
.google-apps-link {
    background-color: #3B78E7;
}
.span-logo, .span-apps-logo {
    left: 5px;
    top: 3px;
    bottom: 0px;
    display: table-caption;
    position: absolute;
    vertical-align: middle;
    background-position: center center;
}
.google-text {
    display: inline-block;
    color: #FFF;
    font-size: 15px;
    font-weight: 200;
    line-height: 41px;
    text-shadow: none;
}
