/* generic */

.myactivities-title {
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	padding-bottom: 16px;
}

.grid-view table.items tr td.action-icon-column {
	width: 32px;
}


/* actions */
.user-report-actions input[type=submit].new-user-summary {
	background-color: #5FBF5F !important;
	text-shadow: 1px 1px #306430;
	margin-left: 9px;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	padding: 7px 10px;
	min-width: 98px;
	width: auto;
	text-align: center;
	box-shadow: none;
	font-weight: 600;
	line-height: normal;
}

.user-report-actions input[type=text].user-search {
	margin: 0;
	border-radius: 0;
	height: 31px;
	border: 1px solid #e5e5e5;
	padding: 0px 8px;
}

/* sprite */

.myactivities-sprite {
	display: inline-block;
	background: url(../images/myactivities_sprite.png) no-repeat;
	vertical-align: middle;
}

/* side menu */

.myactivities-sidebar .sidebarred .sidebar ul li a.active,
.myactivities-sidebar .sidebarred .sidebar ul li a:hover {
	background-color: #333333 !important;
}

.myactivities-sidebar .sidebarred .sidebar ul li a span {
	background: url('../images/i-sprite.png') no-repeat;
	height: 22px;
	width: 22px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 8px;
	background-position: -979px 0px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.statistics span {
	background-position:-10px -1235px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.statistics:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.statistics.active span {
	background-position:-210px -1235px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.courses span {
	background-position:-10px -2039px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.courses:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.courses.active span {
	background-position:-210px -2039px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.social span {
	background-position:-10px -1017px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.social:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.social.active span {
	background-position:-210px -1017px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.classrooms span {
	background: url("../images/classroom_icons_sprite.png") no-repeat;
	background-position:0px 0px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.classrooms:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.classrooms.active span {
	background: url("../images/classroom_icons_sprite.png") no-repeat;
	background-position:-28px 0px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.webinar span {
	background: url('../images/webinar/sprite-icons.png') no-repeat scroll -16px -47px transparent !important;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.webinar:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.webinar.active span {
	background: url('../images/webinar/sprite-icons.png') no-repeat scroll 3px -47px transparent !important;
}


.myactivities-sidebar .sidebarred .sidebar ul li a.additional-info span {
	background: url("../images/myactivities_sprite.png") no-repeat;
	background-position:-200px -46px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.additional-info:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.additional-info.active span {
	background: url("../images/myactivities_sprite.png") no-repeat;
	background-position:-224px -46px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.learning-plans span {
	background: url("../images/menu/sprite-home.png") no-repeat;
	background-position:-6px -178px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.learning-plans:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.learning-plans.active span {
	background: url("../images/menu/sprite-home.png") no-repeat;
	background-position:-36px -178px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.badges span {
	background: url(../../../plugins/GamificationApp/assets/images/gamification_sprite.png) no-repeat;
	background-position:-57px -89px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.badges:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.badges.active span {
	background: url(../../../plugins/GamificationApp/assets/images/gamification_sprite.png) no-repeat;
	background-position:-89px -89px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.external-activities span {
	background: url(../../../plugins/TranscriptsApp/assets/images/transcripts_sprite.png) no-repeat;
	background-position:-4px -118px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.external-activities:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.external-activities.active span {
	background: url(../../../plugins/TranscriptsApp/assets/images/transcripts_sprite.png) no-repeat;
	background-position:-29px -118px;
}


.myactivities-sidebar .sidebarred .sidebar ul li a.certification span {
	background: url("../images/icons_elements.png") no-repeat scroll -119px -378px transparent;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.certification:hover span,
.myactivities-sidebar .sidebarred .sidebar ul li a.certification.active span {
    background: url("../images/icons_elements.png") no-repeat scroll -147px -378px transparent;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.questionsAndAnswers span:after {
	content: "\f0e6";
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 18px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.sharing-activity span:after {
	content: "\f016";
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 19px;
}
.myactivities-sidebar .sidebarred .sidebar ul li a.sharing-activity span:before {
	content: "\f1e0";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 9px;
    position: absolute;
    left: 3px;
    top: 2px;
}

.myactivities-sidebar .sidebarred .sidebar ul li a.assets-ranks span:after {
	content: "\f005";
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 18px;
}

/* statistics */

.myactivities-sprite.clock {
	width: 37px;
	height: 37px;
}
.myactivities-sprite.clock.red {
	background-position:-51px 0px;
}
.myactivities-sprite.clock.orange {
	background-position:-95px 0px;
}
.myactivities-sprite.clock.yellow {
	background-position:-140px 0px;
}

.myactivities-sprite.cup {
	width: 35px;
	height: 42px;
}
.myactivities-sprite.cup.silver {
	background-position:0px -45px;
}
.myactivities-sprite.cup.bronze {
	background-position:-40px -45px;
}
.myactivities-sprite.cup.gold {
	background-position:-80px -45px;
}
.myactivities-sprite.cup.black-down {
	background-position:-120px -45px;
}
.myactivities-sprite.cup.yellow-up {
	background-position:-160px -45px;
}

.myactivities-sprite.blue-glass {
	background-position:-183px 2px;
	width: 35px;
	height: 35px;
}

.myactivities-sprite.bars {
	background-position:0px 0px;
	width: 46px;
	height: 36px;
}

.my-activities-stat-title {
	line-height: 25px;
}

.my-activities-test-statistics-title{
    padding-bottom: 0px;
    padding-top: 0px;
    font-weight: 600;
    font-size: 20px;
}

.statistics-title-bottom{
    margin-top: 15px;
}

.course-due-container div.course-due-date {
	color: #333333;
	margin: 0;
	padding: 0px 6px 6px 48px;
}
.course-due-container div.course-due-date .days-alert,
.course-due-container div.course-due-date .course-time {
	font-weight: bold;
	font-size: 11px;
}
.course-due-container div.course-due-date .course-name {
	/*height: 40px;*/ /* Causes an issue in My Activities*/
}
.course-due-container div.course-due-date .course-time {
	padding-top: 4px;
}
.course-due-container div.course-due-date .course-time span.course-status {
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #CCCCCC;
	text-transform: uppercase;
	padding: 1px 6px;
}
.course-due-container div.course-due-date .course-time span.course-status.in-progress {
	background-color: #F1C40F;
}
.course-due-container div.course-due-date .course-time span.course-status.completed {
	background-color: #58D68C;
}
.course-due-container span.course-due-icon {
	float:left;
	position:absolute;
	padding-top: 6px;
	padding-left: 6px;
	display: inline-block;
	vertical-align: top;
	margin-left: 2px;
	margin-right: 4px;
}

.course-due-container .score-obtain {
	color: #0465ac;
	font-weight: 700;
	font-size: 20px;
}
.course-due-container .score-obtain-date {
	font-size: 11px;
}


.myactivities-myperformances .myperformances-icon-container {
	height: 50px;
	vertical-align: middle;
}
.myactivities-myperformances .myperformances-score-container {
	/*height: 30px;*/
	vertical-align: middle;
	color: #0465ac;
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;

    height:auto;
    min-height:30px;
    height:auto !important;        /* for IE as it does not support min-height */
    height:30px;                   /* for IE as it does not support min-height */
}
.myactivities-myperformances .myperformances-text-container {
	vertical-align: top;
}
.myactivities-myperformances .myperformances-link-container {
	vertical-align: top;
	text-decoration: underline;
	color: #0465ac;
}


/* courses and classrooms */
#myactivities-courses-grid div.gridItemsContainer {clear: none;}
#myactivities-classroom-courses-grid div.gridItemsContainer {clear: none;}


/* coursepaths */

#coursepath-management-grid.grid-view table.items tr td.less-border {
	padding: 6px 4px;
}

#coursepath-management-grid .learningplan-percentage {
	display: inline-block;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 9px;
	text-align: left;
	vertical-align: middle;
	background-color: #CCCCCC;
}
#coursepath-management-grid .learningplan-percentage.minimum {
	background-color: #333333;
}
#coursepath-management-grid .learningplan-percentage.partial {
	background-color: #F1C40F;
}
#coursepath-management-grid .learningplan-percentage.maximum {
	background-color: #58D68C;
}

/* courses */

.new-user-summary .user-additional-fields.my-activities .even { width: 50%; padding: 11px 0; }
.new-user-summary .user-additional-fields.my-activities .odd { width: 50%; padding: 11px 0; }

.courses-grid-wrapper .user-status {
	display: inline-block;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px 9px;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #CCCCCC;
}
.courses-grid-wrapper .user-status.to-begin {
	background-color: #333333;
}
.courses-grid-wrapper .user-status.in-progress {
	background-color: #F1C40F;
}
.courses-grid-wrapper .user-status.completed {
	background-color: #58D68C;
}

/* badges */

.myactivities-badges-info {
	padding-top: 9px;
	display: inline-block;
}

@media (max-width: 979px) and (min-width: 768px) {
	div.myactivities-badges-info .span6,
	div.myactivities-badges-info .span3 {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0px;
	}
}

.myactivities-badge-column {
	width: 46px;
}

.myactivities-badge-column img {
	padding-right: 10px;
	width: 30px;
}

/* social */

.social-contents {
	display: inline-block;
}

.social-titles {
	height: 28px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 600;
	padding-bottom: 4px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	color: #0465ac;
	vertical-align: middle;
	padding-top: 8px;
	padding-bottom: 4px;
}

@media (max-width: 979px) and (min-width: 768px) {
	.social-titles {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.social-titles {
		display: none;
	}
}

.social-contents .info-block {
	float:left;
	padding: 8px 5px;
	text-align: center;
}

.social-contents .info-block .sb-icon {
	height:42px;
	vertical-align: bottom;
}
.social-contents .info-block .sb-info {
	height:28px;
	vertical-align: middle;
	font-size: 25px;
	font-weight: 700;
	color: #0465ac;
	padding:6px 0;
	white-space: nowrap;
}
.social-contents .info-block .sb-text {
	vertical-align: top;
}

.social-contents .info-block .sb-icon .avg-tones-container {
	display: inline-block;
}

.social-contents div.rating-details-container {
	padding-bottom: 8px;
}
.social-contents div.rating-details-container table tr td {
	vertical-align: middle;
}
.social-contents div.rating-details-container table tr td.rating-detail-count {
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	padding-left: 5px;
	color: #0465ac;
}

.user-report-social .bordered-bottom {
	border-bottom: 1px solid #CCCCCC;
}

.myactivities-sprite.helpful-yes {
	background-position: -101px -89px;
	width: 45px;
	height: 40px;
}

.myactivities-sprite.helpful-not {
	background-position: -147px -89px;
	width: 45px;
	height: 40px;
}

.myactivities-sprite.balloon-single {
	background-position: 0px -89px;
	width: 42px;
	height: 40px;
}

.myactivities-sprite.balloon-double {
	background-position: -43px -89px;
	width: 55px;
	height: 40px;
}

.myactivities-sprite.blog-post {
	background-position: -220px 0px;
	width: 42px;
	height: 40px;
}