/* Menu & Headers */
.menu.new-menu .second-menu {
    left: 50px;
}

.menu.second-gen-menu a[href="#home"] {
    vertical-align: middle;
    line-height: 45px!important;
}

.menu.second-gen-menu
{
    width: 50px!important;
}

.menu.second-gen-menu ul.menu-square .tile {
    width: 50px;
    height: 45px;
}

.menu.second-gen-menu span.ask-expert-7020 {
    font-size: 9px!important;
    top: 3px;
}

.menu.second-gen-menu .get-more-users-stack-icons {
    font-size: 9px!important;
}

.menu.second-gen-menu ul.menu-square .tile.default:not(.tile-green):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk) {
    background-color: transparent!important;
    border-color: transparent !important;
}

.menu.second-gen-menu ul.menu-square .tile:not(.tile-green):not(.blue):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk):hover a,
.menu.second-gen-menu ul.menu-square .tile:not(.tile-green):not(.blue):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk):hover
{
    border-color: transparent !important;
}

.menu.second-gen-menu ul.menu-square .tile a:focus:not(.coachapp),
.menu.second-gen-menu ul.menu-square .tile.default a:focus:not(.coachapp),
.menu.second-gen-menu ul.menu-square .tile.default:not(.tile-green):not(.sidebar-tile-apps):not(.sidebar-tile-helpdesk) a:hover,
.menu.second-gen-menu ul.menu-square .tile.default a.hover {
    background-color: transparent!important;
    border-color: transparent !important;
}

.menu.second-gen-menu.new-menu ul.menu-square .tile.active:after {
    display: none;
}

ul#menu li:before,
ul#menu li:after {
    content: '';
    display: table;
    line-height: 0;
}

ul#menu li:after {
    clear: both;
}

.menu.second-gen-menu {
    /*position: fixed!important;*/
}

.gray_item {
    color: #858585!important;
    text-decoration: none!important;
}

.gray_tile {
    /*background-color: transparent!important;*/
    /*text-decoration: none!important;*/
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}

.gray_tile.active,
.gray_tile:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
}

.menu .tooltip {
    z-index: 2;
}

.menu .second-menu.open {
    z-index: 0;
}

.menu .tooltip-inner {
    /*white-space: nowrap;*/
}

.menu.menu2 .tooltip {
	display: none !important;
}

/* ========= MENU STYLING ========== */
#admin.second-menu {
    width: 100%;
    box-sizing: border-box;
    background-clip: content-box;
    left: 0;
    bottom: 0;
    padding-left: 50px;
}

#admin.second-menu a, #home.second-menu .content a {
    background: transparent;
    color: #333333;
    border-bottom: 0px;
    padding-left: 0px;
}

#admin.second-menu a:hover,  #home.second-menu .content a:hover {
    text-decoration: underline;
    color: #333333;
    border-bottom: 0px;
}

#admin.second-menu ul a {
    padding: 3px 0px;
}

#admin.second-menu .second-menu-spacer {
    padding: 12px 20px;
}

#admin.second-menu #close-bar {
    position: relative;
    background-color: #0465AC;
    min-height: 70px;
    padding: 30px 20px 30px 27px;
    margin-bottom: 35px;
}

#admin.second-menu #close-bar .inner-content .rounded-box {
    position: absolute;
}

#admin.second-menu #close-bar .inner-content .title {
    margin-left: 60px;
    padding-top: 5px;
}

#admin.second-menu #close-bar .inner-content .title h1 {
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;
}

#admin.second-menu #close-bar .inner-content .title h1 span.active {
    color: #5fbf5f;
}

#admin.second-menu #close-bar .inner-content .title a {
    text-shadow: none;
    color: #FFFFFF;
    text-decoration: underline;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

#admin.second-menu #close-bar .inner-content .buttons {
    position: absolute;
    right: 30px;
    min-height: 62px;
    bottom: -27px;
}

#admin.second-menu #close-bar .inner-content .buttons .rounded-box {
    background-color: #55AB54;
    border: 0px;
    width: 54px;
    height: 51px;
    position: relative;
}

#admin.second-menu #close-bar .inner-content .buttons a {
    color: #FFFFFF;
    text-shadow: 0 0 0;
    display: inline-block;
    width: 54px;
    height: 51px;
    margin-right: 20px;
}

.rounded-box .fa-user.new-user {
    left: -6px;
    top: 6px;
    font-size: 27px;
}

.rounded-box .fa-plus-circle.new-user {
    top: 5px;
    left: 12px;
    font-size: 14px;
}

.rounded-box .fa-book.new-course {
    left: -8px;
    top: 6px;
    font-size: 27px;
}

.rounded-box .fa-plus-circle.new-course {
    top: 5px;
    left: 15px;
    font-size: 14px;
}

.rounded-box .fa-user.enroll {
    left: -6px;
    top: 6px;
    font-size: 27px;
}

.rounded-box .fa-check.enroll {
    left: 12px;
    top: 7px;
}

.rounded-box .fa-inbox.import-csv {
    top: 12px;
}

.rounded-box .fa-caret-down.import-csv {
    top: -2px;
}

.rounded-box .fa-google.import-google {
    top: 9px;
}

#admin.second-menu #close-bar i#close-button {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

#admin.second-menu .menu-section .header {
    border-bottom: 1px solid #E4E6E5;
    margin-bottom: 10px;
}

#admin.second-menu .menu-section .header > div {
    padding-top: 7px;
}

#admin.second-menu .menu-section .header .title {
    font-size: 16px;
}

#admin.second-menu .menu-section .header .subtitle {
    text-align: right;
}

#admin.second-menu .menu-section .header .subtitle .discover {
    font-size: 12px;
}

#admin.second-menu .menu-section .content {
    margin-bottom: 5px;
}

#admin.second-menu .menu-section .content .slot, #home.second-menu .menu-section .content .slot {
    padding: 10px 0px;
}

#admin.second-menu .menu-section .content .slot.no-apps {
    text-align: center;
}

#admin.second-menu .menu-section .content .slot .icon, #home.second-menu .menu-section .content .slot .icon {
    width: 50px;
    position: absolute;
}

.rounded-box {
    width: 35px;
    height: 33px;
    color: white;
    font-size: 18px;
    padding: 10px 4px 0px 4px;
    text-align: center;
    border: 1px solid #dadada;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.rounded-box span.fa-stack {
    font-size: 11px;
    line-height: 2.1em;
}

.rounded-box.blue {
    background-color: #004E9E;
    border-color: #7FA9C8;
    color:#fff;
}

.rounded-box.dark {
    background-color: #262627;
    border-color: #656667;
    color:#fff;
}

.rounded-box.grey {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    color: #262627;
}

.rounded-box i.app-initials {
    font-style: normal;
    text-transform: uppercase;
    font-size: 15px;
}

#admin.second-menu .menu-section .content .slot .icon .rounded-image {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 1px solid #dadada;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #004E9E;
}

#admin.second-menu .menu-section .content .slot .body, #home.second-menu .menu-section .content .slot .body {
    padding-top: 3px;
    margin-left: 60px;
}

#admin.second-menu .menu-section .content .slot .body h1, #home.second-menu .menu-section .content .slot .body h1 {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 2px solid #e4e6e5;
    display: inline-block;
}

#admin.second-menu .menu-section .content .slot .body .item, #home.second-menu .menu-section .content .slot .body .item {
    line-height: 20px;
}

#admin.second-menu .menu-section .content .no-apps .message {
    font-family: 'Handlee', cursive;
    font-size: 35px;
    line-height: 40px;
    margin: 50px 0px 20px 0px;
    color: #898989;
}

#admin.second-menu .menu-section .content .no-apps .message span {
    color: #4CB646;
}

#admin.second-menu .menu-section .content .no-apps .icons {
    font-size: 50px;
    margin-top: 40px;
    color: #BFC0BF;
}

#admin.second-menu .menu-section .content .no-apps .icons i {
    margin-left: 30px;
}

#admin.second-menu .menu-section .content .no-apps .discover {
    margin-top: 50px;
}

#admin.second-menu .menu-section .content .no-apps .discover a, #admin.second-menu .menu-section .content .no-apps .discover a:hover {
    background: #5FBF5F;
    color: #ffffff;
    text-shadow: 0 1px 0 #3A7037;
    padding: 8px 12px;
    font-size: 13px;
    text-decoration: none;
}

.menu ul.menu-square .tile.blue {
    background: #0465AC;
}

.menu.second-gen-menu .tile.blue:hover {
    background: #0465AC!important;
}

.menu.second-gen-menu .tile.tile-green a,
.menu.second-gen-menu .tile.tile-green,
.menu.second-gen-menu .tile.tile-green:hover a,
.menu.second-gen-menu .tile.tile-green:hover {
    background-color: #5EBE5D !important;
}

.menu.second-gen-menu .tile.gray-bg {
    background-color: #333!important;
}

.menu ul.menu-square .tile a span.player strong,
.menu.second-gen-menu ul.menu-square .tile a span.player {
    font-size: 13px;
    color: #fff;
}

.menu.menu2 ul.menu-square .tile a,
.menu ul.menu-square .tile a {
    text-align: left;
    padding-left: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

.menu ul.menu-square .tile a > [class^='fa'] {
      width: 50px;
      display: inline-block;
      text-align: center;
}

#menu #sidebar-tile-elastic-search-tile .fa.fa-search {
    padding-top: 18px;
}

#menu div.tile > a > .fa.fa-graduation-cap {
    padding-top: 18px;
}

#menu div.tile > a > .fa.fa-comment-o {
    padding-top: 16px;
}

#menu div.tile > a > .fa.fa-share-alt {
    padding-top: 18px;
}

#menu div.tile > a > .fa.fa-cogs {
    padding-top: 18px;
}

#menu div.tile > a > .fa.fa-sliders {
    padding-top: 2px;
}

#menu div.tile > a > .fa.fa-globe {
    padding-top: 18px;
}

#menu div.tile > a > span.get-more-users-stack-icons i {
    padding-top: 0;
}

#menu div.tile > a > span.get-more-users-stack-icons {
    padding-top: 14px;
}

#menu div.tile > a > .fa.fa-bars {
    font-size: 17px;
}

#menu div.tile > a > .fa.fa-th-large {
    padding-top: 18px;
    font-size: 17px;
}

#menu div.tile > a > .fa.fa-comments {
    padding-top: 18px;
}

ul#menu > li > div.tile > a > span.menu2-hidden-title {
    vertical-align: middle;
    line-height: 15px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

#maincontent .ajaxloader {
    z-index: 0!important;
    display: none;
}

.menu .profile-avatar #default-new-profile-icon {
    display: inline-block;
    float: left;
    background-color: #fff;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.menu .profile-avatar .default-new-profile-icon,
.menu .profile-avatar img {
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.menu .mainMenuUsername {
    color: #fff;
    font-size: 16px;
    font-weight: 600;

}

.menu .profile-details-container {
    padding-top: 5px;
    margin-left: 70px;
}

.menu .profile-info-container {
    position: relative;
    top: 20px;
    left: 15px;
}

.menu a.view-profile-link,
.menu a.view-profile-link:hover,
.menu a.profile-sign-out,
.menu a.profile-sign-out:hover {
    color: #fff;
    font-size: 12px;
    background-color: transparent;
    text-decoration: underline;
    font-weight: normal;
    text-shadow: none;
}

.menu a.profile-sign-out {
    margin-left: 20px;
}

.menu a.change-profile-avatar:hover i.fa-camera {
    display: block;
    z-index: 1000;
}

.menu a.change-profile-avatar:hover #default-new-profile-icon,
.menu a.change-profile-avatar:hover img {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;

    z-index: 0;
    background-color: #000;
}

.menu a.change-profile-avatar i.fa-camera {
    display: none;
}

.menu #new-my-menu-top-bg {
    width: 100%;
    height: 130px;
    background-color: #555555;
}

.menu #new-my-menu-top-profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-color: transparent;
}

.menu #new-my-menu-top-profile .fa-camera {
    position: absolute;
    left: 13px;
    top: 17px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    /* background-color: #333; */
}

.menu #new-my-menu-top-profile .change-profile-avatar {
    position: relative;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.menu #new-my-menu-top-profile .fa-user {
    top: 9px;
    left: 12px;
    position: absolute;
    color: #ccc;
    box-shadow: none;
    text-shadow: initial;
    font-size: 26px;
}

.menu #new-my-menu-top-profile #new-menu-profile-ask-guru,
.menu #new-my-menu-top-profile #new-menu-profile-share {
    display: inline-block;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 102px;
    z-index: 10;
}

.menu #new-my-menu-top-profile #new-menu-profile-ask-guru {
    background-color: #5EBE5D;
    right:  15px;
    left: auto;
    bottom: auto;
}

.menu #new-my-menu-top-profile #new-menu-profile-share {
    background-color: #0465AC;
    right: 95px;
    left: auto;
    bottom: auto;
}

.menu #new-my-menu-top-profile #new-menu-profile-ask-guru i,
.menu #new-my-menu-top-profile #new-menu-profile-share i {
    color: #fff;
}

.menu #new-my-menu-top-profile span.ask-expert-7020 {
    font-size: 13px !important;
}

.menu #new-my-menu-top-profile span.ask-expert-7020 i.fa-user {
    font-size: 14px!important;
    position: absolute;
    top: 14px;
    left: 18px;
}

.menu #new-my-menu-top-profile span.ask-expert-7020 i.fa-comment-o {
    font-size: 34px;
    position: relative;
    top: 10px;
    left: 14px;
    text-shadow: none;
    font-weight: normal;
}

.menu #new-my-menu-top-profile i.fa-cloud-upload {
    font-size: 28px!important;
    top: 20px!important;
    left: 15px!important;
    position: relative!important;
    text-shadow: none;
}

.menu #new-my-menu-top-profile .tooltip {
    top: 50px!important;
}

.menu li.lang-tile-li {
    position: fixed!important;
    bottom: 23px!important;
}

.menu li.buynow-tile-li {
    position: fixed!important;
    bottom: 113px!important;
}

.menu li.apps-tile-li {
    position: fixed!important;
    bottom: 67px!important;
}

.menu li.helpdesk-tile-li {
    position: fixed!important;
    bottom: 68px!important;
}

.menu.second-gen-menu .tile.sidebar-tile-apps a,
.menu.second-gen-menu .tile.sidebar-tile-apps,
.menu.second-gen-menu .tile.sidebar-tile-apps:hover a,
.menu.second-gen-menu .tile.sidebar-tile-apps:hover {
    background: #FF5C26 !important;
}

.menu.second-gen-menu .tile.sidebar-tile-helpdesk a,
.menu.second-gen-menu .tile.sidebar-tile-helpdesk,
.menu.second-gen-menu .tile.sidebar-tile-helpdesk:hover a,
.menu.second-gen-menu .tile.sidebar-tile-helpdesk:hover {
    background: #0465AC !important;
}

body {
    height: 100%;
}

body > div#load-trigger,
body > div#load-trigger img {
    height: 0px!important;
}

body > div#wrapper {
    /*height: inherit;*/
    min-height: 100%;
}

body > div#wrapper > div.container {
    height: inherit;
}

.menu.second-gen-menu > ul#menu > li.lang-tile-li > div#language {
position: fixed;
top: 0px;
background-color: #f9f9f9!important;
}

.menu div.tile.blue .fa-play-circle-o {
    margin-top: 12px;
    font-size: 16px;
}

.menu div.tile.blue .course-lo-counter #menu-play-lo-stats-total,
.menu div.tile.blue .course-lo-counter #menu-play-lo-stats-completed {
    font-size: 11px!important;
}

.menu div.tile.blue .course-lo-counter {
    font-size: 11px!important;
    display: block;
    width: 50px;
    text-align: center;
    position: relative;
    top: -8px;
}

