.filters-wrapper table.filters td.notificationFilterLeftTd{
	width: 50%;
	text-align: left;
	padding: 10px;
}

.filters-wrapper table.filters td.notificationFilterLeftTd label{
	padding-right: 10px;
}

.filters-wrapper table.filters td.notificationFilterRightTd{
	width: 50%;
	text-align: right;
	padding: 10px;
}

.filters-wrapper table.filters td.notificationFilterRightTd ul{
	text-align: left;
}

.filters-wrapper table.filters td.notificationFilterRightTd .input-wrapper span{
	top: 9px;
}

.filters-wrapper table.filters td.notificationFilterRightTd .clear-search{
	top: 7px;
	right: 35px;
}