@CHARSET "UTF-8";

.p-sprite {background-image: url(../images/player-sprite.png) !important; width:20px; height:20px;vertical-align:middle;display:inline-block;*display:inline;zoom:1;}

.p-sprite.gear {background-position: -1px -26px; width: 19px; height: 19px;}
.p-sprite.drag {background-position: -1px -2px; width: 20px; height: 20px;}
.p-sprite.drag-small-black{background-position: -69px -250px; width: 17px; height: 17px;}
.p-sprite.drag-small-white {background-position: -112px -334px; width: 17px; height: 17px;}
.p-sprite.drag-small-gray {background-position: -230px -334px; width: 16px; height: 16px;}

.p-sprite.strange{background-position: -430px -139px; width: 22px; height: 22px;}

/* Baloons */
.p-sprite.balloon-small-blue {background-position: -30px -12px; width:16px; height: 16px;}
.p-sprite.balloons-small-black{background-position: 0 -125px; width: 24px;}
/* End Baloons */

/* Arrows */
.p-sprite.arrow-left-black{background-position: -44px -2px; width:24px; height: 24px;}
.p-sprite.arrow-right-black{background-position: -64px -2px; width:24px; height: 24px;}
.p-sprite.arrow-right-small-black{background-position: -29px -63px; width: 16px; height: 20px;}
.p-sprite.arrow-down-white{background-position: -31px -47px; width: 13px; height: 13px;}
.p-sprite.arrow-down-small-black{background-position: -118px -256px; width: 9px; height: 7px; }
.p-sprite.arrow-circle-black{background-position: -110px -205px; width:23px; height: 24px; -moz-transform: scale(0.9); -moz-transform-origin: 0 0;}
.p-sprite.arrow-circle-big-black{background-position: -541px -92px; width:30px; height: 30px;}
.p-sprite.arrow-circle-gray{background-position: -139px -204px; width: 20px; height: 20px;}
.p-sprite.arrow-circle-gray-small {background-position: -140px -250px; width: 20px; height: 20px;}
.p-sprite.arrow-circle-white {background-position: -350px -90px; width: 20px; height: 20px;}
/* End Arrows */

/* Files */
.p-sprite.file-black{background-position: -99px -1px; width: 34px; height: 45px;}
.p-sprite.file-pdf-black{background-position: -134px -1px; width: 34px; height: 45px}
.p-sprite.file-doc-black{background-position: -169px -1px; width: 34px; height: 45px;}
.p-sprite.file-zip-black{background-position: -203px -1px; width: 34px; height: 45px;}
.p-sprite.file-image-black{background-position: -236px -1px; width: 40px; height: 45px;}
.p-sprite.file-ppt-black{background-position: -277px -1px; width: 34px; height: 45px;}
.p-sprite.file-xsl-black{background-position: -310px -1px; width: 45px; height: 35px;}
.p-sprite.file-chart-black{background-position: -353px -1px; width: 45px; height: 35px;}
/* End Files*/

.p-sprite.stretch-black{ background-position: -26px -126px; width: 24px; height: 24px; }
.p-sprite.shorten-black{ background-position: -26px -149px; width: 24px; height: 24px; }

/* Medals */
.p-sprite.medal-gold{ background-position: -52px -32px; width:30px; height: 45px; }
.p-sprite.medal-small-black{background-position: -363px -139px; height: 27px;}
.p-sprite.medal-crossed-black{background-position: -1px -398px; height: 22px;}

/* End Medals*/

.p-sprite.gear-small {background-position: -1px -23px; width: 24px; height: 24px; }
.p-sprite.key-black {background-position: -1px -67px;}

/* Crosses */
.p-sprite.cross-red {background-position: -1px -86px; height:19px;}
.p-sprite.cross-white {background-position: -24px -180px; width: 14px; height: 14px; }

a.p-hover:hover .p-sprite.cross-small-red-light, .p-sprite.cross-small-red{background-position: -125px -277px; width:16px; height:15px;}
.p-sprite.cross-small-red-light{background-position: -421px -376px; width:16px; height:15px;}

/* End Crosses*/

.p-sprite.upload-black{background-position: -327px -141px; width: 24px; height: 24px; }
.p-sprite.letter-black{background-position: -28px -28px;}

/* Flags */
.p-sprite.flag-black{background-position: 2px -145px; width: 30px; height: 30px;}
.p-sprite.flag-small-black{background-position: -293px -140px; width: 22px; height: 25px;}
.p-sprite.flag-small-black2{background-position: -32px -360px; width: 16px; height: 20px;}
/* End Flags*/

/* Lists with dot*/
.p-sprite.list-dot-black{background-position: -100px -51px; width: 51px; height: 35px;}
.p-sprite.list-dot-white{background-position: -100px -93px; width: 51px; height: 35px;}
.p-sprite.list-dot-small-black{background-position: -127px -140px; width: 24px; height: 24px; }
/* End Lists with dot*/

/* Menus */
.p-sprite.menu-small-black{background-position: -95px -252px; width: 33px; height: 13px; }
.p-sprite.menu-small-blue {background-position: -30px 2px; width:16px; height: 16px;}
.p-sprite.menu-small-white {background-position: -70px -335px; width: 33px; height: 15px; }
.p-sprite.menu-rounded-black {background-position: -2px -493px; width: 17px; height: 11px;}
/* End Menus*/

/* People */
.p-sprite.people-black{background-position: -154px -50px; width: 53px; height: 35px;}
.p-sprite.people-white{background-position: -154px -92px; width: 53px; height: 35px;}
.p-sprite.people-small-a-black{background-position: 0 -104px; width: 23px; height: 20px;}
.p-sprite.people-small-b-black{background-position: -458px -141px; width: 29px; height: 21px;}
.p-sprite.people-small-c-black{background-position: -96px -277px; width: 23px; height: 15px;}
.p-sprite.people-mini-white{background-position: -459px -202px; width: 24px; height: 16px;}
.p-sprite.user-black{background-position: -496px -141px; width: 21px; height: 21px;}
.p-sprite.user-check-black{background-position: -312px -46px; width: 40px; height: 30px;}
.p-sprite.user-check-white{background-position: -54px -82px; width: 36px; height: 30px;}
.p-sprite.user-import-black{background-position: -355px -46px; width: 33px; height: 30px;}
.p-sprite.user-teacher-black{background-position: -399px -139px; width: 22px; height: 23px;}
/* End people */

.p-sprite.clone-black{background-position: -395px -45px; width: 34px; height: 34px; }
.p-sprite.clone-small-black{background-position: -49px -275px;width: 19px; height:18px;}
.p-sprite.clone-small-white{background-position: -49px -275px;}

/* Stats */
.p-sprite.stats-black{background-position: -210px -48px; width: 45px; height: 40px; }
.p-sprite.stats-white{background-position: -210px -90px; width: 45px; height: 40px; }
/* End Stats */

/* Gears */
.p-sprite.gears-black{background-position: -257px -52px; width: 53px; height: 36px; }
.p-sprite.gears-white{background-position: -257px -93px; width: 53px; height: 36px; }
.p-sprite.gears-small-black{background-position: -2px -274px; width:19px; height:19px;}
/* End Gears */

/* Check */
.p-sprite.check-green{background-position: -1px -250px; width: 18px; height:18px;}
.p-sprite.check-black{background-position: -22px -250px;}
.p-sprite.check-black-small{background-position: -44px -177px;}
.p-sprite.check-checked-black-small{background-position: -44px -177px;}
.p-sprite.check-empty-black-small{background-position: -66px -177px;}
.p-sprite.check-white {background-position: -134px -332px; width: 18px; height: 18px;}
.p-sprite.check-grey {background-position: -252px -332px; width: 18px; height: 18px;}
.p-sprite.check-solid-mini-green {background-position: -109px -308px; width: 12px; height: 12px;}
.p-sprite.check-solid-small-green {background-position: -623px -96px; width: 20px; height: 20px;}

/* LARGE CHECKS - NO SHADOW */
.p-sprite.check-large-dark 						{background-position: -60px  -360px; width: 30px; height: 23px;}
.p-sprite.check-large-grey 						{background-position: -100px -360px; width: 30px; height: 23px;}
.p-sprite.check-large-orange						{background-position: -140px -360px; width: 30px; height: 23px;}
.p-sprite.check-large-blue 						{background-position: -180px -360px; width: 30px; height: 23px;}
.p-sprite.check-large-green 						{background-position: -220px -360px; width: 30px; height: 23px;}
.p-sprite.check-large-white 						{background-position: -260px -360px; width: 30px; height: 23px;}
.p-sprite.check-large-red 						{background-position: -300px -360px; width: 30px; height: 23px;}


/* End check */

.p-sprite.settings-black							{background-position: -221px -141px; width: 30px; height: 24px;}
.p-sprite.chain-black							{background-position: -72px -274px; width: 17px; height:19px;}
.p-sprite.cart-black								{background-position: -189px -141px; width:25px; height: 24px;}
.p-sprite.calendar-black-small					{background-position: -99px -174px; width:24px; height: 24px;}
.p-sprite.timer									{background-position: -257px -140px; width:24px; height: 26px;}
.p-sprite.timer-large-black						{background-position: -358px -287px; width:60px; height: 68px;}

/* Folders */
.p-sprite.folder-small-blue{background-position: -1px -226px;}
.p-sprite.folder-small-gray{ background-position: -3px -210px; width: 16px; height: 12px;}
.p-sprite.folder-small-white{background-position: -23px -206px;}
.p-sprite.folder-black{background-position: -48px -205px; width: 28px; height: 22px;}
.p-sprite.folder-gray{background-position: -77px -202px; width:30px; height: 30px;}
/* End Folders */

.p-sprite.help-black{background-position: 6px -172px; width:30px; height: 30px}
.p-sprite.eye-black{background-position: -24px -106px; width: 30px; height: 20px;}
.p-sprite.clock-black{background-position: -26px -83px; width: 24px; height: 24px;}
.p-sprite.lock-small-black{background-position: -47px -251px;width: 13px; height: 16px; }
.p-sprite.lock-small-white{background-position: -162px -333px;width: 13px; height: 16px; }
.p-sprite.lock-small-gray{background-position: -280px -333px;width: 13px; height: 16px; }

.p-sprite.denied-black {background-position: -1px -378px;}

/* Download */
.p-sprite.download-rounded-black{background-position: 2px -438px; width: 24px; height:24px;}
.p-sprite.download-transparent-black{background-position: 0px -504px; width: 20px; height:20px;}
/* End Download */

.p-sprite.chat-icon {background-position: -1px -126px; width: 21px; height: 15px; }
.p-sprite.envelope-white {background-position: -320px -90px; width: 17px; height: 20px; }
.p-sprite.lib-white {background-position: -385px -90px; width: 27px; height: 18px; }
.p-sprite.lib-big-black {background-position: -590px -49px; width: 44px; height: 30px; }
.p-sprite.lib-big-white {background-position: -643px -49px; width: 44px; height: 30px; }
.p-sprite.blocks-white {background-position: -420px -90px; width: 22px; height: 20px; }
.p-sprite.copy-white {background-position: -455px -90px; width: 20px; height: 20px; }
.p-sprite.new-folder {background-position: -264px -183px; width: 43px; height: 37px; }
.p-sprite.new-folder-white {background-position: -442px -2px; width: 43px; height: 37px; }

.p-sprite.lo-tin-can {background-position: -191px -182px; width: 62px; height: 40px; }
.p-sprite.lo-tin-can-white {background-position: -540px -2px; width: 62px; height: 40px; }
.p-sprite.lo-scorm {background-position: -204px -2px; width: 28px; height: 39px; }
.p-sprite.lo-scorm-white {background-position: -497px -2px; width: 28px; height: 39px; }
.p-sprite.lo-video {background-position: -400px -2px; width: 36px; height: 40px; }
.p-sprite.lo-video-white {background-position: -321px -180px; width: 36px; height: 40px; }
.p-sprite.lo-file {background-position: -370px -181px; width: 31px; height: 40px; }
.p-sprite.lo-file-white {background-position: -611px -2px; width: 31px; height: 40px; }
.p-sprite.lo-doc-converter {background-position: -355px -2px; width: 40px; height: 31px; }
.p-sprite.lo-doc-converter-white {background-position: -650px -2px; width: 40px; height: 31px; }
.p-sprite.lo-html {background-position: -278px -2px; width: 31px; height: 39px; }
.p-sprite.lo-html-white {background-position: -700px -2px; width: 31px; height: 39px; }
.p-sprite.lo-poll {background-position: -191px -236px; width: 36px; height: 31px; }
.p-sprite.lo-poll-white {background-position: -740px -2px; width: 36px; height: 31px; }
.p-sprite.lo-test {background-position: -246px -234px; width: 31px; height: 40px; }
.p-sprite.lo-test-white {background-position: -780px -2px; width: 31px; height: 40px; }

.p-sprite.gauge-circle-green {background-position: -298px -234px; width: 40px; height: 40px; }
.p-sprite.gauge-circle-gray {background-position: -350px -234px; width: 40px; height: 40px; }

.p-sprite.settings {background-position: -95px -252px; width: 32px; height: 13px; }
.p-sprite.settings-white {background-position: -70px -335px; width: 32px; height: 13px; }
.p-sprite.settings-gray {background-position: -185px -335px; width: 32px; height: 13px; }

.p-sprite.edit-black{background-position: -27px -275px; width:18px; height:19px;}
.p-sprite.edit-mini-black {background-position: -80px -309px; width:11px; height:11px;}
.p-sprite.edit-mini-blue {background-position: -61px -309px; width:11px; height:11px;}
.p-sprite.edit-mini-white {background-position: -100px -309px; width:11px; height:11px;}

.p-sprite.calendar-black {background-position: -495px -47px; width:33px; height:30px;}
.p-sprite.calendar-white {background-position: -540px -47px; width:33px; height:30px;}

.p-sprite.progrss-big-black {background-position: -579px -91px; width:30px; height:30px;}

.p-sprite.remove-mini-red {background-position: -131px -308px; width: 12px; height: 12px;}
.p-sprite.remove-small-red {background-position: -655px -96px; width: 20px; height: 20px;}
.p-sprite.remove-micro-red {background-position: -190px -281px; width: 13px; height: 13px;}
.p-sprite.remove-micro-grey {background-position: -190px -296px; width: 13px; height: 13px;}

.p-sprite.set-small-black {background-position: -563px -145px; width: 16px; height: 16px;}
.p-sprite.search-small-black {background-position: -595px -145px; width: 16px; height: 16px;}
.p-sprite.circle-check-small-green {background-position: -633px -142px; width: 21px; height: 20px;}
.p-sprite.circle-arrow-small-orange {background-position: -667px -142px; width: 20px; height: 20px;}
.p-sprite.circle-arrow-small-red {background-position: -701px -142px; width: 20px; height: 20px;}
.p-sprite.circle-arrow-small-grey {background-position: -140px -205px; width: 22px; height: 22px;}

.p-sprite.circle-check-large-green {background-position: -834px -4px; width: 50px; height: 50px;}
.p-sprite.circle-check-large-orange {background-position: -834px -61px; width: 50px; height: 50px;}
.p-sprite.circle-check-large-grey {background-position: -962px -58px; width: 50px; height: 50px;}

.p-sprite.circle-check-medium-green		{background-position: -60px -440px; width: 31px; height: 31px;}
.p-sprite.circle-play-medium-grey 		{background-position: -100px -440px; width: 31px; height: 31px;}
.p-sprite.circle-play-medium-orange		{background-position: -140px -440px; width: 31px; height: 31px;}
.p-sprite.circle-play-medium-white		{background-position: -260px -440px; width: 31px; height: 31px;}
.p-sprite.circle-play-medium-red		{background-position: -300px -440px; width: 31px; height: 31px;}

.p-sprite.clock-large-black {background-position: -896px -4px; width: 50px; height: 50px;}
.p-sprite.check-solid-large-black {background-position: -962px -4px; width: 50px; height: 50px;}
.p-sprite.check-large-grey {background-position: -962px -58px; width: 50px; height: 50px;}

.p-sprite.clock-circle-small {background-position:  0px -326px; width: 20px; height: 20px;}
.p-sprite.circle-play-small {background-position:  -110px -205px; width: 22px; height: 22px;}
.p-sprite.clock-circle-big {background-position:  -578px -91px; width: 31px; height: 30px;}
.p-sprite.books-black {background-position: -589px -47px; width:44px; height:30px;}

.p-sprite.plus-objects-white-green {background-position: -405px -242px; width:27px; height:15px;}
.p-sprite.dropdown-objects-white-green {background-position: 0 -524px;width: 15px;height: 15px}

.p-sprite.file-extra-large        {background-position: -1041px -11px; width:87px; height:111px;}
.p-sprite.pdf-extra-large         {background-position: -1146px -11px; width:87px; height:111px;}
.p-sprite.pdf-extra-large-silver  {background-position: -1254px -11px; width:87px; height:111px;}

.p-sprite.big-play       {background-position: -1190px -141px; width:162px; height:162px;}
.p-sprite.big-play-blue  {background-position: -1016px -141px; width:162px; height:162px;}
.p-sprite.big-play-white {background-position: -1368px -141px; width:162px; height:162px;}

.p-sprite.full-size {background-position: -454px -235px; width:34px; height:35px;}
.p-sprite.half-size {background-position: -503px -235px; width:34px; height:35px;}

.p-sprite.anonymous          {background-position: -560px -220px; width:38px; height:40px;}
.p-sprite.anonymous-blue     {background-position: -630px -220px; width:38px; height:40px;}
.p-sprite.anonymous-red      {background-position: -695px -220px; width:38px; height:40px;}
.p-sprite.anonymous-orange   {background-position: -755px -220px; width:38px; height:40px;}
.p-sprite.anonymous-white    {background-position: -810px -220px; width:38px; height:40px;}
.p-sprite.anonymous-grey     {background-position: -870px -220px; width:38px; height:40px;}

.p-sprite.anonymous-small 		 							{background-position: -570px -280px; width:21px; height:42px;}
.p-sprite.anonymous-small-blue 								{background-position: -602px -280px; width:21px; height:42px;}
.p-sprite.anonymous-small-red 								{background-position: -631px -280px; width:21px; height:42px;}
.p-sprite.anonymous-small-orange 							{background-position: -659px -280px; width:21px; height:42px;}
.p-sprite.anonymous-small-white 								{background-position: -693px -280px; width:21px; height:42px;}
.p-sprite.anonymous-small-grey 								{background-position: -721px -280px; width:21px; height:42px;}

.p-sprite.chevron-up-small-blue 								{background-position: -222px -281px; width:11px; height:11px;}

.p-sprite.download-little							{background-position:0px -550px; width:20px; height:20px;}
.p-sprite.move-light 								{background-position:-25px -550px; width:20px; height:20px;}
.p-sprite.gear-light 								{background-position:-50px -550px; width:19px; height:19px;}
.p-sprite.videoconf-live 							{background-position:-80px -550px; width:26px; height:26px;}
.p-sprite.videoconf-history 						{background-position:-120px -550px; width:26px; height:26px;}
.p-sprite.videoconf-schedule 						{background-position:-150px -550px; width:26px; height:26px;}
.p-sprite.certificate 								{background-position:-180px -550px; width:33px; height:49px;}
.p-sprite.add-block-item 							{background-position:-220px -550px; width:20px; height:20px;}

/* LOCKS - NO SHADOWS */
.p-sprite.lock-large-dark 									{background-position: -60px  -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-grey 									{background-position: -100px -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-orange									{background-position: -140px -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-blue 									{background-position: -180px -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-green 									{background-position: -220px -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-white 									{background-position: -260px -400px; width: 27px; height: 30px;}
.p-sprite.lock-large-red 									{background-position: -300px -400px; width: 27px; height: 30px;}

.p-sprite.ico-menu 									{background-position:0 -491px;width:21px;height:15px;}

/* Folder with children indicator */
.p-sprite.folder-grey								{width:20px;background-position:-480px -477px;}

.p-sprite.is-folder									{width:30px;}
.p-sprite.is-folder.is-root 						{width:20px !important;}
.p-sprite.is-folder.is-root.closed 					{background-position: -319px -477px !important;}
.p-sprite.is-folder.is-root.opened 					{background-position: -360px -477px !important;}

.p-sprite.is-folder.closed							{background-position: -471px -477px;}
.p-sprite.is-folder.opened							{background-position: -513px -477px;}
.p-sprite.is-folder.has-children.closed				{background-position: -389px -477px;}
.p-sprite.is-folder.has-children.opened				{background-position: -431px -477px;}

.p-sprite.dynatree-active .p-sprite.is-folder.closed			{background-position: -139px -477px;}
.p-sprite.dynatree-active .p-sprite.is-folder.opened			{background-position: -181px -477px;}
.p-sprite.dynatree-active .p-sprite.is-folder.has-children.closed {background-position: -59px -477px;}
.p-sprite.dynatree-active .p-sprite.is-folder.has-children.opened {background-position: -101px -477px;}

/* Switcher (in active the pin is on the left) */
.p-sprite.switcher 									{width:34px;background-position:-100px -509px;}
.p-sprite.switcher.active 							{background-position:-60px -509px;}

.p-sprite.lo-passed-icon-big 						{background-position: -834px -120px; width: 50px; height: 50px;}
.p-sprite.lo-failed-icon-big 						{background-position: -896px -120px; width: 50px; height: 50px;}

a.p-hover:hover .p-sprite.move-light,.p-sprite.move 		{background-position:-1px -2px; width:20px; height:20px;}
a.p-hover:hover .p-sprite.gear-light,.p-sprite.gear 		{background-position:-1px -26px; width:19px; height:19px;}
.p-sprite.move-light 								{background-position:-25px -550px; width:20px; height:20px;}
.p-sprite.gear-light 								{background-position:-50px -550px; width:19px; height:19px;}

.p-sprite.little-flag								{background-position:0px -590px; width:14px; height:14px;vertical-align:middle;}
.p-sprite.little-clock 								{background-position:0px -610px; width:14px; height:14px;vertical-align:middle;}

.p-sprite.bell										{background-position:-442px -300px; width:34px; height:36px;vertical-align:middle;}
.p-sprite.bell-white								{background-position:-484px -300px; width:34px; height:36px;vertical-align:middle;}


.p-sprite.apps-tile									{background-position:-1390px -17px; width:88px; height:87px}

.p-sprite.gear-mini									{background-position:-384px -375px; width:16px; height:16px}

.p-sprite.solid-exclam-mini-white					{background-position:-536px -175px; width:16px; height:16px}

/* My Dashboard icons */
.p-sprite.layout1									{background-position:-259px -521px; width:49px; height:25px;}
.p-sprite.layout1.selected							{background-position:-259px -551px; width:49px; height:25px;}
.p-sprite.layout2									{background-position:-313px -521px; width:49px; height:25px;}
.p-sprite.layout2.selected							{background-position:-313px -551px; width:49px; height:25px;}
.p-sprite.layout3									{background-position:-367px -521px; width:49px; height:25px;}
.p-sprite.layout3.selected							{background-position:-367px -551px; width:49px; height:25px;}
.p-sprite.layout4									{background-position:-421px -521px; width:49px; height:25px;}
.p-sprite.layout4.selected							{background-position:-421px -551px; width:49px; height:25px;}
.p-sprite.layout5									{background-position:-475px -521px; width:49px; height:25px;}
.p-sprite.layout5.selected							{background-position:-475px -551px; width:49px; height:25px;}
.p-sprite.add-element								{background-position:-459px -369px; width:29px; height:27px;}
.p-sprite.two-rows									{background-position:-560px -525px; width:37px; height:37px;}
a.p-hover:hover .p-sprite.two-rows,.p-sprite.two-rows.white	{background-position:-560px -568px; width:37px; height:37px;}
.p-sprite.preview									{background-position:-610px -525px; width:37px; height:37px}
a.p-hover:hover .p-sprite.preview,.p-sprite.preview.white	{background-position:-610px -568px; width:37px; height:37px;}
.p-sprite.dashlets-large							{background-position:-671px -526px; width:37px; height:37px;}
a.p-hover:hover .p-sprite.dashlets-large,.p-sprite.dashlets-large.white	{background-position:-671px -571px; width:37px; height:37px;}
.p-sprite.dashlets									{background-position:-719px -545px; width:18px; height:18px;}
a.p-hover:hover .p-sprite.dashlets,.p-sprite.dashlets.white	{background-position:-719px -588px; width:18px; height:18px;}
.p-sprite.flag3.green								{background-position:-529px -369px; width:17px; height:20px;}
.p-sprite.flag3										{background-position:-559px -369px; width:17px; height:20px;}

.p-sprite.plus-user-large							{background-position:-369px -399px; width:38px; height:32px;}
a.p-hover:hover .p-sprite.plus-user-large,.p-sprite.plus-user-large.white	{background-position:-417px -399px; width:38px; height:32px;}
.p-sprite.is-elucidat                               {background-position:-775px -277px; width:38px; height:45px;}


