/* PRINT */
body * {
  visibility:hidden;
}
.printable, .printable * {
  visibility:visible;
}
.printable {
  position:absolute;
  left:0;
  top:0;
}
.menu {
	display: none;
}
.new-user-summary .user-additional-fields .odd {
  width: 350px;
}
.lineChartContainer .highcharts-tooltip,
.jspVerticalBar,
.jspHorizontalBar{
	display: none;
}
.jspPane{
	position: relative;
	top:0 !important;
}
.unread-tooltip.text-left {
    z-index: 9999;
}
			.fancytree-title {
				margin-left: 42px;
				word-break: none;
			}
.jspContainer,
.scroll-content{
	height: 100% !important;
}
.scroll-content{
	overflow: visible;
}


.lineChartContainer .data-line {
	stroke: #333333;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 0;
}

.lineChartContainer path {
	fill: none;
}

.lineChartContainer .area {
  	/*fill: lightsteelblue;*/
}

.lineChartContainer text {
	font-family:  'Open Sans', sans-serif;
	font-size: 8pt;
	fill: #787878;
}

.lineChartContainer line {
	stroke: #cccccc;
	stroke-width: 0.5;
	/* stroke-dasharray: 3 3; */
	fill: none;
}

.lineChartContainer .data-point {
	stroke: 333333;
	stroke-width: 2;
	fill: #333333;
	cursor: pointer;
}

.tipsy { font-size: 25px; position: absolute; padding: 5px; z-index: 100000; opacity: 1 !important; }
.tipsy-inner { background-color: #333; color: #fff; max-width: 200px; padding: 15px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #333; }
.tipsy-arrow-s { border-top-color: #333; }
.tipsy-arrow-e { border-left-color: #333; }
.tipsy-arrow-w { border-right-color: #333; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.pager {display: none;}

/* Rules for MyActivities module */
.sidebarred .sidebar {display: none;}
.sidebarred .main {margin-right:0px;margin-left:5px;}
.user-activities-form {display: none;}

@media print{
    @page {  size: landscape  }
}

/* Remove the href print from chrome */
a[href]:after{content: none !important;}

/* Moving the printable part to the top left corner witha little margin and that take the full page for the user report area */
.container, .user-report-courses, .user-report-classroom-courses, user-report-social, #transcripts-management-grid, #activities-certifications-grid{width:100%;}
.menu-spacer{margin:5px 5px 5px 5px;}
#header, #navigation, #combo-grid-view-container-activities-certifications-grid .filters-wrapper{display:none;}
.printable.user-report-social{position:relative;}

/* END OF PRINT */