html,body{
	height:100%;
}

#loginLayout {
	height:100%;
	background: #EFEFEF;
}

#loginBlock {
	height:100%;
	text-align: center;
}

#loginBlock:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
	display: inline-block;
	/*vertical-align: middle;*/
	max-width: 98%;
	width: 900px;
	max-height:100%;
	padding: 0px 20px;
	border: #ccc solid 1px;
	background: #fff;
	text-align: left;
	margin-top: 100px;
}

.header-logo {
	float: left;
	max-width: 300px;
	margin: 20px 10px 10px 10px;
	min-height: 50px;
}

.loginFooter .powered-by a, .privacy-policy a {
	color: #fff;
	text-shadow: none;
}
.loginFooter .powered-by span, .privacy-policy span{
	color: #fff;
	text-shadow: none;
}
.loginFooter .powered-by, .privacy-policy {
	margin: 0px;
}

.loginFooter {
	text-align: right;
	width: 98%;
	padding: 6px 2% 6px 0px;
	background-color: #444;
	background-image: -moz-linear-gradient(top,#444,#333);
	background-image: -ms-linear-gradient(top,#444,#333);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#333));
	background-image: -webkit-linear-gradient(top,#444,#333);
	background-image: -o-linear-gradient(top,#444,#333);
	background-image: linear-gradient(top,#444,#333);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#444444', endColorstr = '#333333', GradientType = 0);
	float: left;
	clear: left;
	font-size: 11px;
}

.loginBottomCnt {
	text-align: right;
	background-color: #444;
	float: left;
	clear: left;
	width: 98%;
	padding: 6px 2% 6px 0px;
}