/**
 * DOCEBO, e-learning SAAS
 *
 * @link http://www.docebo.com/
 * @copyright Copyright &copy; 2004-2012 Docebo
 */

/* Body color*/
body{background: url(../images/home-back.jpg) 0 0 repeat-x #C2D1E4;}

/** Header **/

	/** Anonymous header **/

#header.anonymous {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
	.vertical-divider{height:60px;border-left:1px solid rgba(0,0,0,0.2);border-right:1px solid rgba(255, 255, 255, 0.2);position:absolute;}/*put it out of the flow, so we can use width 100%*/

	/** Login box **/
	.header-login-form{margin:0;}
		.header-login-form h4 {
			float: left;
			margin: 0 20px 0 0;
			font-size: 14px;
			padding-left: 33px;
			line-height: 60px;
			text-transform: uppercase;
			color:#ffffff;
			background: url('../images/keys.png') 0 center no-repeat;
			text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
		}
		.header-login-form input{margin: 13px 6px 0 0;padding: 6px;}
		.header-login-form input[type="text"],
		.header-login-form input[type="password"] {float: left;color: #333;width:30%;}
		.header-login-form .btn {
			padding: 0 16px;
			text-transform: uppercase;
			font-weight: bold;
			height: 34px;
			font-size: 13px;
			color: #ffffff;
			text-shadow: 1px 1px 0 rgba(35, 35, 35, 1);
			border: 1px solid #2E732E;
			background-color: #59B559;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#59B559), to(#2D712D));
			background-image: -webkit-linear-gradient(top, #59B559, #2D712D);
			background-image:    -moz-linear-gradient(top, #59B559, #2D712D);
			background-image:      -o-linear-gradient(top, #59B559, #2D712D);
			background-image:         linear-gradient(to bottom, #59B559, #2D712D);
		}
		.header-login-form .btn:hover {
			background-color: #59B559;
			background-image: none;
			-webkit-transition: all 0.1s linear;
			-moz-transition: all 0.1s linear;
			-o-transition: all 0.1s linear;
			transition: all 0.1s linear;
			text-decoration: none;
		}

	.headerLoginCustomApp{
		float: left;
		margin-right: 20px;
		line-height: 60px;
	}

	a.header-lostpass {
		float: left;
		font-size: 13px;
		line-height: 60px;
		color:#ffffff;
		text-decoration: underline;
		text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	}

    a.header-lostpass:hover{color:#fff;}

	/** New user box **/
	.header-newuser{padding:0;}
		.header-newuser h4{font-size:20px;margin:0;padding:0;}
		.header-newuser p{font-size:13px;margin:0;padding:0;}
		.header-newuser a{text-decoration:underline;text-transform:lowercase;}
		.header-newuser a:hover{text-decoration:none;}

	/** Language **/
	#header.anonymous .header-language{height:60px;line-height:60px;padding:0 16px;font-size: 12px;}
	
	#header.anonymous .header-language .dropdown-menu {
		overflow: auto;
		max-height: 500px;
	}
	

/** Main layout **/
.inner-container {
 	border:1px solid #DDD;
	background-color:#FFF;
	color: #333333;
	padding:20px 15px;
	margin-top:20px;
}

/** Footer **/

/** Home > Access courses area **/
.home-courses-access {padding: 30px 0;}
.home-courses-access > div {
    background-color: #F1F3F2;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}
.home-courses-access > div > a {
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.home-courses-access .inner-padding {padding: 15px;}
.home-courses-access h2 {margin: 0 0 10px 65px;}
.home-courses-access p {margin: 0 0 0 65px;}
.home-courses-access .graphic {
    float: left;
    width: 50px;
    height: 52px;
    background: url('../images/sprite-course-access.png') 0px 0px no-repeat;
}
.home-courses-access .new-course .graphic { background-position: 0px -50px; }
.home-courses-access .existing-courses .graphic { background-position: 0px 0px; }
.home-courses-access .manage-courses .graphic { background-position: 0px -102px; }
.home-courses-access .manage-courses strong { color: #0465AC; }


/** HOME SEARCH FORM **/
.header-logo-line{
	margin-top:10px;
}
#load-more {
    text-align: center;
}
#grid-search-form {
    margin-bottom: 16px;
    font-size: 1.2em;
    min-height: 30px;
}
#grid-search-form ul.menu {margin-top: 8px;}
#grid-search-form ul.menu li {
    float: left;
}
#grid-search-form ul.menu li a {
    display: block;
    text-align: center;
    padding: 4px 12px;
    text-decoration: none;
    color: #0465AC;
}
#grid-search-form ul.menu li a:hover {
    text-decoration: none;
}
#grid-search-form ul.menu li a.active {
    text-decoration: none;
    color: #FFF;
    background-color: #0465AC;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#grid-search-form form {
    float: right;
    width: 100%;
}
/*** HOME page big image ****/

#lms-home-image {
	position: relative;
	min-height: 372px;
	border:1px solid #cccccc;
}
#lms-home-image.fill-image {
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center top;
}
#lms-home-image.tile-image {
	background-repeat: no-repeat;
	background-position: center top;
}
#rightLayout #lms-home-image.tile-image {
	background-repeat: no-repeat;
	background-position: left top;
}
#rightLayout #lms-home-image.fill-image {
	background-size: 152% auto;
	background-position: left top;
}
#lms-home-text {
    position: absolute;
    bottom: 45px;
    left: 0px;
}
#lms-home-text h1 {
	max-height:100px;
	overflow:auto;
    background-color: #03569D;
    color: white;
    padding: 8px 20px;
    text-shadow: 1px 1px 0px  rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

#lms-home-text h2 {
	max-height:150px;
	overflow:auto;
    background-color: #60C05F;
    color: white;
    padding: 5px 20px;
    line-height: 25px;
    text-shadow: 1px 1px 0px  rgba(0, 0, 0, 0.25);
}

/* Courses grid */
#courses-grid {margin-top: 40px;}


#courses-grid.thumbnails.fixed.tiles {
	margin-left: -27px;
}

#courses-grid.thumbnails.fixed.tiles a.tile,
#courses-grid.thumbnails.fixed.tiles > li {
	margin-left:19px;
}

@media (max-width: 770px) {
    #catalog-main-container > #catalog-grid-container {
        width: 100% !important;
    }
    .tile{
        width: 30%;
    }
}
@media (max-width: 630px) {
    .tile{
        width: 29%;
    }
    #courses-grid.thumbnails.fixed.tiles{
        margin-left: -40px;
    }
}
@media (max-width: 510px) {
    .tile{
        width: 44%;
    }
    #courses-grid.thumbnails.fixed.tiles{
        margin-left: -50px;
    }
}
@media (max-width: 390px) {
    .tile{
        width: 95%;
    }
}


/*****************************/

.ajaxloader {
    display: none;
    top: 50%;
    left: 50%;
    padding: 5px;
    width: 18px;
    height: 18px;
    position: fixed;
    color:#fff;
    background: url(../images/tile/ajax-loader.gif) no-repeat 2px;
    margin-top: -9px;
    margin-left: -9px;
    z-index: 9999;
}

/* Home login error messages */

.password-change-success{
	display: block;
	margin-top: 20px;
	background-color: #5fbf5f;
	padding: 5px;
}

.password-change-success-minimal{
	display: block;
	margin-top: 20px;
	background-color: #5fbf5f;
	padding: 5px;
}

.login-error{
	display:block;
	margin-top:20px;
	background-color: #D80100!important;
	color: #fff!important;
	padding:5px;
}

/* Custom user pages */
.user-pages-container ul{
	margin-bottom: -20px;
	list-style-type: none;
	font-size: 14px;
}
.user-pages-container ul li{
	display:inline;
}
.user-pages-container ul li.selected{
	border:0;
}
.user-pages-container ul li a{
	margin:0;
	padding: 10px 15px;
	display:inline-block;
}
.user-pages-container ul li.selected a{
	border-bottom: 4px solid;
	border-color: #0465AC;
}
.user-page-wrapper h2.user-page-title{
	font-size: 25px;
	margin-bottom: 10px;
}
.user-page-wrapper .user-page-contents{
	font-size: 13px;
	color: #0465AC;
}

#catalog-main-container > #catalog-grid-container  {
    width: 915px;
    padding-left: 24px;
}

/* Grid layout responsiveness quick fix */
@media (max-width: 979px) and (min-width: 767px) {
    #catalog-main-container > #catalog-grid-container {
        width: 100%;
    }
}

form.header-login-form select,
form#register-form select {
	box-sizing: content-box;
	width: 220px!important;
	background-color: #fff!important;
	border: 1px solid #ccc!important;
}

form#register-form select,
form.header-login-form select,
form#register-form input[type="file"],
form.header-login-form input[type="file"] {
	height: 20px!important;
	line-height: 20px!important;
}

form.header-login-form textarea, form.header-login-form .uneditable-input,
form#register-form textarea, form#register-form .uneditable-input {
	width: 206px!important;
}

form#lostpwd-form input[type="text"],
form.header-login-form input[type="text"], form.header-login-form input[type="password"],
form#register-form input[type="text"], form#register-form input[type="password"] {
	border: 1px solid #ccc!important;
	border-radius: 3px!important;
	-webkit-box-shadow: inset 2px 2px 2px 0px #ccc!important;
	-moz-box-shadow: inset 2px 2px 2px 0px #ccc!important;
	box-shadow: inset 0px 1px 2px 0px #ccc!important;
}

form#register-form select, form.header-login-form select,
form#register-form textarea, form.header-login-form textarea,
form#register-form input[type="text"], form.header-login-form input[type="text"], form#lostpwd-form input[type="text"],
form#register-form input[type="password"], form.header-login-form input[type="password"],
form#register-form input[type="datetime"], form.header-login-form input[type="datetime"],
form#register-form input[type="datetime-local"], form.header-login-form input[type="datetime-local"],
form#register-form input[type="date"], form.header-login-form input[type="date"],
form#register-form input[type="month"], form.header-login-form input[type="month"],
form#register-form input[type="time"], form.header-login-form input[type="time"],
form#register-form input[type="week"], form.header-login-form input[type="week"],
form#register-form input[type="number"], form.header-login-form input[type="number"],
form#register-form input[type="email"], form.header-login-form input[type="email"], form#lostpwd-form input[type="email"],
form#register-form input[type="url"], form.header-login-form input[type="url"],
form#register-form input[type="search"], form.header-login-form input[type="search"],
form#register-form input[type="tel"], form.header-login-form input[type="tel"],
form#register-form input[type="color"], form.header-login-form input[type="color"],
form#register-form .uneditable-input, form.header-login-form .uneditable-input {
	display: inline-block;
	height: 20px!important;
	width: 206px!important;
	/*padding: 4px 6px;*/
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff!important;
	padding-bottom: 4px!important;
	padding-left: 6px!important;
	padding-right: 6px!important;
	padding-top: 4px!important;
	color: #322727;
}

form#register-form textarea:focus, form.header-login-form textarea:focus,
form#register-form input[type="text"]:focus, form.header-login-form input[type="text"]:focus, form#lostpwd-form input[type="text"]:focus,
form#register-form input[type="password"]:focus, form.header-login-form input[type="password"]:focus,
form#register-form input[type="datetime"]:focus, form.header-login-form input[type="datetime"]:focus,
form#register-form input[type="datetime-local"]:focus, form.header-login-form input[type="datetime-local"]:focus,
form#register-form input[type="date"]:focus, form.header-login-form input[type="date"]:focus,
form#register-form input[type="month"]:focus, form.header-login-form input[type="month"]:focus,
form#register-form input[type="time"]:focus, form.header-login-form input[type="time"]:focus,
form#register-form input[type="week"]:focus, form.header-login-form input[type="week"]:focus,
form#register-form input[type="number"]:focus, form.header-login-form input[type="number"]:focus,
form#register-form input[type="email"]:focus, form.header-login-form input[type="email"]:focus, form#lostpwd-form input[type="email"]:focus,
form#register-form input[type="url"]:focus, form.header-login-form input[type="url"]:focus,
form#register-form input[type="search"]:focus, form.header-login-form input[type="search"]:focus,
form#register-form input[type="tel"]:focus, form.header-login-form input[type="tel"]:focus,
form#register-form input[type="color"]:focus, form.header-login-form input[type="color"]:focus,
form#register-form .uneditable-input:focus, form.header-login-form .uneditable-input:focus {
	border-color: rgba(82,168,236,0.8)!important;
	outline: 0!important;
	outline: thin dotted \9!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)!important;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)!important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)!important;
}

form.header-login-form input#login_userid,
form.header-login-form input#login_pwd {
	padding-bottom: 8px!important;
	-webkit-border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	border-radius: 0px!important;
	font-style: normal!important;
	width: 30%!important;
}

form#lostpwd-form #username {
	width: 270px!important;
}


form.header-login-form input#login_userid::-moz-placeholder,
form.header-login-form input#login_pwd::-moz-placeholder,
form.header-login-form input#login_userid::-webkit-input-placeholder,
form.header-login-form input#login_pwd::-webkit-input-placeholder,
form.header-login-form input#login_userid:-ms-input-placeholder,
form.header-login-form input#login_pwd:-ms-input-placeholder {
	font-style: normal!important;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
input:-moz-placeholder,
:-ms-input-placeholder {
	font-style: normal!important;
}
