@media (max-width: 480px) {
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 979px) {
}

@media (max-width: 979px) {
}

@media (min-width: 980px) {
}

@media (min-width: 1200px) {
}