body{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-weight: normal;
}
*{
	padding: 0;
	margin: 0;
}
hr{
    margin: 20px 0;
    color:#e4e6e5;
}
table{
	border-collapse: collapse;
	border: none;
}
td{
	vertical-align: top;
}
.fullname{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	padding-bottom: 5px;
}
.data{
	color: #0465ac;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 5px;
    margin-top: 5px;
}
.bold{
	font-weight: bold;
}
.image{
	padding-right: 10px;
}
.username{
	padding-bottom: 20px;
}
.user-report-info-data td{
	border-top: 1px solid #e4e6e5;
	padding: 8px;
}
.user-additional-fields .field{
	overflow: hidden;
	border-bottom: 1px solid #e4e6e5;
	padding: 8px;
}
.user-additional-fields .odd{
	float: left;
	width: 310px;
}
.user-additional-fields .even{
	float: left;
	width: 310px;
	margin-left: 30px;
}
.firstField{
	border-top: 1px solid #e4e6e5;
}
.user-additional-fields .name{
	float: left;
	width: 100px;
	font-weight: bold;
}
.user-additional-fields .value{
	margin-left: 20px;
	float: left;
}
.user-report-stat{
	margin-left: 5px;
}
.user-report-stat table td,
.center-aligned td{
	text-align: center;
}
.user-report-stat table{
	width:150px;
	margin: 0px 5px 25px;
}


.report-courses-summary{
	margin-bottom:35px;
}
.td-middle{
	vertical-align: middle;
	padding-top: 15px;
	width: 190px;
}
.report-info-title,
.report-stat-title{
	border-bottom: 1px solid #e4e6e5;
	padding-bottom: 15px;
	padding-top: 55px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 25px;
}
.summary-legend-wrapper > div{
	margin-bottom: 20px;
}
.legend-field3{
	margin-bottom: 0;
}
.legend-field1{
	color: #003d6b;
}
.legend-field2{
	color: #0465ac;
}
.legend-field3{
	color: #52a1dd;
}
.legend-count{
	font-weight: bold;
	font-size: 31px;
	display: inline-block;
	margin-right: 5px;
}
.donut-wrapper{
	position: relative;
}
.report-donut-img{
	position: absolute;
	top: 83px;
	left: 83px;
}
.legend-percent{
	display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
.legend-title{
	text-transform: uppercase;
	color:#333333;
}
.completed-stat{
	width: 100px;
	text-align: center;
	font-size: 25px;
	line-height: 25px;
}
.completed-stat-icon {
	text-align: center;
	margin-left: -35px;
	left: 50%;
	width: 70px;
}
.completed-stat-percent {
	font-weight: 400;
	color: #333333;
	line-height: 30px;
}
.completed-stat-percent strong{
	font-size: 30px;
}
.IE8 .completed-stat{
	width: 150px;
}
.ie-image{
	width: 150px;
}
.completed{
	text-align: right;
	padding-right: 20px;
}
.center-aligned{
	width: 100px;
	padding-left: 10px;
}
.completed-stat-icon{
	color: #53AB53;
}
.completed-stat-percent{
	color: #333333;
}