.notifications-panel.rightPanelFlag h4{
    margin-left: 0;
}

.rightPanelFlag.communication-panel{
    overflow: auto;
}

.rightPanelFlag header{
    display: inline-block;
    background-color: white;
    width: 100%;
    padding: 7px 25px;
    border-bottom: 1px solid #e4e6e5;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

.rightPanelFlag header i{
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    color: #999;
    margin-right: 25px;
}

.rightPanelFlag header h4{
    max-width: 85%;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    padding: 7px 0 7px;
}

.rightPanelFlag header i.closeRightPanelButton{
    font-size: 26px;
}

.rightPanelFlag header.on-back i.closeRightPanelButton{
    position: absolute;
    right: 32px;
    top: 7px;
    margin: auto;
    height: 25px;
    font-size: 26px;
}