/**
 * DOCEBO, e-learning SAAS
 *
 * @link http://www.docebo.com/
 * @copyright Copyright &copy; 2004-2012 Docebo
 */

/* Checkpoint: rev5784 */

html{
    height: 100%;
}
body {
    direction: rtl;
}
ul{
    list-style: none;
    margin: 0;
}

.nav-tabs>li, .nav-pills>li{
	width: 100%;
}

.pull-left {
	float: right!important;
}

.pull-right {
	float: left!important;
}

/* Overwrite from admin.css start */
textarea {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #999999;
}

textarea:focus {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #999999;
}

@media (max-width: 1200px), (max-height: 820px) {
    .menu-spacer {
        margin-left: auto;
        margin-right: 80px !important;
    }
}

@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 1190px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 744px;
	}
}

@media (max-width: 767px) {
	.container {
		width: auto;
	}
}

.shopping-cart {
    right: auto;
    left: 130px;
}

.main-actions ul {
    float: right;
}

.main-actions li,
.main-actions .info {
    float: right;
    margin-right: auto;
    margin-left: 13px;
}

.main-actions .info {
    margin-left: 0;
}

.main-actions .info > div,
.create-report .info-wrapper > div {
    padding-left: 0;
    padding-right: 10px;
}

.main-actions .info h4 span,
.create-report .info-wrapper h4 span {
    margin-right: auto;
    margin-left: 5px;
}

.number {
    left: 0;
    right: auto;
}

span.jq-radio {
    margin-right: 5px;
    margin-left: 2px;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="text"]:focus,
.modal .input-wrapper input[type="text"],
.modal .input-wrapper input[type="text"]:focus {
    padding: 0 9px 0 30px;
}

.advanced-search-box .advanced-search-link {
    margin-left: auto;
    margin-right: 7px;
}

.input-wrapper label {
    left: auto;
    right: 10px;
}

.input-wrapper span {
    right: auto;
    left: 10px;
}

.yes-no {
    padding-left: 0;
    padding-right: 12px;
}

.children-node-content,
.select-users,
.advanced-search-box {
    border-right: 0;
    border-left: 1px solid #e4e6e5;
}

.children-node-content {
    padding-right: 0;
}

.picker {
    padding: 10px 8px 10px 0;
}

.picker,
.select-users,
.advanced-search-box {
    border-left: 0;
    border-right: 1px solid #fefefe;
}

#advanced-search .clearfix h4 {
    float: right;
    padding-right: 0;
    padding-left: 10px;
}

.filters #advanced-search h4 span {
    float: left;
}

.breadcrumbs a,
.breadcrumbs span {
    float: right;
}

.remove-filter-link {
    margin-left: auto;
    margin-right: 6px;
    float: right;
}

#advanced-search label {
    float: right;
}

#conditions {
    margin-left: auto;
    margin-right: 78px;
}

#conditions label {
    float: right;
    margin-right: auto;
    margin-left: 21px;
}

#conditions span.jq-radio {
    float: right;
}

#advanced-search .btn-search {
    float: left;
    margin-right: auto;
    margin-left: 10px;
}

input[type="textfield"],
input[type="text"],
input[type="text"]:focus,
.modal-body input[type="text"],
.modal-body input[type="password"],
.modal-body textarea,
span.jqselect .jq-selectbox__select {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #999999;
}

.filter-row input[type="textfield"],
.filter-row input[type="text"] {
    float: right;
}

.filter-row > div,
.filter-row > span {
    float: right;
}

.filter-row-top span.jq-selectbox,
.filter-row span.jq-selectbox,
.filter-row select,
.filter-row-top select {
    float: right;
}

.filter-row .additional-yes-no span.jq-radio,
.filter-row .additional-yes-no input[type="radio"] {
    float: right;
    margin-right: 0;
}

.filter-row .input-append.date span.add-on {
    right: auto;
    left: 6px;
}

.filter-row .input-append.date input[type="text"] {
    padding-right: 0;
    padding-left: 30px;
}

#advanced-search .filter-row .additional-yes-no label {
    margin-right: auto;
    margin-left: 10px;
}

span.jqselect .jq-selectbox__dropdown {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #999999;
}

.right-selections span.jqselect .jq-selectbox__trigger-arrow,
.course-enrollments span.jqselect .jq-selectbox__trigger-arrow {
    right: auto;
    left: 12px;
}

span.jqselect .jq-selectbox__trigger {
    border-right: none;
}

.left-selections,
.left-selections p,
.left-selections a {
    float: right;
}

.left-selections a {
    margin-left: auto;
    margin-right: 10px;
}

.right-selections,
.right-selections span,
.right-selections select {
    float: left;
}

.right-selections span.jqselect .jq-selectbox__select,
.course-enrollments span.jqselect .jq-selectbox__select {
    padding: 0 10px 0 30px;
}

.node-line li,
.nodeParents li {
    float: right;
}

.bottom-section #tree-wrapper {
    float: right;
}

#tree-wrapper .node-tree {
    padding: 0 15px 0 8px;
}

.bottom-section .back span a {
    padding-left: 0;
    padding-right: 12px;
}

#tree-wrapper .popover-bottom {
    right: auto;
    left: 20px;
}

.questcat-management .input-wrapper span {
    /*padding-left: 0;*/
    /*padding-right: 30px;*/
}

.popover-content .node-action span {
    float: right;
    margin-right: auto;
    margin-left: 8px;
}

.popover.bottom .arrow {
    right: auto !important;
    left: 20px !important;
}

.popover.bottom {
    left: 0 !important;
    right: auto !important;
}

.popover-inner {
	padding: 0;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width: auto;
	overflow: visible;
}

#popup_bootstroEnrollUsers .popover-content {
	margin: 25px 105px 0 0;
	text-align: right;
}
#popup_bootstroEnrollUsers .bootstro-arrow {
	right: -75px;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
#popup_bootstroEnrollUsers {
	left: auto!important;
}

.course-enrollments .session-enrollments-order-by label, .course-enrollments .session-enrollments-order-by select {
	float: right;
}
.session-details-container td.dates {
	text-align: left;
}
.session-details-container td.title {
	text-align: right;
}

.select-columns ul li,
.userman-select-columns ul li {
    padding-right: 25px;
}

.grid-view .button-column a + a {
    margin-left: auto;
    margin-right: 14px;
}

.grid-view td.empty > span {
    padding: 0 2px 0 0;
}

.modal-body .grid-view td.empty > span {
    padding: 0 12px 0 0;
}

.grid-view table.items th,
.grid-view table.items td {
    text-align: right;
}

.pager li.next-page a,
.pager li.next-page a:hover,
.pager li.prev-page a,
.pager li.prev-page a:hover {
    right: 0;
}

.pager li.next-page,
.pager li.prev-page {
    margin-left: 0;
    margin-right: 8px;
}

#footer {
    text-align: left;
}

.contentLoading {
    right: auto;
    left: 40px;
}

.modal {
    width: 660px;
}

.modal-header .close {
    right: auto;
    left: 20px;
}
.modal-header h3{
    padding-left: 0;
    padding-right: 40px;
}
.select-users .modal-header h3{
    padding-left: 0;
    padding-right: 60px;
}
*:first-child + html .modal-header h3 {
    float: right;
}

.modal-header h3 span {
    left: auto;
    right: 0;
}

.orgChart_translationsList {
    float: left;
}

.languagesList {
    float: right;
}

.languagesName label {
    left: auto;
    right: 10px;
}

.orgChart_code label,
.orgChart_code input {
    float: right;
}

.orgChart_code label {
    margin-right: auto;
    margin-left: 20px;
}

.modal-footer .btn,
.row .btn + .btn,
.advanced-main .btn + .btn {
    margin-left: auto;
    margin-right: 17px;
	background-image: none; /* Some stupid overwrite from bootstrap.rtl.css */
}

.modal.user-edit-massive {
    margin-left: auto;
    margin-right: -275px;
}

.user-edit-massive form .users-count,
.user-edit-massive form > div.clearfix > div.clearfix,
.user-edit-massive form > div.clearfix > div.clearfix > input,
.user-edit-massive form > div.clearfix > div.clearfix > label,
.user-edit-massive form > div.clearfix > div.clearfix > span.jq-checkbox,
.user-edit-massive form > div.clearfix > div.clearfix > span.jqselect {
    float: left;
}

.user-edit-massive form > div.clearfix > div.clearfix > input,
.user-edit-massive form > div.clearfix > div.clearfix > span.jqselect {
    margin-left: auto;
    margin-right: 20px;
}

.user-edit-massive form > div.clearfix > input,
.user-edit-massive form > div.clearfix > span.jq-checkbox {
    float: right;
}

.user-edit-massive form > div.clearfix > div.clearfix {
    padding-left: 0;
    padding-right: 8px;
}

.nodeTree-node span.jq-radio {
    float: left;
}

.label-wrapper {
    float: right;
}

.label-for-radio {
    float: right;
}

.label-wrapper span {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}

.waiting-approval .input-wrapper,
.curricula-section .input-wrapper,
.group-management .input-wrapper,
.additional-fields-wrapper .input-wrapper {
    float: left;
}

.waiting-approval .input-wrapper span,
.curricula-section .input-wrapper span,
.group-management .input-wrapper span,
.additional-fields-wrapper .input-wrapper span {
    /*right: 0;
    left: auto;*/
}

.waiting-approval .input-wrapper label,
.additional-fields-wrapper .input-wrapper label {
    right: 0;
    left: auto;
}

.modal.new-node .modal-header h3 {
    padding-left: 0;
    padding-right: 59px;
}

.modal.assign-courses .modal-header h3 {
    padding-left: 0;
    padding-right: 60px;
}

.modal.new-user .modal-header h3 span {
    right: 0;
    left: auto;
}

.nav-tabs,
.advanced-sidebar ul {
    float: right;
}

.new-user-form,
.select-user-form-wrapper,
.power-user-profile-form-wrapper {
    margin-left: auto;
    margin-right: 200px;
}

.new-user .errorMessage,
.user-edit-massive .errorMessage {
    float: left;
}

#userForm-details {
    float: left;
}

.advanced-sidebar li a span,
.nav-tabs li a span {
    margin-right: auto;
    margin-left: 15px;
}

.tab-pane > div label {
    margin-right: auto;
    margin-left: 20px;
}

.force_change {
    float: left;
}

#userForm-details .force_change span,
#userForm-details .force_change input {
    float: right;
}

#userForm-details .force_change label {
    margin: 0 30px 0 0;
}

#userForm-orgchat {
    margin-left: auto;
    margin-right: 25px;
}

.courseEnroll-page-orgchart li > div > label,
#userForm-orgchat li > div > label {
    margin: 0 5px 0 0;
}

#userForm-details label,
#userForm-details input,
#userForm-details .additional-yes-no,
#userForm-details span.jqselect,
#userForm-details select,
#userForm-details textarea,
#userForm-details label,
#userForm-details .additional-yes-no span.jq-radio,
#userForm-details span.jq-file {
    float: left;
}

#userForm-details span.jq-file {
    float: left;
}

#userForm-details span.jq-file input {
    left: 0 !important;
    right: auto !important;
}

#userForm-details .input-append.date {
    float: left;
    margin-left: auto;
    margin-right: 3px;
}

#userForm-details .input-append.date .add-on {
    left: auto;
    right: 1px;
}

#userForm-details .input-append.date > label {
    left: auto;
    right: -70px;
}

#userForm-details .input-append.date > input {
    padding-left: 0;
    padding-right: 23px;
}

.modal.fade.in{
	top: 10%;
}
.modal.new-user,
.modal.user-edit,
.modal.new-power-profile,
.modal.profile-edit-node {
    margin-left: auto;
    margin-right: -367px;
}

.tab-pane .node-tree li {
    padding: 0 27px 0 0;
}

.tab-pane li.rootNode {
    padding: 5px 15px 5px 0;
}

.hasChildren > div .open-close-link,
.hasChildren > div .open-close-link {
    margin-left: auto;
    margin-right: -23px;
}

.modal.edit-node .modal-header h3 span,
.modal.course-node-edit .modal-header h3 span,
.modal.edit-category .modal-header h3 span,
.modal.editNode .modal-header h3 span,
.modal.edit-group .modal-header h3 span,
.modal.edit-enrollment .modal-header h3 span,
.modal.user-edit-massive .modal-header h3 span,
.modal.user-edit .modal-header h3 span,
.modal.profile-edit-node .modal-header h3 span,
.modal.curricula-edit .modal-header h3 span,
.modal.edit-certificate .modal-header h3 span,
.modal.update-catalog .modal-header h3 span {
    left: auto;
    right: 0;
}

.add-field-section label {
    float: right;
    margin: 9px 0 0 13px;
}

input.create-additional-field {
    margin-left: auto;
    margin-right: 10px;
}

.additional-checkboxes .item label,
.additional-checkboxes .item span,
.additional-checkboxes .item,
.additional-checkboxes .item input {
    float: right;
}

.preview-viewport span {
    float: left;
}

.preview-viewport label {
    padding-right: 0;
    padding-left: 5px;
}

.preview-viewport-wrapper {
    padding: 9px 20px 9px 0;
}

.preview-viewport select {
    float: left;
}

.language-select {
    padding: 9px 0 9px 20px;
}

.additional-checkboxes {
    left: auto;
    right: 100px;
}

.additional-checkboxes .item label {
    margin-left: 28px;
    margin-right: 10px;
}

.new-field .modal-header h3 {
    padding-left: 0;
    padding-right: 45px;
}

.new-field form .orgChart_translationsList {
    margin-left: auto;
    margin-right: 330px;
}

.import form .download-file {
    float: left;
}

.import form .download-file .download-icon {
    margin-right: auto;
    margin-left: 5px;
}

.user-import-options h4,
.user-import-options-check span,
.user-import-options-check input {
    float: right;
}

.import form .row > div {
    padding-left: 0;
    padding-right: 210px;
}

.import form .row .row-border > label,
.import form .row > label {
    padding-right: 0;
    padding-left: 60px;
}

.user-import-options-check {
    padding-left: 0;
    padding-right: 223px;
}

.import form .row span.jq-radio {
    margin-left: 5px;
    margin-right: 0;
}

.import form .row span label {
    margin-right: auto;
    margin-left: 25px;
}

input#UserImportForm_manualSeparator, input#SessionImportForm_manualSeparator {
    margin-left: auto;
    margin-right: -20px;
}

.import form .row.btns .btn,
.certificate-btns .btn {
    float: left;
}

.import form .row .btn + .btn,
.certificate-btns .btn + .btn {
    margin-right: auto;
    margin-left: 17px;
}

.user-import-options-label {
    padding-left: 0;
    padding-right: 24px;
}

span.jq-file .jq-file__name,
span.file-name {
    float: left !important;
}

span.jq-file .jq-file__browse,
#pickfiles, [id^="pickfiles-fields"] {
    margin-right: auto;
    margin-left: 5px;
}

.filters_course_management .select-course-type {
    border-left: 1px solid #E4E6E5;
    border-right: 1px solid #ffffff;
    padding-left: 0;
}

.filters_course_management .advanced-search-box {
    border-left: none;
    padding-left: 0;
}

.filters_course_management .select-course-type label {
    margin: 0 8px 0 15px;
}

.filters_course_management .advanced-search-box > table {
    float: left;
}

#course-management-grid a.popover-action,
#course-enrollment-grid a.popover-action {
    float: left;
    margin-right: auto;
    margin-left: 12px;
}

td .enrolled {
    margin-left: auto;
    margin-right: 2px;
}

#course-management-grid table.items td .maxAvailable,
#course-management-grid table.items td .elearning,
#course-management-grid table.items td .classroom {
    margin-left: auto;
    margin-right: 2px;
}

.lang-sprite {
	padding: 0;
    margin: 0 0 0 5px;
}

.modal.new-course,
.modal.course-node-edit {
    margin-left: auto;
    margin-right: -400px;
}

.modal.new-course .modal-header h3,
.modal.new-course-success .modal-header h3,
.modal.new-group-success .modal-header h3,
.modal.curricula-assign-courses .modal-header h3,
.modal.new-category .modal-header h3 {
    padding-left: 0;
    padding-right: 48px;
}

.modal.new-course .modal-header h3 span,
.modal.new-course-success .modal-header h3 span,
.modal.new-group-success .modal-header h3 span,
.modal.curricula-assign-courses .modal-header h3 span {
    right: 0;
    left: auto;
}

.new-course .select-user-form-wrapper,
.course-node-edit .select-user-form-wrapper {
    margin-left: auto;
    margin-right: 155px;
}

.new-course .form form div > label,
.course-node-edit .form form div > label,
.edit-group .form form div > label,
.edit-node .form form div > label {
    float: right;
}

.new-course .form form div > input,
.new-course .form form div > textarea,
.course-node-edit .form form div > input,
.course-node-edit .form form div > textarea {
    float: left;
}

.carousel-inner .item .sub-item.checked input[type="radio"],
.carousel-inner .item .sub-item.checked span.jq-radio.checked {
    right: auto;
    left: 1px;
}

.carousel-inner .item .sub-item.checked span.jq-radio.checked span {
    margin-left: auto;
    margin-right: 6px;
}

.modal .carousel-control {
    right: 0;
    left: auto;
}

.modal .carousel-control.left,
.modal .carousel-control.left:hover,
.modal .carousel-control.left:focus {
    left: auto;
    right: 0;
}

.modal .carousel-control.right,
.modal .carousel-control.right:hover,
.modal .carousel-control.right:focus {
    right: auto;
    left: 0;
}

#course_form .nav-library {
    float: right;
}

.thumbnailSlider {
    margin-left: auto;
    margin-right: 162px;
}

.new-course .textarea-wrapper,
.course-node-edit .textarea-wrapper {
    margin-left: auto;
    margin-right: 162px;
}

.modal.new-group-success .modal-body .btn span,
.modal.new-course-success .modal-body .btn span {
    margin-right: auto;
    margin-left: 8px;
}

.new-group-success-content .btn,
.new-course-success-content .btn {
    text-align: right;
}

.modal.copy-course {
    margin-left: auto;
    margin-right: -291px;
}

.modal.copy-course .modal-header h3 span {
    right: 0;
    left: auto;
}

.copy-checkboxes > div > span,
.copy-checkboxes input[type="checkbox"],
.suspend-action .modal-body span,
.suspend-action .modal-body input[type="checkbox"],
.activate-action .modal-body span,
.activate-action .modal-body input[type="checkbox"],
.delete-node .modal-body span,
.delete-node .modal-body input[type="checkbox"] {
    float: right;
}

.copy-checkboxes > div > label,
.activate-action .modal-body label,
.suspend-action .modal-body label,
.delete-node .modal-body label {
    margin-left: auto;
    margin-right: 25px;
}

.copy-checkboxes > div {
    float: right;
    margin-right: auto;
    margin-left: 45px;
}

.delete-node .modal-header h3,
.activate-action .modal-header h3,
.suspend-action .modal-header h3 {
    padding-left: 0;
    padding-right: 35px;
}

.modal.delete-node,
.modal.activate-action,
.modal.suspend-action,
.modal.edit-group,
.modal.new-group {
    margin-left: auto;
    margin-right: -223px;
}

.search-links {
    margin-left: auto;
    margin-right: 10px;
}

.seats > div {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}

.email-icon {
    margin-right: auto;
    margin-left: 3px;
}

.status-title {
    padding-left: 0;
    padding-right: 140px;
}

.level-title,
.status-title {
    padding-right: 0;
    padding-left: 18px;
}

.node-enrollment-users {
    float: right;
}

.node-enrollment-actions {
    margin-left: auto;
    margin-right: 190px;
}

.active-from {
    padding-left: 0;
    padding-right: 30px;
}

.active-untill {
    padding-left: 0;
    padding-right: 30px;
}

.main-actions ul.quick-new-user {
    float: left;
}

.descendants-checkbox {
    margin: 0 34px 0 44px;
}

.descendants-checkbox span.jq-checkbox,
.descendants-checkbox label {
    float: right;
}

#advanced-search  .enrollments-search-wrapper label {
    margin-right: auto;
    margin-left: 7px;
}

.descendants-checkbox input[type="checkbox"],
.descendants-checkbox span.jq-checkbox {
    margin-right: auto;
    margin-left: 8px;
}

.modal.course-enrollment,
.modal.curricula-assign-users,
.modal.group-select-users,
.modal.new-colors-scheme,
.modal.branding-scheme,
.modal.select-users,
.modal.new-course-summary,
.modal.new-user-summary,
.modal.create-report {
    margin-left: auto;
    margin-right: -475px;
}

.course-enrollment.select-course .modal-header h3 {
    padding-left: 0;
    padding-right: 52px;
}

.course-enrollment.select-course .modal-header h3 span {
    right: 0;
    left: auto;
}

.course-enrollment.select-role .modal-footer {
    left: auto;
    right: 0;
}

.course-enrollment .modal-footer .previous-btn {
    float: right;
}

.course-enrollment .modal-header h3 span,
.curricula-assign-users .modal-header h3 span,
.group-select-users .modal-header h3 span {
    right: 0;
    left: auto;
}

.modal .input-wrapper,
.modal .input-wrapper-orgchart {
    float: left;
}

.select-user-form-wrapper > .tab-content,
.select-user-form-wrapper > form,
.power-user-profile-form-wrapper .tab-content {
    margin-left: auto;
    margin-right: 25px;
	display: block;
	width: auto;
}

.new-course .select-user-form-wrapper > .tab-content,
.course-node-edit .select-user-form-wrapper > .tab-content {
    margin-left: auto;
    margin-right: 0;
}

.upload-form label {
    margin: 7px 0 0 22px;
}

.modal .left-selections a + a {
    margin-left: auto;
    margin-right: 10px;
}

.courseEnroll-page-orgchart li.rootNode .node-icon {
    margin-right: auto;
    margin-left: 5px;
}

.courseEnroll-page-orgchart .nodeTree-node span.jq-radio {
    margin-left: auto;
    margin-right: 0;
}

.courseEnroll-page-orgchart li > div > span .jq-radio,
.courseEnroll-page-orgchart li > div > span .jq-radio.checked {
    margin-right: auto;
    margin-left: 0;
}

.courseEnroll-orgchart-table {
    padding-right: 0;
    padding-left: 10px;
}

.courseEnroll-page-orgchart .input-wrapper-orgchart span {
    margin: 0 8px 0 5px;
}

.course-enrollment.select-role,
.modal.edit-enrollment {
    margin-left: auto;
    margin-right: -240px;
}

.course-enrollment.select-role .modal-footer {
    left: auto;
}

.modal.crop_thumbnail {
    margin-left: auto;
    margin-right: -288px;
}

.modal.copy-course-enrollment,
.modal.group-import-users,
.modal.course-enrollment-from-csv {
    margin-left: auto;
    margin-right: -290px;
}

.copy-course-enrollment .copy-checkboxes input,
.copy-course-enrollment .copy-checkboxes span,
.copy-course-enrollment .copy-checkboxes label {
    float: right;
}

.copy-course-enrollment .copy-checkboxes span.jq-radio,
.copy-course-enrollment .copy-checkboxes input {
    margin-left: 5px;
    margin-right: 0;
}

.copy-course-enrollment .copy-checkboxes label {
    margin-right: auto;
    margin-left: 25px;
}

.course-enrollment-from-csv span.jq-file .jq-file__name,
.group-import-users span.jq-file .jq-file__name {
    float: right !important;
    margin-right: auto;
    margin-left: 10px;
}

.course-enrollment-from-csv .modal-header h3,
.curricula-assign-users .modal-header h3,
.new-colors-scheme .modal-header h3,
.branding-scheme .modal-header h3,
.group-select-users .modal-header h3,
.group-import-users .modal-header h3,
.course-enrollment .modal-header h3,
.new-power-profile .modal-header h3,
.profile-edit-node .modal-header h3,
.create-report .modal-header h3,
.new-catalog .modal-header h3 {
    padding-left: 0;
    padding-right: 45px;
}

.course-enrollment-from-csv .modal-header h3 span,
.group-import-users .modal-header h3 span {
    right: 0;
    left: auto;
}

.courseEnroll-tabs .nav-tabs li a span,
.advanced-sidebar ul li a span {
    margin-right: auto;
    margin-left: 10px;
}

.select-enrollment-type table table {
    margin: 0 15px 0 10px;
}

.new-user-success,
.modal-body .new-course-success,
.modal-body .new-group-success {
    float: right;
}

.new-user-success-content {
    margin-left: auto;
    margin-right: 225px;
}

.another-user-create > span,
.go-back > span,
.modal-body .new-course-success-content > div > span,
.modal-body .new-group-success-content > div > span {
    float: right;
}

.new-course-info-row span {
    float: right;
}

.new-course-info-row .btn {
    margin-right: auto;
    margin-left: 10px;
}

.new-user-success-content form .btn,
.new-course-success-content .btn,
.new-group-success-content .btn {
    float: left;
}

.show-hide-tree span {
    margin-right: auto;
    margin-left: 5px;
}

.title-bold.back-button a {
    padding: 2px 12px 3px 7px;
    margin-right: auto;
    margin-left: 5px;
}

.new-group .modal-header h3 span {
    right: 0;
    left: auto;
}

.new-group .textarea-wrapper {
    margin-left: auto;
    margin-right: 0;
}

.newsletter-form-wrapper .row {
    margin-left: auto;
    margin-right: 0;
}

.newsletter-form-wrapper .row.buttons {
    text-align: left;
}

.newsletter-form-wrapper .row > label,
.newsletter-form-wrapper .row > input,
.newsletter-form-wrapper .row > div,
.newsletter-form-wrapper .row > a,
.newsletter-form-wrapper .row.recepients > span {
    float: right;
}

.newsletter-form-wrapper .row.recepients > span {
    margin-right: auto;
    margin-left: 45px;
}

.newsletter-form-wrapper .row.recepients span > span {
    margin-right: auto;
    margin-left: 8px;
}

#filelist .file-icon {
    margin-right: auto;
    margin-left: 15px;
}

#filelist .filename {
    padding-right: 0;
    padding-left: 3px;
}

.newsletter-form-wrapper.sending-newsletter .row > div,
.newsletter-form-wrapper.sending-newsletter .row > span {
    margin-left: auto;
    margin-right: 107px;
}

.start-quantity,
.end-quantity {
    right: 0;
    left: auto;
}

.start-quantity {
    left: auto;
    right: 0;
}

.end-quantity {
    right: auto;
    left: auto;
}

.description-text blockquote {
    border-left: 0;
    border-right: 5px solid #EEEEEE;
}

.sent-success > div > div {
    padding-left: 0;
    padding-right: 50px;
}

.sent-success-icon {
    left: auto;
    right: 0;
}

.advanced-sidebar {
    right: 0;
    left: auto;
}
#sidebar{
    position: relative !important;
    float: right !important;
}

.advanced-main {
    margin-right: 200px;
    margin-left: auto;
}

.advanced-main .content {
    padding-left: 0;
    padding-right: 15px;
}

.advanced-main .section > .row.even,
.report-filters-wrapper .row.even {
    padding: 22px 18px 22px 0;
}

.row .setting-name {
    float: right;
}

.row .values {
    margin-left: auto;
    margin-right: 222px;
}

.values input[type="checkbox"],
.values input[type="radio"],
.values .jq-checkbox,
.values .jq-radio {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

.values label {
    margin-left: auto;
    margin-right: 25px;
}
.values label.no-space{
    margin-left: auto;
    margin-right: 0;
}

.list-view .item {
    float: right;
}

.list-view .item.even {
    margin-right: auto;
    margin-left: 14px;
}

.course-enrollment-username {
    margin: 0 25px 0 180px;
}

.list-view .checkbox-column,
.list-view .course-level,
.list-view .course-status,
.list-view .course-actions,
.list-view .delete-button,
.list-view .course-user {
    right: 0;
    left: auto;
}

.list-view .checkbox-column {
    left: auto;
    right: 7px;
}

.list-view .delete-button {
    right: auto;
    left: 7px;
}

.poweruser-courses-name {
    margin: 0 25px 0 180px;
}

.list-view .pager,
.grid-view .pager {
    float: left;
}

.list-view .summary,
.grid-view .summary {
    float: right;
}

.list-view .course-level {
    right: auto;
    left: 90px;
}

.list-view .course-status {
    right: auto;
    left: 60px;
}

.list-view .course-actions {
    right: auto;
    left: 30px;
}

.list-view .course-user {
    right: auto;
    left: 30px;
}

.course-actions .popover.bottom {
    right: 0;
    left: -20px;
}

.coursePlayer .current > img {
    margin: 0 0 18px 20px;
}

.inline-radio label {
    float: right;
    margin: 0 0 25px;
}

.login-images .layout4,
.login-images .layout3,
.login-images .layout2,
.login-images .layout1 {
    float: left;
}

.layout4 img,
.layout3 img,
.layout2 img,
.layout1 img {
    margin-left: 0;
}

.layout2 .background {
    left: auto;
    right: 340px;
}

.layout3 span,
.layout2 span,
.layout1 span {
    text-align: left;
}

.layout2 img {
    margin-left: auto;
}

.layout3 .background {
    left: auto;
    right: 88px;
}

.layout3 .title {
    left: auto;
    right: 10px;
}

.layout3 .text {
    right: auto;
    left: 88px;
}

.layout3 .external {
    right: auto;
    left: 10px;
    max-width: none;
}

.layout2 .title-text {
    left: auto;
    right: 150px;
}

.layout2 .external {
    left: auto;
    right: 365px;
    max-width: none;
}

.layout1 .background {
    left: auto;
    right:193px;
}

.layout1 .title-text {
    right: auto;
    left: 190px;
}

.layout1 .external {
    left: auto;
    right: 233px;
    max-width: none;
}


@media (max-width: 1200px)
{
    .layout2 .background {
        right: 213px;
    }

    .layout2 .external {
        right: 185px;
    }

    .layout3 .background {
        right: 47px;
    }

    .layout1 .background {
        right:115px;
    }

    .layout1 .title-text {
        left: 92px;
    }

    .layout1 .external {
        right: 80px;
    }
}

.lang-wrapper .jqselect,
.lang-wrapper select {
    float: right;
}

.lang-wrapper .stats {
    margin-left: auto !important;
    margin-right: 280px;
}

.modal.branding-manage-backgrounds {
    margin-left: auto;
    margin-right: -471px;
}

.branding-manage-backgrounds .upload-form > label {
    float: right;
}

.branding-manage-backgrounds .upload-form-wrapper {
    margin-left: auto;
    margin-right: 25px;
}

.modal.branding-manage-backgrounds .modal-header h3,
.modal.branding-external-page .modal-header h3 {
    padding-left: 0;
    padding-right: 35px;
}

.branding-external-page .languages label {
    float: right;
}

.branding-external-page .input-fields > div > div,
.branding-external-page .input-fields > div > input,
.branding-external-page .lang-wrapper {
    margin-left: auto;
    margin-right: 105px;
}

.row-fluid.no-space [class*="span"] {
    margin-left: auto;
    margin-right: 0;
}

.modal.branding-external-page {
    margin-left: auto;
    margin-right: -387px;
}

.publish-checkbox-wrapper {
    right: auto;
    left: 260px;
}

.publish-checkbox-wrapper label {
    margin-left: auto;
    margin-right: 10px;
}

.items-sortable-wrapper h6 {
    padding-left: 0;
    padding-right: 10px;
}

.items-sortable-wrapper > .branding-external-page {
    right: 0;
    left: auto;
}

.items-sortable-wrapper > .list-view {
    clear: left;
}

.list-view .items > .row .actions,
.download-css li a {
    left: 0;
    right: auto;
}

.list-view .items .actions ul li,
.download-css li a {
    margin-right: auto;
    margin-left: 5px;
}

.values.download-css li a {
    margin: 0 0 0 10px;
}

.color-item input[type="text"] {
    float: right;
}

.color-item .color-preview-wrap {
    left: auto;
    right: 95px;
}

.color-item {
    margin-right: auto;
    margin-left: 14px;
}

.color-item .tooltip {
    left: auto !important;
    right: 120px !important;
}

.instructions > img {
    margin-left: auto;
    margin-right: 115px;
}

.instructions > p {
    right: 0;
    left: auto;
}

.instructions .hover {
    left: auto;
    right: 312px;
}

.instructions .selected {
    left: auto;
    right: 420px;
}

.instructions .menu-headers {
    left: auto;
    right: 220px;
}

.instructions .title {
    left: auto;
    right: 765px;
}

.instructions .action-btn {
    left: auto;
    right: 486px;
}

.instructions .other-btn {
    left: auto;
    right: 502px;
}

.instructions .secondary-btn {
    left: auto;
    right: 486px;
}

.instructions .text {
    left: auto;
    right: 275px;
}

.instructions .charts {
    left: auto;
    right: 768px;
}

.modify-css label {
    margin-left: auto;
    margin-right: 0;
}

.download-css li div {
    padding-right: 0;
    padding-left: 40px;
}

.grid-view table.items tr td.power-users-members {
    text-align: left;
    padding-right: 0;
    padding-left: 40px;
}

.power-users-members a span,
.curricula-bottom-section .items td a span {
    margin-left: auto;
    margin-right: 5px;
}

.new-power-profile .modal-header h3 span {
    right: 0;
    left: auto;
}

.power-user-profile-form-wrapper .settings label {
    margin-left: auto;
    margin-right: 12px;
}

.settings p.description {
    margin-left: auto;
    margin-right: 32px;
}

.edit-enrollment select,
.edit-enrollment label,
.edit-enrollment span.jqselect,
.edit-enrollment .input-append > div {
    float: left;
}

.edit-enrollment label {
    margin-right: auto;
    margin-left: 25px;
}

form .left-side {
    float: right;
}

form .right-side {
    margin-left: auto;
    margin-right: 455px;
}

.right-arrow {
    float: left;
}

.modal.new-field,
.modal.new-label,
.modal.edit-node {
    margin-left: auto;
    margin-right: -350px;
}

.new-label .color-item .color-preview-wrap,
.edit-node .color-item .color-preview-wrap {
    left: auto;
    right: 114px;
}

.new-label .modal-header h3 span,
.edit-node .modal-header h3 span {
    right: 0;
    left: auto;
}

.modal-body .left-side .label_languages {
    margin-left: auto;
    margin-right: 280px;
}

.new-label .modal-footer,
.edit-node .modal-footer {
    padding: 0 0 21px 18px;
    left: 0;
    right: auto;
}

.new-label .color-item .tooltip,
.new-label .color-item .tooltip {
    left: auto !important;
    right: 140px;
}

.report-left-side {
    float: right;
}

.report-right-side {
    float: left;
}

.summary-report-form > span,
.user-report-actions > div > span {
    margin-right: auto;
    margin-left: 8px;
}

.new-user-summary input[type="text"],
.new-course-summary input[type="text"] {
    margin-right: auto;
    margin-left: 5px;
}

.summary-report-form {
    margin-top: auto;
    margin-left: 15px;
}

.report-sides a.new-user-summary,
.report-sides a.new-course-summary {
    right: auto;
    left: 8px;
}

.summary-report-wrapper {
    margin-left: auto;
    margin-right: 65px;
}

.summary-user-report,
.summary-course-report {
    margin-left: auto;
}

.report-bottom-side .select-wrapper {
    float: right;
}

.report-bottom-side .select-wrapper label {
    margin-right: auto;
    margin-left: 8px;
}

.report-bottom-side .input-wrapper {
    float: left;
}

.report-bottom-side .create-report {
    float: left;
}

.report-bottom-side .title-bold > span {
    left: auto;
    right: 0;
    padding-left: 300px;
    padding-right: 0;
    text-align: right;
}

a.create-report {
    padding-left: 20px;
    padding-right: 12px;
}

a.create-report > span {
    margin-right: auto;
    margin-left: 12px;
}

.report-bottom-side .popover.bottom {
    right: auto;
    left: 80px;
}

.report-sides .grid-view table.items td:first-child,
.report-sides .grid-view table.items th:first-child {
    padding-left: 0;
    padding-right: 16px;
}

.report-sides .grid-view table.items td:last-child,
.report-sides .grid-view table.items .reports-td-last {
    padding-right: 0;
    padding-left: 10px;
}

.modal.new-user-summary .modal-header h3 {
    padding-left: 0;
    padding-right: 45px;
}

.user-report-info-image,
.course-report-info-image {
    float: right;
}

.user-report-info-data,
.course-report-right-side {
    margin-left: auto;
    margin-right: 170px;
}

.user-report-info-data .data {
    margin-left: auto;
    margin-right: 80px;
}

.user-report-info-data .label {
    padding: 0 0 0 5px;
    float: right;
}

.user-report-info {
    float: right;
}

.user-report-stat {
    margin-left: auto;
    margin-right: 520px;
}

.report-popup-actions {
    float: left;
}

.report-popup-actions a span {
    margin-left: auto;
    margin-right: 12px;
}

.report-popup-actions a {
    margin-left: auto;
    margin-right: 55px;
}

.new-user-summary .user-additional-fields .name {
    float: right;
}

.new-user-summary .user-additional-fields .value {
    margin-left: auto;
    margin-right: 20px;
    float: right;
}

.new-user-summary .user-additional-fields .odd {
    float: right;
}

.new-user-summary .user-additional-fields .even {
    float: left;
}

.new-course-summary .modal-header h3 {
    padding-left: 0;
    padding-right: 50px;
}

.new-course-summary .modal-header h3 span {
    right: 0;
    left: auto;
}

td.td-middle {
    padding-right: 0;
    padding-left: 15px;
}

.report-courses-summary-legend .legend-count {
    margin-right: auto;
    margin-left: 5px;
}

.donut-wrapper .report-donut-img {
    left: auto;
    right: 64px;
}

.courses-stat.IE8 .enrolled-users,
.courses-stat.IE8 .days-since-launch,
.courses-stat.IE8 .training-resources {
    margin-left: auto;
    margin-right: 20px;
}

.completed .completed-stat {
    margin-left: auto;
    margin-right: 20px;
}

.completed-stat-icon {
    margin-left: auto;
    margin-right: -35px;
    left: auto;
    right: 50%;
}

.enrolled-users,
.days-since-launch,
.training-resources {
    margin-left: auto;
    margin-right: 55px;
}

.report-header-field,
.column-field {
    float: right;
}

.column-field-checkbox {
    float: right;
}

.create-report .middle .rows-wrapper {
    float: right;
}

.create-report .info-wrapper {
    margin-left: auto;
    margin-right: 480px;
}

.create-report .row {
    margin-left: auto;
    margin-right: 0;
}

.create-report .middle .row input,
.create-report .middle .row span.jq-radio {
    float: left;
}

.create-report .middle .row label {
    margin-right: auto;
    margin-left: 25px;
}

.info-wrapper div > span {
    margin-right: auto;
    margin-left: 5px;
}

.create-report .modal-footer .btn-prev {
    float: right;
}

.report-filters-wrapper span.jq-checkbox,
.report-filters-wrapper input,
.report-filters-wrapper .data .column {
    float: right;
}

.report-filters-wrapper span.jq-checkbox,
.report-filters-wrapper input {
    margin-right: auto;
    margin-left: 8px;
}

.report-filters-wrapper .data .column {
    margin-right: auto;
    margin-left: 18px;
}

.report-filters-wrapper .row > .label {
    float: right;
}

.report-filters-wrapper .row > .data {
    margin-left: auto;
    margin-right: 240px;
}

.modal.create-report-success {
    margin-left: auto;
    margin-right: -400px;
}

.report-success .left {
    left: auto;
    right: 0;
}

.report-success a.report-save {
    float: left;
}

.report-success .right {
    margin-left: auto;
    margin-right: 225px;
}

.new-certificate .modal-header h3 {
    padding-left: 0;
    padding-right: 35px;
}

.new-certificate .modal-header h3 span {
    right: 0;
    left: auto;
}

.new-certificate .release .jq-checkbox,
.edit-certificate .release .jq-checkbox,
.new-certificate .release input,
.edit-certificate .release input {
    float: right;
}

.new-certificate .release-description,
.edit-certificate .release-description {
    margin-left: auto;
    margin-right: 28px;
}

.modal.release-node,
.modal.new-group-success,
.modal.new-course-success {
    margin-left: auto;
    margin-right: -370px;
}

.modal.release-node .modal-header h3 span {
    right: 0;
    left: auto;
}

.release-node .modal-body label,
.release-node .modal-body .jq-selectbox,
.release-node .modal-body .select {
    float: right;
}

.release-node .modal-body label {
    margin: 8px 0 0 12px;
}

.release-node .modal-header h3 {
    padding-left: 0;
    padding-right: 55px;
}

.grid-view table.items .certificate-status {
    padding-right: 0;
    padding-left: 15px;
}

.certificate-important .important-text {
    margin: 0 7px 0 17px;
}

.certificate-orientation,
.certificate-background {
    float: right;
    margin-right: auto;
    margin-left: 20px;
}

.background-wrapper {
    margin-left: 0;
    margin-right: auto;
    float: right;
}

.tag-left-side {
    margin-right: auto;
    margin-left: 30px;
}

.certificate-orientation span input[type="text"],
.certificate-orientation span .jq-radio {
    margin-left: auto;
    margin-right: 22px;
}

.certificate-orientation label span {
    margin-right: auto;
    margin-left: 8px;
}

.certificate-background .jq-file {
    margin: 0 22px 0 10px;
}

.certificate-tags-wrapper > div {
    float: right;
}

.certificate-tags-wrapper .code,
.certificate-tags-wrapper .description {
    float: right;
}

.certificate-tags-wrapper .code {
    margin-right: auto;
    margin-left: 15px;
}

#dashboard-wrapper .item {
    float: right;
}

#dashboard-wrapper .section.bottom,
#dashboard-wrapper .section.top {
    float: right;
}

#dashboard-wrapper .item .title-bold .move {
    left: 0;
    right: auto;
}

#top-left,
#bottom-left {
    margin-right: auto;
    margin-left: 20px;
}

.generate-reports > div .links {
    right: 0;
    left: 25px;
    text-align: left;
}

.generate-reports > div .links a + a {
    margin-left: auto;
    margin-right: 12px;
}

.generate-reports > div label {
    padding-right: 0;
    padding-left: 10px;
}

.status-wrapper > div {
    float: right;
}

.status-wrapper .donut-wrapper > img {
    left: auto;
    right: 78px;
}

.most-popular-courses .popular-courses-icon {
    float: right;
}

.most-popular-courses .bars {
    margin-left: auto;
    margin-right: 135px;
}

.most-popular-courses ul li .bar,
.most-popular-courses ul li .info {
    float: right;
}

.most-popular-courses ul li .info {
    margin-left: auto;
    margin-right: 8px;
}

.most-popular-courses ul li .trend,
.recent-activities .legend .row li .trend {
    margin-left: auto;
    margin-right: 2px;
}

.least-completed .content li > div,
.most-completed .content li > div {
    right: auto;
    left: 18px;
}

.least-completed .content li > .percents,
.most-completed .content li > .percents {
    right: auto;
    left: 70px;
}

.chart-colors li {
    float: right;
    margin-right: auto;
    margin-left: 35px;
}

.chart-colors li span.color {
    margin-right: auto;
    margin-left: 8px;
}

.chart-container .chart-colors {
    margin-left: auto;
    margin-right: 10px;
}

.recent-activities .legend {
    float: left;
}

.recent-activities .legend .row li {
    float: right;
}

.recent-activities .legend .row li + li {
    margin-left: auto;
    margin-right: 25px;
}

.recent-activities .legend .row ul {
    margin-left: auto;
    margin-right: 50px;
}

.recent-activities .row h4 span {
    margin-right: auto;
    margin-left: 10px;
}

.overbooked-users span, .overbooked-users label {
    float: right;
}

.overbooked-users label {
    margin-right: auto !important;
    margin-left: 15px !important;
}

.grid-view table.items td.curricula-button-column {
    padding-right: 0;
    padding-left: 15px;
    text-align: left;
}

.curricula-view .items .item {
    padding: 7px 60px 7px 140px;
}

#curricula-user-list .items .item {
    padding: 7px 32px 7px 140px;
}

.curricula-course-prerequisites {
    margin-left: auto;
    margin-right: 3px;
}

.curricula-view .items .item > a {
    right: auto;
    left: 45px;
}

.curricula-view .move {
    left: auto;
    right: 30px;
}

.curricula-view .items .item td:not(:first-child) {
	padding-left:0;
	padding-right:20px;
}

.modal.curricula-assign-prerequisites,
.modal.curricula-assign-courses {
    margin-left: auto;
    margin-right: -385px;
}

.curricula-assign-prerequisites .modal-header h3 span {
    right: 0;
    left: auto;
}

.curricula-assign-courses .modal-header h3 span {
    left: auto;
    right: 0;
}

.custom-button-column {
    text-align: left !important;
}

.custom-button-column a {
    margin-right: auto;
    margin-left: 5px;
}

.wlabel-preview {
    right: 0;
    left: auto;
}
.wlabel-preview.wl-menu {
    right: 920px;
    left: auto;
}
.wlabel-preview.wl-user-counter {
    right: 415px;
    left: auto;
}
.wlabel-preview.wl-footer {
    right: 350px;
    left: auto;
}
.white-label-inactive-text li {
    float: right;
}
.white-label-inactive-text li div {
    float: right;
}

.new-user-summary input[type="text"], .new-course-summary input[type="text"], .summary-report-form input[type="text"]{
    float: right;
}

.filters_course_management .group td.yes-no{
	min-width: 100px;
	width: auto;
}

/* CSS overwrite from admin.css end */

/* CSS overwrite from admin-temp.css start */
.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}

.delete-item-modal .modal-header h3,
.edit-item-modal .modal-header h3,
.edit-notification-modal .modal-header h3 {
    padding-right: 0;
}

.delete-item-modal {
    margin-left: auto;
    margin-right: -230px;
}

.search-form .input-wrapper {
    float: left;
}

.search-form .input-wrapper span {
    right: 0;
    left: auto;
}

.search-form .input-wrapper.dates {
    float: right;
}

.search-form .select-wrapper {
    float: right;
}

#transactions-grid #total-header,
#transactions-grid .text-right {
    text-align: left;
}

#transactions-grid .popover .arrow:after {
    right: 0;
    left: auto;
}

.edit-transaction-items {
    margin-left: auto;
    margin-right: -480px;
}

.edit-transaction-items .grid-view .price,
.edit-transaction-items .grid-view .price-footer,
.edit-transaction-items .grid-view #price-header {
    text-align: left;
}

.questcat-management .input-wrapper {
    float: left;
}

.edit-questcat-modal .modal-header h3 {
    padding-right: 0;
}

.grid-view table.items tr td.text-right {
    text-align: left;
}

.modal.new-label-half,
.modal.edit-node-half {
    margin-left: auto;
    margin-right: -175px;
}

.modal.edit-node-half .modal-header h3 span {
    left: auto;
    right: 0;
}

.modal.new-label-half,
.modal.edit-node-half {
    margin-left: auto;
    margin-right: -175px;
}

.modal.edit-node-half .modal-header h3 span {
    left: auto;
    right: 0;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-freetext label {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-freetext img.flag {
    margin: 0 5px -1px 0;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-checkboxlist > span > span {
    float: right;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-checkboxlist > span > label {
    margin: 0 30px 0 0;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-checkbox > span {
    float: right;
}

.docebo-modalbox-form .docebo-form-row.docebo-form-type-checkbox > label {
    margin: 0 30px 0 0;
}

#notification-grid.grid-view table.items th#notification-grid_c1,
#notification-grid.grid-view table.items th#notification-grid_c2,
#notification-grid.grid-view table.items th#notification-grid_c3 {
    padding-left: 0;
    padding-right: 20px;
}

#notification-grid.grid-view table.items td.padded-left {
    padding-left: 0;
    padding-right: 20px;
}

#core-enroll-rule-form .subtype-arrow {
    padding: 42px 25px 0 0;
}

.color-item .title {
    clear: right;
}

.users-info .bottom .arrow {
    right: auto;
    left: 130px !important;
}

/* End overwrite from admin-temp.css */

/* Start of overwrite from setup.css */
.row-fluid .setup-row-header {
    padding: 20px 56px 20px 20px;
    right: 0;
    left: auto;
}

.setup-row-header:after {
    left: auto;
    right: 100%;
}

.setup-row-header:after {
    border-right-color: #F1F3F2;
    left: auto;
    right: 0;
}

.setup-row-header i.step-number {
    left: auto;
    right: 0;
}

.setup-row-content {
    padding: 20px 30px 20px 0;
}

.setup-row-content small {
    float: right;
    margin-left: auto;
    margin-right: 20px;
}

.default-bg-container .carousel-control {
    right: 0;
    left: auto;
}

.default-bg-container .carousel-control.left,
.default-bg-container .carousel-control.left:hover,
.default-bg-container .carousel-control.left:focus {
    left: auto;
    right: 0;
}

.default-bg-container .carousel-control.right,
.default-bg-container .carousel-control.right:hover,
.default-bg-container .carousel-control.right:focus {
    right: auto;
    left: 0;
}

ul.setup-color-schemes {
}

ul.setup-color-schemes > li {
    float: right;
    margin: 0 0 20px 50px;
}

ul.setup-color-schemes div.hover {
    left: auto;
    right: 26px;
}

ul.setup-color-schemes div.hover .arrow_box:after,
ul.setup-color-schemes div.hover .arrow_box:before {
    right: 0;
    left: auto;
}

ul.setup-color-schemes div.hover .arrow_box:after {
    left: auto;
    right: 20px;
    margin-left: auto;
    margin-right: -10px;
}

ul.setup-color-schemes div.hover .arrow_box:before {
    left: auto;
    right: 20px;
    margin-left: auto;
    margin-right: -11px;
}

ul.setup-color-schemes label .check-mark {
    left: auto;
    right: 50%;
    margin-left: auto;
    margin-right: -15px;
}

ul.setup-color-schemes .palette .secondary > div {
    float: right;
    margin-right: auto;
    margin-left: 1px;
}

.activation-screen #setup-logo-box #logo-preview {
    float: right;
}

.activation-screen #setup-logo-box .fileinput-button {
    margin-left: auto;
    margin-right: 10px;
}

.activation-screen #setup-info-form .required-info {
    text-align: left;
}

.activation-screen #setup-info-form .callback-support-annotation {
    right: auto;
    left: -180px;
}

.activation-screen #setup-info-form .control-group .control-label {
    text-align: right;
}

.activation-screen.step5 .start-box .materials {
    border-right: 0;
    border-left: 1px solid #CCC;
    text-align: right;
    margin-right: auto;
    margin-left: 345px;
}

.activation-screen.step5 .start-box .materials .inner .right {
    float: left;
}

.activation-screen.step5 .start-box .courses {
    float: left;
    border-left: 0;
    border-right: 1px solid #FFF;
    text-align: right;
}

.activation-screen.step5 .start-box .courses .browse-line .btn {
    float: left;
}

.setup-welcome-marketplace-annotation {
    left: auto;
    right: 100px;
}

/* End of CSS overwrite from setup.css */

/* Beginning CSS overwrite from base.css */
.logout {
}

.logout a {
    left: 0;
    right: auto;
}

.shopping-cart {
    right: auto;
    left: 130px;
}

.shopping-cart .cart-green {
    padding-right: 0;
    padding-left: 6px;
}

.trial-timer {
    right: auto;
    left: 130px;
}

.trial-timer .timer-text {
    margin-right: auto;
    margin-left: 6px;
    text-align: left;
}

.trial-timer .timer-links {
    margin-left: auto;
    margin-right: 6px;
}

.users-info {
    right: auto;
    left: 130px;
}

.users-info .users-info-text {
    margin-right: auto;
    margin-left: 6px;
    text-align: left;
}

.users-info .users-info-links {
    margin-left: auto;
    margin-right: 6px;
}

.users-info .bottom .arrow {
    left: auto;
    right: 47%;
}
a.docebo-back:before {
    left: auto;
    right: -6px;
    border-right: 0;
    border-left: 6px solid #333333;
}
.docebo-form.form-horizontal .control-label {
    text-align: right;
}

.docebo-form .form-suboption {
    padding-left: 0;
    padding-right: 20px;
}

.dropdown-docebo .btn-group {
    margin-left: auto;
    margin-right: 10px;
}

.dropdown-docebo .dropdown-menu {
    text-align: right;
}

.dropdown-docebo .dropdown-menu:before {
    right: auto;
    left: 8px;
}
.dropdown-docebo .dropdown-menu:after {
    right: auto;
    left: 9px;
}
.dropdown-docebo .dropdown-menu.little:before {
    right: auto;
    left: 3px;
}

.dropdown-docebo .dropdown-menu.little:after {
    right: auto;
    left: 4px;
}

.dropdown-docebo .dropdown-menu>li>a span.i-sprite,
.dropdown-docebo .dropdown-menu>li>a span.p-sprite {
    margin: 0 0 0 2px;
}
#footer {
    text-align: left;
}
.menu-loading {
    margin-right: auto;
    margin-left: 4px;
}
.text-right {
    text-align: left;
}
.text-left {
    text-align: right;
}
.table .text-right {
    text-align: left;
}
.ajaxloader,
.ajaxloader2,
.blockAjaxloader,
.playerLaunchPadAjaxloader,
.playerUploaderAjaxloader,
.playerHtmlEditorAjaxloader {
    left: auto;
    right: 50%;
    padding-left: 0;
    padding-right: 30px;
    margin-left: auto;
    margin-right: -9px;
}
.modal{
	position: absolute;
	margin-top: auto;
	top: 10%;
}
.modal.loading .modal-body .loader {
    left: auto;
    right: 47%;
}
.modal.wide {
    margin-left: auto;
    margin-right: -438px;
}
.btn.docebo {
    text-align: right;
}
.btn.docebo.with-icon {
    padding-right: 0;
    padding-left: 54px;
}
.btn.docebo.with-icon .icon {
    right: auto;
    left: 0;
}
.ui-search .search-txt {
    padding-right: 0;
    padding-left: 32px;
}
.ui-search .search-btn {
    right: auto;
    left: 1px;
}
.navbar .nav .dropdown-toggle .caret {
    margin-left: auto;
    margin-right: 5px;
}
.home-courses-access h2 {
    margin: 0 65px 10px 0;
}
.home-courses-access p {
    margin: 0 65px 0 0;
}
.home-courses-access .graphic {
    float: right;
}

.gsf-dropdown-filter > .btn:first-child {
    text-align: right;
}

.gsf-dropdown-filter > .btn:first-child #gsf-label-name{
	float: right;
}
.gsf-dropdown-filter > .btn:first-child #gsf-catalog-name {
    float: right;
}
.gsf-dropdown-filter .btn .caret {
    float: left;
}
.gsf-dropdown-filter .dropdown-menu .item-text {
    border-left: 0;
    border-right: 10px solid #ffffff;
}
.gsf-dropdown-filter.gsf-dropdown-noborder .dropdown-menu .item-text {
    border-right: none;
}
.mycourses-blank-slate-container {
    transform: scaleX(-1);
}
.mycourses-blank-slate-container h2,
.mycourses-blank-slate-container p {
    transform: scaleX(-1);
}
.course-details-modal {
    margin-left: auto;
    margin-right: -432px;
}
.login.modal {
    margin-left: auto;
    margin-right: -218px !important;
}
.login.modal .control-group .control-label {
    text-align: left;
}

.lostdata.modal {
    margin-left: auto;
    margin-right: -218px !important;
}
.lostdata.modal .control-group .control-label {
    text-align: right;
}
.register.modal {
    margin-left: auto;
    margin-right: -260px !important;
}
.register.modal .control-group .control-label {
    text-align: right;
}
.register.modal .control-group .control-label {
    text-align: right;
}
.checkout-wrapper .remove-position {
    margin-left: auto;
    margin-right: 10px;
}
.checkout-wrapper td.total {
    text-align: left;
    padding: 0 0 0 8px;
}
.checkout-wrapper a.btn-continue,
.checkout-wrapper a.btn-buy-now {
    margin-left: auto;
    margin-right: 10px;
}
.checkout-wrapper td.sum {
    text-align: left;
}
ul.thumbnails.fixed.tiles {
    float: right;
    margin-left: auto;
    margin-right: -12px;
}
ul.thumbnails.fixed.tiles a.tile,
ul.thumbnails.fixed.tiles > li {
    float: right;
    margin-left: auto;
    margin-right: 10px;
}
.tile {
    margin-left: auto;
    margin-right: 15px;
    float: right;
}
.row-fluid .tile:first-child {
    margin-left: auto;
    margin-right: 0;
}
.tile.cover .right-arrow {
    right: auto;
    left: 20px;
    background: url('../images/tile/icon-left-arrow-white-large.png') 0px 0px no-repeat;
}
.tile.cover .image-wrapper {
    left: auto;
    right: 20px;
}
.tile.app .hover {
    left: auto;
    right: 0;
}
.tile.app:hover .hover {
    right: 0;
    left: auto;
}
.tile.course .tile-content {
    left: auto;
    right: 0;
}
.tile.course:hover .tile-content {
    top: 0;
}
.tile.course .course-action-locked {
    text-align: right;
    padding: 5px 52px 5px 5px;
}
.tile.course .course-info span {
    float: right;
    margin-left: auto;
    margin-right: 5%;
}
.tile.course .course-info-time {
    padding-left: 0;
    padding-right: 26px;
}
.tile.course .course-info-progress {
    padding-left: 0;
    padding-right: 26px;
	background-position: right center;
}
.tile.course .course-info-role {
    padding-left: 0;
    padding-right: 26px;
}
.tile.course .course-info-category {
    padding-left: 0;
    padding-right: 26px;
	background-position: right center;
}
.btn-buy-apps-cart span.cart-icon {
    margin: 0 12px 0 8px;
}
.btn-buy-apps-cart span.count-items {
    left: auto;
    right: 2px;
}
.metro.modal.wide {
    margin-left: auto;
    margin-right: -400px;
}
.metro.modal .modal-header .close {
    left: auto;
    right: 0;
}
.metro.modal.wide .modal-header h3 {
    padding-right: 0;
}
.app-details.modal .before-confirm-btn-container {
    float: left;
    margin: 0 20px 20px 0;
}
.app-details.modal .icon-ok {
    margin-left: auto;
    margin-right: 8px;
}
.app-details.modal .credit-card-image-wrapper {
    padding-left: 0;
    padding-right: 60px;
}
.app-details.modal .trial-expiration-notice {
    float: left;
}
.register-policy {
    padding-left: 0;
    padding-right: 20px;
}
.register-footer {
    padding-right: 0;
    padding-left: 20px;
}
.switch_interface_dialog {
    margin-left: auto;
    margin-right: -340px;
    right: 0;
}
.interface_wrapper .gray_line {
    left: auto;
    right: 0;
}
.interface_wrapper .gray_vertical {
    left: auto;
    right: 0;
}
.interface_wrapper .features_listing {
    margin-left: 10%;
    margin-right: 15%;
}
.feature_wrapper .feature_img {
    margin-right: auto;
    margin-left: 10px;
}
.switch_interface_buttons .switch_button_wrapper {
    float: right;
}
.switch_button_wrapper .check_img {
    margin-right: auto;
    margin-left: 10px;
}
#support-form h4.tutorials,
#support-form h4.manuals {
    padding: 10px 28px 4px 0;
}
#subscriptionUpgradeModal {
    margin-left: auto;
    margin-right: -265px;
}
#subscriptionUpgradeModal .modal-header {
    text-align: right;
}
#subscriptionUpgradeModal .modal-body .action-text {
    padding-right: 15px;
    padding-left: 5px;
    text-align: left;
}
.addcourse_thumb > input[type="file"] {
    right: auto;
    left: 0;
}
.scrollright img, .scrollleft img {
    padding-left: 0;
    padding-right: 20px;
}
.top-label-text {
    margin-left: auto;
    margin-right: 100px;
}
a.external {
    padding-right: 0;
    padding-left: 13px;
}
.trial-ext-content .btn-extend-trial > i {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}
.trial-ext-content .btn-buy > i {
    float: right;
    margin-right: auto;
    margin-left: 10px;
}
.trial-ext-content .btn-contact > i {
    float: right;
}
.trial-extended-modal {
    margin-left: auto;
    margin-right: -193px;
}
.app-link-read-manual {
    float: left;
    padding: 7px 53px 7px 27px;
}
.app-download-manual-info {
    float: left;
    margin: 5px 0 5px 10px;
    text-align: left;
}
[id^="conf-grid-view"].grid-view table.items th {
    text-align: right !important;
}
.callouts-wrapper {
    right: 0;
    left: auto;
}
.callouts-wrapper .message:after, .callouts-wrapper .message:before {
    right: 0;
    left: auto;
}
.callouts-wrapper .message:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFF;
    right: 0;
    left: auto;
}
.callouts-wrapper .message:before {
    border-color: rgba(204, 204, 204, 0);
    border-left-color: #CCC;
    right: 0;
    left: auto;
}
.callouts-wrapper .message .content {
    margin-right: auto;
    margin-left: 22px;
}
.callouts-wrapper.btn-generic .message .content {
    margin-left: auto;
    margin-right: 38px;
}
ul.thumbnails.fluid.comfort {
    margin-left: auto;
    margin-right: -2.40384615384615%;
}
ul.thumbnails.fluid.comfort > li {
    margin-left: auto;
    margin-right: 2.40384615384615%;
}
ul.thumbnails.fluid.cozy {
    margin-left: auto;
    margin-right: -1.21654501216545%;
}

ul.thumbnails.fluid.cozy > li {
    margin-left: auto;
    margin-right: 1.21654501216545%;
}
ul.thumbnails.fluid.compact {
    margin-left: auto;
    margin-right: -0.408830744071954%;
}
ul.thumbnails.fluid.compact > li {
    margin-left: auto;
    margin-right: 0.408830744071954%;
}
ul.thumbnails.fluid.nospace {
    margin-left: auto;
    margin-right: 0;
}
ul.thumbnails.fluid.nospace > li {
    margin-left: auto;
    margin-right: 0;
}
.enable-five-grid [class*="span"] {
    float: right;
    margin-left: auto;
    margin-right: 5px;
}
.enable-five-grid .row-fluid [class*="span"] {
    float: right;
    margin-left: auto;
    margin-right: 0.5319148936170213%;
    *margin-left: auto;
    *margin-right: 0.4787234042553191%;
}
.enable-five-grid .row-fluid [class*="span"]:first-child {
    margin-left: auto;
    margin-right: 0;
}
.enable-five-grid .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: auto;
    margin-right: 0.5319148936170213%;
}
.enable-five-grid .row-fluid .offset5 {
    margin-left: auto;
    margin-right: 101.06382978723404%;
    *margin-left: auto;
    *margin-right: 100.95744680851062%;
}
.enable-five-grid .row-fluid .offset5:first-child {
    margin-left: auto;
    margin-right: 100.53191489361703%;
    *margin-left: auto;
    *margin-right: 100.42553191489361%;
}
.enable-five-grid .row-fluid .offset4 {
    margin-left: auto;
    margin-right: 80.95744680851064%;
    *margin-left: auto;
    *margin-right: 80.85106382978722%;
}
.enable-five-grid .row-fluid .offset4:first-child {
    margin-left: auto;
    margin-right: 80.42553191489363%;
    *margin-left: auto;
    *margin-right: 80.31914893617021%;
}
.enable-five-grid .row-fluid .offset3 {
    margin-left: auto;
    margin-right: 60.85106382978723%;
    *margin-left: auto;
    *margin-right: 60.744680851063826%;
}
.enable-five-grid .row-fluid .offset3:first-child {
    margin-left: auto;
    margin-right: 60.31914893617021%;
    *margin-left: auto;
    *margin-right: 60.212765957446805%;
}
.enable-five-grid .row-fluid .offset2 {
    margin-left: auto;
    margin-right: 40.744680851063826%;
    *margin-left: auto;
    *margin-right: 40.638297872340424%;
}
.enable-five-grid .row-fluid .offset2:first-child {
    margin-left: auto;
    margin-right: 40.212765957446805%;
    *margin-left: auto;
    *margin-right: 40.1063829787234%;
}
.enable-five-grid .row-fluid .offset1 {
    margin-left: auto;
    margin-right: 20.638297872340424%;
    *margin-left: auto;
    *margin-right: 20.53191489361702%;
}
.enable-five-grid .row-fluid .offset1:first-child {
    margin-left: auto;
    margin-right: 20.106382978723403%;
    *margin-left: auto;
    *margin-right: 20%;
}
.inline-edit-panel .content .buttons {
    text-align: left;
}
.docebo-bug-report {
    margin-left:auto;
    margin-right: 10px;
}
.bug-report {
    right: auto;
    left: 14px;
}
#userFormTab li{
    width: 100%;
}
#player-manage-add-lo-button .dropdown-menu li span{
	margin-right: 0;
}
/* End of CSS overwrite from base.css */

/* Beginning of CSS overwrite from base.css (player Yii module) */
#player-courseheader-container .course-header-logo {
	float: right;
	margin-right: auto;
	margin-left: 14px;
}
#player-manage-mode-selector {
	float: left;
	text-align: left;
}
#player-arena-launchpad .player-launchpad-header .player-close {
	left: 0;
	right: auto;
	padding-right: 0;
	padding-left: 40px;
	background-position: 0% 50%;
}
#player-arena-launchpad .player-launchpad-content .player-launchpad-empty .player-launchpad-header h2 {
	right: auto;
	left: 2px;
}
#player-arena-launchpad .player-launchpad-big-blue-play {
	left: auto;
	right: 50%;
	margin-left: auto;
	margin-right: -50px;
}
.start-test-button {
	float: left;
}
.fancybox-docebo-title {
	left: auto;
	right: 0;
}
.fancybox-docebo-title span {
	padding-left:0;
	padding-right: 12px;
}
.fancybox-docebo-close {
	right: auto;
	left: 10px;
	padding-right: 0;
	padding-left: 40px;
    background-position: 0% 50%;
}
#player-quicknav-carousel .carousel-control {
	right: 0;
	left: auto;
}
#player-quicknav-carousel .carousel-control.right {
	right: auto;
	left: 0;
	text-align: left;
}
#player-quicknav-carousel .player-quicknav-object .object-data {
	text-align: right;
}
#player-manage-add-lo-button .dropdown-menu:before {
	right: auto;
	left: 9px;
}
#player-manage-add-lo-button .dropdown-menu:after {
	right: auto;
	left: 10px;
}
#player-manage-add-lo-button .hint-ico {
	margin-right: auto;
	margin-left: 10px;
}
#player-manage-add-lo-button .dropdown-menu li span {
	padding-left:0;
	padding-right: 5px;
}
#player-manage-add-lo-button .add-lo-type-description a {
	padding-left: 0;
	padding-right: 8px;
}
#player-manage-add-lo-button .dropdown-menu li span.new-label{
	margin-right: auto;
	margin-left: 7px;
}
#player-arena-overall-folders{
	border-right: 0;
	border-left: 1px solid #E4E6E5;
}
#player-arena-overall-objlist{
	padding-right: 0;
	padding-left: 14px;
}
#player-arena-overall-objlist .player-prefix span.i-sprite,
#player-arena-overall-objlist .player-prefix span.p-sprite{
	margin-right:auto;
	margin-left: 10px;
}
#player-arena-overall-objlist .player-postfix{
	float: left;
}
#player-arena-overall-objlist .player-postfix span.i-sprite,
#player-arena-overall-objlist .player-postfix span.p-sprite{
	margin-left:auto;
	margin-right: 10px;
}
#player-arena-overall-objlist .player-postfix .btn-group{
	margin-left:auto;
	margin-right: 10px;
}
#player-arena-overall-objlist .dropdown-menu:before {
	right: auto;
	left: 8px;
}
#player-arena-overall-objlist .dropdown-menu:after {
	right: auto;
	left: 9px;
}
#player-arena-overall-objlist .player-postfix .dropdown-menu>li>a span.i-sprite,
#player-arena-overall-objlist .player-postfix .dropdown-menu>li>a span.p-sprite{
	margin:0 0 0 2px;
}
ul.test-bootcamp li {
	float: right;
	margin-right: auto;
	margin-left: 11px;
}
ul.test-bootcamp li:last-child {
	margin-right: auto;
	margin-left: 0;
}
ul.test-bootcamp li.helper a {
	text-align: right;
}
ul.test-bootcamp li.helper a .i-sprite {
	float: right;
	margin-right: auto;
	margin-left: 5px;
}
.report-test-select-columns {
	float: left;
	margin-left: auto;
	margin-right: 5px;
}
.test-report-column {
	float: right;
	clear: right;
}
.test-report-column input {
	float: right;
	clear: right;
}
.test-report-column label {
	float: right;
}
.test-report-column-title {
	float: right;
}
.test-details-print {
	float: right;
}
.test-details-scores-box {
	float: left;
}
.test-details-scores-box .final-score {
	float: left;
}
.test-details-scores-box .final-score .p-sprite{
	float: left;
}
.test-details-scores-box .final-score strong {
	float: left;
}
.test-details-scores-box .final-score span {
	float: left;
}
.test-details-scores-box .score-increase {
	float: left;
}
.test-details-grey-box {
	float: right;
}
.test-details-white-box {
	float: right;
}
.test-details-question-answers {
	padding-left: 0;
	padding-right: 10px;
}
.test-details-question-answers input {
	margin-right: auto;
	margin-left: 10px;
}
.test-details-question-answers .p-sprite {
	margin-right: auto;
	margin-left: 5px;
}
.test-answer-spare-icon {
	float: right;
	margin-right: auto;
	margin-left: 5px;
}
.correct-answer-label {
	margin: 5px 10px 0px 0;
}
.test-details-type-title span {
	margin: 0px 20px 10px 0;
	float: right;
}
.test-play-container .answers-container p
{
	margin: 0 0 9px;
}
.report-ajax-title {
	margin: -34px 60px 20px 0;
}
.table-hover tbody tr > td .action > * {
	margin-right: auto;
	margin-left: 4px;
}
.player-block-courseinfo .avatar{
	margin-right:auto;
	margin-left: 8px;
}
#player-certificate-info{
	margin-right: auto;
	margin-left: 8px;
}
#player-course-percentgraph #player-course-percentage {
	right: auto;
	left: 12px;
}
.player-coursedocs-block td.coursedoc-info {
	padding-right: 0;
}
.player-videoconf-block .nav-tabs>li>a {
	margin-right: auto;
	margin-left: 10px;
}
.player-videoconf-block #videoconf-history-list li .dropdown-div,
.player-videoconf-block #videoconf-scheduled-list li .dropdown-div,
.player-videoconf-block #videoconf-onair-list li .dropdown-div {
	right: auto;
	left: 10px;
	text-align: right;
}
.player-comments-block-discussion .comments-container:after {
	left: auto;
	right: 10%;
	margin-left: auto;
	margin-right: -8px;
}
#timeline-custom-navigation  {
	margin-right: auto;
	margin-left: -13px;
}
#timeline-custom-navigation .timeline-navigation {
	right: auto;
	left: 0;
}
#availableSearchLinks {
	float: left;
}
#availableSearchLinks a {
	float: right;
}
.player-search-form {
	margin: 5px 0px 0px 10px;
	float: left;
}
.player-search-form input[type="text"] {
	border-left: 0;
	border-right: 1px solid #e4e6e5;
	float: left;
}
.player-search-form input[type="button"] {
	border-right: 0;
	border-left: 1px solid #e4e6e5;
	float: left;
	margin-left: auto;
	margin-left: -1px;
}
.player-grey-box {
	float: right;
}
.player-grey-box-separator {
	margin-left: auto;
	margin-right: 5%;
	float: right;
	clear: right;
}
#reports-left-back {
	float: right;
}
#reports-left-stats {
	float: right;
}
#reports-left-stats ul li span {
	float: left;
}
#reports-grid-title {
	float: right;
	clear: right;
}
.gauges-general-stats .gauge {
	float: right;
}
#report-navigation {
	float: right;
}
#report-export label {
	float: right;
}
#report-export select {
	float: right;
}
#report-export a {
	float: right;
}
.report-nav-btn {
	float: right;
}
.report-nav-btn.active .report-nav-arrow {
	float: right;
}
.report-object-status .completed {
	float: right;
}
.report-object-status .attempted {
	float: right;
}
.report-object-status .init-state {
	float: right;
}
.player-stats-icon {
	float: right;
	clear: right;
}
.player-stats-info {
	float: right;
}
.player-stats-info strong {
	float: right;
}
.player-stats-info span {
	float: right;
	clear: right;
}
.player-stats-icon-box {
	text-align: left;
	padding-right: 0;
	padding-left: 5px;
}
.poll-chart-bar {
	float: right;
	clear: right;
}
.poll-chart-bar-count {
	text-align: left;
	float: left;
	padding-right: 0;
	padding-left: 5px;
}
.poll-chart-bar-arrow {
	float: left;
}
.poll-chart-bar-inner-title {
	float: right;
}
.poll-text-answer {
	float: right;
}
.poll-participants-count {
	float: left;
	margin: 10px 0px 14px 20px;
}
.list-view .pager
{
	text-align: left;
}
.compact-pager {
	text-align: left;
}
.compact-pager .last {
	margin-right: auto;
	margin-left: 8px;
}
.coursesetting-wrapper .coursesetting-sidebar {
	left:auto;
	right: 0;
}
.coursesetting-sidebar li a .i-sprite {
	margin-right: auto;
	margin-left: 6px;
}
.coursesetting-wrapper .coursesetting-main {
	margin-left: auto;
	margin-right: 200px;
}
.coursesetting-wrapper .coursesetting-content {
	padding-left: 0;
	padding-right: 15px;
}
.coursesetting-button{
	padding-left:0;
	padding-right: 15px;
}
.title-bold.back-button a{
	padding: 2px 12px 3px 7px;
	margin-right: auto;
	margin-left: 5px;
}
.row-fluid.no-space [class*="span"] {
	margin-left: auto;
	margin-right: 0;
}
.user-report-avatar {
	float: right;
}
.user-report-search {
	float: right;
}
.user-report-button {
	float: right;
}
#user_names {
	float: right;
	margin-right: auto;
	margin-left: 5px;
}
.user-report-search label {
	float: right;
	margin: 3px 10px 0px 5px;
}
.report-ajax-loader {
	margin-left: auto;
	margin-right: 49%;
	float: right;
	clear: right;
}
.lo-editable {
	float: right;
}
/* End of CSS overwrite from base.css (player Yii module) */

/* Beginning of CSS overwrite from menu.css */
#help-desk-request .form-element input[type="radio"]{
	display: none;
}
.menu-spacer {
    margin-left: auto;
    margin-right: 80px;
}
.menu {
    left: auto;
    right: 0;
}
.menu.animate ul.menu-square .tile {
    /*left:auto;*/
    /*right: -80px;*/
}
.menu ul.menu-square .tile.active:after {
    right: auto;
    left: 0;
    border-left: 10px solid #f9f9f9;
    border-right: 0px solid transparent;
}
.second-menu {
    left: auto;
    right: 80px;
}
.menu.new-menu .second-menu {
    left: auto;
    right: 50px;
}

.menu i.menu-vertical {
    left: auto;
    right: 0;
}

#language .selected {
	background-position: 5% 50%;
}


i.home-ico {
    margin-right: auto;
    margin-left: 6px;
}
.notifications h2 {
    padding: 0 38px 0 0;
}
.notifications .item {
    margin: 0 10px 24px 0;
}
.notifications .item .label {
    margin: 3px 0 0 10px;
    float: left;
}
#admin.second-menu ul a {
    padding: 0 22px 0 0;
}
.admin-apps {
    margin-left: auto;
    margin-right: 22px;
}
#admin.second-menu .admin-apps ul a {
    padding: 0 33px 0 0;
}
.menu-helpdesk-search div.search input {
    padding-right: 0;
    padding-left: 28px;
}
.menu-helpdesk-search div.search .i-sprite {
    right: auto;
    left: 2px;
}
.menu-helpdesk-search ul > li > span {
    float: left;
}
.menu-helpdesk-search .help-desk-gotomarket{
    margin-right: auto;
    margin-left: 10px;
}
#mainMenuUsername {
    float: left;
}
/* End of CSS overwrite from menu.css */
.row{
	margin-right: auto; /* Unneeded overwrite by bootstrap.rtl.css */
}
/* Beginning CSS overwrite from testpoll.css */
.l-testpoll {}
.l-testpoll .form-actions {
	text-align: left;
}
.l-testpoll .form-actions > input,
.l-testpoll .form-actions > a {
	margin-left: auto;
	margin-right: 10px;
}
.l-testpoll a.btn-submit-test {
	padding: 0 10px 0 15px;
	text-align: right;
}
.l-testpoll a.btn-submit-test .i-sprite {
	margin: 7px 0 0 5px;
}
.l-testpoll .subtitle .help {
	padding-left: 0;
	padding-right: 44px;
}
.l-testpoll .subtitle .help .i-sprite {
	left: auto;
	right: 0;
}
.l-testpoll ul.test-tabs > li > a {
	padding: 10px 40px 10px 10px;
}
.l-testpoll ul.test-tabs > li > a > i {
	left: auto;
	right: 10px;
}
.l-testpoll .block-header {
	float: right;
}
.l-testpoll .block-content {
	margin-left: auto;
	margin-right: 150px;
}
.l-testpoll .block.no-padding {
	padding: 15px 10px 0 0;
}
.l-testpoll .block.no-padding .block-header {
	padding-left: 0;
	padding-right: 20px;
}
.l-testpoll form label input[type="radio"] {
	margin-right: auto;
	margin-left: 5px;
}
.l-testpoll form label input[type="checkbox"] {
	margin-right: auto;
	margin-left: 5px;
}
.l-testpoll table.play-question td.question-index {
	text-align: left;
	padding-right: 0;
	padding-left: 5px;
}
.l-testpoll .question-title-container {
	text-align: right;
}
/* End of CSS overwrite from testpoll.css */

/* Start of CSS overwrite from gamification.css */

.gamification-save-leaderboard-msg-container p {
    float:right;
    display: inline-block;
    padding-bottom: 10px;
}
.gamification-save-leaderboard-btn-container {
    text-align: left !important;
}

.gamification-mybadges-tabs .badge-spotlight-title {
    padding-bottom: 16px;

}

.gamification-mybadges-tabs .badge-spotlight .inner {
    margin-right: 70px;
    margin-left: 0;
}

.nav-tabs>li, .nav-pills>li {
    float: none !important;
}
.tab-content .badge-spotlight .badge-spotlight-title > span.pull-right {
    direction:ltr;
}
.gamification-sprite {
    margin-top: -6px;
}
.rightToLeftCustom {
    width: auto !important;
    position: relative !important;
    margin-left: 0px !important;
    margin-right: 220px;
    display:block;
}

.rightToLeftCustom .chart-counter {
    float: right !important;
}

.rightToLeftCustom .chart-avatar {
    float: right !important;
}

.rightToLeftCustom .chart-user {
    right: 110px !important;
    left: 0 !important;
}

.rightToLeftCustom .chart-user > .chart-user-points {
    float: left !important;
    margin-left: 5px !important;
}

.w-mycourses .course-tile .course-logo .thumb {
    float: right;
}

.w-mycourses .course-tile .course-logo .course-action {
    right: inherit;
    left: 0;
}

.w-mycourses .course-tile .course-logo .course-name {
    margin: 0 70px 0 0;
    text-align: right;
}

.w-mycourses .course-tile .course-info {
    padding: 20px 70px 5px 0;
}

.w-mycourses .course-list .course-tile .course-tag {
	white-space: nowrap
}

.w-mycourses-label .label-title {
    padding-right: 60px;
}

.w-mycourses-label .label-icon {
    float: right;
}

.w-mycourses-label .description{
    padding-right:60px !important;
}

.w-mycourses .course-list.tb .course-info .extra-course-info {
    float: left;
}

.catalog-with-sidebar .course-list.tb.full{
    float:left !important;
}

.catalog-with-sidebar .catalog-left-sidebar{
    float:right !important;
}

#social_rating_course.fixed_rating.thumb{
    width: auto !important;
}

.catalog-left-sidebar .fancytree-node.fancytree-expanded.fancytree-folder.fancytree-has-children + ul {
    margin-right: 10px;
    margin-left: 0;
}

#admin.second-menu {
    padding-right: 50px!important;
    padding-left: 0px!important;
}

#view_switch .mycalendar-btn-std {
	background-image: none;
}

.dl-content .knob-row .span6{
	margin-right: 0px;
	direction: ltr;
}

.mykpis-block .knob-holder {
	direction: ltr;
}

.knob-holder {
	margin-left: 10px;
	margin-right: 0px;
}

.modal.users-selector {
	margin: 0 -480px 0 0px;
}
.tab-content {
	display: block;
	width: inherit;
}
.users-selector .tab-content > div.tab-pane {
	padding: 0px 5px 5px 0px;
}
.users-selector .filter-wrapper input[type="text"][name="search_input"] {
	left: 5px;
	right: auto;
	padding: 0px 8px 0px 50px;
}
.users-selector .grid-search-clear {
	left: 37px;
	right: auto;
}
.users-selector .filter-wrapper span.is-search {
	left: 15px;
	right: auto;
}
.users-selector #orgchart input.orgchart-filter-input {
	left: 7px;
	right: auto;
	padding: 4px 4px 4px 22px;
}
.users-selector #orgchart .filter-clear-button {
	left: 12px;
	right: auto;
}
.radio span.jq-radio,
.checkbox span.jq-checkbox {
	margin-left: 6px;
	margin-right: -20px;
    float: right;
}
.datepicker.dropdown-menu {
	right: auto;
}
.icon-create-new-report {
	margin-left: 12px;
	margin-right: auto;
}

.myapps-container .sidebarred .sidebar{
    float:right;
}
.myapps-container .sidebarred .main{
    margin-right: 200px !important;
    margin-left:0 !important;
}

.myapps-container .sidebarred .myappsitem.category span{
    left: auto;
    right: 0px !important;
}

.myapps-container .sidebarred .myapps.category.tiles.myappsitem span{
    right: 8px !important;
}

.myapps-container .sidebarred .myappsitem.category{
    padding-right: 55px !important;
    padding-left: 10px !important;
}

.myapps-container .tab-content .cover-title,
.myapps-container .tab-content .promoted-apps-header,
.myapps-container .tab-content .content-title{
    margin-right: 10px !important;
}

.catalog-categories-tree-container span.p-sprite.is-folder.opened
{
	background-position: -519px -477px;
}

.catalog-categories-tree-container span.p-sprite.is-folder.closed
{
	background-position: -476px -477px;
}

#admin-list #apps-menu {
    margin-right: 0 !important;
    float: left !important;
}

.swiper-container-rtl .swiper-button-next {
    background-image: none !important;
}

.swiper-container-rtl .swiper-button-next .fa-angle-right::before {
    content: "\f104" !important;
}

.swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
}

.swiper-container-rtl .swiper-button-prev .fa-angle-left::before {
    content: "\f105" !important;
}

.widget-channels-functions .swiper-button-next {
    right: auto !important;
}
.multidomain-client-settings .setting-row > div[class^="span"]   {
	padding: 15px 30px 15px 0px;
}
.multidomain-client-settings .tab-pane {
	padding-left: 0;
	padding-right: 10px;
}
.multidomain-client-settings .tab-content {
	margin-left: 0;
	margin-right: 200px;
	display: block;
	width: initial;
}
.multidomain-client-settings .setting-name {
	float: right;
	margin: 0;
}
.multidomain-client-settings .setting-value {
	float: right;
	margin: 0;
	padding-right: 0;
	padding-left: 5px;
}
.final-tabs .tab-content{
	margin-left: 0!important;
	margin-right: 200px;
}

.course-due-container span.course-due-icon {
    float: right;
    position: relative;
    margin-left: 10px;
}

ul.yiiPager .next {
    background: url('../images/pager_previous.png') center no-repeat #efefef !important;
}

ul.yiiPager .previous {
    background: url('../images/pager_next.png') center no-repeat #efefef !important;
}

.jspVerticalBar
{
    right: auto !important;
    left: 0 !important;
}

.curricula-view .items .item .course-type {
    right: auto !important;
    left: 125px;
}

.curricula-view .items .item .course-type i {
    margin-left: 0px !important;
    margin-right: 10px;
}

#curricula-course-list .manage-plan-course-pu-seats {
    right: auto !important;
    left: 240px;
}

.manage-plan-course-pu-seats .maxAvailable {
    margin-left: 0px !important;
    margin-right: 12px;
}