.activation-screen {
}

.activation-screen > h1 {
	font-size: 38px;
	line-height: 1em;
	margin-bottom: 14px;
	color: #333;
}

.activation-screen > h3 {
	font-size: 18px;
	line-height: 1em;
	color: #333;
}

.activation-screen p.error,
.activation-screen p.success {
	font-size: 14px;
	color: #FFF;
	padding: 7px 10px;
	margin-bottom: 10px;
	text-align: center;
}

.activation-screen p.error {
	background: #FE2725;
}

.activation-screen p.success {
	background: #58B458;
}

#setup-form {
	margin: 40px 0;
}

.activation-screen .setup-row {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	padding: 1px 0;
	margin-bottom: 20px;
	position: relative;
}

.row-fluid .setup-row-header {
	background: #F1F3F2;
	padding: 20px 20px 20px 56px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
}

.setup-row-header:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.setup-row-header:after {
	border-color: 18px rgba(241, 243, 242, 0);
	border-left-color: #F1F3F2;
	top: 50%;
	margin-top: -18px;
}

.setup-row-header .help-signin {
	line-height: 21px;
	margin-top: 14px;
	display: block;
	cursor: pointer;
}

.setup-row-header .help-signin i {
	display: inline-block;
	width: 22px;
	height: 21px;
	background: url(../images/icons_elements.png) 0 -229px no-repeat;
	vertical-align: bottom;
}

.setup-row-header .help-signin img {
	display: none;
	margin-top: 20px;
}

.setup-row-header .help-signin:hover img {
	display: block;
}

.setup-row-header .help-signin i:hover {

}

.setup-row-header i.step-number {
	display: block;
	background: #0465AC;
	width: 40px;
	line-height: 40px;
	font-size: 34px;
	font-style: normal;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	position: absolute;
	top: 20px;
	left: 0;
}

.setup-row-header h3 {
	color: #0465AC;
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 6px;
}

.setup-row-header small {
	color: #667;
}

.setup-row-content {
	padding: 20px 0px 20px 30px;
}

.setup-row-content.no-bottom-padding {
	padding-bottom: 0;
}

.setup-row-content small {
	color: #667;
	font-size: 11px;
	display: block;
	float: left;
	margin-left: 20px;
}

.logo-preview-container,
.loginimage-preview-container {
	border: 1px solid #E5E5E5;
	text-align: center;
	padding: 10px;
}

.logo-upload-container {
	padding-top: 15px;
}

.default-bg-container {
}

.default-bg-container > h3 {
	color: #333;
	font-size: 20px;
	line-height: 1em;
	margin: 22px 0;
}

.default-bg-container .carousel-inner {
	margin: 0 14px;
}

.default-bg-container .carousel-inner .item.active {
	text-align: left !important;
}

.default-bg-container .carousel-inner {
	text-align: left !important;
}

.default-bg-container .carousel-control {
	height: 20px;
	width: 13px;
	line-height: 100px;
	overflow: hidden;
	border: none;
	border-radius: 0;
	top: 50%;
	margin-top: -10px;
}

.default-bg-container .carousel-control.left,
.default-bg-container .carousel-control.left:hover,
.default-bg-container .carousel-control.left:focus {
	background: url(../images/icons_elements.png) -288px -204px no-repeat;
	opacity: 1;
	margin-left: -24px;
}

.default-bg-container .carousel-control.right,
.default-bg-container .carousel-control.right:hover,
.default-bg-container .carousel-control.right:focus {
	background: url(../images/icons_elements.png) -308px -204px no-repeat;
	opacity: 1;
	margin-right: -5px;
}

.default-bg-container .carousel-inner .item .sub-item,
.default-bg-container .carousel-inner .item .upload,
.default-bg-container .carousel-inner .item .upload:hover {
	margin: 5px 4px;
}

#setup-form .default-bg-container .item .sub-item:hover {
	width: 189px;
}

ul.setup-color-schemes {
}

ul.setup-color-schemes > li {
	float: left;
	margin: 0 50px 20px 0;
}

ul.setup-color-schemes > li:last-child {
	margin: 0;
}

ul.setup-color-schemes > li > label {
	padding: 0;
	border: 4px solid #FFF;
	position: relative;
}

ul.setup-color-schemes input[type="radio"] {
	display: none;
}

ul.setup-color-schemes .palette {
	border: 1px solid #e4e6e5;
	padding: 1px;
}

ul.setup-color-schemes label:hover,
ul.setup-color-schemes label.checked {
	border: 4px solid #53ab53;
}

ul.setup-color-schemes div.hover {
	display: none;
	position: absolute;
	top: 129px;
	left: 26px;
	width: 243px;
	z-index: 30;
}

ul.setup-color-schemes div.hover .arrow_box {
	position: relative;
	background: #F1F3F2;
	border: 1px solid #E6E6E6;
}

ul.setup-color-schemes div.hover .arrow_box:after,
ul.setup-color-schemes div.hover .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

ul.setup-color-schemes div.hover .arrow_box:after {
	border: 10px rgba(241, 243, 242, 0);
	border-bottom-color: #F1F3F2;
	left: 20px;
	margin-left: -10px;
}

ul.setup-color-schemes div.hover .arrow_box:before {
	border: 11px rgba(230, 230, 230, 0);
	border-bottom-color: #e6e6e6;
	left: 20px;
	margin-left: -11px;
}

ul.setup-color-schemes label:hover div.hover {
	display: block;
}

ul.setup-color-schemes label.checked .check-mark {
	display: block;
}

ul.setup-color-schemes label .check-mark {
	display: none;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 29px;
	height: 23px;
	margin-left: -15px;
	background: url('../images/setup/icon-check-mark-white-large.png');
	z-index: 20;
}

ul.setup-color-schemes .palette .primary {
	width: 90px;
	height: 90px;
}

ul.setup-color-schemes .palette .secondary {
	margin-top: 1px;
}

ul.setup-color-schemes .palette .secondary > div {
	float: left;
	width: 29px;
	height: 29px;
	margin-right: 1px;
}

ul.setup-color-schemes .palette .secondary > div:last-child {
	margin: 0;
	width: 30px;
}

#setup-info-form {
}

.activation-screen .setup-box .title h3 {
	color: #333;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 5px;
}

.activation-screen .setup-box .title h3 small {
	color: #333;
	font-size: 13px;
}

.activation-screen #setup-logo-box #logo-preview {
	float: left;
	width: 115px;
	height: 85px;
}

.activation-screen #setup-logo-box #logo-preview .inner {
	min-width: 100px;
	min-height: 100px;
	background: #CCC;
	text-align: center;
}

.activation-screen #setup-logo-box #logo-preview .inner img {
	margin: 5px;
}

.activation-screen #setup-logo-box .fileinput-button {
	margin-left: 10px;
}

.activation-screen #setup-logo-box .fileinput-button p.help-text {
	clear: both;

}

.activation-screen p.error,
.activation-screen p.success {
	font-size: 14px;
	color: #FFF;
	padding: 7px 10px;
	margin-bottom: 10px;
	text-align: center;
}

.activation-screen p.error {
	background: #FE2725;
}

.activation-screen p.success {
	background: #58B458;
}

.activation-screen #setup-info-form .form-body {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	padding: 20px;
	background: #F1F3F2;
	color: #333;
	margin: 5px 0px 20px 3px;
}

.activation-screen #setup-info-form .required-info {
	text-align: right;
	margin-bottom: 10px;
}

.activation-screen #setup-info-form .form-body .inner {
	width: 85%;
	margin: 0 auto;
}

.activation-screen #setup-info-form .form-body .inner input[type="text"],
.activation-screen #setup-info-form .form-body .inner select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	font-size: 20px;
	height: 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.activation-screen #setup-info-form .form-body .inner input[type="text"] {
	padding: 0 10px;
}

.activation-screen #setup-info-form .form-body .inner select {
}

.activation-screen #setup-info-form .form-body .inner .row-fluid {
	margin-bottom: 30px;
	position: relative;
}

.activation-screen #setup-info-form .form-body .inner .row-fluid:last-child {
	margin-bottom: 12px;
}

.activation-screen #setup-info-form .callback-support-annotation {
	position: absolute;
	top: -74px;
	right: -180px;
	width: 152px;

	color: #0465AC;
	font-size: 26px;
	font-family: Handlee, serif;
	line-height: 32px;
	padding: 0 0 50px 20px;
	background: url(../images/setup/support_arrow.png) 0 100% no-repeat;
}

.activation-screen #setup-info-form label {
	color: #0465AC;
	font-size: 18px;
	line-height: 42px;
}

.activation-screen #setup-info-form label i {
	vertical-align: middle;
}

.activation-screen i.icon-bag {
	display: inline-block;
	background: url('../images/setup/x_icon_bag.png') center center no-repeat;
	width: 32px;
	height: 24px;
}

.activation-screen i.icon-globe {
	display: inline-block;
	background: url('../images/setup/x_icon_globe.png') center center no-repeat;
	width: 32px;
	height: 25px;
}

.activation-screen i.icon-man {
	display: inline-block;
	background: url('../images/setup/x_icon_man.png') center center no-repeat;
	width: 32px;
	height: 25px;
}

.activation-screen i.icon-phone {
	display: inline-block;
	background: url('../images/setup/x_icon_phone.png') center center no-repeat;
	width: 32px;
	height: 22px;
}

.setup-welcome-annotation {
	position: relative;
}

.activation-screen #setup-info-form .control-group {
	margin-bottom: 15px;
}

.activation-screen #setup-info-form .control-group .control-label {
	width: 214px;
	background: #333;
	color: #FFF;
	line-height: 28px;
	padding: 0 10px;
	text-align: left;
}

.activation-screen #setup-info-form .control-group .controls input[type="text"] {
	width: 291px;
	padding: 0 10px;
	height: 27px;
}

.activation-screen #setup-info-form .control-group .controls select {
	width: 313px;
}

.activation-screen.step5 .start-box {
	border: 1px solid #CCC;
	background: #F1F3F2;
	margin: 50px auto;
	position: relative;
}

.activation-screen.step5 .start-box .materials {
	padding: 10px;
	border-right: 1px solid #CCC;
	text-align: left;
	margin-right: 345px;
}

.activation-screen.step5 .start-box .materials .inner {
	position: relative;
}

.activation-screen.step5 .start-box .materials .inner .left {
	min-height: 190px;
}

.activation-screen.step5 .start-box .materials .inner .right {
	background: url('../images/setup/materials-bg.png') right top no-repeat;
	float: right;
	width: 197px;
	margin: 10px;
}

.activation-screen.step5 .start-box .materials h3 {
	font-size: 30px;
	font-weight: bold;
}

.activation-screen.step5 .start-box .materials p {
	font-size: 18px;
	font-weight: bold;
	margin-top: 55px;
}

.activation-screen.step5 .start-box .materials .btn-submit {
	margin-top: 128px;
	width: 197px;
	padding: 8px 0;
	text-align: center;
}

.activation-screen.step5 .start-box .courses {
	float: right;
	width: 324px;
	padding: 10px;
	border-left: 1px solid #FFF;
	text-align: left;
}

.activation-screen.step5 .start-box .courses h3 {
	font-size: 27px;
	font-weight: bold;
	color: #333;
}

.activation-screen.step5 .start-box .courses p {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
}

.activation-screen.step5 .start-box .courses .browse-line {
	background: url(../images/setup/browse-courses-bg.png) 0px center no-repeat;
	height: 46px;
}

.activation-screen.step5 .start-box .courses .browse-line .btn {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	float: right;
	width: 163px;
	padding: 13px 0;
}

.setup-welcome-marketplace-annotation {
	position: absolute;
	top: 0;
	left: 100px;
	display: none;
	z-index: 1000;
}

.colored-red {
	color: red;
}
