/**
 *
 * IMPORTANT: This file is DEPRECATED and NOT loaded anymore: Content moved to common.css
 *
 * DOCEBO, e-learning SAAS
 *
 * @link http://www.docebo.com/
 * @copyright Copyright &copy; 2004-2014 Docebo
 *
 */



/**
 *
 * This stylesheet contains styling for common components found in /admin and /lms
 *
 * It should be included BEFORE the specific css file of the 2 sections,
 * respectively admin.css and base.css
 */

/* When requested from Google Webfonts this font family didn't
 * provide a IE8 friendly version, so we host it locally now
 * in web-safe format
*/
@font-face {
	font-family: 'Handlee';
	src: url('../fonts/handlee-regular-webfont.eot');
	src: url('../fonts/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/handlee-regular-webfont.woff') format('woff'),
	             url('../fonts/handlee-regular-webfont.ttf') format('truetype'),
	             url('../fonts/handlee-regular-webfont.svg#handleeregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
p.nomargin{
	margin: 0;
}
.blue-text{
	color: #0465ac;
}
.green-text{
	color: #52ab52;
}
.bg-gray {
	background: #F5F5F5;
}

/*
    - fix IE9-10 box-shadow problem
    http://stackoverflow.com/questions/14703099/ie-9-and-10-box-shadow-on-resizing-element
*/
.modal:after { content: " "; }


/*
    Styles for the bootcrap's carousel
*/
.thumbnails-carousel .carousel-inner {
    width: 655px;
    margin: 0 auto;
    height: auto;
    min-height: 95px;
}
.form .carousel-inner{
    height: auto;
    min-height: 95px;
    width: 560px;
    margin: 0 auto;
}
.thumbnails-carousel .carousel-inner .item .sub-item{
    position: relative;
    background: #ffffff;
    padding: 1px;
}
.thumbnails-carousel .carousel-inner .item .sub-item.checked input[type="radio"],
.thumbnails-carousel .carousel-inner .item .sub-item.checked span.jq-radio.checked{
    display: block !important;
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0;
    opacity: 0.9;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE 5.5+*/
    -moz-opacity: 0.9; /* Mozilla 1.6- */
    -khtml-opacity: 0.9; /* Konqueror 3.1, Safari 1.1 */
}
.thumbnails-carousel .carousel-inner .item .sub-item.checked span.jq-radio.checked span{
    display: block !important;
    width: 20px !important;
    height: 18px !important;
    background: url(../images/shared/icons_elements.png) -172px -43px #ffffff no-repeat;
    border-radius:0;
    margin-top: 7px;
    margin-left: 6px;
}
.thumbnails-carousel .carousel-inner .item .sub-item,
.thumbnails-carousel .carousel-inner .item .upload,
.thumbnails-carousel .carousel-inner .item .upload:hover{
    display: inline-block;
    width:88px;
    height:88px;
    overflow: hidden;
    margin:5px 10px;
    border:1px solid #e4e6e5;
    vertical-align: middle;
}
*:first-child+html .carousel-inner .item .sub-item,
*:first-child+html .carousel-inner .item .upload,
*:first-child+html .carousel-inner .item .upload:hover{
    display: inline;
}
.thumbnails-carousel .carousel-inner .item .upload,
.thumbnails-carousel .carousel-inner .item .upload:hover,
.thumbnails-carousel .carousel-inner .item .upload.checked{
    border: 1px solid #ffffff;
}
.thumbnails-carousel .carousel-inner .item .sub-item:hover,
.thumbnails-carousel .carousel-inner .item .sub-item.checked{
    border: 4px solid #53ab53;
    cursor:pointer;
    width: 82px;
    height: 82px;
}
.thumbnails-carousel .carousel-inner .item .sub-item input[type="radio"],
.thumbnails-carousel .carousel-inner .item .sub-item span.jq-radio{
    display: none !important;
}
ol.carousel-indicators{
    display:none;
}
.modal.in .thumbnails-carousel {
    margin-bottom: 30px;
	height: 204px;
}
.modal .thumbnails-carousel .carousel-control{
    height: 20px;
    width: 13px;
    line-height: 100px;
    overflow: hidden;
    border: none;
    border-radius:0;
    top:50%;
    margin-top: -10px;
}
.modal .thumbnails-carousel .carousel-control.left,
.modal .thumbnails-carousel .carousel-control.left:hover,
.modal .thumbnails-carousel .carousel-control.left:focus{
    background: url(../images/shared/icons_elements.png) -288px -204px no-repeat;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6- */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    left:0;
}
.modal .thumbnails-carousel .carousel-control.right,
.modal .thumbnails-carousel .carousel-control.right:hover,
.modal .thumbnails-carousel .carousel-control.right:focus{
    background: url(../images/shared/icons_elements.png) -308px -204px no-repeat;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6- */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    right:0;
}

/* Branding carousel */
.branding-manage-backgrounds .carousel-inner .item .sub-item,
.branding-manage-backgrounds .carousel-inner .item .upload,
.branding-manage-backgrounds .carousel-inner .item .upload:hover{
    height: 81px;
    width: 195px;
    margin: 5px 6px;
}
.branding-manage-backgrounds .carousel-inner .item .sub-item:hover,
.branding-manage-backgrounds .carousel-inner .item .sub-item.checked{
    height: 75px;
    width: 189px;
}
.branding-manage-backgrounds .modal-body{
    padding-bottom: 0;
}
.branding-manage-backgrounds .carousel{
    margin-bottom: 0;
}

/* Course settings carousel */
.coursesetting-content .carousel {
    text-align: center;
}
.coursesetting-content .carousel-inner {
    width: auto;
}
.coursesetting-content .carousel-inner .item .sub-item,
.coursesetting-content .carousel-inner .item .upload,
.coursesetting-content .carousel-inner .item .upload:hover{
    height: 81px;
    width: 195px;
    margin: 5px 6px;
}
.coursesetting-content .carousel-inner .item .sub-item:hover,
.coursesetting-content .carousel-inner .item .sub-item.checked{
    height: 75px;
    width: 189px;
}
.coursesetting-content .carousel-control{
    height: 20px;
    width: 13px;
    line-height: 100px;
    overflow: hidden;
    border: none;
    border-radius:0;
    top:50%;
    margin-top: -10px;
}
.coursesetting-content .carousel-control.left,
.coursesetting-content .carousel-control.left:hover,
.coursesetting-content .carousel-control.left:focus{
    background: url(../images/shared/icons_elements.png) -288px -204px no-repeat;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6- */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    left:0;
}
.coursesetting-content .carousel-control.right,
.coursesetting-content .carousel-control.right:hover,
.coursesetting-content .carousel-control.right:focus{
    background: url(../images/shared/icons_elements.png) -308px -204px no-repeat;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6- */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    right:0;
}


/*
    Modal tabs
*/
.docebo-modal-tabs {
    background: #f1f3f2;
}
.docebo-modal-tabs .nav-tabs {
    width: 200px;
    float: left;
    border-left: none;
    border-right: none;
    background: #f1f3f2;
    border-top: 1px solid #f1f3f2;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0;
}
.docebo-modal-tabs .nav-tabs > li {
    float: none;
    margin: 0;
    border-bottom: 1px solid #f1f3f2;
}
.docebo-modal-tabs .nav-tabs > li > a {
    border: none;
    color: #333333;
    text-shadow: 1px 1px 0 #ffffff;
    background: none;
    margin: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    padding: 6px 10px 7px;
    display: block;
}
.docebo-modal-tabs .nav-tabs > li > a:hover,
.docebo-modal-tabs .nav-tabs > li > a:focus {
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    background: none;
    color: #333333;
}
.docebo-modal-tabs .nav-tabs > li.active {
    background-color: #333333;
}
.docebo-modal-tabs .nav-tabs > li.active > a {
    color: #f1f3f2;
    text-shadow: 1px 1px 0 #000000;
    background: none;
}
.docebo-modal-tabs .nav-tabs > li.active > a,
.docebo-modal-tabs .nav-tabs > li.active > a:hover,
.docebo-modal-tabs .nav-tabs > li.active > a:focus{
    background: none;
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}
.docebo-modal-tabs .nav-tabs > li.active > a:hover,
.docebo-modal-tabs .nav-tabs > li.active > a:focus {
    color: #f1f3f2;
}
.docebo-modal-tabs .nav-tabs > li > a > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.docebo-modal-tabs .nav-tabs > li > a > span.active {
    display: none;
}
.docebo-modal-tabs .nav-tabs > li.active > a > span {
    display: none;
}
.docebo-modal-tabs .nav-tabs > li.active > a > span.active {
    display: inline-block;
}
.docebo-modal-tabs .tab-content {
    margin-left: 200px;
    background: #ffffff;
    padding-left: 20px;
}

/*
    Docebo Grid View Component
*/
.docebo-grid-view {
    margin: 0;
    padding: 0;
}
.custom-grid-link {
    font-weight: 700 !important;
    color: #5dbd5d !important;
    text-decoration: underline;
    text-transform: uppercase;
}

/* For now this is the App page redesign, but in the end it
	should be an abstract reusable style with sidebar/main content
	style similar to the one we have in Advanced Settings */
.sidebarred{
	position: relative;
	background: #f1f3f2;
	min-height: 300px;
}
.sidebarred .sidebar{
	float: left;
	width: 200px;
	left: 0;
	top: 0;
}
.sidebarred .sidebar h3{
	color: #333333 !important;
	background: #ffffff;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
}
.sidebarred .sidebar .ajaxloader{
	left: 26%;
}
.sidebarred .sidebar ul{
	border-top: 1px solid #f1f3f2;
	width: 200px;
	float: left;
	border-left: none;
	border-right: none;
	background: #f1f3f2;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 0;
}
.sidebarred .sidebar ul li{
	float: none;
	margin: 0;
	border-bottom: 1px solid #f1f3f2;
}
.sidebarred .sidebar ul li a{
	color: #333333;
	text-shadow: 1px 1px 0 #ffffff;
	background: none;
	margin: 0;
	border-top: 1px solid #FFFFFF;
	border-right-style: none;
	border-bottom: 1px solid #FFFFFF;
	border-left-style: none;
	border-radius: 0;
	padding: 6px 10px 7px 48px;
	display: block;
}
.sidebarred .sidebar ul li a.active,
.sidebarred .sidebar ul li a:hover{
	background-color: #5FBF5F !important;
	color: #f1f3f2;
	text-shadow: 1px 1px 0 #000000;
}
.sidebarred .sidebar ul li a:hover{
	text-decoration: none;
}
.sidebarred .sidebar ul li a span,
.sidebarred .sidebar ul li a.three-dots span{
	/* The icon */
	position: absolute;
	left: 10px;
	margin-top: 1px;
	width: 28px;
	margin-right: 10px;
	background: url(../images/icons_elements.png) no-repeat -490px -231px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}
.sidebarred .sidebar ul li a.active span{

}
/* Icons available to be added as classes to the <a> (default .three-dots) */
.sidebarred .sidebar ul li a:hover span,
.sidebarred .sidebar ul li a.active span,
.sidebarred .sidebar ul li a.three-dots.active span{
	background-position: -453px -231px;
}
.sidebarred .sidebar ul li a.user span{
	background-position: -492px -205px;
}
.sidebarred .sidebar ul li a.user:hover span,
.sidebarred .sidebar ul li a.user.active span{
	background-position: -454px -205px;
}
.sidebarred .sidebar ul li a.users span{
	background-position: -287px -149px;
}
.sidebarred .sidebar ul li a.users:hover span,
.sidebarred .sidebar ul li a.users.active span{
	background-position: -321px -150px;
}
.sidebarred .sidebar ul li a.laptop span{
	background-position: -477px -179px;
}
.sidebarred .sidebar ul li a.laptop:hover span,
.sidebarred .sidebar ul li a.laptop.active span{
	background-position: -419px -204px;
}
.sidebarred .sidebar ul li a.gears span{
	background-position: -392px -230px;
}
.sidebarred .sidebar ul li a.gears:hover span,
.sidebarred .sidebar ul li a.gears.active span{
	background-position: -419px -230px;
}
.sidebarred .sidebar ul li a.lock span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -5px -116px;
}
.sidebarred .sidebar ul li a.lock:hover span,
.sidebarred .sidebar ul li a.lock.active span{
	background-position: -33px -116px;
}
.sidebarred .sidebar ul li a.tiles span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -4px -4px;
	width: 21px;
	height: 18px;
}
.sidebarred .sidebar ul li a.tiles:hover span,
.sidebarred .sidebar ul li a.tiles.active span{
	background-position: -33px -5px;
}
.sidebarred .sidebar ul li a.bullet-list span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -4px -34px;
	width: 28px;
	height: 18px;
}
.sidebarred .sidebar ul li a.bullet-list:hover span,
.sidebarred .sidebar ul li a.bullet-list.active span{
	background-position: -32px -34px;
}
.sidebarred .sidebar ul li a.chain span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -2px -60px;
	width: 28px;
	height: 18px;
}
.sidebarred .sidebar ul li a.chain:hover span,
.sidebarred .sidebar ul li a.chain.active span{
	background-position: -30px -60px;
}
.sidebarred .sidebar ul li a.webcam span{
	background: url('../images/apps_menu_sprite.png') no-repeat -5px -87px;
	width: 28px;
	height: 18px;
}
.sidebarred .sidebar ul li a.webcam:hover span,
.sidebarred .sidebar ul li a.webcam.active span{
	background-position: -33px -87px;
}
.sidebarred .sidebar ul li a.helpdesk span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -5px -145px;
	width: 28px;
	height: 18px;
}
.sidebarred .sidebar ul li a.helpdesk:hover span,
.sidebarred .sidebar ul li a.helpdesk.active span{
	background-position: -32px -145px;
}
.sidebarred .sidebar ul li a.ecs span{
	background: url('../images/apps_menu_sprite.png') no-repeat;
	background-position:  -5px -169px;
	width: 28px;
	height: 18px;
}
.sidebarred .sidebar ul li a.ecs:hover span,
.sidebarred .sidebar ul li a.ecs.active span{
	background-position: -32px -169px;
}
.sidebarred .main{
	overflow: visible;
	margin-left: 200px;
}
.sidebarred .main .tab-content{
	background: #ffffff;
	padding-left: 15px;
	min-height: 300px;
}
.sidebarred .main .ajaxloader{
	left: 45%;
}
.sidebarred .main h3.content-title{
	color: #333333 !important;
	background: #ffffff;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #f1f3f2;
}
.sidebarred .main .promoted-apps-header{
	color: #ff5c26;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 12px;
}
.sidebarred .promoted-app{
	margin-right: 5px;
	min-height:90px;
	border: 1px solid rgba(0,0,0,0.05);
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.sidebarred .promoted-app .premium-img{
	width: 70px;
	height: 70px;
	float: left;
	margin: auto 10px;
	border: 1px solid rgba(0,0,0,0.05);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.sidebarred .promoted-app .badge-img{
	position: absolute;
	right: 0;
	top:0;
	display: block;
	background: transparent;
}
.sidebarred .promoted-app h2{
	color: #ff5c26;
	font-size: 13px;
	padding-bottom: 5px;
	padding-right: 20px;
}
.sidebarred .promoted-app .descr{
	font-size: 12px;
	padding-right: 10px;
	line-height: 18px;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebarred .promoted-app h2,
.sidebarred .promoted-app .descr,
.sidebarred .promoted-app .more{
	/* Make room for the image */
	margin-left: 90px;
}
.sidebarred .promoted-app .more{
	text-decoration: underline;
	font-weight: bold;
}
.sidebarred .main h3.cover-title{
	color: #333333 !important;
	background: #ffffff;
	padding-bottom: 12px;
	font-size: 18px;
	font-weight: 600;
	margin-top: 35px;
}
.sidebarred .filters-wrapper{
	border-top: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
}
.sidebarred .inner-filter{
	background: #f1f3f2;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 12px 18px;
}
.sidebarred .inner-filter .radio-container,
.sidebarred .inner-filter label{
	display: inline;
}
.single-app-holder{
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e4e6e5;
}
.single-app-holder h4{
	margin-bottom: 5px;
}
.single-app-holder h4 a{
	color: #000;
	font-size: 17px;
	text-decoration: none;
}
.single-app-holder .description{
	font-size: 12px;
	margin:0 250px 0 0;
}
.single-app-holder .installed-app-action{
	margin-top: 5px;
	margin-right: 10px;
}
.single-app-holder .configure,
.single-app-holder .remove{
	font-size: 12px;
	text-decoration: underline;
}
.single-app-holder .configure{
	color: #333333;
}
.single-app-holder .remove{
	color: #d80000;
}
.single-app-holder .free{
	margin-top: 5px;
	margin-right: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #0465ac;
}
.single-app-holder .paid,
.single-app-holder .trial{
	margin-right: 10px;
	font-size: 12px;
	line-height:1;
	text-align: right;
}
.single-app-holder .trial{
	line-height: 1.3;
}
.single-app-holder .paid b{
	font-size: 16px;
	font-weight: 600;
}
.single-app-holder .btn-docebo{
	min-width: 100px;
	text-align: center;
}
.single-app-holder .expire-date{
	text-align: right;
}

.app-details-dialog{
	margin-left: 10px;
	margin-right: 10px;
}
.app-details-dialog .thumb-area{
	width: 180px;
	margin-right: 20px;
}
.app-details-dialog .app-title{
	font-size: 18px;
	font-weight: 600;
	color: #0465ac;
	margin-bottom: 15px;
}
.app-details-dialog .price-holder,
.app-details-dialog .app-image{
	max-width: 180px;
}
.app-details-dialog .app-image{
	margin-bottom: 35px;
}
.app-details-dialog .payment-cycle{
	font-size: 13px;
}
.app-details-dialog .price-holder{
	border: 1px solid #e5e5e5;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	text-align: center;
}
.app-details-dialog .price-holder .price{
	font-size: 20px;
	font-weight: 600;
	color: #52ab52;
}

.app-details-dialog .price-holder .free-with-plan,
.app-details-dialog .price-holder .wirecard-notice{
	font-size: 15px;
	margin-bottom: 0;
	padding-left: 6px;
	padding-right: 6px;
}
.app-details-dialog .price-holder .free-with-plan span,
.app-details-dialog .price-holder .wirecard-notice span{
	color: #0465ac;
	font-weight: bold;
}

.app-details-dialog .price-holder .dimmed,
.app-details-dialog .price-holder .dimmed span{
	color: #999999;
	margin:0;
}
.app-details-dialog .price-holder .free-trial-days{
	color: #ff4000;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 0;
}
.app-details-dialog .contact-us-btn-area{
	margin-top: 30px;
}

.app-details-dialog .description-holder{
	margin-left: 210px;
}
.app-details-dialog .app-description-header{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 15px;
}
.app-details-dialog .app-description{
	font-size: 13px;
}
.app-details-dialog .enterprise .app-description .smaller-height-hack{
	display: inline-block;
}
.app-details-dialog .enterprise .app-description h4{
	font-size: 15px;
	margin-top: 10px;
}
.app-details-dialog .enterprise .app-description .features{
	margin-top: 15px;
	margin-bottom: 15px;
}
.app-details-dialog .enterprise .app-description .features li{
	position: relative;
	margin-left: 25px;
	margin-bottom: 5px;
}
.app-details-dialog .enterprise .app-description .features li span{
	background: url('../images/menu/check.png') no-repeat;
	width: 15px;
	height: 15px;
	position: absolute;
	left: -25px;
	top: 3px;
	display: block;
}
.app-details-dialog .enterprise-pending{
	border: 2px solid #53ab53;
	padding: 10px;
}
.app-details-dialog .enterprise-pending .green-check{
	margin-right: 10px;
}
#dialog-app-detail .app-details-dialog .enterprise-pending h3{
	color: #53ab53;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}
#dialog-app-detail .app-details-dialog .enterprise-pending p{
	margin:0;
}
.app-details-dialog .cloud-enterprise-warning{
	border: 2px solid #e67e22;
	padding: 10px;
	margin-bottom: 20px;
}
.app-details-dialog .cloud-enterprise-warning h4{
	color: #e67e22;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.app-details-dialog .cloud-enterprise-warning img.warning{
	margin-right: 10px;
}
.app-details-dialog .cloud-enterprise-warning .warning-text{
	margin-left: 55px;
}
.enterprise-tos{
	margin-left: 15px;
	margin-right: 20px;
}
.myapps-empty{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	border-top: 1px solid #D4D6D5;
	border-bottom: 1px solid #D4D6D5;
}
.errorMessage,
.error{
	padding-bottom: 2px;
	padding-top: 2px;
	color: #b54b4b;
	font-weight: 700;
}

.title-bold.back-button > span {
    vertical-align: bottom;
}

.title-bold.back-button a {
    background: url(../images/back-arrow-icon.jpg) #333333 no-repeat 0 center;
    font-weight: 800;
    font-size: 11px;
    color: #ffffff;
    padding: 2px 7px 3px 12px;
    margin-right: 5px;
    text-transform: uppercase;
    text-shadow: none;
}