@CHARSET "UTF-8";

/** icons-elementss.png sprite **/
.icons-elements {
    background: url(../images/icons_elements.png) no-repeat;
    display:inline-block;*display:inline;zoom:1;vertical-align:middle;
}


.icons-elements.node-yes-checkbox 				{ background-position: -166px -200px; width: 19px; height: 19px; }
.icons-elements.node-no-checkbox 				{ background-position: -143px -200px; width: 19px; height: 19px; }
.icons-elements.node-descendants-checkbox 		{ background-position: -189px -200px; width: 19px; height: 19px; }



/** Users selector Modal dialog */
.modal.users-selector {
	width: 960px;
	top: 130px;
	margin: 0 0 0 -480px;
    min-height: 684px;
}


.modal.users-selector .modal-body  {
	padding: 10px;
	min-height: 566px;
}


#users-selector.modal-body .error {
	color: red;
}

.modal.users-selector .modal-body .error {
	color: red;
}

.users-selector ul.nav {
	width: 200px;
	height: 546px;
	background: none repeat scroll 0 0 #F1F3F2;
}



/** Nav Tabs **/
.users-selector .nav-tabs.nav-stacked > li > a  {
	border: 0px solid #FFF;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
 	border-radius: 0;
}

.users-selector .nav-tabs li > a:hover,
.users-selector .nav > li > a:hover {
	color: #F1F3F2;
	background-color: #666666;
	text-shadow: 1px 1px 0 #000000;
}


.users-selector .nav-tabs li.active > a {
	color: #F1F3F2;
	background-color: #666666;
	text-shadow: 1px 1px 0 #000000;
}


.users-selector .doceboPager {
	margin: 3px 0;
}

.users-selector .tab-content {
	padding: 0px;
	max-height: 552px;
	overflow: auto;
}


.users-selector .tab-content > div.tab-pane {
	height: auto;
	overflow: auto;
	padding: 0px 0px 5px 5px;

}


.users-selector .filter-wrapper {
	border-bottom: 1px solid #E4E6E5;
    border-top: 1px solid #E4E6E5;
    padding: 7px 0px 7px 0px;
    background: none repeat scroll 0 0 #F1F3F2;
    position: relative;
}

	.users-selector .filter-wrapper input[type="text"][name="search_input"] {
		position: absolute;
		right: 5px;
		border: 1px solid #E4E6E5;
		padding-right: 50px;
		background-color: white;
	}
	
	.users-selector .filter-wrapper input[type="text"][name="search_input"]::-ms-clear {
		display: none;
	}

	.users-selector .filter-wrapper span.is-search {
		position: absolute;
		right: 15px;
		bottom: 18px;
		z-index: 1051;
		opacity: 1.0;
	}


	.users-selector .filter-wrapper .mass-selector {
		padding-left: 10px;
	}

		.users-selector .filter-wrapper .mass-selector a {
    		color: #0465AC;
    		font-weight: 600;
    		text-decoration: underline;
		}


.users-selector .grid-view .summary
{
    float: right;
    margin: 20px 10px 5px;
	text-align: right;
}


/******************** Correcting insanse admin.css, which redefines globally plenty of stuff. See admin.css ***********************/

.users-selector .group {
	padding: 0;
}


.users-selector .nav-tabs li a span {
	margin-right: 0;
}


.users-selector-body ul.ui-autocomplete,
.users-selector-body ul li .ui-state-focus
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.users-selector-body ul li .ui-state-focus
{
	color: #F1F3F2;
	background: none;
	background-color: #0465AC;
}


.users-selector #orgchart .legend {
	padding-top: 6px;
}


.users-selector #orgchart input.orgchart-filter-input {
	background-color: #FFFFFF;
   	border: 1px solid #E4E6E5;
   	padding-right: 22px;
	position: absolute;
	top: 11px;
	right: 7px;
	width: 100px;
}

.users-selector #orgchart input.orgchart-filter-input::-ms-clear {
	display: none;
}


.users-selector #orgchart .filter-clear-button {
	position: absolute;
	top: 14px;
	right: 12px;
	opacity: 0.6;
}

.users-selector .grid-search-clear {
	position: absolute;
	top: 13px;
	right: 37px;
	opacity: 0.6;
}

#massenrolllpusers .maxAvailable,
.curricula-assign-users .maxAvailable {
    display: inline-block;
    height: 22px;
    width: 25px;
    background:     url("../images/icons_elements.png") no-repeat;
    vertical-align: middle;
    margin-left: 2px;
    background-position: -251px -27px;
}

/* CSS for Channels management */
.modal.app7020-edit-channel-dialog.users-selector .filter-wrapper .span6 #groups-grid-search-clear-button {
	top: 13px;
	right: 37px;
}

.modal.app7020-edit-channel-dialog.users-selector .filter-wrapper .span3 #fancytree-filter-clear-button {
	margin-right: 0;
	margin-top: 0;
}

.modal.app7020-edit-channel-dialog.users-selector .lang_ar .filter-wrapper span.is-search,
.modal.app7020-edit-channel-dialog.users-selector .lang_he .filter-wrapper span.is-search,
.modal.app7020-edit-channel-dialog.users-selector .lang_fa .filter-wrapper span.is-search {
	left: 33px;
	bottom: 24px;
}

.modal.app7020-edit-channel-dialog.users-selector .lang_hu .filter-wrapper span.is-search,
.modal.app7020-edit-channel-dialog.users-selector .lang_th .filter-wrapper span.is-search {
	bottom: 37px;
}

.modal.app7020-edit-channel-dialog.users-selector .lang_ar .filter-wrapper .span6 #groups-grid-search-clear-button,
.modal.app7020-edit-channel-dialog.users-selector .lang_he .filter-wrapper .span6 #groups-grid-search-clear-button,
.modal.app7020-edit-channel-dialog.users-selector .lang_fa .filter-wrapper .span6 #groups-grid-search-clear-button {
	left: 33px;
	top: 9px;
	right: auto;
}

.modal.app7020-edit-channel-dialog.users-selector .lang_ar .filter-wrapper .span3 #fancytree-filter-clear-button,
.modal.app7020-edit-channel-dialog.users-selector .lang_he .filter-wrapper .span3 #fancytree-filter-clear-button,
.modal.app7020-edit-channel-dialog.users-selector .lang_fa .filter-wrapper .span3 #fancytree-filter-clear-button {
	top: 16px;
}

