@CHARSET "UTF-8";

.userman-advanced-search-box {
    width: 336px;
    border-right: 1px solid #e4e6e5;
    border-left: 1px solid #fefefe;
}

    .userman-advanced-search-box .userman-advanced-search-link {
        text-decoration: underline;
        color: #333333;
        margin-left: 7px;
        display: block;
    }

#userman-advanced-search {
    padding: 20px;
    border-top: 1px solid #E4E6E5;
}

    #userman-advanced-search h4 {
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
    }

    #userman-advanced-search .box-title h4 {
        float: left;
        margin: -8px 0 0;
        background: #F1F3F2;
        padding-right: 14px;
        position: relative;
    }

    #userman-advanced-search .filter-row-top label,
    #userman-advanced-search-filters label {
        float: left;
        margin-top: 8px;
        width: 105px;
        word-break: break-all;
        word-wrap: break-word;
    }

    #userman-advanced-search .advanced-filter-logical-cond > label {
        margin-left: 20px;
    }

    #userman-advanced-search .btn-search {
        float: right;
        border: none;
        height: 18px;
        width: 17px;
        padding: 0;
        background: url(../images/icons_elements.png) -119px -109px no-repeat;
        margin-right: 10px;
        margin-top: 5px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
    }

    #userman-advanced-search .filter-row {
        margin: 10px 0;
    }

        #userman-advanced-search .filter-row .additional-yes-no {
            margin-top: 8px;
        }

	        #userman-advanced-search .filter-row .additional-yes-no label {
	            margin-top: 1px;
	            margin-left: 5px;
	            margin-right: 10px;
                width: auto;
	        }

    #userman-advanced-search .filter-row-top {
        margin: 20px 0 10px 0;
    }

    #userman-advanced-search .filter-row-top.clearfix {
        border: none;
    }

    #userman-advanced-search input {
        display: inline-block;
        vertical-align: middle;
    }

    #userman-advanced-search .remove-advanced-filter-link {
        height: 15px;
        width: 15px;
        margin-left: 6px;
        margin-top: 8px;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        float: left;
        background: url(../images/icons_elements.png) -62px -230px no-repeat;
    }

    #userman-advanced-search .filter-wrapper input[type="text"] {
        background-color: #FFFFFF;
        border: 1px solid #E4E6E5;
        padding-right: 50px;
        position: absolute;
        right: 5px;
    }

#fancytree-orgchart-wrapper {
	padding: 0 15px;
	background-color: #F1F3F2;
	border-top: 1px solid #ffffff;
}
#fancytree-orgchart-wrapper .fancytree-wrapper {
	min-height: inherit;
	margin-top: -1px;
}

#userForm-orgchat .fancytree-wrapper {
	max-height: 60vh;
}

	#userman-orgchart-tree.fancytree-ext-table {
		border-collapse: separate;
		padding: 0;
	}

	#userman-orgchart-tree.fancytree-ext-table tbody td {
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #cccccc;
		padding: 5px 0;
	}

	#userman-orgchart-tree.fancytree-ext-table tbody tr.fancytree-active {
		background-color: inherit;
	}

	#userman-orgchart-tree span.fancytree-title{
		margin-left: 10px;
		padding: 0;
	}

.userman-select-users-type {
	border-right: 1px solid #e4e6e5;
}

    .userman-select-users-type table {
        width: 100%;
    }

    .userman-select-users-type label {
        display: inline
    }

.userman-include-descendants {
    width: 234px;
    border-right: 1px solid #e4e6e5;
    padding-left: 0;
}

td.group.userman-include-descendants,
td.group.userman-select-users-type,
td.group.userman-advanced-search-box,
td.group.userman-advanced-search-box td,
td.group.userman-include-descendants td  {
	vertical-align: middle;
	text-align: center;
}

.users-management-body ul.ui-autocomplete,
.users-management-body ul li .ui-state-focus {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.users-management-body ul li .ui-state-focus {
    color: #F1F3F2;
    background: none;
    background-color: #0465AC;
}

.users-management-body .modal {
	position: fixed;
}

.users-management-body .modal.users-export-csv .modal-body, .users-management-body .modal.users-export-xls .modal-body
{
	max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.userman-select-columns ul li {
    padding-left: 25px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.userman-select-columns ul li.selected {
    background: url(../images/popover-icons.png) 0px -108px no-repeat;
}

.userman-select-columns ul li.locked {
    background: url(../images/popover-icons.png) 1px -88px no-repeat;
    cursor: default;
}

[id^="branch-actions-po-container-"] div.popover-content {
    width: 200px;
    border: 1px solid red;
}

#userman-tree-breadcrumbs a.userman-breadcrumbs-item {
	text-decoration: underline;
}

#userman-tree-breadcrumbs span.last-crumb {
	font-weight: 600;
	color: #0465ac;
}

#userman-tree-breadcrumbs {
    border-bottom: 1px solid #e4e6e5;
    border-top: 1px solid #e4e6e5;
    margin: 17px 0 0;
    padding: 10px 5px;
}

#userman-advanced-search .advanced-filter-logical-cond label {
	line-height: 19px;
}



/* icons */

.userman-branch-actions-menu-trigger .userman-menu {
	height: 19px;
	width: 19px;
	background: url(../images/icons_elements.png) -114px -199px no-repeat;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

#fancytree-orgchart-wrapper span.fancytree-icon {
	background: url(../images/icons_elements.png) -226px -62px no-repeat;
	height: 16px;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	text-shadow: 1px 1px 0 #FFFFFF;
}

#fancytree-orgchart-wrapper .fancytree-ico-ef span.fancytree-icon {
	background-position: -226px -18px;
}

#fancytree-orgchart-wrapper .fancytree-has-children.fancytree-ico-cf span.fancytree-icon {
	background-position: -227px -40px;
}

#fancytree-orgchart-wrapper #userman-orgchart-tree-node-0 span.fancytree-icon{
	background-position: -452px -182px;
}

#fancytree-orgchart-wrapper #userman-orgchart-tree-node-0.fancytree-expanded span.fancytree-icon{
	background-position: -226px 2px;
}
#fancytree-orgchart-wrapper #userman-orgchart-tree-node-0 .fancytree-title{
	color:#0465ac;
}

/* Multidomain marker icons */
#fancytree-orgchart-wrapper .multidomain span.fancytree-icon, #fancytree-orgchart-wrapper .multidomain.fancytree-has-children.fancytree-ico-cf span.fancytree-icon {
    background-image: url(../images/i-sprite.png);
    background-position:-170px -364px;
}

#fancytree-orgchart-wrapper .multidomain.fancytree-expanded span.fancytree-icon{
    background-image: url(../images/i-sprite.png);
    background-position:-170px -391px;
}

table.fancytree-ext-table tbody tr td .multidomain-client {
    display: none;
}

table.fancytree-ext-table tbody tr:hover td .multidomain-client {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    padding: 0px 8px;
    color: #FFF;
    background-color: rgb(100,191,109);
    font-size: 11px;
    font-weight: normal;
}

table.fancytree-ext-table tbody tr:hover td .multidomain-client > span {
    display: none;
}

[id^="userman-branch-actions-po-container-"] {
	cursor: pointer;
	position: relative;
}

.userman-branch-actions-menu-trigger{
	cursor: pointer;
}


#userman-include-descendants-controls {
    display: none;
}