.webinar-dialog-message {
	color: #FF6600;
	border: 1px solid #ff6600;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
}

.webinar-dialog-message a {
	color: #FF6600;
	text-decoration: none;
}

.webinar-dialog-message a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.webinar-dialog-message .exclamation {
	float: left;
	width: 5%;
	margin-top: 8px;
}

.webinar-message-text {
	float: left;
	width: 95%;
}

.webinar-max-enroll-hint {
	font-size: 12px;
}

.webinar-date-input {
	width: 90px;
	margin-right: 5px !important;
}
.coaching-webinar .webinar-date-input {
    width: 130px;
}

.webinar-max-enroll-input {
	width: 60px;
}

.webinar-start-input {
	width: 90px !important;
}

.webinar-duration-input {
	width: 70px !important;
}

.webinar-dropdown-full {
	width: 100% !important;
}

.new-session-form {
	/*padding-bottom: 35px;*/
}

.webinar-form-inline-label {
	display: inline-block;
	margin-left: 10px;
}

@import url("courseHeader.css");
.classroom-sprite {
	display: inline-block;
	background: url(../images/classroom_icons_sprite.png) no-repeat;
	vertical-align: middle;
}

.classroom-sprite.classroom {
	background-position: -1px -1px;
	width: 18px;
	height: 18px;
}

.classroom-sprite.map {
	background-position: -2px -66px;
	width: 19px;
	height: 19px;
}

.classroom-sprite.map.white {
	background-position: -29px -66px;
	width: 19px;
	height: 19px;
}

.classroom-sprite.list {
	background-position: 0 -89px;
	width: 23px;
	height: 19px;
}

.classroom-sprite.list.white {
	background-position: -26px -89px;
	width: 23px;
	height: 19px;
}

.classroom-sprite.picture {
	background-position: -1px -115px;
	width: 25px;
	height: 19px;
}

.classroom-sprite.picture.white {
	background-position: -29px -115px;
	width: 25px;
	height: 19px;
}

.classroom-sprite.marker-plus {
	background-position: -59px -1px;
	width: 40px;
	height: 36px;
}

.classroom-sprite.marker-plus.white {
	background-position: -103px -1px;
	width: 40px;
	height: 36px;
}

.classroom-sprite.marker {
	background-position: -1px -138px;
	width: 22px;
	height: 29px;
}

.classroom-sprite.marker.white {
	background-position: -29px -138px;
	width: 22px;
	height: 29px;
}

.classroom-sprite.marker-tiny {
	background-position: -141px -184px;
	width: 15px;
	height: 20px;
}

.classroom-sprite.phone {
	background-position: -160px -184px;
	width: 23px;
	height: 16px;
}

.classroom-sprite.mail {
	background-position: -187px -185px;
	width: 20px;
	height: 13px;
}

.classroom-sprite.users {
	background-position: -232px -185px;
	width: 24px;
	height: 16px;
}

.classroom-sprite.settings {
	background-position: -211px -185px;
	width: 18px;
	height: 18px;
}

.classroom-sprite.valid-medium {
	background-position: -174px -75px;
	width: 33px;
	height: 33px;
}

.classroom-sprite.invalid-medium {
	background-position: -211px -75px;
	width: 33px;
	height: 33px;
}

.classroom-sprite.valid-big {
	background-position: -270px -111px;
	width: 50px;
	height: 50px;
}

.classroom-sprite.invalid-big {
	background-position: -270px -164px;
	width: 50px;
	height: 50px;
}

.classroom-sprite.map-placeholder {
	background-position: -323px -1px;
	width: 190px;
	height: 128px;
}

.classroom-sprite.new-classroom {
	background-position: -59px -98px;
	width: 49px;
	height: 34px;
}

.classroom-sprite.new-classroom.white {
	background-position: -112px -98px;
	width: 49px;
	height: 34px;
}

.classroom-sprite.new-date {
	background-position: -59px -138px;
	width: 49px;
	height: 37px;
}

.classroom-sprite.new-date.white {
	background-position: -112px -138px;
	width: 49px;
	height: 37px;
}

.classroom-sprite.new-date-small {
	background-position: 0px -198px;
	width: 26px;
	height: 33px;
}

.classroom-sprite.new-date-small.white {
	background-position: -26px -198px;
	width: 26px;
	height: 33px;
}

.classroom-sprite.attended {
	background-position: -205px -43px;
	width: 25px;
	height: 25px;
}
.classroom-sprite.not-attended {
	background-position: -233px -43px;
	width: 25px;
	height: 25px;
}
.classroom-sprite.attendance {
	background-position: -57px -204px;
	width: 18px;
	height: 18px;
}
.classroom-sprite.details {
	background-position: -58px -183px;
	width: 18px;
	height: 18px;
}
.classroom-sprite.print {
	background-position: -205px -206px;
	width: 22px;
	height: 22px;
}
.classroom-sprite.attendance-sheet {
	background-position: -189px -115px;
	width: 32px;
	height: 32px;
}
/* === evaluation approvation icons === */
.classroom-sprite.approved-small {
	background-position: -263px -48px;
	width: 20px;
	height: 20px;
}
.classroom-sprite.unapproved-small {
	background-position: -286px -48px;
	width: 20px;
	height: 20px;
}
.classroom-sprite.approved-medium {
	background-position: -174px -75px;
	width: 33px;
	height: 33px;
}
.classroom-sprite.unapproved-medium {
	background-position: -212px -75px;
	width: 33px;
	height: 33px;
}
.classroom-sprite.approved-large {
	background-position: -270px -111px;
	width: 50px;
	height: 50px;
}
.classroom-sprite.unapproved-large {
	background-position: -270px -164px;
	width: 50px;
	height: 50px;
}
.classroom-sprite.approved-medium.grey { background-position: -249px -75px; }
.classroom-sprite.unapproved-medium.grey { background-position: -286px -75px; }

.classroom-sprite.calendar-large {
	background-position: -324px -132px;
	width: 30px;
	height: 30px;
}
.classroom-sprite.clock-large {
	background-position: -229px -204px;
	width: 30px;
	height: 30px;
}

/* === end approvation icons === */

.classroom-sprite.dl-file {
	background-position: -151px -78px;
	width: 22px;
	height: 22px;
}

.classroom-sprite.seat-small {
	background-position: -1px -199px;
	width: 24px;
	height: 31px;
}
.classroom-sprite.seat-small.white {
	background-position: -27px -199px;
	width: 24px;
	height: 31px;
}

/* === other icons === */

.classroom-sprite.manage-objects.black {
	background: url(../images/i-sprite.png) no-repeat;
	background-position:-300px -3152px;width:35px;height:24px;
}

.classroom-sprite.manage-objects.white {
	background: url(../images/i-sprite.png) no-repeat;
	background-position:-600px -3152px;width:35px;height:24px;
}

/* evaluation sheet styles */
.evaluation-score { font-weight: bold; }
.evaluation-score.good { color: #53AB53; }
.evaluation-score.bad { color: #D90000; }

#evaluate-user-form .evaluation-score {
	text-transform: uppercase;
	font-size: 16px;
}

.evaluation-popover-icons table {
	border: 0px;
	text-align: center;
	border-collapse: collapse;
}

.grid-view table.items td .evaluation-popover-icons table tbody td {
	border: 0px;
	padding: 5px;
	width: 15px;
	background: none;
}

.grid-view table.items td .evaluation-popover-icons table tbody tr:hover td, .grid-view table.items td .evaluation-popover-icons table tbody tr:hover {
	background: none;
}


.evaluation-popover-icons a.classroom-sprite.details {
	width: 24px;
}

td .evaluate-user { /* See "enroll" style for course management: same idea */
	font-weight: 700;
	color: #5dbd5d;
	text-decoration: underline;
	text-transform: uppercase;
}

/* evaluation info styles */
.evaluation-info-container .evaluation-status-score {
	float: left;
	width: 250px;
}

.evaluation-info-container .evaluation-text-file {
	margin-left: 250px;
	margin-right: 250px;
}

.evaluation-info-container .evaluator-info {
	float: right;
	width: 250px;
}

/* other generic styles */
div.border-container {
	border: 1px solid #ddd;
	padding: 0px 15px 5px 15px;
}

/* attendance sheet styles */

.modal.attendance-sheet-print-dialog {
	width: 930px;
	margin-left: -510px;
	top: 58px;
}

a.attendance-sheet-link { vertical-align: middle; }

/* ========== */

ul.docebo-bootcamp li a#users-waiting-to-be-approved {
	padding-bottom: 10px;
	padding-top: 10px;
}

/* local fix for session main actions, which contains long texts */
ul#docebo-bootcamp-sessions.docebo-bootcamp li a {
	/*min-height: 100px;
	padding-bottom: 10px;
	padding-top: 10px;*/
}

.i-sprite.new-date-small {
	background: url(../images/classroom_icons_sprite.png) no-repeat;
	background-position: 0px -198px;
	width: 26px;
	height: 33px;
}

.i-sprite.new-date-small.white {
	background: url(../images/classroom_icons_sprite.png) no-repeat;
	background-position: -26px -198px;
	width: 26px;
	height: 33px;
}

/*
    Edit classroom modal
*/
.modal-edit-classroom {
}

.modal-edit-classroom #edit-classroom-form .control-label {
	text-align: right;
}

.modal-edit-classroom .control-label .help-block {
	line-height: 12px;
}

.modal-edit-classroom textarea {
	min-height: 100px;
}

/*
    Classrooms grid
*/
#classroom-management-grid {
}

#location-management-grid td.button-column-single,
#classroom-management-grid td.button-column-single {
	width: 20px;
}

/*
    Locations grid search form
*/
#classroom-grid-search-form {
	text-align: right;
}

#classroom-grid-search-form input[type="text"] {
	margin: 0;
	font-style: italic;
}

#location-grid-search-form .control-group,
#classroom-grid-search-form .control-group {
	padding: 10px;
}

/* CSV import form */
.form-import {
}

.form-import .download-sample {
	float: right;
	line-height: 30px;
}

.form-import .download-sample a {
	text-decoration: underline;
}

.form-import .controls label,
.form-import .controls span,
.form-import .controls span label,
.form-import .controls input {
	display: inline-block;
	vertical-align: middle;
}

.form-import span.jq-radio,
.form-import span.jq-checkbox {
	margin-left: 0px;
	margin-right: 5px;
}

.form-import span label {
	margin-right: 25px;
}

.form-import input.manual-separator-input {
	width: 65px;
	margin-left: -20px;
}

.form-import .grid-view select {
	text-transform: none;
	width: auto !important;
}

.form-import .table-scroll th > p {
	margin-top: 18px;
}

/*
#grid-wrapper .grid-view table.items th,
#grid-wrapper .grid-view table.items th a {
	font-weight: bold;
	color: #0465AC
}
*/

/*
		session module
*/

.modal.modal-edit-session {
	width: 860px;
	margin-left: -430px;
}

.session-main-actions-container ul.docebo-bootcamp li.helper a {
	width: 400px;
}

.session-waiting-approval {
	background: url(../images/icons_elements.png) no-repeat;
	height: 32px;
	width: 55px;
	background-position: 4px -150px;
}

.session-waiting-approval.white {
	background-position: -58px -150px;
}

.nav-tabs li a span.session-calendar-icon {
	background: url("../images/i-sprite.png");
	background-position: -10px -1070px;
	height: 24px;
	width: 24px;
}

.nav-tabs li.active a span.session-calendar-icon {
	background-position: -208px -1070px;
}

.session-form-evaluation-tab-content,
.session-form-details-tab-content {
	padding: 3px 20px 3px 20px;
	width: 624px;
}

.session-form-details-tab-content .row-fluid {
	margin: 0px 0px 15px 0px;
}

.session-form-details-tab-content label {
	margin-bottom: 5px;
	margin-top: 0px;
}
.session-form-details-tab-content label.label-no-break{
	white-space: nowrap;
}

.modal-create-webinar-session .modal-header , .attendance-sheet-print-dialog .modal-header {
	padding: 7px 18px;
}

.attendance-sheet-print-dialog .modal-header h3 {
	padding: 0px;
}

.modal-create-webinar-session .session-form-details-tab-content input.session-name {
	/*width: 606px;*/
	width: 97%;
}

.modal-create-webinar-session .session-form-details-tab-content input.session-score_base {
	/*width: 606px;*/
	width: 97%;
}

.modal-create-webinar-session  .session-form-details-tab-content textarea.session-other_info {
	/*width: 606px;*/
	width: 97%;
}
.modal-create-webinar-session.coaching-webinar .session-form-details-tab-content input.session-name,.modal-create-webinar-session.coaching-webinar .session-form-details-tab-content input.session-score_base,.modal-create-webinar-session.coaching-webinar  .session-form-details-tab-content textarea.session-other_info {
    width: 546px;
}
.modal-create-webinar-session  .session-form-details-tab-content label.session-enroll {
	display: inline;
	width: 50px;
}

.modal-create-webinar-session .session-form-details-tab-content input.session-enroll {
	display: inline;
	width: 50px;
}

.modal.modal-create-webinar-session {
	width: 900px;
	margin-left: -460px;
	position: absolute; /* by default it's 'fixed' but the modal is too high for it */
}
@media (max-width: 900px) {
	.modal.modal-create-webinar-session {
		margin-left: 0;
		left: 0;
	}
}
.modal.modal-create-webinar-session.coaching-webinar {
    width: 604px;
    height: auto;
    margin-left: -281px;
    padding-bottom:46px;
}
.modal-create-webinar-session select.error {
	background: #f2dedf !important;
	color: #b54b4b !important;
}

.session-form-actions input.btn {
	float: right;
}

.modal.modal-create-webinar-session .session-error {
	/*text-align: right;*/
	/*width: 220px;*/
	/*float: right;*/
	/*margin-right: 15px;*/
}

.modal.modal-create-webinar-session .session-error span.bold {
	font-weight: bold;
}

.modal.modal-create-webinar-session .session-error span.red {
	color: red;
	font-weight: bold;
}

.mandatory {
	width: 100%;
	text-align: right;
}

.max-enrollement-message {
	color: #FF6600;
	border: 1px solid #ff6600;
	padding: 10px;
	margin-bottom: 10px;
}

.max-enrollement-message .exclamation {
	float: left;
	margin-right: 10px;
}

.session-form-evaluation-tab-content {
	position: relative;
	height: 190px;
}
.session-form-evaluation-tab-content div.radio-list-element {
	display:inline-block;
}
.session-form-evaluation-tab-content .text-description {
	padding: 2px 4px 2px 10px;
	vertical-align: bottom;
	font-size: 11px;
	max-width: 300px;
}
.session-form-evaluation-tab-content .session-form-evaluation-spacer {
	padding: 2px 4px 2px 17px;
	width: 27px;
}
.session-form-evaluation-tab-content .session-form-evaluation-label {
	padding: 2px 4px 2px 7px;
}


.session-enroll-icon {
	/*background: url(../images/popover-icons.png) no-repeat;*/
	background: url("../images/icons_elements.png") no-repeat;
	color: #333333;
	cursor: pointer;
	display: block;
}
.session-enroll-icon .enroll-edit {
	height: 14px;
	width: 14px;
	background-position: -121px -89px;
}
.session-enroll-icon .enroll-remove {
	height: 12px;
	width: 12px;
	background-position: -199px -132px;
}

.list-view .edit-button {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	right: 30px;
}

.list-view .edit-button a {
	display: block;
	height: 14px;
	width: 14px;
	line-height: 100;
	overflow: hidden;
	background: url("../images/icons_elements.png") -121px -89px no-repeat;
}

a.waiting-users {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

#session-enrollment-form .filters .group.seats {
	width: 755px;
}

.main-actions ul.docebo-bootcamp li a {
	padding: 16px 8px 10px;
	font-size: 12px;
	line-height: 12px;
}

.main-actions ul.docebo-bootcamp li:last-child {
	margin-right: 11px;
}

.main-actions li a span.classroom-sprite {
	background-image: url(../images/classroom_icons_sprite.png);
	background-repeat: no-repeat;
}

.main-actions .session-assign-users span {
	background-position: -438px -121px;
}

.main-actions li:hover .session-assign-users span {
	background-position: -515px -119px;
}

.main-actions li .session-import-users span {
	background-position: -583px 0;
}

.main-actions li:hover .session-import-users span {
	background-position: -630px 0;
}

.modal-create-webinar-session .session-form-actions input[type="button"] {
	margin-left: 10px;
}

.session-form-details-tab-content {
	/*min-height: 580px;*/
	position: relative;
}
.coaching-webinar .session-form-details-tab-content {
    min-height: 250px;
	width: 564px;
	padding: 0px 5px;
    height:auto;
}

#no-date-form h2, #view-date-form h2 {
	padding-bottom: 15px;
	border-bottom: 1px solid #dadada;
}

#no-date-form .add-date-box {
	padding: 20px 0px;
	border-bottom: 1px solid #dadada;
	text-align: center;
	margin-bottom:250px;
}

#no-date-form .add-date-box p {
	font-style: italic;
	margin-bottom: 15px;
}

.session-form-actions {
	width: 95%;
	bottom: 0px;
	text-align: right;
	padding: 10px 0px;
	border-top: 1px solid #dadada;
}

.session-dates {
	background: transparent;
	border: 0;
	padding-left: 8px;
	box-shadow: 0 0;
	margin-top: 40px;
}

.session-dates  .table-condensed td, .session-dates  .table-condensed th {
	padding: 2px 3px;
	width: 20px;
	height: 18px;
}

.session-dates  .table-condensed td.day.active, .session-dates .table-condensed td.day.active:hover {
	background: black;
	border-radius: 0px;
}

.session-dates  .table-condensed td.day.session-day, .session-dates .table-condensed td.day.session-day:hover {
	background: green;
	color: #FFF;
	border-radius: 0px;
}

.edit-session-tabs {
	background-color: #f1f3f2;
	position: relative;
}

#popup_bootstroAddSessionDate .popover-content div.text-message {
	padding-top: 70px;
	float: left;
	padding-left: 80px;
}

#edit-date-form .edit-day-input {
	width: 150px;
}

#edit-date-form .date-line {
	border-bottom: 1px solid #dadada;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#edit-date-form label {
	margin-bottom: 5px;
}

#edit-date-form #day-times {
	wdith: 100%;
	margin-top: 10px;
}

#edit-date-form #day-times td {
	vertical-align: middle;
}

#edit-date-form #day-times .space {
	width: 40px;
}

#edit-date-form #day-times .separator  {
	width: 20px;
	text-align: center;
}

#timezone-line select, #day-location, #day-classroom {
	width: 100%;
}

a#select-timezone-button {
	color: blue;
}

.modal-create-webinar-session input[type="text"].session-score-base {
	width: 100px;
}

table.session-score-base-row td  {
	vertical-align: middle;
}

.modal-create-webinar-session .modal-footer {
	margin-top: -74px;
	position: absolute;
	right: 0;
	float: right;
}
.coaching-webinar .modal-footer {
    margin-top: -20px;
}
#view-date-form .day-title {
	margin: 20px 0px 20px 0px;
	color: rgb(4, 101, 172);
	font-weight: bold;
	font-size: 110%;
	min-height: 25px;
}

#view-date-form .day-time-line, #view-date-form .day-location {
	margin-bottom: 30px;
}

#view-date-form .day-time-line h3, #view-date-form .day-location h3 {
	font-size: 110%;
	font-weight: bold;
}

.classroom-sessions-grid-container {}
.classroom-sessions-grid-container > div.inner {
	background: #FFF;
	padding: 15px;
	max-width: 800px;
	margin: 4% auto;
	border: 1px solid rgba(220,220,220,0.6);
}
.classroom-sessions-grid-container .toggle-details {

}

/* classroom session list component */
#classroom-sessions-list {}
#classroom-sessions-list .col-id { width: 20px; text-align: center; }
#classroom-sessions-list .col-id > input { margin: 0; }
#classroom-sessions-list .col-name { cursor: pointer; }
#classroom-sessions-list .col-name,
#classroom-sessions-list .col-day-name {
	width: 125px;
}
#classroom-sessions-list .col-start,
#classroom-sessions-list .col-day-date {
	width: 155px;
}
#classroom-sessions-list .col-end,
#classroom-sessions-list .col-duration,
#classroom-sessions-list .col-day-break {
	width: 155px;
}
#classroom-sessions-list .col-location,
#classroom-sessions-list .col-day-location {
	width: 235px;
}
#classroom-sessions-list .col-toggle_handle { text-align: center; }
#classroom-sessions-list .col-toggle_handle > span { vertical-align: middle; cursor: pointer; }
#classroom-sessions-list .schedule { margin-left: 35px; margin-top: 12px; }
#classroom-sessions-list .schedule .title { padding: 0 5px; }
#classroom-sessions-list .schedule .days { padding: 5px 0 10px; }
#classroom-sessions-list .schedule .days > .day { border-top: 1px solid #ddd; }
#classroom-sessions-list .schedule .days > .day > div {
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	padding: 5px;
}

#webinar-session-list {}
#webinar-session-list .col-id { width: 20px; text-align: center; }
#webinar-session-list .col-id > span { margin-bottom: 4px; }
#webinar-session-list .col-id > input { margin: 0; }
#webinar-session-list .col-name { cursor: pointer; }
#webinar-session-list .col-name,
#webinar-session-list .col-day-name {
	width: 320px;
}
#webinar-session-list .col-name {
	width: 280px;
}

#webinar-session-list .col-start,
#webinar-session-list .col-day-date {
	width: 155px;
}
#webinar-session-list .col-duration,
#webinar-session-list .col-day-break {
	width: 100px;
	text-align: center;
	margin-right: 10px;
}

#webinar-session-list .col-day-tool {
	width: 100px;
}

#webinar-session-list .col-tool {
	width: 120px;
}

#webinar-session-list .col-toggle_handle { text-align: center; }
#webinar-session-list .col-toggle_handle > span { vertical-align: middle; cursor: pointer; }
#webinar-session-list .schedule { margin-left: 35px; margin-top: 12px; }
#webinar-session-list .schedule .title { padding: 0 5px; }
#webinar-session-list .schedule .days { padding: 5px 0 10px; }
#webinar-session-list .schedule .days > .day { border-top: 1px solid #ddd; }
#webinar-session-list .schedule .days > .day > div {
	display: inline-block;
	vertical-align: top;
	border: 1px solid transparent;
	padding: 5px;
}

/* Session Info widget */
.session-info-container {}
.session-info-container .session-name { font-size: 19px; font-weight: normal; }

.session-info-container .session-enrollment-stats { margin-top: 20px; }
.session-info-container .session-enrollment-stats-info { color: #a0a0a0; }

.session-info-container .evaluation-container { border: 1px solid #ccc; padding: 15px; }
.session-info-container .evaluation-container h4 { font-size: 14px; margin-bottom: 10px; }
.session-info-container .evaluation-status { font-weight: bold; float: left; width: 150px; text-align: center; }
.session-info-container .evaluation-status .status-label-container { height: 50px; display: table; float: right; }
.session-info-container .evaluation-status .status-label { text-transform: uppercase; width: 60px; display: table-cell; vertical-align: middle; }

.session-info-container .evaluation-content { margin: 0 190px 0 170px; }
.session-info-container .evaluation-meta { width: 170px; float: right; }
.session-info-container .evaluation-meta .evaluation-date { font-size: 16px; }
.session-info-container .evaluation-instructor .thumbnail { width: 30px; padding: 1px; float: left; margin: 0 10px 10px 0; }
.session-info-container .instructor-name { font-weight: bold; font-style: italic; margin-left: 44px; font-size: 14px;}
.session-info-container .instructor-title { font-style: italic; margin-left: 44px; }
.session-info-container .evaluation-attachment { border-top: 1px solid #ccc; margin-top: 10px; padding-top: 10px; }

#session-days-list .item-col { vertical-align: top; }
#session-days-list .col-status { width: 20px; text-align: center; }
#session-days-list .col-name { cursor: pointer; }
#session-days-list .col-date { width: 125px; float: right; }
#session-days-list .col-time { width: 200px; float: right; }
#session-days-list .col-location { width: 235px; float: right; }
#session-days-list .col-toggle_handle { text-align: center; float: right; width: 30px; }
#session-days-list .col-toggle_handle > span { vertical-align: middle; cursor: pointer; }
#session-days-list .header .item-col { margin: 0; }
#session-days-list .header .col-name { margin-left: 3px; }
#session-days-list .item.selected { background-color: #FFF; }
#session-days-list .item .col-name,
#session-days-list .item .col-time { line-height: 20px; padding-top: 8px; padding-bottom: 8px; }
#session-days-list .item.selected > .primary { background-color: #0465AC; color: #FFF; }
#session-days-list .item.selected > .primary .text-colored { color: #FFF; }
#session-days-list .item > .secondary { padding: 15px 5px 0 5px; background-color: #F8F8F8; }
#session-days-list .info-section { position: relative; padding: 5px 0 15px; }
#session-days-list .info-section-title { font-size: 14px; border-bottom: 1px solid #ddd; padding-bottom: 5px; }
#session-days-list .info-section-icon { position: absolute; top:5px; left:0; text-align: center; width: 23px; }
#session-days-list .info-section-content.has-icon { margin-left: 30px; }
#session-days-list .info-section .thumbnail { width: 100px; display: inline-block; margin-right: 10px; }
#session-days-list .map-preview-container { position: relative; text-align: center; padding: 20px 0; }
#session-days-list .map-preview-container .location-map-canvas { width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
#session-days-list .primary { cursor: pointer; }

.classroom-objects-grid .item { cursor: pointer; }
.classroom-objects-grid .header .item-col.col-status,
.classroom-objects-grid .col-status { width: 20px; text-align: center; }

.session-list-view .list-view .items {
	border-top: none;
}

.filter-border {
	border-bottom: 1px solid #e4e6e5;
}
.selections.clearfix.filter-border {
	margin: 13px 0px;
}

.session-details-container {
	padding-bottom: 15px;
	border-bottom: 1px solid #e4e6e5;
}
.session-details-container table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
.session-details-container td {
	border: none;
}
.session-details-container td.title {
	text-align: left;
	vertical-align: bottom;
	width: 25%;
}
.session-details-container td.title h3 {
	margin-bottom: 0px;
}
.session-details-container td.dates {
	text-align: right;
}


/*
.classroom-details-container {
    padding-bottom: 15px;
}
.classroom-details-container .classroom-dates-container, .session-details-container .classroom-dates-container {
    text-align: right;
		float: right;
}
*/



#session-enrollment-list.list-view .summary {
	margin: 20px 0 0;
}

/*#session-enrollment-list.readonly .course-enrollment-username {*/
	/*margin: 0px 100px 0 0px;*/
/*}*/

#sessions-management-grid.grid-view table.items {
	border-collapse: separate;
}


/* assign users to session */
.modal.modal-session-assign-users {width:880px; margin-left: -440px;}
.modal-session-assign-users .modal-header .classroom-sprite {
	position: absolute;
	top: 3px;
	left: 0;
}
.modal-session-assign-users .modal-footer .info {
	position: absolute;
	right: 260px;
	text-align: right;
	width: 350px;
	line-height: 1.2em;
}

.modal-copy-session .modal-header, .modal-delete-session .modal-header {
	padding: 7px 18px;
}

.modal-copy-session .modal-body form input[type="text"]{
	width: 530px;
	margin: 8px 0 12px;
	border-color: #e5e5e5;
}

.modal-copy-session .modal-body form select {
	padding: 5px;
}

.modal-copy-session .modal-body table {
	vertical-align: middle;
	width: 100%;
	margin-bottom: 15px;
}

.modal-copy-session .modal-body table tr {
	line-height: 50px;
}

.modal-copy-session .modal-body table tr td:first-child {
	width: 26%;
}

#evaluations-grid-search-form table td label {
	display: inline-block;
	margin-left: 5px;
}

#evaluations-grid-search-form table td {
	vertical-align: middle;
}

#evaluations-grid-search-form > div.filters-wrapper {
	margin-top: 20px;
}

#evaluations-grid table th, #evaluations-grid table td {
	vertical-align: bottom;
	text-align: center;
}

#evaluations-grid table th:first-child, #evaluations-grid table td:first-child {
	text-align: left;
}

#evaluations-grid table th span.session-date-time-subtitle {
	font-weight: normal;
	color: #333;
}

#evaluations-grid table th a.attendance-multitrigger {
	text-transform: none;
	text-decoration: underline;
}

#popup_bootstroAddAnotherDate {
	width: 150px;
	max-width: 150px;
	top: 420px;
	left: 50px !important;
	display: block;
}

#popup_bootstroAddAnotherDate .popover-content {
	text-align: left;
	font-size: 22px;
}

#popup_bootstroAddAnotherDate .bootstro-arrow.arrow-nw {
	top: -100px;
	left: -30px;
}


#popup_bootstroAddAnotherDate .popover-content .text-colored.green {
	display: block;
}

#view-date-form .day-title i, #view-date-form .day-time-line i, #view-date-form .day-location i {
	width: 25px;
	height: 25px;
	display: block;
	margin-right: 10px;
	float: left;
}

#view-date-form .day-title div, #view-date-form .day-time-line div, #view-date-form .day-location div {
	/*float: left;*/
}
#view-date-form .day-title div.name-label,
#view-date-form .day-title div.description-label{
	float: none;
	display: block;
}

#view-date-form .day-title i {
	background: transparent url(../images/classroom_icons_sprite.png) no-repeat -180px -206px;
}

#view-date-form .day-time-line i {
	background: transparent url(../images/classroom_icons_sprite.png) no-repeat -154px -206px;
}

#view-date-form .day-location i {
	background: transparent url(../images/classroom_icons_sprite.png) no-repeat -135px -184px;
}

.view-date-form-actions input[type="button"] {
	margin-right: 10px;
}

.edit-evaluation-dialog .modal-header {
	padding: 7px 18px;
}

.edit-evaluation-dialog .modal-header h3 .i-sprite.large.is-edit.white {
/* 	background: transparent url(../images/classroom_icons_sprite.png) no-repeat -224px -150px; */
	margin-left: -40px;
}

.edit-evaluation-dialog .status-label {
	font-weight: bold;
	margin-top: 6px;
	font-size: 16px;
}

.session-evaluation-dialog h3, #evaluate-user-form label {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

#evaluate-user-form label.bordered {
	border-top: 1px solid #dadada;
	padding-top: 10px;
}

.session-evaluation-dialog p.course-title {
	font-weight: bold;
	color: rgb(9, 100, 171);
}

.set-evaluation-score {
	font-size: 14px;
	margin-bottom: 5px;
}

.set-evaluation-score table {
	float: right;
}

.set-evaluation-score table td {
	vertical-align: middle;
}

.set-evaluation-score table td:first-child {
	padding-right: 10px;
	font-weight: bold;
}

.set-evaluation-score table td input[type="text"] {
	width: 60px;
}

.set-evaluation-score table td:last-child {
	font-weight: bold;
	padding-left:5px;
}

p.score-desc {
	text-align: left;
	font-size: 95%;
}

.row-fluid.bordered-row {
	padding: 10px 0px;
	border-bottom: 1px solid #dadada;
}

.evaluation-user-info table td {
	vertical-align: middle;
	font-weight: bold;
	font-size: 18px;
	color: rgb(9, 100, 171);
}

.evaluate-next-user div.span3{
	text-align: center;
	margin-top: 67px;
	color: #52ab52;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 22px;
}

.evaluate-next-user div.success-icon {
	height: 37px;
	width: 37px;
	background: url(../images/icons_elements.png) -172px -62px no-repeat;
	margin: 0 auto 12px;
}

.evaluate-next-user h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}

.evaluate-next-user div.row-fluid {
	margin-bottom: 20px;
}

.evaluate-next-user div.row-fluid input.btn[type="button"] {
	margin-top: 15px;
}

.evaluation-text {
	border-bottom: 1px solid #dadada;
	padding-bottom: 10px;
}

#evaluate-user-form .evaluation-date {
	margin-top: 20px;
	font-style: italic;
	font-size: 18px;
}

#evaluate-user-form table.instructor-box {
	float: right;
}

#evaluate-user-form table.instructor-box td {
	vertical-align: middle;
	font-size: 18px;
	font-style: italic;
	padding: 10px;
}

#evaluate-user-form table.instructor-box td div.instructor-name {
	font-weight: bold;
	margin-top: 5px;
}

#remove-uploaded-file {
	margin-left: 10px;
}

#player-courseheader-container  .course-header-title h1 {
	margin-bottom: 5px;
}

#player-courseheader-container  .course-header-title .description, #player-courseheader-container .course-header-description {
	margin-left: 80px;
}

#player-courseheader-container .course-header-description {
	margin-bottom: 10px;
}

#remove-enroll-form .filters .group {
	vertical-align: middle;
}

#remove-enroll-form .filters .group a {
	vertical-align: middle;
}

.classroom-dates-container ul li {
	margin:  5px 0px;
}

.classroom-dates-container ul li i {
	width: 24px;
	height: 23px;
	display: inline-block;
	margin-left: 10px;
	background: transparent url(../images/classroom_icons_sprite.png) no-repeat 0 0;
}

.classroom-dates-container ul li.session-name { text-align: justify; }
.classroom-dates-container ul li.session-name i { background-position: 0px -43px; }
.classroom-dates-container ul li.session-date i { background-position: 0px -232px; }
.classroom-dates-container ul li.session-from_to i { background-position: 0px -22px; }


.dialog-confirm-checkbox {
	vertical-align: middle;
	padding-top: 20px;
}

.dialog-confirm-checkbox label {
	display: inline;
	margin-left: 10px;
}


.instructor-avatar img {
	padding: 2px;
	max-width: 100px;
	max-height: 60px;
	border: 1px solid #E4E6E5;
	margin-right: 10px;
}

.power-users-members a span.assignLocations.yellow {
	background-position: -57px -238px;
}

.course-enrollments-actions li .assign-locations span {
	background-image: url(../images/classroom_icons_sprite.png);
	background-position: -59px -1px;
	width: 40px;
	height: 36px;
}

.course-enrollments-actions li .assign-locations:hover span {
	background-position: -103px -1px;
}

.modal.assign-locations .modal-header h3 span {
/* 	background-position: -29px -232px; */
/* 	background-image: url(../images/classroom_icons_sprite.png); */
}


.lv-session-title {
	color: #0465AC;
	font-size: 18px;
}

.lv-session-description {
	color: #2d2d2d;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

.lv-details div.span4{
	text-align: center;
}

.lv-details div.span4 .is-clock{
	margin-top: 4px;
}

.lv-details div.span4 .is-terminal{
	margin-top: 7px;
}

.lv-details-blue {
	color: #0465AC;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 3px;
	cursor: default;
}

.webinar-label {
	display: inline;
	padding: .2em .6em .3em;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	/*border-radius: .25em;*/
	background: #777;
	text-transform: uppercase;
}

.label-light-green {
	background: #67d399;
}

.label-black {
	background: #000;
}

.webinar-timer-box a{
	float: right;
	margin-left: 10px;
}

.webinar-timer-box label {
	float: right;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
}

.webinar-timer-box #webinar-timer{
	font-weight: bold;
}

.webinar-timer-box-end a{
    float: right;
    margin-left: 10px;
}

.webinar-timer-box-end label {
    float: right;
    font-size: 18px;
    margin-top: 10px;
	margin-left: 10px;
}

.webinar-timer-box-end #webinar-timer-end{
    font-weight: bold;
}

.webinar-icon-big {
	background: url('../images/webinar/sprite-icons.png') no-repeat scroll 3px -2px transparent !important;
	width: 28px !important;
	height: 40px !important;
	display: inline-block;
}
.webinar-advance-time-label{
	margin-top: 20px;
}
#session_form .smaller{
	font-size: 12px;
	font-weight: 600;
}

a.tool-list, a.tool-list:hover {
	text-decoration: none;
}

.sessionsRow .collapsedOnly .span2, .sessionsRow .collapsedOnly .span5, .sessionsRow .collapsedOnly .webinar-label {
	visibility: hidden;
}

.sessionsRow.collapsed .collapsedOnly .span2, .sessionsRow.collapsed .collapsedOnly .span5, .sessionsRow.collapsed .collapsedOnly .webinar-label{
	visibility: visible;
}

#session-info-container #dates-listing #dates-listing .date-row.date .details{
	padding-top: 0;
}

#session-info-container #dates-listing #dates-listing .date-row.date .details .is-clock{
	margin-top:2px;
}

#session-info-container #dates-listing #dates-listing .date-row.date .details .is-terminal{
	margin-top:7px;
}

.addRecordingBlock{
	height: auto;
	min-height: 80px;
	line-height: 35px;
	overflow: hidden;
}

.addRecordingBlock label{
	display: inline-block;
	margin-left:5px;
}

.addRecordingInlineBlockContent{
	margin-left:20px;
}

.addRecordingBlockContent{
	margin-left: 32px;
	margin-top: 10px;
}

.addRecordingBlock input[type="text"]{
	display: block;
	width: 574px;
}

.addRecordingBlock .addRecordingBlockContent div.warning-strip {
	height: auto;
	margin-top: 10px;
	line-height: 18px;
}

#upload_file_name{
	display: inline-block;
	font-weight: bold;
	margin-left: 10px;
}

.webinarSpinner{
	width: 620px;
	height: 150px;
	background: url("../images/ajax-loader10.gif") 292px 65px no-repeat;
}

.webinarSpinner span{
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 125px;
}

.webinarRecordingComplete{
	width: 620px;
	height: 150px;
}

.webinarRecordingComplete .tick{
	font-family: FontAwesome;
	color: #53AB54;
	font-size: 70px;
	display: block;
	text-align: center;
	padding-top: 25px;
	height: 50px;
}

.webinarRecordingComplete .text{
	text-align: center;
	display: block;
}

.webinarRecordingComplete .link{
	text-align: center;
	display: block;
	padding-top: 45px;
}

.btn-docebo.btn-dummy{
	padding: 7px 10px;
	font-weight: 600;
	cursor: default;
}

.deleteRecording{
	display: inline-block;
	width: 40px;
	height: 31px;
}

.deleteRecording span{
	display: block;
	background: url("../images/ico_sprite.png") 0 -592px no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 19px;
	margin-left: 10px;
}

.deleteRecordingButtons{
	padding: 30px 0 0 0;
	text-align: right;
}

.deleteRecordingButtons input[type="reset"]{
	margin-left: 17px;
}

.deleteRecordingModal{
	width: 400px;
	margin-left: -230px;
}

.modal.modal-webinar-recording-player {
	width: 800px;
	margin-left: -400px;
	min-height: 400px;
}

.modal.modal-webinar-recording-player .modal-footer {
	text-align: center;
	padding-top: 1px;
}

.modal.modal-webinar-recording-player .modal-footer .btn-docebo {
	min-width: 100px;
}

.modal-webinar-recording-player div.external-video-container {
	text-align: center;
	margin-top: 10px;
}

.modal-webinar-recording-player .loading-spinner-container {
	min-height: 300px;
}
.modal-webinar-recording-player .loading-spinner-container i.fa-spin.fa-spinner {
	color: #999999;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
}

.secondary
{
	background-color:#F8F8F8;
}

.big-font
{
	font-size:1.5em;
}