.webinar-info-text{
	font-weight: bold;
}

.columnsContainer{
	width: 100%;
}

.columnLeft{
	width: 48%;
	float: left;
}

.columnRight{
	width: 48%;
	float: right;
}

.modal-footer{
	clear: both;
}

.radio-button-list label{
	display: inline-block;
	width: 35%;
}

.radio-button-list label.control-label{
	display: block;
	margin-bottom: 10px;
	width: 100%;
}