/**
 * CSS styles for form and input fields.
 *
 * These styles are used with form and input fields generated via yiic script.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2009 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 */

div.yiiForm
{
	margin: 0;
	padding: 5px;
	/* width: 550px; */
}

div.yiiForm label.required
{
}

div.yiiForm span.required,
div.yiiForm div.errorMessage {
	color: red;
}

div.errorSummary
{
	border: 1px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.errorSummary ul li
{
	list-style: square;
}

div.yiiForm p.hint
{
	color: gray;
	font-size: 90%;
	margin: 0 0 0 131px;
}

div.yiiForm fieldset
{
	border: #DDD 1px solid;
	margin: 10px 0;
	padding: 10px;
}

div.yiiForm legend
{
	font-weight: bold;
}

div.yiissForm .simple label
{
	display:inline-block;
	width:30%;
}
div.yiissForm .simple {
	margin-bottom:8px;
}

div.yiiForm div.action
{
	clear: left;
	margin-left: 110px;
	padding: 0.25em 0;
	display: block;
}

div.yiiForm div.simple,
div.yiiForm div.complex
{
	clear: left;
	text-align: left;
	padding: 0.25em 0;
}

div.yiiForm div.simple label,
div.yiiForm div.complex span
{
	display: block;
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 120px;
}

div.yiiForm label.error,
div.yiiForm span.error
{
	color: #C00;
}

/*div.yiiForm input {
	border: 1px solid #888;
}*/

div.yiiForm input.error,
div.yiiForm textarea.error,
div.yiiForm select.error
{
	background: #FEE;
	border: 1px solid #C00;
}

div.yiiForm div.simple div,
div.yiiForm div.complex div
{
	margin-left: 110px;
}
