.i-sprite.is-googledrive               {background-position:-12px -2867px;width:20px;height:20px;}
.i-sprite.is-googledrive.grey          {background-position:-53px -2867px;width:20px;height:20px;}
.i-sprite.is-googledrive.orange        {background-position:-89px -2867px;width:20px;height:20px;}
.i-sprite.is-googledrive.blue          {background-position:-131px -2867px;width:20px;height:20px;}
.i-sprite.is-googledrive.green         {background-position:-176px -2867px;width:20px;height:20px;}
.i-sprite.is-googledrive.red           {background-position:-254px -2867px;width:20px;height:20px;}

a.p-hover:hover .i-sprite.is-googledrive, .i-sprite.is-googledrive.white	        {background-position:-216px -2867px;width:20px;height:20px;}

#add-lo-type-hint .is-googledrive{
	width: 40px;
	height: 40px;
	background-image: url("../images/googledrive-40.png") !important;
	background-repeat: no-repeat;
	background-position: 0 0;
}

#googledrive_warning{
	margin-left: 100px;
}

.googledrive-radiolist{
	margin-bottom: 15px;
}

.googledrive-radiolist #LearningGoogledoc_import_type span label{
	display: inline-block;
}

.googledrive-radiolist .disabledLabel{
	color: #999999;
}

#googledrive_container_import{
	width: 100%;
	overflow: hidden;
}

.googledrive_container_import2{
	width: 3000px;
}

.googledrive_container_import2 .googledrive_preview_url{
	display: inline-block;
	margin-left: 10px;
}

.googledrive_title_info{
	font-size: 12px;
	color: #999;
	font-weight: bold;
	display: block;
}

#LearningGoogledoc_url{
	width: 90%;
}

#player-centralrepo-uploader .url-validator-info{
	margin-left: 10px;
	top: 5px;
	position: relative;
}

.googledrive-settings.advanced-main{
	margin-left: 0;
}

.googledrive-settings.advanced-main input[type="text"]{
	width: 98%;
}

.googledrive-settings.advanced-main .row.even .row{
	padding-right: 18px;
}

.advanced-main .section .row.even.googledrive-align-right{
	text-align: right;
	padding-bottom: 0;
}

#label-use-picker{
	font-size:15px;
	font-weight: normal;
}