/**
 * DOCEBO
 * @copyright Copyright &copy; 2004-2013 Docebo
 */

/*
 Colors
 ----------------------
 border: #E4E6E5
 background: #F1F3F2
 blue: #0465AC;
 text: #333333
*/

/* Main Wrapper ------------------------------------------ */

#player-container {}


/* Learning objects menu -------------------------------- */

#player-lonav {
/* 	display: block; */
	z-index: 7499;
	width: 400px;
}

	#player-lonav .player-lonav-content {
	}

	#player-lonav .player-lonav-tree {
		position: relative;
		border-top: 1px solid #cccccc;
	}

	#player-lonav .player-lonav-content h2 {
		font-size: 17px;
		line-height: 34px;
		font-weight: 400;
		padding: 0 0 12px;
		color: #333333;
		text-shadow: 0 1px 0 #ffffff;
	}

/* Launchpad -------------------------------------------- */

#player-arena-launchpad{
	position: relative;
}

	#player-arena-launchpad .player-launchpad-header {
		position: relative;
	}

	#player-arena-launchpad .player-launchpad-header h2 {
		margin: 0;
		padding: 0 12px;
		background: #333333;
		color: #FFFFFF;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 0 1px 0 #000000;
		line-height: 44px;
	}
    @media (max-width: 1000px) {
        .player-launchpad-header .span12 > h2 {
            padding-right: 12% !important;
        }
    }

		#player-arena-launchpad .player-launchpad-header .player-close {
			position: absolute;
			top: 0;
			right: 0;
			line-height: 44px;
			padding-right: 40px;
			color: #ffffff;
			font-weight: bold;
			text-shadow: none;
			text-decoration: none;
			background: url(../images/close-inline.gif) 100% 50% no-repeat;
		}

		#player-arena-launchpad .player-launchpad-header .player-close:hover {
			text-decoration: none;
		}

	#player-arena-launchpad .player-launchpad-content {
		position: relative;
		padding: 0;
		border: 1px solid #E4E6E5;
		margin-bottom: 20px;
	}

	/* empty launchpad */

	#player-arena-launchpad .player-launchpad-content .player-launchpad-empty {
		margin: 2px;
        min-height: 411px;
		overflow: hidden;
        /*background: url(../images/player_bg.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
    }

	#player-arena-launchpad .player-launchpad-content .player-launchpad-empty.fill-image {
	    background-size: cover;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
	    max-height: 411px;
    }

	@media(max-width: 1199px) and (min-width: 980px)
	{
		#player-arena-launchpad .player-launchpad-content .player-launchpad-empty.fill-image
		{
			min-height:369px;
			max-height:369px;
			height:369px;
		}
	}

	@media(max-width: 979px) and (min-width: 768px)
	{
		#player-arena-launchpad .player-launchpad-content .player-launchpad-empty.fill-image
		{
			min-height:280px;
			max-height:280px;
			height:280px;
		}
	}

	@media(max-width: 767px)
	{
		#player-arena-launchpad .player-launchpad-content .player-launchpad-empty.fill-image
		{
			background-size:100% 100% !important;
		}
	}

		#player-arena-launchpad .player-launchpad-content .player-launchpad-empty .player-launchpad-header {
			position: static;
		}

		#player-arena-launchpad .player-launchpad-content .player-launchpad-empty .player-launchpad-header h2 {
			position: absolute;
			top: 72%;
			right: 2px;
			margin: 0;
			padding: 0 12px;
			background: #0465AC;
			color: #FFFFFF;
			font-size: 22px;
			font-weight: 600;
			text-shadow: none;
			line-height: 38px;
			display: inline-block;
		}

	/* general play icon */

	#player-arena-launchpad .player-launchpad-big-blue-play {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -50px;
		cursor: pointer;
		z-index: 8;
		box-shadow: 0 0 15px #333333;
		background: url(../images/play-icon.png) no-repeat center center #0465AC;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		filter: alpha(opacity=90);
		-khtml-opacity: 0.9;
		-moz-opacity: 0.9;
		opacity: 0.9;
	}

/* LO Custom play item ---------------------------------- */

.player-arena-inline,
.player-arena-file-inline,
.player-arena-html-inline,
.player-arena-deliverable-inline,
.player-arena-test-inline,
.player-arena-poll-inline,
.player-arena-scorm-inline,
.player-arena-tincan-inline {
	border: 1px solid #E4E6E5;
	margin-bottom:20px;
	min-height: 417px;
}

.player-arena-test-inline {
	border: 1px solid #E4E6E5;
	margin-bottom:20px;
}

.player-arena-poll-inline,
.player-arena-test-inline,
.player-arena-file-inline,
.player-arena-html-inline,
.player-arena-deliverable-inline {
	padding:12px;
	border-bottom:3px solid #333333;
}

/* LO Htmlpage ------------------------------------------ */

.player-arena-html-inline {
}

/* LO Deliverable ------------------------------------------ */

.player-arena-deliverable-inline {}
.player-arena-deliverable-inline .description {
    margin-left: 48px;
}
.player-arena-deliverable-inline form .menu-loading {
    position: absolute;
    top: -28px;
    right: 0;
    display: none;
}
.player-arena-deliverable-inline .upload-form-result { display: none; }
.player-arena-deliverable-inline .error-summary { display:none; margin-bottom: 10px; font-weight: bold; }
.player-arena-deliverable-inline input[type="submit"] {
    position: absolute;
    bottom: -40px;
    right: 0;
}
.player-arena-deliverable-inline span.jq-file { max-width: 130px; }
.player-arena-deliverable-inline span.jq-file .jq-file__browse {
    padding: 3px 1px;
    font-size: 12px;
}
.player-arena-deliverable-inline span.video-separator {
    line-height: 34px;
    vertical-align: top;
    margin-left: 10px;
}
.player-arena-deliverable-inline .deliverable-video-url {
    height: 24px;
    width: 62%;
    float: right;
}
.player-arena-deliverable-inline textarea { height: 60px; }
.player-arena-deliverable-inline .jq-file__name { display: none !important; }

.player-arena-deliverable-inline{
	padding-bottom: 40px;
}

.player-arena-deliverable-list {
    border-top: 1px solid #E4E6E5;
}
.player-arena-deliverable-list > li {
    border-bottom: 1px solid #E4E6E5;
    padding: 10px 12px;
    line-height: 28px;
    position: relative;
}
.player-arena-deliverable-list > li > a {
    display: block;
    cursor: pointer;
}
.player-arena-deliverable-list > li > div .row-content .download-assignment {
	margin-left: 10px;
}

.player-arena-deliverable-list > li:hover .row-content {
}
.player-arena-deliverable-list > li .row-content span.i-sprite {
}
.player-arena-deliverable-list .evaluation {
    position: absolute;
    top: 10px; right: 0;
    width: 104px;
}
.player-arena-deliverable-list .evaluation > * {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    height: 28px;
}
.player-arena-deliverable-list .evaluation > span.i-sprite {}
.player-arena-deliverable-list .evaluation > label {
    line-height: 28px;
    max-width: 70px;
    color: #777;
    font-style: italic;
    padding-left: 4px;
    cursor: default;
}
.player-arena-deliverable-list .evaluation > label.status-waiting {
    line-height: 12px;
}
.player-arena-deliverable-list .evaluation .arrow-container {
    float: right;
    padding: 4px 6px 0;
    display: none;
}
.player-arena-deliverable-list li:hover .arrow-container {
    display: block;
}
.player-grey-box.deliverable-download{
	margin: 0;
    float: none;
}
.deliverable-download .deliverable-name{
	margin: 5px auto 5px 10px;
	line-height: 28px;
}
.deliverable-download .is-download{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.deliverable-external-link{
	margin-right: 10px;
	margin-bottom: 15px;
}

.player-deliverable-upload-form .multiupload-container {
    text-align: right;
    margin-bottom: 20px;
}
.player-deliverable-upload-form .multiupload-container ul {
    text-align: left;
}
.player-deliverable-upload-form .multiupload-container button {}
.player-deliverable-upload-form .multiupload-container > .msg {
    text-align: left;
    font-weight: bold;
}

.player-deliverable-upload-form .multiupload-container li a.delete-upload {
    display: inline-block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    line-height: 100;
    overflow: hidden;
    margin-right: 10px;;
    background: url("/themes/spt/images/icons_elements.png") -199px -131px no-repeat;
}

/* Evaluate deliverable modal ---------------------------------------------- */
.modal-evaluate-deliverable {
    width: 600px;
}
.modal-evaluate-deliverable .modal-body {
    max-height: inherit;
    overflow: hidden;
}
.modal-evaluate-deliverable .media-container {
    text-align: center;
}
.modal-evaluate-deliverable .modal-footer .btn.evaluation-failed {
    background: #d90000;
    color: #ffffff;
}
.modal-evaluate-deliverable .modal-footer .btn.evaluation-passed {
    background:#5FBF5F;
    color:#ffffff;
}
.modal-evaluate-deliverable .media-author-container {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}
.modal-evaluate-deliverable .media-author-container h6 {
    margin-bottom: 10px;
}
.modal-evaluate-deliverable .media-author-image {
    float: left;
    margin-right: 10px;
    border: 1px solid #CCC;
    padding: 1px;
}
.modal-evaluate-deliverable .media-author-name {
    margin-bottom: 4px;
}
.modal-evaluate-deliverable .score-input {
    width: 40px;
}
.modal-evaluate-deliverable .instructor-section {}
.modal-evaluate-deliverable .instructor-section > div label {
    font-weight: bold;
}
.modal-evaluate-deliverable .upload-container {
    margin-bottom: 10px;
}
.modal-evaluate-deliverable .upload-container label {
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
.modal-evaluate-deliverable .upload-container .jq-file {}
.modal-evaluate-deliverable label.checkbox {
    vertical-align: bottom;
    margin-top: 10px;
}
.modal-evaluate-deliverable .jq-checkbox { margin-right: 4px; }
.modal-evaluate-deliverable .jq-file__name { line-height: 30px; }

.modal-evaluate-deliverable .score-box {
    border: 1px solid #e5e5e5;
    padding: 10px;
}
.modal-evaluate-deliverable .score-box .score {
    font-size: 26px;
    font-weight: bold;
}
.modal-evaluate-deliverable .score-box .status-icon {
    margin-top: 6px;
}
.modal-evaluate-deliverable .score-box .score .score-value {}
.modal-evaluate-deliverable .score-box .score span.sep {
    margin: 0 6px;
}
.modal-evaluate-deliverable .score-status {
    margin-top: 6px;
    text-transform: uppercase;
}
.modal-evaluate-deliverable .status-passed .score-value,
.modal-evaluate-deliverable .status-passed .score-status {
    color: #5FBF5F;
}
.modal-evaluate-deliverable .status-rejected .score-value,
.modal-evaluate-deliverable .status-rejected .score-status {
    color: #d90000;
}


/* LO Item ---------------------------------------------- */

.player-arena-file-inline .file-title {
	margin:0;
	padding:0;
	font-size:16px;
	line-height: 32px;
	font-weight:700;
	color: #333333;
}

/* LO Test ---------------------------------------------- */

.player-launchpad-test-description{
	overflow: auto;
	height: 140px;
	padding:6px;
	border-top:1px solid #E4E6E5;
	border-bottom:1px solid #E4E6E5;
	margin:10px 0 20px;
}

.player-arena-test-inline .player-launchpad-content-text {
    background: #F1F3F2;
    padding: 15px 20px;
}
.player-arena-test-inline .player-launchpad-content-text h3 {
    color:#333333;
	font-size:18px;
	font-weight:600;
	padding:0;
	margin: 0 0 6px;
	line-height: 36px;
}
.player-arena-test-inline ul.test_info_list {}
.player-arena-test-inline ul.test_info_list > li {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #FFF;
    line-height: 32px;
}
.player-arena-test-inline ul.test_info_list > li:first-child {
    border-top: none;
}
.player-arena-test-inline ul.test_info_list > li:last-child {
    border-bottom: none;
}

.launchpad-test-feedback{
	padding-top: 10px;
}
.player-launchpad-test-head-image {
    margin-bottom: 20px;
}
.player-launchpad-test-head-image img {
	width:100%;
}

.start-test-button {
    float: right;
    margin-top: 25px;
    position: relative;
}

.player-launchpad-test-description {

}

/*test review*/
.header-review img{
	width:100%;
}
.header-review-description{
	padding:12px 0;
}

.header-review-description ul{
	list-style-type: disc;
	margin-left: 30px;
}

.header-review-description ol{
	list-style-type: decimal;
	margin-left: 30px;
}

.l-testpoll .review-result{
	padding:16px;
	background: #F1F3F2;
}
.player-launchpad-test-head-image .review-result{
	border-top:1px solid #E4E6E5;
	padding-top:18px
}
.review-result .review-result-text{
	font-size:22px;
}

.review-scores{
	font-size:16px;
}
.review-scores .score-failed,
.review-header .score-failed{
	color:#D80100;
}
.review-scores .score-passed,
.review-header .score-passed{
	color:#6FCF6F;
}
.review-scores .review-percentage,
.review-header .review-percentage{
	font-size:14px;
}
.feedback-text{
	margin:0;
	padding:8px 16px;
}

/* LO Fancybox ------------------------------------------ */

.fancybox-docebo-title {
	position: absolute;
	top: -33px;
	left: 0px;
	padding: 0;
	background: #333333;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 0 1px 0 #000000;
	line-height: 33px;
	width: 100%;
}

.fancybox-docebo-title span {
	padding-left:12px;
}

.fancybox-docebo-close {
	position: absolute;
	top: -33px;
	right: 10px;
	line-height: 33px;
	padding-right: 40px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	background: url(../images/close-inline.gif) 100% 50% no-repeat;
}

.fancybox-docebo-close:hover {
	color:#ffffff;
	text-decoration: underline;
}

/* LO Quick navigation carousel ------------------------- */

#player-quicknav-carousel {
	background-color: #333333;
	height: auto;
	margin: 0;
}

	#player-quicknav-carousel .carousel-inner {
		height: auto;
		width: 100%;
		margin: 0 auto;
	}

	#player-quicknav-carousel .carousel-control {
		position: absolute;
		top: 0;
		left: 0px;
		width: 120px;
		height: 54px;
		margin-top: 0;
		font-size: 60px;
		line-height: 38px;
		color: #cccccc;
		background: #333333;
		text-shadow: none;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
		border: none;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

		#player-quicknav-carousel .carousel-control:hover {
			background-color: #555555;
			cursor: pointer;
		}

		#player-quicknav-carousel .carousel-control.right {
			right: 0;
			left: auto;
			text-align: right;
		}

	#player-quicknav-carousel .carousel-inner .item {
		background-color: #333333;
		height: auto;
	}

	.player-quicknav-object {
		text-align: center;
		height: 54px;
		color: white;
	}

		.player-quicknav-object:hover {
			background-color: #555555;
			cursor: pointer;
		}

	#player-quicknav-carousel .player-quicknav-object .status-icon {
		padding-top: 12px;
	}

		#player-quicknav-carousel .player-quicknav-object .object-data {
			text-align: left;
			height: 54px;
			overflow: hidden;
		}

		#player-quicknav-carousel .player-quicknav-object .object-data > span {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            display: block;

			/* This is form IE 8, its working like transform: translateY. And margin-top will be shown only in IE 8 - 7*/
			-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
			margin-top:0px\9\0;
		}

/* Add LO Button ---------------------------------------- */

#player-manage-add-lo-button {}

	#player-manage-add-lo-button .add-lo-operation-type {
		font-weight: bold;
		font-size:11px;
	}

	#player-manage-add-lo-button .dropdown-menu {
		margin-top:4px;
		padding:5px 15px 10px;
		width:170%;
		-webkit-border-radius: 0px;
		 -khtml-border-radius: 0px;
		   -moz-border-radius: 0px;
			-ms-border-radius: 0px;
			 -o-border-radius: 0px;
				border-radius: 0px;
	}

	#player-manage-add-lo-button .dropdown-menu:before {
		position: absolute;
		top: -12px;
		right: 9px;
		display: inline-block;
		border-right: 8px solid transparent;
		border-bottom: 12px solid rgba(0, 0, 0, 0.2);
		border-left: 8px solid transparent;
		content: '';
	}

	#player-manage-add-lo-button .dropdown-menu:after {
		position: absolute;
		top: -11px;
		right: 10px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 11px solid #ffffff;
		border-left: 7px solid transparent;
		content: '';
	}

	#player-manage-add-lo-button .dropdown-menu li {
		border-top: 1px solid #E4E6E5;
		clear: both;
	}

	#player-manage-add-lo-button #add-lo-type-hint {
		border: 0 none;
		padding: 5px 15px 15px;
		height: 70px;
	}

	#player-manage-add-lo-button .hint-ico {
		margin-right: 10px;
		height:55px;
	}

	#player-manage-add-lo-button .dropdown-menu li span {
		line-height: 34px;
/* 		font-size: 13px; */
		padding-left:5px;
	}

	#player-manage-add-lo-button .dropdown-menu li span.add-lo-operation-type span {
		font-size: 11px;
		text-transform:uppercase;
	}

	#player-manage-add-lo-button .add-lo-type-description a {
		display: block;
		text-decoration: none;
		padding-left: 8px;
	}

	#player-manage-add-lo-button .add-lo-type-description a:hover {
		color: #ffffff;
		font-weight: normal;
		background: #333333;
		text-shadow: 0 1px 0 #333333;
	}

	#player-manage-add-lo-button .dropdown-menu li span.new-label{
		background-color: #6CC068;
		color: white;
		font-size: 11px;
		line-height: 16px;
		margin-top: 7px;
		margin-right: 7px;
		text-shadow: none;
		padding: 2px;
	}

/* Lo Management ---------------------------------------- */

#player-lo-manage-panel{}

.player-arena-board{}

.player-lo-manage-header {
	margin-bottom:2px;
	position:relative;
}

	.player-lo-manage-header .lom-title{
		padding: 0;
		color: #333333;
		font-size: 18px;
		line-height: 40px;
		font-weight: normal;
	}

.player-arena-overall-container{
	border: 1px solid #E4E6E5;
	margin-bottom:20px;
    height: 500px;
}

	.player-arena-overall-container .row-fluid,
	.player-arena-overall-container .span4,
	.player-arena-overall-container .span8{
		height: 100%;
		overflow: auto;
	}

	.player-arena-overall-container ul.dynatree-container .p-sprite.is-folder{
		float: left;
	}
	.player-arena-overall-container ul.dynatree-container a.dynatree-title {
		display: block;
		word-wrap: break-word;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#player-arena-overall-folders{
		background: #F1F3F2;
		border-right: 1px solid #E4E6E5;
		/* the height of the container ( allow it to stretch more if more folders are present ) */
		min-height: 500px;

	}

    #player-arena-overall-folders.dynatree-container-parent ul.dynatree-container{
        padding:3px 0;
    }

    #player-arena-overall-folders > ul > li > span > a > div {
        word-break: normal !important;
    }

	#player-arena-overall-objlist{
		padding-right: 14px;
	}

		#player-arena-overall-objlist .i-sprite,
		#player-arena-overall-objlist .p-sprite{
			vertical-align: middle;
		}

		#player-arena-overall-objlist.dynatree-container-parent.player-arena-overall-column ul.dynatree-container li.player-arena-li{
			margin:0;
			padding:0;
			line-height:33px;
			border-bottom:1px solid #E4E6E5;
		}

			#player-arena-overall-objlist .player-prefix{
                float: left;
            }
            #player-arena-overall-objlist li a.dynatree-title{
                overflow: hidden;
                text-overflow: ellipsis;
				display: block;
				/*white-space: nowrap;*/
            }

			#player-arena-overall-objlist li a.dynatree-title .version-info{
				float: right;
				font-size: 12px;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			@media (max-width: 980px) {
				#player-arena-overall-objlist li a.dynatree-title .version-info{
					width: 70px;
					white-space: nowrap;
				}
			}
			#player-arena-overall-objlist li a.dynatree-title .version-info i{
				margin-right: 8px;
				position: relative;
				top: 2px;
				font-size: 17px;
			}

			#player-arena-overall-objlist ul.dynatree-container li .dynatree-node{
				margin:1px 0;
				padding:0 6px;
			}
			#player-arena-overall-objlist ul.dynatree-container li:hover .dynatree-node{
				background:#F1F2F3;
			}

			#player-arena-overall-objlist ul.dynatree-container li.droppable-hovered .dynatree-node{
				background:#F0F1F2;
			}

			#player-arena-overall-objlist .player-prefix span.i-sprite,
			#player-arena-overall-objlist .player-prefix span.p-sprite{
				margin-right:10px;
			}

			#player-arena-overall-objlist .dynatree-container-parent ul.dynatree-container a,
			#player-arena-overall-objlist li a.dynatree-title {
				margin:0;
			}

			#player-arena-overall-objlist .player-postfix{
				float:right;
			}
			#player-arena-overall-objlist .player-postfix div{
				text-align: left;
			}

			#player-arena-overall-objlist .player-postfix .version-info {
				position: relative;
				top: 3px;
				cursor: pointer;
			}
			#player-arena-overall-objlist .player-postfix .csp-info {
				position: relative;
				top: 3px;
			}

			#player-arena-overall-objlist .player-postfix .tooltip {
				position: fixed;
			}

			#player-arena-overall-objlist .player-postfix .fa-hdd-o,
			#player-arena-overall-objlist .player-postfix .fa-shopping-cart{
				font-size: 18px;
			}

			#player-arena-overall-objlist .player-postfix .postfix-fa-icon,
			#player-arena-overall-objlist .player-postfix span.i-sprite,
			#player-arena-overall-objlist .player-postfix span.p-sprite{
				margin-left:10px;
			}

			/* dropdown button */
			#player-arena-overall-objlist .player-postfix .btn-group{
				margin-left:10px;
			}

			#player-arena-overall-objlist .btn-group > .btn:first-child {
				border:0px none;
				-webkit-border-radius: 0px;
				 -khtml-border-radius: 0px;
				   -moz-border-radius: 0px;
					-ms-border-radius: 0px;
					 -o-border-radius: 0px;
						border-radius: 0px;
				background: transparent;
				text-shadow: none;
				box-shadow: none;
				padding:0;
				min-width: auto;
			}

			#player-arena-overall-objlist .btn-group>.btn,
			#player-arena-overall-objlist .btn-group>.dropdown-menu,
			#player-arena-overall-objlist .btn-group>.popover{
				top:80%;
				font-size:13px;
				-webkit-border-radius: 0px;
				 -khtml-border-radius: 0px;
				   -moz-border-radius: 0px;
					-ms-border-radius: 0px;
					 -o-border-radius: 0px;
						border-radius: 0px;
				padding:5px 0;
				border:1px solid #E4E6E5;
				-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
				   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
				        box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
			}

			#player-arena-overall-objlist .dropdown-menu:before {
				position: absolute;
				top: -11px;
				right: 8px;
				display: inline-block;
				border-right: 7px solid transparent;
				border-bottom: 11px solid rgba(0, 0, 0, 0.2);
				border-left: 7px solid transparent;
				content: '';
			}

			#player-arena-overall-objlist .dropdown-menu:after {
				position: absolute;
				top: -10px;
				right: 9px;
				display: inline-block;
				border-right: 6px solid transparent;
				border-bottom: 10px solid #ffffff;
				border-left: 6px solid transparent;
				content: '';
			}

			#player-arena-overall-objlist .dropdown-menu>li>a{
				padding:4px 12px;
				font-weight: normal;
			}

			#player-arena-overall-objlist .player-postfix .dropdown-menu>li>a span.i-sprite,
			#player-arena-overall-objlist .player-postfix .dropdown-menu>li>a span.p-sprite{
				margin:0 2px 0 0;
			}

			#player-arena-overall-objlist .dropdown-menu>li>a:hover,
			#player-arena-overall-objlist .dropdown-menu>li>a:focus,
			#player-arena-overall-objlist .dropdown-submenu:hover>a,
			#player-arena-overall-objlist .dropdown-submenu:focus>a{
				background: #333333;
				color:#ffffff;
				font-weight: normal;
			}

			#player-arena-overall-objlist.dynatree-container-parent.player-arena-overall-column ul.dynatree-container .btn-group li {
				margin:0;
			}

.player-blocks-nav-header-button {
	position: relative;
}

/* drag utility */

.lo-drag{
	cursor:pointer;
}

.player-drag-proxy{
	list-style: none;
    line-height:33px;
}

	.player-drag-proxy .player-postfix{
		display:none;
	}

.dynatree-container-parent ul.dynatree-container li.player-arena-overall-placeholder {
	margin:1px 0;
	background: #F1F3F2;
}

/* LO Edit mode ----------------------------------------- */

.player-arena-editor-panel{}

	.player-arena-editor-panel .header{
		margin:0;
		padding:0 12px;
		background:#333333;
		color:#FFFFFF;
		font-size:18px;
		font-weight:normal;
		text-shadow:0 1px 0 #000000;
		line-height:44px;
	}

	.player-arena-editor-panel .content{
		position:relative;
		border:1px solid #E4E6E5;
		border-bottom:3px solid #333333;
		padding:30px 20px 20px;
		margin-bottom:20px;
	}

/*  Test menu ------------------------------------------- */

#play-test-form .btn-docebo{
	margin-right:12px;
}

ul.test-bootcamp {
    margin: 0 0 30px;
}
ul.test-bootcamp li {
    float: left;
    margin-right: 11px;
    border: 1px solid #e4e6e5;
}
ul.test-bootcamp li:last-child {
    margin-right: 0;
}
ul.test-bootcamp li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid #fefefe;
    padding: 20px 10px 0;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F2F1));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: -moz-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: -o-linear-gradient(top, #FFFFFF, #F0F2F1);
    background-image: linear-gradient(to bottom, #FFFFFF, #F0F2F1);
    width: 80px;
    min-height: 80px;
}
ul.test-bootcamp li a:hover {
    background-color: #333;
    background-image: none;
}
ul.test-bootcamp li a:hover .i-sprite {display: none;}
ul.test-bootcamp li a:hover .i-sprite.white {display: inline-block;}
ul.test-bootcamp li a:hover h4,
ul.test-bootcamp li a:hover p {
    color: #FFF;
    text-decoration: none;
    text-shadow:0 0 0;
}
ul.test-bootcamp li a .i-sprite {}
ul.test-bootcamp li a .i-sprite.white {display: none;}
ul.test-bootcamp li a h4 {
    color: #333;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #FFFFFF;
    padding-top: 10px;
}
ul.test-bootcamp li.helper {
    display: none;
}
ul.test-bootcamp li.helper a {
    text-align: left;
    width: 266px;
    padding-top: 10px;
    min-height: 90px;
}
ul.test-bootcamp li.helper a .i-sprite {
    float: left;
    margin-right: 5px;
}
ul.test-bootcamp li.helper a h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    padding: 0;
}
ul.test-bootcamp li.helper a p {
    margin: 5px 0 0;
}


#player-reports-test-users .gridItemsContainer {
	width: 100%;
	overflow: auto;
}

.report-test-select-columns {
	float: right;
	padding: 5px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #e4e6e5;
	margin-left: 5px;
	cursor: pointer;
}

.test-report-column {
	width: 100%;
	float: left;
	clear: left;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
	-moz-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	-webkit-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	padding: 6px 0px 3px 0px;
	cursor: default;
}

.test-report-column:hover {
	background: #f1f3f2;
}

.test-report-column input {
	float: left;
	clear: left;
	margin: 4px 10px 0px 10px;
	cursor: pointer;
}

.test-report-column label {
	float: left;
	font-weight: bold;
	cursor: pointer;
}

.test-report-column-title {
	float: left;
	border-bottom: 1px solid #e6e6e6;
	padding: 6px 0px 3px 10px;
	width: 100%;
	cursor: default;
}

.report-grid-link {
	text-decoration: underline;
}

.grid-view table.items td table.report-sco {
	border: none;
	width: 100%;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.grid-view table.items td table.report-sco td.spacer {
	width: 20px;
	padding: 0;
	margin: 0;
}
.grid-view table.items td table.report-sco td.title {
	padding: 0;
	margin: 0;
}

.modal-branding-external-page {
	width: 774px;
}

.test-details-scores {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 5px 0px 5px 0px;
	margin-top: 3px;
}

.test-details-print {
	border: 1px solid #e4e6e5;
	padding: 8px;
	background: #f1f3f2;
	width: 20px;
	height: 20px;
	float: left;
}

.test-details-scores-box {
	float: right;
}

.test-details-scores-box .final-score {
	float: right;
	min-width: 400px;
}

.test-details-scores-box .final-score .p-sprite{
	float: right;
	margin: 0px 5px 0px 5px;
}

.test-details-scores-box .final-score strong {
	font-size: 22px;
	float: right;
}

.test-details-scores-box .final-score span {
	font-size: 22px;
	font-weight: bold;
	color: #5ab65f;
	float: right;
}

.test-details-scores-box .score-increase {
	float: right;
	clear: both;
}

.test-details-grey-box {
	width: 100%;
	float: left;
	background: #f1f3f2;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	-moz-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	-webkit-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	margin-bottom: 10px;
	padding: 6px 1% 3px 1%;
}

.test-details-white-box {
	float: left;
	width: 98%;
	padding: 15px 1% 3px 1%;
}

.test-details-white-box ul{
	list-style-type: disc;
	margin-left: 30px;
}

.test-details-white-box ol{
	list-style-type: decimal;
	margin-left: 30px;
}

.test-details-question-title {
	font-size: 14px;
}

.test-details-question-score {
	background: #fff;
	border: 1px solid #E6E6E6;
	padding: 6px 12px;
	margin: 12px 0px 0;
}

.test-details-question-score p
{
	display: inline-block;
	margin: 0px;
}

.test-details-question-answers {
	margin-top: 10px;
	padding-left: 10px;
}

.test-details-question-answers input {
	margin-right: 10px;
	margin-top:0;
	line-height: 20px;
}

.test-details-question-answers .p-sprite {
	margin-right: 5px;
}

.test-details-question-answers p
{
	display: inline-block;
	margin: 0px;
}

.test-details-question-answers span ul{
	list-style-type: disc;
	margin-left: 30px;
}

.test-details-question-answers span ol{
	list-style-type: decimal;
	margin-left: 30px;
}

.test-answer-spare-icon {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

.correct-answer-label {
	margin: 5px 0px 0px 10px;
	padding-top: 5px;
}

.test-details-type-title {
	background: #0465ac;
	color: #fff;
	font-size: 18px;
	padding-top: 10px;
}

.test-details-type-title span {
	margin: 0px 0px 10px 20px;
	float: left;
	text-shadow:0 1px 0 #000;
}

.report-ajax-title {
	margin: -34px 0px 20px 60px;
}

.report-ajax-title span {
	color: #000;
}

/**
 * End of player play and edit  LO -------------------------------------------------------------------------------------
 */


/* Player Blocks ---------------------------------------- */

#player-blocks-nav-header-container {
	padding:30px 0 15px;
}

	.player-blocks-nav-header-title h2{
		color:#333333;
		font-weight: normal;
		font-size:18px;
		line-height: 28px;
	}

#player-blocks-container{
	padding:20px 20px 0;
	margin-bottom:20px;
	background:#F1F3F2;
}
	.player-block {
		padding:16px;
		font-family:'Open Sans', sans-serif;
		border:0px none;
		background:#ffffff;
		-webkit-box-shadow:  4px 4px 5px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow:  4px 4px 5px 0px rgba(0, 0, 0, 0.15);
		box-shadow:  4px 4px 5px 0px rgba(0, 0, 0, 0.15);
	}
    .player-block-placeholder {
        height: 100px;
        border: 1px dashed #CCC;
        background: none;
        box-shadow: none;
    }

	.player-block-header{
		margin:0 0 5px;
		border:0px none;
		background: transparent;
		color:#333333;
		font-weight: normal;
	}

		.player-block-header .title{
			line-height: 20px;
			font-weight: normal;
			font-size:18px;
			color:#333333;
		}

		.player-block-extra-header-html {
			display: inline-block;
		}


	.player-block-header.navbar .btn,.player-block-header.navbar .btn-group{
		margin:0;
	}

	.player-block a.btn, .player-block a.btn.disabled{
		min-width: inherit;
	}

	.btn-group .btn-transparent{
		background: none;
		margin: 0;
		padding: 0;
		border: 0px none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		text-shadow: none;
	}


    .table-hover {
        border-bottom: 1px solid #E4E6E5;
    }
    .table-hover tr th,
    .table-hover tr td {
        padding:10px;
        position: relative;
        font-size:13px;
        line-height:20px;
        border-top: 1px solid #E4E6E5;
    }
    .table-hover tbody tr > td {
        position: relative;
        padding-right: 0px;
    }
    .table-hover tr td > a {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .table-hover tbody tr > td .action {
        display: none;
    }
    .table-hover tbody tr > td .action > * {
        margin-right: 4px;
    }
    .table-hover tbody tr:hover > td .action {
/*         right: 0; */
/*         top: 0; */
/*         width: 170px; */
/*         background: #f1f3f2; */
/*         line-height: 40px; */
        display: block;
/*         padding-right: 10px; */
    }

    .table-hover tbody tr:hover > td .folderArrow{
        display: none;
    }



/* Course info block ------------------------------------ */

.player-block-courseinfo .player-block-content-inner,
.player-block-sessioninfo .player-block-content-inner {
	font-size:12px;
}
.player-block-sessioninfo .no-session {
	font-size: 12px;
	font-style: italic;
	text-transform: lowercase;
}
.player-block-courseinfo .player-block-content-inner h4,
.player-block-sessioninfo .player-block-content-inner h4 {
	font-size:16px;
	line-height: 20px;
	font-weight: 600;
}
.player-block-courseinfo .player-block-content-inner p,
.player-block-sessioninfo .player-block-content-inner p {
	margin:0;
	padding:0;
}
.player-block-courseinfo .avatar,
.player-block-sessioninfo .avatar {
	margin-top:2px;
	margin-right:8px;
	padding:1px;
	border:1px solid #E4E6E5;
	max-width: 50px;
	max-height: 50px;
}

	#player-certificate-info{
		margin-right:8px;
	}

#player-course-percentgraph {
	position:relative;
	width:66px;
	text-align:center;
}

	#player-course-percentgraph #player-course-percentage {
		position: absolute;
		top: 22px;
		right: 12px;
		line-height: 20px;
		font-size: 16px;
		font-weight: 600;
		width: 40px;
	}

		#player-course-percentgraph #player-course-percentage span{
			font-size:12px;
			font-weight:normal;
		}

/* Forum block ------------------------------------------ */

.player-forum-block table tr th{
	color:#0465AC;
	text-shadow:0 1px 0 #ffffff;
	font-weight:bold;
	text-transform:uppercase;
}
.player-forum-rating-settings-form {}
.player-forum-rating-settings-form .jq-checkbox {margin-top: 5px;}
.player-forum-rating-settings-form .tone-icons-list {}
.player-forum-rating-settings-form .tone-icons-list > div {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.player-forum-rating-settings-form .tone-icons-list > div > .jq-radio {
    margin: 0 auto;
    float: none;
    margin-left: -4px;
}
.player-forum-rating-settings-form .rating-container {
    height: 20px; margin-bottom: 10px;
}

/* Blog block ------------------------------------------ */

.player-blog-block {}

    .player-blog-block .create-post-container {
        border-top: 1px solid #E4E6E5;
        border-bottom: 1px solid #E4E6E5;
        text-align: center;
        padding: 5px 0;
    }
    .player-blog-block .create-post-container a {}


/* Coursedocs block ------------------------------------------ */

.player-coursedocs-block {}

    .player-coursedocs-block td.coursedoc-info {
        padding-left: 0;
        line-height: 16px;
    }
    .player-coursedocs-block td.coursedoc-info .coursedoc-title {
        color: #0465AC;
        font-weight: bold;
    }

    .player-coursedocs-block td.coursedoc-info .coursedoc-title {
        word-break: normal !important;
        width: 300px;
        overflow:hidden;
        display:inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .player-coursedocs-block td > .action {
        padding-top: 6px;
    }
li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions li {
	text-align: left;
}

li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions li:not(:last-child) {
	margin-bottom: 4px;
}
li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions{
	border-radius: 0px;
}

li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions li i {
	font-size: 18px;
	width: 20px;
}
li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions li a {
	padding: 4px 10px;
}

li.player-block-coursedocs ul.dropdown-menu.pull-right.player-lo-actions li a span{
	margin-left: 5px;
}
/* Content Raven */
#coursedoc-uploader-container div.content-raven-fields {
	padding: 10px 0px;
}
#coursedoc-uploader-container div.content-raven-fields div.content label,
#coursedoc-uploader-container div.content-raven-fields div.permission label{
	float: left;
	padding-top: 3px;
}
#coursedoc-uploader-container div.content-raven-fields div.content input,
#coursedoc-uploader-container div.content-raven-fields div.permission input {
	width: 160px;
	margin-left: 13px;
}
#coursedoc-uploader-container div.content-raven-fields div.permission {
	margin-left: 0px;
	float: right;
}
/**************/

#coursedoc-uploader-container label.control-label{
	text-align: left;
}

#coursedoc-uploader-container #permissionType .jq-radio {
	margin: 5px 0px 7px 0px;
}

#coursedoc-uploader-container  #permissionGroups span.jq-checkbox {
	background-position: -143px -201px;
}

#coursedoc-uploader-container  #permissionGroups span.jq-checkbox.checked {
	background-position: -189px -201px;
}

#coursedoc-uploader-container #permissionTypes {
	margin-bottom: 10px;
}

#coursedoc-uploader-container #permissionGroups {
	display:none;
}

#coursedoc-uploader-container #permissionGroups .controls {
	padding-left:20px;
}

#coursedoc-uploader-container #permissionGroups .controls div{
	margin-bottom: 7px;
}

#upload-x-form.file-upload-session-form #coursedoc-uploader-container #permissionTypes {
	padding-top: 20px;
}

#upload-x-form.file-upload-session-form #coursedoc-uploader-container #permissionTypes label.control-label {
	display: inline-block;
	width: 130px;
	float: left;
}

#upload-x-form.file-upload-session-form #coursedoc-uploader-container #permissionTypes .controls {
	display: inline-block;
	float: left;
}

#coursedoc-uploader-container #permissionGroups .controls {
	margin-left: 9px;
	margin-top: 15px;
}

#coursedoc-uploader-container #permissionTypes .controls label {
	margin-bottom: 5px;
}

#upload-x-form.file-upload-session-form #coursedoc-uploader-container #permissionTypes #permissionGroups .controls{
	margin-top: 5px;
}

li.player-block-coursedocs a.coursedoc-title > span.i-sprite {
	margin-right: 5px;
}

li.player-block-coursedocs a.coursedoc-title i.fa {
	font-size: 27px;
	margin-right: 10px;
}

li.player-block-coursedocs i.fa.folder-item{
	color: #0465AC;
	font-size: 31px !important;
	margin-right: 5px !important;
}

/* Content Raven */

/* Coursedocs block ------------------------------------------ */

.player-videoconf-block {}
    .player-videoconf-block .nav-tabs {
        margin: 0;
        width: auto;
        background-color: #FFFFFF;
        float: none;
        border-top: 0px;
        border-bottom: 1px solid #ddd;
    }
    .player-videoconf-block .nav-tabs>li, .player-videoconf-block .nav-tabs>li.active {
        float: left;
        background: #FFFFFF;
        margin-bottom: -1px;
        background-color: transparent;
        border-bottom: 0px;
    }
    .player-videoconf-block .nav-tabs>li>a, .player-videoconf-block .nav-tabs>li>a:hover{
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: #eee;
        border: 1px solid #ddd;
        margin-right: 10px;
        padding: 10px 8px;
    }

    .player-videoconf-block .nav-tabs>.active>a,
    .player-videoconf-block .nav-tabs>.active>a:hover,
    .player-videoconf-block .nav-tabs>.active>a:focus {
        background: #FFF;
        border-bottom-color: transparent;
        border-top: 3px solid #6FCF6F;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding-top: 8px;
    }
    .player-videoconf-block .nav-tabs>li>a .i-sprite { height: 31px; }

    .player-videoconf-block .tab-content {
        border: 1px solid #E4E6E5;
        border-top: none;
        overflow: visible;
    }
    .player-videoconf-block .tab-pane > .title {
        text-transform: uppercase;
        padding: 15px 10px 6px;
        font-weight: bold;
        color: #0465AC;
    }
    .player-videoconf-block .tab-pane > .title.important {
        color: #F00;
    }
    .player-videoconf-block .tab-content ul.items {
    }
    .player-videoconf-block .tab-content ul.items > span.empty {
        border-top: 1px solid #E4E6E5;
        display: block;
        padding: 10px;
    }
    .player-videoconf-block .tab-content ul.items > li {
        padding:10px;
        position: relative;
        font-size:13px;
        line-height:20px;
        border-top: 1px solid #E4E6E5;
    }
    .player-videoconf-block .tab-content ul.items > li:hover {
        background: #f1f3f2;
    }
    .player-videoconf-block .tab-content ul.items li .action {
        display: none;
        margin-top: 8px;
    }
    .player-videoconf-block .tab-content ul.items li:hover .action {
        display: block;
    }
    .player-videoconf-block #videoconf-onair-list li a.btn-docebo {
        margin-left: 8px;
    }
    .player-videoconf-block .datepicker-container {
        text-align: right;
        padding: 12px;
        border-top: 1px solid #E4E6E5;
    }
    .player-videoconf-block #videoconf-history-list li .dropdown-div,
    .player-videoconf-block #videoconf-scheduled-list li .dropdown-div,
	.player-videoconf-block #videoconf-onair-list li .dropdown-div{
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -12px;
        text-align: left;
    }
    .player-videoconf-block .compact-pager {
        border-top: 1px solid #E4E6E5;
        padding: 10px 6px;
    }

	.player-videoconf-block #videoconf-onair-list li .warning-message-yellow{
		margin: 0;
		width: 98%;
	}
	.player-videoconf-block #videoconf-scheduled-list li .warning-message-yellow {
		margin: 0;
		line-height: 17px;
	}

/* Comments block ------------------------------------------ */

.player-comments-block {}

	.player-comments-block .load-more {
		background: #f5f5f5;
		margin-top: 15px;
		font-weight: bold;
	}

   	.player-comments-block .message-expandable .read-more a {
   		visibility: hidden;
   		color: #0465AC !important;
   	}

   	.player-comments-block .message-expandable:hover .read-more a {
   		visibility: visible;
   		color: #0465AC !important;
   	}

	.player-comments-block .message-expandable{
		max-width: 95%;
	}

    .player-comments-block .avatar {
        border: 1px solid #E4E6E5;
        padding: 1px;
    }

    .player-comments-block-add-comment {
        border-bottom: 1px solid #E4E6E5;
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .player-comments-block-add-comment textarea {
        background: #FFF;
    }

    .player-comments-block-discussion {}
    	.player-comments-block-discussion .author {
        	font-weight: bold;
        	margin-bottom: 4px;
    	}

    	.player-comments-block-discussion .comments-count {
        	text-transform: uppercase;
        	color: #0465AC;
        	border-bottom: 1px solid #0465AC;
        	font-size: 12px;
        	font-weight: bold;
        	margin: 6px 0 14px;
        	display: inline-block;
    	}
    	.player-comments-block-discussion .comments-container {
        	background: #f5f5f5;
        	position: relative;
        	padding: 8px;
    	}
    	.player-comments-block-discussion .comments-container:after {
        	bottom: 100%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
    	}
    	.player-comments-block-discussion .comments-container:after {
	        border-color: rgba(245, 245, 245, 0);
        	border-bottom-color: #f5f5f5;
        	border-width: 8px;
        	left: 10%;
        	margin-left: -8px;
    	}
    	.player-comments-block-discussion .comments-container .view-all {
    		margin-bottom: 8px;
    	}


    .player-comments-block-comment {
        border-top: 1px solid #FFF;
        padding: 8px 0;
    }
    .player-comments-block-comment:last-child {
        border-bottom: 1px solid #FFF;
        margin-bottom: 8px;
    }
    .player-comments-block-discussion .player-comments-block-add-comment {
        border: none;
        margin: 0;
        padding: 0;
    }

	.fancybox-wrap .player-comments-block-discussion {
		padding: 20px;
	}

	.fancybox-wrap .do-comment {
		display: none;
	}



/** Course Description block ********/

.player-block-content .course-description ol,
.player-block-content .course-description ul {
	margin: 0 0 10px 25px;
}

.player-block-content .course-description ol {
	list-style-type: decimal;
}


.player-block-content .course-description ul {
	list-style-type: disc;
}



/* Player Reports --------------------------------------- */

.timeline-title  {
	height: 55px;
	position: relative;
}

	.timeline-title h4 {
		position: absolute;
		bottom: 3px;
	}



/** Custom timeline **/
#timeline-custom-navigation  {
	height: 50px;
	position: relative;
	margin-right: -13px;
	margin-top: 3px;
/* 	border-bottom: none; */
}

	#timeline-custom-navigation .timeline-navigation {
		position: absolute;
		right: 0px;
		bottom: -3px;
/* 		border-bottom: none; */
	}


div.timeline-navigation-zoom-out {
  background: url('../images/icon-zoomout-grey.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
  background: url('../images/icon-zoomin-grey.png') no-repeat center;
}







#availableSearchLinks {
	float: right;
	width: 115px;
}

#availableSearchLinks a {
	float: left;
	width: 100%;
}

.player-search-form {
	margin: 5px 10px 0px 0px;
	float: right;
}

.player-search-form .player-deliverables-filter {
    float: right;
    margin-right: 20px;
    padding-top: 5px;
}
.player-search-form .player-deliverables-filter > label {
    float: right;
    margin-right: 10px;
}

.player-search-form .player-deliverables-filter .coaching-session {
    float: left;
    margin-right: 20px;
    margin-top: -5px;
}

.player-search-form .player-deliverables-filter .coaching-session div {
    display: inline-block;
    margin-right: 10px;
}
.player-search-form .player-deliverables-filter .coaching-session select {
    margin-bottom: 0px;
}

.player-search-form input[type="text"] {
	border-left: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
	border-top: 1px solid #e4e6e5;
	border-right: none;
	border-radius: 0px !important;
	webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	float: right;
}

.player-search-form input[type="button"] {
	border-right: 1px solid #e4e6e5;
	border-bottom: 1px solid #e4e6e5;
	border-top: 1px solid #e4e6e5;
	border-left: none;
	border-radius: 0px !important;
	webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	background: url('../images/lense.png') no-repeat center #fff;
	height: 30px;
	width: 30px;
	float: right;
	margin-left: -1px;
}

.player-grey-box {
	width: 100%;
	float: left;
	background: #f1f3f2;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	-moz-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	-webkit-box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	box-shadow: inset 0 1px 0px 0px #fff, inset 0 -1px 0px 0px #fff;
	margin-bottom: 10px;
	padding: 6px 0px 3px 0px;
}

.player-grey-box-separator {
	width: 90%;
	margin-left: 5%;
	float: left;
	clear: left;
	background: #e6e9e8;
	border-bottom: 1px solid #fff;
	height: 1px;
}

#reports-left-back {
	background: url('../images/reportsLeftBack.png') no-repeat;
	width: 196px;
	height: 72px;
	float: left;
}

#reports-left-stats {
	border: 1px solid #ccc;
	width: 92%;
	padding: 10px 4% 10px 4%;
	float: left;
	background: #f0f0f0;
}

#reports-left-stats ul {
	list-style: none;
	font-size: 12px;
	font-weight: bold;
}

#reports-left-stats ul li {
	line-height: 30px;
}

#reports-left-stats ul li span {
	color: #03569d;
	float: right;
	font-size: 16px;
}

#reports-grid-title {
	float: left;
	clear: left;
	margin-top: 20px;
}

.gauges-general-stats .gauge {
	width: 50%;
	float: left;
	height: 85px;
	position: relative;
}

.report-knob-text {
	text-align: right;
	font-size: 12px;
	color: #363938;
	font-weight: bold;
}

.report-knob-box {
	padding: 20px 0px 15px 0px;
}

#report-navigation {
	width: 100%;
	float: left;
	margin: 0px 0px 20px 0px;
}

#report-export label {
	float: left;
	margin: 10px 20px 0px 20px;
}

#report-export select {
	float: left;
	margin: 5px 0px 0px 0px;
}

#report-export a {
	float: left;
	margin: 10px 0px 0px 10px;
}

.report-nav-btn {
	background: #f1f3f2;
	margin: 0px 10px 0px 0px;
	font-size: 18px;
	height: 28px;
	float: left;
	padding: 10px 30px 0px 30px;
	color: #333;
	cursor: pointer;
}

.report-nav-btn.active {
	background: #333;
	color: #fff;
}

.report-nav-btn.active .report-nav-arrow {
	width: 100%;
	margin-top: 8px;
	background: url('../images/report-nav-arrow.png') no-repeat center;
	float: left;
	height: 10px;
}

.report-object-status {
	border: 1px solid #e4e6e5;
	height: 11px;
	width: 210px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.report-object-status .completed {
	background: #5fbf5f;
	height: 11px;
	float: left;
}

.report-object-status .attempted {
	background: #ffbf00;
	height: 11px;
	float: left;
}

.report-object-status .init-state {
	background: #fff;
	height: 11px;
	float: left;
}

ul.nav li.dropdown.hover:hover ul.dropdown-menu {
	display: block;
}

a.menu:after, .dropdown-toggle:after {
	content: none;
}

.player-stats-icon {
	margin: 10px 10px 0px 10px;
	float: left;
	clear: left;
	width: 22px;
}

.player-stats-info {
	float: left;
}

.player-stats-info strong {
	font-size: 14px;
	float: left;
}

.player-stats-info span {
	float: left;
	clear: left;
}

.player-reports-popover {
	margin-bottom: 0px !important;
}

.player-stats-counter {
	color: #0465ac;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}

.player-stats-counter-big {
	color: #0465ac;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}

.player-stats-label-box {
	font-size: 13px;
	line-height: 12px;
}

.player-stats-icon-big {
	float: none !important;
	margin-bottom: 10px !important;
	display: inline-block !important;
	margin-top: 10px;
}

.player-stats-icon-box {
	text-align: right;
	padding-right: 5px;
}

.player-report-enrolled, .player-report-enrolled30, .player-report-progress {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	margin-top: 28px !important;
	color: #3a3a3a !important;
}

.player-report-object-title {
	color: #0465ac;
}

.player-report-object-title a {
	color: #0465ac;
	text-decoration: underline;
}

.player-report-object-title a:hover {
	text-decoration: none;
}

/* BDatepicker widget css */

.widget-bdatepicker {
}

.widget-bdatepicker label {
	display: inline-block;
}

.widget-bdatepicker input {
	margin: 0 5px;
}

/* Poll Report */

.poll-chart-bar {
	height: 17px;
	float: left;
	clear: left;
	margin: 2px 0px 10px 0px;
}

.poll-chart-bar-count {
	background: #333;
	min-width: 34px;
	color: #fff;
	text-align: right;
	height: 17px;
	float: right;
	line-height: 16px;
	padding-right: 5px;
}

.poll-chart-bar-arrow {
	background: url('../images/poll_chart_arrow.png') left no-repeat;
	width: 6px;
	height: 17px;
	float: right;
}

.poll-chart-bar-inner-title {
	min-width: 30px;
	color: #333;
	float: left;
	height: 17px;
	line-height: 16px;
}

.poll-text-answer {
	width: 100%;
	float: left;
	border-bottom: 1px solid #e5e5e5;
	padding: 5px 0px 10px 0px;
	margin-bottom: 5px;
}

.poll-participants-count {
	float: right;
	margin: 10px 20px 14px 0px;
}

.list-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

/*
    Compact pagination style
    */
.compact-pager {
    text-align: right;
}
.compact-pager li > a, .compact-pager li > span {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #DDD;
    margin: 0 3px;
    line-height: 13px;
}
.compact-pager li > a:hover,
.compact-pager li > a:focus,
.compact-pager li.selected > a {
    color: #333;
    border: none;
    font-weight: bold;
    text-shadow: none;
    background: none;
}
.compact-pager .previous > a, .compact-pager .previous > span,
.compact-pager .next > a, .compact-pager .next > span {
    float: none;
}
.compact-pager .next > a,
.compact-pager .previous > a,
.compact-pager .first > a,
.compact-pager .last > a {
    font-weight: bold;
}
.compact-pager .last {
    margin-right: 8px;
}
.compact-pager .previous > a,
.compact-pager .next > a {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 4px 8px;
}
.compact-pager li.previous > a:hover,
.compact-pager li.previous > a:focus,
.compact-pager li.next > a:hover,
.compact-pager li.next > a:focus {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* Course settings -------------------------------------- */

.coursesetting-wrapper{
	position: relative;
	background: #f1f3f2;
}
	.coursesetting-wrapper h2,
	.coursesetting-wrapper h3{
		background: #ffffff;
		padding-bottom: 12px;
		font-size: 18px;
		font-weight: 600;
	}
	.coursesetting-wrapper .coursesetting-sidebar {
		width:200px;
		position: absolute;
		top:0;
		left:0;
	}

		.coursesetting-sidebar li {
			border-bottom: 1px solid #E4E6E5;
		}

		.coursesetting-sidebar li a {
			border: none;
			color: #333333;
			text-shadow: 1px 1px 0 #ffffff;
			background: none;
			margin: 0;
			border-left: none;
			border-right: none;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
			border-radius: 0;
			padding: 6px 10px 7px;
			display: block;
		}

		.coursesetting-sidebar li a.active,
		.coursesetting-sidebar li a:hover {
			background: #333333;
			text-decoration: none;
			color: #ffffff;
			text-shadow: 1px 1px 0 #333333;
		}

			.coursesetting-sidebar li a .i-sprite,
			.coursesetting-sidebar li a .docebo-sprite {
				margin-right:6px;
			}

	.coursesetting-sidebar li a > .icon{
		float: left;
		width: 30px;
	}

	.coursesetting-wrapper .coursesetting-main {
		margin-left:200px;
	}

	.coursesetting-wrapper .coursesetting-content {
		min-height: 500px;
		padding-left:15px;
		background: #ffffff;
	}

	.coursesetting-button{
		padding-left:15px;
		background: #ffffff;
	}

		.coursesetting-button .cs-button-inner{
			border-top: 1px solid #E4E6E5;
			padding:16px;
		}

/** TESTS **/
.element-feedback {
	opacity: 0.6;
}
/** FORUM BLOCK **/

.forum-quote {
	border: 1px solid #e8e9ea;
	margin: 5px;
	padding: 5px;
}

.forum-quote p{
	font-style: italic;
}

.forum-quote .forum-quote {
	display: none;
}

.forum-quote-author {
	width: auto;
	margin: 0px 5px;
	line-height: 12px;
	font-size: 12px;
	border: 0px;
}

/** general player elements **/

.title-bold.back-button > span{
	vertical-align: bottom;
}
.title-bold.back-button a{
	background: url(../images/back-arrow-icon.jpg) #333333 no-repeat;
	font-weight: 800;
	font-size: 11px;
	color: #ffffff;
	padding: 2px 7px 3px 12px;
	margin-right: 5px;
}

.title-dark {
	color: #626262;
	margin: 5px 0px 8px 0px;
}

/** Used to remove auto-margin from bootstrap **/
.row-fluid.no-space [class*="span"] {
	margin-left: 0;
}

/** jqplot custom styles **/
.jqplot-highlighter-tooltip {
	background: #333 !important;
	color: #fff !important;
	font-size: 22px !important;
	padding: 10px 15px 8px 15px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}

/** Player user-report **/
.user-report-avatar {
	float: left;
	width: 65px;
	padding: 5px;
	border: 1px solid #d2d2d2;
	margin-left: 5px;
	margin-right: 5px;
}

.user-report-username {
	font-size: 16px;
	font-weight: bold;
	color: #0a68ad;
	margin-top: 15px;
}

.user-report-email {
	color: #373737;
}

.user-report-course-stats {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px 0px 4px 0px;
	margin-bottom: 15px;
}

.user-report-search {
	float: left;
	width: 100%;
	padding: 7px 0px 0px 0px;
}

.user-report-button {
	background: #53ab53;
	border: none;
	padding: 5px 15px 4px 15px;
	font-size: 14px;
	float: left;
	color: #fff;
}

#user_names {
	float: left;
	margin-right: 5px;
}

.user-report-search label {
	float: left;
	margin: 3px 5px 0px 10px;
}

.report-ajax-loader {
	background: url('../images/ajax_loading.gif');
	margin-left: 49%;
	float: left;
	clear: left;
	width: 41px;
	height: 39px;
	margin-bottom: 20px;
}

.lo-editable {
	border-bottom: none !important;
	width: 1px;
	height: 1px;
	float: left;
	overflow: hidden;
	font-size: 1px;
}

.lo-status-edit-btn {
	cursor: pointer;
}

.lo-menu hr{
	border-width: 1px 0;
	border-style: solid none;
	border-color: #e4e6e5 #ffffff #ffffff;
	margin: 10px 15px;
}
/* my instructor(s) block styles */

.myinstructor table {
	width: 100%;
	border: none;
}

.myinstructor table td.photo {
	width: 54px;
}
.myinstructor table td.photo img {
	border: 1px solid #CCCCCC;
	max-width: 50px;
	max-height: 50px;
}

.myinstructor table td.name {
	font-weight: bold;
	color: #0465AC;
	font-size: 15px;
	padding-left: 14px;
	text-align: left;
	vertical-align: middle;
}

.myinstructor table td.email {
	text-align: center;
	vertical-align: middle;
	width: 30px;
}



.scorm-upload-options, .elucidat-upload-options{
    background-color: #F1F3F2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.scorm-upload-options .device-type, .elucidat-upload-options .device-type {
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: 700;
}


.scorm-upload-options .control-group ,.elucidat-upload-options .control-group {
    margin-bottom: 0px;
}

.scorm-upload-options .controls, .elucidat-upload-options .controls {
    margin-left: 35%;
}

.scorm-upload-options .controls span.jq-radio, .elucidat-upload-options .controls span.jq-radio {
    float: left;
}



label.scorm-status-assign-label { margin: 0; padding: 6px 3px 3px 3px; vertical-align: middle; }
label.scorm-status-assign-label input { margin: 1px 8px 1px 1px; padding: 0; }
label.scorm-status-assign-label span { margin: 1px; padding: 0; }

#player-arena-uploader .tabbable {
    background-color: #f1f3f2;
}

#player-arena-uploader .tabbable .tab-content {
    background-color:   #FFF;
    padding-left:       20px;
    padding-right:      20px;
    padding-top:        20px;
	overflow: 			auto;

}
#player-arena-uploader #seekable-container {
    margin-left: 180px;
}

#player-arena-uploader #video-url{
	/*display: none;*/
}

#player-arena-uploader #video-url input{
	height: 20px;
	width: 90%;
}

#player-arena-uploader #video-url .muted{
	font-size: 10px;
}

#player-arena-uploader .url-valudator-info{
	margin-left: 10px;
	position: relative;
	top: 5px;
}

#player-arena-uploader .url-valudator-info i.fa-check-circle-o{
	color: #5ebe5d;
}
#player-arena-uploader .url-valudator-info i.fa-times{
	color: red;
}

#player-arena-uploader .url-valudator-info .tooltip{
	top: -64px;
	left: -39.78125px;
	display: block;
	width: 100px;
}

#player-arena-uploader .wistia-icon {
	height: 31px;
	margin-top: -17px;
	display: inline-block;
}


div.player-launchpad-test-description ul{
	list-style-type: disc;
	margin-left: 30px;
}

div.player-launchpad-test-description ol{
	list-style-type: decimal;
	margin-left: 30px;
}

/* Likert Scale report */
table.playLikertScale{
	width: 100%;
	margin-bottom: 20px;
}
table.playLikertScale thead tr th {
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
	padding: 8px 0px;
	word-break: break-all;
	word-wrap: break-word;
}

table.playLikertScale tbody tr td:first-child{
	padding-left: 10px;
}
table.playLikertScale .scaleCheckboxHeader{
	padding: 0px 5px 10px 5px;
	line-height: 15px;
}
table.playLikertScale .scaleCheckBox{
	text-align: center;
}
/* Likert Scale report */

#player-container #player-manage-add-lo-button a.lo-upload-centralrepo i,
#player-arena-container #player-manage-add-lo-button a.lo-upload-centralrepo i{
	margin-right: 7px;
	position: relative;
	top: 4px;
	margin-left: -1px;
	font-size: 1.8em !important;
}

#waitlist-not-available-on-sale, #allow-self-unenrollment, #attention-waitlist-not-available-on-sale {
	margin-bottom: 10px;
	display: none;
}

#allow-self-unenrollment .exclamation-mark, #waitlist-not-available-on-sale .exclamation-mark{
	margin-bottom: 0px;
}

#allow-self-unenrollment .warning-text, #waitlist-not-available-on-sale .warning-text {
	padding-top: 13px;
}

#catalog_options .help-block {
	padding-left: 7px;
}

#catalog_options .disabled {
	color:#666666;
}



.report-grid-box .failed-attempts.blocked,
.report-grid-box .blocked a.lo-attempts-editable {
	color: red;
}

.report-grid-box .failed-attempts.warning,
.report-grid-box .warning a.lo-attempts-editable {
	color: orange;
}