@media (min-width: 1250px) {
}

@media (min-width: 980px) {
}

@media (min-width: 980px) and (max-width: 1199px) {
    #player-navtabs-container .nav-button .nav-button-bluelabel {
        font-size: 12px;
    }    

}

@media (min-width: 768px) and (max-width: 979px) {
    #player-navtabs-container .nav-button .nav-button-bluelabel {
        font-size: 10px;
    }
        
}

@media (max-width: 767px) {
    
    .course-header-logo {
        display: none;
    }
    
    #player-navtabs-container .nav-button .nav-button-bluelabel {
        font-size: 10px;
    }
    
    #course-header-status span {
        float: left;        
    }
    
    .player-arena-menu {
        max-height: 50px;
    }
    
    div.span3[class*="flexaction-item-"] {
        margin-left: 10px !important;
        margin-bottom: 10px;
        float: left;
    }
    
    
}

@media (max-width: 480px) {
}
