.fancybox-skin {
	border-radius: 0px !important;
	-webkit-box-shadow: 0 0px 5px 1px #cccccc !important;
	-moz-box-shadow: 0 0px 5px 1px #cccccc !important;
	box-shadow: 0 0px 5px 1px #cccccc !important;
	border: 1px solid #ccc !important;
	padding: 45px 15px 15px 15px !important;
}

.fancybox-overlay {
	background: url('../images/fancybox-white-overlay.png') !important;
}

.fancybox-title {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	right: 0 !important;
	top: 0 !important;
	bottom: auto !important;
	width: 100% !important;
	background-color: #333;
}

.fancybox-title .child {
	margin-right: 0% !important;
	border-radius: 0px !important;
	width: 98% !important;
	padding: 5px 0px 5px 2% !important;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	margin-left: -1px;
	text-align: left !important;
	background: rgba(51, 51, 51, 1) !important;
}

.fancybox-close {
	position: absolute !important;
	top: 12px !important;
	right: 15px !important;
	width: 9px !important;
	height: 10px !important;
	background-image: url('../images/fancybox-close-button.png') !important;
	background-position: top;
	background-repeat: no-repeat;
	z-index: 8050 !important;
}

.fancybox-close:hover {
	background-image: url('../images/fancybox-close-button.png') !important;
	background-position: bottom;
	background-repeat: no-repeat;
}