@CHARSET "UTF-8";

.grid-menu {display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; background: center; float: left; }
.grid-menu {width: 24px; height: 20px; background-image: url(../images/cgrid-menu-sprite.png); }

.img-options {background-position: 2px 1px;}
.img-active-from {background-position: 1px -141px}
.img-active-to {background-position: 1px -22px;}
.img-graph {background-position: 1px -42px;}
.img-edit {background-position: 1px -61px;}
.img-reset {background-position: 1px -79px;}
.img-del-cert {background-position: 1px -100px;}
.img-delete {background-position: 1px -121px;}
