@CHARSET "UTF-8";

html {
	margin: 0;
	padding: 0;;
	height: 100%;
}

body {
	position: relative;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    background: #ffffff;
    overflow-y: auto;
    font-size:13px;
    line-height: 18px;
	min-height: 100%;
	margin: 0;
	padding: 0px 12px;
}

body h1 {
	line-height: 27px;
}

img {
	padding:8px;
}

.player-arena-html-inline p
{
	margin-top:0px;
}