.player-navigator{
	background: #333333;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
	padding: 0 12px;
}
.player-navigator .prev,
.player-navigator .next{
	line-height: 45px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
}
.player-navigator .top-space{
	margin-top: 5px;
}
.player-navigator .top-space.extra{
	margin-top: 8px;
}
.player-navigator .now-playing-label{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}