@CHARSET "UTF-8";

.slate-sprite {display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.slate-sprite {background-image: url(../images/slate-sprite.png); }

.top-left-arrow {display: none; background-position: 0px 0px; height: 90px; width: 69px;}