.edit-question-container {
	/*
	border: 1px solid #ececec;
	outline: 1px solid #e6e6e6;
	*/
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	overflow-y: scroll;
	min-height: 550px;
	max-height: 550px;
}

.edit-question-table th {
	background-color: #333333;
	color: #FFFFFF;
	font-size: 19px;
	line-height: 1em;
	padding-bottom: 2px;
	text-shadow: 1px 1px 4px #000000;
	width: 100%;
	line-height: 45px;
	margin-left: 0 !important;
}


