/*
    Test/poll layout
    .l-xxx ==> the 'l' prefix comes from the word 'layout'
*/
.l-testpoll {}
.l-testpoll .form-actions {
    padding: 0;
    margin: 20px 0;
    background: none;
    border: none;
    text-align: right;
}
.l-testpoll .form-actions > input,
.l-testpoll .form-actions > a {
    margin-left: 10px;
    width: auto;
}
.l-testpoll a.btn-submit-test {
    padding: 0 15px 0 10px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
}
.l-testpoll a.btn-submit-test .i-sprite {
    margin: 7px 5px 0 0;
    vertical-align: top;
}
.l-testpoll .block-hr {
    background: #E6E6E6;
    height: 1px;
    margin: 1px 0;
    width: 100%;
}
.l-testpoll .subtitle .help {
    border-top: 1px solid #E6E6E6;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    padding-top: 7px;
    padding-left: 44px;
    position: relative;
    line-height: 15px;
}
.l-testpoll .subtitle .help .i-sprite {
    position: absolute;
    top: 10px;
    left: 0;
}
.l-testpoll ul.test-tabs {
    background: #f1f3f2;
}
.l-testpoll ul.test-tabs > li {
    line-height: 27px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #FFF;
}
.l-testpoll ul.test-tabs > li > a {
    padding: 10px 10px 10px 40px;
    line-height: 14px;
    display: block;
    position: relative;
    text-decoration: none;
}
.l-testpoll ul.test-tabs > li > a > i {
    position: absolute;
    left: 10px;
    top: 10px;
}
.l-testpoll ul.test-tabs > li > a > i.white {
    display: none;
}
.l-testpoll ul.test-tabs > li.active > a,
.l-testpoll ul.test-tabs > li > a:hover {
    background: #333;
    color: #FFF;
	text-shadow: none;
}
.l-testpoll ul.test-tabs > li.active > a > i,
.l-testpoll ul.test-tabs > li > a:hover > i {
    display: none;
}
.l-testpoll ul.test-tabs > li.active > a > i.white,
.l-testpoll ul.test-tabs > li > a:hover > i.white {
    display: block;
}
.l-testpoll .tab-content {}
.l-testpoll .block {
    padding: 15px 25px;
}
.l-testpoll .block.odd {
    background: #F1F3F2;
}
.l-testpoll .block-header {
    font-size: 14px;
    font-weight: 600;
    float: left;
    width: 130px;
}
.l-testpoll .block-content {
    margin-left: 150px;
}
.l-testpoll .block.no-padding {
    padding: 15px 0 0 10px;
}
.l-testpoll .block.no-padding .block-header {
    padding-left: 20px;
}
.l-testpoll form label {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 0;
}
.l-testpoll form label input[type="radio"] {
    margin-right: 5px;
    margin-top: 7px;
}
.l-testpoll form label input[type="checkbox"] {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.l-testpoll form label input[type="text"] {
    vertical-align: baseline;
    margin: 0;
	font-size:13px;
}
.l-testpoll .table {
    border-bottom: 2px solid #E4E6E5;
}
.l-testpoll .table th,
.l-testpoll .table .tbl-row-total strong {
    color: #0465AC;
    text-transform: uppercase;
}
.l-testpoll .table td {
    line-height: 30px;
}
.l-testpoll .table select,
.l-testpoll .table input {margin-bottom: 0;}
.l-testpoll .table tr:hover { cursor: pointer; background: #F1F3F2; }
.l-testpoll .block.odd .table tr:hover { background: #FFF; }

.l-testpoll .test-feedback-container {}
.l-testpoll .test-feedback-container .table:first-child {
    margin-bottom: 0;
    border-bottom: 0;
}
.l-testpoll .test-feedback-container .list-view {
    padding: 0;
}
.l-testpoll .test-feedback-container .table th:first-child,
.l-testpoll .test-feedback-container .table td:first-child {
    width: 15%;
}

.l-testpoll h2.subtitle{
	color:#333333;
	font-size:18px;
	line-height: 31px;
	font-weight:600;
}
.l-testpoll .p-sprite.drag-small-black{
	cursor: pointer;
}
.l-testpoll .block.type-evaluation .answers-container {}
.l-testpoll .block.type-evaluation .answers-container > label {
    display: inline;
    margin-right: 20px;
}
.l-testpoll .block.type-evaluation .answers-container > label > .jq-radio {
    margin-right: 0;
}

.test-play-container a:hover, .test-play-container a:focus{
    color: #005580;
    text-decoration: underline;
}
.test-play-container a{
    color: #08c;
    text-decoration: none;
}
.test-play-container ul, .test-play-container ol {
    margin: 0 0 10px 25px;
}
.test-play-container ul li{
    list-style: disc;
}
.test-play-container .answers-container {
    padding: 4px 10px 0;
}
.test-play-container .answers-container p {
	margin: 0;
}
.test-play-container .answers-container.extended_text textarea {
	width: 400px;
	height: 80px;
}

.test-play-container .answers-container ul{
    list-style-type: disc;
    margin-left: 30px;
}

.test-play-container .answers-container ol{
    list-style-type: decimal;
    margin-left: 30px;
}

.test-details-question-title ul{
    list-style-type: disc;
    margin-left: 30px;
}

.test-details-question-title ol{
    list-style-type: decimal;
    margin-left: 30px;
}

.test-play-container .answer-info span {
	font-weight: bold;
	color: #DD2222;
}

.answer-correct {
	color: green;
	text-transform: uppercase;
	font-weight: bold;
}
.answer-incorrect {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}

/* test edit styles */
.nowrap { white-space: nowrap; }
.table-title-info {
	color: #333333;
	font-weight: bold;
	text-transform: none;
	font-size: 11px;
}

.l-testpoll .table tr.selected-table-row {
	background-color: #F1F3F2;
}

.img-cell {
	width: 22px;
	text-align: center;
}

.l-testpoll table.play-question td.question-index {
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
	font-weight: bold;
}

.l-testpoll table.play-question td.question-title {
	vertical-align: top;
	font-weight: bold;
}

.l-testpoll table.play-question td.question-title ul{
    list-style-type: disc;
    margin-left: 30px;
}

.l-testpoll table.play-question td.question-title ol{
    list-style-type: decimal;
    margin-left: 30px;
}

.l-testpoll .question-title-container {
	background: #0465AC;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding:10px 15px;
	vertical-align: middle;
	text-align: left;
}
.l-testpoll .question-title-container p {
	margin: 0;
}
/* Test play */
.l-testpoll .page-title{
	font-weight: normal;
	font-size:18px;
	padding-bottom:8px;
	margin-bottom:8px;
	border-bottom:1px solid #E4E6E5;
}
.l-testpoll.play .block{
	padding:10px 15px
}
.l-testpoll.play .block-header{
	font-size:13px;
	font-weight:normal;
}
.l-testpoll.play .question-title p{
	margin:0;
    min-height:18px;
}
.l-testpoll.play .question-title p select{
	margin:0;
}
.l-testpoll.play .page-info{
	margin:26px 0;
	font-size:14px;
}
.l-testpoll.play .answers-container.associate td {
	vertical-align: middle;
	padding: 5px 10px 5px 10px;
}
.l-testpoll.play .answers-container.associate td select {
	margin: 0;
}
/*review answers*/
.review-answers {}
	.review-header{
		font-size:24px;
		margin: 8px;
	}

.test-details-question-title{
	font-weight: bold;
}

.test-details-question-title ul{
    list-style-type: disc;
    margin-left: 30px;
}

.test-details-question-title ol{
    list-style-type: decimal;
    margin-left: 30px;
}

.test-details-question-title span.correct, div#fitb_test_results span.correct{
    color: #5EBE5D;
    font-weight: bold;
}

.test-details-question-title span.incorrect, div#fitb_test_results span.incorrect{
    color: #FF0103;
    font-weight: bold;
}


.review-comment {padding-left:26px;}
.review-dialog {width:850px;}

/* some datatable styles */

#test-editor-question-list td.question-type { white-space: nowrap; }
#poll-editor-question-list td.question-type { white-space: nowrap; }

#bank_question_alert {
	background: #ffe59a;
	width: 98%;
	padding: 8px 1% 7px 1%;
	margin-bottom: 10px;
}

#bank_question_alert span {
	font-size: 12px;
}

#bank_question_alert i {
	font-size: 16px;
}

div#answers-table-container table#answers-table ul{
    list-style-type: disc;
    margin-left: 30px;
}

div#answers-table-container table#answers-table ol{
    list-style-type: decimal;
    margin-left: 30px;
}


div#answers-table-container table#answers-table thead tr th {
    color: #333;
}

div#answers-table-container table#answers-table thead tr:hover {
    background: none;
    cursor: default;
}

div#answers-table-container table#answers-table thead tr th.sort:hover {
    cursor: pointer !important;
}

div.consider_correct_if_all_answers_are_correct{
    margin-top: 20px;
    padding-left: 30px;
}

div.FITB-info{
    font-size: 10px;
    font-weight: normal;
    margin-right: 15px;
}

div.add_new_answer_button{
    clear: both;
}

div.FITB div.correct_score{
    margin-left: 5px;
}

div.fitb-block-content{
    margin-left: 165px !important;
}

div.FITB label[for=correct_answers]{
    margin-bottom: 3px;
}
div.FITB div.scores{
    margin-top: 10px;
}

div.FITB div.scores input{
    width: 40px;
    margin-left: 15px !important;
}
div.FITB div.answers_are_case_sensitive{
    margin-top: 15px;
}

div.FITB #answers_are_case_sensitive-styler{
    float: left;
}
div.FITB label[for=answers_are_case_sensitive]{
    margin-left: 25px;
    margin-top: -4px;
}

div.FITB textarea#new-answer-comment{
    width: 100%;
    resize: none;
}

div.FITB div#add-answer-buttons, div.FITB div#mod-answer-buttons{
    margin-top: -15px;
    margin-bottom: 10px;
}

td.question-title input.fitb{
    width: 165px;
    margin: 4px;
}

div#fitb_test_results table tr td:first-child, div#fitb_test_results table tr th:first-child{
    float: left;
    margin-left: 10px;
    border-bottom: none;
}

/* LIKERT SCALE */

div.l-testpoll div.likertScaleContainer{
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}
div.l-testpoll div.likertScaleContainer table#questions-table,
div.l-testpoll div.likertScaleContainer table#scales-table{
    word-wrap: break-word;
    word-break: break-all;
}

div.l-testpoll div.likertScaleContainer table#questions-table,
div.l-testpoll div.likertScaleContainer table#scales-table,
div.l-testpoll div.likertScaleContainer table#questions-table td,
div.l-testpoll div.likertScaleContainer table#scales-table td{
    border-bottom: 1px solid #ddd;
}

div.l-testpoll div.likertScaleContainer div.leftColumn, div.l-testpoll div.likertScaleContainer div.rightColumn{
    width: 50%;
    display: block;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

div.l-testpoll div.likertScaleContainer div.leftColumn div.headerContainer, div.l-testpoll div.likertScaleContainer div.leftColumn div.leftContainer{
    padding-right: 15px;
}
div.l-testpoll div.likertScaleContainer div.rightColumn div.headerContainer, div.l-testpoll div.likertScaleContainer div.rightColumn div.rightContainer{
    padding-right: 5px;
}
div.l-testpoll div.likertScaleContainer div.leftColumn div.leftContainer, div.l-testpoll div.likertScaleContainer div.rightColumn div.rightContainer{
    margin-top: 20px;
}
div.l-testpoll div.likertScaleContainer div.leftColumn div.header, div.l-testpoll div.likertScaleContainer div.rightColumn div.header{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

div.l-testpoll div.likertScaleContainer div.leftColumn div.headerContainer input[type="text"], div.l-testpoll div.likertScaleContainer div.rightColumn div.headerContainer input[type="text"]{
    width: 88%;
}
div.l-testpoll div.likertScaleContainer div.leftColumn input[type="text"], div.l-testpoll div.likertScaleContainer div.rightColumn input[type="text"]{
    background-color: #F9F9F9;
}

div.l-testpoll div.likertScaleContainer div.headerContainer a[class*="add-"] > i.fa{
    color: #5EBE5D;
    font-size: 22px;
    margin-left: 10px;
}

div.likert-questions-block-content .table thead:first-child tr:first-child th{
    color: black;
}

div.likertScaleContainer tbody#questions-tbody tr td.img-cell, div.likertScaleContainer tbody#scales-tbody tr td.img-cell {
    padding-left: 0px;
}

div.likertScaleContainer td#rowQuestionEditMode, div.likertScaleContainer td#rowScaleEditMode{
    padding-left: 0px;
    padding-right: 0px;
}
div.likertScaleContainer td#rowQuestionEditMode input[type="text"], div.likertScaleContainer td#rowScaleEditMode input[type="text"]{
    width: 75%;
    height: 24px;
}
div.likertScaleContainer td#rowQuestionEditMode input[type="button"], div.likertScaleContainer td#rowScaleEditMode input[type="button"]{
    width: 108px;
    float: right;
    height: 35px;
}

div.likertScaleContainer div#questions-table-container, div.likertScaleContainer div#scales-table-container{
    padding-right: 18px;
}

div.likertScaleContainer .table td{
    line-height: 20px;
}

div.likertScaleContainer table#scales-table thead tr th:first-child, div.likertScaleContainer table#scales-table tbody tr td:first-child{
    width: 15px;
    padding-right: 5px;
}

div.likertScaleContainer table#questions-table tr th,
div.likertScaleContainer table#questions-table tr td:first-child,
div.likertScaleContainer table#questions-table tr td:nth-child(2),
div.likertScaleContainer table#scales-table thead tr th,
div.likertScaleContainer table#scales-table tbody tr td:first-child,
div.likertScaleContainer table#scales-table tbody tr td:nth-child(2) {
    cursor: default;
}
div.likertScaleContainer table#scales-table tbody tr[id*="scale-table-input"] td:first-child{
    font-weight: bold;
}
/* Play */

table.playLikertScale{
    width: 100%;
    margin-top: 20px;
}
table.playLikertScale thead tr th, table.playLikertScale tbody tr td{
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 8px 0px;
    word-break: keep-all;
    word-wrap: break-word;
}

table.playLikertScale tbody tr td:first-child{
    padding-left: 10px;
}
table.playLikertScale .scaleCheckboxHeader{
    padding: 0px 5px 10px 5px;
    line-height: 15px;
}
table.playLikertScale .scaleCheckBox{
    text-align: center;
}

div.bootbox.modal.delete-scale, div.bootbox.modal.delete-question{
    position: fixed !important;
}
/* LIKERT SCALE */