div.timeline-frame {
  border: 1px solid #BEBEBE;
  overflow: hidden;
  background-color: #F0F0F0;
}


div.timeline-frame > div > div  {
/* 	background-color: #F0F0F0; */
} 
                                             
div.timeline-axis {
  border-color: #BEBEBE;
  border-width: 1px;
  border-top-style: solid;
  background-color: #FFF;
}  
div.timeline-axis-grid {
  border-left-style: solid;
  border-width: 1px;
}
div.timeline-axis-grid-minor {
  border-color: #e5e5e5;
}  
div.timeline-axis-grid-major {
  border-color: #bfbfbf;
}  
div.timeline-axis-text {
  color: #4D4D4D;
  padding: 3px;
  white-space: nowrap;
}  

div.timeline-axis-text-minor {
}
 
div.timeline-axis-text-major {
}

div.timeline-event {
  color: #666666;
  border-color: #999999;
  background-color: #FBFAF9;
  font-weight: bold;
  display: inline-block;
}

div.timeline-event-selected {
  border-color: #FFC200;
  background-color: #FFF785;
  z-index: 999;
}


div.timeline-event-box {
  text-align: center;   
  border-style: solid;
  border-width: 1px;  
  border-radius: 5px;  
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */ 
}  

div.timeline-event-dot {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;  /* For Firefox 3.6 and older */ 
}

div.timeline-event-range {
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range-drag-left {
  cursor: w-resize;
  z-index: 1000;
}

div.timeline-event-range-drag-right {
  cursor: e-resize;
  z-index: 1000;
}


div.timeline-event-line {
  border-left-width: 1px;
  border-left-style: solid;
} 

div.timeline-event-content {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
}

div.timeline-groups-axis {
  border-color: #BEBEBE;
  border-width: 1px;
}
div.timeline-groups-text {
  color: #4D4D4D;
  padding-left: 10px;
  padding-right: 10px;
}

div.timeline-currenttime {
  background-color: #FF7F6E;
  width: 2px;
}

div.timeline-customtime {
  background-color: #6E94FF;
  width: 2px;
  cursor: move;
}

div.timeline-navigation {
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  border: 1px solid #BEBEBE;
  background-color: #F5F5F5;
  border-radius: 2px;
  -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-navigation-new, div.timeline-navigation-delete, 
    div.timeline-navigation-zoom-in,  div.timeline-navigation-zoom-out, 
    div.timeline-navigation-move-left, div.timeline-navigation-move-right {
  cursor: pointer;
  padding: 10px 10px;
  float: left;
  text-decoration: none;
  border-color: #BEBEBE; /* border is used for the separator between new and navigation buttons */
  
  width: 16px;
  height: 16px;
}

div.timeline-navigation-new {
  background: url('../images/timeline/16/new.png') no-repeat center;
}

div.timeline-navigation-delete {
  padding: 0px;
  padding-left: 5px;
  background: url('../images/timeline/16/delete.png') no-repeat center;
}

div.timeline-navigation-zoom-in {
/*   background: url('../images/timeline/16/zoomin.png') no-repeat center; */
}

div.timeline-navigation-zoom-out {
/*   background: url('../images/timeline/16/zoomout.png') no-repeat center; */
}

div.timeline-navigation-move-left {
  background: url('../images/timeline/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
  background: url('../images/timeline/16/moveright.png') no-repeat center;
}


