/*
 * Tree skinning in general
 */
.dynatree-container-parent {}

.dynatree-container-parent ul.listview-folder-tree.dynatree-container{
	margin-top:-10px;
}

.dynatree-container-parent ul.dynatree-container li .dynatree-node{
	position: relative; /* this will keep it over the lobackground*/
	display:block;
	margin:10px 2px;
	padding:0;
/*        white-space: nowrap;*/
}

.dynatree-container-parent ul.dynatree-container .player-lonav-lostate {
	position: absolute;
	left: 0px;
	width: 6px;
	margin-top: -1px;
	height: 31px;
	z-index: 1;
}

.dynatree-container-parent ul.dynatree-container .player-lonav-lostate.completed {
	background-color: #66BE67;
}

.dynatree-container-parent ul.dynatree-container .player-lonav-lostate.attempted {
	background-color: #FFBE00;
}

.dynatree-container-parent ul.dynatree-container .player-lonav-lostate.ab-initio {
	background-color: transparent;
}

.dynatree-container-parent ul.dynatree-container a.dynatree-title {
	padding:0;
	border:0px none;
	font-size:13px;
	margin-left:6px;
	zoom:1;
	text-overflow: ellipsis;
}
/******************************/
/** Admin navmenu layout fix **/
div.span4 ul.dynatree-container a.dynatree-title {
        display: flex;
        word-break: break-all;
        margin: 0;
        overflow: hidden;
		padding-top:2px;
}

.dynatree-container-parent.player-lonav-tree  ul.dynatree-container .background-loitem {
	position: absolute;
	left: 0;
	height:29px;
	width:100%;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #cccccc;
}

.dynatree-container-parent ul.dynatree-container .dynatree-folder a.dynatree-title,
.dynatree-container-parent ul.dynatree-container .dynatree-folder .p-sprite.is-folder {
	position: relative;
	left:-10px;
    margin-right: 0px;
}

.dynatree-container-parent.without-root ul.dynatree-container .dynatree-folder a{
	left:0;
}

.dynatree-container-parent ul.dynatree-container ul li {
	margin-left: 22px;
}


.dynatree-container-parent ul.dynatree-container a:hover {
	text-decoration:none;
	/* 	font-weight:600; */
	/* offset and shrink the font so we don't move/enrlage the text */
	/* 	font-size: 12.5px; */
	/* 	top: 1px; */
  	text-shadow: 0px 0px 0px #000;
}

/* The first line is under the root that it's 10px tinier but we have the state*/
.dynatree-container-parent ul.dynatree-container .dynatree-folder a.is-root,
.dynatree-container-parent ul.dynatree-container .dynatree-folder .p-sprite.is-folder.is-root {
	left:0px;
	margin-right:7px;
}

.dynatree-container-parent ul.dynatree-container li {
	margin-left:12px;
/*	line-height:31px;*/
}

.dynatree-container-parent ul.dynatree-container a.is-root {
	color:#0465AC;
	/* dont allow the root folder style to be changed when active/inactive or on hover */
	font-weight: bold !important;
	font-size: 13px !important;
	top: 0px !important;
}

/**
 * Tree skinning for the arena
 */
.player-arena-overall-column{}

.player-arena-overall-column .course-name{
	color:#0465AC;
	font-weight: bold;
}
.dynatree-container-parent.player-arena-overall-column ul.dynatree-container li {
/*	line-height:29px;*/
}

.dynatree-container-parent ul.dynatree-container .dynatree-folder.dynatree-active a{
/* 	font-weight:600; */
	/* offset and shrink the font so we don't move/enrlage the text */
/* 	font-size: 12.5px; */
/* 	top: 1px; */
	
	text-shadow: 0px 0px 0px #000;
}

#player-arena-overall-objlist li a.dynatree-title {
	left:0;
}

/*******************************************************************************
 * Checkbox icon
 */

span.dynatree-checkbox {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("../images/icons.gif");
	background-position: 0 0;
}

span.dynatree-checkbox {
	margin-left: 6px;
	background-position: 0px -32px;
	position:relative;
	top: 7px;
}

span.dynatree-checkbox:hover {
	background-position: -16px -32px;
}

.dynatree-partsel span.dynatree-checkbox {
	background-position: -64px -32px;
}

.dynatree-partsel span.dynatree-checkbox:hover {
	background-position: -80px -32px;
}

.dynatree-selected span.dynatree-checkbox {
	background-position: -32px -32px;
}

.dynatree-selected span.dynatree-checkbox:hover {
	background-position: -48px -32px;
}


.dynatree-container-parent ul.dynatree-container .dynatree-folder.node-locked  a.dynatree-title {
	left: 0px;
}

/***************************/
/** LO Player navmenu fix **/

#player-lonav .dynatree-container-parent ul.dynatree-container li .dynatree-node {
        white-space: nowrap;
        margin: 0;
}

#player-lonav a.dynatree-title {
        overflow: hidden;
        width: 90%;
		display: inline-block;
}

#player-lonav .p-sprite,
#player-lonav .i-sprite {
        float: left;
        margin-top: 5px;
		margin-right: 0px;
}

.lo-content.play-lo.no-description
{
	/* [note by Dzhuneyt] Commenting this out because it
	creates unnecessary top padding on the LO title when
	the course player is set to "ListView", see http://prntscr.com/8y615t
	If therea are side effects from removing this rule,
	feel free to reapply in a better way
	padding-top:22px;
	*/
}
