/* 
    Created on : 27.10.2015, 10:38:02
*/

#app7020_Coach_Experts_Channels{
	@media (max-width: 767px){
        padding: 0 10px;
    }
	.app7020-headline{
		margin-bottom: 18px;
	}
	
	&.assignChannelContainer{
		.bottom-section{
			table{
				border-collapse: unset; 
				background: none;
				margin: 0;
				padding: 0;
			}
		}
	}
	
	th{
		color: #333333 !important;
	}

	tbody{
		tr:not(.odd):not(.even){
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}
	}

    .main-actions{
        @extend %actionButtons;
		padding-bottom: 16px;
		li{
			a{
				font-size: 12px;
				&#selectExperts{
					.innerBoxTitle{
						padding: 0 5px; 
					}
				}
			}
		}
    }
	.emptyTopicsAndExpertsHintSection{
		position: relative;
		padding-bottom: 19px; 
	}

	#userman-search-form{
		.filters-wrapper{
			background: #f1f3f2 none repeat scroll 0 0;
			border-bottom: 1px solid #e5e5e5;
			border-top: 1px solid #e5e5e5;
			box-shadow: 0 0 0 1px #fff inset;
			box-sizing: border-box;
			padding: 9px 10px;
			display: table;
			width: 100%;
			.search-input-wrapper{
				display: table-cell;
				text-align: right;
				vertical-align: middle;
				#userman-search-input{
					width: 230px;
					border: 1px #E6E6E6 solid;
					padding: 0 10px;
					margin: 0;
					background: #fff;
					height: 33px;
					box-sizing: border-box;
				}
			}
		}
	}
	.selections{
		box-sizing: border-box;
		display: table;
		width: 100%;
		height: 70px;
		.left-selections{
			display: table-cell;
			vertical-align: middle;
			text-align: left;
			p{
				margin: 0;
				display: inline-block;
				padding-right: 10px;
			}
			a{
				display: inline-block;
				text-decoration: underline;
				color: #3b80b7;
				font-size: 13px;
				font-weight: 600;
				&:not(:last-of-type){
					margin-right: 10px;
				}
			}
		}
		.right-selections{
			display: table-cell;
			text-align: right;
			vertical-align: middle;
			label[for="userman-users-massive-action"]{
				display: inline-block;
				padding-right: 7px;
				margin: 0;
			}
			#userman-users-massive-action{
				border-radius: 0;
				box-sizing: border-box;
				height: 32px;
				margin: 0;
				outline: medium none;
				width: 180px;
				background: #F9F9F9;
				border-top: 1px #999999 solid;
				border-left: 1px #999999 solid;
				border-right: 1px #E5E5E5 solid;
				border-bottom: 1px #E5E5E5 solid;
			}
		}
	}
	#userman-users-management-grid{
		padding: 0;
		.gridItemsContainer{
			margin: 0;
			.items{
				thead{
					th{
						&#userman-users-management-grid_ctopics{
							text-align: center;
						}
						&#userman-users-management-grid_cdelete{
							width: 40px;
						}
					}
				}
				tbody{
					tr{
						&:hover{
							background: #F8F8F8;
							box-shadow: inset 0 0 1px 0 #fff;
						}
						td{
							&.td-email{
								text-decoration: underline;
							}
							&.td-cchannels{
								text-align: center;
								a{
									outline: none;
									text-decoration: none;
									&:hover{
										/*color: #EA801C;*/
									}
								}

								.count{
									display: inline-block;
									height: 20px;
									line-height: 20px;
									text-decoration: underline;
									padding-right: 6px;
									&.orange{
										color: #EA801C;
									}
								}
								.fa-tv{
									display: inline-block;
									height: 20px;
									line-height: 20px;
									font-size: 18px;
									padding-left: 4px;
									vertical-align: middle;
								}
							}
							&.td-cdelete{
								text-align: center;
								.delete{
									background: url(../../../../themes/spt/images/popover-icons.png) no-repeat;
									background-position: 2px -68px;
									width: 22px;
									display: inline-block;
									height: 15px;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
	}
	.summary{
		float: left;
		margin: 0;
		width: auto;
		padding-top: 15px;
		height: 22px;
		line-height: 22px;
	}
	.doceboPager{
		float: right;
		margin: 0;
		width: auto;
		padding-top: 15px;
	}

}

/* === Dialogs size === */
.modal.app7020-selectExperts-dialog,
.modal.app7020-multipleAssign-dialog
{
	@extend %app7020ModalDefaultStyle;
	width: 755px!important;
	margin-left: -377px!important;
	min-height: auto !important;
	.modal-header{
		background: #333333!important;
	}
	ul{
		&#selector-tabs{
			display: none; 
		}
	}
	.progressBarContentStyle{
		padding-top: 9px;
		.head{
			.text{
				display: block;
				float: left;
				font-weight: 800;
			}
			.percents{
				display: block;
				float: right;
			}
		}
		.progress{
			border-radius: 0;
			height: 12px;
			margin-top: 16px;
		}
	}
}
.app7020-dialogEmptyChannels, 
.app7020-dialogEmptyExperts
{
	.main-content{
		padding-top: 23px;
		padding-bottom: 20px;
		p{
			font-family: 'Handlee', cursive;
			text-align: center;
			font-size: 32px;
			font-weight: 600;
			line-height: 21px; 
			&:last-of-type{
				padding-top: 31px;
			}
		}
		.green{
			color: $green-color;
		}
		.grey{
			color: #a5a5a5;
			font-size: 23px;
		}
	}
	.action{
		text-align: center;
		a{
			@include app7020-button(green);
			height: 33px;
			line-height: 33px;
			font-size: 14px;
			cursor: pointer;
		}
	}
}
#app7020-selectExperts-dialog,
#app7020-multipleAssign-dialog,
#app7020-selectChannels-dialog{
	padding: 15px 15px 10px;
	min-height: 89px!important;
	#users-selector-container{
		.tab-content{
			float: none;
			padding: 0;
			width: 100%;
		}
		#users{
			padding: 0;
			.filter-wrapper{
				#users-search-input{
					margin-top: 3px;
				}
				#users-grid-search-clear-button{
					top: 15px;
				}
				#users-search-button{
					bottom: 17px;
					right: 12px;
					cursor: ponter;
				}
			}
			.grid-view{
				.doceboPager{
					&:first-of-type{
						display: none;
					}
					li{
						&.previous, &.next{
							a{
								padding: 0;
							}
						}
					}
					margin-top: 25px;
					float: right;
					width: auto;
				}
				.gridItemsContainer{
					margin: 0;
				}
			}
		}
	}
}
#app7020-multipleAssign-dialog,
#app7020-selectChannels-dialog{
	#combo-grid-form{
		.filters-wrapper{
			background: #f1f3f2 none repeat scroll 0 0;
			border-bottom: 1px solid #e4e6e5;
			border-top: 1px solid #e4e6e5;
			padding: 7px 0;
			padding-bottom: 0;
			position: relative;
			width: 100%;
			.filters{
				width: 100%;
				margin: 0;
				background: none;
				.search-input-wrapper{
					margin-right: 8px;
					position: relative;
					input[name="search_input"]{
						height: 22px;
						padding-left: 5px;
					}
				}
			}
		}
		.selections{
			padding-left: 10px;
			padding-top: 1px;
			position: absolute;
			top: 16px;
			.left-selections{
				p{
					margin: 5px 0 0;
				}
				a{
					color: #0465ac;
					font-weight: 600;
					text-decoration: underline;
					&.combo-grid-select-all{
						margin-right: 4px;
						&:after{
							content: '|';
							display: inline-block;
							color: #333;
							padding-left: 5px;
						}
					}
				}
			}
		}
		.items{
			> thead{
				border-bottom: 1px solid #e4e6e5;
			}
			tbody > tr{
				border-bottom: 1px solid #e4e6e5;
			}
		}
		.summary{
			float: left;
			margin: 15px 0 0 0;
		}
		.pager{
			float: right;
			margin: 15px 0 0 0;
		}
	}
}
.modal.app7020-multipleDeleteExpertsChannels-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 400px;
	margin-left: -200px;
}
a.addNew.green.widget{
    border-radius: 0;
    border: none;
    display: inline-block;
    height: 37px;
    min-width: 37px;
    line-height: 36px;
    font-size: 13px;
    font-weight: 800;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease 0s;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #525252;
    padding: 0 10px;
    background: #5EBE5C;
    color: #fff;
}