/* 
    Created on : 30.10.2015, 16:57:04
    Author     : Kristian
*/

#app7020_Coach_Experts_Channels{
	@media (max-width: 767px){
        padding: 0 10px;
    }
    .main-actions{
        @extend %actionButtons;
		padding-bottom: 16px;
		li{
			a{
				font-size: 12px;
				.boxTitle{
					padding-bottom: 0;
				}
				&#selectChannels{
					.innerBoxTitle{
						padding: 0 8px;
					}
				}
			}
		}
    }
	.bottom-section{
		#combo-list-form{
			.filters-wrapper{
				.filters{
					width: 100%;
				}
				background: #f1f3f2 none repeat scroll 0 0;
				border-bottom: 1px solid #e5e5e5;
				border-top: 1px solid #e5e5e5;
				box-shadow: 0 0 0 1px #fff inset;
				box-sizing: border-box;
				padding: 9px 10px;
				display: table;
				width: 100%;
				.search-input-wrapper{
					display: table-cell;
					text-align: right;
					vertical-align: middle;
					#combo-list-search-input{
						width: 230px;
						border: 1px #E6E6E6 solid;
						padding: 0 10px;
						margin: 0;
						background: #fff;
						height: 33px;
						box-sizing: border-box;
					}
				}
			}
			.selections{
				box-sizing: border-box;
				display: table;
				width: 100%;
				height: 70px;
				.left-selections{
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					p{
						margin: 0;
						display: inline-block;
						padding-right: 10px;
					}
					br{
						display: none;
					}
					a{
						display: inline-block;
						text-decoration: underline;
						color: #3b80b7;
						font-size: 13px;
						font-weight: 600;
						&:not(:last-of-type){
							margin-right: 10px;
						}
						&.combo-list-select-page-all,
						&.combo-list-deselect-page-all{
							display: none;
						}
					}
				}
				.right-selections{
					display: table-cell;
					text-align: right;
					vertical-align: middle;
					label{
						display: inline-block;
						padding-right: 7px;
						margin: 0;
					}
					select{
						@include border-radius(0px);
						box-sizing: border-box;
						height: 32px;
						margin: 0;
						outline: medium none;
						width: 180px;
						background: #F9F9F9;
						border-top: 1px #999999 solid;
						border-left: 1px #999999 solid;
						border-right: 1px #E5E5E5 solid;
						border-bottom: 1px #E5E5E5 solid;
					}
				}
			}
			.expertLabel{
				border-top: 1px #E6E6E6 solid;
				border-bottom: 1px #E6E6E6 solid;
				font-size: 18px;
				font-weight: 600;
				padding: 13px 0;
			}
			.combo-list-item{
				padding: 0;
				> .row-fluid{
					position: relative;
					div[class^="span"]{
						float: left;
					}
					.span11{
						margin-left: 10px;
						padding-left: 10px;
					}
				}
				input[type="checkbox"]{
					margin: 0;
					left: 10px;
					top: 9px;
					position: absolute;
					outline: none;
				}
				.jq-checkbox{
					display: none!important;
				}
				.singleListItem{
					margin-bottom: 8px;
					margin-top: 6px;
					.customControls{
						position: absolute;
						right: 8px;
						top: 6px;
						font-size: 17px;
						cursor: pointer;
						@include transition(color .2s linear);
						&:hover{
							color: #d70300;
						}
					}
				}
			}
			.pager{
				display: block;
				float: right;
				margin: 15px 0 0 0;
			}
			.summary{
				display: block;
				float: left;
				margin: 15px 0 0 0;
			}
		}
	}
}

/* === Dialogs size === */
.modal.app7020-selectChannels-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 800px;
	margin-left: -400px;
}
.modal.app7020-deleteExpertChannels-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 400px;
	margin-left: -200px;
}