/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.07.2015, 15:42:30
    Author     : Stanimir
*/

#app7020-flowplayer{
	.flowplayer  {
		.fp-engine {
			background-color: #000;
		}
	}
}