/** Make the main(gray) container full width page (fix) **/
.advanced-main.mobile-settings {
    margin-left: 0px!important;
}

#logo-preview{
	margin: 5px 0px 5px 0px;
	overflow: hidden;
}

/* LOGIN PREVIEW */
.login-preview {
    background-color: #0465ac;
    width: 175px;
    height: 285px;
	margin-top: 3px;
}
.preview-logo {
	overflow: hidden;
    background-size: contain;
    height: auto;
    width: 80%;
    margin-left: 18px;
    background-position: 0px 23px;
    margin-bottom: 0;
    max-height: 90px;
	padding: 5px 0px 5px 0px;
}
.main-app-container {
    background-color: white;
    width: 175px;
    height: 285px;
    margin-top: 20px;
    border: 1px solid rgba(163, 163, 173, 0.78);
	position: relative;
}
.colored-header {
    background-color: #0465ac;
    height: 25px;
    width: 100%;
}
.inner-preview {
    background-color: white;
    background: no-repeat url("/plugins/WebApp/assets/images/app_preview_boxes.png");
    width: 150px;
    height: 215px;
    margin-left:12px;
    margin-top: 17px;
}
div.preview-username {
    background-color: transparent;
    border: 1px solid white;
    width: 78%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 19px;
    cursor: default;

}
div.preview-password {
    background-color: transparent;
    border: 1px solid white;
    width: 78%;
    margin-left: 19px;
    cursor: default;
}
div.preview-submit > input {
    margin-top: 20px;
    width: 78%;
    margin-left: 19px;

}

i#hamburger-menu.icon-menu.to-left {
    margin-top: 5px;
    margin-left: 10px;
}
i#search.icon-mobile-search.to-right {
    margin-top: 5px;
    margin-right: 10px;
}

/* FLOAT DIRECTIONS */
.to-right {
    float: right;
}
.to-left {
    float: left;
}

/* Mobile preview screen style */
#mobileAppSaveSettings .advanced-main .row.odd > .row{
	padding: 30px 20px;
}
.mobile-preview-page{
	position: relative;
}
.style-arrow{
	position: absolute;
}
.mobile-preview-style{
    color: #0465ac;
    font-family: 'Handlee', cursive;
    font-size: 19px;
    line-height: 22px;
    font-weight: bold;
}
.arrow_third{
	top: 63px;
    left: 41px;
    width: 80px;
}
.mobile-preview-page .bootstro-arrow {
    background: url('../images/sprite-overlay-hint-arrows-blue.png');
    display: block;
    position: absolute;
}
.mobile-preview-page .bootstro-arrow.arrow-s {
    background-position: 0px -41px;
    width: 58px;
    height: 45px;
}
.arrow-third .bootstro-arrow.arrow-s {
    background-position: 0px -420px;
    position: absolute;
    top: -27px;
    left: 53px;
}
.arrow-first .bootstro-arrow.arrow-s{
    background-position: 0px -310px;
    width: 65px;
    height: 30px;
    top: 25px;
    left: 26px;
}
.arrow-second .bootstro-arrow.arrow-s{
    background-position: 0px -468px;
    width: 65px;
    height: 45px;
    top: -40px;
    left: 30px;
}
.arrow-second .mobile-preview-style{
	width: 105px;
}
.mobile-preview-style{
	width: 90px;
	display: block;
}
.style-arrow.arrow-third{
	margin-top: 63px;
    margin-left: 42px;
}
.style-arrow.arrow-first{
	top: 10px;
    left: -95px;
}
.style-arrow.arrow-second{
	left: -95px;
    bottom: 50px;
}
.span-additional-right{
	margin-right: 10px;
}
.additional-padding-left{
	padding-left: 50px;
}
.advanced-main.mobile-settings .row p.description{
    color: #999b9a;
}
.mobile-settings .color-item{
	margin-bottom: 0;
}
.advanced-main.mobile-settings .row .color-selector p.description{
	margin-top: 0;
}
.mobile-color-settings .row{
	margin-bottom: 35px;
}
#mobileAppSaveSettings .color-item{
	margin-top: 2px;
}
.login-preview div.preview-username, .login-preview .preview-password, .login-preview .preview-submit{
	padding: 3px 0;
}
.login-preview .preview-submit{
	margin-top: 15px;
}
.login-preview .preview-submit input{
	cursor: initial;
}
.row-fluid .span5.smaller-span{
	width: 34.5%;
    float: right;
}

#mobileAppSaveSettings .setting-name.custom-settings-offsets{
	padding-left: 21px;
}

#mobileAppSaveSettings .setting-value.span9{
    margin-left: -7px;
}

#mobileAppSaveSettings .blockable{
	display: block;
	display: inline-block;
}
.style-multidomain .row-fluid .span5.span-custom-width{
	width: 31.2%;
}
.style-multidomain .row-fluid .smaller-span.custom-width{
	width: 42.5%;
}
.btn-docebo.black.big.margin-left{
	margin-left: 7px;
}
.style-multidomain #mobileAppSaveSettings .setting-name.custom-settings-offsets{
    float: left;
    width: 153px;
	padding-left: 0;
}

.fa-mobileapp-settings{
	color: #333;
	width: 22px;
	height: 22px;
	padding-left: 7px;
}
.mobileapp-multidomain-tab .fa-mobileapp-settings{
	margin: 0;
	font-size: 22px;
	height: 21px;
}
.mobileapp-multidomain-tab:hover .fa-mobileapp-settings, li.active .mobileapp-multidomain-tab .fa-mobileapp-settings{
	color: #fff;
	font-size: 22px;
    height: auto;
	margin: 2px 0 4px 0;
}
.style-multidomain .color-item .color-preview-wrap{
	top: 4px;
}
.multidomain-client-settings .fa-lg.fa-key{
	line-height: 14px;
    vertical-align: 0;
	color: #333;
}
.final-tabs ul.nav-tabs li a:hover .fa-lg.fa-key{
	color: #fff;
}
.final-tabs ul.nav-tabs li.active .fa-lg.fa-key{
	color: #fff;
	text-shadow: 1px 1px 0 #000000;
}