.jp-video {
	position: relative;
	background: #333333;
}
.jp-video-360p {
	width: 570px;
	margin: 100px auto;
}
.jp-video-full {
	width: 480px;
	height: 270px;
	position: static !important;
	position: relative;
}

.jp-video-extended {
	margin: 0px auto 20px;
}

.jp-video-extended .jp-jplayer {
	width: 560px !important;
	height: 315px !important;
}
.jp-video-full .jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important;
	position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
	z-index: 1000;
}

.jp-video-full .jp-gui {
	position: fixed !important;
	position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.jp-video-full .jp-interface {
	position: absolute !important;
	position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.jp-interface {
	position: relative;
	width: 100%;
	height: 35px;
	background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
	background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
	background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
	background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
	background-image: linear-gradient(top, rgb(242, 242, 242), rgb(209, 209, 209));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#d1d1d1');
	-webkit-box-shadow: inset 0px 1px 0px #f7f7f7, inset 0px -1px 0px #e2e2e2;
	-moz-box-shadow: inset 0px 1px 0px #f7f7f7, inset 0px -1px 0px #e2e2e2;
	box-shadow: inset 0px 1px 0px #f7f7f7, inset 0px -1px 0px #e2e2e2;
}
.jp-interface div, .jp-interface a {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.jp-interface div.jp-seek-bar, .jp-interface div.jp-seek-bar div.jp-play-bar {
	display: block;
}

div.jp-controls-holder {
	clear: both;
	width: 570px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	display: none;
}

a.jp-play, a.jp-pause {
	width: 40px;
	height: 35px;
	float: left;
	text-indent: -9999px;
	outline: none;
}

a.jp-play {
	background: url(images/sprite.png) 0 0 no-repeat;
	display: inline-block;
}

a.jp-pause {
	background: url(images/sprite.png) -40px 0 no-repeat;
	display: none;
}

#separator {
	background-image: url(images/separator.png);
	background-repeat: no-repeat;
	width: 2px;
	height: 35px;
	float: left;
	margin-top: 7px;
	margin-right: 10px;
}

.jp-progress {
	background: #706d6d;
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
	width: 85%;
	height: 7px;
	float: left;
	margin-top: 13px;
    width: 100%;
}

.jp-seek-bar {
	width: 0px;
	height: 100%;
	cursor: pointer;
}

.jp-seeking-bg {
	background: #575555;
}

.jp-play-bar {
	background: #0264AB;
	width: 0px;
	height: 7px;
	position: relative;
	z-index: 8;
}

.jp-current-time, .jp-duration {
	font-size: 11px;
	font-family: Arial;
	color: #444444;
	margin-top: 12px;
	float: left;
}
.jp-current-time {
	float: left;
	display: inline;
}
.jp-duration {
	float: left;
	display: inline;
	text-align: right;
}
.jp-video .jp-current-time {
	margin-left: 10px;
}
.jp-video .jp-duration {
	margin-right: 10px;
}
.time-sep {
	float: left;
	margin: 13px 3px 0 3px;
	font-size: 11px;
	font-family: Arial;
	color: #444444;
}

.jp-video .jp-mute, .jp-video .jp-unmute {
	text-indent: -9999px;
	float: left;
	height: 35px;
	outline: none;
}

.jp-mute {
	float: left;
	background: url(images/player_volume.png) no-repeat;
	width: 35px;
	background-position: center;
}

a.jp-unmute {
	background: url(images/player_volume.png) no-repeat;
	display: none;
	width: 35px;
	background-position: center;
}

.jp-volume-bar {
	float: left;
	margin-top: 13px;
	margin-left: 16px;
	position: relative;
	width: 8px;
	height: 80px;
	cursor: pointer;
	background: #706d6d;
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,.4), 0px 1px 0px rgba(255,255,255,.4);
}

.jp-volume-bar-value {
	background: #0264AB;
	width: 8px;
	height: 0px;
	position: absolute;
	bottom: 0;
    left: 0;
}

.jp-volume-bar-value span {
	position: absolute;
	top: 0px;
	left: -3px;
	background-color: #383838;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.jp-full-screen {
	width: 40px;
	height: 35px;
	text-indent: -9999px;
	margin-left: -15px;
	outline: none;
	position: relative;
	float: right;
	right: 0;
	top: 0;
	background: url(images/player_full_screen.png) no-repeat center;
}

.jp-restore-screen {
	width: 40px;
	height: 35px;
	text-indent: -9999px;
	margin-left: -15px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	background: url(images/player_full_screen_white.png) no-repeat center;
}

.jp-progress-box {
	width: auto;
	margin-left: 5px;
	float: left;
    position: relative;
    width: 60%;
}

.jp-time {
	clear: both;
	line-height: 100%;
    position: absolute;
    top: 0;
    right: -110px;
    width: 110px;
    margin: 0;
}
.jp-time * {
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
}

.jp-time .jp-current-time {
	font-weight: bold;
}
.jp-title {
	background-color: #333333;
	color: #FFFFFF;
	font-size: 32px;
	height: 50px;
	left: 0;
	line-height: 50px;
	padding-left: 10px;
	position: absolute;
	top: 0;
	width: 100%;
}

.jp-volume-box {
	width: 40px;
	height: 100px;
	background-color: #FDFDFD;
	position: absolute;
	top: -100px;
	left: 26px;
	z-index: 8;
	left: -2px;
	display: none;
}

.jp-volume {
	position: relative;
	float: left;
}
/*
#jp-big-play {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	cursor: pointer;
	z-index: 8;
	box-shadow: 0 0 15px #333333;
	background:url(images/play-icon.png) no-repeat center center #0465AC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.jp-video-full #jp-big-play {
	z-index: 1001;
}
/*-- HOVER SECTION ---*/

a.jp-play:hover {
	background: #0264AB url(images/play_arrow_white.png) no-repeat center;
}
a.jp-pause:hover {
	background: #0264AB url(images/player_pause_white.png) no-repeat center;
}

a.jp-mute.hover {
	background: #0264AB url(images/player_volume_white.png) no-repeat center;
}

a.jp-full-screen:hover {
	background: #0264AB url(images/player_full_screen_white.png) no-repeat center;
}

a.jp-restore-screen:hover {
	background: #0264AB url(images/player_full_screen_white.png) no-repeat center;
}

.jp-interface a:hover{
	background-color: #0264AB;
}
/*-- END HOVER SECTION ---*/