/* 
    Created on : Jan 26, 2016, 1:54:04 PM
    Author     : Станимир
*/
#asset-preview-container {
	margin-top: 20px; 
	background: #f8f8f8;
	border: 1px solid #e4e6e5;

	.asset-icon-pdf {
		color: red;
	}
	.asset-icon-word {
		color: blue;
	}
	.asset-icon-pp {
		color: red;
	}
	.asset-icon-sound {
		color: black;
	}
	.asset-icon-archive {
		color: gray;
	}
	.asset-icon-excel {
		color: green;
	}
	.asset-icon-image {
		color: #8d934a;
	}
	.asset-icon-text {
		color: black;
	}

	.asset-preview-reader {
		width: 90%;
		margin: 0px auto;
		display: block;
		.contentSection {
			margin-top: -28px;
		}
	}
	/*there we have image and we need more width*/
	&[data-content-type="1"] , &[data-content-type="7"] , &[data-content-type="15"]{
		.asset-preview-thumbnail  {
			width:100px!important;
			img {
				max-width: 66px;
				border: 1px solid #ccc;
			}
		}
	}
	&[data-is-open="false"] {
		.asset-preview-reader {
			display: none;
		}
	}
	.asset-preview-container-table {
		height: 60px;
		@extend %ap7020-table-vertical-align;
		/*Thumbnail or file format icon*/ 
		.asset-preview-thumbnail {
			width: 60px;
			text-align: center;
			font-size: 32px;
			line-height: 32px;

			@media screen and (max-width: 420px) {
				display: none!important;
			}
			@media screen and (max-width: 480px) {
				width: 40px;
				font-size: 22px;
				line-height: 22x;
				height: 22px;
			}
		}



		/*the icon and link to action per content type*/
		.asset-preview-action {
			text-align: right;
			padding-right: 10px;
			i {
				font-size: 30px;
				line-height: 30px;
				height: 28px;

				@media screen and (max-width: 480px) {
					font-size: 22px;
					line-height: 22x;
					height: 22px;
				}

			}
			a {
				margin-right: 10px;
				&:last-child {
					margin-right: 0
				}
				/*when is open the preview box we chabge icon*/ 
				&[data-close="true"] {
					i {
						font-size: 24px;
						&:before {
							content: "\f00d"!important;
						}
					}

				}
			}
		}

		/*The content styles, where is called the link to asset*/
		.asset-preview-related  {
			display: block;
			a {
				display: block;
				width: 100%;
				color:#1678c3;
				font-size: 14px;
				font-weight: bold;

				@media screen and (max-width: 480px) {
					font-size: 12px;

				}
			}
		}
	}


}
