/* 
    Created on : 14.07.2015, 12:20:03
    Author     : Kristian
*/
#askGuru.singlePage{
	#filterActions{
		margin-bottom: 17px;
	}
	#main-content{
		.back-button{
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 9px;

		}
	}
}
.modal.app7020-addnew-question-dialog {

	.app7020_new_question_top{
		@extend %add-question-dialog-topBar;
	}

	.counters{
		@extend %add-question-dialog-counters;
	}

	.quesrtion-text{
		display: inline-block;
		font-size: 15px;
		padding-left: 10px;
		.app7020_subhint{
			font-size: 11px;
			color: B1B1B1;
		}

		&.lower{
			margin-top: 8px;
		}
		span{
			display: block;
			&.subTitle{
				color: #999;
				font-weight: 600;
				font-size: 11px;
			}
		}
		input[name="questionRequest"]{
			display: none;
		}
		label{
			margin-top: 8px;
			font-size: 15px;
		}
	}





	@media (max-width: 480px)  {
		margin: 16px 0 0 -2px;
		width: 300px;
	}

	@media (min-width: 481px) and (max-width: 767px) { 
		margin: 0px 0 0 -293px;
		width: 400px;
		margin: -3px 0 0 66px;
	}

	@media (min-width: 768px) and (max-width: 979px) { 
		width: 648px;
		margin: -9px 0 0 -293px;
	}

	@media (min-width: 980px) and (max-width: 1199px) { 
		width: 870px;
		margin: 3px 0 0 -401px;
	}

	width: 1111px;
	margin: 16px 0 0 -516px;
	box-shadow: none !important;
	border: none !important;
	.modal-header {
		background-color: white !important;
		border: none !important;
		h3, .close {
			color: black;
		}
	}
}
#askGuru{
	#app7020TabsPlus {
		ul.app7020BootstrapTabsExtended {
			li.myAnswers {
				position: relative;
				z-index: 10;
			}
			li.myQuestion.blankTab.active {
				position: relative;

				&:before {
					content: '';
					@extend %app7020-hint-19;
					left: 240px;
					top: -50px;
					z-index: 9;
					@media (max-width: 580px)  {
						display: none;
					}
				}

			}
		}
		.app7020RadioSwitches{
			margin-bottom: 0;
			span[id^="switch-"]{
				background: #F8F8F8;
				border: 1px solid #e5e5e5;
				border-top: 0;
			}
			& + .app7020QuestionListView{
				.itemGrid:nth-child(even){
					> .media{
						background: #F8F8F8;
					}
				}
				.itemGrid:nth-child(odd){
					> .media{
						background: #FFF;
					}
				}
			}
		}
		.tab-content {
			min-height: 500px;
			.tab-pane {
				min-height: 300px;
				@media (max-width: 768px) {
					min-height: 340px;
				}
			}
			.app7020-hint {
				&.app7020-myQuestions-pageBlank-hint, &.app7020-myAnswers-pageBlank-hint, &.app7020-following-pageBlank-hint {
					text-align: center;
					position: relative;
					h4, h3 {
						display: block;
					}
					h4 {
						font-size: 41px;
						margin-top: 70px;
					}
					h3 {
						font-size: 28px;
						margin: 10px 0;
					}
				}
				&.app7020-myQuestions-pageBlank-hint {
					.app7020-stack {
						margin-top: 60px;
					}
				}
				&.app7020-myAnswers-pageBlank-hint {
					.app7020-stack {
						margin-top: 160px;
						margin-bottom: 10px;
					}
				}

				&.app7020-following-pageBlank-hint {
					h4 {
						margin-bottom: 35px;
						font-size: 35px;
					}
					.footer {
						.span6:nth-child(1) {
							padding-right: 10px;
							h3 {
								text-align: right;
								color: #a5a5a5;
								line-height: 120%;
								font-size: 24px;
								@media (max-width: 768px) {
									text-align: center;
								}
							}
						}
						.span6:nth-child(2) {
							position: relative;
							.menu-container {
								position: absolute;
								top: 7px;
								right: 0;
								width: 250px;
								height: 56px;
								@media (max-width: 980px) {
									width: 50px;
								}
								.dots {
									width: 30px;
									height: 30px;
									border: 1px solid #E4E6E5;
									position: absolute;
									left: -14px;
									background-color: white;
									&:before {
										font-family: 'FontAwesome';
										content: '\f142';
										font-size: 21px;
										font-weight: 400;
										text-shadow: none;
										position: absolute;
										top: 7px;
										color: #979797;
										right: 13px;
									}
								}
								.text {
									width: 110px;
									height: 67px;
									border: 1px solid #E4E6E5;
									position: absolute;
									right: 232px;
									top: 31px;
									background-color: white;
									padding: 0 50px 0 10px;
									@media (max-width: 980px) {
										right: 32px;
									}

									p:nth-child(1) { 
										@media (max-width: 980px) {
											border: none;
											margin-bottom: 30px;
										}
									}

									p:nth-child(2) {
										border-bottom: 13px solid #E4E6E5;
										display: block;
										width: 100%;
										margin-top: -9px;

									}
								}
								.cursor-hand {
									left: 0;
									top: 13px;
									position: absolute;
									width: 19px;
									height: 24px;
									background: url('../images/cursor_hand.png') no-repeat center center;
								}
							}

							p {
								border-bottom: 13px solid #E4E6E5;
								margin: 0 280px 5px 0;
								line-height: 0%;
								@media (max-width: 980px) {
									margin: 19px 81px 20px 0;
								}
							}
							p:nth-child(1) {
								margin: 19px 280px 20px 0;
								@media (max-width: 980px) {
									margin: 19px 81px 20px 0;
								}
							} 
						}
					}
				}


			} 
			.app7020-stack {
				margin-top: 60px;
			}
		}
	}

	.customDropdown-widget {
		&.askGuruControls {
			[data-method="deleteQuestion"] {
				color: red;
			}
		}
	}

	.edit-question-container {
		margin-top: 10px;
		position: relative;
		display: none;
		.edit-question-button {
			position: absolute;
			top: 65px;
			right: 0px;
		}
		.mce-edit-area {
			padding-right: 125px !important;
		}
	}

	@media (max-width: 767px){
		padding: 0 12px;
		box-sizing: border-box;
	}
	#filterActions{
		@extend %filterActions;
		margin-bottom: 30px;
		@media (max-width: 767px){
			input.search{
				margin-left: 0;
				width: 273px;
			}
		}
	}
	.all-tags-container {
		display: inline-block;
	}
	.best-answer-label {
		display: none;
	}	
    #main-content{
		position: relative;
        .all-question-specific, .my-question-specific {
            display: none;
        }
        &.all-quetions {
            .all-question-specific {
                display: block;
                height: 35px;
				.new{
					display:inline-block;
					background:#5FBD5C;
					color:#eee;
					font-size:12px;
					font-weight:700;
					line-height:22px;
					padding:0px 6px 1px;
					text-shadow:none;
					text-transform:uppercase;
					margin-right:14px;
				}
                div.answer-now {
                    position: relative;
                    display: inline-block;
                    a {
                        color: $green-color;
                        text-transform: uppercase;
                    }
                }


                .all-quetions-hint-container {
                    display: inline-block;
                    padding-left: 110px;
                    position: relative;
                    left: 0;
                    top: -17px;
					@media (max-width: 480px)  {
						left: -8px;
						top: -42px;
						z-index: -1;
					}
					@media (min-width: 481px) and (max-width: 515px) { 
						left: 86px;
						top: -43px;
					}
					@media (min-width: 515px) and (max-width: 600px) { 
						left: 72px;
						top: -41px;

					}
					@media (min-width: 768px) and (max-width: 979px) { 
						left: 73px;
						top: -43px;
					}
                    color: $green-color;
                    div {
						display: inline-block;
                        font-family: 'Handlee', cursive;
						position: relative;
                        &:first-child {
							@media (max-width: 480px)  {
								font-size: 25px;
							}
                            font-size: 30px;
                            margin-bottom: 9px;
                        }
                        &:last-child {
                            font-size: 19px;
							top: 26px;
							left: -143px;
							@media (max-width: 480px)  {
								top: -6px;
								left: -2px;
							}
							@media (min-width: 481px) and (max-width: 515px) { 
								top: -4px;
								left: -2px;
							}
                        }
                    }

                    &:before {
                        content: '';
                        @extend %app7020-hint-15;
                        left: 0;
                        top: 20px;
						@media (max-width: 480px)  {
							height: 0;
							width: 0;
						}

                    } 
                    &:after {
                        content: "\f0e6";
                        display: inline-block;
                        font-family: "FontAwesome";
                        font-size: 42px;
                        position: absolute;
                        left: 58px;
                        top: 0px;
						@media (max-width: 480px)  {
							font-size: 0px;
						}
                    }
                }
            }
        }

        &.my-quetions {
            .my-question-specific {
                display: inline-block;
                position: relative;
                margin-top: 25px !important; 
                margin-bottom: 15px;
                .my-quetions-hint-container {
                    position: relative;
                    max-width: 350px;
                    min-width: 250px;
                    /*margin-left: 34px;*/
                    display: inline-block;
                    top: 10px;
                    margin-top: -42px;
                    /*max-width: 300px;*/
                    text-transform: none;
                    font-family: 'Handlee', cursive;
                    color: $green-color;
                    font-size: 20px;
                    line-height: 110%;
                    padding-left: 72px;
                    &:before {
                        content: '';
                        @extend %app7020-hint-15;
                        left: 0px;
                        top: 11px;

                    }
                }
                span.badge {
                    background-color: $green-color;
                    webkit-border-radius: 0;
                    border-radius: 0;
                    width: 23px;
                    height: 23px;
                    padding: 0;
                    text-align: center;
                    line-height: 23px;
                    text-shadow: none;
                    margin-left: 15px;
                }
            }

        }

        .app7020-container {
            &.grey {
                height: 50px;
                line-height: 50px;
                border-top: none;
            }

            .form-horizontal {
                .controls {
                    margin-left: 2px;
                    label.radio {
                        margin-right: 26px;
                        input[type="radio"] {
                            display: none;
                            &:checked {
                                + label {
                                    &:before {
                                        content: $radioButtonChecked;
                                        display: inline-block;
                                        font-family: "FontAwesome";
                                        font-size: 18px;
                                        margin-right: 14px;
                                    }                           
                                } 
                            }

                            &:not(:checked) {
                                + label {
                                    &:before {
                                        content: $radioButtonNotChecked;
                                        display: inline-block;
                                        font-family: "FontAwesome";
                                        font-size: 18px;
                                        margin-right: 14px;
                                    }                           
                                }
                            }
                        }
                    }
                }
            }


        }


        .filters-wrapper{
            display: none;
        }

        #questionsComboListView, #answersComboListView{
			.widget-separation {
				display: none;
			}
            .empty{
                display: none;
            }
            .combo-list-item{
                padding: 0;
                border: 0;
                background: none;
                margin: 0;
                .span11{
                    margin: 0;
                    width: 100% !important;
                }
            }
            .pager{
                float: right;
                margin: 15px 0;
            }
            .summary{
                float: left;
                margin: 15px 0;
            }
        }
        h1.title{
            font-size: 18px;
            font-weight: normal;
            border-bottom: 1px #E6E6E6 solid;
            padding-bottom: 8px;
            margin: 0 0 17px 0;
        }
        @extend %app7020QuestionMediaObject;

    }
    &.singlePage{
		#main-content{
			.media{
				padding: 0;
				border: 0;
				&[data-follow="true"]{
					> .media-body > .info {
						.unfollow, .followed{
							display: inline-block;
						}
					}
					> .media-body > .text{
						&:before{
							font-family: 'FontAwesome';
							content: '\f06e';
							color: #0465AC;
							font-size: 15px;
							padding-right: 3px;
							display: inline-block;
						}
					}
				}
				&[data-follow="false"]{
					> .media-body > .info {
						.follow{
							display: inline-block;
						}
					}
				}
				.media-body{
					padding: 0;
					.media-heading-by{
						padding-left: 50px;
						font-size: 14px;
						font-weight: 600;
						color: #1678c3;
						text-transform: capitalize;
						margin-bottom: 6px;
					}
					.media-information{
						padding-left: 50px;
						.customTopics-widget{
							vertical-align: middle;
						}
					}
					.text{
						margin-top: 12px;
						line-height: 15px;
						word-wrap: break-word;
						p{
							margin-bottom: 2px;
						}
					}
					footer.info{
						padding-top: 15px;
						span{
							font-size: 12px;
							text-shadow: none;
							color: #999;
							display: inline-block;
							padding-right: 15px;
							&.mark-best, &.unmark-best{
								display: none;
								font-size: 12px;
								color: #5ebe5c;
								font-weight: 700;
								margin-top: 6px;
								cursor: pointer;
								text-decoration: underline;
							}
							&.follow, &.unfollow{
								color: #1678c3;
								text-decoration: underline;
								font-weight: 700;
								cursor: pointer;
								display: none;
							}
							&.followed{
								color: #5ebe5d;
								font-weight: 700;
								display: none;
							}
						}
					}
					.headingOfAnswersList{
						text-transform: uppercase;
						font-size: 13px;
						font-weight: 700;
						border-bottom: 1px #E5E5E5 solid;
						margin-top: 25px;
						padding-bottom: 5px;
						.countAnswers{
							float: left;
							color: #1678c3;
						}
						.goToAnswerNow{
							text-decoration: underline;
							float: right;
							color: #5ebe5c;
							cursor: pointer;
						}
					}
					#answers{
						margin-top: 15px;
						.media{
							overflow: visible;
							padding-top: 5px;
							padding-bottom: 15px;
							&:hover{
								.askGuruControlsAnswer .wrapper{
									display: block;
								}
							}
							.askGuruControlsAnswer .wrapper{
								display: none;
							}
							&:not(:last-child){
								border-bottom: 1px #E6E6E6 solid;
							}
							&:not(.bestAnswer){
								.info{
									.mark-best{
										display: inline-block;
									}
								}
							}
							&.bestAnswer{
								border: 2px #61BC5F solid;
								background: #FBFDFA;
								padding-top: 15px;
								margin: 0;
								.signature{
									&::after{
										width: 30px;
										height: 30px;
										display: block;
										position: absolute;
										font-family: "FontAwesome";
										font-size: 35px;
										color: #5ebe5d;
										content: "\f058";
										top: auto;
										left: auto;
										margin: 20px 0 0 5px;
									}
								}
								.media-heading-by{
									color: #5ebe5d;
								}
								.media-information{
									padding-left: 0;
								}
								.text{
									margin-top: 6px;
									.bestAnswerLabel{
										font-weight: 800;
										color: $green-color;
									}
								}
								footer.info{
									padding-top: 5px;
									.unmark-best{
										display: inline-block;
									}
								}
							}
							.signature{
								margin-right: 15px;
								margin-left: 10px;
							}
							.media-body{
								overflow: visible;
								padding-left: 65px;
								.bodyEditAnswerMCE{
									p{
										margin: 0;
									}
								}
								.media-heading-by{
									@include transition(all .5s);
									margin-bottom: 2px;
									color: #5ebe5d;
									padding-left: 0;
									padding-right: 50px;
								}
								.media-information{
									padding-left: 0;
									padding-right: 50px;
									.ago{
										padding: 0 0 0 15px;
										color: #999;
									}
								}
								.mce-tinymce {
									.mce-container-body {
										.mce-edit-area {
											padding-right: 85px;
											height: 70px !important;
											iframe {
												height: 70px !important;
											}
										}

									}
								}
								.saveAnswerButton{
									@extend %sendAnswerButton;
									margin-top: 20px;
								}
								.text{
									font-weight: normal;
									padding-left: 0;
									word-wrap: break-word;
									p{
										margin: 0;
									}
								}
								.customDropdown-widget {
									&.askGuruControlsAnswer {
										margin-right: 10px;
										.wrapper {
											.awesomeIcon-dots {
												li {
													.link-node-1 {
														color: red;
													}
												}
											}
										}
									}
								}
								footer.info{
									padding: 0;
								}
							}
						}
						footer#addNewAnswer{
							border: 1px #E6E6E6 solid;
							background: #F8F8F8;
							padding: 15px 15px 15px 9px;
							display: table;
							width: 100%;
							box-sizing: border-box;
							position: relative;
							textarea[name="addnewAnswer"] {
								display: none !important;
							}
							.mce-tinymce {
								.mce-container-body {
									.mce-edit-area {
										padding-right: 85px;
										height: 70px !important;
										iframe {
											height: 70px !important;
										}
									}

								}
							}
							#addNewAnswerFrom{
								display: table;
								width: 100%;
							}
							.signature{
								padding-left: 10px;
								padding-right: 15px;
								width: 40px;
								display: table-cell;
								vertical-align: top;
								height: 40px;
								cursor: default;
							}
							span.tinyMcePlaceholder {
								position: absolute;
								top: 60px;
								left: 84px;
							}
							.sendAnswerButton{
								display: block;
								position: absolute;
								right: 27px;
								top: 70px;
								height: 33px;
								line-height: 32px;
								border: 0;
								background: #53ab54;
								color: #fff;
								font-size: 13px;
								padding: 0 15px;
								text-decoration: none;
								text-transform: uppercase;
								z-index: 5;
								&.hide {
									display: none;
								}

							}
							textarea[name="addnewAnswer"]{
								padding-right: 79px;
								vertical-align: top;
								width: 100%;
								box-sizing: border-box;
								display: table-cell;
								min-height: 55px;
								margin: 0;
								resize: none;
							}
						}
					}
				}
			}
		}
    }
}

.app7020-addnew-question-dialog{
    width: 400px;
    min-height: 430px;
    margin: 0 0 0 -200px;
    .modal-footer {
        border: 1px solid #cccccc;
        border-top: none;
        border-radius: 0;
    }

    #app7020-addnew-question-dialog{
		@extend %add-question-dialog-form-template;
		&.modal-body {
			&.opened {
				overflow: visible;
			}
			#addNewQuestionForm{
				.app7020_new_question_top{

				}
				.formsSestion{
					padding-top: 20px;
					.mce-tinymce.mce-container.mce-panel{
						margin-left: 48px;
					}
					.tags{
						padding-top: 35px;
						.tag-widget-container{
							margin-left: 48px;
							margin-top: 5px;
							padding: 0;
							height: 32px;
							.twitter-typeahead{
								display: block;
								margin: 0;
								#tags{
									height: 25px;
									margin: 0;
									width: 400px;
								}
							}
						}
						.tagsContainer{
							margin-left: 48px;
							margin-top: 6px;
						}
					}
					.agreeSection{
						padding-top: 35px;
						display: table;
						width: 100%;
						box-sizing: border-box;
						.counters{
							display: inline-block;
						}
						.quesrtion-text{
							display: table-cell;
							vertical-align: top;
						}
						input + label{
							display: inline-block;
							padding-left: 27px;
							position: relative;
							&:before{
								position: absolute;
								width: 17px;
								content: '';
								height: 17px;
								left: 0;
								top: 2px;
								background: url(../images/icons_elements.png) no-repeat -144px -201px;
							}
						}
						input:checked + label{
							&:before{
								background: url(../images/icons_elements.png) no-repeat -190px -201px;
							}
						}
					}
				}
			}
		}

    }

}

.app7020-addQuestion-blankState {
	#app7020-addQuestion-blankState-err {
		text-align: left;
	}
	.app7020-addQuestion-blankState-hint-container {
		text-align: center;
		.app7020-addQuestion-blankState-hint {
			text-align: left;
			max-width: 800px;
			width: 665px;
			margin: 20px auto;
			font-family: 'Handlee', cursive;
			font-size: 40px;
			line-height: 100%;
			color: #999999;
			position: relative;
			padding-left: 83px;
			@media (max-width: 480px)  {
				font-size: 20px;
				padding-left: 0;
				width: 300px;
			}
			@media (min-width: 481px) and (max-width: 767px) {
				width: 320px;
				font-size: 30px;
			}

			@media (min-width: 768px) and (max-width: 979px) { 
				width: 500px;
				font-size: 30px;
			}

			&:before {
				content: '';
				@extend %app7020-hint-12;
				left: 14px;
				top: 37px;
				@media (max-width: 480px)  {
					display: none;
				}
			}


			span {
				color: #5EBE5C;
			}
		}
	}

	#app7020-addQuestion-blankState {
		@extend %add-question-dialog-form-template;
		padding: 20px;
		border-bottom: 1px solid #cccccc !important;
		.counters {
			@extend %add-question-dialog-counters;
		}
		.quesrtion-text{
			display: inline-block;
			font-size: 15px;
			padding-left: 10px;
			@include font_awesome-checkbox();
			label[for='questionRequest'] {
				margin-top: -14px;
				span {
					font-weight: bold;
				}
			}


			.app7020_subhint{
				font-size: 11px;
				color: B1B1B1;
			}

			&.lower{
				margin-top: 8px;
			}
		}
		#mceu_5 {
			margin: 13px 0;

		}
		.app7020_new_question_top {
			margin-bottom: 20px;
			@extend %add-question-dialog-topBar;
		}
		.treeContainer {
			.widgetBody {
				margin-top: 10px;
			}
		}
		.wrapFix {
			#questionTitle {
				margin-top: 10px;
			}
		}
		.form-actions {
			border: none;
			background-color: white;
			float: right;
			.save-dialog, .close-dialog {
				@extend %dialog-buttons-btn;
				border: none;
				padding: 0 15px;
				&:hover {
					opacity: .8;
				}
			}
			.close-dialog {
				display: none;
			}
			.save-dialog {
				background: #53AB54;
			}
		}
    }
}

%add-question-dialog-topBar { 
	width: 100%;
	.app7020_new_question_hint {
		width: 300px;
		display: table-cell;
		font-family: 'Handlee', cursive;
		font-size: 26px;
		line-height: 100%;
		color: #5EBE5C;
		position: relative;
		padding-left: 35px;
		margin-top: 30px;
		text-align: end;
		span{
			color: #999999;
		}
	}
	.app7020_new_question_gurus {
		width: 660px;
		display: table-cell;
		position: relative;
		padding-left: 35px;
		text-align: left;
		vertical-align: middle;
	}
}

%add-question-dialog-counters {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	text-shadow: none;
	min-width: 24px;
	height: 28px;
	background: #343434;
	cursor: default;
	text-align: center;
	border-radius: 50%;
	height: 28px;
	width: 36px;
	padding-top: 8px;
	margin-bottom: 5px;
	vertical-align: top;
}

%add-question-dialog-form-template {
	overflow: hidden;
	max-height: 1420px;
	border: 1px solid #cccccc;
	border-bottom: none;
	.wrapFix{
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		width: 520px;
		margin-right: 20px;
		@media (max-width: 1200px) {
			width: 100%;
			margin-bottom: 20px;
		}
		.signature{
			width: 40px;
			height: 40px;
			display: inline-block;
			vertical-align: top;
			padding-right: 12px;
			@media (max-width: 1200px) {
				margin-bottom: 10px;
			}
			&:before{
				font-family: "FontAwesome";
				color: #5ebe5d;
				content: "\f111";
				display: none;
				position: absolute;
				font-size: 10px;
				width: 10px;
				height: 10px;
				margin-top: 33px;
			}
			.img-object{
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		}

		.mce-tinymce {
			&.mce-container {
				&.mce-panel {
					display: inline-block;
					width: 460px !important;
					@media (max-width: 1200px) {
						width: 100% !important;
					}   
					&~ p{
						margin-left: 55px;
						@media (max-width: 1200px) {
							margin-left: 0;
						}  
					}
					&~ p {
						font-size: 11px;
					}

				}
			}
		}

		textarea[name="questionTitle"]{
			vertical-align: top;
			width: 100%;
			box-sizing: border-box;
			display: table-cell;
			margin: 0;
			resize: none;
		}
	}
	.treeContainer {
		display: inline-block;
		width: 520px;
		@media (max-width: 1200px) {
			width: 100%;
		}  
	}
	.info-label{
		padding-top: 0;
		@media (max-width: 480px)  {
			max-width: 220px;
		}
		@media (min-width: 481px) and (max-width: 767px) { 
			width: 367px;
		}
		&:after{
			content: "*";
			color: #E24F3B;
		}
	}
	.widgetHeader{
		display: none;

	}
	.widgetBody{
		@media (max-width: 480px)  {
			width: 190px;
		}
		@media (min-width: 481px) and (max-width: 767px) { 
			width: 335px;
		}
		@media (min-width: 768px) and (max-width: 979px) { 
			width: 585px;
		}
		@media (min-width: 980px) and (max-width: 1199px) { 
			width: 805px;
		}
		.tree{
			padding-top: 10px;
			.fancytree-wrapper{
				height: 194px;
				min-height: 0;
				overflow-y: scroll;
				position: relative;

				&::-webkit-scrollbar {
					width: 6px;
				}

				/*                    &::-webkit-scrollbar-track {
										-webkit-box-shadow: inset 0 0 6px black; 
										border-radius: 10px;
									}*/

				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					-webkit-box-shadow: inset 0 0 6px black; 
					background-color: black;
				}

			}
			#treeWidgetContainer{
				outline: none;
			}
		}
	}		
}
