/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.08.2015, 10:50:04
    Author     : Velislav, Ivaylo Ivanov
*/

#dashlet-knowledge-gurus-settings {
    .control-group {
        display: inline-block;
        .control-label {
            display: inline-block;
            margin: 0 20px 0 10px;
        }
    }

    .setting-description {
        &.compact {
            margin: 0 0 7px;
            display: block;
        }
    }

    p {
        margin-top: 25px;
    }


}



.knowGuruKpiWidget{
	
	background-color: #f5f5f5;
	border: 1px $grey-border solid;
	
	.knowledge_guru_kpi_title{
		padding-top: 10px;
		padding-left: 10px;
		font-size: 12px;
		font-weight: bold;
	}
	
	.knowledge_guru_kpi_chart_container{
		overflow: auto;
		overflow-y: hidden;
		-ms-overflow: auto;
		-ms-overflow-y: hidden;
		padding-bottom: 20px;
	}
	
	.knowledge_guru_kpi_chart{
		min-width: 475px;
	}
	
	.knowledge_guru_kpi_stats{
		
		width: 100%;
		display: table;
			
		.stat_row{
			&:not(:last-child){
				border-bottom: 1px $grey-border solid;
			}
			display: table;
			padding-top: 20px;
			padding-bottom: 20px;
			table-layout: fixed;
			width: 100%;
			line-height: normal;
			box-sizing: border-box;
			> div{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
			.big_number{
				width: 60px;
				min-width: 60px;
			    text-align: left;
			    font-size: 30px;
				padding-left: 20px;
			}
			.stat_text{	
				text-align: left;
				line-height: 12px;		
				.answered{
					color: $edit-color;
					display: inline-block;  
				}
				.reviewed{
					color: $green-color;  
					display: inline-block;  
				}
				
				.satisfied{
					color: #E67F22;  
					display: inline-block;  
				}
			}
			.stat_percentage{
				color: $white;
				font-size: 11px;
				width: 60px;
				min-width: 60px;
				text-align: right;
				padding-right: 20px;
				white-space: nowrap;
				.negative{
					background-color: $delete-color;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
				
				.positive{
					background-color: $green-color;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
			
			.likeDislikeStat{
				display: table-cell;
				padding-right: 20px;
			}
			
			.likeDislikeText{
				padding-left: 15px;
			}
		}
		
		
		.whiteStatRow{
			background-color: $white;
		}
	}
	
	
}

.jqplot-xaxis {
    	margin-top: 7px !important;
	}
	
.jqplot-highlighter-tooltip{
	display: block;
	background-color: #FFFFFF !important;
	min-width: 25px;
	text-align: center;
	font-size: 14px !important;
	margin-bottom: 10px;
	padding: 0 5px;
	
	.arrow{
		position: absolute;
    	bottom: -8px;
    	left: 50%;
    	margin-left: -8px;
		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 9px 0 9px;
			border-color: #ccc transparent transparent transparent;
			left: -2px;
			right: 0;
			margin: 0 auto;
			position: absolute;
			bottom: 0px;
		}
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 7.5px 0 7.5px;
			border-color: #fff transparent transparent transparent;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			bottom: 0px;
		}
	}
	
	.color0{
		color: #5FBD5D;
	}	
	
	.color1{
		color: #0465AC;
	}
}

