#EcommerceAppSettingsForm_stripe_type,
#EcommerceAppSettingsForm_stripe_type_0-styler,
#EcommerceAppSettingsForm_stripe_type_1-styler{
	float: left;
}

.stripe_type_row{
	clear: left;
	padding-top: 15px;
}

.stripe_type_row:first-child{
	padding-top: 0;
}

.stripe_type_row span.jq-radio{
	margin-left: 0;
}

.stripe_advanced_text{
	display: block;
	clear: both;
	margin-left: 32px;
	font-size: 11px;
	color: #999;
	line-height: 11px;
}

#stripe_tax_code_container{
	margin-top:10px;
}

#stripe_tax_code_container label{
	display: inline-block;
	margin-left: 32px;
	margin-right: 5px;
}

#stripe_tax_code_container .input-wrapper{
	display: inline-block;
}