/* 
    Created on : 14.07.2015, 12:20:03
    Author     : Ivaylo Ivanov
*/

.treeContainer{
	width: 500px !important;
}

.askGuruWidget{
	@extend #askGuru;
	margin-left: 9px;

	.all-quetions{
		width: 98%;

    }

    .best-answer-short-green{
		color: #5FBD5D;
		margin-left: 10px;
		margin-top: 10px;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
    }

    .best-answer-short{
		p{
			display: inline;
			font-size: 12px;
		}
    }

	.all-quetions-hint-container{
		display: none;
	}



	.view-all{
		text-decoration: underline;
		outline: none;
		float: right;
		margin-right: 10px;

	}

	#filterActions{
		a{
			text-decoration: none !important;
		}
	}
	.searchGroup{
		position: relative;
		display: inline-block;
		float: right;
		.search{
			position: absolute;
			top: 0;
			right: 53px;
			width: 300px;
			height: 28px;
			min-width: 0 !important;
			&.expanded{
				@include transition(all 1s linear !important);
				width: 250px;
			}
		}
		.searchBtn {
			cursor: pointer;
			height: 23px;
			background-color: #333333;
			color: #FFF;
			padding: 5px 10px;
			margin-right: 0px;
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 50;
		}
	}

}


.mainContentWidget{
	@extend #main-content;

	.widget-separation {
		display: none;
	}
	.best-answer-short{
		display: none;
	}
}

#mydashboard { 

	.dashlets-cell { 
		&.span12 {
			.mainContentWidget {
				&.all-quetions {
					.all-quetions-hint-container {
						display: none;
					}
				}
			}
			.searchGroup{
		position: relative;
		display: inline-block;
		float: right;
		.search{
			position: absolute;
			top: 0;
			right: 53px;
			width: 300px;
			height: 28px;
			min-width: 0 !important;
			&.expanded{
				@include transition(all 1s linear !important);
				width: 250px;
			}
		}
		.searchBtn {
			cursor: pointer;
			height: 23px;
			background-color: #333333;
			color: #FFF;
			padding: 5px 10px;
			margin-right: 0px;
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 50;
		}
	}		
		}
		&.span4 { 
			.mainContentWidget {
				&.all-quetions {
					.media {
						&.online {
							.all-tags-container {
								display: block;
								.tag {
									display: inline;
								}
							}
							.text {
								display: none;
							}
							&.approved {
								.media-content {
									display: table;
									.best-answer-label {
										display: table-cell;
										float: right;
										line-height: 34px;
										margin-top: 6px;
										color: #5FBD5D;
										font-weight: bold;
									}
									.answers {
										display: table-cell;
										float: left;
										margin: 0px;
										line-height: 34px;
										margin: 6px 10px 0 0;
									}
									.text {
										display: table-cell;
										margin-left: 10px;
										padding: 0;
										float: right;
										min-height: 16px;
										border: none;
										&:before {
											content: none;
										}

										&.ellipsis {
											.croped-text {
												width: 60px;
												line-height: 47px;
												white-space: nowrap;
												overflow: hidden;
												text-overflow: ellipsis;
											}
										}
									}
								}


							}
						} 
					} 

					.text{

					}
					a.filter{
						display: none;
					}

					a.topics{
						display: none;
					}

					.btn.ask-guru {
						padding-left: 15px;
						padding-right: 15px;
					}
					.all-quetions-hint-container {
						display: none;
					}

					.best-answer-short{
						display: inline !important;
					}

					.no-answers-yet{
						display: none;
					}
					.media-heading {
						display: block;
						display: -webkit-box;
						max-width: 400px;
						max-height: 56px;
						margin: 0 auto;
						line-height: 1.4;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.media-information{
						font-size: 4px;
						.views{
							display: none;
						}
						.video-name{
							display: none;
							padding-left: 18px;
						}
						.video-name:before{
							left: 0px;
						}
						.tag{
							display: none;
						}

					}

				}
				
			} 

		}

		&.span8 {
			.mainContentWidget {
				&.all-quetions {

					.all-quetions-hint-container {
						display: none;
					}


				}
			} 
		}

		&.span6 {
			.mainContentWidget {
				&.all-quetions {
					.media {
						&.online {
							.all-tags-container {
								display: block;
							}
							&.approved {
								.text {
									&.ellipsis {
										.croped-text {
											width: 420px;
										}
									}
								}
							}
						}
					}
					.all-quetions-hint-container {
						display: none;
					}

					.media-heading {
						display: block;
						display: -webkit-box;
						max-width: 400px;
						max-height: 56px;
						margin: 0 auto;
						line-height: 1.4;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					p {
						display: block;
						display: -webkit-box;
						max-width: 400px;
						/*max-height: 56px;*/
						margin: 0 auto;
						line-height: 1.4;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.video-name{
						padding-left: 18px;
					}
					.video-name:before{
						left: 0px;
					}
					.widget-separation {
						display: block;
					}
				}
			} 
		}
	}
}
