/* 
    Created on : 21.07.2015, 14:16:17
    Author     : Stanimir
*/

%app7020-hint {
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Handlee', cursive;
		color: $green-color;
		position: relative;
		display: inline-block;
		text-align: center;
		a{
			color: $green-color;
			text-decoration: none;
			outline: none;
		}
		span{
			color: #a5a5a5;
			display: inline-block;
		}
	}
}
%app7020-hint-default-opt{
	background: url('../images/sprite-overlay-hint-arrows.png') no-repeat;
	display: inline-block;
	position: absolute;
	content: ' ';
}
%app7020-hint-1{
	@extend %app7020-hint-default-opt;
	background-position: 0px 0px;
	height: 41px;
	width: 80px;
}
%app7020-hint-2{
	@extend %app7020-hint-default-opt;
	background-position: 0px -41px;
	height: 60px;
	width: 80px;
}
%app7020-hint-3{
	@extend %app7020-hint-default-opt;
	background-position: 0px -101px;
	height: 88px;
	width: 80px;
}
%app7020-hint-4{
	@extend %app7020-hint-default-opt;
	background-position: 0px -189px;
	height: 72px;
	width: 80px;
}
%app7020-hint-5{
	@extend %app7020-hint-default-opt;
	background-position: 0px -261px;
	height: 57px;
	width: 80px;
}
%app7020-hint-6{
	@extend %app7020-hint-default-opt;
	background-position: 0px -318px;
	height: 40px;
	width: 80px;
}
%app7020-hint-7{
	@extend %app7020-hint-default-opt;
	background-position: 0px -358px;
	height: 53px;
	width: 80px;
}
%app7020-hint-8{
	@extend %app7020-hint-default-opt;
	background-position: 0px -411px;
	height: 41px;
	width: 80px;
}
%app7020-hint-9{
	@extend %app7020-hint-default-opt;
	background-position: 0px -452px;
	height: 39px;
	width: 80px;
}
%app7020-hint-10{
	@extend %app7020-hint-default-opt;
	background-position: 0px -491px;
	height: 30px;
	width: 44px;
}
%app7020-hint-11{
	@extend %app7020-hint-default-opt;
	background-position: 0px -521px;
	height: 25px;
	width: 80px;
}
%app7020-hint-12{
	@extend %app7020-hint-default-opt;
	background-position: 0px -546px;
	height: 43px;
	width: 80px;
}
%app7020-hint-13{
	@extend %app7020-hint-default-opt;
	background-position: 0px -589px;
	height: 44px;
	width: 80px;
}
%app7020-hint-14{
	@extend %app7020-hint-default-opt;
	background-position: 0px -633px;
	height: 78px;
	width: 80px;
}
%app7020-hint-15{
	@extend %app7020-hint-default-opt;
	background-position: 0px -711px;
	height: 32px;
	width: 80px;
}
%app7020-hint-16{
	@extend %app7020-hint-default-opt;
	background-position: 0px -743px;
	height: 47px;
	width: 80px;
}
%app7020-hint-17{
	@extend %app7020-hint-default-opt;
	background-position: 0px -790px;
	height: 28px;
	width: 80px;
}
%app7020-hint-18{
	@extend %app7020-hint-default-opt;
	background-position: 0px -818px;
	height: 68px;
	width: 80px;
}
%app7020-hint-19{
	@extend %app7020-hint-default-opt;
	background-position: 0px -886px;
	height: 127px;
	width: 80px;
}
.app7020-hint {
	@extend %app7020-hint;
	&.app7020-metaform {
		> * {
			font-size: 26px;
			font-weight: 400;
			width: auto;
		}
		top: -45px;
		position: absolute;
		right: 203px;
		@media (min-width: 1200px) {

		}
		@media (min-width: 980px) and (max-width: 1024px) {
			top: -45px;
			position: absolute;
			right: 53px;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			top: -72px;
			position: absolute;
			right: -29px;
		}
		@media (max-width: 767px) {
			position: relative;
			float: right;
			right: 0;
			width: 100%;
			display: block;
			text-align: right;
			&:before, &:after {
				display: none;
			}
		}
		@media (max-width: 480px) {
			display: none; 
		}
		&:before {
			@extend %app7020-hint-10;
			left: -55px;
			top:  25px;
		}
		&:after {
			@extend %app7020-hint-11;
			right: -56px;
			top: 15px;
		}
	}
	&.app7020-general-heading {
		position: relative;
		display: inline-block;
		h3 {
			font-size: 40px;
			font-weight: 400;
		}
		h4 {
			font-size: 26px;
			font-weight: 500;
		}
		&:before, &:after {
			top: 20px;
			@media (max-width: 767px) { 
				display: none;
			}
		}
		&:before {
			@extend %app7020-hint-12;
			left: -83px;
		}
		&:after {
			@extend %app7020-hint-13;
			right: -83px;
		}
	}
	&.app7020-knowledge-hint{
		position: relative;
		&:before{
			@extend %app7020-hint-12;
			left: -67px;
		}
	}
	&.app7020-guruDashboard-questinsGuru{
		position: relative;
		padding-left: 80px;
		padding-bottom: 25px;
		border-bottom: 1px solid #e6e6e6 !important;
		h4{
			font-size: 23px;
		}
		&:before{
			@extend %app7020-hint-16;
			-moz-transform: scaleY(-1);
			-o-transform: scaleY(-1);
			-webkit-transform: scaleY(-1);
			transform: scaleY(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
			left: 30px;
		}
	}
	&.app7020-guruDashboard-showThatNewAnswer{
		display: inline-block;
		padding-left: 70px;
		position: absolute;
		top: 8px;
		@media(max-width: 689px){
			display: none;
		}
		h4{
			@media (min-width: 768px){
				font-size: 20px;
			}
			@media (max-width: 767px) and (min-width: 690px){
				font-size: 17px;
			}
			white-space: nowrap;
		}
		&:before{
			@extend %app7020-hint-15;
			left: 0;
			top: 4px;
		}
	}

	&.app7020-knowledgeLibrary-askGuruTab{
		position: relative;
		padding-left: 80px;
		padding-bottom: 25px;
		border-bottom: 1px solid #e6e6e6 !important;
		h4{
			font-size: 23px;
		}
		&:after {
			@extend %app7020-hint-17;
		}
	}

	&.app7020-singleKnowledge-askGuruAccordion{
		position: relative;
		padding: 17px 15px;
		h4{
			font-size: 24px;
			display: block;
			text-align: right;
		}
		&:after {
			@extend %app7020-hint-18;
			left: -10px;
			top: 42px;
		}
	}
	&.app7020-course-player-hint{
		position: relative;
		padding-right: 70px;
		h4{
			font-size: 24px;
			display: block;
			text-align: right;
		}
		&:after {
			@extend %app7020-hint-17;
			right: -10px;
			top: 13px;
		}
	}
	&.app7020-QA-sidebar-hint{
		text-align: right;
		position: relative;
		h4{
			font-size: 20px;
		}
		&:after {
			@extend %app7020-hint-18;
			top: 10px;
			left: -10px;
		}
	}
	&.app7020-hint-lo-tags-topics{
		display: inline-block;
		position: relative;
		padding-top: 50px;
		h4{
			text-align: left;
			display: block;
			font-size: 20px;
		}
		&:after{
			@extend %app7020-hint-3;
			top: 0;
			left: -80px;
		}
	}
	&.app7020-lo-topics-hint{
		position: absolute;
		top: 200px;
		right: 0;
		h4{
			text-align: right;
			display: block;
			font-size: 20px;
		}
		&:after{
			@extend %app7020-hint-5;
			right: 0;
			top: -80px;
		}
	}
	&.app7020-courseLoHeaderHint{
		position: relative;
		margin-top: 2px;
		padding-right: 20px;
		h4{
			text-align: right;
			display: block;
			font-size: 20px;
			color: #fff;
		}
	}
	&.app7020ContributeBannerHint{
		position: relative;
		h4{
			font-size: 34px;
			display: block;
			text-align: left;
			&:last-of-type{
				padding-bottom: 10px;
			}
		}
		h3{
			font-size: 22px;
			display: block;
			text-align: left;
		}
	}
	&.app7020-knowledgeLibrary_uploadContent_hint{
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		h4{
			font-size: 34px;
			display: block;
			text-align: center;
			&:last-of-type{
				padding-bottom: 10px;
			}
		}
		h3{
			font-size: 24px;
			display: block;
			text-align: center;
			&:last-of-type{
				padding-top: 20px;
			}
		}
		&:after{
			@extend %app7020-hint-19;
			left: -138px;
			margin: 0 auto;
			right: 0;
			top: -120px;
		}
	}
	&.app7020-myContribution_uploadContent_hint{
		position: relative;
		padding: 50px 0 20px;
		h4{
			font-size: 41px;
			display: block;
			text-align: left;
			padding-left: 35px;
			&:last-of-type{
				padding-bottom: 10px;
			}
		}
		h3{
			font-size: 24px;
			display: block;
			text-align: left;
			padding-left: 35px;
			&:last-of-type{
				padding-top: 20px;
				text-align: center;
				padding-left: 0px;
			}
		}
		&:after{
			@extend %app7020-hint-19;
			left: -400px;
			margin: 0 auto;
			right: 0;
			top: -100px;
		}
	}
	&.app7020-myInvitations_pageBlank_hint{
		position: relative;
		padding-top: 55px;
		padding-bottom: 45px;
		h4{
			font-size: 41px;
			display: block;
			text-align: left;
			padding-left: 35px;
			margin-bottom: 8px;
		}
		h3{
			font-size: 24px;
			display: block;
			text-align: left;
			padding-left: 35px;
			margin-bottom: 10px;
		}
	}
	&.app7020-assets_pageBlank_hint{
		position: relative;
		padding-top: 4px;
		padding-bottom: 42px;
		h4{
			font-size: 44px;
			display: block;
			text-align:center;
			margin-bottom: 8px;
			font-weight:normal
		}
		h3{
			font-size: 31px;
			display: block;
			text-align:center;
			margin-bottom: 10px;
			font-weight:normal;
		}
	}
	&.app7020-watchLater_pageBlank_hint{
		position: relative;
		padding-top: 55px;
		padding-bottom: 45px;
		h4{
			font-size: 41px;
			display: block;
			text-align: left;
			padding-left: 35px;
			margin-bottom: 8px;
		}
		h3{
			font-size: 24px;
			display: block;
			text-align: left;
			padding-left: 35px;
			margin-bottom: 10px;
		}
	}
	&.app7020-dafault_searchBlank_hint_1{
		position: relative;
		padding-top: 25px;
		padding-bottom: 18px;
		h3{
			display: block;
			font-size: 33px;
			font-weight: 400;
			text-align: center;
		}
	}
	&.app7020-dafault_searchBlank_hint_2{
		position: relative;
		padding-top: 28px;
		h4{
			font-size: 40px;
			display: block;
			text-align: center;
		}
		h3{
			font-size: 25px;
			display: block;
			text-align: center;
		}
	}
	&.app7020-experts-dialog-action-step1{
		position: relative;
		display: inline-block;
		padding-left: 107px;
		padding-top: 27px;
		h4{
			font-size: 30px;
			text-align: left;
			display: block;
		}
		h3{
			font-size: 22px;
			text-align: left;
			display: block;
		}
		&:after{
			@extend %app7020-hint-3;
			left: 29px;
			top: -18px;
		}
	}
	&.app7020-experts-dialog-action-step2{
		position: absolute;
		left: 310px;
		top: -77px;
		h4{
			font-size: 30px;
			text-align: left;
			display: block;
		}
		h3{
			font-size: 22px;
			text-align: left;
			display: block;
		}
		&:after{
			@extend %app7020-hint-1;
			left: -70px;
			top: -33px;
		}
	}
	&.app7020-topics-empty-hint{
		position: absolute;
		bottom: -11px;
		left: 157px;
		h4{
			font-size: 30px;
			text-align: left;
			display: block;
		}
		h3{
			font-size: 22px;
			text-align: left;
			display: block;
		}
		&:after{
			@extend %app7020-hint-1;
			left: -39px;
			top: -54px;
		}
	}
	&.app7020QuestionListView_newAnswersHint{
		position: absolute;
		display: inline-block;
		left: 96px;
		h3{
			text-align: left;
			display: block;
			font-size: 21px;
			white-space: nowrap;
			margin: 0;
		}
		&:after{
			@extend %app7020-hint-15;
			left: -73px;
			top: 9px;
		}
	}
	
	&.app7020-ask-quru-no-results-hint {
		padding-top: 80px;
		.app7020-hint {
			&.hint-text-1 {
				display: inline-block;
				margin-top: 20px;
				h4 {
					font-size: 40px;
					display: block;
					text-align: right;
				}
			}
			&.hint-text-2 {
				text-align: center;
				h5 {
					margin-top: 50px;
					font-size: 30px;
					color: #a5a5a5;
				}
			}

		}
	}
	&.app7020-hint-userInvitationGridBlankState{
		padding-left: 75px;
		display: none;
		position: relative;
		&.show{
			display: inline-block;
		}
		h3{
			text-align: left;
			display: block;
			font-size: 26px;
			margin: 0;
			line-height: 32px;
			&:last-child{
				font-size: 31px;
			}
		}
		&:after{
			@extend %app7020-hint-15;
			left: 0;
			top: 30px;
		}
	}
}
