/* 
    Created on : 05.10.2015, 12:55:16
    Author     : Kristian
*/

#app7020-course-player-header{
	margin-top: -20px;
	border-left: 1px #E4E6E5 solid;
	border-right: 1px #E4E6E5 solid;
	padding: 6px 17px;
	.hintSection{
		height: 50px;
		display: none;
		.app7020-course-player-hint{
			top: 4px;
		}
	}
	.gurusSection{
		height: 50px;
		display: none;
		.customGuruCircles-widget{
			margin-top: 6px;
		}
	}
	.dialogSwitcherSection{
		height: 50px;
		float: right;
		padding-left: 15px;
		a{
			margin-top: 9px;
			height: 33px;
			line-height: 33px;
			display: block;
			background: #5EBE5D none repeat scroll 0 0;
			color: #fff;
			font-size: 13px;
			font-weight: 800;
			padding: 0 10px;
			text-decoration: none;
			text-shadow: 0 1px #444444;
			text-transform: uppercase;
			text-align: center;
			@include transition(background .3s linear);
			&:hover{
				background: #4faf4e;
			}
		}
	}
}