/* 
    Created on : 12.10.2015, 18:57:54
    Author     : Kristian
*/

.courseLoHeaderApp7020{
	position: absolute;
	top: 0;
	right: 95px;
	height: 44px;
	.hint{
		float: left;
		height: 44px;
	}
	.circles{
		float: left;
		height: 44px;
		padding-right: 15px;
		.customGuruCircles-widget{
			margin-top: 2px;
			.additional{
				display: none;
			}
		}
	}
	.sidebarButton{
		float: left;
		height: 44px;
		.triggerOpenSidebar{
			display: inline-block;
			background: #5EBE5D;
			padding: 0 20px;
			font-size: 13px;
			font-weight: 800;
			color: #fff;
			text-transform: uppercase;
			outline: none;
			text-shadow: none;
			line-height: 44px;
			text-decoration: none;
		}
	}
}
/*#player-arena-launchpad{
	#player-inline-close{
		display: block;
		width: 44px;
		height: 44px;
		background: none;
		font-weight: 400;
		text-align: center;
		line-height: 44px;
		font-size: 14px;
		padding: 0;
	}
}*/


/*Remove this when make dinamic gurus*/
.courseLoHeaderApp7020{
	.hint, .circles{
		display: none;
	}
}

.fancybox-docebo-title{
	.courseLoHeaderApp7020{
		right: 95px;
		.sidebarButton{
			.triggerOpenSidebar{
				line-height: 30px;
				height: 33px;
				position: relative;
				top: -3px;
			}
		}
	}
}

.fancybox-overlay.fancybox-overlay-fixed{
	z-index: 1030;
}