/* 
    Created on : 05.10.2015, 18:58:29
    Author     : Kristian
*/
%app7020QuestionMediaObject{
	.media{
		/*		[data-method="deleteQuestion"] {
					color: red;
				}*/
		overflow: visible;
		position: relative;
		padding: 0 10px 15px;
		border-bottom: 1px #E6E6E6 solid; 
		margin-top: 15px;
		&.my-answers {
			.media-body{
				padding-left: 0;
			}
			.media-information, .media-heading {
				padding-left: 0px !important;
			}
			a.answers {
				color: #1678c3;
				text-decoration: underline;
				font-weight: bold;
			}
			.info {
				margin: 10px 0 30px;
				.q-a-info {
					display: inline-block;
					float: left;
					margin-top: 5px;
					text-transform: uppercase;
				}
				.like-dislike{
					@extend %like-dislike;
					display: inline-block;
					float: right;
					.like, .dislike {
						&:hover{
							opacity: 1;
							cursor: default; 
						}

					}
				}
			}

		}

		&:hover{
			.askGuruControls .wrapper{
				display: block;
			}
		}
		.askGuruControls .wrapper{
			display: none;
		}
		a{
			&:hover{
				opacity: .8;
			}
		}
		&.online{
			.signature:before{
				color: #5ebe5d;
			}
		}
		&.offline{
			.signature:before{
				color: #E6513D;
			}
		}
		&.approved{
			.media-body .media-heading{
				/*padding-left: 25px;*/
				/*                    &:before{
										color: #5ebe5d;
										content: "\f058";
										display: block;
										font-family: "FontAwesome";
										font-size: 21px;
										margin: 2px 0 0 -24px;
										position: absolute;
									} */
			}
			.media-content{
				.text-widget-one-third {
					display: none;
				}
				.text{
					color: #666;
					font-size: 13px;
					line-height: 15px;
					margin: 0;
					text-shadow: none;
					border: 2px solid $green-color;
					padding: 15px 48px 15px;
					position: relative;
					min-height: 25px;
					word-wrap: break-word;
					@media (max-width: 767px){
						padding: 15px 15px 15px 48px;
					}
					&.ellipsis {
						.croped-text {
							i.fa {
								color: $green-color;
								font-size: 30px;
								margin-right: 10px;
							}
						}

					}
					&:before{
						color: #5ebe5d;
						content: "\f058";
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 31px;
						margin-right: 10px;
						position: absolute;
						left: 10px;
						top: 20px;
					}
				}
			}
		}
		&.new{
			.media-body .media-information .new{
				display: inline-block;
			}
		}

		.media-object{
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
		.media-body{
			overflow: visible;
			padding-left: 50px;
			.media-heading{
				font-size: 13px;
				font-weight: 600;
				color: #4a4a4a;
				line-height: 15px;
				min-height: 18px;
				word-break: break-all;
			}
			.media-information{
				font-size: 0;
				.new{
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					height: 22px;
					line-height: 22px;
					color: #fff;
					padding: 0 5px;
					display: none;
					background: #5EBC5B;
					margin-right: 15px;
				}
				.tag{
					display: inline-block;
					font-size: 12px;
					font-weight: normal;
					text-shadow: none;
					color: #666;
					height: 22px;
					line-height: 22px;
					padding: 0 5px;
					margin: 0 10px 6px 0;
					background: #F4F4F4;
				}
				.by, .ago, .views, .video-name{
					font-size: 12px;
					text-shadow: none;
					color: #666;
					a{
						color: #468CBF;
						text-decoration: underline;
						outline: none;
					}
					display: inline-block;
					padding-right: 15px;
				}

				.video-name {
					position: relative;
					padding-left: 30px;
					&:before {
						color: #000;
						content: "\f0c1";
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 14px;
						position: absolute;
						left: 12px;
						top: 0px;
					} 
				}

				.guru{
					font-size: 13px;
					text-shadow: none;
					color: #666;
				}
			}
		}
		.media-content{
			padding-top: 10px;
			.text{
				color: #666;
				font-size: 13px;
				line-height: 15px;
				margin: 0;
				text-shadow: none;
				word-wrap: break-word;
				i.fa {
					color: $green-color;
					font-size: 30px;
					margin-right: 10px;
				}
			}
			.answers{
				margin-top: 10px;
				font-size: 12px;
				font-weight: bold;
				color: #1678c3;
				text-transform: uppercase;
				text-decoration: underline;
				display: inline-block;
			}
		}
	}
}
#questionAndAnswers_sideBar{
	bottom: 0;
    max-height: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 50px;
	width: 100%;
	box-sizing: border-box;
	@extend %app7020QuestionMediaObject;
	.app7020-container-sidebar{
		.hint{
			display: none;
		}
		.circles{
			display: none;
			text-align: right;
			padding-top: 7px;
			.listArray{
				ul{
					display: none!important;
				}
			}
		}
		.form{
			padding-top: 13px;
			position: relative;
			#addNewQuestion{
				box-sizing: border-box;
				resize: none;
				width: 100%;
				padding-right: 69px;
			}
			.submitButton{
				position: absolute;
				right: 11px;
				top: 24px;
				height: 33px;
				line-height: 33px;
				display: block;
				background: #5EBE5D none repeat scroll 0 0;
				color: #fff;
				font-size: 14px;
				font-weight: 600;
				padding: 0 16px;
				text-decoration: none;
				text-shadow: 0 1px #878787;
				text-transform: uppercase;
				@include transition(background .3s linear);
				&:hover{
					background: #48a847;
				}
			}
		}
		.relatedTo{
			display: table;
			width: 100%;
			box-sizing: border-box;
			border-bottom: 1px solid #e5e5e5;
			border-top: 1px solid #e5e5e5;
			height: 55px;
			margin-top: 6px;
			position: relative;
			.text{
				display: table-cell;
				vertical-align: middle;
				padding-right: 45px;
				p{
					margin: 0;
					color: #333;
					span{
						font-weight: 800;
					}
					&.title{
						color: #0465ac;
						font-weight: 800;
					}
				}
			}
			.app7020SingleSearchEngine{
				position: absolute;
				top: 0;
				right: 0px;
				top: 50%;
				margin-top: -19px;
			}
		}

	}
	#questionsComboListView{
		margin-top: 15px;
		.pager{
			display: inline-block;
			float: right;
			margin: 5px 0;
		}
		.summary{
			display: inline-block;
			float: left;
			margin: 5px 0;
		}
		.items{
			max-height: 400px;
			overflow: hidden;
			padding-right: 10px;
			.mCSB_scrollTools{
				right: -12px;
				.mCSB_draggerRail{
					background: none;
				}
			}
			.media{
				.media-content{
					.no-answers-yet,
					.best-answer-label,
					.my-question-specific,
					.all-quetions-hint-container,
					.edit-question-container{
						display: none;
					}
				}
			}
		}
	}
}