/*Background jobs dedicated monitoring page*/
.background-jobs-tabs {position: relative;}
.background-jobs-tabs ul.nav {position: absolute;top: 0;bottom: 0;}
.background-jobs-tabs ul.nav li > a > i {margin-right: 10px;}
.background-jobs-tabs ul.nav li > a > i.when-active {display: none;}
.background-jobs-tabs ul.nav li.active > a > i {display: none;}
.background-jobs-tabs ul.nav li.active i.when-active {display: inline-block;}
.background-jobs-tabs .tab-content {
    margin-left: 200px;
    min-height: 600px;
    border-top: 1px solid #EEE;
}
.background-jobs-tabs .tab-pane > h4 {
    padding: 10px 0;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}
.background-jobs-tabs .nav.nav-tabs.advanced-sidebar li{
    cursor: pointer !important;
}
.background-jobs-tabs .nav.nav-tabs.advanced-sidebar a{
    cursor: pointer !important;
}
.background-jobs-tabs .nav.nav-tabs.advanced-sidebar li:hover{
    color: #ffffff !important;
}
.background-jobs-tabs .active{
    text-shadow: none !important;
}
.background-jobs-tabs a{
    cursor: pointer;
}
.background-jobs-tabs .background-job{
    display:block;
    width:97%;
    float:right;
    /*padding-bottom: 20px;*/
    border-bottom:1px solid #EEE;
}

.background-jobs-tabs .background-job .horizontal{
    display:inline-block;
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    /*border:1px solid;*/
}
.background-jobs-tabs .background-job .job-info{
    margin-left: 30px;
    width: 40%;
}

.background-jobs-tabs .background-job .job-info .job-author{
    font-size:10px;
    line-height:10px;
    color: #999;
}
.background-jobs-tabs .background-job .job-progress{
    margin-left: 50px;
    width: 44%;
}

.background-jobs-tabs .background-job .job-progress .job-running-time{
    font-size:11px;
    color: #999;
    display: inline-block;
}
.background-jobs-tabs .background-job .job-progress .job-notify{
    display: inline-block;
    font-size:11px;
    margin-right: 55px;
    float:right;
}

.background-jobs-tabs .background-job .job-progress .job-notify a{
    text-decoration: underline;
    color: #006fff;
}
.background-jobs-tabs .background-job .job-progress .job-notify i{
    margin-right:5px;
}
.background-jobs-tabs .background-job .job-progress .job-progress-bar{
    width: 89%;
    background-color: #f1f3f2;
    height: 8px;
    float: left;
}

.background-jobs-tabs .background-job .job-progress .job-progress-green{
    height: 100%;
    background-color: #5EBE5D;
    width:80%;
}
.background-jobs-tabs .background-job .job-progress .job-percentage{
    display: inline-block;
    float: right;
    margin-top: -6px;
    margin-left: 9px;
}

.background-jobs-tabs .background-job .job-actions{
    text-align: center;
    margin-bottom: 0px;
    float:right;
    width: 5%;
    vertical-align: middle;
    margin-top:30px;
    margin-left: 0px;
}

.background-jobs-tabs .background-job .job-actions .job-stop-icon{
    font-size:23px;
    color: red;
}
.background-jobs-tabs .background-job .job-actions .job-error-icon{
    font-size:19px;
    color: #df9b26;
}
.background-jobs-tabs .background-job .job-actions a.list-of-errors{
    text-decoration: underline;
    color: #006fff;
    display: block;
    /*margin-left: 5px;*/
    vertical-align: super;
}
.background-jobs-tabs .none-running{
    margin-top: 30px;
}


/*====================JOBS WIDGET======================*/
.background-jobs-viewer.background-jobs-tabs {
    margin-left: 5px;
    margin-right: 20px;
    position: static;
    display: inline-block;
}
.background-jobs-viewer.background-jobs-tabs .background-job{
    border-bottom: none;
    width: 100%;
    float: left;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-info,.background-jobs-viewer.background-jobs-tabs .background-job .job-progress{
    display:block;
    width: 90%;
    margin-left: 20px;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-info{
    margin-bottom: 5px;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-progress{
    margin-top: 5px;
    margin-bottom: 0px;
}

.background-jobs-viewer.background-jobs-tabs .background-job .job-progress .job-notify{
    margin-right: 0px;
    margin-left: 10px;
    float: none;
    min-width: 130px;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-progress .job-progress-bar{
    margin-top: 5px;
    width: 87%;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-progress .job-percentage{
    margin-right: 10px;
    margin-top: -1px;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-actions{
    margin-top: 20px;
    margin-bottom: 0px;
}
.background-jobs-viewer.background-jobs-tabs .background-job .job-actions a.list-of-errors{
    position: absolute;
}

.tasks-viewer .view-all-jobs{
    margin-top: 20px;
    text-shadow: none;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.background-jobs-viewer .none-running{
    text-shadow: none;
    background-color: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;

}
.inbox-bell.tasks-viewer{
    float: left;
    margin-right: 10px;
    margin-top: 11px;
}
/*.tasks-viewer .unread-tooltip{*/
    /*min-width: 500px;*/
/*}*/
.tasks-viewer .unread-tooltip{
    cursor: auto;
    min-width: 500px !important;
    right: -14px !important;
}