@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?h3qnat');
    src:    url('../fonts/icomoon.eot?h3qnat#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?h3qnat') format('truetype'),
        url('../fonts/icomoon.woff?h3qnat') format('woff'),
        url('../fonts/icomoon.svg?h3qnat#icomoon') format('svg');
        url('../fonts/icomoon.svg?h3qnat#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ask_the_expert:before {
    content: "\e900";
}
.icon-back:before {
    content: "\e901";
}
.icon-certificate:before {
    content: "\e902";
}
.icon-check:before {
    content: "\e903";
}
.icon-clock:before {
    content: "\e904";
}
.icon-close:before {
    content: "\e905";
}
.icon-completed:before {
    content: "\e906";
}
.icon-completed_outline:before {
    content: "\e907";
}
.icon-courses:before {
    content: "\e908";
}
.icon-download:before {
    content: "\e909";
}
.icon-ellipsis_h:before {
    content: "\e90a";
}
.icon-ellipsis_v:before {
    content: "\e90b";
}
.icon-exp_dashboard:before {
    content: "\e90c";
}
.icon-follow:before {
    content: "\e90d";
}
.icon-google_plus:before {
    content: "\e90e";
}
.icon-homescreen:before {
    content: "\e90f";
}
.icon-info:before {
    content: "\e910";
}
.icon-invite:before {
    content: "\e911";
}
.icon-label:before {
    content: "\e912";
}
.icon-learning_plan:before {
    content: "\e913";
}
.icon-left:before {
    content: "\e914";
}
.icon-library:before {
    content: "\e915";
}
.icon-list:before {
    content: "\e916";
}
.icon-lock-mobile:before {
    content: "\e917";
}
.icon-logout:before {
    content: "\e918";
}
.icon-menu:before {
    content: "\e919";
}
.icon-my_answers:before {
    content: "\e91a";
}
.icon-my_questions:before {
    content: "\e91b";
}
.icon-notebook:before {
    content: "\e91c";
}
.icon-notification:before {
    content: "\e91d";
}
.icon-play_outline:before {
    content: "\e91e";
}
.icon-plus:before {
    content: "\e91f";
}
.icon-questions:before {
    content: "\e920";
}
.icon-record_video:before {
    content: "\e921";
}
.icon-reload:before {
    content: "\e922";
}
.icon-report:before {
    content: "\e923";
}
.icon-right:before {
    content: "\e924";
}
.icon-mobile-search:before {
    content: "\e925";
}
.icon-settings:before {
    content: "\e926";
}
.icon-sliders:before {
    content: "\e927";
}
.icon-switch:before {
    content: "\e928";
}
.icon-thumbs:before {
    content: "\e929";
}
.icon-unfollow:before {
    content: "\e92a";
}
.icon-unmark_best:before {
    content: "\e92b";
}
.icon-upload:before {
    content: "\e92c";
}
.icon-user-mobile:before {
    content: "\e92d";
}
.icon-warning:before {
    content: "\e92e";
}
.icon-watch_later:before {
    content: "\e92f";
}
.icon-world:before {
    content: "\e930";
}
.icon-star:before {
    content: "\f005";
}
.icon-star-o:before {
    content: "\f006";
}
.icon-film:before {
    content: "\f008";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-book:before {
    content: "\f02d";
}
.icon-camera:before {
    content: "\f030";
}
.icon-video-camera:before {
    content: "\f03d";
}
.icon-image:before {
    content: "\f03e";
}
.icon-photo:before {
    content: "\f03e";
}
.icon-picture-o:before {
    content: "\f03e";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-play:before {
    content: "\f04b";
}
.icon-pause:before {
    content: "\f04c";
}
.icon-stop:before {
    content: "\f04d";
}
.icon-ban:before {
    content: "\f05e";
}
.icon-eye:before {
    content: "\f06e";
}
.icon-eye-slash:before {
    content: "\f070";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-thumbs-o-up:before {
    content: "\f087";
}
.icon-thumbs-o-down:before {
    content: "\f088";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-angle-up:before {
    content: "\f106";
}
.icon-angle-down:before {
    content: "\f107";
}
.icon-spinner:before {
    content: "\f110";
}
.icon-star-half-empty:before {
    content: "\f123";
}
.icon-star-half-full:before {
    content: "\f123";
}
.icon-star-half-o:before {
    content: "\f123";
}
.icon-microphone:before {
    content: "\f130";
}
.icon-play-circle:before {
    content: "\f144";
}
.icon-paper-plane:before {
    content: "\f1d8";
}
.icon-send:before {
    content: "\f1d8";
}
.icon-share-alt:before {
    content: "\f1e0";
}
.icon-d_thumbs:before {
    content: "\e929";
}
.icon-d_user:before {
    content: "\e92d";
}
.icon-d_watch_later:before {
    content: "\e92f";
}


/* icon sizes */
.icon-l {
    font-size: 20px!important;
}
.icon-xl {
    font-size: 24px!important;
}
.icon-d_close:before {
    content: "\e905";
}
.icon-d_courses:before{
	content: "\e908";
}
.icon-d_learning_plan:before{
	content: "\e913";
}
.icon-d_homescreen:before{
	content: "\e90f";
}
.icon-d_search:before{
	content: "\e925";
}
.icon-d_notification:before{
	content: "\e91d";
}
.icon-d_back:before{
	content: "\e901";
}
.icon-d_upload:before{
	content: "\e92c";
}
.icon-d_lock:before{
	content: "\e917";
}
.icon-d_world:before{
	content: "\e930";
}
.icon-d_check:before{
	content: "\e903";
}
.icon-d_right:before{
	content: "\e924";
}
.icon-d_invite:before{
	content: "\e911";
}
.icon-d_download:before{
	content: "\e909";
}
.power-off:before {
    content: "\f011";
}