#userReportAssetsRanks {
	h3 {
		font-size: 18px;
		padding-bottom: 5px;
		font-weight: 600;
		margin: 10px 0px 5px;
	}
	.clear {
		clear:both;
	}

	
	
	
	/* Comblo List View container 'Assets Ranks' */
	#combo-list-view-container-assets-ranks {
		.filters-wrapper {
			border: none;
			.filters {
				&.table-border {
					padding: 0;
					margin: 0;
					box-shadow: 0 0 0 1px #fff inset;
					position: relative;
					border-top: 1px solid #e4e6e5;
					border-bottom: 1px solid #e4e6e5;
					background: #F1F3F2;
					#combo-list-search-input {
						width: 210px;
					}

				}
			}
		}

		#assets-ranks {

			.assets-ranks-header {
				border-bottom: 1px solid #e4e6e5;
				margin: 0;
				.title {
					margin: 0;
				}
				.views,
				.rating,
				.invitation,
				.watch-rate
				{
					margin-left: 10px;
					position: relative;
					padding-left: 11px;
					cursor: pointer;
					cursor: hand;
				  	font-size:11px;
					&:before {
						font-family: 'FontAwesome';
						content: '\f0dd';
						font-size: 13px;
						text-shadow: none;
						position: absolute;
						top: -2px;
						color: #979797;
						left: 0;
					}
				  	&.current {
					  font-weight:700;
					}
					&.asc {
						&:before {
							font-family: 'FontAwesome';
							content: '\f0de';
							font-size: 13px;
							text-shadow: none;
							position: absolute;
							top: 4px;
							color: #979797;
							right: 0;
						}
					}

				}
				.rating {
					margin-left: 17px;
				}
				.invitation {
					margin-left: 23px;
				}
				.watch-rate {
					margin-left: 10px;
				}
				.reaction-time {
					margin-left: 20px;
				  	font-size:11px;
				}

				@media (max-width: 1200px) {
					.title, .views, .rating, .invitation, .watch-rate, .reaction-time  {
						margin: 0;
					}
				}

			}

			.combo-list-item {

				.span11 {
					width: 100%;
					margin: 0;
				}

				background: white;
				border: none;
				border-bottom: 1px solid #e4e6e5;
				border-radius: 0px;
				margin: 0;

				.assets-ranks-row {
					font-size: 12px;
					color: #0664AC;
					> .span1, .span2 {
						line-height: 56px;
					  	color:#333;
					}
					.asset-info {
						> div:nth-of-type(1) {
							color: grey;
						}
						> div:nth-of-type(2) {
							img {
								width: 75px;
							}
							span,a {
								display: inline-block;
								width: 185px;
								position: relative;
								top: 3px;
								margin-left: 3px;
								font-size: 12px;
								color: #0664AC;
							}
						}
					}
					.fa-star {
						color: #F5AF40;
					}
				}
			}

		}
	}


}