#userReportQuestionsAndAnswers {


	.data-box {
		border: 1px solid #e6e6e6;
		background: #f8f8f8; 
		padding: 15px;
		margin-top:15px;
		margin-bottom: 15px;
		height:70px;
		position:relative;

		.num {
			color: #0664aa;
			font-size: 19px;
			display: block;
		}

		.text {
			position: absolute;
			bottom: 12px;
		}
	}

	h3 {
		font-size: 18px;
		padding-bottom: 5px;
		font-weight: 600;
		margin: 40px 0px 5px;
		&.border {
			border-bottom: 1px solid #E0E2E1;
			margin-top: 0px;
		}
	}

	h4 {
		margin-top: 20px;
		font-weight: 600;
	}


	.clear {
		clear:both;
	}
	.timeframe-selector {
		float:right;
		margin-top:15px;
	}
	.timeframe-selector label {
		display:inline;
		font-weight:600;
		position: relative;
		top: 4px;
		margin-right: 10px;
	}
	.timeframe-selector select {
		position: relative;
		top: 4px;
	}

	.barchart-legend {
		float: right;
		position: relative;
		.green, .blue {
			display: inline-block;
			width: 14px;
			height: 14px;
			position: relative;
			top: 3px;
			margin: 0 5px 0 15px;
		}
		.green {
			background-color: #ADDFAC;
		}
		.blue {
			background-color: #E5EFF7;
		}

	}

	.table-top5{
		display:table;
		width:100%;
		margin-bottom:40px;
		h2{
			display:inline-block;
			border-bottom:none;
			padding-bottom:0;
		}
		h3 {
			margin-bottom: -8px;
			text-align: left;
		}
		.fa{
			cursor:pointer;
			font-size:18px;
			&.fa-check-circle,&.fa-thumbs-o-up{
				color:$green-color;
			}
			&.fa-thumbs-o-down{
				color:$red;
			}
		}
		.table-row{
			display:block;
			border-bottom:1px solid #e5e5e5;
			line-height:55px;
			&.current{
				color:$green-color;
			}
			&.first-row {
				line-height: 30px;
			}

			.text {
				&.subtitle {
					font-size: 12px;
					color: grey;
				}
			}
			span{
				display:table-cell;
				text-align:center;
				vertical-align: middle;
				&.cell-index{
					text-align:right;
					font-weight:bold;
				}
				&.cell-name{
					text-align:left;
					#widget-app7020Avatar-container {
						display: inline-block;
					}
				}
				.fa-check-circle, .fa-thumbs-o-up, .fa-thumbs-o-down {
					font-size: 20px;
					position: relative;
					&:before {
						bottom: -16px;
						left: -10px;
						position: absolute;
					}
				}
				&.cell-margin {
					margin-top: 26px;
				}

				span.avatar-container {
					display:inline-block;
					img {
						display: inline-block;
						position: relative;
						width: 40px;
						height: 40px;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						margin-right: 10px;
					}
					span.circle {
						background: #0465ac;
						text-align: center;
						display: inline-block;
						position: relative;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						margin-right: 10px;
						font-size: 19px;
						width: 40px;
						color:#fff;
						line-height: 40px;
						font-weight: 600;
						width: 40px;
						line-height: 40px;
					}
				}

			}
		}
	}



}