#userReportSharingActivity {
	.data-box {
		border: 1px solid #e6e6e6;
		background: #f8f8f8; 
		padding: 15px;
		margin-top:15px;
		margin-bottom: 15px;
		height:70px;
		position:relative;

		&.average-rating-container {
			padding: 0px;
			.rating-row {
				text-align: center;
				> div:nth-of-type(1) {
					line-height: 40px;
					.raty-icons {
						line-height: 20px;
						width: 100%;
						margin: 11px 13px -7px;
					}
					.rating-text {
						line-height: 15px;
						margin-top: 15px;
					}
				}
				> div:nth-of-type(2) {
					line-height: 66px;
					text-align: right;
						padding-right: 10px;
				}
			}
		}

		.num {
			color: #0664aa;
			font-size: 19px;
			display: block;
		}

		.text {
			position: absolute;
			bottom: 12px;
		}

		#averageWatchRate {
			span {
				color: #333333;
				font-size: 15px;
			}
		}
	}


	h3 {
		font-size: 18px;
		padding-bottom: 5px;
		font-weight: 600;
		margin: 50px 0px 5px;
		&.border {
			border-bottom: 1px solid #E0E2E1;
			margin-top: 0px;
		}
	}

	h4 {
		margin-top: 20px;
		font-weight: 600;
	}


	.clear {
		clear:both;
	}
	.timeframe-selector {
		float:right;
		margin-top:15px;
	}
	.timeframe-selector label {
		display:inline;
		font-weight:600;
		position: relative;
		top: 4px;
		margin-right: 10px;
	}
	.timeframe-selector select {
		position: relative;
		top: 4px;
	}


	.activity-per-channel-container {
		margin-bottom: -30px;
	}




}