<div data-page="detailsPage" class="page">
    <!-- Page content-->
    <div id="learning-plan-course-header" style="background: {{navColor}}; color: {{navFont}};">
        <div id="course-title" data-id_path="{{ learningPlan.id_path}}">
            <h1 class="learning-plan-title">{{ learningPlan.path_name }}</h1>
        </div>
       <div id="course-description">
            <div id="mobile-wrapper">
				<p class="desc"  dd-text-collapse dd-text-collapse-max-length="100" dd-text-collapse-text=" {{ learningPlan.path_descr }}"></p>
            </div>
       </div>

        <percentage-tracker show-text="true" percentage="{{percentage}}"></percentage-tracker>
    </div>
			<div id="mobile-course-chapters">
				<div>{{ learningPlan.count }} {{ 'COURSES' | translate }}</div>
            </div>
            <div id="mobile-course-content" class="list-block">
                <div class="page-content" ng-repeat="course in learningPlanCourses">
                            <ul>
                                <li>
                                    <div ng-disabled="course.locked">
                                        <a ng-href="#/course/{{course.idCourse}}">
                                            <div class="item-inner">
                                                <div class="lo-user-img"><img ng-src="{{course.img_course}}" width="42" height="42"></div>
                                                <div class="learning-plan-title" >{{course.name | cut:true:65:' ...'}}</div>
                                                <div class="item-after">
                                                    <div class="item-media">
                                                        <div ng-if="course.locked">
                                                            <i class="fa fa-lock fa-2x" style="color: black"></i>
                                                        </div>
                                                        <div ng-if="!course.locked">
                                                            <i class="icon-xl" ng-class="course.status ? '{{course.status}}' : ''"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                </div>
            </div>
</div>