<div ng-init="init()" data-page="detailsPage" id="play-{{learningObject.idOrg}}" data-course-id="{{learningObject.idCourse}}" class="page mobile-learning-object-page">
    <div data-role="page" id="play-lo" class="play-page">
        <div ng-if="learningObject.loModel.objectType != 'file' && learningObject.loModel.objectType != 'video'" class="frame-wrapper">
            <div role="main" id="scroller" class="iframe-scroller ui-content wrapper-iframe">
                <iframe id="learning-object-iframe" class="content-iframe" ng-src="{{learningObject.url}}" allowfullscreen></iframe>
            </div>
        </div>
        <div ng-if="learningObject.loModel.objectType == 'file'" class="file-wrapper">
            <div class="file-container">
                <div class="card">
                    <div class="card-content">
                        <div id="file-object-header" class="card-title">{{ 'download file' | translate }}</div>
                        <div id="file-object-title" class="card-title">{{learningObject.loModel.title}}</div>

                        <div id="file-object-content" class="card-content-inner">
							{{learningObject.loModel.description}}
                        </div>
                    </div>
                    <div id="file-object-download-button" class="circle" >
                            <a target="_self" class="file-download-container" ng-click="downloadFile(learningObject.url)">
                                <i id="mobile-file-download" class="icon-download icon-xl" style="color: white;"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="learningObject.loModel.objectType == 'video' && videoType != 'upload'">
            <div class="" ng-switch="videoType">
                <!-- videoType == Youtube -->
                <div class="youtube-video-wrapper" ng-switch-when="youtube">
                    <div class="asset-video-embeded youtube-video-wrapper">
                        <embeded-video data-hash="{{videoId}}" data-type="{{videoType}}"></embeded-video>
                    </div>
                </div>
                <!-- videoType == Vimeo -->
                <div class="asset-video-wrapper" ng-switch-when="vimeo">
                    <div class="asset-video-embeded asset-video-wrapper">
                        <embeded-video class="embeded-video" data-hash="{{videoId}}" data-type="{{videoType}}"></embeded-video>
                    </div>
                </div>
                <!-- videoType == Wistia -->
                <div class="asset-video-wrapper" ng-switch-when="wistia">
                    <div class="asset-video-embeded asset-video-wrapper">
                        <embeded-video class="embeded-video" data-hash="{{videoId}}" data-type="{{videoType}}" data-file="{{details.filename}}"></embeded-video>
                    </div>
                </div>
            </div>
        </div>
        <!-- videoType == Upload -->
        <div id="center-video" ng-show="learningObject.loModel.objectType == 'video' && videoType == 'upload'">
            <flowplayer fp-instance="lo"></flowplayer>
        </div>
    </div>
</div>