<!-- {{ 'YOU ARE LOGGING IN TO:' | translate }} -->
<div class="view-wrap" style="background-color: {{bodyColor}};">
	<div class="form-wrapper">
		<div id="main-warning">
			<div class="img-warning">
				<div class="icon-warning"></div>
			</div>
			<div class="warning-message">
				<div class="warning-title"><span>{{'Ooops' | translate }}</span></div>
				<br>
				<div class="warning-description"><span>{{errorMessage | translate}}</span></div>
			</div>
			<div class="close-warning">
				<div class="close-notification"></div>
				<div class="icon-close"></div>
			</div>
		</div>
		<div class="login-screen-logo"><img ng-src="{{logo}}" err-src="" /></div>
		<form id="login-form" autocomplete="false">
			<div class="list-block centered-absolute">
				<div class="list-block-label">
					<div class="item-content login-input" style="border-color: {{bgFont}};">
						<div class="item-media" style="color: {{bgFont}};"><i class="icon-user-mobile icon-pf"></i></div>
						<div class="item-input-wrapper">
							<div class="item-input">
								<input name="loginUsername" ng-model="loginFormModel.username" id="lmsEmail" type="text" placeholder="{{ 'Your username' | translate }}" style="color: {{bgFont}};" autocomplete="false" autocapitalize="off">
							</div>
						</div>
					</div>
					<div class="item-content login-input" style="border-color: {{bgFont}};">
						<div class="item-media" style="color: {{bgFont}};"><i class="icon-lock-mobile icon-pf"></i></div>
						<div class="item-input-wrapper">
							<div class="item-input">
								<input name="loginPassword" ng-model="loginFormModel.password" id="lmsPass" type="password" placeholder="{{ 'Your password' | translate }}" style="color: {{bgFont}};" autocomplete="false" autocapitalize="off">
							</div>
						</div>
					</div>
					<div class="item-content" style="color: {{bgFont}};">
						<div class="item-media" style="color: {{bgFont}};">{{ 'Remember me' | translate }}</div>
						<div class="switch">
							<div class="item-input switch-input">
								<label class="label-switch">
									<input type="checkbox" ng-model="loginFormModel.rememberMe" name="RememberMe" value="true">
									<div class="checkbox"></div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="centered-bottom">

				  <input ng-click="submitForm()" type="submit" id="submit" value="{{ 'Sign in' | translate }}" class="button login-button " />

					<div ng-if="isGoogleSsoActive">
						<a ng-click="linkRedirect('/lms/index.php?r=GooglessoApp/GooglessoApp/login&auth_mode=oauth2')" class="button ng-scope login-google-sso" id="googlesso">
							<span>
								<i class="fa fa-google-plus"></i>
							</span> 
							{{ 'Sign in with Google' | translate }}
						</a>
					</div>

					<div ng-if="isGoogleAppsActive && !isGoogleSsoActive">
						<a ng-click="linkRedirect('/lms/index.php?r=GoogleappsApp/GoogleappsApp/gappsLogin&auth_mode=oauth2')" class="button ng-scope login-google-sso" id="googleapp">
							<span>
								<i class="fa fa-google-plus"></i>
							</span>
							{{ 'Sign in with Google Apps' | translate }}
						</a>
					</div>
				  	<div ng-if="isOktaActive && !isGoogleSsoActive && !isGoogleAppsActive">
						<a ng-click="linkRedirect('/sso/saml&auth_mode=oauth2')" class="button ng-scope login-google-sso">
							<span>
								<i class="icon-lock-mobile icon-pf"></i>
							</span>
							{{ 'Sign in with OKTA' | translate }}
						</a>
					</div>
					<div ng-if="isSamlActive && !isOktaActive && !isGoogleSsoActive && !isGoogleAppsActive">
						<a ng-click="linkRedirect('/sso/saml&auth_mode=oauth2')" class="button ng-scope login-google-sso">
								<span>
									<i class="icon-lock-mobile icon-pf"></i>
								</span>
							{{ 'Sign in with SAML/ADFS' | translate }}
						</a>
					</div>
					<a href="#/forgot" id="forgot-password" class="ng-scope forgot-password-screen" style="color: {{bgFont}};">{{ 'Forgot your password?' | translate }}</a>

			</div>
		</form>
		
		<!-- Translations for native part login screen -->
		<!--
			<div>{{ 'No internet access' | translate }}</div> 
			<div>{{ 'Check your connection' | translate }}</div>
			<div>{{ 'YOU'RE LOGGING IN TO:' | translate }}</div>
			<div>{{ 'YOUR LMS ADDRESS' | translate }}</div>
			<span>{{ 'Ooops' | translate }}</span>
			<span>{{ 'Invalid username and/or password' | translate }}</span>
			<span>{{ 'Cannot connect to lms server' | translate }}</span>
			<span>{{ 'Sign in with OKTA' | translate }}</span>
			<span>{{ 'Sign in with SAML/ADFS' | translate}}</span>
			<span>{{ 'Sign in with Google Apps' | translate }}</span>
			<span>{{ 'Sign in with Google' | translate}}</span>
			<span>{{ 'Sign in' | translate}}</span>
			<span>{{ 'Forgot your password?' | translate}}</span>
			<span>{{ 'Forgot your password?' | translate}}</span>
		-->
	</div>
</div>
      </div>
    </div>