<!--<div action-sheet actions="item.actions" class="offline-chapters-table-view" id="chapter-{{item.idOrganization}}">-->
<div class="offline-chapters-table-view" id="chapter-{{item.id}}">
    <div class="offline-item-title">
        {{item.title}}
    </div>
    <div ng-disabled="item.size.value === -1">
        <div ng-show="item.state === item.STATES.DOWNLOADING" class="percentage-tracker-wrapper" ng-click="">
            <percentage-tracker show-text="false" percentage="{{item.progress}}" class="percentage-tracker-directive"></percentage-tracker>
            <i class="icon-close chapter-downloading"></i>
        </div>
        <div ng-show="item.state === item.STATES.AVAILABLE" class="offline-item-status icon-download offline-download-chapter-btn">
        </div>

        <div ng-show="item.state === item.STATES.DOWNLOADED" class="offline-item-status icon-check chapter-downloaded">
        </div>
        <div ng-show="item.state === item.STATES.WAITING" class="offline-item-status">
        </div>
    </div>
    <div ng-show="item.state === item.STATES.AVAILABLE" class="offline-item-size">
		<div ng-if="item.size.value != -1">
			{{item.size.value}} {{item.size.unit}}
		</div>
		<div ng-if="item.size.value == -1">
			{{ 'Computing...' | translate }}
		</div>
    </div>


    <div ng-show="item.state === item.STATES.WAITING" class="offline-waiting-status">
        <div class="user-progress-animation-fake">
            <div class="loader-fake">
                <div class="loader-bg-fake"></div>
            </div>
            <i class="icon-close chapter-waiting"></i>
        </div>
    </div>


    <div ng-show="item.state === item.STATES.DOWNLOADING" class="offline-item-size">
        {{'Downloading' | translate}} {{item.size.value}} {{item.size.unit}}...
    </div>
    <div ng-show="item.state === item.STATES.WAITING">
        {{'Waiting' | translate}}...
    </div>

    <div ng-show="item.state === item.STATES.DOWNLOADED" class="offline-item-downloaded">
        {{'Available offline' | translate}}
    </div>
</div>