<div class="offline-page" ng-controller="OfflinePageController">
    <div class="offline-device-storage">
        <div class="progress-background">
            <div class="storage-wrapper">
                <span class="available-text">&nbsp;available</span> <div class="mobile-storage">{{freeStorage}}</div> <div class="storage-text">Storage</div>
                <progress-bar class="storage-progress-bar" progress-value="progressValue"></progress-bar>
            </div>
        </div>
    </div>
    <div ng-show="offlineChapters.length" class="offline-chapters-information">
		<div ng-show="offlineChapters.sumSize != -1">
			{{offlineChapters.length}} {{'chapters' | translate}} ( {{offlineChapters.sumSize.value}} {{ offlineChapters.sumSize.unit}})
		</div>
		<div ng-show="offlineChapters.sumSize == -1">
			{{offlineChapters.length}} {{'chapters' | translate}} ( {{ 'Computing size...' | translate }})
		</div>
    </div>
    <tableview on-tap="openMenu(index)" class="offline-table-view" items="offlineChapters" ng-init="init()" sub-view="views/offline_course_table_view.html">
    </tableview>
</div>
<div class="btn-offline-wrapper">
    <button id="download-offline-courses" class="btn submit-btn btn-default" ng-click="startBulkDownload($event)">
        <span class="download-course-chapters-text">{{ 'Download all course chapters' | translate }}</span>
    </button>
    <div id="stop-chapters-download" popup params="popupActions"></div>
</div>