<div class="content-block-search ch-search filter-search">
	<p class="filter-by-type">{{'FILTER BY TYPE' | translate}}</p>
	<div id="search-list" class="list-block">
		<div id="mark-all-search" ng-click="markAllItems(options)" class="row-search-not-selected" >
			<div>
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">
								{{'All Types ' | translate}}
							</div>
							<div class="item-after">
								<div class="icon-check"></div>
								</div>
							</div>
					</li>
				</ul>
			</div>
		  </div>
	</div>


	<div class="padding-items"></div>

	<div id="list-view-content" class="list-block">
		<div class="page-content" ng-repeat="data in options">
			<div ng-show="data.name">
				<div class="click-row" id="select_search_{{$index}}" data-value="{{data.value}}" ng-click="(markSelectedItem($index))">
					<div ng-class="(isChecked(data.value) == true) ? 'row-search-selected' : 'row-search-not-selected'">
						<ul>
							<li class="item-content" >
								<div class="item-inner">
									<div class="items-title-desc">
										<div class="item-title" ng-bind-html="data.name"></div>
									</div>
									<div class="item-after">

										<div class="icon-check"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="apply-button" ng-disabled="filterTypeIds.length == 0" ng-click="applyBtn()">{{ 'Apply' | translate }}</button>
</div>