<div id="upload-history-content">
    <div class="info-block">
    <span class="count-items">{{items.length}} {{ 'Items' | translate }}</span>
    <span class="clean-items-button" ng-click="clearAll()" ng-show="items.length != 0">{{ 'CLEAN UPLOADED LIST' | translate }}</span>
    </div>
	<div ng-show="items.length == 0" class="item-box-appereance no-content">
		<div class="text-container">
			<p class="bold text-center">{{ 'There are no recently' | translate }}</p>
			<p class="text-center">{{ 'uploaded assets' | translate }}</p>
		</div>
	</div>
	<tableview on-tap="goToAsset(index)" items="items" sub-view="views/upload_history_table_view.html" ng-show="items.length != 0"></tableview>
</div>
