<div class="upload-queue-container">
	<div id="queue-counter">
		<p class="counter">{{queue.length}} {{'ITEMS' | translate }}</p>
	</div>

	<div ng-show="queue.length == 0" class="item-box-appereance no-content" ng-cloak>
		<div class="text-container">
			<p class="bold text-center">{{ 'You dont have any actual upload' | translate }}</p>
			<p class="text-center">{{ 'or asset to finalize and publish' | translate }}</p>
		</div>
	</div>

	<tableview ng-init="init()" on-tap="" items="queue" sub-view="views/upload_queue_table_view.html" ng-show="queue.length != 0"></tableview>
	<!-- This should be called on #plus.clicked() if the user upload a video for first time-->

	<div class="walkthrough-page" ng-show="isFirstTime()">
		<swipe-cards items="getCards()" next-button-handler="cardsClick(cardId)"></swipe-cards>
	</div>


	<div class="upload-native-button">
		<div id="plus" class="icon-plus" nativepicker on-upload-changed="fileUpload(file)"></div>
	</div>

	<div class="native-button-message" ng-if="queue.length == 0" ng-cloak>
		<p class="message-queue">{{'UPLOAD or RECORD NOW!​' | translate}}</p>
	</div>
</div>
