<div class="item-media">
	<div ng-show="item.type == item.TYPES.Image && !item.preview">
		<div class="video-camera-square-container">
			<i class="fa fa-picture-o table-view"></i>
		</div>
	</div>
	<div ng-show="item.type == item.TYPES.Image && item.preview != false || item.state >= item.STATES.Converted && item.preview != false">
		<img ng-src="{{item.preview}}" />
	</div>
	<div ng-show="item.type == item.TYPES.Video && item.state < item.STATES.Converted">
		<div class="video-camera-square-container">
			<i class="fa fa-video-camera table-view"></i>
		</div>
	</div>
</div>
<div class="item-inner">
	<div class="item-title">
		<p ng-show="item.state === item.STATES.Waiting">{{'Waiting for upload' | translate}},  <b>{{ 'not published yet' | translate}}</b></p>
		<p ng-show="item.state === item.STATES.Processing">{{'Uploading' | translate}},  <b>{{ 'not published yet' | translate}}</b></p>
		<p ng-show="item.state === item.STATES.Complete">{{'Converting' | translate}},  <b>{{ 'not published yet' | translate}}</b></p>
		<p ng-show="item.state === item.STATES.Converted">{{'Upload Complete' | translate}},  <b>{{ 'Tap to publish' | translate}}</b></p>
	</div>
	<div class="progress-metas">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress}}%"></div>
		</div>
	</div>
	<div class="item-after {{item.icon}}" action-sheet actions="item.actions" id="item_{{$index}}"></div>
</div>