{{TIME_CONSTANTS}}
<div class="item-media">
	<img ng-src="{{item.thumbnail}}" />
</div>
<div class="item-inner">
	<div class="item-title">
		<p>{{item.title}}</p>
	</div>
	<div class="item-history-details">
		{{item.time.time}} 
		<ng-switch on="item.time.unit">
			<span ng-switch-when="0">
				{{ 'seconds' | translate }}
			</span>
			<span ng-switch-when="1">
				{{ 'minutes' | translate }}
			</span>
			<span ng-switch-when="2">
				{{ 'hours' | translate }}
			</span>
			<span ng-switch-when="3">
				{{ 'days' | translate }}
			</span>
			<span ng-switch-when="4">
				{{ 'months' | translate }}
			</span>
			<span ng-switch-when="5">
				{{ 'years' | translate }}
			</span>
		</ng-switch>
		{{ 'ago' | translate }}
	</div>
	<div class="item-after {{item.icon}}" id="item_{{$index}}"></div>
</div>