<div class="margin-top52 view-asset-page" ng-init="loadAsset()">
	<div class="col-12 left-asset-panel">
		<div class="asset-play-wrap">
			<div class="asset-player" ng-switch="player.type">
				<!-- Image type -->
				<div class="asset-image-preview" ng-switch-when="7">
					<img ng-src="{{urlIMG}}" alt="{{details.title}}" />
				</div>
				<!-- Video type -->
				<div class="asset-video-preview" ng-switch-when="1">
					<div class="asset-file" flowplayer fp-instance="asset-play">
					</div>
				</div>
				<!-- Audio type -->
				<div class="asset-video-preview" ng-switch-when="12">
					<div class="downloadable-asset" ng-show="details.downloadable && !details.convertable">
						<div class="asset-download-type">
							<div ng-click="downloadFile(downloadLink)" class="link-to-download">
								<div><i class="fa icon-d_download"></i></div>
								<div class="tap-download">{{'Tap to Download' | translate}}</div>
								<div class="file-title">{{details.filename}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- File preview type convertable -->
				<div class="asset-file-preview" ng-switch-when="convertable">
					<div class="asset-file-type" ng-show="details.convertable">
						<div class="play-asset-file"  ng-class="{'ios': isIphone}">
							<files-carousel id="file-{{details.type}}" data="{{details.document_images}}" class="swiper-container files-wrap"></files-carousel>
						</div>
					</div>
					<div class="downloadable-asset" ng-show="details.downloadable && !details.convertable">
						<div class="asset-download-type">
							<div ng-click="downloadFile(downloadLink)" class="link-to-download">
								<div><i class="fa icon-d_download"></i></div>
								<div class="tap-download">{{'Tap to Download' | translate}}</div>
								<div class="file-title">{{details.filename}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Link type -->
				<div class="asset-file-preview" ng-switch-when="15">
					<div class="asset-link-type" ng-hide="details.video">
						<div class="preview-image-link" ng-bind-html="details.image | html"></div>
						<div class="preview-link" ng-click="downloadFile(details.filename)">
							<span class="link-url">{{details.filename}}</span>
							<span class="link-icon-preview"><i class="fa fa-link"></i></span>
						</div>
					</div>
				</div>
				
				<!-- Video link type case4 Youtube -->
				<div class="asset-video-type" ng-switch-when="youtube">
					<div class="asset-video-embeded">
						<embeded-video data-hash="{{player.hash}}" data-type="{{player.type}}"></embeded-video>
					</div>
				</div>
				<!-- Video link type case Vimeo -->
				<div class="asset-video-type" ng-switch-when="vimeo">
					<div class="asset-video-embeded">
						<embeded-video data-hash="{{player.hash}}" data-type="{{player.type}}"></embeded-video>
					</div>
				</div>
				<!-- Video link type case Wistia -->
				<div class="asset-video-type" ng-switch-when="wistia">
					<div class="asset-video-embeded">
						<embeded-video data-hash="{{player.hash}}" data-type="{{player.type}}" data-file="{{details.filename}}"></embeded-video>
					</div>
				</div>
				
				<!-- Download link type -->
				<div class="asset-file-preview" ng-switch-when="download">
					<div class="downloadable-asset">
						<div class="asset-download-type">
							<div ng-click="downloadFile(downloadLink)" class="link-to-download">
								<div><i class="fa icon-d_download"></i></div>
								<div class="tap-download">{{'Tap to Download' | translate}}</div>
								<div class="file-title">{{details.filename}}</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Download link type -->
				<div class="asset-file-preview" ng-switch-when="google_drive_file">
					<div class="downloadable-asset">
						<div class="asset-download-type">
							<div ng-click="downloadFile(player.title)" class="link-to-download">
								<div><i class="fa fa-google"></i></div>
								<div class="tap-download">{{'Tap to Open' | translate}}</div>
								<!--<div class="file-title">{{details.filename}}</div>-->
							</div>
						</div>
					</div>
				</div>
				<div class="asset-file-preview" ng-switch-default>
					<div class="downloadable-asset" ng-show="details.downloadable && !details.convertable">
						<div class="asset-download-type">
							<div ng-click="downloadFile(downloadLink)" class="link-to-download">
								<div><i class="fa icon-d_download"></i></div>
								<div class="tap-download">{{'Tap to Download' | translate}}</div>
								<div class="file-title">{{details.filename}}</div>
							</div>
						</div>
					</div>
					<!--<div class="item-box-appereance no-content" ng-hide="details.downloadable">
						<div class="text-container">
							<p class="bold text-center">{{ 'No preview' | translate }}</p>
							<p class="text-center">{{ 'available' | translate }}</p>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<asset-details></asset-details>
	</div>
	<div class="col-12 right-asset-panel">
		<div class="similar-assets-wrapper" ng-show="dataIsLoaded" ng-cloak>
			<h3 class="related-assets-title" ng-show="similar">{{'Related assets' | translate}}</h3>
			<carousel disable-infinite-bind="disableInfinite" id="similar_assets_{{assetId}}" data="{{similar}}" class="tiles-wrap swiper-container" template-url="views/directives/similar_assets.html" infinite-scroll-horizontal="RelatedAsssets(updateCallback)" minimum-items="5"></carousel>
		</div>
	</div>
	
	<!-- Modal panel -->
	<div class="modal-popup">
		<modal-directive controller-name="ViewAssetController"></modal-directive>
	</div>
</div>