@CHARSET "UTF-8";

.elucidat-settings{
    min-height: 100px;
    margin-left: 0!important;
}

.elucidat-settings #elucidat-clear {
    margin-top: 5px;
    margin-bottom: 5px;
}

h3.advanced-elucidat-settings-form-title {
    display: inline-block;
    position: relative;
    top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.elucidat-settings .public-key-setting-name p.muted{
    font-size: 12px;
    font-weight: normal;
}

.elucidat-settings .row.even {
    padding-left: 0!important;
    padding-right: 0!important;
}

.elucidat-settings .row.even .row{
    padding-right: 18px;
    padding-left: 18px;
}

.elucidat-settings .row-fluid.odd{
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    padding: 0;
    padding: 22px 18px;
    background: #f1f3f2;
}
.elucidat-settings .row-fluid.even{
    border-top: 1px solid #e4e6e5;
    border-bottom: 1px solid #e4e6e5;
    padding: 0;
    padding: 22px 18px;
}

.elucidat-settings input[type=text],
.elucidat-settings input[type=text]:focus
{
    width: 100%;
}

.elucidat-settings #public_key,
.elucidat-settings #secret_key {
    width: 98%!important;
}

.elucidat-settings a{
    text-decoration: underline !important;
    color: blue;
}

.elucidat-settings .right{
    text-align: right;
}
.elucidat-select-course-option-text,.elucidat-create-course-text{
    margin-left:0px !important;
}
.lo-select-elucidat.btn[type="button"]{
    margin-left: 15px;
}
.elucidat-logo-container{
    margin-right: 60px;
    display: inline-block;
    float: left;
    width: auto !important;
}
.elucidat-logo {
    background: url(../../../../themes/spt/images/elucidat_logo.png) no-repeat;
    width: 100px;
    height: 40px;
    line-height: 33px;
    /*position: absolute;*/
    display: block;
    position: relative;
}
.elucidat-select-course-container,
.elucidat-create-course-container {
    position:relative;
    border:1px solid #E4E6E5;
    padding:30px 20px 20px;
    margin-bottom:20px;
}
.elucidat-box-title {
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.elucidat-box-text {
    float: left;
}
.elucidat-btn {
    float: right;
    margin-top: 20px;
}
#main-elucidat-section {
    margin-left: 0px !important;
}
/*Warning Strip Customization */
.exclamation-mark {
    margin-bottom: 20px;
    margin-right: 10px;
}
.warning-text {
    float: none !important;
    display: block !important;
    margin-right: 20px;
}
#invalid-elucidat .warning-text {
    padding-top: 14px;
}
#main-elucidat-section #warning-strip {
    margin-top: 20px;
    height: auto;
    padding: 6px 0px 20px 0px !important;
}

.intro-warning-container-author{
    margin-left: 0px !important;
}

/*Step 2 - Create/Edit elucidat LO*/
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel .elucidat-logo-container{
    margin-right: 10px;
    display: inline-block;
    float: left;
    width: auto !important;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel .player-arena-uploader .input-hint{
    color:grey;
    font-size:11px;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel .elucidat-logo{
    display: block;
    position: relative;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel #edit-elucidat-btn.elucidat-btn{
    margin-top:0px;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel #warning-strip{
    padding-bottom:6px !important;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel #wrong-config-error .warning-text{
    margin-top:5px !important;
}
#player-arena-elucidat-editor-panel.create-edit-elucidat-panel #wrong-config-error #warning-strip{
    margin-top:0px;
    margin-bottom:20px;
}


#player-arena-elucidat-editor-panel .refresh-courses {
	text-decoration: none;
}
#player-arena-elucidat-editor-panel .refresh-courses i{
    margin-top: 7px;
}
#player-arena-elucidat-editor-panel .refresh-courses div.ajaxloader{
    padding-left: 5px;
    padding-top: 11px;
    padding-bottom: 0px;
    left: 0px;
    top: 0px;
    width: 11px;
    height: 13px;
    margin-top: 0px;
    margin-left: -5px;
}
.player-arena-uploader .select-field{
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #999 #E5E5E5 #E5E5E5 #999;
    box-shadow: none;
    width: 100%;
}
.player-arena-uploader #keep-updated-last-status{
    border-style: solid;
    border-width: 1px;
    border-color:#dddddd;
    margin-left: 30px;
    padding:10px;

}
.player-arena-uploader #keep-updated-last-status i{
    font-size:20px;
}
.player-arena-uploader #keep-updated-last-status #status-text{
    /*padding-bottom:5px;*/
    margin-left: 10px;
    display: inline-block;
    width: 90%;
    vertical-align: top;
}
.player-arena-uploader #keep-updated-hint{
    margin-left : 30px;
    margin-top : -8px;
}
.player-arena-uploader #keep-updated-label{
    display : inline-block;
    margin-left : 10px;
}
.player-arena-uploader #release-control-group{
    display: none;
}
.player-arena-uploader .fa-times-circle{
    color:red;
}


