<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<title>Mobile LMS</title>

		<!-- Styles -->
		<script src="js/lib/jquery-1.11.3/jquery-1.11.3.min.js"></script>
		<script src="js/lib/material.min.js"></script>
		<script type="text/javascript" ng-src="{{cloudfrontCookie}}"></script>
		<script src="js/lib/hammer.js-master/hammer.js"></script>


		<!-- 3. flowplayer -->
		<script src="js/lib/flowplayer/flowplayer.min.js"></script>
		<link rel="stylesheet" href="css/flowplayer_skins/functional.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/framework7.material.min.css">
		<link rel="stylesheet" href="css/framework7.ios.css">
		<link rel="stylesheet" href="css/framework7.ios.colors.css">
		<link rel="stylesheet" href="css/framework7.material.colors.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/webapp-font.css">
		<link rel="stylesheet" href="css/material.min.css">
		<link rel="stylesheet" href="css/style.css">



		<!-- Open sans font -->
		<link href='fonts/opensans/stylesheet.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="fonts/material/material-icons.css" type="text/css">

		<script data-main="js/app.js" src="js/lib/require.js"></script>

	</head>
	<body class="{{bodyClass}}" ng-controller="AppController" switch-view doceboscroll back-handler>
		<div class="statusbar-overlay"></div>

		<!-- First, we need to add Panel's overlay that will overlays app while panel is opened -->
		<div class="panel-overlay"></div>

		<div id="search-wrapper" search-overlay></div>

		<!-- Right panel -->
		<div class="panel panel-right panel-cover">
			<right-panel
				ng-show='panelName == "PublishPageController"'
				controller-name="PublishPageController"></right-panel>
			<right-panel
				ng-show='panelName == "SearchFiltersController"'
				controller-name="SearchFiltersController"></right-panel>
			<right-panel
				ng-show='panelName == "OfflinePageController"'
				controller-name="OfflinePageController">
			</right-panel>
		</div>

		<div id="top-menu-panel" class="hidden-left-menu hidden">
			<nav-left></nav-left>
		</div>

		<div class="views">
			<div class="views-overlay" ng-click="$onButton1Click()"></div>
			<div class="view view-main">
				<div class="panel-overlay">
					<div class="panel panel-left panel-reveal">

					</div>
				</div>
				<div class="page-content">

					<div ng-show="showNavBar" id="top-bar" class="top-nav-new">
						<div class="menu-overlay"></div>
						<nav-bar></nav-bar>
						<!-- Tabs on dashboard page -->
						<tabs ng-show="$hasTabs()" ng-hide="!$hasTabs()" items="getTabs()"></tabs>
					</div>
					<!-- INDEX PAGE --START-- -->
					<div class="content">
						<div ng-view class="page_effect {{ClassViews}}" autoscroll="true"></div>
					</div>
					<!-- INDEX PAGE END---->
				</div>
				<!--</div>-->
			</div>
		</div>

		<!-- Show loader when there are peding requests -->
	<loading></loading>

</body>
</html>