@CHARSET "UTF-8";

.multidomain-admin {}


.modal.multidomain-wizard-client-initial  {
	width: 460px;
	margin-left: -230px;
}

.multidomain-admin .domain-type-value {
	margin-left: 30px;
	display: none;
}

.multidomain-admin .domain-type-value.subfolder input[type="text"] {
    width: 150px;
}

.multidomain-header {
    padding: 10px 0px;
    margin: 30px 0px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    font-size: 12px;
}

.multidomain-header i.zmdi-view-compact{
	vertical-align: middle;
	margin-right: 20px;
}

.multidomain-header a.configure-theme{
	margin-left: 10px;
}

.multidomain-header [class*="span"] {
    padding-top: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.multidomain-header i {
    margin-right: 10px;
}

.multidomain-header img.logo {
	height: 60px;
	margin-left: 60px;
}

.multidomain-header a.edit-multidomain-dialog{
	float: right;
	margin-top: 20px;
}

.multidomain-client-settings .setting-row > div[class^="span"]   {
	padding: 15px 0px 15px 30px;
}

.multidomain-client-settings .setting-row {
	padding: 15px 0px 15px 0px;
}



.multidomain-client-settings .tab-pane > div label {
	margin-top: 0px;
}

.multidomain-client-settings .tab-pane > div label.radio {
	margin-bottom: 10px;
}


.multidomain-client-settings .setting-row.odd {
   	background: #f1f3f2;
   	border-top: 1px solid #ffffff;
   	border-bottom: 1px solid #ffffff;
}


.multidomain-client-settings .setting-name {
		font-weight: 600;
		font-size: 15px;
}

	.multidomain-client-settings .setting-name .setting-description,
	.multidomain-client-settings .setting-value .setting-description
	 {
		font-weight: 600;
		font-size: 11px;
		margin-top: 5px;
		color: #666;
	}

.multidomain-client-settings .setting-value {
	padding-right: 5px;
}

.multidomain-client-settings #multidomain-settings-ecommerce .setting-value{
	padding-right: 30px;
}

.multidomain-client-settings span.jq-file .jq-file__name, span.file-name {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 600;
}


.multidomain-client-settings .login-images > div {
	display: none;
}


.multidomain-client-settings #multidomain-settings-white-label .setting-value {
	position: relative;
}

.multidomain-client-settings #multidomain-settings-white-label .wlabel-preview.wl-menu {
	top: 80px;
	left: -22px;
}


.multidomain-client-settings #multidomain-settings-white-label .wlabel-preview.wl-user-counter {
	top: 0px;
	left: 435px;
}

.multidomain-client-settings #multidomain-settings-white-label .wlabel-preview.wl-footer {
	top: 286px;
	left: 508px;
}



.multidomain-client-settings .blocked {
	opacity: 0.6;
	filter: alpha(opacity=60);
}


.multidomain-client-settings .current-player-bg {

}


.multidomain-client-settings .nav.nav-tabs li.has-error {
	border: 1px solid #FFD0D0;
}

/* SELF REGISTRATION */
.final-tabs .ft-icon.ft-register  {background-position: -492px -205px; width:28px; height:22px;}
.final-tabs .nav-tabs > li.active .ft-icon.ft-register, .final-tabs .nav-tabs > li:hover .ft-icon.ft-register {background-position:-454px -205px; width:28px; height:22px;}

div#multidomain-settings-self-registration div.allowed_domains_container select{
	height: 0px;
}
div#multidomain-settings-self-registration div.registration_type span.jq-radio, div#multidomain-settings-self-registration div.registration_type span.jq-checkbox {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

div#multidomain-settings-self-registration div.registration_type label {
	margin-left: 25px;
}

/* LOCALIZATION */
.final-tabs li a i.fa-globe{
	width: 22px;
	height: 22px;
	margin-left: 6px;
}

.multidomain-client-settings form
{
	display: inline-block;
	width: 100%;
}

div#multidomain-grid img {
    width: 60px;
}

.multidomain_stripe_type{
	display: inline-block;
	float: left;
	padding-top:15px;
}

.multidomain_stripe_type:first-of-type{
	margin-right: 15px;
}

.multidomain_stripe_type .jq-radio{
	margin-left: 0;
}

.multidomain_stripe_advanced_text{
	font-size: 11px;
	color: #999;
	line-height: 11px;
	display: block;
	padding-left: 21px;
}

#stripe_tax_code_container{
	margin: 15px 0 0 20px;
}

#stripe_tax_code_container input{
	margin-left: 15px;
}