<!-- Channel view all items -->
<div class="channels-wrapper viewall-page" infinite-scroll="infiniteScrollVertical()" infnite-scroll-distance="itemsChunk" infinite-scroll-listen-for-event="inifniteScroll:vertical">
	<!-- Channel header -->
	<div class="header-channel col col-12">
		<div class="col col-10-main">
			<div class="col col-2 title-label">
				<div>
					<span class="label-icon" style="color:{{channel.fa_icon_color}};background-color: {{channel.icon_bg_color}}"><i class="fa {{channel.fa_icon}}"></i></span>
				</div>
			</div>
			<div class="col col-10 title-details">
				<h3>{{channel.name}}</h3>
			</div>
			<div class="col col-10 description-details">
				<p class="desc"  dd-text-collapse dd-text-collapse-max-length="200" dd-text-collapse-text="{{channel.description}}"></p>
			</div>
			<div class="col col-12 channel-details" ng-show="channel.counters">
				<div class="col details-col2">
					<div ng-if="channel.other_fields.count_experts">
						<span class="blue-color">{{channel.other_fields.count_experts}}</span>
						<span>{{'experts' | translate}}</span>
							<a href="">{{'View assigned experts' | translate}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="msg-box-container" ng-if="!channel.items">
		<div class="item-box-appereance no-content msg-height-container">
			<div class="text-container">
				<div ng-if="viewType == 'lp'">
					<p class="bold text-center" >{{ 'You are not assigned to any learning plans' | translate }}</p>
				</div>
				<div ng-if="viewType == 'courses'">
					<p class="bold text-center">{{ 'You are not enrolled in any courses' | translate }}</p>
				</div>
			</div>
		</div>
		<div class="text-container">
			<div ng-if="viewType == ''">
				<p class="bold text-center">{{ 'This channel doesnt have any items' | translate }}</p>
			</div>
		</div>
	</div>

	<!-- Channel items wrapper -->
	<div class="items-wrapper">
		<div ng-if="channel.items.length">
		<div class="col col-tile" ng-class="$even ? 'odd' : 'even'" ng-repeat="item in channel.items track by $index">
			<div class="tile-thumb">
				<div class="thumb-img" style="background: url('{{item.image_uri}}') no-repeat; background-size: cover; background-position: center;">
					<a ng-href="#/{{(item.type_id === 'learningplan') ? 'learning_plan/' + item.id : (item.type_id === 'knowledge_asset') ? 'assets/view/' + item.id : 'course/' + item.id }}" ng-show="iCanEnter(item)"></a>
				</div>
				<div class="overlay-details">
					<div class="label-type">
						<div ng-show="item.can_enter">
							<a ng-href="#/{{(item.type_id !== 'learningplan') ? 'course/' + item.id : 'learning_plan/' + item.id }}">
								{{item.type_label}}
							</a>
						</div>
						<div ng-show="!item.can_enter">
							<a ng-href="#/{{(item.type_id == 'learning_plan') ? 'course/' + item.id : (item.type_id === 'knowledge_asset') ? 'assets/view/' + item.id : 'course/' + item.id }}" ng-show="item.type_id === 'knowledge_asset'">{{item.type_label}}</a>
							<span ng-hide="item.type_id === 'knowledge_asset'">{{item.type_label}}</span>
						</div>
					</div>
					<div class="label-right-topcorner">
						<div ng-show="iCanEnter(item)">
							<a ng-href="#/{{(item.type_id === 'learningplan') ? 'learning_plan/' + item.id : (item.type_id === 'knowledge_asset') ? 'assets/view/' + item.id : 'course/' + item.id }}">
								<div class="courses-count" ng-show="item.other_fields.courses_count">{{item.other_fields.courses_count}} {{ 'Courses' | translate }}</div>
								<div class="label-new" ng-show="item.is_new">{{ 'New' | translate }}</div>
								<div class="label-duration" ng-show="item.other_fields.duration && item.other_fields.duration != '00:00'">{{item.other_fields.duration}}</div>
							</a>
						</div>
						<div ng-show="!iCanEnter(item)">
							<div class="courses-count" ng-show="item.other_fields.courses_count">{{item.other_fields.courses_count}} {{ 'Courses' | translate }}</div>
							<div class="label-new" ng-show="item.is_new">{{ 'New' | translate }}</div>
							<div class="label-duration" ng-show="item.other_fields.duration && item.other_fields.duration != '00:00'">{{item.other_fields.duration}}</div>
						</div>
					</div>
					<div class="label-invititedby" ng-show="item.other_fields.invited_by">
						<a class="invite-image" data-toggle="tooltip" data-placement="top" title="{{'Invited by: ' | translate}} {{item.other_fields.invited_by}}" data-original-title="<?= Yii::t('standard','Invited by:') ?> {{item.other_fields.invited_by}}" rel="tooltip" >
							<!--<span ng-show="item.other_fields.invited_by_url"><img ng-src="{{item.other_fields.invited_by_url}}" alt="{{item.other_fields.invited_by}}" /></span>-->
							<span ng-show="item.other_fields.invited_by_url"><img ng-src="http://placehold.it/36x39"" alt="{{item.other_fields.invited_by}}" /></span>
						</a>
					</div>
					<div class="label-left-topcorner" ng-show="item.ribbon.fa_icon">
						<a class="label-left-corner" data-toggle="tooltip" data-placement="top" title="{{item.ribbon.message}}" data-original-title="{{item.ribbon.message}}" rel="tooltip" style="color: {{item.ribbon.text_color}}; border-color: {{item.ribbon.icon_bg_color}} transparent transparent transparent;">
							<i class="fa {{item.ribbon.fa_icon}}"></i>	
						</a>
					</div>
				</div>
			</div>

			<!-- Item meta details -->
			<div class="tile-meta">
				<div class="main-metas">
					<span ng-show="item.other_fields.views">{{item.other_fields.views}} {{ 'views' | translate }}</span>
					<span ng-show="item.other_fields.last_viewed">{{item.other_fields.last_viewed}}</span>
					<span ng-show="item.other_fields.language">{{item.other_fields.language}}</span>
					<span ng-show="item.other_fields.level">{{item.other_fields.level}}</span>
					<!-- Rating -->
					<span class="tile-ratings" ng-show="item.rating">
						<a href="#" id="test1" class="popover-link">
							<i class="fa fa-star" ng-show="item.rating >= 4"></i>
							<i class="fa fa-star-half-o" ng-show="item.rating >= 2.5 && item.rating <= 3.5"></i>
							<i class="fa fa-star-o" ng-show="item.rating <= 2"></i>
							{{item.rating}}
						</a>
					</span>
				</div>
				<div ng-show="item.can_enter">
					<a ng-href="#/{{(item.type_id !== 'learningplan') ? 'course/' + item.id : 'learning_plan/' + item.id }}" class="tile-title link">{{item.title | cut:true:60:' ...'}}</a>
				</div>
				<div ng-show="!item.can_enter">
					<a ng-href="#/{{(item.type_id == 'learningplan') ? 'learning_plan/' + item.id : (item.type_id === 'knowledge_asset') ? 'assets/view/' + item.id : 'course/' + item.id }}" ng-show="item.type_id === 'knowledge_asset'" class="tile-title link">{{item.title | cut:true:60:' ...'}}</a>
					<div class="tile-title link" ng-hide="item.type_id === 'knowledge_asset'">
						{{item.title | cut:true:60:' ...'}}
					</div>
				</div>
				<div class="course-status {{item.other_fields.status}}" ng-show="item.other_fields.status && !item.other_fields.author">
					{{item.other_fields.status}}
				</div>
				<div class="progress-metas" ng-show="item.other_fields.percentage">
					<span class="progress-percent">{{item.other_fields.percentage}}%</span>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{item.other_fields.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.other_fields.percentage}}%"></div>
					</div>
				</div>
				<div class="author-metas" ng-show="item.other_fields.author">
					<span>{{'by' | translate}}</span>
					<a href="">{{item.other_fields.author | cut:true:11:'...'}}</a>
				</div>
				<span class="dots-link" ng-show="item.actions.length && item.type_id !== 'knowledge_asset'" ng-click="open($event)">...</span>
			</div>
			
			
			<!-- Actions menu -->
			<div class="dots-menu" ng-show="item.actions.length">
				<div class="bg-overlay"></div>
				<div class="link-overlay">
					<div class="dots-menu-content">
						<ul>
							<li ng-repeat="action in item.actions" data-type="{{action.action_type}}">
								<div ng-show="action.action_type == 'new_window'">
									<a href="{{action.url}}" target="_blank" style="color: {{action.text_color}};">
										<span class="remove-link"><i class="fa {{action.fa_icon}}"></i> {{action.label}}</span>
									</a>
								</div>
								<div ng-show="action.action_type == 'same_window'">
									<a href="{{action.url}}" style="color: {{action.text_color}};">
										<span class="remove-link"><i class="fa {{action.fa_icon}}"></i> {{action.label}}</span>
									</a>
								</div>
								<div ng-show="action.action_type == 'modal'">
									<span modal class="{{action.class}}" data-title="{{action.label}}" id="{{action.id}}" data-url="{{action.url}}" style="color: {{action.text_color}}">
										<i class="fa {{action.fa_icon}}"></i> {{action.label}}
									</span>
								</div>
								<div ng-show="action.action_type == 'deeplink'">
									<a href="{{action.action_params.url}}" class="copy-url"></a>
									<span clipboard class="not-copied" text="textToCopy" on-copied="success()" on-error="fail(err)" ng-click="getShareurl($event)"><i class="fa {{action.fa_icon}}"></i> {{action.label}}</span>
									<span class="copied-success"><i class="fa fa-check color-green"></i> <span class="color-green font-weight-medium">{{'Link copied' | translate}}</span> {{'to clipboard!' | translate}}</span>
								</div>
							</li>
						</ul>
						<div class="bottom-part">
							<span ng-click="close($event)">...</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<lazyload type="items"></lazyload>
	</div>
</div>