<!-- Channel main wrapper  -->
<div class="dashboard-wrapper" ng-if="channels">
	<div class="channels-wrapper" ng-init="init()" infinite-scroll="infiniteScrollVertical()">
		<div class="channel-wrap c_two col-md-12" ng-repeat="channel in channels track by $index">
			<div class="header-channel col col-12">
				<div class="col col-10-main">
					<div class="col col-2 title-label">
						<div>
							<span class="label-icon" style="color:{{channel.fa_icon_color}};background-color: {{channel.icon_bg_color}}"><i class="fa {{channel.fa_icon}}"></i></span>
						</div>
					</div>
					<div class="col col-10 title-details">
						<h3 class="title-with-link">
							<a href="#/channel/{{channel.id}}" class="view-more-mobile">{{channel.name}}<i class="fa fa-angle-right"></i></a>
						</h3>
						<div ng-bind-html="channel.description | cut:true:80:' ...'"></div>
					</div>
				</div>
				<div class="col col-2 right-align">
					<div class="experts" ng-if="channel.other_fields.count_experts"><i class="fa fa-users"></i>
						{{channel.other_fields.count_experts}} experts <?= Yii::t('standard','experts') ?>
					</div>
					<div class="experts-mobile" ng-if="channel.other_fields.count_experts"><i class="fa fa-users"></i>
						{{channel.other_fields.count_experts}} <?= Yii::t('standard','experts') ?>
					</div>

				</div>
			</div>
			<div ng-show="channel.items">
				<carousel id="channel-{{channel.id}}" data="{{channel.items}}" class="tiles-wrap swiper-container"></carousel>
			</div>
		</div>

		<!-- Clearfix -->
		<div class="clear-both"></div>
	</div>

	<!-- Lazyload  -->
	<lazyload type="channels"></lazyload>
</div>

<!-- Show msg when no channels available for the currently logged user -->
<div class="item-box-appereance no-content" ng-show="noChannels">
	<div class="text-container">
		<p class="bold text-center">{{ 'No channels' | translate }}</p>
		<p class="text-center">{{ 'to be displayed' | translate }}</p>
	</div>
</div>
