<div data-page="detailsPage" class="page" id="scrollable">
    <div id="mobile-course-header" ng-if="courseInfo.name" ng-class="$isDesktop() ? 'top-buffer58' : ''" style="background: {{navColor}}; color: {{navFont}};">
        <div class="content-block row white" style="color: {{navFont}};">
            <div class="title-description-wrapper">
                <h1 class="course-title">{{ courseInfo.name }}</h1>
                <div class="col-60 description-wrapper">
                    <p id="course-desc" class="desc" dd-text-collapse dd-text-collapse-max-length="150" dd-text-collapse-text="{{ courseInfo.description }}"></p>
                </div>
            </div>
            <div class="col-100 icons-wrapper" ng-show="courseDetailsLoaded">
                <div id="mobile-course-icons-header">
                    <ul>
                        <li>
                        <span class="language">
							<i id="language-icon" class="icon-world white icon-xl"></i>
							<span class="language-type">{{ courseInfo.lang_code }}</span>
						</span>
                        </li>
                        <li>
                        <span class="medium-clock-time">
							<i id="clock-icon" class="icon-clock white icon-xl"></i>
							<span class="medium-time">{{ courseInfo.mediumTime / 60 }}m</span>
						</span>
                        </li>
                        <li>
                        <span class="mobile-user">
							<i id="user-icon" class="icon-user-mobile white icon-xl"></i>
							<span class="user-type">{{"learner" | translate}}</span>
						</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

	<!-- Show message if the course has no items -->
	<div class="item-box-appereance no-content" ng-show="!learningObjects.items">
		<div class="text-container">
			<p class="bold text-center">{{ 'There are no learning objects' | translate }}</p>
			<p class="text-center">{{ 'assigned to this course' | translate }}</p>
		</div>
	</div>
		
	<div id="mobile-course-chapters" ng-show="learningObjects.items">
		{{ learningObjects.countObjects }} {{ 'CHAPTERS' | translate }}
	</div>
	<div id="mobile-course-content" class="list-block" ng-show="learningObjects.items">
		<div class="page-content" ng-repeat="object in learningObjects.items">
				<div class="remove-root-folder" ng-if="'root_' + courseInfo.idCourse!=object.title">

					<ul class="locked-object-types" ng-disabled="!checkObjectTypes(object.type) || (object.prerequisites && object.locked)">
							<li ng-class="{'folder-children-item' : object.isChildren,'object-item' : object.type && !object.isChildren, 'folder-item' : !object.type}" class="item-content"  data-type="{{ object.type }}">
								<!--<a class="list-view-open-items" ng-href="#/course/{{courseInfo.idCourse}}/learning_object/{{object.idOrganization}}" >-->
								<a class="list-view-open-items" ng-click="goToObject(object,courseInfo.idCourse)" >
									<div ng-class="{'white-title-folder' : !object.type, 'item-inner' : object.type}">
										<div class="title">{{ object.title }}</div>
										<div class="item-after">
											<div class="item-media" ng-if="object.prerequisites && object.locked">
												<i ng-class="object.prerequisites ? 'icon-lock-mobile icon-xl' : ''"></i>
											</div>
											<div class="item-media" ng-if="object.prerequisites == '' || !object.locked">
												<i class="icon-xl" ng-class="object.type != '' && object.status_class ? '{{object.status_class}}' : ''"></i>
											</div>
										</div>
									</div>

								</a>
							</li>
					</ul>

				</div>
		</div>
	</div>
</div>