<div class="view-wrap" style="background-color: {{bodyColor}};">
	<div class="form-wrapper" style="background-color: {{bodyColor}};">
		<div id="main-warning">

			<div class="img-warning">
				<div class="icon-warning"></div>
			</div>
			<div class="warning-message">
				<div class="warning-title"><span>{{'Ooops' | translate }}</span></div>
				<br>
				<div class="warning-description"><span> {{'Invalid username or e-mail' | translate}}</span></div>
			</div>
			<div class="close-warning">
				<div class="close-notification"></div>
				<div class="icon-close"></div>
			</div>
		</div>
		<div id="main-success">
			<div class="img-success">
				<div class="icon-check"></div>
			</div>
			<div class="success-message">
				<div class="success-title"><span>{{'Thank you!' | translate }}</span></div>
				<br>
				<div class="success-description"><span>{{'We have sent you an email with the link to reset your password' | translate}}</span></div>
			</div>
		</div>

		<div id='pass-progress'>
			<div class="success-progress"></div>
		</div>

		<a href="#/login" id="back-arrow" class="back-arrow">
			<i class="icon-back icon-l"></i>
		</a>
		<div class="login-screen-logo">
			<img ng-src="{{mainLogo}}" />
		</div>

		<form name="userForm" ng-submit="submit()" autocomplete="false" class="forgot-password-layout">
			<div class="list-block centered-absolute">
				<div class="list-block-label">
					<p class="forgot-password-description">{{ 'If you have lost your password insert your username or your e-mail address in the field below, you will receive a message with instructions.' | translate }}</p>

					<p>
					<div class="item-content login-input" style="border-color: {{bgFont}};">
						<div class="item-media" style="color: {{bgFont}};">
							<i class="icon-user-mobile icon-pf" style="line-height: 40px;"></i>
						</div>
						<div class="item-input-wrapper">
							<div class="item-input">
								<input name="email" ng-model="user.email" id="recover" type="text" required ng-required="required" placeholder="{{ 'Your username or e-mail' | translate }}" autocomplete="false">
							</div>
						</div>
					</div>
					</p>
				</div>
			</div>

			<div class="centered-bottom">
			   <input type="submit" id="submit" value="{{ 'Send' | translate }}" class="button forgot-password-button " />
			</div>
		</form>
	</div>
	<!-- Translations for native part login screen -->
	<!--
        <div>{{ 'If you have lost your password insert your username or your e-mail address in the field below, you will receive a message with instructions.' | translate }}</div>
        <div>{{ 'Your username or e-mail' | translate }}</div>
        <div>{{ 'Send' | translate }}</div>
        <div>{{ 'We have sent you an email with the link to reset your password' | translate }}</div>
        <span>{{ 'Thank you!' | translate }}</span>
    -->
</div>
