<div class="publish-page" ng-controller="PublishPageController">


	<!--<div id="flowplayer-publish-asset" class="flowplayer-video"></div>-->
	<div ng-show="isVideoFileUploaded()">
		<div class="asset-file" flowplayer fp-instance="publish-asset">
		</div>
	</div>

		<div ng-show="!isVideoFileUploaded()" class="upload-queue-thumbnail-container">
			<img ng-src="{{thumb}}">
		</div>
	<!-- Publish form -->
	<form ng-submit="submitForm()" ng-model="publishForm" class="simple-form" ng-keypress="enterPressed($event)">
		<p class="heading-title">{{ assetType | translate }} {{ 'Details' | translate }} </p>
		<div class="form-group details-asset">
			<p><textarea ng-required="required" required ng-model="publishForm.title" class="form-control title-textarea" rows="1" placeholder="{{ 'Add title (required)' | translate }}"></textarea></p>

			<p>
				<textarea ng-required="required" required ng-model="publishForm.description" class="form-control" placeholder="{{ 'Add description (required)' | translate }}"></textarea></p>
		</div>
		<p class="heading-title">{{ 'Visibility' | translate }} <span class="gray-color">{{ '(required)' | translate }}</span></p>
		<!-- Public or private asset -->
		<visibility-checkboxes ng-required="required" visibility-model="publishForm.visibility" ng-model="publishForm.visibility" items="visibilities" controller-name="PublishPageController"></visibility-checkboxes>
		<!-- Channels -->
		<div class="channels-menu">
		<p class="heading-title">{{ 'Channels' | translate }}</p>
		<div class="form-group">
			<div id="select-channels" selectchannels channels-model="publishForm.channels"></div>
		</div>
		</div>
		<!-- Tags Autocomplete -->
		<p class="heading-title">{{ 'Tags' | translate }}</p>

		<docebo-autocomplete binding="publishForm.tags" tags-list="suggestionTags" class="tags-autocomplete-container"></docebo-autocomplete>

		<button id="publish-form-confirm" class="btn submit-btn btn-default" >{{ 'Publish' | translate }}</button><div id="publish-page-warning-modal" popup params="popupActions"></div>
	</form>
</div>