<div class="search-results" ng-init="init()">
	<div id="results-counter" ng-class="(checkOS() == true) ? 'results-counter-ios' : 'results-counter-all'">
		<p class="counter">{{ _counter }} {{ 'ITEMS' | translate }}</p>
		<p class="text-right"><a class="search-filter-options" ng-click="$openRightPanel(); initFilter()"><i class="fa fa-sliders" aria-hidden="true"></i></a></p>
	</div>
	<div class="item-container">
		<div ng-repeat="item in items">
			<div ng-switch="item.type">
				<div ng-switch-when="EsAgentLo">
					<div ng-include="'views/_partials/_search/_lo_search_item.html'"></div>
				</div>
				<div ng-switch-default>
					<div ng-include="'views/_partials/_search/_common_search_item.html'"></div>
				</div>
			</div>
		</div>
		<div ng-show="showLoadingPlaceholder">
			<div ng-include src="'views/_partials/_search/_infinite_placeholder.html'"></div>
		</div>
	</div>
</div>
<div class="load-more-btn">
	<button class="submit-btn search-load-more" ng-click="loadMoreResults()">{{ loadResultsMsg }}</button>
</div>