<!-- Walkthrough before upload page -->
	<div class="card-container">
		<swipe-cards items="getCards()" next-button-handler="customFunction(cardId)"></swipe-cards>
		<div class="checbox-lastslide">
			<div class="checkbox-wrap">
				<input type="checkbox" name="not-show" id="not-show" value="not-show">
				<span class="change-input-bg"><label for="not-show"></label></span>
			</div>
			<label for="not-show" class="label-select">{{'Do not show it again' | translate}}</label>
		</div>
	</div>