<html>
  <head>
    <title>Angular Google Picker</title>
    <meta charset="UTF-8">

    <!-- Bootstrap / Fontawesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet">

    <!-- Google API -->
	<script src="http://apis.google.com/js/client.js"></script>
	<script src="http://apis.google.com/js/api.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Angular Google picker -->
    <script src="google-picker.min.js"></script>

    <!-- Example app -->
    <link rel="stylesheet" href="style.css">
	
    <script src="app.js"></script>
  </head>
  <body ng-app="GooglePickerExample" ng-controller="ExampleCtrl" ng-init="initialize()">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="text-center">
            <img src="images/logo-drive.png" class="logo" alt="Drive logo" />
            <div class="heading-headline">
              Angular Google Picker {{ selectedLocale.name }}
            </div>

            <p>
              The plugin also support locales, which allow you to open the Picker using the language of your choice :
              <a href="#" data-toggle="modal" data-target="#language">Select a language</a>
            </p>

            <div>
              <a href="javascript:;" lk-google-picker on-picked="onPicked(docs)" on-loaded="onLoaded()" on-cancel="onCancel()" class="btn btn-2 btn-2c btn-blue">
                <i class="fa fa-inbox"></i>
                <span>Pick files</span>
              </a>

              <a href="https://github.com/softmonkeyjapan/angular-google-picker" class="btn btn-2 btn-2c btn-blue">
                <i class="fa fa-github"></i>
                <span>Fork me</span>
              </a>
            </div>
          </div>

          <div class="row dashed-border" ng-switch="files.length > 0">
            <div class="text-center" ng-switch-when="false">
              <div class="none">No files selected yet</div>
            </div>

            <div ng-switch-when="true">
              <div class="col-sm-4 item item-test" ng-repeat="file in files">
                <a href="{{ file.url }}" target="_blank">
                  <div class="icon">
                    <div class="document">
                      <span class="ng-binding">
                        {{ file.name | getExtension }}
                      </span>
                    </div>
                  </div>
                  <span>{{ file.name | limitTo:20 }}</span><span ng-if="file.name.length >=20">...</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal language select -->
    <div class="modal fade" id="language" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Select a language</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
                <p>
                  More languages at <a href="https://developers.google.com/picker/docs/" target="_blank">https://developers.google.com/picker/docs/</a>
                </p>
                <select ng-model="selectedLocale" ng-change="changeLocale(selectedLocale)" ng-options="l as l.name for l in languages" class="form-control">
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-2 btn-2c btn-blue" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
