/* 
    Created on : 09.12.2015, 11:01:01
    Author     : Kristian
*/

#app7020-assets-gotId{
	position: relative;
	.wrapper{
		border: 1px #E5E5E5 solid;
		padding: 8px;
		background: #fff;
		display: table;
		width: 100%;
		box-sizing: border-box;
		.doceboIcon{
			background: url('../images/app_docebo.png') no-repeat center center;
			width: 60px;
			height: 60px;
			display: table-cell;
			vertical-align: middle;
		}
		.text{
			display: table-cell;
			vertical-align: middle;
			padding: 0 16px;
			p{
				margin: 0 0 2px 0;
				color: #0465AC;
				font-weight: 600;
				font-size: 18px;
			}
			span{

			}
		}
		.appLinks{
			background: url('../images/get_app_buttons.png') no-repeat center center;
			width: 260px;
			display: table-cell;
			vertical-align: middle;
			padding-right: 60px;
			.downloadfromappstore{
				width: 130px;
				cursor:pointer;
				position: absolute;
				height: 39px;
				right: 170px;
				bottom: 8px;
			}
			.downloadfromgoogleplay{
				width: 115px;
				cursor: pointer;
				position: absolute;
				height: 38px;
				right: 40px;
				bottom: 9px;
			}
		}
	}
}
#app7020-pl-uploader {
	.app7020-general-heading {
		text-align: center;
	}
	.app7020-hint-container {
		padding: 30px 0;
		text-align: center;
	}
}
/* BROWSE | SHARE LINK */
#assetsContainerBoxes {
    border: 1px #E5E5E5 solid;
	/*border-bottom: none;*/
    background: #F8F8F8;
    margin-bottom: 20px;
    padding: 20px;
	.gdrive {
		text-align:center; 
		.gd-logo {
			padding-top:25px;
		}
		.gd-title {
			font-size: 16px;
			color: #000;
			margin-bottom: 0px;
			padding-top: 8px;
		}
		p.text-gray {
			color:#999999;
			margin-bottom:7px;
		}
	}
	.browse,
    .shareLink {
        border: 1px #E5E5E5 solid;
        height: 190px;
        background-color: #fff;
        @media (max-width: 767px) {
            max-width: 370px;
            margin: 0 auto;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        .fa {
            display: block;
            font-size: 45px;
            text-align: center;
            padding-top: 25px;
            &.fa-laptop {
                &:after {
                    font-family: "FontAwesome";
                    display: block;
                    font-size: 14px;
                    margin-bottom: 19px;
                    margin-top: -32px;
                    color: red;
                    content: "\f111";
                }
            }
        }

        .text {
            font-size: 16px;
            padding-top: 10px;
            text-align: center;
        }
        a {
            outline: none;
            text-decoration: none;
            display: inline-block;
            color: #fff;
            height: 33px;
            line-height: 33px;
            padding: 0 10px;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            min-width: 140px;
            margin-top: 5px;
            transition: opacity .1s;
            &:hover {
                opacity: .8;
            }
        }
    }
    .browse {
        /*background: url("../images/get_7020_mobile_app.png") no-repeat center center #fff;*/
        .fa, .text {
            color: #0264AD;
        }
        a {
            background: #0264AD;
        }
    }

	#shareLinkActiveForm{
		display: table;
		height: 100%;
		padding: 0 15px;
		box-sizing: border-box;
		width: 100%;
		.wrapper{
			display: table-cell;
			vertical-align: middle;
			.linkInput{
				input{
					width: 100%;
					box-sizing: border-box;
					height: 32px;
				}
			}
			.buttonsPlace{
				text-align: center;
				.submitShareButton{
					@include app7020-button(green);
					font-size: 14px;
					height: 33px;
					line-height: 33px;
					min-width: 160px;
					box-shadow: none !important;
					margin-top: 10px;
				}
			}
		}
	}
}
#contributeMasterContainer{
	#app7020TabsPlus{
		.tab-content{
			padding-top: 20px;
		}
	}
}
.modal.app7020-contribute-confirmDelete-asset-dialog{
	@extend %app7020ModalDefaultStyle;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
#gotItChannelFeatures {
	display: none;
}
.app7020AssetModal  {
	[data-custom="channelWidgetContainer"]{
		display: none;
	}
}
[data-custom="channel-public-private"]{
	@extend %channelTreeWidget;  
	.checkbox-item-row {
		width: 100%;
		padding-left: 30px;
		position: relative;
		box-sizing: border-box;
		.app7020-visibility-row {
			i {
				float: left; 
				font-size: 18px;
				margin-right: 4px;
			}
			p {
				color: #999;
				font-size: 11px;
				line-height: 13px;
			}
		}
		label {
			&:before {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto; 
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f10c';
				position: absolute;
				font-size: 19px;
				left: 0px;
			}
		}
		input {
			display: none;
			z-index: -9999;
			position: absolute;
			top:0;
			left:0;
			&:checked  + label {
				&:before {
					content: "\f05d";
				}
			}
		}
	}
}
