/* 
    Created on : 09.12.2015, 14:39:08
    Author     : Kristian
*/

.assetActiveStatusesContainer{
	display: none;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px #E6E6E6 solid;
	height: 52px;
	padding: 5px 0;
	&:first-of-type{
		border-top: 1px #E6E6E6 solid;
	}
	.typeIcon{
		display: table-cell;
		vertical-align: middle;
		width: 65px;
		text-align: center;
		.fa{
			display: inline-block;
			background: #F8F8F8;
			border: 1px #E5E5E5 solid;
			line-height: 25px;
			width: 43px;
			color: #BFBFBF;
			font-size: 14px;
		}
	}
	.contentWrapper{
		display: table-cell;
		vertical-align: middle;
		> div{
			display: none;
			p{
				margin: 0;
			}
			a{
				color: #0465AC;
				text-decoration: underline;
				outline: none;
			}
			.green{
				color: #5ebe5c;
			}
			.red{
				color: #E84C3D;
			}
			.progress{
				height: 5px;
				background: #E4E6E5;
				@include border-radius(0);
				box-shadow: none;
				margin: 7px 0 0 0;
				div{
					@include transition(width 1s ease);
					height: inherit;
				}
				&.green{
					div{
						background: #5ebe5c;
					}
				}
				&.red{
					div{
						background: #E84C3D;
					}
				}
			}
		}
	}
	.controllIcon{
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		text-align: center;
		.fa{
			display: none;
			line-height: 25px;
			font-size: 22px;
			cursor: pointer;
			&.fa-pencil-square-o{
				color: #0465AC;
				margin-top: 6px;
			}
			&.fa-repeat{
				color: #333;
				margin-top: 3px;
			}
			&.fa-spinner{
				color: #333;
				margin-top: 3px;
				cursor: default;
				-webkit-animation:spin 4s linear infinite;
				-moz-animation:spin 4s linear infinite;
				animation:spin 4s linear infinite;
			}


		}
		.tooltip{
			.tooltip-inner{
				padding-bottom: 2px;
				padding-top: 0;
			}
		}




	}

	/* Statuses style definitions */
	&[data-conversion-status="0"]{
		display: table;
		.contentWrapper [data-conversion-status="0"]{
			display: block;
		}
		.controllIcon .fa-spinner{
			display: inline-block;
		}
	}
	&[data-conversion-status="1"]{
		display: table;
		.contentWrapper [data-conversion-status="1"]{
			display: block;
		}
		.controllIcon .fa-spinner{
			display: inline-block;
		}
	}
	&[data-conversion-status="3"]{
		display: table;
		.contentWrapper [data-conversion-status="3"]{
			display: block;
		}
		.controllIcon .fa-spinner{
			display: inline-block;
		}
		.progress {
			position: relative;
				height: 5px;
				background: #E4E6E5;
				@include border-radius(0);
				box-shadow: none;
				margin: 7px 0 0 0;
 			>  div {
				height: initial!important;
				&:before {
					content: '';
					position: absolute;
					background-color: inherit;
					top: 0;
					left: 0;
					bottom: 0;
					will-change: left, right;
					-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
					animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
				}
				&:after {
					content: '';
					position: absolute;
					background-color: inherit;
					top: 0;
					left: 0;
					bottom: 0;
					will-change: left, right;
					-webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
					animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
					-webkit-animation-delay: 1.15s;
					animation-delay: 1.15s;
				}
			}
		}
	}
	&[data-conversion-status="1"]{
		display: table;
		.contentWrapper [data-conversion-status="1"]{
			display: block;
		}
		.controllIcon .fa-spinner{
			display: inline-block;
		}
		.progress.green {
			position: relative;
				height: 5px;
				background: #E4E6E5;
				@include border-radius(0);
				box-shadow: none;
				margin: 7px 0 0 0;
 			>  div {
				height: initial!important;
				&:before {
					content: '';
					position: absolute;
					background-color: inherit;
					top: 0;
					left: 0;
					bottom: 0;
					will-change: left, right;
					-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
					animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
				}
				&:after {
					content: '';
					position: absolute;
					background-color: inherit;
					top: 0;
					left: 0;
					bottom: 0;
					will-change: left, right;
					-webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
					animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
					-webkit-animation-delay: 1.15s;
					animation-delay: 1.15s;
				}
			}
		}
	}
	&[data-conversion-status="6"]{
		display: table;
		.contentWrapper [data-conversion-status="6"]{
			display: block;
		}
		/*		.controllIcon .fa-pencil-square-o{
					display: block;
				}*/
	}
	&[data-conversion-status="7"]{
		display: table;
		.contentWrapper [data-conversion-status="7"]{
			display: block;
		}
		/*		.controllIcon .fa-repeat{
					display: block;
				}*/
	}
	&[data-conversion-status="8"]{
		display: table;
		.contentWrapper [data-conversion-status="8"]{
			display: block;
		}
		/*		.controllIcon .fa-repeat{
					display: block;
				}*/
	}
	.progress div {
		background: #6BBF6B;
	}
	/* Hide progress bar on contentType 15 "Links" */



}
.assetStatusesContainerEmptyItem{
	border-top: 1px #E6E6E6 solid;
	border-bottom: 1px #E6E6E6 solid;
	p{
		margin: 0 0 0 0;
		a{
			text-decoration: underline;
			color: #0465AC !important;
			display: inline-block;
			margin-left: 15px;
		}
	}
	&.active{
		margin-top: -20px;
		padding: 18px 0 17px 0;
	}
	&.finish{
		padding: 18px 0 17px 0;
	}
}
#contributeMasterContainer { 
	.assetActiveStatusesContainer {
		.customDropdown-widget.customDropdown {
			display: none;
		}
		.controllIcon{
			text-align: center;
			ul {
				li{
					&:last-child , &:last-child > div{
						color:#E84C3D!important;
					}
				}
			}
		}


		/* Statuses style definitions */


		&[data-conversion-status="6"],&[data-conversion-status="7"],&[data-conversion-status="8"]{
			&:hover {
				.customDropdown-widget.customDropdown {
					display: block;
				}
			}
		}


		.awesomeIcon-dots {
			&:before {
				content: "\f141"!important;

			}   

		} 
	}

} 

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*
.progress {
	position: relative;
	height: 4px;
	display: block;
	width: 100%;
	background-color: #acece6;
	border-radius: 2px;
	background-clip: padding-box;
	margin: 0.5rem 0 1rem 0;
	overflow: hidden; 

	.indeterminate {
		background-color: #26a69a; 
		&:before {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			-webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
			animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
		}
		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			top: 0;
			left: 0;
			bottom: 0;
			will-change: left, right;
			-webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
			-webkit-animation-delay: 1.15s;
			animation-delay: 1.15s;
		}
	}
}*/


@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }
@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }