/* 
    Created on : 14.12.2015, 17:31:06
    Author     : Kristian
*/

.modal.app7020-asset-modal-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 880px;
	margin-left: -440px;
	.modal-footer{
		padding: 0;
	}
}
.app7020AssetModal{
	.contribute_file_header{
		margin-top: -15px;
		.info{
			display: table;
			width: 100%;
			box-sizing: border-box;
			height: 45px;
			.file{
				display: table-cell;
				vertical-align: middle;
				strong{
					font-weight: 600;
					font-size: 14px;
				}
				.name{
					padding-left: 10px;
				}
			}
			.required{
				display: table-cell;
				vertical-align: middle;
				font-size: 12px;
				text-align: right;
				span{
					color: red;
				}
			}
		}
	}
	.leftSide{
		.chooseThumb {
			display: block;
			color: #999;
			font-size: 11px;
			margin-top: 7px;
			float: left;
			width: 100%;
			margin-bottom: 7px;
		}
		.thumbnails{ 
			padding-right: 7px;
			> img{
				border: 1px solid #e4e6e5;
				box-sizing: border-box;
				width: 75px;
			}
			#thumbs{

				display: block;
				font-size: 0;
				margin-top: 10px;
				input{
					display: none;
				}
				label{
					display: inline-block;

					margin-bottom: 10px;
					box-sizing: border-box;
					position: relative;
					max-width: 75px;
					height: 45px;
					overflow: hidden;
					margin-left: 5px; 

					&:before{
						border: 0 solid transparent;
						box-sizing: inherit;
						content: "";
						height: 100%;
						width: 100%;
						margin-right: 0;
						position: absolute;
						@include transition(all .15s linear);
					}
					img{
						border: 1px solid #e4e6e5;
						box-sizing: border-box;
						min-height: 45px;
						max-width: 75px;

					}
					&:first-of-type{
 						margin-left: 0px!important;

					}
				}
				input:checked + label{
					&:before{
						border: 3px solid #5EBE5E;
					}
				}

			}
		}
		.details{
			input{
				box-sizing: border-box;
				display: block;
				height: 34px;
				width: 100%;
			}
			textarea{
				box-sizing: border-box;
				display: block;
				min-height: 87px;
				width: 100%;
				line-height: 17px;
				resize: none;
			}
		}
		.tags{
			margin-top: 10px;
			.twitter-typeahead{
				display: block !important;
			}
			input{
				box-sizing: border-box;
				display: block;
				height: 34px;
				width: 100%;
			}
			#tags{
				margin-bottom: 6px;
			}
		}
		.allowDownload{
			margin-top: 31px;
			input{
				display: none;
			}
			input + label{
				display: inline-block;
				padding-left: 27px;
				position: relative;
				&:before{
					position: absolute;
					width: 17px;
					content: '';
					height: 17px;
					left: 0;
					top: 2px;
					background: url(../images/icons_elements.png) no-repeat -144px -201px;
				}
			}
			input:checked + label{
				&:before{
					background: url(../images/icons_elements.png) no-repeat -190px -201px;
				}
			}
		}
	}
	.rightSide{
		[data-custom="treeWidgetContainer"] .widgetHeader .title{
			font-weight: 600;
		}
	}
	.text-label{
		.title{
			display: block;
			font-size: 15px;
			font-weight: 600;
			strong{
				color: red;
			}
		}
		.subTitle{
			display: block;
			color: #999;
			font-size: 11px;
		}
	}
	.footerButtons{
		margin-top: 25px;
		font-size: 0;
		.pull-left{
			a{
				display: none;
			}
			a:not(:last-child){
				margin-right: 12px;
			}
		}
		.pull-right{
			a:not(:first-child){
				margin-left: 12px;
			}
		}
		a{
			@include app7020-button(black);
			line-height: 33px;
			height: 33px;
			padding: 0 15px;
			font-size: 14px;
			min-width: 100px;
			&.red{
				background: #E74C3C;
			}
			&.green{
				background: #5EBE5E;
			}
			&.black{
				background: #333333;
			}
		}
	}
	&[data-conversion-status="0"], &[data-conversion-status="1"]{
		.footerButtons .pull-left .cancelUpload{
			display: block;
		}
	}
	&[data-conversion-status="3"], &[data-conversion-status="6"]{
		.footerButtons .pull-left .deleteAsset{
			display: block;
		}
	}
}

.app7020-confirm-delete-modal-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 420px;
	margin-left: -210px;
}
 