/* 
    Created on : 09.12.2015, 17:14:30
    Author     : Kristian
*/

.assetFinishStatusesContainer{
	display: none;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px #E6E6E6 solid;
	height: 66px;
	padding: 5px 0;
	text-decoration: none;
	outline: none;
	@include transition(background .2s linear);
	&:hover{
		text-decoration: none;
		background: #F1F3F2;
		box-shadow: 0 0 0 1px #fff inset;
	}
	&:first-of-type{
		border-top: 1px #E6E6E6 solid;
	}
	.typeIcon{
		display: table-cell;
		vertical-align: middle;
		width: 65px;
		text-align: center;
		.thumbWrapper{
			width: 44px;
			border: 1px #E6E6E6 solid;
			display: inline-block;
			img{
				width: 100%;
			}
		}
	}
	.contentWrapper{
		display: table-cell;
		vertical-align: middle;
		> div{
			display: none;
			p{
				margin: 0;
				&.time{
					color: #aaa;
				}
				u{
					text-decoration: underline;
					color: #0465AC;
				}
			}
		}
	}
	.controllIcon{
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		text-align: center;
		.fa{
			line-height: 25px;
			font-size: 30px;
			cursor: pointer;
			&.fa-angle-right{
				color: #5ebe5c;
			}
		}
	}

	/* Statuses style definitions */
	&[data-conversion-status="10"]{
		display: table;
		.contentWrapper [data-conversion-status="10"]{
			display: block;
		}
	}
	&[data-conversion-status="15"]{
		display: table;
		.contentWrapper [data-conversion-status="15"]{
			display: block;
		}
	}
	&[data-conversion-status="18"]{
		display: table;
		.contentWrapper [data-conversion-status="18"]{
			display: block;
		}
	}
}

.assetUploadedStatusesHeaderContainer{
	padding-bottom: 5px;
	span{
		display: inline-block;
	}
	u{
		text-decoration: underline;
		color: #0465AC;
		display: inline-block;
		cursor: pointer;
		outline: none;
	}
	a{
		text-decoration: underline !important;
		color: #0465AC !important;
		display: inline-block;
		margin-right: 25px;
		cursor: pointer;
		outline: none;
	}
}