/* 
    Created on : 09.12.2015, 17:14:30
    Author     : Kristian
*/

.assetPublishStatusesContainer{
	display: none;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px #E6E6E6 solid;
	height: 66px;
	padding: 5px 0;
	text-decoration: none;
	outline: none;
	pointer-events: none;
	@include transition(background .2s linear);
	&:hover{
		text-decoration: none;
		background: #F1F3F2;
		box-shadow: 0 0 0 1px #fff inset;
	}
	&:first-of-type{
		border-top: 1px #E6E6E6 solid;
	}
	.typeIcon{
		display: table-cell;
		vertical-align: middle;
		width: 65px;
		text-align: center;
		.thumbWrapper{
			width: 44px;
			border: 1px #E6E6E6 solid;
			display: inline-block;
			img{
				width: 100%;
			}
		}
	}
	.contentWrapper{
		display: table-cell;
		vertical-align: middle;
		> div{
			display: none;
			p{
				margin: 0;
				&.time{
					color: #aaa;
				}
				u{
					text-decoration: underline;
					color: #0465AC;
				}
			}
		}
	}
	.controllIcon{
		display: table-cell;
		vertical-align: middle;
		width: 60px;
		text-align: center;
		.viewButton{
					@include app7020-button(green);
					font-size: 14px;
					height: 33px;
					line-height: 33px;
					min-width: 100px;
					box-shadow: none !important;
					margin-right: 13px;
					pointer-events: auto;
				}
	}

	/* Statuses style definitions */
	&[data-conversion-status="20"]{
		display: table;
		.contentWrapper [data-conversion-status="20"]{
			display: block;
		}
	}
}