.app7020-confirm-invite-modal-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 400px;
	.modal-footer{
		padding: 20px;
	}
}
.app7020-confirm-invite-modal-dialog{
	#confirmInviteToWatchContainer{
		.fa-check-circle-o{
			font-size: 50px;
			color: #5EBE5E;
		}
		
		.confirmInviteText {
			display: inline-block;
			vertical-align: middle;
			max-width: 300px;
			font-size: 20px;
			line-height: 25px;
			
			.blue {
				color: #468cbf;
			}
		}
		
		.confirmInviteIcon {
			display: inline-block;
			vertical-align: middle;
		}
		
		
	}
}
