/* 
    Created on : 11.09.2015, 14:34:44
    Author     : Kristian
*/

#guruDashboard{
	margin-top: -10px;
	#navigation{
		@media (max-width: 767px){
			> div.span3{
				float: left;
				width: auto;
			}
			> div.span9{
				float: right;
				width: auto;
			}
		}
	}
	.myActivities{
		text-align: left;
		min-width: 160px;
		padding-top: 18px;
		a{
			outline: none;
			text-decoration: none;
			cursor: default;
			.signature{
				float: none;
				display: table-cell;
				.media-object{
					width: 70px;
					height: 70px;
				}
			}
			.labels{
				display: table-cell;
				vertical-align: middle;
				padding-left: 12px;
			}
			p{
				margin: 0;
				&.name{
					color: #0466b1;
					font-size: 20px;
				}
				&.role{
					font-size: 14px;
					font-weight: 400;
					color: #555;
					margin-top: 3px;
				}
				&.link{
					color: #1678c3;
					text-decoration: underline;
					font-size: 12px;
					margin-top: 4px;
				}
			}
		}
	}
	#main-content{
		margin-top: 6px;
		.tab-content{
			/*padding: 25px 0;*/
			overflow: unset;
		}
	}

	.list-view-loading{
		background: none;
		position: relative;
	}
	#activityRequestsSatisfy, #activityAssetsReview, #activityQuestions{
		.app7020-assets_pageBlank_hint{
			padding-top: 25px;
		}
	}
	div#newOnlyAssetsComboListView,div#reviewAssetsComboListView,div#ignoredAssetsComboListView{
		&.list-view-loading{
			background: none;
		}
		position: relative;
		.app7020GotItInformation{
			margin-top: 21px;
			position: absolute;
		}
		.app7020GotItInformation+.itemGrid{
			padding-top: 78px;
			/*border-top: 1px #E5E5E5 solid;*/
		}
		.itemGrid{
			&:first-of-type{
				//border-top: 1px #E5E5E5 solid;
			}
			border-bottom: 1px #E5E5E5 solid;
			display: table;
			
			&:nth-child(4n+1){
				.item{
					background: #f8f8f8;
				}
			}
			
			.item{
				border: 0;
				margin: 0;
				padding: 19px 10px;
				display: table-cell;
				vertical-align: middle;
				&:hover{
					.content{
						.fa-bell-slash-o, .fa-bell-o,.fa-pencil-square-o{
							display: block!important;
						}
					}
				}
				.thumb{
					width: 108px;
					.time{
						display: none;
					}
					.asterisk{
						top:0;
						left:0;
					}
					.count,.new{
						top:0;
						right:0;
					}
				}
				.content{
					margin-left: 123px;
					padding-top: 0;
					padding-right: 70px;
					position: relative;
					a{
						outline: none;
						text-decoration: none;
						h4{
							font-size: 13px;
							font-weight: 600;
						}
						&:hover{
							h4{
								color: #0465ac;
								text-decoration: underline;
							}
						}
					}
					.fa-bell-slash-o, .fa-bell-o{
						cursor: pointer;
						display: none;
						font-size: 22px;
						height: 30px;
						line-height: 30px;
						position: absolute;
						right: 0;
						text-align: center;
						top: 0;
						width: 30px;
					}
					.fa-pencil-square-o{
						cursor: pointer;
						display: none;
						font-size: 22px;
						height: 30px;
						line-height: 30px;
						position: absolute;
						right: 30px;
						text-align: center;
						top: 0;
						width: 30px;
						color:#61C064;
					}
				}
				.footer{
					margin-left: 123px;
					margin-top: 8px;
					padding-right: 70px;
					.info{
						font-size: 12px;
						color: #999;
						display: inline-block;
						line-height: 23px;
						padding-right: 12px;
						padding-left: 0;
						.views{
							display: none;
						}
					}
					.by{
						font-size: 12px;
						color: #333;
						display: inline-block;
						line-height: 23px;
						padding: 0;
						span{
							color: #1879c0;
							text-decoration: underline;
							cursor: default;
						}
					}
					.customTopics-widget{
						display: inline-block;
						line-height: 20px;
						vertical-align: top;
						.listArray{
							li{
								background: #E4E6E5;
								height: 23px;
								line-height: 23px;
							}
						}
					}
				}
			}
		}
	}
	div[id^="questionsYouHaveToAnswer_list"]{
		&.list-view-loading{
			background: none;
		}
		position: relative;
	}
}

.modal.app7020-quickQuestionView-dialog{
	&.largeBox{
		@include transition(all 1s);
		width: 870px;
		margin-left: -435px;
	}
	.modal-header h3{
		font-weight: 400;
	}
	.modal-body{
		max-height: none;
	}
	.modal-footer{
		display: none;
	}
	#app7020-quickQuestionView-dialog{
		overflow: hidden;
		#modalContainer{
			.playerView{
				min-height: auto;
				border: 1px #ccc solid;
				/*line-height: 252px;*/
				text-align: center;
				font-weight: 600;
				font-size: 20px;
				color: #999;
			}
			.commentView{
				border-top: 1px #E5E5E5 solid;
				padding-top: 12px;
				.currentQuestion{
					.signature{
						padding-left: 6px;
					}
					.question-body{
						margin-left: 63px;
						p, div{
							margin: 0;
							&.author{
								color: #0567b2;
								font-size: 14px;
								font-weight: 600;
								text-transform: capitalize;
							}
							&.title{
								font-size: 13px;
								font-weight: 400;
								line-height: 15px;
								padding-top: 2px;
								word-wrap: break-word;
							}
							&.additionalInformation{
								padding-top: 5px;
								.ago{
									color: #999;
									font-size: 12px;
								}
								.countAnswers{
									color: #0567b2;
									font-size: 12px;
									font-weight: 700;
									text-transform: uppercase;
									padding-left: 10px;
								}
							}
						}
					}
				}
				.answersSection{
					margin-top: 14px;
					.addNewAnswerForm{
						border: 1px #E5E5E5 solid;
						background: #F8F8F8;
						padding: 17px;
						position: relative;
						box-sizing: border-box;
						display: table;
						width: 100%;
						.signature{
							display: table-cell;
							vertical-align: top;
							float: none;
							height: 40px;
							width: 40px;
							padding-right: 10px;
						}
						.sendAnswerButton{
							background: #53ab54 none repeat scroll 0 0;
							border: 0 none;
							color: #fff;
							display: block;
							font-size: 13px;
							height: 33px;
							line-height: 32px;
							padding: 0 15px;
							position: absolute;
							right: 27px;
							text-decoration: none;
							text-transform: uppercase;
							top: 70px;
							z-index: 5;
						}
						#addNewAnswerField{
							display: table-cell;
							vertical-align: top;
							margin: 0;
							resize: none;
							width: 100%;
							box-sizing: border-box;
						}
						.mce-tinymce .mce-container-body .mce-edit-area{
							iframe{
								height: 70px !important;
							}
							height: 70px !important;
							padding-right: 85px;
						}
					}
					#listView_answers{
						position: relative;
						.summary{
							display: none;
						}
						.items{
							border: 1px #E5E5E5 solid;
							border-bottom: 0;
							max-height: 157px;
							overflow: hidden;
							overflow-y: auto;
							.empty{
								display: none;
							}
							.item{
								@extend .currentQuestion;
								padding: 11px;
								background: #fff;
								&:nth-last-of-type(even){
									background: #F8F8F8;
								}
								&:not(:first-child){
									border-top: 1px #E5E5E5 solid;
								}
							}
							.mCSB_outside + .mCSB_scrollTools {
								right: -17px;
							}
						}
					}
				}
			}
		}
		#controlls{
			float: right;
			padding-top: 15px;
			a{
				text-decoration: none;
				height: 33px;
				line-height: 33px;
				display: inline-block;
				&:last-child{
					margin-left: 12px;
				}
			}
			.blue{
				color: #fff;
				text-transform: uppercase;
				font-size: 13px;
				padding: 0 10px;
				background: #0465AC;
				font-weight: 800;
				text-shadow: 0 1px #444444;
				&:hover{
					background: #0a569d;
				}
			}
			.black{
				color: #fff;
				text-transform: uppercase;
				font-size: 13px;
				padding: 0 10px;
				background: #333333;
				font-weight: 800;
				text-shadow: 0 1px #444444;
				&:hover{
					background: #383838;
				}
			}
		}
	}
}

.modal.app7020-confirmTakeInCharge-dialog{
	@extend %app7020ModalDefaultStyle;
	#confirmTakeInChargeFormContainer{
		input[type=checkbox] { 
			display:none; 
		}
		input[type=checkbox] + label:before {
			position: absolute;
			left: 15px;
			width: 18px;
			height: 18px;
			background: url(../images/icons_elements.png) -143px -201px no-repeat;
			display: inline-block;
			content: ' ';
		}
		input[type=checkbox]:checked + label:before { 
			background-position: -189px -201px;
		}
		label{
			margin-left: 25px;
		}
	}
}
.modal.app7020-confirmAddInIgnoreList-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 478px;
	margin-left: -239px;
	#confirmAddInIgnoreList{
		p{
			font-size: 14px;
		}
		div{
			line-height: 15px;
			padding-top: 12px;
		}
	}
}

.modal.app7020-confirmTookInCharge-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 478px;
	margin-left: -239px;

	input[type=checkbox] { 
		display:none; 
	}
	input[type=checkbox] + label:before {
		position: absolute;
		left: 15px;
		width: 18px;
		height: 18px;
		background: url(../images/icons_elements.png) -143px -201px no-repeat;
		display: inline-block;
		content: ' ';
	}
	input[type=checkbox]:checked + label:before {
		background-position: -189px -201px;
	}
	label{
		margin-left: 25px; 
	}
}