.wizard-step.schedule .light-description{
	margin-left: 30px;
	font-size: 11px;
}
.modal-body select.input-small{
	width: 100px;
}

/* Widen the wizard dialog's a bit */
.modal.rule-wizard-dialog{
	width: 700px;
	margin-left: -350px;
}

.step-recipes .recipe-descriptor,
.step-actions .recipe-descriptor{
	background: #F6F6F6;
	border: 1px solid #E5E5E5;
	padding: 10px;
}
.step-recipes .recipes-placeholder.empty,
.step-actions .actions-placeholder.empty{
	font-style: italic;
	opacity: 0.6;
}
.step-recipes .recipe-descriptor .if-holder,
.step-actions .recipe-descriptor .if-holder, .step-actions .recipe-descriptor .then-holder{
	text-transform: uppercase;
	color: #55AB54;
}

.step-recipes p.define-condition-title ,
.step-actions p.define-action-title{
	margin-bottom: 5px;
}
.step-recipes p.define-condition-title{
	margin-left: 2px;
}

.step-recipes #conditions_list,
.step-actions #actions_list{
	width: 100%;
}
.step-recipes .recipes-settings,
.step-actions .actions-settings{
	margin-top: 10px;
	margin-bottom: 10px;
}
.step-recipes .recipes-settings.loading,
.step-actions .actions-settings.loading{
	height: 50px;
}
.step-recipes .recipes-settings input,
.step-recipes .recipes-settings select,
.step-actions .actions-settings input,
.step-actions .actions-settings select{
	width: 100%;
}
.step-recipes .user-inactivity-rule-settings input{
	width: 90%;
}
.step-recipes .user-inactivity-rule-settings select{
	width: 100%;
}
.step-recipes .condition-operators{
	margin-top: 20px;
}
.step-recipes .cookbook-wrapper,
.step-actions .cookbook-wrapper{
	margin-top: 15px;
	margin-bottom: 15px;
}
.step-recipes .cookbook-wrapper .inner,
.step-actions .cookbook-wrapper .inner{
	border: 1px solid #E5E5E5;
	padding: 10px;
}
.step-recipes .cookbook-wrapper h3,
.step-actions .cookbook-wrapper h3{
	font-size: 16px;
	color: #6FCF6F;
	margin-bottom: 10px;
}
.step-recipes .cookbook-wrapper .single-condition,
.step-actions .cookbook-wrapper .single-action{
	background: #F6F6F6;
	border: 1px solid #E5E5E5;
	padding: 10px;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.step-recipes .cookbook-wrapper .single-condition .edit-condition,
.step-recipes .cookbook-wrapper .single-condition .delete-condition,
.step-actions .cookbook-wrapper .single-action .edit-action,
.step-actions .cookbook-wrapper .single-action .delete-action{
	margin-right: 10px;
}

.single-column{
	width: 20px !important;
	padding: 6px 4px !important;
}

/* LAST STEP */
.step-finished .new-rule-success-content > h3{
	padding-bottom: 10px;
	font-size: 20px;
}
.step-finished .new-rule-success{
	margin-top: 67px;
	margin-bottom: 12px;
	float: left;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	color: #52ab52;
}
.step-finished .new-rule-info-row{
	border-top: 1px solid #e4e6e5;
	padding: 17px 0;
	overflow: hidden;
	width: 95%;
}
.step-finished .new-rule-info-row .pull-right{
	margin-left: 30px;
}
.step-finished .new-rule-info-row .lbl{
	margin-top: 5px;
}
.step-finished .new-rule-info-row .lbl span > span{
	font-weight: bold;
}
.step-finished .new-rule-success-content .new-rule-info-row:last-child{
	border-bottom: 1px solid #e4e6e5;
}
.step-finished .new-rule-info-row .button{
	text-align: right;
}

/** Styles for BOOTSTRO in wizard **/
#popup_bootstroNoRecipes .popover-content,
#popup_bootstroNoActions .popover-content{
	margin-top: 60px;
	margin-left: 70px;
	text-align: left;
	line-height: 26px;
}
#popup_bootstroNoRecipes .popover-content .bootstro-arrow,
#popup_bootstroNoActions .popover-content .bootstro-arrow{
	left: -80px;
	top: -55px;
}