/* 
    Created on : 01.07.2015, 17:19:27
    Author     : Stanimir
*/
@font-face {
    font-family: 'Handlee';
    src: url('/themes/spt/fonts/handlee-regular-webfont.eot');
    src: url('/themes/spt/fonts/handlee-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/themes/spt/fonts/handlee-regular-webfont.woff') format('woff'),
		url('/themes/spt/fonts/handlee-regular-webfont.ttf') format('truetype'),
		url('/themes/spt/fonts/handlee-regular-webfont.svg#handleeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
$white: #fff;
$black: #333;
$master-text-color: $black!default;
$master-link-color: $black!default;
$container-grey-bg : #f1f3f2!default;
$border-grey : #e4e6e5!default;
$border-grey-light : #fefefe!default;
$rating-color: #F2C60D!default;
$border-grid-color: #ddd !default;

@import "compass/css3/user-interface";
$green-color: #5EBE5C;
$grey-color: #999999;
$red: #E74C3C;
$grey-border: #E5E5E5;
$grey-background: #f5f5f5; 
$grey-dark: #333333;
$progress-holder: #E4E6E5;
$edit-color: #0465AC; 
$save-color: $green-color;
$delete-color: #E84C3D;
$upload-container-height: 64px !default;
$camera-color: #BEBEBE;
$camera-size: 12px;
$camera-border-color: #E5E5E5;
/* radio buttons*/
$radioButtonChecked: '\f05d';
$radioButtonNotChecked: '\f10c';

/* Channels variables */
$breadcrumb_background_channels: #0465AC;
$breadcrumb_color_channels: #fff;
$breadcrumb_height_channels: 35px;

*{
	outline: none;
}
.hideOnSearch{
	display: none!important;
}
.breadcrumb_channels_style{
	background: $breadcrumb_background_channels;
	box-sizing: border-box;
    min-height: $breadcrumb_height_channels;
    padding: 7px 10px 0;
	color: $breadcrumb_color_channels;
	font-size: 0;
	margin-bottom: 20px;
	li{
		display: inline-block;
		font-size: 13px;
		a{
			color: $breadcrumb_color_channels;
			text-decoration: underline;
			text-shadow: none;
		}
		.icon-home{
			background: none;
			margin: 1px 0 0 0;
			&:before{
				font-family: "FontAwesome";
				content: "\f015";
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				text-shadow: none;
				color: $breadcrumb_color_channels;
			}
		}
		.divider{
			font-size: 0;
			&:before{
				font-family: "FontAwesome";
				content: "\f105";
				font-size: 15px;
				width: 20px;
				text-align: center;
				display: inline-block;
			}
		}
	}
}

body.backdrop{
	&:after{
		background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1010;
		transition: background .3s linear;
	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}