/* 
    Created on : 15.02.2016, 17:23:54
    Author     : Kristian
*/

#app7020ChannelsContainer{
    .main-actions{
        margin: 0;
        position: relative;
        @extend %actionButtons;

        ul{
            margin: 0;
            li{
                margin: 0;
                .fa{
                    font-size: 30px;
                }
                .boxTitle{
                    .innerBoxTitle{
                        height: 39px;
                        line-height: 13px;
                        min-height: 39px;
                    }
                }
                a{
                    padding: 20px 5px 0;
                    span{
                        background: transparent;
                    }
                }
            }
        }
    }
    .channelsGridViewWrapper{
        .filters-wrapper{
            display: none;
        }
        #channelsGridView{
            .items{
                .ui-sortable{
                    tr{
                        border-top: 1px #E6E6E6 solid;
                        box-sizing: border-box;
                        text-align: center;
                        opacity: 1;
                        &:last-child{
                            border-bottom: 1px #E6E6E6 solid;
                        }
                        .channel_name{
                            text-align: left;
                            min-height: 36px;
                            height: 36px;
                            padding-left: 61px;
                            position: relative;
                            .fa{
                                display: inline-block;
                                width: 35px;
                                height: 35px;
                                color: #fff;
                                background: #0465AC;
                                line-height: 35px;
                                text-align: center;
                                font-size: 16px;
                                left: 11px;
                                position: absolute;
                                top: 7px;
                            }
                            .channelDescription{
                                font-size: 11px;
                                display: block;
                                color: #979797;
                                /*max-width: 200px;*/
                                word-wrap: break-word;

                            }
                        }
                        td{
                            font-size: 13px;
                            padding-top: 7px;
                            padding-bottom: 6px;
                        }
                        .channel_visibility{
                            span{
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                        .channel_upload_permissions{
                            span{
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                        .channel_experts{
                            a > span{
                                cursor: pointer;
                                padding-right: 10px;
                                display: inline-block;
                                min-width: 50px;
                                text-align: right;
                                &.empty{
                                    color: #E48022;
                                }
                            }
                            .count{
                                display: inline-block;
                                font-style: normal;
                                padding-right: 7px;
                                text-decoration: underline;
                            }
                            .fa{
                                font-size: 17px;
                                vertical-align: bottom;
                            }
                        }
                        .channel_show{
                            .fa{
                                font-size: 21px;
                                color: #5CBC63;
                                cursor: pointer;
                                &.disabled{
                                    color: #999;
                                }
                            }
                        }
                        .channel_dnd{
                            .fa{
                                display: none;
                                font-size: 18px;
                                color: #999;
                                cursor: pointer;
                            }
                        }
                        .channel_dropdownMenu{
                            .customDropdown-widget{
                                display: none;
                                top: 1px;
                                text-align: left;
                                &:hover{
                                    .wrapper{
                                        border: 1px #e6e6e6 solid;
                                        background: #fff;
                                    }
                                }
                            }
                            .wrapper{
                                border: 1px transparent solid;
                                background: transparent;
                            }
                            .awesomeIcon-dots{
                                text-align: left;
                                &:before{
                                    content: "\f141";
                                    z-index: 2;
                                    position: absolute;
                                }
                                .listArray{
                                    &:before{
                                        content: "";
                                        display: block;
                                        height: 29px;
                                        left: -1px;
                                        position: absolute;
                                        top: -30px;
                                        width: 100%;
                                    } 
                               }
                            }
                        }
                        &:hover{
                            background: #F8F8F8;
                            .channel_dnd .fa, .customDropdown-widget{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}