/*
* Modals css
*/
.app7020-delete-channel-dialog{
	@extend %app7020ModalDefaultStyle;
	width: 430px;
	margin-left: -215px;
	.modal-header{
		background: #333333!important;
	}
	#app7020-edit-channel-dialog{
		.deleteChannel{
			.head{
				font-size: 13px;
				margin-bottom: 5px;
			}
			.noticeWrapper{
				margin-bottom: 23px;
				.noticeMessage{
					position: relative;
					background: #FFE59A;
					padding: 12px 12px 12px 50px;
					&:before{
						content: "\f06a";
						color: #333;
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 26px;
						height: 25px;
						left: 0;
						margin-top: -10px;
						position: absolute;
						text-align: center;
						top: 50%;
						width: 50px;
					}
					p{
						margin-bottom: 0;
						line-height: 16px;
					}
				}
			}
			.designChannelWrapper{
				margin-bottom: 23px;
				.designChannelInner{
					border: 1px #E4E6E5 solid;
					display: table;
					width: 100%;
					box-sizing: border-box;
					height: 95px;
					min-height: 95px;
					& > div {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						&.left{
							color: #E67E22;
						}
						&.right{
							color: #5EBE5D;
						}
						p{
							font-size: 30px;
							font-weight: 600;
						}
						span{
							display: inline-block;
							font-size: 14px;
							font-weight: 600;
							line-height: 14px;
							padding: 0 25px;
						}
					}
				}
			}
			.channelListtingWrapper{
				// TODO
			}
			.footerSection{
				[type="checkbox"]{
					display: none;
					& + label{
						position: relative;
						margin: 0;
						padding-left: 26px;
						top: 10px;
						&:before{
							position: absolute;
							display: inline-block;
							content: '';
							background: url('../images/icons_elements.png') no-repeat -144px -201px;
							width: 17px;
							height: 17px;
							left: 0;
							top: 2px;
						}
					}
					&:checked + label{
						&:before{
							background: url('../images/icons_elements.png') no-repeat -190px -201px;
						}
					}
				}
			}
		}
	}
}
.app7020-edit-channel-dialog {
	@extend %app7020ModalDefaultStyle;
	width: 665px;
	margin-left: -332.5px;
	.modal-header{
		background: #333333!important;
	}
	.form-actions {
		background: transparent;
		border: none;
		text-align: right;
	}
	#app7020-edit-channel-dialog {
		overflow: visible;
		.language_content.step1{
			.lang-wrapper{
				width:100%;
				position:relative;
				.channelLangBox{
					p{
						font-size: 13px;
						font-weight: 700;
						margin: 0 0 8px;
					}
					select{
						border-radius: 0;
						width: 94%;
						outline: 0;
					}
				}
			}
			.channelTitleBox {
				p{
					font-size: 13px;
					margin-bottom: 8px;
				}
				input{
					border-radius: 0;
					box-sizing: border-box;
					height: 30px;
					width: 100%;
				}
			}
			.channelLangInfo{
				padding-top:24px;
				p{
					margin:0 0 -2px;
					&.assignedLang{
						strong{
							color:#00CC00;
						}
					}
					&.requiredLang,&.maxLetters{
						display:none;
						color:#ff0000;
						margin-top:5px;
						font-size:13px;
						font-weight:400;
					}
				}

			}
		}
		.channelLookAndFell.step2{
			> h2{
				font-size: 13px;
				font-weight: 500;
				border-bottom: 1px solid #e4e6e5;
				padding-bottom: 4px;
			}
			#color-picker-section{
				display: table;
				width: 100%;
				box-sizing: border-box;
				margin-top: 14px;
				.label-icon,
				.label-color{
					display: table-cell;
					vertical-align: middle;
				}
				.label-icon{
					.label-icon-title{
						display: inline-block;
						padding-right: 7px;
					}
					#channelIconPicker{
						display: inline-block;
						background: #fff none repeat scroll 0 0;
						border: 1px solid #cccccc;
						box-shadow: none;
					}
				}
				.label-color{
					.label-color-title{
						display: inline-block;
						padding-right: 7px;
					}
					.colors{
						display: inline-block;
					}
					.wrap{
						.tooltip{
							opacity: 1;
							display: none;
						}
						input.color{
							margin: 0;
							width: 90px;
							box-sizing: border-box;
							padding-right: 5px;
							padding-left: 5px;
							height: 32px;
						}
						.color-preview-wrap{
							display: inline-block;
							vertical-align: middle;
							.color-preview{
								width: 25px;
								height: 25px;
								border: 1px #E4E6E5 solid;
								box-sizing: border-box;
								box-shadow: inset 0 0 0 1px #fff;
							}
						}
					}
				}
			}
			.preview-title{
				font-weight: 600;
				margin-top: 20px;
				margin-bottom: 6px;

			}
			.preview-content{
				background: #f5f5f5;
				padding: 23px 0;
				margin: 0 -15px;
				.preview-tile{
					min-height: 42px;
					position: relative;
					background: #0465ac none repeat scroll 0 0;
					min-height: 42px;
					text-align: right;
					.fa{
						display: inline-block;
						font-size: 22px;
						height: 22px;
						margin-top: -11px;
						position: absolute;
						right: 11px;
						text-align: center;
						top: 50%;
						width: 22px;
					}
				}
				.preview-content-title{
					font-size: 22px;
					margin-bottom: 6px;
					padding-left: 15px;
				}
				.preview-content-description{
					color: #999;
					padding-left: 16px;
				}
			}
			.sort-section{
				margin-top:28px;
				.subTitle{
					display:none;
				}
				#sort{width:400px}

				ul.holder {
				  min-height: 27px;
				  border-left: 1px solid #999999;
				  border-top: 1px solid #999999;
				  border-bottom: 1px solid #e5e5e5;
				  border-right: 1px solid #e5e5e5;
				  background: #fff;

				  li.bit-box{
					-webkit-border-radius: 3px;
					border-radius: 3px;
					border: 1px solid #cccccc;
					background: #e4e6e5;
					padding: 5px 20px 5px 5px;
				  }

				  li.bit-input input{
					height: auto;
					overflow: visible;
					margin: 0px;
					border-width: 0px;
					border-style: initial;
					border-color: initial;
					border-image: initial;
					outline: 0px;
					padding: 3px 0px 2px;
					font: 11px "Lucida Grande", Verdana;
					background:#f9f9f9;
				  }
				}
			}
			.clone-info{
				margin-top:28px;
				h2{
					font-size:13px;
					font-weight:normal;
					.subTitle{
						font-size:11px;
						color:#878787;
						display:block;
						margin-bottom:12px;
					}
				}
				ul{
					border-top:1px solid #e4e6e5;
					li{
						display:block;
						border-bottom:1px solid #e4e6e5;
						line-height:38px;
						strong{
							padding-left:10px;
							display:inline-block;
							width:153px;
						}
					}
				}
			}
		}
		#permissions{
			display: block;
			margin-top: 10px;
			input {
				display: none;
				& + label {
					font-size: 13px;
					display: block;
					padding-left: 25px;
					margin: 0;
					color: #333;
					position: relative;
					outline: none;
					&:not(:last-of-type){
						margin-bottom: 15px;
					}
					.subData {
						color: #999;
						display: block;
						font-size: 12px;
						font-weight: 400;
						line-height: 12px;
					}
					&:before {
						color: #333;
						content: "\f10c";
						display: inline-block;
						font-family: "FontAwesome";
						font-size: 18px;
						position: absolute;
						left: 0;
						top: 1px;
					}
				}
				&:checked + label {
					&:before {
						content: "\f05d";
					}
				}
			}
		}
	}

	#topic-wizard-step-finish-form{
		padding-top:10px;
		.intro{
			border-bottom: 1px #E4E6E5 solid;
			font-size: 20px;
			margin-bottom: 0;
			padding-bottom: 7px;
		}
		.row-with-border{
			border-bottom: 1px #E4E6E5 solid;
			display: table;
			height: 60px;
			p{
				margin: 0;
				display: table-cell;
				vertical-align: middle;
				text-align: left;
			}
			.btnWrapper{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
				@extend %dialog-buttons;
				.btn{
					height: 33px;
					line-height: 33px;
					min-width: 100px;
					text-shadow: 1px 1px 1px #555;
					padding: 0 15px;
					font-weight: 700;
				}
			}
		}
	}

	.copy-success-wrapper,
	.enroll-success {
		text-align: center;
		line-height: 20px;
	}
	.copy-success,
	.new-user-success,
	.modal-body .new-course-success,
	.modal-body .new-group-success,
	.left,
	.success-text {
		color: #52ab52;
		margin-bottom: 12px;
		font-size: 18px;
		line-height: 22px;
		text-align:center;
	}
	.copy-success-icon {
		height: 37px;
		width: 37px;
		background: url(../images/icons_elements.png) -172px -62px no-repeat;
		margin: 0 auto 12px;

	}
	.copy-success-wrapper input {
		margin-top: 33px;
		min-width: 100px;
	}
	&.modal.users-selector{
		min-height:auto;
		.modal-body{
			min-height:100%;
			max-height:100%;
		}
	}
	.modal-footer{
		@extend %dialog-buttons;
		.btn{
			height: 33px;
			line-height: 33px;
			margin: 0 0 0 17px;
			text-shadow: 1px 1px 1px #555;
			min-width: 100px;
			&:not(.close-dialog){
				background: #5EBE5E;
			}
			&.step-finish-prev-button{
				margin-left: 162px;
				float: left;
			}
		}
	}
	.color-item{
		.wrap{
			position:relative;
			.tooltip{
				left: 120px !important;
				top: -80px !important;
			}
		}
	}
}

.app7020-unassign-experts-dialog{
	@extend %app7020ModalDefaultStyle;
	.footerSection{
		[type="checkbox"]{
			display: none;
			& + label{
				position: relative;
				margin: 0;
				padding-left: 26px;
				top: 10px;
				&:before{
					position: absolute;
					display: inline-block;
					content: '';
					background: url('../images/icons_elements.png') no-repeat -144px -201px;
					width: 17px;
					height: 17px;
					left: 0;
					top: 2px;
				}
			}
			&:checked + label{
				&:before{
					background: url('../images/icons_elements.png') no-repeat -190px -201px;
				}
			}
		}
	}
	.modal-footer{
		@extend %dialog-buttons;
	}
}

.app7020-channel-experts-dialog {
  	.modal-body{
	  max-height:450px;
	  height:430px;
	}
	img {
		border-radius : 50%;
		width:40px;
		height:40px;
		display:inline-block;
		border: 1px solid #e5e5e5;
		margin-right: 10px;
	}
	.customControls {
		float: right;
		background: #5EBE5E;
		width: 133px;
		text-align: center;
		line-height: 33px;
	}
	.customControls a {
		color:#fff;
		text-transform:uppercase;
		text-decoration:none;
		display: block;
	}
	.heading {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #E5E5E5;
	}
	.items .single-item-expert div {
		margin-bottom: 10px;
		float:left;
		padding-bottom: 2px;
	}
	.items .single-item-expert {
		float: left;
		width: 100%;
		border-bottom: 1px solid #E5E5E5;
		margin-bottom: 10px;
		height: 46px;
	  
	}
	.content {
		width: 62%;
		line-height: 38px;
	}
	.close-btn {
		background: #333333;
		color: #fff;
		width: 100px;
		line-height: 32px;
		text-transform: uppercase;
		border: none;
		font-size: 14px;
		font-weight: 600;
	  	margin-top:10px;
	}
	.modal-footer {
		padding:0;
	}
	.list-view .summary {
		text-align:left;
	  	float:left;
	}
	.list-view .pager {
		margin: 5px 0 0;
		text-align: right;
	  	float:right;
	}
	.expertName {
		color: #428bc1;
		font-weight: 700;
		font-size: 13px;
	}
}