.rte-autocomplete {
	&.dropdown-menu {
		li.mention-autocomplete {
			.avatar {
				img, .circle {
					display: inline-block;
					position: relative;
					width: 30px;
					height: 30px;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					margin-right: 10px;
				}
				.circle {
					background: #0465ac;
					text-align: center;
					.text {
						position: relative;
						top: 4px;
						color: white;
					}
				}
				.expert {
					color: #5EBE5D;
					span {
						color: #999; 
					}
				}
			}
		}
	}
}