/* 
    Created on : 11.03.2016, 15:23:41
    Author     : Kristian
*/

.modal.experts{
	@extend %modalDefaultStyle;
	width: 600px;
	margin-left: -300px;
	.pager{
		float: right;
		margin: 17px 0 0 0;
	}
	.summary{
		float: left;
		margin: 15px 0 0 0;
	}
	.modal-body{
		padding-bottom: 5px;
	}
	.items{
		border-bottom: 1px #E5E5E5 solid;
		padding-top: 7px;
		.item{
			display: table;
			width: 100%;
			height: 62px;
			box-sizing: border-box;
			border-top: 1px #E5E5E5 solid;
			.avatar{
				display: table-cell;
				vertical-align: middle;
				width: 60px;
				text-align: center;
				.media-object{
					width: 40px;
					height: 40px;
					border-radius: 50%;
					display: inline-block;
				}
			}
			.content{
				display: table-cell;
				vertical-align: middle;
				text-align: left;
				padding-right: 10px;
				.username{
					display: block;
					color: #0456ac;
					font-size: 14px;
					font-weight: 600;
				}
				.userId{
					display: block;
				}
			}
			.customControls{
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				a{
					@include app7020-button(green);
					white-space: nowrap;
				}
			}
		}
	}
}