 <div ng-class="(lastLo) ? 'menu-right-part-invisible' : 'menu-right-part-visible'">
        <div class="unlock-all-next-button" ng-show="isLoCompleted && !lastLo">
            <div id="mobile-next-learning-object" ng-click="nextLearningObject()">
                <i id="mobile-next-arrow-unlock" class="icon-back"></i>
            </div>
        </div>
        <div class="lock-all-next-button" ng-show="!isLoCompleted && !lastLo">
            <i id="mobile-next-arrow-lock" class="icon-back"></i>
            <i id="mobile-lock" class="icon-lock-mobile"></i>
        </div>
    </div>